// c-modal


@keyframes displayModal {
    0% {
        transform: transform(-50%, -50%) scaleY(0);
        opacity: 0;
    }
    100% {
        transform: transform(-50%, -50%) scaleY(1);
        opacity: 1;
    }
}
@keyframes hideModal {
    0% {
        transform: transform(-50%, -50%) scaleY(1);
        opacity: 1;
    }
    100% {
        transform: transform(-50%, -80%) scaleY(0);
        opacity: 0;
    }
}

.c-modal_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.5);
    z-index: $c-modal-position-zindex;
    transform: translate3d(0, 0, 0);
}

.c-modal {
    // --- backgrounds
    background-color: $c-modal-background-color;
    background-image: $c-modal-background-image;
    background-position: $c-modal-background-position;
    background-size: $c-modal-background-size;
    background-repeat: $c-modal-background-repeat;
    background-origin: $c-modal-background-origin;
    background-clip: $c-modal-background-clip;
    background-attachment: $c-modal-background-attachment;


    // --- borders
    border-top-width: $c-modal-border-top-width;
    border-right-width: $c-modal-border-right-width;
    border-bottom-width: $c-modal-border-bottom-width;
    border-left-width: $c-modal-border-left-width;
    //
    border-top-style: $c-modal-border-top-style;
    border-right-style: $c-modal-border-right-style;
    border-bottom-style: $c-modal-border-bottom-style;
    border-left-style: $c-modal-border-left-style;
    //
    border-top-color: $c-modal-border-top-color;
    border-right-color: $c-modal-border-right-color;
    border-bottom-color: $c-modal-border-bottom-color;
    border-left-color: $c-modal-border-left-color;
    // border-radius
    border-top-left-radius: $c-modal-border-top-left-radius;
    border-top-right-radius: $c-modal-border-top-right-radius;
    border-bottom-left-radius: $c-modal-border-bottom-left-radius;
    border-bottom-right-radius: $c-modal-border-bottom-right-radius;


    // --- display
    display: $c-modal-display;


    // --- outline
    outline: 0;


    // --- overflow
    overflow: hidden;


    // --- position
    position: $c-modal-position;
    top: $c-modal-position-top;
    right: $c-modal-position-right;
    bottom: $c-modal-position-bottom;
    left: $c-modal-position-left;


    // ---  transforms
    transform: $c-modal-transform;
    transform-origin: $c-modal-transform-origin;
    transform-style: $c-modal-transform-style;


    // --- transition
    transition: $c-modal-transition-property $c-modal-transition-duration $c-modal-transition-delay $c-modal-transition-timing-function;


    // --- shadow
    box-shadow: $c-modal-box-shadow;


    // --- sizing
    width: $c-modal-width;
    min-width: $c-modal-min-width;
    max-width: $c-modal-max-width;
    height: $c-modal-height;
    min-height: $c-modal-min-height;
    max-height: $c-modal-max-height;


    .c-modal_header {

        // --- backgrounds
        background-color: $c-modal-header-background-color;
        background-image: $c-modal-header-background-image;
        background-position: $c-modal-header-background-position;
        background-size: $c-modal-header-background-size;
        background-repeat: $c-modal-header-background-repeat;
        background-origin: $c-modal-header-background-origin;
        background-clip: $c-modal-header-background-clip;
        background-attachment: $c-modal-header-background-attachment;


        // --- borders
        border-top-width: $c-modal-header-border-top-width;
        border-right-width: $c-modal-header-border-right-width;
        border-bottom-width: $c-modal-header-border-bottom-width;
        border-left-width: $c-modal-header-border-left-width;
        //
        border-top-style: $c-modal-header-border-top-style;
        border-right-style: $c-modal-header-border-right-style;
        border-bottom-style: $c-modal-header-border-bottom-style;
        border-left-style: $c-modal-header-border-left-style;
        //
        border-top-color: $c-modal-header-border-top-color;
        border-right-color: $c-modal-header-border-right-color;
        border-bottom-color: $c-modal-header-border-bottom-color;
        border-left-color: $c-modal-header-border-left-color;
        // border-radius
        border-top-left-radius: $c-modal-header-border-top-left-radius;
        border-top-right-radius: $c-modal-header-border-top-right-radius;
        border-bottom-left-radius: $c-modal-header-border-bottom-left-radius;
        border-bottom-right-radius: $c-modal-header-border-bottom-right-radius;


        // --- display
        display: $c-modal-header-display;


        // --- margins
        margin-top: $c-modal-header-margin-top;
        margin-right: $c-modal-header-margin-right;
        margin-bottom: $c-modal-header-margin-bottom;
        margin-left: $c-modal-header-margin-left;


        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-modal-header-padding-top;
        padding-right: $c-modal-header-padding-right;
        padding-bottom: $c-modal-header-padding-bottom;
        padding-left: $c-modal-header-padding-left;


        // --- overflow
        overflow: hidden;


        // --- position
        position: $c-modal-header-position;
        top: $c-modal-header-position-top;
        right: $c-modal-header-position-right;
        bottom: $c-modal-header-position-bottom;
        left: $c-modal-header-position-left;


        // ---  transforms
        transform: $c-modal-header-transform;
        transform-origin: $c-modal-header-transform-origin;
        transform-style: $c-modal-header-transform-style;


        // --- transition
        transition: $c-modal-header-transition-property $c-modal-header-transition-duration $c-modal-header-transition-delay $c-modal-header-transition-timing-function;


        // --- shadow
        box-shadow: $c-modal-header-box-shadow;


        // --- sizing
        width: $c-modal-header-width;
        min-width: $c-modal-header-min-width;
        max-width: $c-modal-header-max-width;
        height: $c-modal-header-height;
        min-height: $c-modal-header-min-height;
        max-height: $c-modal-header-max-height;

        h3 {
            margin: 0;
        }

        .c-button.is-button-ghost-icon {
            position: absolute;
            right: ($c-modal-header-padding-right / 2);
            top: ($c-modal-header-padding-top / 2);

            .c-icon {
                svg {
                    path {
                        fill: $c-modal-header-button-color;
                    }
                }
            }
        }
    }

    .c-modal_content {
        // --- backgrounds
        background-color: $c-modal-content-background-color;
        background-image: $c-modal-content-background-image;
        background-position: $c-modal-content-background-position;
        background-size: $c-modal-content-background-size;
        background-repeat: $c-modal-content-background-repeat;
        background-origin: $c-modal-content-background-origin;
        background-clip: $c-modal-content-background-clip;
        background-attachment: $c-modal-content-background-attachment;


        // --- borders
        border-top-width: $c-modal-content-border-top-width;
        border-right-width: $c-modal-content-border-right-width;
        border-bottom-width: $c-modal-content-border-bottom-width;
        border-left-width: $c-modal-content-border-left-width;
        //
        border-top-style: $c-modal-content-border-top-style;
        border-right-style: $c-modal-content-border-right-style;
        border-bottom-style: $c-modal-content-border-bottom-style;
        border-left-style: $c-modal-content-border-left-style;
        //
        border-top-color: $c-modal-content-border-top-color;
        border-right-color: $c-modal-content-border-right-color;
        border-bottom-color: $c-modal-content-border-bottom-color;
        border-left-color: $c-modal-content-border-left-color;
        // border-radius
        border-top-left-radius: $c-modal-content-border-top-left-radius;
        border-top-right-radius: $c-modal-content-border-top-right-radius;
        border-bottom-left-radius: $c-modal-content-border-bottom-left-radius;
        border-bottom-right-radius: $c-modal-content-border-bottom-right-radius;


        // --- display
        display: $c-modal-content-display;


        // --- margins
        margin-top: $c-modal-content-margin-top;
        margin-right: $c-modal-content-margin-right;
        margin-bottom: $c-modal-content-margin-bottom;
        margin-left: $c-modal-content-margin-left;


        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-modal-content-padding-top;
        padding-right: $c-modal-content-padding-right;
        padding-bottom: $c-modal-content-padding-bottom;
        padding-left: $c-modal-content-padding-left;


        // --- overflow
        overflow-x: hidden;
        overflow-y: scroll;


        // --- position
        position: $c-modal-content-position;
        top: $c-modal-content-position-top;
        right: $c-modal-content-position-right;
        bottom: $c-modal-content-position-bottom;
        left: $c-modal-content-position-left;


        // ---  transforms
        transform: $c-modal-content-transform;
        transform-origin: $c-modal-content-transform-origin;
        transform-style: $c-modal-content-transform-style;


        // --- transition
        transition: $c-modal-content-transition-property $c-modal-content-transition-duration $c-modal-content-transition-delay $c-modal-content-transition-timing-function;


        // --- shadow
        box-shadow: $c-modal-content-box-shadow;


        // --- sizing
        width: $c-modal-content-width;
        min-width: $c-modal-content-min-width;
        max-width: $c-modal-content-max-width;
        height: calc(100% - #{$c-modal-content-position-top});
        min-height: $c-modal-content-min-height;
        max-height: $c-modal-content-max-height;

        &.has-buttons {
            height: calc(100% - #{$c-modal-content-position-top} - #{$c-modal-content-position-top});
        }
    }



    .c-modal_footer {
        // --- backgrounds
        background-color: $c-modal-footer-background-color;
        background-image: $c-modal-footer-background-image;
        background-position: $c-modal-footer-background-position;
        background-size: $c-modal-footer-background-size;
        background-repeat: $c-modal-footer-background-repeat;
        background-origin: $c-modal-footer-background-origin;
        background-clip: $c-modal-footer-background-clip;
        background-attachment: $c-modal-footer-background-attachment;


        // --- borders
        border-top-width: $c-modal-footer-border-top-width;
        border-right-width: $c-modal-footer-border-right-width;
        border-bottom-width: $c-modal-footer-border-bottom-width;
        border-left-width: $c-modal-footer-border-left-width;
        //
        border-top-style: $c-modal-footer-border-top-style;
        border-right-style: $c-modal-footer-border-right-style;
        border-bottom-style: $c-modal-footer-border-bottom-style;
        border-left-style: $c-modal-footer-border-left-style;
        //
        border-top-color: $c-modal-footer-border-top-color;
        border-right-color: $c-modal-footer-border-right-color;
        border-bottom-color: $c-modal-footer-border-bottom-color;
        border-left-color: $c-modal-footer-border-left-color;
        // border-radius
        border-top-left-radius: $c-modal-footer-border-top-left-radius;
        border-top-right-radius: $c-modal-footer-border-top-right-radius;
        border-bottom-left-radius: $c-modal-footer-border-bottom-left-radius;
        border-bottom-right-radius: $c-modal-footer-border-bottom-right-radius;


        // --- display
        display: $c-modal-footer-display;


        // --- margins
        margin-top: $c-modal-footer-margin-top;
        margin-right: $c-modal-footer-margin-right;
        margin-bottom: $c-modal-footer-margin-bottom;
        margin-left: $c-modal-footer-margin-left;


        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-modal-footer-padding-top;
        padding-right: $c-modal-footer-padding-right;
        padding-bottom: $c-modal-footer-padding-bottom;
        padding-left: $c-modal-footer-padding-left;


        // --- overflow
        overflow: hidden;


        // --- position
        position: $c-modal-footer-position;
        top: $c-modal-footer-position-top;
        right: $c-modal-footer-position-right;
        bottom: $c-modal-footer-position-bottom;
        left: $c-modal-footer-position-left;


        // ---  transforms
        transform: $c-modal-footer-transform;
        transform-origin: $c-modal-footer-transform-origin;
        transform-style: $c-modal-footer-transform-style;


        // --- transition
        transition: $c-modal-footer-transition-property $c-modal-footer-transition-duration $c-modal-footer-transition-delay $c-modal-footer-transition-timing-function;


        // --- shadow
        box-shadow: $c-modal-footer-box-shadow;


        // --- sizing
        width: $c-modal-footer-width;
        min-width: $c-modal-footer-min-width;
        max-width: $c-modal-footer-max-width;
        height: $c-modal-footer-height;
        min-height: $c-modal-footer-min-height;
        max-height: $c-modal-footer-max-height;
    }
}



// ---



c-modal {
    &[visible="false"] {
        .c-modal_wrapper {
            display: none;
        }
    }
    &[visible="true"] {
        .c-modal_wrapper {
            display: block;
        }
    }
}
