// options


// --- background
$c-options-background-color: $color-ui-02;
$c-options-background-image: none;
$c-options-background-position: initial;
$c-options-background-size: initial;
$c-options-background-repeat: initial;
$c-options-background-origin: initial;
$c-options-background-clip: initial;
$c-options-background-attachment: initial;



// --- borders
// top
$c-options-border-top-width: 0px;
$c-options-border-top-style: solid;
$c-options-border-top-color: transparent;
// right
$c-options-border-right-width: 0px;
$c-options-border-right-style: solid;
$c-options-border-right-color: transparent;
// bottom
$c-options-border-bottom-width: 0px;
$c-options-border-bottom-style: solid;
$c-options-border-bottom-color: transparent;
// left
$c-options-border-left-width: 0px;
$c-options-border-left-style: solid;
$c-options-border-left-color: transparent;
// radius
$c-options-border-top-left-radius: 0.25rem;
$c-options-border-top-right-radius: 0.25rem;
$c-options-border-bottom-left-radius: 0.25rem;
$c-options-border-bottom-right-radius: 0.25rem;



// --- box-shadow
$c-options-box-shadow: 0px 2px 10px 0px rgba($color-black, 0.2);



// --- outline
$c-options-outline-color: transparent;
$c-options-outline-width: 0;
$c-options-outline: 0px 0px 0px $c-breadcrumb-outline-width $c-breadcrumb-outline-color;



// --- dimensions
$c-options-dimensions-min-width: initial;
$c-options-dimensions-max-width: 18.5rem;
$c-options-dimensions-min-height: initial;
$c-options-dimensions-max-height: none;



// --- dividers
$c-options-divider-color: $color-ui-04;
$c-options-divider-margin-top: 0.5rem;
$c-options-divider-margin-bottom: 0.5rem;



// --- paddings
$c-options-padding-top: 0.5rem;
$c-options-padding-right: 0;
$c-options-padding-bottom: 0.5rem;
$c-options-padding-left: 0;
