// c-option

// --- background
$c-options-option-background-color: transparent;
$c-options-option-background-image: none;
$c-options-option-background-position: initial;
$c-options-option-background-size: initial;
$c-options-option-background-repeat: initial;
$c-options-option-background-origin: initial;
$c-options-option-background-clip: initial;
$c-options-option-background-attachment: initial;



// --- borders
// top
$c-options-option-border-top-width: 0px;
$c-options-option-border-top-style: solid;
$c-options-option-border-top-color: transparent;
// right
$c-options-option-border-right-width: 0px;
$c-options-option-border-right-style: solid;
$c-options-option-border-right-color: transparent;
// bottom
$c-options-option-border-bottom-width: 0px;
$c-options-option-border-bottom-style: solid;
$c-options-option-border-bottom-color: transparent;
// left
$c-options-option-border-left-width: 0px;
$c-options-option-border-left-style: solid;
$c-options-option-border-left-color: transparent;
// radius
$c-options-option-border-top-left-radius: 0;
$c-options-option-border-top-right-radius: 0;
$c-options-option-border-bottom-left-radius: 0;
$c-options-option-border-bottom-right-radius: 0;



// --- paddings
$c-options-option-padding-top: 0.5rem;
$c-options-option-padding-right: 1rem;
$c-options-option-padding-bottom: 0.5rem;
$c-options-option-padding-left: 1rem;



// --- text
$c-options-option-font-family: $font-brand-regular;
$c-options-option-font-color: $color-text-01;
$c-options-option-font-size: $font-size-m;
$c-options-option-font-style: normal;
$c-options-option-font-variant: normal;
$c-options-option-font-weight: $font-weight-medium;
$c-options-option-line-height: $line-height-m;
$c-options-option-letter-spacing: 0;
$c-options-option-text-align: left;
$c-options-option-text-decoration: none;
$c-options-option-text-indent: initial;
$c-options-option-text-overflow: none;
$c-options-option-text-transform: none;
$c-options-option-text-shadow: none;
$c-options-option-vertical-align: initial;
$c-options-option-white-space: normal;
$c-options-option-word-spacing: normal;
