// checkbox switch



/* label */


// --- element: label | text
$c-switch-font-family: $font-brand-regular;
$c-switch-font-color: $color-text-01;
$c-switch-icon-color: $color-text-04;
$c-switch-font-size: $font-size-m;
$c-switch-font-style: normal;
$c-switch-font-variant: normal;
$c-switch-font-weight: $font-weight-regular;
$c-switch-line-height: 1;
$c-switch-letter-spacing: 0;
$c-switch-text-align: left;
$c-switch-text-decoration: none;
$c-switch-text-indent: 1rem;
$c-switch-text-overflow: initial;
$c-switch-text-transform: none;
$c-switch-text-shadow: none;
$c-switch-vertical-align: initial;
$c-switch-white-space: normal;
$c-switch-word-spacing: normal;


// --- element: label | transition
$c-switch-label-transition-delay: 0;
$c-switch-label-transition-duration: .2s;
$c-switch-label-transition-property: color;
$c-switch-label-transition-timing-function: $ease-in-quad;


// --- :state:hover - element: label
$c-switch-state-hover-font-color: darken($color-text-01, 10%);


// --- :state:checked - element: label
$c-switch-state-checked-font-color: darken($color-text-01, 10%);


// --- :state:checked:hover - element: label
$c-switch-state-checked-hover-font-color: darken($color-text-01, 10%);


// --- :state:disabled - element: label
$c-switch-state-disabled-font-color: rgba($color-text-01, 0.5);


// --- :state:disabled:checked - element: label
$c-switch-state-disabled-checked-font-color: rgba($color-text-01, 0.5);


// --- :state:disabled:checked:hover - element: label
$c-switch-state-disabled-checked-hover-font-color: rgba($color-text-01, 0.5);



/* background-box */


// --- element background-box | background
$c-switch-box-background-color: $color-ui-01;
$c-switch-box-background-image: none;
$c-switch-box-background-position: initial;
$c-switch-box-background-size: initial;
$c-switch-box-background-repeat: initial;
$c-switch-box-background-origin: initial;
$c-switch-box-background-clip: initial;
$c-switch-box-background-attachment: initial;


// --- element background-box | border top
$c-switch-box-border-top-width: 2px;
$c-switch-box-border-top-style: solid;
$c-switch-box-border-top-color: $color-ui-03;
// --- element background-box | border right
$c-switch-box-border-right-width: 2px;
$c-switch-box-border-right-style: solid;
$c-switch-box-border-right-color: $color-ui-03;
// --- element background-box | border bottom
$c-switch-box-border-bottom-width: 2px;
$c-switch-box-border-bottom-style: solid;
$c-switch-box-border-bottom-color: $color-ui-03;
// --- element background-box | border left
$c-switch-box-border-left-width: 2px;
$c-switch-box-border-left-style: solid;
$c-switch-box-border-left-color: $color-ui-03;
// --- element background-box | order radius
$c-switch-box-border-top-left-radius: 1.25rem;
$c-switch-box-border-top-right-radius: 1.25rem;
$c-switch-box-border-bottom-left-radius: 1.25rem;
$c-switch-box-border-bottom-right-radius: 1.25rem;


// --- element background-box | dimensions
$c-switch-box-width: 2.5rem;
$c-switch-box-height: 1.5rem;


// --- element background-box | transition
$c-switch-box-transition-delay: 0;
$c-switch-box-transition-duration: .2s;
$c-switch-box-transition-property: background-color, border-color;
$c-switch-box-transition-timing-function: $ease-in-quad;


// --- :state:hover - element background-box
$c-switch-box-state-hover-background-color: $color-ui-04;
$c-switch-box-state-hover-border-color: darken($color-ui-03, 20%);


// --- :state:checked - element background-box
$c-switch-box-state-checked-background-color: $color-brand-01;
$c-switch-box-state-checked-border-color: $color-brand-01;


// --- :state:checked:hover - element background-box
$c-switch-box-state-checked-hover-background-color: $color-brand-02;
$c-switch-box-state-checked-hover-border-color: $color-brand-02;


// --- : state:disabled - element background-box
$c-switch-box-state-disabled-background-color: transparent;
$c-switch-box-state-disabled-border-color: rgba($color-ui-05, 0.5);


// --- : state:disabled:checked - element background-box
$c-switch-box-state-disabled-checked-background-color: rgba($color-brand-01, 0.5);
$c-switch-box-state-disabled-checked-border-color: transparent;


// --- : state:disabled:checked:hover - element background-box
$c-switch-box-state-disabled-checked-hover-background-color: rgba($color-brand-01, 0.5);
$c-switch-box-state-disabled-checked-hover-border-color: transparent;




/* icon */


// --- element: icon | background
$c-switch-icon-background-color: $color-ui-03;


// --- element: icon | dimension
$c-switch-icon-width: 1rem;
$c-switch-icon-height: 1rem;


// --- element: icon | border
$c-switch-icon-border-width: 3px;
$c-switch-icon-border-style: solid;
$c-switch-icon-border-color: $color-ui-03;


// --- element: icon | transition
$c-switch-icon-transition-delay: 0;
$c-switch-icon-transition-duration: .2s;
$c-switch-icon-transition-property: transform;
$c-switch-icon-transition-timing-function: $ease-in-quad;

// --- :state:hover - element icon
$c-switch-icon-state-hover-background-color: darken($color-ui-03, 20%);
$c-switch-icon-state-hover-border-color: darken($color-ui-03, 20%);


// --- :state:checked - element icon
$c-switch-icon-state-checked-background-color: $color-ui-01;
$c-switch-icon-state-checked-border-color: $color-ui-01;


// --- :state:checked:hover - element icon
$c-switch-icon-state-checked-hover-background-color: $color-ui-01;
$c-switch-icon-state-checked-hover-border-color: $color-ui-01;


// --- : state:disabled - element icon
$c-switch-icon-state-disabled-background-color: rgba($color-ui-03, .5);
$c-switch-icon-state-disabled-border-color: transparent;


// --- : state:disabled:hover - element icon
$c-switch-icon-state-disabled-hover-background-color: rgba($color-ui-03, .5);
$c-switch-icon-state-disabled-hover-border-color: transparent;


// --- : state:disabled:checked - element icon
$c-switch-icon-state-disabled-checked-background-color: $color-ui-01;
$c-switch-icon-state-disabled-checked-border-color: $color-ui-01;


// --- : state:disabled:checked:hover - element icon
$c-switch-icon-state-disabled-checked-hover-background-color: $color-ui-01;
$c-switch-icon-state-disabled-checked-hover-border-color: $color-ui-01;
