// checkbox-list-item checkbox-list-item


// --- margins
$c-checkbox-list-item-margin-top: 0;
$c-checkbox-list-item-margin-right: 0;
$c-checkbox-list-item-margin-bottom: 0;
$c-checkbox-list-item-margin-left: 0;


// --- outline
$c-checkbox-list-item-outline: none;


// --- paddings
$c-checkbox-list-item-padding-top: 0.5rem;
$c-checkbox-list-item-padding-right: 0;
$c-checkbox-list-item-padding-bottom: 0.5rem;
$c-checkbox-list-item-padding-left: 1rem;



/* label */

// --- element: label | text
$c-checkbox-list-item-font-family: $font-brand-regular;
$c-checkbox-list-item-font-color: $color-text-01;
$c-checkbox-list-item-icon-color: $color-text-04;
$c-checkbox-list-item-font-size: $font-size-m;
$c-checkbox-list-item-font-style: normal;
$c-checkbox-list-item-font-variant: normal;
$c-checkbox-list-item-font-weight: $font-weight-regular;
$c-checkbox-list-item-line-height: 1;
$c-checkbox-list-item-letter-spacing: 0;
$c-checkbox-list-item-text-align: left;
$c-checkbox-list-item-text-decoration: none;
$c-checkbox-list-item-text-indent: 1rem;
$c-checkbox-list-item-text-overflow: initial;
$c-checkbox-list-item-text-transform: none;
$c-checkbox-list-item-text-shadow: none;
$c-checkbox-list-item-vertical-align: initial;
$c-checkbox-list-item-white-space: normal;
$c-checkbox-list-item-word-spacing: normal;


// --- element: label | transition
$c-checkbox-list-item-label-transition-delay: 0;
$c-checkbox-list-item-label-transition-duration: .15s;
$c-checkbox-list-item-label-transition-property: color, background-color;
$c-checkbox-list-item-label-transition-timing-function: $ease-in-quad;


// --- :state:hover - element: label
$c-checkbox-list-item-state-hover-font-color: $color-text-04;
$c-checkbox-list-item-state-hover-background-color: $color-brand-01;


// --- :state:checked - element: label
$c-checkbox-list-item-state-checked-font-color: darken($color-text-01, 10%);


// --- :state:checked:hover - element: label
$c-checkbox-list-item-state-checked-hover-font-color: $color-text-04;


// --- :state:disabled - element: label
$c-checkbox-list-item-state-disabled-font-color: rgba($color-text-01, 0.5);


// --- :state:disabled - element: label
$c-checkbox-list-item-state-disabled-hover-font-color: rgba($color-text-04, 0.5);


// --- :state:disabled:checked - element: label
$c-checkbox-list-item-state-disabled-checked-font-color: rgba($color-text-01, 0.5);


// --- :state:disabled:checked:hover - element: label
$c-checkbox-list-item-state-disabled-checked-hover-font-color: rgba($color-text-04, 0.5);



/* background-box */


// --- element background-box | background
$c-checkbox-list-item-box-background-color: $color-ui-01;
$c-checkbox-list-item-box-background-image: none;
$c-checkbox-list-item-box-background-position: initial;
$c-checkbox-list-item-box-background-size: initial;
$c-checkbox-list-item-box-background-repeat: initial;
$c-checkbox-list-item-box-background-origin: initial;
$c-checkbox-list-item-box-background-clip: initial;
$c-checkbox-list-item-box-background-attachment: initial;


// --- element background-box | border top
$c-checkbox-list-item-box-border-top-width: 2px;
$c-checkbox-list-item-box-border-top-style: solid;
$c-checkbox-list-item-box-border-top-color: $color-ui-03;
// --- element background-box | border right
$c-checkbox-list-item-box-border-right-width: 2px;
$c-checkbox-list-item-box-border-right-style: solid;
$c-checkbox-list-item-box-border-right-color: $color-ui-03;
// --- element background-box | border bottom
$c-checkbox-list-item-box-border-bottom-width: 2px;
$c-checkbox-list-item-box-border-bottom-style: solid;
$c-checkbox-list-item-box-border-bottom-color: $color-ui-03;
// --- element background-box | border left
$c-checkbox-list-item-box-border-left-width: 2px;
$c-checkbox-list-item-box-border-left-style: solid;
$c-checkbox-list-item-box-border-left-color: $color-ui-03;
// --- element background-box | order radius
$c-checkbox-list-item-box-border-top-left-radius: 0.25rem;
$c-checkbox-list-item-box-border-top-right-radius: 0.25rem;
$c-checkbox-list-item-box-border-bottom-left-radius: 0.25rem;
$c-checkbox-list-item-box-border-bottom-right-radius: 0.25rem;


// --- element background-box | dimensions
$c-checkbox-list-item-box-width: 1.5rem;
$c-checkbox-list-item-box-height: 1.5rem;


// --- element background-box | transition
$c-checkbox-list-item-box-transition-delay: 0;
$c-checkbox-list-item-box-transition-duration: .15s;
$c-checkbox-list-item-box-transition-property: background-color, border-color;
$c-checkbox-list-item-box-transition-timing-function: $ease-in-quad;


// --- :state:hover - element background-box
$c-checkbox-list-item-box-state-hover-background-color: $color-ui-04;
$c-checkbox-list-item-box-state-hover-border-color: $color-ui-03;


// --- :state:checked - element background-box
$c-checkbox-list-item-box-state-checked-background-color: $color-ui-01;
$c-checkbox-list-item-box-state-checked-border-color: darken($color-ui-03, 20%);


// --- :state:checked:hover - element background-box
$c-checkbox-list-item-box-state-checked-hover-background-color: $color-ui-04;
$c-checkbox-list-item-box-state-checked-hover-border-color: $color-ui-03;


// --- : state:disabled - element background-box
$c-checkbox-list-item-box-state-disabled-background-color: rgba($color-ui-01, 0.5);
$c-checkbox-list-item-box-state-disabled-border-color: rgba($color-ui-03, 0.5);


// --- : state:disabled:checked - element background-box
$c-checkbox-list-item-box-state-disabled-checked-background-color: rgba($color-ui-01, 0.5);
$c-checkbox-list-item-box-state-disabled-checked-border-color: rgba($color-ui-03, 0.5);


// --- : state:disabled:checked:hover - element background-box
$c-checkbox-list-item-box-state-disabled-checked-hover-background-color: rgba($color-ui-01, 0.5);
$c-checkbox-list-item-box-state-disabled-checked-hover-border-color: rgba($color-ui-03, 0.5);




/* icon */


// --- element: icon | background
$c-checkbox-list-item-icon-background-color: transparent;


// --- element: icon | border
$c-checkbox-list-item-icon-border-width: 3px;
$c-checkbox-list-item-icon-border-style: solid;
$c-checkbox-list-item-icon-border-color: $color-brand-01;


// --- element: icon | transition
$c-checkbox-list-item-icon-transition-delay: 0;
$c-checkbox-list-item-icon-transition-duration: .15s;
$c-checkbox-list-item-icon-transition-property: opacity;
$c-checkbox-list-item-icon-transition-timing-function: $ease-in-quad;

// --- :state:hover - element icon
$c-checkbox-list-item-icon-state-hover-background-color: transparent;
$c-checkbox-list-item-icon-state-hover-border-color: $color-brand-02;


// --- :state:checked - element icon
$c-checkbox-list-item-icon-state-checked-background-color: transparent;
$c-checkbox-list-item-icon-state-checked-border-color: $color-brand-01;


// --- :state:checked:hover - element icon
$c-checkbox-list-item-icon-state-checked-hover-background-color: transparent;
$c-checkbox-list-item-icon-state-checked-hover-border-color: $color-brand-02;


// --- : state:disabled - element icon
$c-checkbox-list-item-icon-state-disabled-background-color: transparent;
$c-checkbox-list-item-icon-state-disabled-border-color: rgba($color-ui-03, 0.5);

// --- : state:disabled:hover - element icon
$c-checkbox-list-item-icon-state-disabled-hover-background-color: transparent;
$c-checkbox-list-item-icon-state-disabled-hover-border-color: rgba($color-ui-03, 0.5);


// --- : state:disabled:checked - element icon
$c-checkbox-list-item-icon-state-disabled-checked-background-color: transparent;
$c-checkbox-list-item-icon-state-disabled-checked-border-color: rgba($color-brand-01, 0.5);


// --- : state:disabled:checked:hover - element icon
$c-checkbox-list-item-icon-state-disabled-checked-hover-background-color: transparent;
$c-checkbox-list-item-icon-state-disabled-checked-hover-border-color: rgba($color-brand-01, 0.5);
