// checkbox default


// --- margins
$c-checkbox-margin-top: 0;
$c-checkbox-margin-right: 1rem;
$c-checkbox-margin-bottom: 1rem;
$c-checkbox-margin-left: 0;



// --- outline
$c-checkbox-outline-color: $color-brand-01;
$c-checkbox-outline-width: 2px;
$c-checkbox-outline: 0px 0px 0px 2px $color-white, 0px 0px 0px ($c-checkbox-outline-width + 2px) $c-checkbox-outline-color;



// --- paddings
$c-checkbox-padding-top: 0;
$c-checkbox-padding-right: 0;
$c-checkbox-padding-bottom: 0;
$c-checkbox-padding-left: 0;



// --- position
$c-checkbox-position-zindex: auto;
