<!-- Forms: datepickers -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Form: <span>Datepicker</span></h3>
        <section class="styleguide-example background-color-light fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>



            <c-datepicker
                weekdays="Mon,Tue,Wed,Thu,Fri,Sat,Sun"
                months="januari,februari,march,april,may,june,july,august,september,october,november,december"
                notation="mm/dd/yyyy"
                iso="en-GB"
                label-year-next="Next year"
                label-year-previous="Previous year"
                label-month-next="Next month"
                label-month-previous="Previous month"
            >
                <c-input
                    is="text"
                    value=""
                    placeholder="Select a date (mm/dd/yyyy)"
                    id="datepicker-01-input"
                    pattern="((0[1-9]|1[0-2])/(0[1-9]|[12]\d|3[01])/[12]\d{3})"
                    error-message-pattern="Error. The date format is incorrect"
                    error-message-required="Error. This is a required field"
                >
                    Date
                </c-input>
                <c-button task="datepicker-toggle" is="button-primary-icon" id="datepicker-01-button">
                    <span class="hidden-label">Select a date</span>
                    <c-icon is="icon-datepicker"></c-icon>
                </c-button>
            </c-datepicker>



        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/datepicker/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/datepicker/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/datepicker/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/forms/datepicker/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
