// --- input


// --- input globals
$c-input-transition-delay: 0s;
$c-input-transition-duration: .15s;
$c-input-transition-timing-function: $ease-in-out-quad;


// --- error
@import './error/input.error';


// --- label
@import './label/input.label';
@import './label/input.label.disabled';
@import './label/input.label.disabled.hover';
@import './label/input.label.focus';
@import './label/input.label.hover';
@import './label/input.label.invalid';
@import './label/input.label.invalid.focus';
@import './label/input.label.invalid.hover';


// --- placeholder
@import './placeholder/placeholder';


// --- input
@import './input/input';
@import './input/input.disabled';
@import './input/input.disabled.hover';
@import './input/input.focus';
@import './input/input.hover';
@import './input/input.invalid';
@import './input/input.invalid.focus';
@import './input/input.invalid.hover';
