// --- textarea


// --- textarea globals
$c-textarea-transition-delay: 0s;
$c-textarea-transition-duration: .15s;
$c-textarea-transition-timing-function: $ease-in-out-quad;


// --- error
@import './error/textarea.error';


// --- label
@import './label/textarea.label';
@import './label/textarea.label.disabled';
@import './label/textarea.label.disabled.hover';
@import './label/textarea.label.focus';
@import './label/textarea.label.hover';
@import './label/textarea.label.invalid';
@import './label/textarea.label.invalid.focus';
@import './label/textarea.label.invalid.hover';


// --- placeholder
@import './placeholder/placeholder';


// --- textarea
@import './textarea/textarea';
@import './textarea/textarea.disabled';
@import './textarea/textarea.disabled.hover';
@import './textarea/textarea.focus';
@import './textarea/textarea.hover';
@import './textarea/textarea.invalid';
@import './textarea/textarea.invalid.focus';
@import './textarea/textarea.invalid.hover';
