// --- search container


// -- box-shadow
$c-search-button-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-search-button-background-color: transparent;
$c-search-button-background-image: none;
$c-search-button-background-position: initial;
$c-search-button-background-size: initial;
$c-search-button-background-repeat: initial;
$c-search-button-background-origin: initial;
$c-search-button-background-clip: initial;
$c-search-button-background-attachment: initial;


// --- borders
// top
$c-search-button-border-top-width: 0px;
$c-search-button-border-top-style: solid;
$c-search-button-border-top-color: transparent;
// right
$c-search-button-border-right-width: 0px;
$c-search-button-border-right-style: solid;
$c-search-button-border-right-color: transparent;
// bottom
$c-search-button-border-bottom-width: 0px;
$c-search-button-border-bottom-style: solid;
$c-search-button-border-bottom-color: transparent;
// left
$c-search-button-border-left-width: 0px;
$c-search-button-border-left-style: solid;
$c-search-button-border-left-color: transparent;
// radius
$c-search-button-border-top-left-radius: 0;
$c-search-button-border-top-right-radius: 0;
$c-search-button-border-bottom-left-radius: 0;
$c-search-button-border-bottom-right-radius: 0;


// -- display
$c-search-button-display: table-cell;


// --- margins
$c-search-button-margin-top: 0;
$c-search-button-margin-right: 0;
$c-search-button-margin-bottom: 0;
$c-search-button-margin-left: 0;


// --- outline
$c-search-button-outline1-color: transparent;
$c-search-button-outline2-color: transparent;
$c-search-button-outline1-width: 2px;
$c-search-button-outline2-width: 3px;
$c-search-button-outline:   0px 0px 0px $c-search-button-outline2-width $c-search-button-outline1-color, 0px 0px 0px ($c-search-button-outline1-width + $c-search-button-outline2-width) $c-search-button-outline2-color;


// --- paddings
$c-search-button-padding-top: 2rem;
$c-search-button-padding-right: 0;
$c-search-button-padding-bottom: 0;
$c-search-button-padding-left: 0.5rem;


// --- position
$c-search-button-position: relative;
$c-search-button-position-top: auto;
$c-search-button-position-right: auto;
$c-search-button-position-bottom: auto;
$c-search-button-position-left: auto;
$c-search-button-position-zindex: auto;


// --- sizing
$c-search-button-width: 100%;
$c-search-button-min-width: initial;
$c-search-button-max-width: none;
$c-search-button-height: auto;
$c-search-button-min-height: initial;
$c-search-button-max-height: none;


// --- align
$c-search-button-vertical-align: top;
