// c-tile


.c-tile {
    // --- background
    background-color: $c-tile-container-background-color;
    background-image: $c-tile-container-background-image;
    background-position: $c-tile-container-background-position;
    background-size: $c-tile-container-background-size;
    background-repeat: $c-tile-container-background-repeat;
    background-origin: $c-tile-container-background-origin;
    background-clip: $c-tile-container-background-clip;
    background-attachment: $c-tile-container-background-attachment;

    // --- borders
    border-top-width: $c-tile-container-border-top-width;
    border-top-style: $c-tile-container-border-top-style;
    border-top-color: $c-tile-container-border-top-color;
    border-right-width: $c-tile-container-border-right-width;
    border-right-style: $c-tile-container-border-right-style;
    border-right-color: $c-tile-container-border-right-color;
    border-bottom-width: $c-tile-container-border-bottom-width;
    border-bottom-style: $c-tile-container-border-bottom-style;
    border-bottom-color: $c-tile-container-border-bottom-color;
    border-left-width: $c-tile-container-border-left-width;
    border-left-style: $c-tile-container-border-left-style;
    border-left-color: $c-tile-container-border-left-color;
    border-top-left-radius: $c-tile-container-border-top-left-radius;
    border-top-right-radius: $c-tile-container-border-top-right-radius;
    border-bottom-left-radius: $c-tile-container-border-bottom-left-radius;
    border-bottom-right-radius: $c-tile-container-border-bottom-right-radius;

    // --- box-shadow
    box-shadow: $c-tile-container-box-shadow, $c-tile-container-outline;

    // --- display
    display: $c-tile-container-display;

    // --- margins
    margin-top: $c-tile-container-margin-top;
    margin-right: $c-tile-container-margin-right;
    margin-bottom: $c-tile-container-margin-bottom;
    margin-left: $c-tile-container-margin-left;

    // --- outline
    outline: 0;

    // --- padding
    padding-top: $c-tile-container-padding-top;
    padding-right: $c-tile-container-padding-right;
    padding-bottom: $c-tile-container-padding-bottom;
    padding-left: $c-tile-container-padding-left;

    // --- position
    position: $c-tile-container-position;
    top: $c-tile-container-position-top;
    right: $c-tile-container-position-right;
    bottom: $c-tile-container-position-bottom;
    left: $c-tile-container-position-left;
    z-index: $c-tile-container-position-zindex;

    // --- sizing
    width: $c-tile-container-width;
    min-width: $c-tile-container-min-width;
    max-width: $c-tile-container-max-width;
    height: $c-tile-container-height;
    min-height: $c-tile-container-min-height;
    max-height: $c-tile-container-max-height;

    // --- overflow
    overflow-x: $c-tile-container-overflow-x;
    overflow-y: $c-tile-container-overflow-y;

    // --- transition
    transition: $c-tile-container-transition-property $c-tile-transition-duration $c-tile-transition-delay $c-tile-transition-timing-function;

    text-align: center;



    h3 {
        // --- background
        background-color: $c-tile-label-background-color;
        background-image: $c-tile-label-background-image;
        background-position: $c-tile-label-background-position;
        background-size: $c-tile-label-background-size;
        background-repeat: $c-tile-label-background-repeat;
        background-origin: $c-tile-label-background-origin;
        background-clip: $c-tile-label-background-clip;
        background-attachment: $c-tile-label-background-attachment;

        // --- borders
        border-top-width: $c-tile-label-border-top-width;
        border-top-style: $c-tile-label-border-top-style;
        border-top-color: $c-tile-label-border-top-color;
        border-right-width: $c-tile-label-border-right-width;
        border-right-style: $c-tile-label-border-right-style;
        border-right-color: $c-tile-label-border-right-color;
        border-bottom-width: $c-tile-label-border-bottom-width;
        border-bottom-style: $c-tile-label-border-bottom-style;
        border-bottom-color: $c-tile-label-border-bottom-color;
        border-left-width: $c-tile-label-border-left-width;
        border-left-style: $c-tile-label-border-left-style;
        border-left-color: $c-tile-label-border-left-color;
        border-top-left-radius: $c-tile-label-border-top-left-radius;
        border-top-right-radius: $c-tile-label-border-top-right-radius;
        border-bottom-left-radius: $c-tile-label-border-bottom-left-radius;
        border-bottom-right-radius: $c-tile-label-border-bottom-right-radius;

        // --- display
        display: $c-tile-label-display;

        // --- margins
        margin-top: $c-tile-label-margin-top;
        margin-right: $c-tile-label-margin-right;
        margin-bottom: $c-tile-label-margin-bottom;
        margin-left: $c-tile-label-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-tile-label-padding-top;
        padding-right: $c-tile-label-padding-right;
        padding-bottom: $c-tile-label-padding-bottom;
        padding-left: $c-tile-label-padding-left;

        // --- position
        position: $c-tile-label-position;
        top: $c-tile-label-position-top;
        right: $c-tile-label-position-right;
        bottom: $c-tile-label-position-bottom;
        left: $c-tile-label-position-left;
        z-index: $c-tile-label-position-zindex;

        // --- sizing
        width: $c-tile-label-width;
        min-width: $c-tile-label-min-width;
        max-width: $c-tile-label-max-width;
        height: $c-tile-label-height;
        min-height: $c-tile-label-min-height;
        max-height: $c-tile-label-max-height;

        // --- text
        color: $c-tile-label-font-color;
        font-family: $c-tile-label-font-family;
        font-size: $c-tile-label-font-size;
        font-style: $c-tile-label-font-style;
        font-variant: $c-tile-label-font-variant;
        font-weight: $c-tile-label-font-weight;
        letter-spacing: $c-tile-label-letter-spacing;
        line-height: $c-tile-label-line-height;
        text-align: $c-tile-label-text-align;
        text-decoration: $c-tile-label-text-decoration;
        text-indent: 0;
        text-overflow: $c-tile-label-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-tile-label-text-transform;
        text-shadow: $c-tile-label-text-shadow;
        vertical-align: $c-tile-label-vertical-align;
        white-space: $c-tile-label-white-space;
        word-spacing: $c-tile-label-word-spacing;


        // --- overflow
        overflow-x: $c-tile-label-overflow-x;
        overflow-y: $c-tile-label-overflow-y;

        // --- transition
        transition: $c-tile-label-transition-property $c-tile-transition-duration $c-tile-transition-delay $c-tile-transition-timing-function;
    }



    .c-tile_description {
        // --- background
        background-color: $c-tile-description-background-color;
        background-image: $c-tile-description-background-image;
        background-position: $c-tile-description-background-position;
        background-size: $c-tile-description-background-size;
        background-repeat: $c-tile-description-background-repeat;
        background-origin: $c-tile-description-background-origin;
        background-clip: $c-tile-description-background-clip;
        background-attachment: $c-tile-description-background-attachment;

        // --- borders
        border-top-width: $c-tile-description-border-top-width;
        border-top-style: $c-tile-description-border-top-style;
        border-top-color: $c-tile-description-border-top-color;
        border-right-width: $c-tile-description-border-right-width;
        border-right-style: $c-tile-description-border-right-style;
        border-right-color: $c-tile-description-border-right-color;
        border-bottom-width: $c-tile-description-border-bottom-width;
        border-bottom-style: $c-tile-description-border-bottom-style;
        border-bottom-color: $c-tile-description-border-bottom-color;
        border-left-width: $c-tile-description-border-left-width;
        border-left-style: $c-tile-description-border-left-style;
        border-left-color: $c-tile-description-border-left-color;
        border-top-left-radius: $c-tile-description-border-top-left-radius;
        border-top-right-radius: $c-tile-description-border-top-right-radius;
        border-bottom-left-radius: $c-tile-description-border-bottom-left-radius;
        border-bottom-right-radius: $c-tile-description-border-bottom-right-radius;

        // --- display
        display: $c-tile-description-display;

        // --- margins
        margin-top: $c-tile-description-margin-top;
        margin-right: $c-tile-description-margin-right;
        margin-bottom: $c-tile-description-margin-bottom;
        margin-left: $c-tile-description-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-tile-description-padding-top;
        padding-right: $c-tile-description-padding-right;
        padding-bottom: $c-tile-description-padding-bottom;
        padding-left: $c-tile-description-padding-left;

        // --- position
        position: $c-tile-description-position;
        top: $c-tile-description-position-top;
        right: $c-tile-description-position-right;
        bottom: $c-tile-description-position-bottom;
        left: $c-tile-description-position-left;
        z-index: $c-tile-description-position-zindex;

        // --- sizing
        width: $c-tile-description-width;
        min-width: $c-tile-description-min-width;
        max-width: $c-tile-description-max-width;
        height: $c-tile-description-height;
        min-height: $c-tile-description-min-height;
        max-height: $c-tile-description-max-height;

        // --- text
        color: $c-tile-description-font-color;
        font-family: $c-tile-description-font-family;
        font-size: $c-tile-description-font-size;
        font-style: $c-tile-description-font-style;
        font-variant: $c-tile-description-font-variant;
        font-weight: $c-tile-description-font-weight;
        letter-spacing: $c-tile-description-letter-spacing;
        line-height: $c-tile-description-line-height;
        text-align: $c-tile-description-text-align;
        text-decoration: $c-tile-description-text-decoration;
        text-indent: 0;
        text-overflow: $c-tile-description-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-tile-description-text-transform;
        text-shadow: $c-tile-description-text-shadow;
        vertical-align: $c-tile-description-vertical-align;
        white-space: $c-tile-description-white-space;
        word-spacing: $c-tile-description-word-spacing;


        // --- overflow
        overflow-x: $c-tile-description-overflow-x;
        overflow-y: $c-tile-description-overflow-y;

        // --- transition
        transition: $c-tile-description-transition-property $c-tile-transition-duration $c-tile-transition-delay $c-tile-transition-timing-function;
    }



    .c-tile-icon {
        // --- borders
        border-top-width: $c-tile-image-border-top-width;
        border-top-style: $c-tile-image-border-top-style;
        border-top-color: $c-tile-image-border-top-color;
        border-right-width: $c-tile-image-border-right-width;
        border-right-style: $c-tile-image-border-right-style;
        border-right-color: $c-tile-image-border-right-color;
        border-bottom-width: $c-tile-image-border-bottom-width;
        border-bottom-style: $c-tile-image-border-bottom-style;
        border-bottom-color: $c-tile-image-border-bottom-color;
        border-left-width: $c-tile-image-border-left-width;
        border-left-style: $c-tile-image-border-left-style;
        border-left-color: $c-tile-image-border-left-color;
        border-top-left-radius: $c-tile-image-border-top-left-radius;
        border-top-right-radius: $c-tile-image-border-top-right-radius;
        border-bottom-left-radius: $c-tile-image-border-bottom-left-radius;
        border-bottom-right-radius: $c-tile-image-border-bottom-right-radius;

        // --- display
        display: $c-tile-image-display;

        // --- margins
        margin-top: $c-tile-image-margin-top;
        margin-right: $c-tile-image-margin-right;
        margin-bottom: $c-tile-image-margin-bottom;
        margin-left: $c-tile-image-margin-left;

        // --- outline
        outline: 0;

        // --- position
        position: $c-tile-image-position;
        top: $c-tile-image-position-top;
        right: $c-tile-image-position-right;
        bottom: $c-tile-image-position-bottom;
        left: $c-tile-image-position-left;
        z-index: $c-tile-image-position-zindex;
        transform: $c-tile-image-transform;

        // --- sizing
        width: $c-tile-image-width;
        min-width: $c-tile-image-min-width;
        max-width: $c-tile-image-max-width;
        height: $c-tile-image-height;
        min-height: $c-tile-image-min-height;
        max-height: $c-tile-image-max-height;
    }



    .c-tile_menu {
        // --- background
        background-color: $c-tile-menu-background-color;
        background-image: $c-tile-menu-background-image;
        background-position: $c-tile-menu-background-position;
        background-size: $c-tile-menu-background-size;
        background-repeat: $c-tile-menu-background-repeat;
        background-origin: $c-tile-menu-background-origin;
        background-clip: $c-tile-menu-background-clip;
        background-attachment: $c-tile-menu-background-attachment;

        // --- borders
        border-top-width: $c-tile-menu-border-top-width;
        border-top-style: $c-tile-menu-border-top-style;
        border-top-color: $c-tile-menu-border-top-color;
        border-right-width: $c-tile-menu-border-right-width;
        border-right-style: $c-tile-menu-border-right-style;
        border-right-color: $c-tile-menu-border-right-color;
        border-bottom-width: $c-tile-menu-border-bottom-width;
        border-bottom-style: $c-tile-menu-border-bottom-style;
        border-bottom-color: $c-tile-menu-border-bottom-color;
        border-left-width: $c-tile-menu-border-left-width;
        border-left-style: $c-tile-menu-border-left-style;
        border-left-color: $c-tile-menu-border-left-color;
        border-top-left-radius: $c-tile-menu-border-top-left-radius;
        border-top-right-radius: $c-tile-menu-border-top-right-radius;
        border-bottom-left-radius: $c-tile-menu-border-bottom-left-radius;
        border-bottom-right-radius: $c-tile-menu-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-tile-menu-box-shadow;

        // --- display
        display: $c-tile-menu-display;

        // --- margins
        margin-top: $c-tile-menu-margin-top;
        margin-right: $c-tile-menu-margin-right;
        margin-bottom: $c-tile-menu-margin-bottom;
        margin-left: $c-tile-menu-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-tile-menu-padding-top;
        padding-right: $c-tile-menu-padding-right;
        padding-bottom: $c-tile-menu-padding-bottom;
        padding-left: $c-tile-menu-padding-left;

        // --- position
        position: $c-tile-menu-position;
        top: $c-tile-menu-position-top;
        right: $c-tile-menu-position-right;
        bottom: $c-tile-menu-position-bottom;
        left: $c-tile-menu-position-left;
        z-index: $c-tile-menu-position-zindex;

        // --- sizing
        width: $c-tile-menu-width;
        min-width: $c-tile-menu-min-width;
        max-width: $c-tile-menu-max-width;
        height: $c-tile-menu-height;
        min-height: $c-tile-menu-min-height;
        max-height: $c-tile-menu-max-height;

        // --- overflow
        overflow-x: $c-tile-menu-overflow-x;
        overflow-y: $c-tile-menu-overflow-y;


        .c-tooltip {
            margin-right: 1rem;
            z-index: 3;
        }



        .c-tile_draghandle {
            cursor: pointer;
            margin-top: 0.5rem;
            margin-right: 0.5rem;

        }

    }


    // --- state: hover
    &:hover {
        // --- background
        background-color: $c-tile-container-hover-background-color;
        background-image: $c-tile-container-hover-background-image;
        background-position: $c-tile-container-hover-background-position;
        background-size: $c-tile-container-hover-background-size;
        background-repeat: $c-tile-container-hover-background-repeat;
        background-origin: $c-tile-container-hover-background-origin;
        background-clip: $c-tile-container-hover-background-clip;
        background-attachment: $c-tile-container-hover-background-attachment;

        // --- borders
        border-top-width: $c-tile-container-hover-border-top-width;
        border-top-style: $c-tile-container-hover-border-top-style;
        border-top-color: $c-tile-container-hover-border-top-color;
        border-right-width: $c-tile-container-hover-border-right-width;
        border-right-style: $c-tile-container-hover-border-right-style;
        border-right-color: $c-tile-container-hover-border-right-color;
        border-bottom-width: $c-tile-container-hover-border-bottom-width;
        border-bottom-style: $c-tile-container-hover-border-bottom-style;
        border-bottom-color: $c-tile-container-hover-border-bottom-color;
        border-left-width: $c-tile-container-hover-border-left-width;
        border-left-style: $c-tile-container-hover-border-left-style;
        border-left-color: $c-tile-container-hover-border-left-color;
        border-top-left-radius: $c-tile-container-hover-border-top-left-radius;
        border-top-right-radius: $c-tile-container-hover-border-top-right-radius;
        border-bottom-left-radius: $c-tile-container-hover-border-bottom-left-radius;
        border-bottom-right-radius: $c-tile-container-hover-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-tile-container-hover-box-shadow, $c-tile-container-hover-outline;

        // --- display
        display: $c-tile-container-hover-display;

        // --- margins
        margin-top: $c-tile-container-hover-margin-top;
        margin-right: $c-tile-container-hover-margin-right;
        margin-bottom: $c-tile-container-hover-margin-bottom;
        margin-left: $c-tile-container-hover-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-tile-container-hover-padding-top;
        padding-right: $c-tile-container-hover-padding-right;
        padding-bottom: $c-tile-container-hover-padding-bottom;
        padding-left: $c-tile-container-hover-padding-left;

        // --- position
        position: $c-tile-container-hover-position;
        top: $c-tile-container-hover-position-top;
        right: $c-tile-container-hover-position-right;
        bottom: $c-tile-container-hover-position-bottom;
        left: $c-tile-container-hover-position-left;
        z-index: $c-tile-container-hover-position-zindex;

        // --- sizing
        width: $c-tile-container-hover-width;
        min-width: $c-tile-container-hover-min-width;
        max-width: $c-tile-container-hover-max-width;
        height: $c-tile-container-hover-height;
        min-height: $c-tile-container-hover-min-height;
        max-height: $c-tile-container-hover-max-height;

        // --- overflow
        overflow-x: $c-tile-container-hover-overflow-x;
        overflow-y: $c-tile-container-hover-overflow-y;
    }



    // --- state: focus
    &:focus {
        // --- background
        background-color: $c-tile-container-focus-background-color;
        background-image: $c-tile-container-focus-background-image;
        background-position: $c-tile-container-focus-background-position;
        background-size: $c-tile-container-focus-background-size;
        background-repeat: $c-tile-container-focus-background-repeat;
        background-origin: $c-tile-container-focus-background-origin;
        background-clip: $c-tile-container-focus-background-clip;
        background-attachment: $c-tile-container-focus-background-attachment;

        // --- borders
        border-top-width: $c-tile-container-focus-border-top-width;
        border-top-style: $c-tile-container-focus-border-top-style;
        border-top-color: $c-tile-container-focus-border-top-color;
        border-right-width: $c-tile-container-focus-border-right-width;
        border-right-style: $c-tile-container-focus-border-right-style;
        border-right-color: $c-tile-container-focus-border-right-color;
        border-bottom-width: $c-tile-container-focus-border-bottom-width;
        border-bottom-style: $c-tile-container-focus-border-bottom-style;
        border-bottom-color: $c-tile-container-focus-border-bottom-color;
        border-left-width: $c-tile-container-focus-border-left-width;
        border-left-style: $c-tile-container-focus-border-left-style;
        border-left-color: $c-tile-container-focus-border-left-color;
        border-top-left-radius: $c-tile-container-focus-border-top-left-radius;
        border-top-right-radius: $c-tile-container-focus-border-top-right-radius;
        border-bottom-left-radius: $c-tile-container-focus-border-bottom-left-radius;
        border-bottom-right-radius: $c-tile-container-focus-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-tile-container-focus-box-shadow, $c-tile-container-focus-outline;

        // --- display
        display: $c-tile-container-focus-display;

        // --- margins
        margin-top: $c-tile-container-focus-margin-top;
        margin-right: $c-tile-container-focus-margin-right;
        margin-bottom: $c-tile-container-focus-margin-bottom;
        margin-left: $c-tile-container-focus-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-tile-container-focus-padding-top;
        padding-right: $c-tile-container-focus-padding-right;
        padding-bottom: $c-tile-container-focus-padding-bottom;
        padding-left: $c-tile-container-focus-padding-left;

        // --- position
        position: $c-tile-container-focus-position;
        top: $c-tile-container-focus-position-top;
        right: $c-tile-container-focus-position-right;
        bottom: $c-tile-container-focus-position-bottom;
        left: $c-tile-container-focus-position-left;
        z-index: $c-tile-container-focus-position-zindex;

        // --- sizing
        width: $c-tile-container-focus-width;
        min-width: $c-tile-container-focus-min-width;
        max-width: $c-tile-container-focus-max-width;
        height: $c-tile-container-focus-height;
        min-height: $c-tile-container-focus-min-height;
        max-height: $c-tile-container-focus-max-height;

        // --- overflow
        overflow-x: $c-tile-container-focus-overflow-x;
        overflow-y: $c-tile-container-focus-overflow-y;
    }


    // --- dragging
    &.is-dragging {
        opacity: 0.5;
        transform: scale(0.8);
        box-shadow: none;
    }
}
