// text-area: placeholder


// --- text
$c-textarea-placeholder-font-family: $font-brand-regular;
$c-textarea-placeholder-font-color: $color-text-01;
$c-textarea-placeholder-font-size: $font-size-m;
$c-textarea-placeholder-font-style: normal;
$c-textarea-placeholder-font-variant: normal;
$c-textarea-placeholder-font-weight: $font-weight-regular;
$c-textarea-placeholder-line-height: $line-height-m;
$c-textarea-placeholder-letter-spacing: 0;
$c-textarea-placeholder-text-align: left;
$c-textarea-placeholder-text-decoration: none;
$c-textarea-placeholder-text-indent: 0;
$c-textarea-placeholder-text-overflow: initial;
$c-textarea-placeholder-text-transform: none;
$c-textarea-placeholder-text-shadow: none;
$c-textarea-placeholder-vertical-align: initial;
$c-textarea-placeholder-white-space: normal;
$c-textarea-placeholder-word-spacing: normal;
