// --- tile container


// -- box-shadow
$c-tile-container-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-tile-container-background-color: $color-ui-02;
$c-tile-container-background-image: none;
$c-tile-container-background-position: initial;
$c-tile-container-background-size: initial;
$c-tile-container-background-repeat: initial;
$c-tile-container-background-origin: initial;
$c-tile-container-background-clip: initial;
$c-tile-container-background-attachment: initial;


// --- borders
// top
$c-tile-container-border-top-width: 0;
$c-tile-container-border-top-style: solid;
$c-tile-container-border-top-color: transparent;
// right
$c-tile-container-border-right-width: 0;
$c-tile-container-border-right-style: solid;
$c-tile-container-border-right-color: transparent;
// bottom
$c-tile-container-border-bottom-width: 0;
$c-tile-container-border-bottom-style: solid;
$c-tile-container-border-bottom-color: transparent;
// left
$c-tile-container-border-left-width: 0;
$c-tile-container-border-left-style: solid;
$c-tile-container-border-left-color: transparent;
// radius
$c-tile-container-border-top-left-radius: 0.25rem;
$c-tile-container-border-top-right-radius: 0.25rem;
$c-tile-container-border-bottom-left-radius: 0.25rem;
$c-tile-container-border-bottom-right-radius: 0.25rem;


// -- display
$c-tile-container-display: inline-block;


// --- margins
$c-tile-container-margin-top: 0.5rem;
$c-tile-container-margin-right: 0.5rem;
$c-tile-container-margin-bottom: 0.5rem;
$c-tile-container-margin-left: 0.5rem;


// --- outline
$c-tile-container-outline1-color: transparent;
$c-tile-container-outline2-color: transparent;
$c-tile-container-outline1-width: 2px;
$c-tile-container-outline2-width: 3px;
$c-tile-container-outline:   0px 0px 0px $c-tile-container-outline2-width $c-tile-container-outline1-color, 0px 0px 0px ($c-tile-container-outline1-width + $c-tile-container-outline2-width) $c-tile-container-outline2-color;


// --- paddings
$c-tile-container-padding-top: 2rem;
$c-tile-container-padding-right: 1rem;
$c-tile-container-padding-bottom: 1rem;
$c-tile-container-padding-left: 1rem;


// --- position
$c-tile-container-position: relative;
$c-tile-container-position-top: auto;
$c-tile-container-position-right: auto;
$c-tile-container-position-bottom: auto;
$c-tile-container-position-left: auto;
$c-tile-container-position-zindex: 1;


// -- overflow
$c-tile-container-overflow-x: visible;
$c-tile-container-overflow-y: visible;


// --- sizing
$c-tile-container-width: 100%;
$c-tile-container-min-width: 2rem;
$c-tile-container-max-width: 17.5rem;
$c-tile-container-height: auto;
$c-tile-container-min-height: 17.5rem;
$c-tile-container-max-height: none;



// --- transition
$c-tile-container-transition-property: all;
