// --- tile container


// -- box-shadow
$c-tile-container-focus-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-tile-container-focus-background-color: $color-ui-02;
$c-tile-container-focus-background-image: none;
$c-tile-container-focus-background-position: initial;
$c-tile-container-focus-background-size: initial;
$c-tile-container-focus-background-repeat: initial;
$c-tile-container-focus-background-origin: initial;
$c-tile-container-focus-background-clip: initial;
$c-tile-container-focus-background-attachment: initial;


// --- borders
// top
$c-tile-container-focus-border-top-width: 0px;
$c-tile-container-focus-border-top-style: solid;
$c-tile-container-focus-border-top-color: transparent;
// right
$c-tile-container-focus-border-right-width: 0px;
$c-tile-container-focus-border-right-style: solid;
$c-tile-container-focus-border-right-color: transparent;
// bottom
$c-tile-container-focus-border-bottom-width: 0px;
$c-tile-container-focus-border-bottom-style: solid;
$c-tile-container-focus-border-bottom-color: transparent;
// left
$c-tile-container-focus-border-left-width: 0px;
$c-tile-container-focus-border-left-style: solid;
$c-tile-container-focus-border-left-color: transparent;
// radius
$c-tile-container-focus-border-top-left-radius: 0.25rem;
$c-tile-container-focus-border-top-right-radius: 0.25rem;
$c-tile-container-focus-border-bottom-left-radius: 0.25rem;
$c-tile-container-focus-border-bottom-right-radius: 0.25rem;


// -- display
$c-tile-container-focus-display: inline-block;


// --- margins
$c-tile-container-focus-margin-top: 0.5rem;
$c-tile-container-focus-margin-right: 0.5rem;
$c-tile-container-focus-margin-bottom: 0.5rem;
$c-tile-container-focus-margin-left: 0.5rem;


// --- outline
$c-tile-container-focus-outline1-color: $color-brand-01;
$c-tile-container-focus-outline2-color: $color-ui-02;
$c-tile-container-focus-outline1-width: 2px;
$c-tile-container-focus-outline2-width: 3px;
$c-tile-container-focus-outline:   0px 0px 0px $c-tile-container-focus-outline2-width $c-tile-container-focus-outline1-color, 0px 0px 0px ($c-tile-container-focus-outline1-width + $c-tile-container-focus-outline2-width) $c-tile-container-focus-outline2-color;


// --- paddings
$c-tile-container-focus-padding-top: 2rem;
$c-tile-container-focus-padding-right: 1rem;
$c-tile-container-focus-padding-bottom: 1rem;
$c-tile-container-focus-padding-left: 1rem;


// --- position
$c-tile-container-focus-position: relative;
$c-tile-container-focus-position-top: auto;
$c-tile-container-focus-position-right: auto;
$c-tile-container-focus-position-bottom: auto;
$c-tile-container-focus-position-left: auto;
$c-tile-container-focus-position-zindex: 2;


// --- sizing
$c-tile-container-focus-width: 100%;
$c-tile-container-focus-min-width: 2rem;
$c-tile-container-focus-max-width: 17.5rem;
$c-tile-container-focus-height: auto;
$c-tile-container-focus-min-height: 17.5rem;
$c-tile-container-focus-max-height: none;


// -- overflow
$c-tile-container-focus-overflow-x: visible;
$c-tile-container-focus-overflow-y: visible;
