// c-chart-item is-stacked-column

@keyframes chartStackedColumn {
    to {
        transform: scaleY(1);
    }
}

@keyframes chartStackedColumnLabel {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.c-chart-item.is-stacked-column {
    position: relative;
    display: block;
    margin: 0;
    outline: 0;
    z-index: 1;

    figure {
        display: flex;
        //
        width: 100%;
        height: 100%;
        margin: 0;


        // ---


        figcaption {
            display: inline-flex;
            align-items: center;
            width: 100%;

            // --- background
            background-color: $c-chart-label-background-color;
            background-image: $c-chart-label-background-image;
            background-position: $c-chart-label-background-position;
            background-size: $c-chart-label-background-size;
            background-repeat: $c-chart-label-background-repeat;
            background-origin: $c-chart-label-background-origin;
            background-clip: $c-chart-label-background-clip;
            background-attachment: $c-chart-label-background-attachment;

            // --- borders
            border-top-width: $c-chart-label-border-top-width;
            border-right-width: $c-chart-label-border-right-width;
            border-bottom-width: $c-chart-label-border-bottom-width;
            border-left-width: $c-chart-label-border-left-width;
            border-top-style: $c-chart-label-border-top-style;
            border-right-style: $c-chart-label-border-right-style;
            border-bottom-style: $c-chart-label-border-bottom-style;
            border-left-style: $c-chart-label-border-left-style;
            border-top-color: $c-chart-label-border-top-color;
            border-right-color: $c-chart-label-border-right-color;
            border-bottom-color: $c-chart-label-border-bottom-color;
            border-left-color: $c-chart-label-border-left-color;
            border-top-left-radius: $c-chart-label-border-top-left-radius;
            border-top-right-radius: $c-chart-label-border-top-right-radius;
            border-bottom-left-radius: $c-chart-label-border-bottom-left-radius;
            border-bottom-right-radius: $c-chart-label-border-bottom-right-radius;

            // --- margins
            margin-top: $c-chart-label-margin-top;
            margin-right: $c-chart-label-margin-right;
            margin-bottom: $c-chart-label-margin-bottom;
            margin-left: $c-chart-label-margin-left;

            // --- paddings
            padding-top: $c-chart-label-padding-top;
            padding-right: $c-chart-label-padding-right;
            padding-bottom: $c-chart-label-padding-bottom;
            padding-left: $c-chart-label-padding-left;

            // --- text
            color: $c-chart-label-font-color;
            font-family: $c-chart-label-font-family;
            font-size: $c-chart-label-font-size;
            font-style: $c-chart-label-font-style;
            font-variant: $c-chart-label-font-variant;
            font-weight: $c-chart-label-font-weight;
            letter-spacing: $c-chart-label-letter-spacing;
            line-height: $c-chart-label-line-height;
            text-align: center;
            text-decoration: $c-chart-label-text-decoration;
            text-indent: $c-chart-label-text-indent;
            text-overflow: $c-chart-label-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-chart-label-text-transform;
            text-shadow: $c-chart-label-text-shadow;
            vertical-align: $c-chart-label-vertical-align;
            white-space: $c-chart-label-white-space;
            word-spacing: $c-chart-label-word-spacing;
            user-select: none;

            opacity: 0;
            transform: translateX(1rem);
            animation: chartStackedColumnLabel 1s ease-in forwards;
        }


        // ---


        svg {
            display: inline-flex;
            height: 100%;
            width: 100%;

            rect {
                fill: $color-accent-01;
                stroke: transparent;
                stroke-width: 0;
                transform: scaleY(0);
                transform-origin: left top;
                animation: chartStackedColumn 1s linear forwards;

                &.color-accent-01 { fill: $color-accent-01; }
                &.color-accent-02 { fill: $color-accent-02; }
                &.color-accent-03 { fill: $color-accent-03; }
                &.color-accent-04 { fill: $color-accent-04; }
                &.color-accent-05 { fill: $color-accent-05; }
                &.color-accent-06 { fill: $color-accent-06; }
                &.color-accent-07 { fill: $color-accent-07; }
                &.color-accent-08 { fill: $color-accent-08; }
                &.color-accent-09 { fill: $color-accent-09; }
                &.color-accent-10 { fill: $color-accent-10; }
                &.color-accent-11 { fill: $color-accent-11; }
                &.color-accent-12 { fill: $color-accent-12; }
            }
        }
    }

    &:active,
    &:focus {
        z-index: 2;
        box-shadow: 0px 0px 0px 0.125rem $color-white, 0px 0px 0px 0.250rem $color-brand-01;
    }

    &:hover {
        cursor: pointer;
    }
}
