<!-- Context-menu -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Context-menu</h3>
        <section class="styleguide-example fx-appear-from-bottom align-center">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>
            <div style="display: inline-block; width: 20%">

                <!-- Primary --->
                <c-context-menu id="context-id-01">
                    <c-button is="button-primary" task="context-menu-toggle">
                        Action
                        <c-icon is="icon-arrow"></c-icon>
                    </c-button>
                    <c-list is="context">
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-add"></c-icon> Add person</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-refresh"></c-icon>Refresh assets</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon> Go to something else</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-button is="button-primary" css="list-item"  task="demo-purpose">Button item</c-button>
                        </c-list-item>
                        <c-divider></c-divider>
                        <c-list-item>
                            <c-link link="/path" css="list-item">Create dispute</c-link>
                        </c-list-item>
                    </c-list>
                </c-context-menu>


            </div>
            <div style="display: inline-block; width: 20%">


                <!-- Secondary -->
                <c-context-menu id="context-id-02">
                    <c-button is="button-secondary" task="context-menu-toggle">
                        Action
                        <c-icon is="icon-arrow"></c-icon>
                    </c-button>
                    <c-list is="context">
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-add"></c-icon> Add person</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-refresh"></c-icon>Refresh assets</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon> Go to something else</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-button is="button-primary" css="list-item"  task="demo-purpose">Button item</c-button>
                        </c-list-item>
                        <c-divider></c-divider>
                        <c-list-item>
                            <c-link link="/path" css="list-item">Create dispute</c-link>
                        </c-list-item>
                    </c-list>
                </c-context-menu>


            </div>
            <div style="display: inline-block; width: 20%">


                <!-- Ghost -->
                <c-context-menu id="context-id-03">
                    <c-button is="button-ghost" task="context-menu-toggle">
                        Action
                        <c-icon is="icon-arrow"></c-icon>
                    </c-button>
                    <c-list is="context">
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-add"></c-icon> Add person</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-refresh"></c-icon>Refresh assets</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon> Go to something else</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-button is="button-primary" css="list-item"  task="demo-purpose">Button item</c-button>
                        </c-list-item>
                        <c-divider></c-divider>
                        <c-list-item>
                            <c-link link="/path" css="list-item">Create dispute</c-link>
                        </c-list-item>
                    </c-list>
                </c-context-menu>


            </div>
            <div style="display: inline-block; width: 20%">


                <!-- Primary disabled -->
                <c-context-menu id="context-id-04">
                    <c-button is="button-primary" task="context-menu-toggle" disabled>
                        Action
                        <c-icon is="icon-arrow"></c-icon>
                    </c-button>
                    <c-list is="context">
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-add"></c-icon> Add person</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-refresh"></c-icon>Refresh assets</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon> Go to something else</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-button is="button-primary" css="list-item"  task="demo-purpose">Button item</c-button>
                        </c-list-item>
                        <c-divider></c-divider>
                        <c-list-item>
                            <c-link link="/path" css="list-item">Create dispute</c-link>
                        </c-list-item>
                    </c-list>
                </c-context-menu>


            </div>
            <div style="display: inline-block; width: 20%">



                <!-- Ghost icon -->
                <c-context-menu id="context-id-05">
                    <c-button is="button-ghost-icon" task="context-menu-toggle">
                        <span class="hidden-label">Action</span>
                        <c-icon is="icon-arrow"></c-icon>
                    </c-button>
                    <c-list is="context" css="align-right">
                        <c-list-item>
                            <c-checkbox is="checkbox" css="list-item" id="checkbox-id-01" task="demo-purpose">Checkbox label</c-checkbox>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-refresh"></c-icon>Refresh assets</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon> Go to something else</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-button is="button-primary" css="list-item"  task="demo-purpose">Button item</c-button>
                        </c-list-item>
                        <c-divider></c-divider>
                        <c-list-item>
                            <c-link link="/path" css="list-item">Create dispute</c-link>
                        </c-list-item>
                    </c-list>
                </c-context-menu>


            </div>
            <p class="styleguide-states">primary | secondary | ghost | disabled | ghost-icon</p>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/context-menu/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/context-menu/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/context-menu/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
