<!-- Forms: search -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Form: <span>Search</span></h3>
        <section class="styleguide-example background-color-light  fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-search>
                <c-input is="text" value="" placeholder="e.g. 200003" id="search-id-01" name="inputfield">Search</c-input>
                <c-button is="button-secondary" task="search" id="button-id-01">Search</c-button>
            </c-search>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/search/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/search/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/search/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                    <c-tab-panel id="styleguide-tab-04-panel">
                <markdown [src]="'./assets/readme/forms/search/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
