// c-dropdown

c-dropdown {

    .c-dropdown {

        // --- background
        background-color: $c-dropdown-container-background-color;
        background-image: $c-dropdown-container-background-image;
        background-position: $c-dropdown-container-background-position;
        background-size: $c-dropdown-container-background-size;
        background-repeat: $c-dropdown-container-background-repeat;
        background-origin: $c-dropdown-container-background-origin;
        background-clip: $c-dropdown-container-background-clip;
        background-attachment: $c-dropdown-container-background-attachment;

        // --- borders
        border-top-width: $c-dropdown-container-border-top-width;
        border-top-style: $c-dropdown-container-border-top-style;
        border-top-color: $c-dropdown-container-border-top-color;
        border-right-width: $c-dropdown-container-border-right-width;
        border-right-style: $c-dropdown-container-border-right-style;
        border-right-color: $c-dropdown-container-border-right-color;
        border-bottom-width: $c-dropdown-container-border-bottom-width;
        border-bottom-style: $c-dropdown-container-border-bottom-style;
        border-bottom-color: $c-dropdown-container-border-bottom-color;
        border-left-width: $c-dropdown-container-border-left-width;
        border-left-style: $c-dropdown-container-border-left-style;
        border-left-color: $c-dropdown-container-border-left-color;
        border-top-left-radius: $c-dropdown-container-border-top-left-radius;
        border-top-right-radius: $c-dropdown-container-border-top-right-radius;
        border-bottom-left-radius: $c-dropdown-container-border-bottom-left-radius;
        border-bottom-right-radius: $c-dropdown-container-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-dropdown-container-box-shadow, $c-dropdown-container-outline;

        // --- display
        display: $c-dropdown-container-display;

        // --- margins
        margin-top: $c-dropdown-container-margin-top;
        margin-right: $c-dropdown-container-margin-right;
        margin-bottom: $c-dropdown-container-margin-bottom;
        margin-left: $c-dropdown-container-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-dropdown-container-padding-top;
        padding-right: $c-dropdown-container-padding-right;
        padding-bottom: $c-dropdown-container-padding-bottom;
        padding-left: $c-dropdown-container-padding-left;

        // --- position
        position: $c-dropdown-container-position;
        top: $c-dropdown-container-position-top;
        right: $c-dropdown-container-position-right;
        bottom: $c-dropdown-container-position-bottom;
        left: $c-dropdown-container-position-left;
        z-index: $c-dropdown-container-position-zindex;

        // --- sizing
        width: $c-dropdown-container-width;
        min-width: $c-dropdown-container-min-width;
        max-width: $c-dropdown-container-max-width;
        height: $c-dropdown-container-height;
        min-height: $c-dropdown-container-min-height;
        max-height: $c-dropdown-container-max-height;


        // --- input
        .c-input {
            margin: 0;
            padding: 0;

            .c-input-text {
                margin: 0;
            }
        }



        // --- button clear
        .c-button[data-task="clear"] {
            // --- position
            position: $c-dropdown-button-clear-position;
            top: $c-dropdown-button-clear-position-top;
            right: $c-dropdown-button-clear-position-right;
            bottom: $c-dropdown-button-clear-position-bottom;
            left: $c-dropdown-button-clear-position-left;
            z-index: $c-dropdown-button-clear-position-zindex;


            i {
                top: 0;
                transform: $c-dropdown-button-clear-icon-transform;
                transform-origin: $c-dropdown-button-clear-icon-transform-origin;
                transform-style: $c-dropdown-button-clear-icon-transform-style;
                will-change: $c-dropdown-button-clear-icon-transition-property;
                transition: $c-dropdown-button-clear-icon-transition-property $c-dropdown-transition-duration $c-dropdown-transition-delay $c-dropdown-transition-timing-function;

                .sign {
                    fill: $c-dropdown-button-clear-icon-color;
                }
            }
        }



        // --- button toggle
        .c-button[data-task="toggle"] {
            // --- position
            position: $c-dropdown-button-toggle-position;
            top: $c-dropdown-button-toggle-position-top;
            right: $c-dropdown-button-toggle-position-right;
            bottom: $c-dropdown-button-toggle-position-bottom;
            left: $c-dropdown-button-toggle-position-left;
            z-index: $c-dropdown-button-toggle-position-zindex;


            i {
                top: 0;
                transform: $c-dropdown-button-toggle-icon-transform;
                transform-origin: $c-dropdown-button-toggle-icon-transform-origin;
                transform-style: $c-dropdown-button-toggle-icon-transform-style;
                will-change: $c-dropdown-button-toggle-icon-transition-property;
                transition: $c-dropdown-button-toggle-icon-transition-property $c-dropdown-transition-duration $c-dropdown-transition-delay $c-dropdown-transition-timing-function;

                .sign {
                    fill: $c-dropdown-button-toggle-icon-color;
                }
            }
        }



        // --- options
        .c-options {
            // --- overflow
            overflow-x: $c-dropdown-options-overflow-x;
            overflow-y: $c-dropdown-options-overflow-y;

            // --- position
            position: $c-dropdown-options-position;
            top: $c-dropdown-options-position-top;
            right: $c-dropdown-options-position-right;
            bottom: $c-dropdown-options-position-bottom;
            left: $c-dropdown-options-position-left;
            z-index: $c-dropdown-options-position-zindex;

            // --- sizing
            width: $c-dropdown-options-width;
            min-width: $c-dropdown-options-min-width;
            max-width: $c-dropdown-options-max-width;
            height: $c-dropdown-options-height;
            min-height: $c-dropdown-options-min-height;
            max-height: $c-dropdown-options-max-height;

            // --- transforms
            transform: $c-dropdown-options-transform;
            transform-origin: $c-dropdown-options-transform-origin;
            transform-style: $c-dropdown-options-transform-style;

            // --- transition
            will-change: $c-dropdown-options-transition-property;
            transition: $c-dropdown-options-transition-property $c-dropdown-transition-duration $c-dropdown-transition-delay $c-dropdown-transition-timing-function;
        }
    }



    // --- state: expanded
    &.is-expanded {
        // --- options
        .c-options {
            // --- overflow
            overflow-x: $c-dropdown-options-expanded-overflow-x;
            overflow-y: $c-dropdown-options-expanded-overflow-y;

            // --- position
            position: $c-dropdown-options-expanded-position;
            top: $c-dropdown-options-expanded-position-top;
            right: $c-dropdown-options-expanded-position-right;
            bottom: $c-dropdown-options-expanded-position-bottom;
            left: $c-dropdown-options-expanded-position-left;
            z-index: $c-dropdown-options-expanded-position-zindex;

            // --- sizing
            width: $c-dropdown-options-expanded-width;
            min-width: $c-dropdown-options-expanded-min-width;
            max-width: $c-dropdown-options-expanded-max-width;
            height: $c-dropdown-options-expanded-height;
            min-height: $c-dropdown-options-expanded-min-height;
            max-height: $c-dropdown-options-expanded-max-height;

            // --- transforms
            transform: $c-dropdown-options-expanded-transform;
            transform-origin: $c-dropdown-options-expanded-transform-origin;
            transform-style: $c-dropdown-options-expanded-transform-style;

            i {
                .sign {
                    fill: $c-dropdown-button-clear-expanded-icon-color;
                }
            }
        }

        // --- button toggle
        .c-button[data-task="toggle"] {
            // --- position
            position: $c-dropdown-button-toggle-expanded-position;
            top: $c-dropdown-button-toggle-expanded-position-top;
            right: $c-dropdown-button-toggle-expanded-position-right;
            bottom: $c-dropdown-button-toggle-expanded-position-bottom;
            left: $c-dropdown-button-toggle-expanded-position-left;
            z-index: $c-dropdown-button-toggle-expanded-position-zindex;


            i {
                transform: $c-dropdown-button-toggle-expanded-icon-transform;

                .sign {
                    fill: $c-dropdown-button-toggle-expanded-icon-color;
                }
            }
        }
    }
}
