// c-radio

.c-radio {

    // --- defaults: hidden radio remains accessible
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // --- paddings
    padding-top: $c-radio-padding-top;
    padding-right: $c-radio-padding-right;
    padding-bottom: $c-radio-padding-bottom;
    padding-left: $c-radio-padding-left;

    // --- position
    z-index: $c-radio-position-zindex;


    // --- label
    + label {

        // --- defaults
        position: relative;
        display: inline-block;
        box-sizing: border-box;

        // --- margins
        margin-top: $c-radio-margin-top;
        margin-right: $c-radio-margin-right;
        margin-bottom: $c-radio-margin-bottom;
        margin-left: $c-radio-margin-left;

        // --- padding
        padding-top: (($c-radio-box-height - $c-radio-font-size) / 2);
        padding-right: 0;
        padding-bottom: (($c-radio-box-height - $c-radio-font-size) / 2);
        padding-left: ($c-radio-box-width + $c-radio-text-indent);

        // --- text
        color: $c-radio-font-color;
        font-family: $c-radio-font-family;
        font-size: $c-radio-font-size;
        font-style: $c-radio-font-style;
        font-variant: $c-radio-font-variant;
        font-weight: $c-radio-font-weight;
        letter-spacing: $c-radio-letter-spacing;
        line-height: $c-radio-line-height;
        text-align: $c-radio-text-align;
        text-decoration: $c-radio-text-decoration;
        text-indent: 0;
        text-overflow: $c-radio-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-radio-text-transform;
        text-shadow: $c-radio-text-shadow;
        vertical-align: $c-radio-vertical-align;
        white-space: $c-radio-white-space;
        word-spacing: $c-radio-word-spacing;
        user-select: none;

        // --- transition
        will-change: $c-radio-label-transition-property;
        transition-delay: $c-radio-label-transition-delay;
        transition-duration: $c-radio-label-transition-duration;
        transition-property: $c-radio-label-transition-property;
        transition-timing-function: $c-radio-label-transition-timing-function;


        // --- element: background box
        &:before {
            content: '';

            // --- dimensions
            width: $c-radio-box-width;
            height: $c-radio-box-height;

            // --- position
            position: absolute;
            display: inline-block;
            left: ($c-radio-box-width / 2);
            top: ($c-radio-box-height / 2);
            transform: translate(-50%, -50%);

            // --- background
            background-color: $c-radio-box-background-color;
            background-image: $c-radio-box-background-image;
            background-position: $c-radio-box-background-position;
            background-size: $c-radio-box-background-size;
            background-repeat: $c-radio-box-background-repeat;
            background-origin: $c-radio-box-background-origin;
            background-clip: $c-radio-box-background-clip;
            background-attachment: $c-radio-box-background-attachment;

            // --- borders
            border-top-width: $c-radio-box-border-top-width;
            border-top-style: $c-radio-box-border-top-style;
            border-top-color: $c-radio-box-border-top-color;
            border-right-width: $c-radio-box-border-right-width;
            border-right-style: $c-radio-box-border-right-style;
            border-right-color: $c-radio-box-border-right-color;
            border-bottom-width: $c-radio-box-border-bottom-width;
            border-bottom-style: $c-radio-box-border-bottom-style;
            border-bottom-color: $c-radio-box-border-bottom-color;
            border-left-width: $c-radio-box-border-left-width;
            border-left-style: $c-radio-box-border-left-style;
            border-left-color: $c-radio-box-border-left-color;
            border-top-left-radius: $c-radio-box-border-top-left-radius;
            border-top-right-radius: $c-radio-box-border-top-right-radius;
            border-bottom-left-radius: $c-radio-box-border-bottom-left-radius;
            border-bottom-right-radius: $c-radio-box-border-bottom-right-radius;

            // --- transition
            will-change: $c-radio-box-transition-property;
            transition-delay: $c-radio-box-transition-delay;
            transition-duration: $c-radio-box-transition-duration;
            transition-property: $c-radio-box-transition-property;
            transition-timing-function: $c-radio-box-transition-timing-function;
        }


        // --- check icon
        &:after {
            content: '';
            box-sizing: border-box;

            // --- position
            position: absolute;
            left: ($c-radio-box-width / 2);
            top: ($c-radio-box-height / 2);
            transform-origin: center center;
            transform: translate(-50%, -50%) scale(0);

            // --- dimensions
            display: inline-block;
            width: $c-radio-icon-width;
            height: $c-radio-icon-height;

            // --- background
            background-color: $c-radio-icon-background-color;
            opacity: 0;

            // --- borders
            border-top: $c-radio-icon-border-width $c-radio-icon-border-style $c-radio-icon-border-color;
            border-right: $c-radio-icon-border-width $c-radio-icon-border-style $c-radio-icon-border-color;
            border-bottom: $c-radio-icon-border-width $c-radio-icon-border-style $c-radio-icon-border-color;
            border-left: $c-radio-icon-border-width $c-radio-icon-border-style $c-radio-icon-border-color;
            border-radius: 50%;

            // --- transition
            will-change: $c-radio-icon-transition-property;
            transition-delay: $c-radio-icon-transition-delay;
            transition-duration: $c-radio-icon-transition-duration;
            transition-property: $c-radio-icon-transition-property;
            transition-timing-function: $c-radio-icon-transition-timing-function;
        }

        // --- state: hover
        &:hover {
            cursor: pointer;
            color: $c-radio-state-hover-font-color;

            &:before {
                background-color: $c-radio-box-state-hover-background-color;
                border-color: $c-radio-box-state-hover-border-color;
            }
            &:after {
                background-color: $c-radio-icon-state-hover-background-color;
                border-color: $c-radio-icon-state-hover-border-color;
            }
        }
    }


    // --- state: focus
    &:focus + label,
    &.state-focus + label {
        &:before {
            box-shadow: $c-radio-outline;
            outline: 0;
        }
    }


    // --- state: checked
    &:checked {
        + label {
            color: $c-radio-state-checked-font-color;

            &:after {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
                background-color: $c-radio-icon-state-checked-background-color;
                border-color: $c-radio-icon-state-checked-border-color;
            }
            &:before {
                background-color: $c-radio-box-state-checked-background-color;
                border-color: $c-radio-box-state-checked-border-color;
            }
         }
         &:hover {
            + label {
                color: $c-radio-state-checked-hover-font-color;

                &:after {
                    background-color: $c-radio-icon-state-checked-hover-background-color;
                    border-color: $c-radio-icon-state-checked-hover-border-color;
                }
                &:before {
                    background-color: $c-radio-box-state-checked-hover-background-color;
                    border-color: $c-radio-box-state-checked-hover-border-color;
                }
            }
         }
    }


    // --- state: disabled
    &:disabled + label {
        color: $c-radio-state-disabled-font-color;

        &:before {
            background-color: $c-radio-box-state-disabled-background-color;
            border-color: $c-radio-box-state-disabled-border-color;
        }
        &:after {
            background-color: $c-radio-icon-state-disabled-background-color;
            border-color: $c-radio-icon-state-disabled-border-color;
        }


        // --- state: disabled:hover
        &:hover {
            cursor: not-allowed;
            color: $c-radio-state-disabled-font-color;

            &:before {
                background-color: $c-radio-box-state-disabled-background-color;
                border-color: $c-radio-box-state-disabled-border-color;
            }
            &:after {
                background-color: $c-radio-icon-state-disabled-hover-background-color;
                border-color: $c-radio-icon-state-disabled-hover-border-color;
            }
        }
    }


    // --- state: disabled & checked
    &:disabled:checked + label {
        color: $c-radio-state-disabled-checked-font-color;

        &:before {
            background-color: $c-radio-box-state-disabled-checked-background-color;
            border-color: $c-radio-box-state-disabled-checked-border-color;
        }
        &:after {
            background-color: $c-radio-icon-state-disabled-checked-background-color;
            border-color: $c-radio-icon-state-disabled-checked-border-color;
        }


        // --- state: disabled:hover
        &:hover {
            cursor: not-allowed;
            color: $c-radio-state-disabled-checked-hover-font-color;

            &:before {
                background-color: $c-radio-box-state-disabled-checked-hover-background-color;
                border-color: $c-radio-box-state-disabled-checked-hover-border-color;
            }
            &:after {
                background-color: $c-radio-icon-state-disabled-checked-hover-background-color;
                border-color: $c-radio-icon-state-disabled-checked-hover-border-color;
            }
        }
    }
}
