// --- quickfilter icon


// --- appearance
$c-quickfilter-icon-border-width: 2px;
$c-quickfilter-icon-border-color: $color-white;
$c-quickfilter-icon-opacity: 0;


// --- position
$c-quickfilter-icon-position: absolute;
$c-quickfilter-icon-position-top: 0.5rem;
$c-quickfilter-icon-position-right: 0.5rem;
$c-quickfilter-icon-position-bottom: auto;
$c-quickfilter-icon-position-left: auto;
$c-quickfilter-icon-position-zindex: auto;


// --- sizing
$c-quickfilter-icon-width: 1rem;
$c-quickfilter-icon-min-width: initial;
$c-quickfilter-icon-max-width: none;
$c-quickfilter-icon-height: 1rem;
$c-quickfilter-icon-min-height: initial;
$c-quickfilter-icon-max-height: none;


// --- transform
$c-quickfilter-icon-transform: rotate(45deg);


// --- transition
$c-quickfilter-icon-transition-property: transform, opacity;
