// --- quickfilter icon


// --- appearance
$c-quickfilter-icon-checked-border-width: 2px;
$c-quickfilter-icon-checked-border-color: $color-ui-01;
$c-quickfilter-icon-checked-opacity: 1;


// --- transform
$c-quickfilter-icon-checked-transform: rotate(135deg);
