// --- quickfilter icon


// --- appearance
$c-quickfilter-icon-focus-border-width: 2px;
$c-quickfilter-icon-focus-border-color: $color-brand-02;
$c-quickfilter-icon-focus-opacity: 1;


// --- transform
$c-quickfilter-icon-focus-transform: rotate(90deg);
