// --- quickfilter icon


// --- appearance
$c-quickfilter-icon-checked-hover-border-width: 2px;
$c-quickfilter-icon-checked-hover-border-color: $color-ui-01;
$c-quickfilter-icon-checked-hover-opacity: 1;


// --- transform
$c-quickfilter-icon-checked-hover-transform: rotate(135deg);
