// --- quickfilter icon


// --- appearance
$c-quickfilter-icon-disabled-checked-hover-border-width: 2px;
$c-quickfilter-icon-disabled-checked-hover-border-color: rgba($color-brand-01, 0.50);
$c-quickfilter-icon-disabled-checked-hover-opacity: 1;


// --- transform
$c-quickfilter-icon-disabled-checked-hover-transform: rotate(135deg);
