// --- quickfilter icon


// --- appearance
$c-quickfilter-icon-checked-focus-border-width: 2px;
$c-quickfilter-icon-checked-focus-border-color: $color-ui-01;
$c-quickfilter-icon-checked-focus-opacity: 1;


// --- transform
$c-quickfilter-icon-checked-focus-transform: rotate(135deg);
