// --- quickfilter icon


// --- appearance
$c-quickfilter-icon-disabled-border-width: 2px;
$c-quickfilter-icon-disabled-border-color: $color-ui-01;
$c-quickfilter-icon-disabled-opacity: 0;


// --- transform
$c-quickfilter-icon-disabled-transform: rotate(45deg);
