// --- quickfilter icon


// --- appearance
$c-quickfilter-icon-hover-border-width: 2px;
$c-quickfilter-icon-hover-border-color: $color-brand-02;
$c-quickfilter-icon-hover-opacity: 1;


// --- transform
$c-quickfilter-icon-hover-transform: rotate(90deg);
