// --- dropdown container


// -- box-shadow
$c-dropdown-container-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-dropdown-container-background-color: transparent;
$c-dropdown-container-background-image: none;
$c-dropdown-container-background-position: initial;
$c-dropdown-container-background-size: initial;
$c-dropdown-container-background-repeat: initial;
$c-dropdown-container-background-origin: initial;
$c-dropdown-container-background-clip: initial;
$c-dropdown-container-background-attachment: initial;


// --- borders
// top
$c-dropdown-container-border-top-width: 0px;
$c-dropdown-container-border-top-style: solid;
$c-dropdown-container-border-top-color: transparent;
// right
$c-dropdown-container-border-right-width: 0px;
$c-dropdown-container-border-right-style: solid;
$c-dropdown-container-border-right-color: transparent;
// bottom
$c-dropdown-container-border-bottom-width: 0px;
$c-dropdown-container-border-bottom-style: solid;
$c-dropdown-container-border-bottom-color: transparent;
// left
$c-dropdown-container-border-left-width: 0px;
$c-dropdown-container-border-left-style: solid;
$c-dropdown-container-border-left-color: transparent;
// radius
$c-dropdown-container-border-top-left-radius: 0;
$c-dropdown-container-border-top-right-radius: 0;
$c-dropdown-container-border-bottom-left-radius: 0;
$c-dropdown-container-border-bottom-right-radius: 0;


// -- display
$c-dropdown-container-display: inline-block;


// --- margins
$c-dropdown-container-margin-top: 0;
$c-dropdown-container-margin-right: 0;
$c-dropdown-container-margin-bottom: 0;
$c-dropdown-container-margin-left: 0;


// --- outline
$c-dropdown-container-outline1-color: transparent;
$c-dropdown-container-outline2-color: transparent;
$c-dropdown-container-outline1-width: 2px;
$c-dropdown-container-outline2-width: 3px;
$c-dropdown-container-outline:   0px 0px 0px $c-dropdown-container-outline2-width $c-dropdown-container-outline1-color, 0px 0px 0px ($c-dropdown-container-outline1-width + $c-dropdown-container-outline2-width) $c-dropdown-container-outline2-color;


// --- paddings
$c-dropdown-container-padding-top: 0;
$c-dropdown-container-padding-right: 0;
$c-dropdown-container-padding-bottom: 0;
$c-dropdown-container-padding-left: 0;


// --- position
$c-dropdown-container-position: relative;
$c-dropdown-container-position-top: auto;
$c-dropdown-container-position-right: auto;
$c-dropdown-container-position-bottom: auto;
$c-dropdown-container-position-left: auto;
$c-dropdown-container-position-zindex: auto;


// --- sizing
$c-dropdown-container-width: 100%;
$c-dropdown-container-min-width: 2rem;
$c-dropdown-container-max-width: none;
$c-dropdown-container-height: auto;
$c-dropdown-container-min-height: initial;
$c-dropdown-container-max-height: none;
