// context-menu c-list


// --- overflow
$c-context-menu-c-list-overflow-x: hidden;
$c-context-menu-c-list-overflow-y: auto;


// --- position
$c-context-menu-c-list-position: absolute;
$c-context-menu-c-list-position-top: auto;
$c-context-menu-c-list-position-right: auto;
$c-context-menu-c-list-position-bottom: auto;
$c-context-menu-c-list-position-left: 0;
$c-context-menu-c-list-position-zindex: 10;


// --- position: right-aligned
$c-context-menu-c-list-align-right-position: absolute;
$c-context-menu-c-list-align-right-position-top: auto;
$c-context-menu-c-list-align-right-position-right: 0;
$c-context-menu-c-list-align-right-position-bottom: auto;
$c-context-menu-c-list-align-right-position-left: auto;
$c-context-menu-c-list-align-right-position-zindex: 10;


// --- sizing
$c-context-menu-c-list-width: auto;
$c-context-menu-c-list-min-width: 15rem;
$c-context-menu-c-list-max-width: none;
$c-context-menu-c-list-height: auto;
$c-context-menu-c-list-min-height: initial;
$c-context-menu-c-list-max-height: 11.5rem;
