// context-menu-base


// -- display
$c-context-menu-display: inline-block;


// --- margins
$c-context-menu-margin-top: 0;
$c-context-menu-margin-right: 0;
$c-context-menu-margin-bottom: 0;
$c-context-menu-margin-left: 0;



// --- paddings
$c-context-menu-padding-top: 0;
$c-context-menu-padding-right: 0;
$c-context-menu-padding-bottom: 0;
$c-context-menu-padding-left: 0;
