// context-menu c-list


// transition
$c-context-menu-c-icon-transition-property: transform;
$c-context-menu-c-icon-transition-delay: 0s;
$c-context-menu-c-icon-transition-duration: .15s;
$c-context-menu-c-icon-transition-timing-function: $ease-in-out-quad;


// --- transform
$c-context-menu-c-icon-state-selected-false: scale(1);
$c-context-menu-c-icon-state-selected-true: scale(-1);
