<!-- Logo -->
<section class="styleguide">

  <article>
      <h3 class="styleguide-title fx-appear">Logo</h3>
      <section class="styleguide-example logo-overview fx-appear-from-bottom align-left">
          <c-logo link="/path" label="i am the label"></c-logo>
      </section>

      <section class="styleguide-description fx-appear">
        <c-tabs css="styleguide-tabs">
            <c-tab id="styleguide-tab-01">Code</c-tab>
            <c-tab id="styleguide-tab-02">Usage</c-tab>
            <c-tab id="styleguide-tab-03">NPM</c-tab>
            <c-tab-panel id="styleguide-tab-01-panel">
                <markdown [src]="'./assets/readme/logo/CODE.md'"></markdown>
            </c-tab-panel>
            <c-tab-panel id="styleguide-tab-02-panel">
                <markdown [src]="'./assets/readme/logo/README.md'"></markdown>
            </c-tab-panel>
            <c-tab-panel id="styleguide-tab-03-panel">
                <markdown [src]="'./assets/readme/logo/NPM.md'"></markdown>
            </c-tab-panel>
        </c-tabs>
    </section>

  </article>


</section>
