
// --- accordion globals
$c-accordion-transition-delay: 0s;
$c-accordion-transition-duration: .25s;
$c-accordion-transition-timing-function: $ease-in-out-quad;



// --- accordion container
@import './container/accordion.container';
@import './container/accordion.container.focus';


// --- accordion region
@import './region/accordion.region';

// --- accordion icon
@import './icon/accordion.icon';
@import './icon/accordion.icon.hover';
@import './icon/accordion.icon.expanded';
@import './icon/accordion.icon.expanded.hover';


// --- accordion button
@import './button/accordion.button';
@import './button/accordion.button.hover';
@import './button/accordion.button.focus';
@import './button/accordion.button.expanded';
@import './button/accordion.button.expanded.hover';
@import './button/accordion.button.expanded.focus';
