// --- dropdown container


// --- position
$c-dropdown-button-clear-position: absolute;
$c-dropdown-button-clear-position-top: 0;
$c-dropdown-button-clear-position-right: 2.5rem;
$c-dropdown-button-clear-position-bottom: auto;
$c-dropdown-button-clear-position-left: auto;
$c-dropdown-button-clear-position-zindex: 2;


/* icon */


// --- color
$c-dropdown-button-clear-icon-color: $color-ui-03;

// --- transforms
$c-dropdown-button-clear-icon-transform: scaleY(1);
$c-dropdown-button-clear-icon-transform-origin: center center;
$c-dropdown-button-clear-icon-transform-style: preserve-3d;


// transition
$c-dropdown-button-clear-icon-transition-property: transform;
