// --- dropdown container


// --- position
$c-dropdown-button-toggle-expanded-position: absolute;
$c-dropdown-button-toggle-expanded-position-top: 0;
$c-dropdown-button-toggle-expanded-position-right: 0.5rem;
$c-dropdown-button-toggle-expanded-position-bottom: auto;
$c-dropdown-button-toggle-expanded-position-left: auto;
$c-dropdown-button-toggle-expanded-position-zindex: 2;


/* icon */


// --- color
$c-dropdown-button-toggle-expanded-icon-color: $color-ui-03;


// --- transforms
$c-dropdown-button-toggle-expanded-icon-transform: scaleY(-1);
