// --- dropdown container


// --- position
$c-dropdown-button-toggle-position: absolute;
$c-dropdown-button-toggle-position-top: 0;
$c-dropdown-button-toggle-position-right: 0.5rem;
$c-dropdown-button-toggle-position-bottom: auto;
$c-dropdown-button-toggle-position-left: auto;
$c-dropdown-button-toggle-position-zindex: 2;


/* icon */

// --- color
$c-dropdown-button-toggle-icon-color: $color-ui-03;


// --- transforms
$c-dropdown-button-toggle-icon-transform: scaleY(1);
$c-dropdown-button-toggle-icon-transform-origin: center center;
$c-dropdown-button-toggle-icon-transform-style: preserve-3d;


// transition
$c-dropdown-button-toggle-icon-transition-property: transform;
