// --- dropdown container


// --- position
$c-dropdown-button-clear-expanded-position: absolute;
$c-dropdown-button-clear-expanded-position-top: 0;
$c-dropdown-button-clear-expanded-position-right: 2.5rem;
$c-dropdown-button-clear-expanded-position-bottom: auto;
$c-dropdown-button-clear-expanded-position-left: auto;
$c-dropdown-button-clear-expanded-position-zindex: 2;


/* icon */

// --- color
$c-dropdown-button-clear-expanded-icon-color: $color-ui-03;


// --- transforms
$c-dropdown-button-clear-expanded-icon-transform: scaleY(-1);
