// modal.footer


// --- background
$c-modal-footer-background-color: $color-ui-02;
$c-modal-footer-background-image: none;
$c-modal-footer-background-position: initial;
$c-modal-footer-background-size: initial;
$c-modal-footer-background-repeat: initial;
$c-modal-footer-background-origin: initial;
$c-modal-footer-background-clip: initial;
$c-modal-footer-background-attachment: initial;



// --- borders
// top
$c-modal-footer-border-top-width: 0;
$c-modal-footer-border-top-style: solid;
$c-modal-footer-border-top-color: transparent;
// right
$c-modal-footer-border-right-width: 0px;
$c-modal-footer-border-right-style: solid;
$c-modal-footer-border-right-color: transparent;
// bottom
$c-modal-footer-border-bottom-width: 0px;
$c-modal-footer-border-bottom-style: solid;
$c-modal-footer-border-bottom-color: transparent;
// left
$c-modal-footer-border-left-width: 0px;
$c-modal-footer-border-left-style: solid;
$c-modal-footer-border-left-color: transparent;
// radius
$c-modal-footer-border-top-left-radius: 0;
$c-modal-footer-border-top-right-radius: 0;
$c-modal-footer-border-bottom-left-radius: 0;
$c-modal-footer-border-bottom-right-radius: 0;


// -- display
$c-modal-footer-display: block;


// --- margins
$c-modal-footer-margin-top: 0;
$c-modal-footer-margin-right: 0;
$c-modal-footer-margin-bottom: 0;
$c-modal-footer-margin-left: 0;


// --- paddings
$c-modal-footer-padding-top: 1rem;
$c-modal-footer-padding-right: 2rem;
$c-modal-footer-padding-bottom: 1rem;
$c-modal-footer-padding-left: 2rem;


// --- position
$c-modal-footer-position: absolute;
$c-modal-footer-position-top: auto;
$c-modal-footer-position-right: auto;
$c-modal-footer-position-bottom: 0;
$c-modal-footer-position-left: 0;
$c-modal-footer-position-zindex: 2;


// --- transforms
$c-modal-footer-transform: none;
$c-modal-footer-transform-origin: center center;
$c-modal-footer-transform-style: preserve-3d;


// --- transition
$c-modal-footer-transition-delay: 0;
$c-modal-footer-transition-duration: .15s;
$c-modal-footer-transition-property: all;
$c-modal-footer-transition-timing-function: $ease-in-quad;


// --- shadow
$c-modal-footer-box-shadow: none;


// --- sizing
$c-modal-footer-width: 100%;
$c-modal-footer-min-width: initial;
$c-modal-footer-max-width: none;
$c-modal-footer-height: auto;
$c-modal-footer-min-height: initial;
$c-modal-footer-max-height: none;






// --- Button
$c-modal-footer-button-color: $color-ui-03;
