// modal


// --- background
$c-modal-background-color: $color-ui-01;
$c-modal-background-image: none;
$c-modal-background-position: initial;
$c-modal-background-size: initial;
$c-modal-background-repeat: initial;
$c-modal-background-origin: initial;
$c-modal-background-clip: initial;
$c-modal-background-attachment: initial;



// --- borders
// top
$c-modal-border-top-width: 0;
$c-modal-border-top-style: solid;
$c-modal-border-top-color: transparent;
// right
$c-modal-border-right-width: 0;
$c-modal-border-right-style: solid;
$c-modal-border-right-color: transparent;
// bottom
$c-modal-border-bottom-width: 0;
$c-modal-border-bottom-style: solid;
$c-modal-border-bottom-color: transparent;
// left
$c-modal-border-left-width: 0;
$c-modal-border-left-style: solid;
$c-modal-border-left-color: transparent;
// radius
$c-modal-border-top-left-radius: 0;
$c-modal-border-top-right-radius: 0;
$c-modal-border-bottom-left-radius: 0;
$c-modal-border-bottom-right-radius: 0;


// -- display
$c-modal-display: block;


// --- position
$c-modal-position: absolute;
$c-modal-position-top: 50%;
$c-modal-position-right: auto;
$c-modal-position-bottom: auto;
$c-modal-position-left: 50%;
$c-modal-position-zindex: 100;


// --- transforms
$c-modal-transform: translate(-50%, -50%);
$c-modal-transform-origin: center center;
$c-modal-transform-style: preserve-3d;


// --- transition
$c-modal-transition-delay: 0;
$c-modal-transition-duration: .15s;
$c-modal-transition-property: transform;
$c-modal-transition-timing-function: $ease-in-quad;


// --- shadow
$c-modal-box-shadow: $shadow-depth-5;


// --- sizing
$c-modal-width: auto;
$c-modal-min-width: 20rem; // iphone-se
$c-modal-max-width: 50rem;
$c-modal-height: auto;
$c-modal-min-height: initial;
$c-modal-max-height: 100vh;
