// modal.header


// --- background
$c-modal-content-background-color: $color-ui-01;
$c-modal-content-background-image: none;
$c-modal-content-background-position: initial;
$c-modal-content-background-size: initial;
$c-modal-content-background-repeat: initial;
$c-modal-content-background-origin: initial;
$c-modal-content-background-clip: initial;
$c-modal-content-background-attachment: initial;



// --- borders
// top
$c-modal-content-border-top-width: 0;
$c-modal-content-border-top-style: solid;
$c-modal-content-border-top-color: transparent;
// right
$c-modal-content-border-right-width: 0;
$c-modal-content-border-right-style: solid;
$c-modal-content-border-right-color: transparent;
// bottom
$c-modal-content-border-bottom-width: 0;
$c-modal-content-border-bottom-style: solid;
$c-modal-content-border-bottom-color: transparent;
// left
$c-modal-content-border-left-width: 0;
$c-modal-content-border-left-style: solid;
$c-modal-content-border-left-color: transparent;
// radius
$c-modal-content-border-top-left-radius: 0;
$c-modal-content-border-top-right-radius: 0;
$c-modal-content-border-bottom-left-radius: 0;
$c-modal-content-border-bottom-right-radius: 0;


// -- display
$c-modal-content-display: block;


// --- margins
$c-modal-content-margin-top: 0;
$c-modal-content-margin-right: 0;
$c-modal-content-margin-bottom: 0;
$c-modal-content-margin-left: 0;


// --- paddings
$c-modal-content-padding-top: 0;
$c-modal-content-padding-right: 2rem;
$c-modal-content-padding-bottom: 2rem;
$c-modal-content-padding-left: 2rem;


// --- position
$c-modal-content-position: relative;
$c-modal-content-position-top: 5rem;
$c-modal-content-position-right: auto;
$c-modal-content-position-bottom: auto;
$c-modal-content-position-left: auto;
$c-modal-content-position-zindex: 1;


// --- transforms
$c-modal-content-transform: none;
$c-modal-content-transform-origin: center center;
$c-modal-content-transform-style: preserve-3d;


// --- transition
$c-modal-content-transition-delay: 0;
$c-modal-content-transition-duration: .15s;
$c-modal-content-transition-property: all;
$c-modal-content-transition-timing-function: $ease-in-quad;


// --- shadow
$c-modal-content-box-shadow: none;


// --- sizing
$c-modal-content-width: 100%;
$c-modal-content-min-width: initial;
$c-modal-content-max-width: none;
$c-modal-content-height: calc(100% - #{$c-modal-content-position-top});
$c-modal-content-min-height: initial;
$c-modal-content-max-height: none;
