// modal.header


// --- background
$c-modal-header-background-color: $color-ui-01;
$c-modal-header-background-image: none;
$c-modal-header-background-position: initial;
$c-modal-header-background-size: initial;
$c-modal-header-background-repeat: initial;
$c-modal-header-background-origin: initial;
$c-modal-header-background-clip: initial;
$c-modal-header-background-attachment: initial;



// --- borders
// top
$c-modal-header-border-top-width: 0.5rem;
$c-modal-header-border-top-style: solid;
$c-modal-header-border-top-color: $color-brand-01;
// right
$c-modal-header-border-right-width: 0px;
$c-modal-header-border-right-style: solid;
$c-modal-header-border-right-color: transparent;
// bottom
$c-modal-header-border-bottom-width: 0px;
$c-modal-header-border-bottom-style: solid;
$c-modal-header-border-bottom-color: transparent;
// left
$c-modal-header-border-left-width: 0px;
$c-modal-header-border-left-style: solid;
$c-modal-header-border-left-color: transparent;
// radius
$c-modal-header-border-top-left-radius: 0;
$c-modal-header-border-top-right-radius: 0;
$c-modal-header-border-bottom-left-radius: 0;
$c-modal-header-border-bottom-right-radius: 0;


// -- display
$c-modal-header-display: block;


// --- margins
$c-modal-header-margin-top: 0;
$c-modal-header-margin-right: 0;
$c-modal-header-margin-bottom: 0;
$c-modal-header-margin-left: 0;


// --- paddings
$c-modal-header-padding-top: 1.5rem;
$c-modal-header-padding-right: 2rem;
$c-modal-header-padding-bottom: 1rem;
$c-modal-header-padding-left: 2rem;


// --- position
$c-modal-header-position: absolute;
$c-modal-header-position-top: 0;
$c-modal-header-position-right: auto;
$c-modal-header-position-bottom: auto;
$c-modal-header-position-left: 0;
$c-modal-header-position-zindex: 2;


// --- transforms
$c-modal-header-transform: none;
$c-modal-header-transform-origin: center center;
$c-modal-header-transform-style: preserve-3d;


// --- transition
$c-modal-header-transition-delay: 0;
$c-modal-header-transition-duration: .15s;
$c-modal-header-transition-property: all;
$c-modal-header-transition-timing-function: $ease-in-quad;


// --- shadow
$c-modal-header-box-shadow: none;


// --- sizing
$c-modal-header-width: 100%;
$c-modal-header-min-width: initial;
$c-modal-header-max-width: none;
$c-modal-header-height: auto;
$c-modal-header-min-height: initial;
$c-modal-header-max-height: none;






// --- Button
$c-modal-header-button-color: $color-ui-03;
