// text-area: state is-invalid


// --- box-shadow
$c-textarea-invalid-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-textarea-invalid-background-color: $color-ui-02;
$c-textarea-invalid-background-image: none;
$c-textarea-invalid-background-position: initial;
$c-textarea-invalid-background-size: initial;
$c-textarea-invalid-background-repeat: initial;
$c-textarea-invalid-background-origin: initial;
$c-textarea-invalid-background-clip: initial;
$c-textarea-invalid-background-attachment: initial;


// --- borders
// top
$c-textarea-invalid-border-top-width: 1px;
$c-textarea-invalid-border-top-style: solid;
$c-textarea-invalid-border-top-color: transparent;
// right
$c-textarea-invalid-border-right-width: 1px;
$c-textarea-invalid-border-right-style: solid;
$c-textarea-invalid-border-right-color: transparent;
// bottom
$c-textarea-invalid-border-bottom-width: 1px;
$c-textarea-invalid-border-bottom-style: solid;
$c-textarea-invalid-border-bottom-color: transparent;
// left
$c-textarea-invalid-border-left-width: 1px;
$c-textarea-invalid-border-left-style: solid;
$c-textarea-invalid-border-left-color: transparent;
// radius
$c-textarea-invalid-border-top-left-radius: 0.25rem;
$c-textarea-invalid-border-top-right-radius: 0.25rem;
$c-textarea-invalid-border-bottom-left-radius: 0.25rem;
$c-textarea-invalid-border-bottom-right-radius: 0.25rem;


// --- display
$c-textarea-invalid-display: inline-block;


// --- margins
$c-textarea-invalid-margin-top: 0;
$c-textarea-invalid-margin-right: 0;
$c-textarea-invalid-margin-bottom: 0.5rem;
$c-textarea-invalid-margin-left: 0;


// --- outline
$c-textarea-invalid-outline-color: $color-brand-01;
$c-textarea-invalid-outline-width: 2px;
$c-textarea-invalid-outline: inset 0px 0px 0px $c-textarea-invalid-outline-width $c-textarea-invalid-outline-color, inset 0 (0px - (5 * $c-textarea-invalid-outline-width)) 0px (0px - (3 * $c-textarea-invalid-outline-width)) transparent;


// --- paddings
$c-textarea-invalid-padding-top: 1rem;
$c-textarea-invalid-padding-right: 1rem;
$c-textarea-invalid-padding-bottom: 1rem;
$c-textarea-invalid-padding-left: 1rem;


// --- position
$c-textarea-invalid-position: relative;
$c-textarea-invalid-position-top: auto;
$c-textarea-invalid-position-right: auto;
$c-textarea-invalid-position-bottom: auto;
$c-textarea-invalid-position-left: auto;
$c-textarea-invalid-position-zindex: auto;


// --- sizing
$c-textarea-invalid-width: 100%;
$c-textarea-invalid-min-width: 100%;
$c-textarea-invalid-max-width: none;
$c-textarea-invalid-height: auto;
$c-textarea-invalid-min-height: 10rem;
$c-textarea-invalid-max-height: none;


// --- text
$c-textarea-invalid-font-family: $font-brand-regular;
$c-textarea-invalid-font-color: $color-text-01;
$c-textarea-invalid-font-size: $font-size-m;
$c-textarea-invalid-font-style: normal;
$c-textarea-invalid-font-variant: normal;
$c-textarea-invalid-font-weight: $font-weight-regular;
$c-textarea-invalid-line-height: $line-height-m;
$c-textarea-invalid-letter-spacing: 0;
$c-textarea-invalid-text-align: left;
$c-textarea-invalid-text-decoration: none;
$c-textarea-invalid-text-indent: 0;
$c-textarea-invalid-text-overflow: initial;
$c-textarea-invalid-text-transform: none;
$c-textarea-invalid-text-shadow: none;
$c-textarea-invalid-vertical-align: initial;
$c-textarea-invalid-white-space: normal;
$c-textarea-invalid-word-spacing: normal;
