// text-area: state hover


// --- box-shadow
$c-textarea-hover-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-textarea-hover-background-color: darken($color-ui-02, 1%);
$c-textarea-hover-background-image: none;
$c-textarea-hover-background-position: initial;
$c-textarea-hover-background-size: initial;
$c-textarea-hover-background-repeat: initial;
$c-textarea-hover-background-origin: initial;
$c-textarea-hover-background-clip: initial;
$c-textarea-hover-background-attachment: initial;


// --- borders
// top
$c-textarea-hover-border-top-width: 1px;
$c-textarea-hover-border-top-style: solid;
$c-textarea-hover-border-top-color: transparent;
// right
$c-textarea-hover-border-right-width: 1px;
$c-textarea-hover-border-right-style: solid;
$c-textarea-hover-border-right-color: transparent;
// bottom
$c-textarea-hover-border-bottom-width: 1px;
$c-textarea-hover-border-bottom-style: solid;
$c-textarea-hover-border-bottom-color: transparent;
// left
$c-textarea-hover-border-left-width: 1px;
$c-textarea-hover-border-left-style: solid;
$c-textarea-hover-border-left-color: transparent;
// radius
$c-textarea-hover-border-top-left-radius: 0.25rem;
$c-textarea-hover-border-top-right-radius: 0.25rem;
$c-textarea-hover-border-bottom-left-radius: 0.25rem;
$c-textarea-hover-border-bottom-right-radius: 0.25rem;


// --- display
$c-textarea-hover-display: inline-block;


// --- margins
$c-textarea-hover-margin-top: 0;
$c-textarea-hover-margin-right: 0;
$c-textarea-hover-margin-bottom: 0.5rem;
$c-textarea-hover-margin-left: 0;


// --- outline
$c-textarea-hover-outline-color: transparent;
$c-textarea-hover-outline-width: 2px;
$c-textarea-hover-outline: inset 0px 0px 0px $c-textarea-hover-outline-width transparent, inset 0 (0px - (3 * $c-textarea-hover-outline-width)) 0px (0px - (2 * $c-textarea-hover-outline-width)) $c-textarea-hover-outline-color;


// --- paddings
$c-textarea-hover-padding-top: 1rem;
$c-textarea-hover-padding-right: 1rem;
$c-textarea-hover-padding-bottom: 1rem;
$c-textarea-hover-padding-left: 1rem;


// --- position
$c-textarea-hover-position: relative;
$c-textarea-hover-position-top: auto;
$c-textarea-hover-position-right: auto;
$c-textarea-hover-position-bottom: auto;
$c-textarea-hover-position-left: auto;
$c-textarea-hover-position-zindex: auto;


// --- sizing
$c-textarea-hover-width: 100%;
$c-textarea-hover-min-width: 100%;
$c-textarea-hover-max-width: none;
$c-textarea-hover-height: auto;
$c-textarea-hover-min-height: 10rem;
$c-textarea-hover-max-height: none;


// --- text
$c-textarea-hover-font-family: $font-brand-regular;
$c-textarea-hover-font-color: $color-text-01;
$c-textarea-hover-font-size: $font-size-m;
$c-textarea-hover-font-style: normal;
$c-textarea-hover-font-variant: normal;
$c-textarea-hover-font-weight: $font-weight-regular;
$c-textarea-hover-line-height: $line-height-m;
$c-textarea-hover-letter-spacing: 0;
$c-textarea-hover-text-align: left;
$c-textarea-hover-text-decoration: none;
$c-textarea-hover-text-indent: 0;
$c-textarea-hover-text-overflow: initial;
$c-textarea-hover-text-transform: none;
$c-textarea-hover-text-shadow: none;
$c-textarea-hover-vertical-align: initial;
$c-textarea-hover-white-space: normal;
$c-textarea-hover-word-spacing: normal;
