// text-area: state default



// --- background
$c-textarea-background-color: $color-ui-02;
$c-textarea-background-image: none;
$c-textarea-background-position: initial;
$c-textarea-background-size: initial;
$c-textarea-background-repeat: initial;
$c-textarea-background-origin: initial;
$c-textarea-background-clip: initial;
$c-textarea-background-attachment: initial;


// --- borders
// top
$c-textarea-border-top-width: 1px;
$c-textarea-border-top-style: solid;
$c-textarea-border-top-color: transparent;
// right
$c-textarea-border-right-width: 1px;
$c-textarea-border-right-style: solid;
$c-textarea-border-right-color: transparent;
// bottom
$c-textarea-border-bottom-width: 1px;
$c-textarea-border-bottom-style: solid;
$c-textarea-border-bottom-color: transparent;
// left
$c-textarea-border-left-width: 1px;
$c-textarea-border-left-style: solid;
$c-textarea-border-left-color: transparent;
// radius
$c-textarea-border-top-left-radius: 0.25rem;
$c-textarea-border-top-right-radius: 0.25rem;
$c-textarea-border-bottom-left-radius: 0.25rem;
$c-textarea-border-bottom-right-radius: 0.25rem;


// --- box-shadow
$c-textarea-box-shadow: 0px 0px 0px 0px transparent;


// --- display
$c-textarea-display: inline-block;


// --- margins
$c-textarea-margin-top: 0;
$c-textarea-margin-right: 0;
$c-textarea-margin-bottom: 0.5rem;
$c-textarea-margin-left: 0;


// --- outline
$c-textarea-outline-color: transparent;
$c-textarea-outline-width: 2px;
$c-textarea-outline: inset 0px 0px 0px $c-textarea-outline-width transparent, inset 0 (0px - (3 * $c-textarea-outline-width)) 0px (0px - (2 * $c-textarea-outline-width)) $c-textarea-outline-color;


// --- paddings
$c-textarea-padding-top: 1rem;
$c-textarea-padding-right: 1rem;
$c-textarea-padding-bottom: 1rem;
$c-textarea-padding-left: 1rem;


// --- position
$c-textarea-position: relative;
$c-textarea-position-top: auto;
$c-textarea-position-right: auto;
$c-textarea-position-bottom: auto;
$c-textarea-position-left: auto;
$c-textarea-position-zindex: auto;


// --- sizing
$c-textarea-width: 100%;
$c-textarea-min-width: 100%;
$c-textarea-max-width: none;
$c-textarea-height: auto;
$c-textarea-min-height: 10rem;
$c-textarea-max-height: none;


// --- text
$c-textarea-font-family: $font-brand-regular;
$c-textarea-font-color: $color-text-01;
$c-textarea-font-size: $font-size-m;
$c-textarea-font-style: normal;
$c-textarea-font-variant: normal;
$c-textarea-font-weight: $font-weight-regular;
$c-textarea-line-height: $line-height-m;
$c-textarea-letter-spacing: 0;
$c-textarea-text-align: left;
$c-textarea-text-decoration: none;
$c-textarea-text-indent: 0;
$c-textarea-text-overflow: initial;
$c-textarea-text-transform: none;
$c-textarea-text-shadow: none;
$c-textarea-vertical-align: initial;
$c-textarea-white-space: normal;
$c-textarea-word-spacing: normal;


// --- transforms
$c-textarea-transform: none;
$c-textarea-transform-origin: top left;
$c-textarea-transform-style: preserve-3d;


// transition
$c-textarea-transition-property: all;
