// text-area: state disabled


// --- box-shadow
$c-textarea-disabled-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-textarea-disabled-background-color: $color-text-03;
$c-textarea-disabled-background-image: none;
$c-textarea-disabled-background-position: initial;
$c-textarea-disabled-background-size: initial;
$c-textarea-disabled-background-repeat: initial;
$c-textarea-disabled-background-origin: initial;
$c-textarea-disabled-background-clip: initial;
$c-textarea-disabled-background-attachment: initial;


// --- borders
// top
$c-textarea-disabled-border-top-width: 1px;
$c-textarea-disabled-border-top-style: solid;
$c-textarea-disabled-border-top-color: transparent;
// right
$c-textarea-disabled-border-right-width: 1px;
$c-textarea-disabled-border-right-style: solid;
$c-textarea-disabled-border-right-color: transparent;
// bottom
$c-textarea-disabled-border-bottom-width: 1px;
$c-textarea-disabled-border-bottom-style: solid;
$c-textarea-disabled-border-bottom-color: transparent;
// left
$c-textarea-disabled-border-left-width: 1px;
$c-textarea-disabled-border-left-style: solid;
$c-textarea-disabled-border-left-color: transparent;
// radius
$c-textarea-disabled-border-top-left-radius: 0.25rem;
$c-textarea-disabled-border-top-right-radius: 0.25rem;
$c-textarea-disabled-border-bottom-left-radius: 0.25rem;
$c-textarea-disabled-border-bottom-right-radius: 0.25rem;


// --- display
$c-textarea-disabled-display: inline-block;


// --- margins
$c-textarea-disabled-margin-top: 0;
$c-textarea-disabled-margin-right: 0;
$c-textarea-disabled-margin-bottom: 0.5rem;
$c-textarea-disabled-margin-left: 0;


// --- outline
$c-textarea-disabled-outline1-color: transparent;
$c-textarea-disabled-outline2-color: transparent;
$c-textarea-disabled-outline1-width: 2px;
$c-textarea-disabled-outline2-width: 3px;
$c-textarea-disabled-outline:   0px 0px 0px $c-textarea-disabled-outline2-width $c-textarea-disabled-outline1-color, 0px 0px 0px ($c-textarea-disabled-outline1-width + $c-textarea-disabled-outline2-width) $c-textarea-disabled-outline2-color;


// --- paddings
$c-textarea-disabled-padding-top: 1rem;
$c-textarea-disabled-padding-right: 1rem;
$c-textarea-disabled-padding-bottom: 1rem;
$c-textarea-disabled-padding-left: 1rem;


// --- position
$c-textarea-disabled-position: relative;
$c-textarea-disabled-position-top: auto;
$c-textarea-disabled-position-right: auto;
$c-textarea-disabled-position-bottom: auto;
$c-textarea-disabled-position-left: auto;
$c-textarea-disabled-position-zindex: auto;


// --- sizing
$c-textarea-disabled-width: 100%;
$c-textarea-disabled-min-width: 100%;
$c-textarea-disabled-max-width: none;
$c-textarea-disabled-height: auto;
$c-textarea-disabled-min-height: 10rem;
$c-textarea-disabled-max-height: none;


// --- text
$c-textarea-disabled-font-family: $font-brand-regular;
$c-textarea-disabled-font-color: $color-text-01;
$c-textarea-disabled-font-size: $font-size-m;
$c-textarea-disabled-font-style: normal;
$c-textarea-disabled-font-variant: normal;
$c-textarea-disabled-font-weight: $font-weight-regular;
$c-textarea-disabled-line-height: $line-height-m;
$c-textarea-disabled-letter-spacing: 0;
$c-textarea-disabled-text-align: left;
$c-textarea-disabled-text-decoration: none;
$c-textarea-disabled-text-indent: 0;
$c-textarea-disabled-text-overflow: initial;
$c-textarea-disabled-text-transform: none;
$c-textarea-disabled-text-shadow: none;
$c-textarea-disabled-vertical-align: initial;
$c-textarea-disabled-white-space: normal;
$c-textarea-disabled-word-spacing: normal;
