// block-header




.block-header {

    // --- defaults
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    // --- background
    background-color: $block-header-phone-background-color;
    background-image: $block-header-phone-background-image;
    background-position: $block-header-phone-background-position;
    background-size: $block-header-phone-background-size;
    background-repeat: $block-header-phone-background-repeat;
    background-origin: $block-header-phone-background-origin;
    background-clip: $block-header-phone-background-clip;
    background-attachment: $block-header-phone-background-attachment;
    background: $block-header-phone-background;

    // --- borders
    border-top-width: $block-header-phone-border-top-width;
    border-right-width: $block-header-phone-border-right-width;
    border-bottom-width: $block-header-phone-border-bottom-width;
    border-left-width: $block-header-phone-border-left-width;
    border-top-style: $block-header-phone-border-top-style;
    border-right-style: $block-header-phone-border-right-style;
    border-bottom-style: $block-header-phone-border-bottom-style;
    border-left-style: $block-header-phone-border-left-style;
    border-top-color: $block-header-phone-border-top-color;
    border-right-color: $block-header-phone-border-right-color;
    border-bottom-color: $block-header-phone-border-bottom-color;
    border-left-color: $block-header-phone-border-left-color;
    border-top-left-radius: $block-header-phone-border-top-left-radius;
    border-top-right-radius: $block-header-phone-border-top-right-radius;
    border-bottom-left-radius: $block-header-phone-border-bottom-left-radius;
    border-bottom-right-radius: $block-header-phone-border-bottom-right-radius;

    // --- dimensions
    width: $block-header-phone-width;
    min-width: $block-header-phone-min-width;
    max-width: $block-header-phone-max-width;
    height: $block-header-phone-height;
    min-height: $block-header-phone-min-height;
    max-height: $block-header-phone-max-height;

    // --- margins
    margin-top: $block-header-phone-margin-top;
    margin-right: $block-header-phone-margin-right;
    margin-bottom: $block-header-phone-margin-bottom;
    margin-left: $block-header-phone-margin-left;

    // --- paddings
    padding-top: $block-header-phone-padding-top;
    padding-right: $block-header-phone-padding-right;
    padding-bottom: $block-header-phone-padding-bottom;
    padding-left: $block-header-phone-padding-left;

    // --- position
    position: $block-header-phone-position;
    top: $block-header-phone-position-top;
    right: $block-header-phone-position-right;
    bottom: $block-header-phone-position-bottom;
    left: $block-header-phone-position-left;
    z-index: $block-header-phone-position-zindex;

    // --- shadow
    box-shadow: $block-header-phone-box-shadow;


    // --- logo
    .block-layout.logo {
        flex-grow: 1;
        width: 100%;
        text-align: center;

        .c-logo {
            svg {
                width: $block-header-logo-phone-width;
                height: $block-header-logo-phone-height;
                path {
                    fill: $block-header-logo-color;
                }
            }
        }
    }


    // --- help
    .block-layout.help {
        width: 40%;
        text-align: right;
        .c-button {
            color: $block-header-help-text-color;

            .icon-help {
                svg {
                    circle {
                        fill: $block-header-help-icon-color-background;
                    }
                    path {
                        fill: $block-header-help-icon-color-foreground;
                    }
                }
            }
        }
    }



    // --- user
    .block-layout.user {
        width: 60%;
        text-align: left;
        .c-button[task="context-menu-toggle"] {
            color: $block-header-context-menu-text-color;

            .icon-user {
                svg {
                    circle {
                        fill: $block-header-context-menu-icon-user-color-background;
                    }
                    path {
                        fill: $block-header-context-menu-icon-user-color-foreground;
                    }
                }
            }

            .icon-arrow {
                svg {
                    path {
                        fill: $block-header-context-menu-icon-arrow-color;
                    }
                }
            }
        }
    }


    // --- tablet
    @include screen-tablet {
        // --- backgound
        background-color: $block-header-tablet-background-color;
        background-image: $block-header-tablet-background-image;
        background-position: $block-header-tablet-background-position;
        background-size: $block-header-tablet-background-size;
        background-repeat: $block-header-tablet-background-repeat;
        background-origin: $block-header-tablet-background-origin;
        background-clip: $block-header-tablet-background-clip;
        background-attachment: $block-header-tablet-background-attachment;
        background: $block-header-tablet-background;

        // --- borders
        border-top-width: $block-header-tablet-border-top-width;
        border-right-width: $block-header-tablet-border-right-width;
        border-bottom-width: $block-header-tablet-border-bottom-width;
        border-left-width: $block-header-tablet-border-left-width;
        border-top-style: $block-header-tablet-border-top-style;
        border-right-style: $block-header-tablet-border-right-style;
        border-bottom-style: $block-header-tablet-border-bottom-style;
        border-left-style: $block-header-tablet-border-left-style;
        border-top-color: $block-header-tablet-border-top-color;
        border-right-color: $block-header-tablet-border-right-color;
        border-bottom-color: $block-header-tablet-border-bottom-color;
        border-left-color: $block-header-tablet-border-left-color;
        border-top-left-radius: $block-header-tablet-border-top-left-radius;
        border-top-right-radius: $block-header-tablet-border-top-right-radius;
        border-bottom-left-radius: $block-header-tablet-border-bottom-left-radius;
        border-bottom-right-radius: $block-header-tablet-border-bottom-right-radius;

        // --- dimensions
        width: $block-header-tablet-width;
        min-width: $block-header-tablet-min-width;
        max-width: $block-header-tablet-max-width;
        height: $block-header-tablet-height;
        min-height: $block-header-tablet-min-height;
        max-height: $block-header-tablet-max-height;

        // --- margins
        margin-top: $block-header-tablet-margin-top;
        margin-right: $block-header-tablet-margin-right;
        margin-bottom: $block-header-tablet-margin-bottom;
        margin-left: $block-header-tablet-margin-left;

        // --- paddings
        padding-top: $block-header-tablet-padding-top;
        padding-right: $block-header-tablet-padding-right;
        padding-bottom: $block-header-tablet-padding-bottom;
        padding-left: $block-header-tablet-padding-left;

        // --- position
        position: $block-header-tablet-position;
        top: $block-header-tablet-position-top;
        right: $block-header-tablet-position-right;
        bottom: $block-header-tablet-position-bottom;
        left: $block-header-tablet-position-left;
        z-index: $block-header-tablet-position-zindex;

        // --- shadow
        box-shadow: $block-header-tablet-box-shadow;

        .block-layout.logo {
            width: auto;
            text-align: left;
            .c-logo {
                svg {
                    width: $block-header-logo-tablet-width;
                    height: $block-header-logo-tablet-height;
                }
            }
        }
        .block-layout.help {
            width: auto;
            text-align: left;
        }
        .block-layout.user {
            width: auto;
            text-align: left;
        }
    }


    // --- desktop
    @include screen-desktop {
        // --- backgound
        background-color: $block-header-desktop-background-color;
        background-image: $block-header-desktop-background-image;
        background-position: $block-header-desktop-background-position;
        background-size: $block-header-desktop-background-size;
        background-repeat: $block-header-desktop-background-repeat;
        background-origin: $block-header-desktop-background-origin;
        background-clip: $block-header-desktop-background-clip;
        background-attachment: $block-header-desktop-background-attachment;
        background: $block-header-desktop-background;

        // --- borders
        border-top-width: $block-header-desktop-border-top-width;
        border-right-width: $block-header-desktop-border-right-width;
        border-bottom-width: $block-header-desktop-border-bottom-width;
        border-left-width: $block-header-desktop-border-left-width;
        border-top-style: $block-header-desktop-border-top-style;
        border-right-style: $block-header-desktop-border-right-style;
        border-bottom-style: $block-header-desktop-border-bottom-style;
        border-left-style: $block-header-desktop-border-left-style;
        border-top-color: $block-header-desktop-border-top-color;
        border-right-color: $block-header-desktop-border-right-color;
        border-bottom-color: $block-header-desktop-border-bottom-color;
        border-left-color: $block-header-desktop-border-left-color;
        border-top-left-radius: $block-header-desktop-border-top-left-radius;
        border-top-right-radius: $block-header-desktop-border-top-right-radius;
        border-bottom-left-radius: $block-header-desktop-border-bottom-left-radius;
        border-bottom-right-radius: $block-header-desktop-border-bottom-right-radius;

        // --- dimensions
        width: $block-header-desktop-width;
        min-width: $block-header-desktop-min-width;
        max-width: $block-header-desktop-max-width;
        height: $block-header-desktop-height;
        min-height: $block-header-desktop-min-height;
        max-height: $block-header-desktop-max-height;

        // --- margins
        margin-top: $block-header-desktop-margin-top;
        margin-right: $block-header-desktop-margin-right;
        margin-bottom: $block-header-desktop-margin-bottom;
        margin-left: $block-header-desktop-margin-left;

        // --- paddings
        padding-top: $block-header-desktop-padding-top;
        padding-right: $block-header-desktop-padding-right;
        padding-bottom: $block-header-desktop-padding-bottom;
        padding-left: $block-header-desktop-padding-left;

        // --- position
        position: $block-header-desktop-position;
        top: $block-header-desktop-position-top;
        right: $block-header-desktop-position-right;
        bottom: $block-header-desktop-position-bottom;
        left: $block-header-desktop-position-left;
        z-index: $block-header-desktop-position-zindex;

        // --- shadow
        box-shadow: $block-header-desktop-box-shadow;

        .block-layout.logo {
            width: auto;
            text-align: left;
            .c-logo {
                svg {
                    width: $block-header-logo-desktop-width;
                    height: $block-header-logo-desktop-height;
                }
            }
        }
        .block-layout.help {
            width: auto;
            text-align: left;
        }
        .block-layout.user {
            width: auto;
            text-align: left;
        }
    }
}
