// --- accordion icon


// --- appearance
$c-accordion-icon-color: $color-text-01;



// --- margins
$c-accordion-icon-margin-top: 0;
$c-accordion-icon-margin-right: 0.5rem;
$c-accordion-icon-margin-bottom: 0;
$c-accordion-icon-margin-left: 0.5rem;


// --- transform
$c-accordion-icon-transform: rotate(0deg);


// --- transition
$c-accordion-icon-transition-property: transform, color;
