// --- accordion icon


// --- appearance
$c-accordion-icon-expanded-color: $color-text-01;



// --- margins
$c-accordion-icon-expanded-margin-top: 0;
$c-accordion-icon-expanded-margin-right: 0.5rem;
$c-accordion-icon-expanded-margin-bottom: 0;
$c-accordion-icon-expanded-margin-left: 0.5rem;


// --- transform
$c-accordion-icon-expanded-transform: rotate(90deg);


// --- transition
$c-accordion-icon-expanded-transition-property: transform, color;
