// --- accordion icon


// --- appearance
$c-accordion-icon-hover-color: $color-brand-01;



// --- margins
$c-accordion-icon-hover-margin-top: 0;
$c-accordion-icon-hover-margin-right: 0.5rem;
$c-accordion-icon-hover-margin-bottom: 0;
$c-accordion-icon-hover-margin-left: 0.5rem;


// --- transform
$c-accordion-icon-hover-transform: rotate(0deg);


// --- transition
$c-accordion-icon-hover-transition-property: transform, color;
