// c-chart-item is-spline

@keyframes chartSplineCircle {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes chartSplineLine {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chartSplineItem {
    to {
        opacity: 1;
    }
}
@keyframes chartSplineLabel {
    to {
        opacity: 1;
    }
}


.c-chart-item.is-spline {
    position: relative;
    display: table-cell;
    height: 10rem;
    width: 3.5rem;
    margin: 0;
    background-color: $color-ui-01;
    vertical-align: bottom;
    opacity: 0;
    animation: chartSplineItem 0.3s ease-in forwards;
    outline: 0;
    z-index: 1;
    transition: background-color .15s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: auto;
        width: 1px;
        background-color: $color-ui-02;
        z-index: 1;
    }


    &.display-year-label {
        &:after {
            content: attr(data-year);
            display: block;
            position: absolute;
            left: 0.25rem;
            top: 0.25rem;
            color: $color-brand-01;
            font-family: $c-chart-label-font-family;
            font-size: $font-size-xxs;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 1rem;
            bottom: 0;
            right: auto;
            width: 1px;
            background-color: $color-brand-01;
        }
    }


    figure {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        //
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 2;


        // ---

        figcaption {
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0.5rem;

            // --- background
            background-color: $c-chart-label-background-color;
            background-image: $c-chart-label-background-image;
            background-position: $c-chart-label-background-position;
            background-size: $c-chart-label-background-size;
            background-repeat: $c-chart-label-background-repeat;
            background-origin: $c-chart-label-background-origin;
            background-clip: $c-chart-label-background-clip;
            background-attachment: $c-chart-label-background-attachment;

            // --- borders
            border-top-width: $c-chart-label-border-top-width;
            border-right-width: $c-chart-label-border-right-width;
            border-bottom-width: $c-chart-label-border-bottom-width;
            border-left-width: $c-chart-label-border-left-width;
            border-top-style: $c-chart-label-border-top-style;
            border-right-style: $c-chart-label-border-right-style;
            border-bottom-style: $c-chart-label-border-bottom-style;
            border-left-style: $c-chart-label-border-left-style;
            border-top-color: $c-chart-label-border-top-color;
            border-right-color: $c-chart-label-border-right-color;
            border-bottom-color: $c-chart-label-border-bottom-color;
            border-left-color: $c-chart-label-border-left-color;
            border-top-left-radius: $c-chart-label-border-top-left-radius;
            border-top-right-radius: $c-chart-label-border-top-right-radius;
            border-bottom-left-radius: $c-chart-label-border-bottom-left-radius;
            border-bottom-right-radius: $c-chart-label-border-bottom-right-radius;

            // --- margins
            margin-top: $c-chart-label-margin-top;
            margin-right: $c-chart-label-margin-right;
            margin-bottom: $c-chart-label-margin-bottom;
            margin-left: $c-chart-label-margin-left;

            // --- paddings
            padding-top: $c-chart-label-padding-top;
            padding-right: $c-chart-label-padding-right;
            padding-bottom: $c-chart-label-padding-bottom;
            padding-left: $c-chart-label-padding-left;

            // --- text
            color: $c-chart-label-font-color;
            font-family: $c-chart-label-font-family;
            font-size: $c-chart-label-font-size;
            font-style: $c-chart-label-font-style;
            font-variant: $c-chart-label-font-variant;
            font-weight: $c-chart-label-font-weight;
            letter-spacing: $c-chart-label-letter-spacing;
            line-height: $c-chart-label-line-height;
            text-align: center;
            text-decoration: $c-chart-label-text-decoration;
            text-indent: $c-chart-label-text-indent;
            text-overflow: $c-chart-label-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: uppercase;
            text-shadow: $c-chart-label-text-shadow;
            vertical-align: $c-chart-label-vertical-align;
            white-space: $c-chart-label-white-space;
            word-spacing: $c-chart-label-word-spacing;
            user-select: none;

            opacity: 0;
            animation: chartSplineLabel 0.3s ease-in forwards;
        }


        // ---


        svg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: transparent;
            width: 100%;
            height: auto;
            max-height: 10rem;

            circle {
                fill: white;
                stroke: $color-brand-01;
                border-radius: 50%;
                opacity: 0;
                transform: translateY(30%);
                animation: chartSplineCircle 0.25s $ease-out-quad forwards;
                z-index: 3;

                &.color-accent-01 { stroke: $color-accent-01; }
                &.color-accent-02 { stroke: $color-accent-02; }
                &.color-accent-03 { stroke: $color-accent-03; }
                &.color-accent-04 { stroke: $color-accent-04; }
                &.color-accent-05 { stroke: $color-accent-05; }
                &.color-accent-06 { stroke: $color-accent-06; }
                &.color-accent-07 { stroke: $color-accent-07; }
                &.color-accent-08 { stroke: $color-accent-08; }
                &.color-accent-09 { stroke: $color-accent-09; }
                &.color-accent-10 { stroke: $color-accent-10; }
                &.color-accent-11 { stroke: $color-accent-11; }
                &.color-accent-12 { stroke: $color-accent-12; }
            }

            path {
                fill: transparent;
                stroke: $color-brand-01;
                stroke-dashoffset: 200;
                stroke-dasharray: 200;
                animation: chartSplineLine 0.6s $ease-out-quad forwards;
                z-index: 2;
            }
        }
    }

    @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.14s;

            svg {
                circle {
                    animation-delay: ($i * 0.15s);
                }
                path {
                    animation-delay: ($i * 0.15s) + 0.1s;
                }
            }
        }
    }

    &:first-child {
        &.display-year-label {
            &:after {
                color: $c-chart-label-font-color;
            }
            &:before {
                background-color: transparent;
            }
        }
    }
    &.is-selected {
        background-color: $color-text-03;
    }

    &:active,
    &:focus {
        z-index: 2;
        background-color: $color-ui-02;
        box-shadow: 0px 0px 0px 0.125rem $color-white, 0px 0px 0px 0.250rem $color-brand-01;
    }

    &:hover {
        cursor: pointer;
        background-color: $color-ui-02;
    }
}
