// c-table

.c-table {
    // display: block;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;

    //@media (min-width: 1200px) {
        // display: table;
        // table-layout: fixed;
        // border-collapse: separate;
    //}

    // hide column
    @for $i from 0 through 20 {
        &.hide-column-#{$i} {
            th:nth-child(#{$i}) { display: none; }
            td:nth-child(#{$i}) { display: none; }
        }
    }


    // ---


    .c-table-head {
        //display: none;

        //@media (min-width: 1200px) {
            display: table-header-group;
        //}
    }


    // ---


    .c-table-body {
        //display: block;

        //@media (min-width: 1200px) {
            display: table-row-group;
        //}
    }


    // ---


    .c-table-row {
        // display: block;
        // border: 1px solid $color-brand-01;
        // background-color: white;
        // margin-bottom: 3rem;
        // padding: 2rem 0 0 0;

        //@media (min-width: 1200px) {
            display: table-row;
            border: none;
            margin: 0;
        //}


        // FX classes
        @for $i from 1 through 100 {
            &:nth-of-type(#{$i}) {
                &.fx-appear,
                &.fx-appear-from-bottom,
                &.fx-appear-from-left,
                &.fx-appear-from-right {
                    animation-delay: calc(#{$i} * .04s);
                }
            }
        }

        &.advanced-search {

            c-input {
                display: block;
                overflow: hidden;
                max-height: 0;
                padding-top: 0.5rem;
                transition: max-height .3s $ease-out-quad;
            }

            &[visible] {
                c-input {
                    max-height: 70px;
                }
            }


        }

    }


    // ---




    .c-table-header {
        //display: none;

        //@media (min-width: 1200px) {
            display: table-cell;

            // --- backgrounds
            background-color: $c-table-header-background-color;
            background-image: $c-table-header-background-image;
            background-position: $c-table-header-background-position;
            background-size: $c-table-header-background-size;
            background-repeat: $c-table-header-background-repeat;
            background-origin: $c-table-header-background-origin;
            background-clip: $c-table-header-background-clip;
            background-attachment: $c-table-header-background-attachment;


            // --- borders
            border-top-width: $c-table-header-border-top-width;
            border-right-width: $c-table-header-border-right-width;
            border-bottom-width: $c-table-header-border-bottom-width;
            border-left-width: $c-table-header-border-left-width;
            //
            border-top-style: $c-table-header-border-top-style;
            border-right-style: $c-table-header-border-right-style;
            border-bottom-style: $c-table-header-border-bottom-style;
            border-left-style: $c-table-header-border-left-style;
            //
            border-top-color: $c-table-header-border-top-color;
            border-right-color: $c-table-header-border-right-color;
            border-bottom-color: $c-table-header-border-bottom-color;
            border-left-color: $c-table-header-border-left-color;
            // border-radius
            border-top-left-radius: $c-table-header-border-top-left-radius;
            border-top-right-radius: $c-table-header-border-top-right-radius;
            border-bottom-left-radius: $c-table-header-border-bottom-left-radius;
            border-bottom-right-radius: $c-table-header-border-bottom-right-radius;


            // --- paddings
            padding-top: $c-table-header-padding-top;
            padding-right: $c-table-header-padding-right;
            padding-bottom: $c-table-header-padding-bottom;
            padding-left: $c-table-header-padding-left;


            // --- text
            color: $c-table-header-font-color;
            font-family: $c-table-header-font-family;
            font-size: $c-table-header-font-size;
            font-style: $c-table-header-font-style;
            font-variant: $c-table-header-font-variant;
            font-weight: $c-table-header-font-weight;
            letter-spacing: $c-table-header-letter-spacing;
            line-height: $c-table-header-line-height;
            text-align: $c-table-header-text-align;
            text-decoration: $c-table-header-text-decoration;
            text-indent: $c-table-header-text-indent;
            text-overflow: $c-table-header-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-table-header-text-transform;
            text-shadow: $c-table-header-text-shadow;
            vertical-align: $c-table-header-vertical-align;
            white-space: $c-table-header-white-space;
            word-spacing: $c-table-header-word-spacing;
            user-select: none;
        //}


        // variants
        &.content-is-text {
            width: auto;
        }
        &.content-is-checkbox {
            width: 3rem;
            text-align: center;
        }
        &.content-is-icon-button {
            padding: 0;
            margin: 0 auto 0 auto;
            width: 3.5rem;
            text-align: center;

        }
        &.content-is-context-menu {
            width: 7.5rem;
        }

        .table-sort-button {
            padding-top: 0.5rem;
            padding-right: 4rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            width: 100%;

            color: $c-table-header-font-color;
            font-family: $c-table-header-font-family;
            font-size: $c-table-header-font-size;
            font-style: $c-table-header-font-style;
            font-variant: $c-table-header-font-variant;
            font-weight: $c-table-header-font-weight;
            letter-spacing: $c-table-header-letter-spacing;
            line-height: $c-table-header-line-height;
            text-align: $c-table-header-text-align;
            text-decoration: $c-table-header-text-decoration;
            text-indent: $c-table-header-text-indent;
            text-overflow: $c-table-header-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-table-header-text-transform;
            text-shadow: $c-table-header-text-shadow;
            vertical-align: $c-table-header-vertical-align;
            white-space: $c-table-header-white-space;


            .icon-sort {
                position: absolute;
                right: 0.5rem;
                top: 0.5rem;
                opacity: 0;
                transform: scale(1);
                transition: transform .2s, opacity .2s;
            }

            &[data-sort-direction="ascending"] {
                .icon-sort {
                    opacity: 1;
                    transform: scale(1);
                }
            }
            &[data-sort-direction="descending"] {
                .icon-sort {
                    opacity: 1;
                    transform: scale(-1);
                }
            }

            &:hover {
                .icon-sort {
                    opacity: 1;
                }
            }
        }
    }


    // ---


    .c-table-cell {
        // display: block;
        // // --- backgrounds
        // background-color: $c-table-cell-background-color;
        // background-image: $c-table-cell-background-image;
        // background-position: $c-table-cell-background-position;
        // background-size: $c-table-cell-background-size;
        // background-repeat: $c-table-cell-background-repeat;
        // background-origin: $c-table-cell-background-origin;
        // background-clip: $c-table-cell-background-clip;
        // background-attachment: $c-table-cell-background-attachment;
        //
        //
        // // --- borders
        // border-top-width: $c-table-cell-border-top-width;
        // border-right-width: $c-table-cell-border-right-width;
        // border-bottom-width: $c-table-cell-border-bottom-width;
        // border-left-width: $c-table-cell-border-left-width;
        // //
        // border-top-style: $c-table-cell-border-top-style;
        // border-right-style: $c-table-cell-border-right-style;
        // border-bottom-style: $c-table-cell-border-bottom-style;
        // border-left-style: $c-table-cell-border-left-style;
        // //
        // border-top-color: $c-table-cell-border-top-color;
        // border-right-color: $c-table-cell-border-right-color;
        // border-bottom-color: $c-table-cell-border-bottom-color;
        // border-left-color: $c-table-cell-border-left-color;
        // // border-radius
        // border-top-left-radius: $c-table-cell-border-top-left-radius;
        // border-top-right-radius: $c-table-cell-border-top-right-radius;
        // border-bottom-left-radius: $c-table-cell-border-bottom-left-radius;
        // border-bottom-right-radius: $c-table-cell-border-bottom-right-radius;
        //
        //
        // // --- paddings
        // padding-top: $c-table-cell-padding-top;
        // padding-right: $c-table-cell-padding-right;
        // padding-bottom: $c-table-cell-padding-bottom;
        // padding-left: $c-table-cell-padding-left;
        //
        //
        // // --- text
        // color: $c-table-cell-font-color;
        // font-family: $c-table-cell-font-family;
        // font-size: $c-table-cell-font-size;
        // font-style: $c-table-cell-font-style;
        // font-variant: $c-table-cell-font-variant;
        // font-weight: $c-table-cell-font-weight;
        // letter-spacing: $c-table-cell-letter-spacing;
        // line-height: $c-table-cell-line-height;
        // text-align: $c-table-cell-text-align;
        // text-decoration: $c-table-cell-text-decoration;
        // text-indent: $c-table-cell-text-indent;
        // text-overflow: $c-table-cell-text-overflow;
        // text-rendering: geometricPrecision;
        // text-transform: $c-table-cell-text-transform;
        // text-shadow: $c-table-cell-text-shadow;
        // vertical-align: $c-table-cell-vertical-align;
        // white-space: $c-table-cell-white-space;
        // word-spacing: $c-table-cell-word-spacing;
        // user-select: none;
        //
        // &:before {
        //     content: attr(data-label);
        //     display: block;
        //     font-size: 1rem;
        //     margin-bottom: 0.25rem;
        //     color: $color-text-01;
        //     font-size: $font-size-s;
        // }
        //
        //
        //
        // // variants
        // &.content-is-amount {
        //     text-align: left;
        //     width: auto;
        // }
        // &.content-is-checkbox {
        //     display: none;
        // }
        // &.content-is-icon-button {
        //     padding: 0;
        //     width: 3rem;
        //     text-align: center;
        //
        //     .c-button {
        //         margin: 0 auto 0 auto;
        //     }
        // }
        // &.content-is-context-menu {
        //     width: 100%;
        //     text-align: left;
        //     background-color: $color-brand-01;
        //     padding-top: 0.5rem;
        //     padding-bottom: 0.5rem;
        //
        //     .c-context-menu {
        //         margin: 0 auto 0 auto;
        //
        //         .c-button {
        //             color: white;
        //             border-color: white;
        //
        //             .c-icon {
        //                 svg {
        //                     path: {
        //                         stroke: white;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        //
        // &.content-is-date {
        //     width: auto;
        // }
        // &.content-is-text {
        //     width: auto;
        // }
        // &.content-is-link {
        //     width: auto;
        //
        //     .c-link {
        //         font-size: $c-table-cell-font-size;
        //     }
        // }



        //@media (min-width: 1200px) {
            display: table-cell;

            // --- backgrounds
            background-color: $c-table-cell-desktop-background-color;
            background-image: $c-table-cell-desktop-background-image;
            background-position: $c-table-cell-desktop-background-position;
            background-size: $c-table-cell-desktop-background-size;
            background-repeat: $c-table-cell-desktop-background-repeat;
            background-origin: $c-table-cell-desktop-background-origin;
            background-clip: $c-table-cell-desktop-background-clip;
            background-attachment: $c-table-cell-desktop-background-attachment;


            // --- borders
            border-top-width: $c-table-cell-desktop-border-top-width;
            border-right-width: $c-table-cell-desktop-border-right-width;
            border-bottom-width: $c-table-cell-desktop-border-bottom-width;
            border-left-width: $c-table-cell-desktop-border-left-width;
            //
            border-top-style: $c-table-cell-desktop-border-top-style;
            border-right-style: $c-table-cell-desktop-border-right-style;
            border-bottom-style: $c-table-cell-desktop-border-bottom-style;
            border-left-style: $c-table-cell-desktop-border-left-style;
            //
            border-top-color: $c-table-cell-desktop-border-top-color;
            border-right-color: $c-table-cell-desktop-border-right-color;
            border-bottom-color: $c-table-cell-desktop-border-bottom-color;
            border-left-color: $c-table-cell-desktop-border-left-color;
            // border-radius
            border-top-left-radius: $c-table-cell-desktop-border-top-left-radius;
            border-top-right-radius: $c-table-cell-desktop-border-top-right-radius;
            border-bottom-left-radius: $c-table-cell-desktop-border-bottom-left-radius;
            border-bottom-right-radius: $c-table-cell-desktop-border-bottom-right-radius;


            // --- paddings
            padding-top: $c-table-cell-desktop-padding-top;
            padding-right: $c-table-cell-desktop-padding-right;
            padding-bottom: $c-table-cell-desktop-padding-bottom;
            padding-left: $c-table-cell-desktop-padding-left;


            // --- text
            color: $c-table-cell-desktop-font-color;
            font-family: $c-table-cell-desktop-font-family;
            font-size: $c-table-cell-desktop-font-size;
            font-style: $c-table-cell-desktop-font-style;
            font-variant: $c-table-cell-desktop-font-variant;
            font-weight: $c-table-cell-desktop-font-weight;
            letter-spacing: $c-table-cell-desktop-letter-spacing;
            line-height: $c-table-cell-desktop-line-height;
            text-align: $c-table-cell-desktop-text-align;
            text-decoration: $c-table-cell-desktop-text-decoration;
            text-indent: $c-table-cell-desktop-text-indent;
            text-overflow: $c-table-cell-desktop-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-table-cell-desktop-text-transform;
            text-shadow: $c-table-cell-desktop-text-shadow;
            vertical-align: $c-table-cell-desktop-vertical-align;
            white-space: $c-table-cell-desktop-white-space;
            word-spacing: $c-table-cell-desktop-word-spacing;
            user-select: none;


            // variants
            &.content-is-amount {
                width: auto;
                text-align: left;
            }
            &.content-is-date {
                width: auto;
            }
            &.content-is-text {
                width: auto;
            }
            &.content-is-link {
                width: auto;
            }
            &.content-is-checkbox {
                width: 3rem;
                text-align: center;
            }
            &.content-is-icon-button {
                padding: 0;
                width: 3rem;
                text-align: center;

                .c-button {
                    margin: 0 auto 0 auto;
                }
            }
            &.content-is-context-menu {
                width: 7rem;
                padding: 0;
                text-align: center;

                .c-context-menu {
                    margin: 0 auto 0 auto;
                }
            }
        //}
    }


    &.borderless {
        .c-table-row {
            border: none;
        }
        .c-table-cell {
            border: none;
        }
    }
}
