<!-- Divider -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Divider</h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-divider></c-divider>


        </section>
    </article>
</section>
