// c-calendar

.c-calendar {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;

    // --- background
    background-color: $c-calendar-background-color;
    background-image: $c-calendar-background-image;
    background-position: $c-calendar-background-position;
    background-size: $c-calendar-background-size;
    background-repeat: $c-calendar-background-repeat;
    background-origin: $c-calendar-background-origin;
    background-clip: $c-calendar-background-clip;
    background-attachment: $c-calendar-background-attachment;

    // --- borders
    border-top-width: $c-calendar-border-top-width;
    border-right-width: $c-calendar-border-right-width;
    border-bottom-width: $c-calendar-border-bottom-width;
    border-left-width: $c-calendar-border-left-width;
    border-top-style: $c-calendar-border-top-style;
    border-right-style: $c-calendar-border-right-style;
    border-bottom-style: $c-calendar-border-bottom-style;
    border-left-style: $c-calendar-border-left-style;
    border-top-color: $c-calendar-border-top-color;
    border-right-color: $c-calendar-border-right-color;
    border-bottom-color: $c-calendar-border-bottom-color;
    border-left-color: $c-calendar-border-left-color;
    border-top-left-radius: $c-calendar-border-top-left-radius;
    border-top-right-radius: $c-calendar-border-top-right-radius;
    border-bottom-left-radius: $c-calendar-border-bottom-left-radius;
    border-bottom-right-radius: $c-calendar-border-bottom-right-radius;


    // --- margins
    margin-top: $c-calendar-margin-top;
    margin-right: $c-calendar-margin-right;
    margin-bottom: $c-calendar-margin-bottom;
    margin-left: $c-calendar-margin-left;


    // --- sizing
    width: $c-calendar-width;
    min-width: $c-calendar-min-width;
    max-width: $c-calendar-max-width;
    height: $c-calendar-height;
    min-height: $c-calendar-min-height;
    max-height: $c-calendar-max-height;

    th {
        text-align: center;
    }


    .c-button.is-button-ghost-icon .c-icon svg path {
        fill: $c-calender-button-arrow-color;
    }
}


// days
.c-calendar_day {
    min-width: 2.5rem;

    // --- background
    background-color: $c-calendar-day-background-color;
    background-image: $c-calendar-day-background-image;
    background-position: $c-calendar-day-background-position;
    background-size: $c-calendar-day-background-size;
    background-repeat: $c-calendar-day-background-repeat;
    background-origin: $c-calendar-day-background-origin;
    background-clip: $c-calendar-day-background-clip;
    background-attachment: $c-calendar-day-background-attachment;

    // --- borders
    border-top-width: $c-calendar-day-border-top-width;
    border-right-width: $c-calendar-day-border-right-width;
    border-bottom-width: $c-calendar-day-border-bottom-width;
    border-left-width: $c-calendar-day-border-left-width;
    border-top-style: $c-calendar-day-border-top-style;
    border-right-style: $c-calendar-day-border-right-style;
    border-bottom-style: $c-calendar-day-border-bottom-style;
    border-left-style: $c-calendar-day-border-left-style;
    border-top-color: $c-calendar-day-border-top-color;
    border-right-color: $c-calendar-day-border-right-color;
    border-bottom-color: $c-calendar-day-border-bottom-color;
    border-left-color: $c-calendar-day-border-left-color;
    border-top-left-radius: $c-calendar-day-border-top-left-radius;
    border-top-right-radius: $c-calendar-day-border-top-right-radius;
    border-bottom-left-radius: $c-calendar-day-border-bottom-left-radius;
    border-bottom-right-radius: $c-calendar-day-border-bottom-right-radius;


    // --- margins
    margin-top: $c-calendar-day-margin-top;
    margin-right: $c-calendar-day-margin-right;
    margin-bottom: $c-calendar-day-margin-bottom;
    margin-left: $c-calendar-day-margin-left;

    // --- paddings
    padding-top: $c-calendar-day-padding-top;
    padding-right: $c-calendar-day-padding-right;
    padding-bottom: $c-calendar-day-padding-bottom;
    padding-left: $c-calendar-day-padding-left;

    // --- text
    color: $c-calendar-day-font-color;
    font-family: $c-calendar-day-font-family;
    font-size: $c-calendar-day-font-size;
    font-style: $c-calendar-day-font-style;
    font-variant: $c-calendar-day-font-variant;
    font-weight: $c-calendar-day-font-weight;
    letter-spacing: $c-calendar-day-letter-spacing;
    line-height: $c-calendar-day-line-height;
    text-align: $c-calendar-day-text-align;
    text-decoration: $c-calendar-day-text-decoration;
    text-indent: $c-calendar-day-text-indent;
    text-overflow: $c-calendar-day-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-calendar-day-text-transform;
    text-shadow: $c-calendar-day-text-shadow;
    vertical-align: $c-calendar-day-vertical-align;
    white-space: $c-calendar-day-white-space;
    word-spacing: $c-calendar-day-word-spacing;

    &[aria-current] {
        color: $c-calendar-today-font-color;
        font-weight: $font-weight-regular;
        background-color: $c-calendar-today-background-color;
    }
    &.selected-date {
        color: $c-calendar-selected-day-font-color;
        font-weight: $c-calendar-selected-day-font-weight;
        background-color: $c-calendar-selected-day-background-color;

        &:focus {
            outline: 0;
            border-color: $c-calendar-selected-day-outline-color;
        }
    }
    &.other-month {
        color: $c-calendar-disabled-day-font-color;
        font-weight: $c-calendar-disabled-day-font-weight;
        background-color: $c-calendar-disabled-day-background-color;
        &:hover {
            color: $c-calendar-disabled-day-font-color;
            font-weight: $c-calendar-disabled-day-font-weight;
            background-color: $c-calendar-disabled-day-background-color;
        }
    }
    &:hover {
        cursor: pointer;
        color: $c-calendar-day-hover-font-color;
        font-weight: $c-calendar-day-hover-font-weight;
        background-color: $c-calendar-day-hover-background-color;
    }
    &.out-of-range {
        cursor: not-allowed;
        color: rgba($c-calendar-day-font-color, 0.3);
        &:hover {
            color: rgba($c-calendar-day-font-color, 0.3);
            background-color: $c-calendar-day-background-color;
        }
    }
}


// months
.c-calendar_month {
    // --- background
    background-color: $c-calendar-month-background-color;
    background-image: $c-calendar-month-background-image;
    background-position: $c-calendar-month-background-position;
    background-size: $c-calendar-month-background-size;
    background-repeat: $c-calendar-month-background-repeat;
    background-origin: $c-calendar-month-background-origin;
    background-clip: $c-calendar-month-background-clip;
    background-attachment: $c-calendar-month-background-attachment;

    // --- borders
    border-top-width: $c-calendar-month-border-top-width;
    border-right-width: $c-calendar-month-border-right-width;
    border-bottom-width: $c-calendar-month-border-bottom-width;
    border-left-width: $c-calendar-month-border-left-width;
    border-top-style: $c-calendar-month-border-top-style;
    border-right-style: $c-calendar-month-border-right-style;
    border-bottom-style: $c-calendar-month-border-bottom-style;
    border-left-style: $c-calendar-month-border-left-style;
    border-top-color: $c-calendar-month-border-top-color;
    border-right-color: $c-calendar-month-border-right-color;
    border-bottom-color: $c-calendar-month-border-bottom-color;
    border-left-color: $c-calendar-month-border-left-color;
    border-top-left-radius: $c-calendar-month-border-top-left-radius;
    border-top-right-radius: $c-calendar-month-border-top-right-radius;
    border-bottom-left-radius: $c-calendar-month-border-bottom-left-radius;
    border-bottom-right-radius: $c-calendar-month-border-bottom-right-radius;


    // --- margins
    margin-top: $c-calendar-month-margin-top;
    margin-right: $c-calendar-month-margin-right;
    margin-bottom: $c-calendar-month-margin-bottom;
    margin-left: $c-calendar-month-margin-left;

    // --- paddings
    padding-top: $c-calendar-month-padding-top;
    padding-right: $c-calendar-month-padding-right;
    padding-bottom: $c-calendar-month-padding-bottom;
    padding-left: $c-calendar-month-padding-left;

    // --- text
    color: $c-calendar-month-font-color;
    font-family: $c-calendar-month-font-family;
    font-size: $c-calendar-month-font-size;
    font-style: $c-calendar-month-font-style;
    font-variant: $c-calendar-month-font-variant;
    font-weight: $c-calendar-month-font-weight;
    letter-spacing: $c-calendar-month-letter-spacing;
    line-height: $c-calendar-month-line-height;
    text-align: $c-calendar-month-text-align;
    text-decoration: $c-calendar-month-text-decoration;
    text-indent: $c-calendar-month-text-indent;
    text-overflow: $c-calendar-month-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-calendar-month-text-transform;
    text-shadow: $c-calendar-month-text-shadow;
    vertical-align: $c-calendar-month-vertical-align;
    white-space: $c-calendar-month-white-space;
    word-spacing: $c-calendar-month-word-spacing;
}



// years
.c-calendar_year {
    // --- background
    background-color: $c-calendar-year-background-color;
    background-image: $c-calendar-year-background-image;
    background-position: $c-calendar-year-background-position;
    background-size: $c-calendar-year-background-size;
    background-repeat: $c-calendar-year-background-repeat;
    background-origin: $c-calendar-year-background-origin;
    background-clip: $c-calendar-year-background-clip;
    background-attachment: $c-calendar-year-background-attachment;

    // --- borders
    border-top-width: $c-calendar-year-border-top-width;
    border-right-width: $c-calendar-year-border-right-width;
    border-bottom-width: $c-calendar-year-border-bottom-width;
    border-left-width: $c-calendar-year-border-left-width;
    border-top-style: $c-calendar-year-border-top-style;
    border-right-style: $c-calendar-year-border-right-style;
    border-bottom-style: $c-calendar-year-border-bottom-style;
    border-left-style: $c-calendar-year-border-left-style;
    border-top-color: $c-calendar-year-border-top-color;
    border-right-color: $c-calendar-year-border-right-color;
    border-bottom-color: $c-calendar-year-border-bottom-color;
    border-left-color: $c-calendar-year-border-left-color;
    border-top-left-radius: $c-calendar-year-border-top-left-radius;
    border-top-right-radius: $c-calendar-year-border-top-right-radius;
    border-bottom-left-radius: $c-calendar-year-border-bottom-left-radius;
    border-bottom-right-radius: $c-calendar-year-border-bottom-right-radius;


    // --- margins
    margin-top: $c-calendar-year-margin-top;
    margin-right: $c-calendar-year-margin-right;
    margin-bottom: $c-calendar-year-margin-bottom;
    margin-left: $c-calendar-year-margin-left;

    // --- paddings
    padding-top: $c-calendar-year-padding-top;
    padding-right: $c-calendar-year-padding-right;
    padding-bottom: $c-calendar-year-padding-bottom;
    padding-left: $c-calendar-year-padding-left;

    // --- text
    color: $c-calendar-year-font-color;
    font-family: $c-calendar-year-font-family;
    font-size: $c-calendar-year-font-size;
    font-style: $c-calendar-year-font-style;
    font-variant: $c-calendar-year-font-variant;
    font-weight: $c-calendar-year-font-weight;
    letter-spacing: $c-calendar-year-letter-spacing;
    line-height: $c-calendar-year-line-height;
    text-align: $c-calendar-year-text-align;
    text-decoration: $c-calendar-year-text-decoration;
    text-indent: $c-calendar-year-text-indent;
    text-overflow: $c-calendar-year-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-calendar-year-text-transform;
    text-shadow: $c-calendar-year-text-shadow;
    vertical-align: $c-calendar-year-vertical-align;
    white-space: $c-calendar-year-white-space;
    word-spacing: $c-calendar-year-word-spacing;
}


// weekdays
.c-calendar_weekday {
    position: relative;

    // --- background
    background-color: transparent;
    background-image: $c-calendar-weekday-background-image;
    background-position: $c-calendar-weekday-background-position;
    background-size: $c-calendar-weekday-background-size;
    background-repeat: $c-calendar-weekday-background-repeat;
    background-origin: $c-calendar-weekday-background-origin;
    background-clip: $c-calendar-weekday-background-clip;
    background-attachment: $c-calendar-weekday-background-attachment;

    // --- borders
    border-top-width: $c-calendar-weekday-border-top-width;
    border-right-width: $c-calendar-weekday-border-right-width;
    border-bottom-width: $c-calendar-weekday-border-bottom-width;
    border-left-width: $c-calendar-weekday-border-left-width;
    border-top-style: $c-calendar-weekday-border-top-style;
    border-right-style: $c-calendar-weekday-border-right-style;
    border-bottom-style: $c-calendar-weekday-border-bottom-style;
    border-left-style: $c-calendar-weekday-border-left-style;
    border-top-color: $c-calendar-weekday-border-top-color;
    border-right-color: $c-calendar-weekday-border-right-color;
    border-bottom-color: $c-calendar-weekday-border-bottom-color;
    border-left-color: $c-calendar-weekday-border-left-color;
    border-top-left-radius: $c-calendar-weekday-border-top-left-radius;
    border-top-right-radius: $c-calendar-weekday-border-top-right-radius;
    border-bottom-left-radius: $c-calendar-weekday-border-bottom-left-radius;
    border-bottom-right-radius: $c-calendar-weekday-border-bottom-right-radius;


    // --- margins
    margin-top: $c-calendar-weekday-margin-top;
    margin-right: $c-calendar-weekday-margin-right;
    margin-bottom: $c-calendar-weekday-margin-bottom;
    margin-left: $c-calendar-weekday-margin-left;

    // --- paddings
    padding-top: $c-calendar-weekday-padding-top;
    padding-right: $c-calendar-weekday-padding-right;
    padding-bottom: $c-calendar-weekday-padding-bottom;
    padding-left: $c-calendar-weekday-padding-left;

    // --- text
    color: $c-calendar-weekday-font-color;
    font-family: $c-calendar-weekday-font-family;
    font-size: $c-calendar-weekday-font-size;
    font-style: $c-calendar-weekday-font-style;
    font-variant: $c-calendar-weekday-font-variant;
    font-weight: $c-calendar-weekday-font-weight;
    letter-spacing: $c-calendar-weekday-letter-spacing;
    line-height: $c-calendar-weekday-line-height;
    text-align: $c-calendar-weekday-text-align;
    text-decoration: $c-calendar-weekday-text-decoration;
    text-indent: $c-calendar-weekday-text-indent;
    text-overflow: $c-calendar-weekday-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-calendar-weekday-text-transform;
    text-shadow: $c-calendar-weekday-text-shadow;
    vertical-align: $c-calendar-weekday-vertical-align;
    white-space: $c-calendar-weekday-white-space;
    word-spacing: $c-calendar-weekday-word-spacing;
    user-select: none;

    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        left: 0rem - $c-calendar-weekday-padding-left;
        top: ($c-calendar-weekday-padding-top / 2);
        height: calc(100% - #{$c-calendar-weekday-padding-top / 2} - #{$c-calendar-weekday-padding-bottom / 2});
        width: calc(100% + #{$c-calendar-weekday-padding-left} + #{$c-calendar-weekday-padding-right});
        background-color: $c-calendar-weekday-background-color;
        z-index: -1;
    }

    &:first-of-type {
        &:before {
            left: 0rem - 1rem - $c-calendar-weekday-padding-left;
            width: calc(100% + #{$c-calendar-weekday-padding-left} + #{$c-calendar-weekday-padding-right} + 1rem);
        }
    }
    &:last-of-type {
        &:before {
            width: calc(100% + #{$c-calendar-weekday-padding-left} + #{$c-calendar-weekday-padding-right} + 1rem);
        }
    }
}
