// c-datepicker

.c-datepicker {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.c-datepicker_input {
    display: table-cell;
    vertical-align: top;
    width: auto;
}
.c-datepicker_button {
    display: table-cell;
    vertical-align: top;
    padding-top: 2rem;
    padding-left: 0;
    width: 3rem;
}

.c-datepicker_calendar {
    position: absolute;
    right: 0;
    top: 5rem;
    display: inline-block;
    overflow: hidden;

    // --- background
    background-color: $c-datepicker-calendar-background-color;
    background-image: $c-datepicker-calendar-background-image;
    background-position: $c-datepicker-calendar-background-position;
    background-size: $c-datepicker-calendar-background-size;
    background-repeat: $c-datepicker-calendar-background-repeat;
    background-origin: $c-datepicker-calendar-background-origin;
    background-clip: $c-datepicker-calendar-background-clip;
    background-attachment: $c-datepicker-calendar-background-attachment;


    // --- box-shadow
    box-shadow: $c-datepicker-calendar-box-shadow;

    // --- paddings
    padding-top: $c-datepicker-calendar-padding-top;
    padding-right: $c-datepicker-calendar-padding-right;
    padding-bottom: $c-datepicker-calendar-padding-bottom;
    padding-left: $c-datepicker-calendar-padding-left;

    &[hidden] {
        display: none;
    }
}
