<!-- Breadcrumbs -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Components</h3>
        <section class="styleguide-overview fx-appear-from-bottom">

            <a href="components/accordion" class="styleguide-overview_item">
                <h4>Accordion</h4>
                <c-accordion id="accordion-id-01">
                    <c-accordion-button>
                        <c-icon is="icon-arrow-right" css="circle-outline"></c-icon>
                        Accordion item 1
                    </c-accordion-button>
                    <c-accordion-region>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </c-accordion-region>
                </c-accordion>
                <c-accordion id="accordion-id-02">
                    <c-accordion-button>
                        <c-icon is="icon-arrow-right" css="circle-outline"></c-icon>
                        Accordion item 2
                    </c-accordion-button>
                    <c-accordion-region>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </c-accordion-region>
                </c-accordion>
            </a>
            <a href="components/breadcrumbs" class="styleguide-overview_item">
                <h4>Breadcrumbs</h4>
                <c-breadcrumbs>
                    <c-breadcrumb link="/home">Breadcrumb</c-breadcrumb>
                </c-breadcrumbs>
            </a>

            <a href="components/buttons/button-primary" class="styleguide-overview_item">
                <h4>Buttons: primary</h4>
                <c-button is="button-primary" task="demo-purpose">button primary</c-button>
            </a>

            <a href="components/buttons/button-secondary" class="styleguide-overview_item">
                <h4>Buttons: secondary</h4>
                <c-button is="button-secondary" task="demo-purpose">button secondary</c-button>
            </a>

            <a href="components/buttons/button-ghost" class="styleguide-overview_item">
                <h4>Buttons: ghost</h4>
                <c-button is="button-ghost" task="demo-purpose">button ghost</c-button>
            </a>


            <a href="components/charts/bar-chart" class="styleguide-overview_item">
                <h4>Charts: bar-chart</h4>
                <c-chart is="bar-chart" css="size-small">
                    <c-chart-item label="bar" value="14.345,55" percentage="70" color="color-accent-12"></c-chart-item>
                    <c-chart-item label="bar" value="5.345,55" percentage="60" color="color-accent-02"></c-chart-item>
                    <c-chart-item label="bar" value="2.345,55" percentage="50" color="color-accent-06"></c-chart-item>
                    <c-chart-item label="bar" value="2.345,55" percentage="40" color="color-accent-10"></c-chart-item>
                    <c-chart-item label="bar" value="2.345,55" percentage="30" color="color-accent-04"></c-chart-item>
                </c-chart>
            </a>


            <a href="components/charts/column-chart" class="styleguide-overview_item" style="height: 300px;">
                <h4>Charts: column-chart</h4>
                <c-chart is="column-chart" css="size-small">
                    <c-chart-item label="column" value="14.345,55" percentage="70" color="color-accent-12"></c-chart-item>
                    <c-chart-item label="column" value="5.345,55" percentage="60" color="color-accent-02"></c-chart-item>
                    <c-chart-item label="column" value="2.345,55" percentage="50" color="color-accent-06"></c-chart-item>
                    <c-chart-item label="column" value="2.345,55" percentage="40" color="color-accent-10"></c-chart-item>
                    <c-chart-item label="column" value="2.345,55" percentage="30" color="color-accent-04"></c-chart-item>
                </c-chart>
            </a>


            <a href="components/charts/donut-chart" class="styleguide-overview_item" style="height: 300px;">
                <h4>Charts: donut-chart</h4>
                <c-chart is="donut-chart" css="size-small">
                    <c-chart-item label="donut chart" value="25.000" percentage="25" color="color-accent-10"></c-chart-item>
                    <c-chart-item label=" " value="75.000,00" percentage="75" color="color-ui-04"></c-chart-item>
                </c-chart>
            </a>


            <a href="components/charts/pie-chart" class="styleguide-overview_item" style="height: 300px;">
                <h4>Charts: pie-chart</h4>
                <c-chart is="pie-chart" css="size-small">
                    <c-chart-item label="pie chart" value="14.345,55" percentage="20" color="color-accent-12"></c-chart-item>
                    <c-chart-item label="pie chart" value="5.345,55" percentage="25" color="color-accent-02"></c-chart-item>
                    <c-chart-item label="pie chart" value="2.345,55" percentage="20" color="color-accent-06"></c-chart-item>
                    <c-chart-item label="pie chart" value="2.345,55" percentage="10" color="color-accent-10"></c-chart-item>
                    <c-chart-item label="pie chart" value="2.345,55" percentage="10" color="color-accent-04"></c-chart-item>
                    <c-chart-item label="pie chart" value="2.345,55" percentage="15" color="color-accent-08"></c-chart-item>
                </c-chart>
            </a>


            <a href="components/charts/spline-chart" class="styleguide-overview_item" style="height: 300px;">
                <h4>Charts: spline-chart</h4>
                <c-chart is="spline-chart">
                    <c-chart-item label="i am a label" value="14.345,55" percentage="53" month="januari" year="2019"></c-chart-item>
                    <c-chart-item label="i am a label" value="14.345,55" percentage="43" month="februari" year="2019"></c-chart-item>
                    <c-chart-item label="i am a label" value="14.345,55" percentage="37" month="march" year="2019" selected></c-chart-item>
                    <c-chart-item label="i am a label" value="14.345,55" percentage="46" month="april" year="2019"></c-chart-item>
                </c-chart>
            </a>


            <a href="components/charts/stacked-bar-chart" class="styleguide-overview_item" style="height: 300px;">
                <h4>Charts: stacked-bar-chart</h4>
                <c-chart is="stacked-bar-chart" css="size-small">
                    <c-chart-item label=" " value="14.345,55" percentage="20" color="color-accent-12"></c-chart-item>
                    <c-chart-item label=" " value="5.345,55" percentage="25" color="color-accent-02"></c-chart-item>
                    <c-chart-item label=" " value="2.345,55" percentage="20" color="color-accent-06"></c-chart-item>
                    <c-chart-item label=" " value="2.345,55" percentage="10" color="color-accent-10"></c-chart-item>
                    <c-chart-item label=" " value="2.345,55" percentage="10" color="color-accent-04"></c-chart-item>
                    <c-chart-item label=" " value="2.345,55" percentage="15" color="color-accent-08"></c-chart-item>
                </c-chart>
            </a>


            <a href="components/charts/stacked-column-chart" class="styleguide-overview_item" style="height: 300px;">
                <h4>Charts: stacked-column-chart</h4>
                <c-chart is="stacked-column-chart" css="size-small">
                    <c-chart-item label=" " value="14.345,55" percentage="20" color="color-accent-12"></c-chart-item>
                    <c-chart-item label=" " value="5.345,55" percentage="25" color="color-accent-02"></c-chart-item>
                    <c-chart-item label=" " value="2.345,55" percentage="20" color="color-accent-06"></c-chart-item>
                    <c-chart-item label=" " value="2.345,55" percentage="10" color="color-accent-10"></c-chart-item>
                    <c-chart-item label=" " value="2.345,55" percentage="10" color="color-accent-04"></c-chart-item>
                    <c-chart-item label=" " value="2.345,55" percentage="15" color="color-accent-08"></c-chart-item>
                </c-chart>
            </a>

            <a href="components/context-menu" class="styleguide-overview_item">
                <h4>Context-menu</h4>
                <c-context-menu  id="context-menu-01">
                    <c-button id="button1" is="button-primary" task="context-menu-toggle">
                        Action
                        <c-icon is="icon-arrow"></c-icon>
                    </c-button>
                    <c-list is="context">
                        <c-list-item>
                            <c-link link="/components" css="list-item">Go to something</c-link>
                        </c-list-item>
                        <c-list-item>
                            <c-link link="/components" css="list-item">Go to something else</c-link>
                        </c-list-item>
                    </c-list>
                </c-context-menu>
            </a>


            <a href="components/divider" class="styleguide-overview_item">
                <h4>Divider</h4>
                <c-divider></c-divider>
            </a>

            <a href="components/filters/quickfilter" class="styleguide-overview_item">
                <h4>Quickfilter</h4>
                <c-quickfilter id="quifilter-01" task="demo-purpose">Quickfilter</c-quickfilter>
            </a>

            <a href="components/flash-message" class="styleguide-overview_item">
                <h4>Flash message</h4>
                <c-notification is="flash-success" visible="true">
                    <c-button is="button-ghost-icon" task="toggle">
                        <span class="hidden-label">Close</span>
                        <c-icon is="icon-close"></c-icon>
                    </c-button>
                    <h3>Flash</h3>
                    <p>
                        A flash message.
                    </p>
                </c-notification>
            </a>

            <a href="components/forms/input-checkbox" class="styleguide-overview_item">
                <h4>Forms: checkbox</h4>
                <c-checkbox is="checkbox" id="checkboxID" task="demo-purpose"  label="Checkbox"></c-checkbox>
            </a>

            <a href="components/forms/input-checkbox" class="styleguide-overview_item">
                <h4>Forms: datepicker</h4>
                <c-datepicker
                    weekdays="Mon,Tue,Wed,Thu,Fri,Sat,Sun"
                    months="januari,februari,march,april,may,june,july,august,september,october,november,december"
                    notation="mm/dd/yyyy"
                    iso="en-GB"
                    label-year-next="Next year"
                    label-year-previous="Previous year"
                    label-month-next="Next month"
                    label-month-previous="Previous month"
                >
                    <c-input
                        is="text"
                        value=""
                        placeholder="mm/dd/yyyy"
                        id="datepicker-01-input"
                        pattern="((0[1-9]|1[0-2])/(0[1-9]|[12]\d|3[01])/[12]\d{3})"
                        error-message-pattern="Error. The date format is incorrect"
                        error-message-required="Error. This is a required field"
                    >
                        Date
                    </c-input>
                    <c-button task="datepicker-toggle" is="button-primary-icon" id="datepicker-01-button">
                        <span class="hidden-label">Select a date</span>
                        <c-icon is="icon-datepicker"></c-icon>
                    </c-button>
                </c-datepicker>
            </a>

            <a href="components/forms/dropdown" class="styleguide-overview_item">
                <h4>Forms: dropdown</h4>
                <c-dropdown>
                    <c-input is="text" value="" placeholder="Start typing.." id="id-input-01" name="inputfield"></c-input>
                    <c-button is="button-ghost-icon" task="clear">
                        <span class="hidden-label">Clear</span>
                        <c-icon is="icon-clear"></c-icon>
                    </c-button>
                    <c-button is="button-ghost-icon" task="toggle">
                        <span class="hidden-label">Toggle</span>
                        <c-icon is="icon-arrow-down"></c-icon>
                    </c-button>
                    <c-options id="id-options-01" label="options-label" label-no-results="There are no results">
                        <c-option id="id-opion-01">Option 1</c-option>
                        <c-option id="id-opion-02">Option 2</c-option>
                    </c-options>
                </c-dropdown>
            </a>

            <a href="components/forms/fieldset" class="styleguide-overview_item">
                <h4>Forms: fieldset</h4>
                <c-fieldset legend="fieldset"></c-fieldset>
            </a>

            <a href="components/forms/input-text" class="styleguide-overview_item">
                <h4>Forms: input</h4>
                <c-input
                    is="text"
                    value=""
                    placeholder="Placeholder text"
                    id="id-input-01"
                    name="inputfield"
                    pattern="^[a-zA-Z ]+$"
                    required
                    error-message-pattern="Error. The text can only contain letters"
                    error-message-required="Error. This is a required field">
                    Input label
                </c-input>
            </a>

            <a href="components/forms/options" class="styleguide-overview_item">
                <h4>Forms: options</h4>
                <c-options id="id-options-11" label="options-label" label-no-results="There are no results">
                    <c-option id="id-opion-11">Option 1</c-option>
                    <c-option id="id-opion-12">Option 2</c-option>
                </c-options>
            </a>

            <a href="components/forms/input-radio" class="styleguide-overview_item">
                <h4>Forms: radio</h4>
                <c-radio is="radio" id="radioID" value="some value" name="c-radio-01" checked>Radio</c-radio>
            </a>

            <a href="components/forms/search" class="styleguide-overview_item">
                <h4>Forms: search</h4>
                <c-search>
                    <c-input is="text" value="" placeholder="e.g. 200003" id="search-id-01" name="inputfield">Search</c-input>
                    <c-button is="button-secondary-icon" task="search">
                        <span class="hidden-label">Search</span>
                        <c-icon is="icon-search"></c-icon>
                    </c-button>
                </c-search>
            </a>

            <a href="components/forms/input-switch" class="styleguide-overview_item">
                <h4>Forms: switch</h4>
                <c-checkbox is="switch" id="checkboxID"  task="demo-purpose" label="Switch"></c-checkbox>
            </a>

            <a href="components/forms/input-textarea" class="styleguide-overview_item">
                <h4>Forms: textarea</h4>
                <c-textarea
                    value=""
                    placeholder="Placeholder text"
                    id="textarea-id-01"
                    name="textarea"
                    pattern="^[a-zA-Z ]+$"
                    required
                    error-message-pattern="Error. The text can only contain letters"
                    error-message-required="Error. This is a required field">
                        Textarea label
                </c-textarea>
            </a>

            <a href="components/forms/upload" class="styleguide-overview_item">
                <h4>Forms: upload</h4>
                <c-upload
                    id="upload-id-01"
                    accept="image/png, image/jpeg"
                    max-nr-of-files="3"
                    max-filesize="100000000"
                    error-message-nr-of-files="Error. you can select a maximum of 3 files at the same time"
                    error-message-filesize="Error. Exceeded the (total) file size of 100Mb."
                    error-message-filetype="Error. This filetype is not allowed"
                    >
                    Select a file
                </c-upload>
            </a>




            <a href="components/lists/context" id="contect-id-01" class="styleguide-overview_item">
                <h4>Lists: context</h4>
                <c-list is="context">
                    <c-list-item>
                        <c-link link="/path" css="list-item">Context list</c-link>
                    </c-list-item>
                    <c-list-item>
                        <c-link link="/path" css="list-item">Context list</c-link>
                    </c-list-item>
                </c-list>
            </a>

            <a href="components/lists/ordered" class="styleguide-overview_item">
                <h4>Lists: ordered</h4>
                <c-list is="ordered">
                    <c-list-item>Ordered list</c-list-item>
                    <c-list-item>Ordered list</c-list-item>
                </c-list>
            </a>

            <a href="components/lists/quicklinks" class="styleguide-overview_item">
                <h4>Lists: quicklinks</h4>
                <c-list is="quicklink">
                    <c-list-item>
                        <c-link link="/path" css="list-item">Quicklink</c-link>
                    </c-list-item>
                    <c-list-item>
                        <c-link link="/path" css="list-item">Quicklink</c-link>
                    </c-list-item>
                </c-list>
            </a>


            <a href="components/lists/unordered" class="styleguide-overview_item">
                <h4>Lists: unordered</h4>
                <c-list is="unordered">
                    <c-list-item>Unordered list</c-list-item>
                    <c-list-item>Unordered list</c-list-item>
                </c-list>
            </a>


            <a href="components/loader" class="styleguide-overview_item">
                <h4>Loader</h4>
                <c-loader css="size-small"></c-loader>
            </a>


            <a href="components/modal" class="styleguide-overview_item">
                <h4>Modal</h4>
                <c-modal id="modal-id-01" title="I am a modal" label-button-close="Close" visible="true">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi quam, eleifend pharetra viverra ac, vehicula et nisi.</p>
                </c-modal>
            </a>


            <a href="components/notification" class="styleguide-overview_item">
                <h4>Notifications</h4>
                <c-notification is="notification-error" visible="true">
                    <c-button is="button-ghost-icon" task="toggle">
                        <span class="hidden-label">Close</span>
                        <c-icon is="icon-close"></c-icon>
                    </c-button>
                    <h3>Error</h3>
                    <p>
                        Ooooops....
                    </p>
                </c-notification>
            </a>

            <a href="components/pagination" class="styleguide-overview_item">
                <h4>Pagination</h4>
                <c-pagination page="7" results="200" items="10">

                    <c-button is="button-ghost-icon" task="previous">
                        <span class="hidden-label">Previous page</span>
                        <c-icon is="icon-arrow-left"></c-icon>
                    </c-button>

                    <c-dropdown>
                        <c-input is="text" value="" placeholder=" " id="pagination-id-01" name="inputfield"></c-input>

                        <c-button is="button-ghost-icon" task="toggle">
                            <span class="hidden-label">Toggle</span>
                            <c-icon is="icon-arrow-down"></c-icon>
                        </c-button>

                        <c-options id="id-options-01" label="options-label" label-no-results="No results">
                            <c-option id="pagination-option-01">1</c-option>
                        </c-options>
                    </c-dropdown>

                    <c-button is="button-ghost-icon" task="next">
                        <span class="hidden-label">Previous page</span>
                        <c-icon is="icon-arrow-right"></c-icon>
                    </c-button>

                </c-pagination>
            </a>

            <a href="components/progress-bar" class="styleguide-overview_item">
                <h4>progress-bar</h4>
                <c-progress-bar progress="60" label-max-range="You have reached the max range" label-progress></c-progress-bar>
            </a>

            <a href="components/table" class="styleguide-overview_item">
                <h4>Table</h4>
                <c-table>
                    <c-table-head>
                        <c-table-row>
                            <c-table-header>Heading 1</c-table-header>
                        </c-table-row>
                    </c-table-head>
                    <c-table-body>
                        <c-table-row>
                            <c-table-cell>Row 1, Datacel 1</c-table-cell>
                        </c-table-row>
                        <c-table-row>
                            <c-table-cell>Row 2, Datacel 3</c-table-cell>
                        </c-table-row>
                    </c-table-body>
                </c-table>
            </a>

            <a href="components/tabs" class="styleguide-overview_item">
                <h4>Tabs</h4>
                <c-tab id="tab01" selected>Tab</c-tab>
            </a>

            <a href="components/text/headings" class="styleguide-overview_item">
                <h4>Text: headings</h4>
                <h3 class="is-center-aligned">Headings &lt;h1.. 6&gt;</h3>
            </a>

            <a href="components/text/link" class="styleguide-overview_item">
                <h4>Text: link</h4>
                <c-link link="#">Link</c-link>
            </a>

            <a href="components/text/paragraph" class="styleguide-overview_item">
                <h4>Text: paragraph</h4>
                <p>Lorum ipsum ... <br /> &lt;p&gt; Paragraph</p>
            </a>

            <a href="components/tile" class="styleguide-overview_item">
                <h4>Tile</h4>
                <c-tile
                    draggable
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-01"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="adaptiveportalconfiguration" label="Tile label"></c-tile-icon>
                        <h3>Tile</h3>
                </c-tile>
            </a>

            <a href="components/tooltip" class="styleguide-overview_item">
                <h4>Tooltip</h4>
                <c-tooltip id="tooltip-01" text="Hi! I am a tooltip"></c-tooltip>
            </a>

        </section>
    </article>
</section>
