// datepicker


// --- background
$c-datepicker-calendar-background-color: $color-white;
$c-datepicker-calendar-background-image: none;
$c-datepicker-calendar-background-position: initial;
$c-datepicker-calendar-background-size: initial;
$c-datepicker-calendar-background-repeat: initial;
$c-datepicker-calendar-background-origin: initial;
$c-datepicker-calendar-background-clip: initial;
$c-datepicker-calendar-background-attachment: initial;


// --- box-shadow
$c-datepicker-calendar-box-shadow: 0px 2px 10px 0px rgba($color-black, 0.2);


// --- paddings
$c-datepicker-calendar-padding-top: 0.5rem;
$c-datepicker-calendar-padding-right: 0.5rem;
$c-datepicker-calendar-padding-bottom: 0.5rem;
$c-datepicker-calendar-padding-left: 0.5rem;
