// datepicker


// --- background
$c-calendar-weekday-background-color: $color-ui-02;
$c-calendar-weekday-background-image: none;
$c-calendar-weekday-background-position: initial;
$c-calendar-weekday-background-size: initial;
$c-calendar-weekday-background-repeat: initial;
$c-calendar-weekday-background-origin: initial;
$c-calendar-weekday-background-clip: initial;
$c-calendar-weekday-background-attachment: initial;


// --- borders
// top
$c-calendar-weekday-border-top-width: 1px;
$c-calendar-weekday-border-top-style: solid;
$c-calendar-weekday-border-top-color: rgba($color-brand-01, 0);
// right
$c-calendar-weekday-border-right-width: 0px;
$c-calendar-weekday-border-right-style: solid;
$c-calendar-weekday-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-calendar-weekday-border-bottom-width: 1px;
$c-calendar-weekday-border-bottom-style: solid;
$c-calendar-weekday-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-calendar-weekday-border-left-width: 1px;
$c-calendar-weekday-border-left-style: solid;
$c-calendar-weekday-border-left-color: rgba($color-brand-01, 0);
// radius
$c-calendar-weekday-border-top-left-radius: 0;
$c-calendar-weekday-border-top-right-radius: 0;
$c-calendar-weekday-border-bottom-left-radius: 0;
$c-calendar-weekday-border-bottom-right-radius: 0;



// --- margins
$c-calendar-weekday-margin-top: 0;
$c-calendar-weekday-margin-right: 0;
$c-calendar-weekday-margin-bottom: 0;
$c-calendar-weekday-margin-left: 0;


// --- paddings
$c-calendar-weekday-padding-top: 1rem;
$c-calendar-weekday-padding-right: 0.25rem;
$c-calendar-weekday-padding-bottom: 1rem;
$c-calendar-weekday-padding-left: 0.25rem;


// --- text
$c-calendar-weekday-font-family: $font-brand-regular;
$c-calendar-weekday-font-color: $color-text-01;
$c-calendar-weekday-font-size: $font-size-s;
$c-calendar-weekday-font-style: normal;
$c-calendar-weekday-font-variant: normal;
$c-calendar-weekday-font-weight: $font-weight-regular;
$c-calendar-weekday-line-height: 1;
$c-calendar-weekday-letter-spacing: 0;
$c-calendar-weekday-text-align: center;
$c-calendar-weekday-text-decoration: none;
$c-calendar-weekday-text-indent: initial;
$c-calendar-weekday-text-overflow: initial;
$c-calendar-weekday-text-transform: capitalize;
$c-calendar-weekday-text-shadow: none;
$c-calendar-weekday-vertical-align: initial;
$c-calendar-weekday-white-space: nowrap;
$c-calendar-weekday-word-spacing: normal;
