// datepicker


// --- background
$c-calendar-background-color: $color-white;
$c-calendar-background-image: none;
$c-calendar-background-position: initial;
$c-calendar-background-size: initial;
$c-calendar-background-repeat: initial;
$c-calendar-background-origin: initial;
$c-calendar-background-clip: initial;
$c-calendar-background-attachment: initial;


// --- borders
// top
$c-calendar-border-top-width: 1px;
$c-calendar-border-top-style: solid;
$c-calendar-border-top-color: rgba($color-brand-01, 0);
// right
$c-calendar-border-right-width: 0px;
$c-calendar-border-right-style: solid;
$c-calendar-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-calendar-border-bottom-width: 1px;
$c-calendar-border-bottom-style: solid;
$c-calendar-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-calendar-border-left-width: 1px;
$c-calendar-border-left-style: solid;
$c-calendar-border-left-color: rgba($color-brand-01, 0);
// radius
$c-calendar-border-top-left-radius: 0.25rem;
$c-calendar-border-top-right-radius: 0.25rem;
$c-calendar-border-bottom-left-radius: 0.25rem;
$c-calendar-border-bottom-right-radius: 0.25rem;



// --- margins
$c-calendar-margin-top: 0;
$c-calendar-margin-right: 0;
$c-calendar-margin-bottom: 0;
$c-calendar-margin-left: 0;


// --- paddings
$c-calendar-padding-top: 1.5rem;
$c-calendar-padding-right: 1.5rem;
$c-calendar-padding-bottom: 1.5rem;
$c-calendar-padding-left: 1.5rem;


// --- sizing
$c-calendar-width: auto;
$c-calendar-min-width: 20rem;
$c-calendar-max-width: 25rem;
$c-calendar-height: auto;
$c-calendar-min-height: 1rem;
$c-calendar-max-height: none;



// --- arrow color
$c-calender-button-arrow-color: $color-ui-03;
