// datepicker.day


// --- background
$c-calendar-day-background-color: transparent;
$c-calendar-day-background-image: none;
$c-calendar-day-background-position: initial;
$c-calendar-day-background-size: initial;
$c-calendar-day-background-repeat: initial;
$c-calendar-day-background-origin: initial;
$c-calendar-day-background-clip: initial;
$c-calendar-day-background-attachment: initial;


// --- borders
// top
$c-calendar-day-border-top-width: 2px;
$c-calendar-day-border-top-style: solid;
$c-calendar-day-border-top-color: rgba($color-brand-01, 0);
// right
$c-calendar-day-border-right-width: 2px;
$c-calendar-day-border-right-style: solid;
$c-calendar-day-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-calendar-day-border-bottom-width: 2px;
$c-calendar-day-border-bottom-style: solid;
$c-calendar-day-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-calendar-day-border-left-width: 2px;
$c-calendar-day-border-left-style: solid;
$c-calendar-day-border-left-color: rgba($color-brand-01, 0);
// radius
$c-calendar-day-border-top-left-radius: 0.25rem;
$c-calendar-day-border-top-right-radius: 0.25rem;
$c-calendar-day-border-bottom-left-radius: 0.25rem;
$c-calendar-day-border-bottom-right-radius: 0.25rem;



// --- margins
$c-calendar-day-margin-top: 0;
$c-calendar-day-margin-right: 0;
$c-calendar-day-margin-bottom: 0;
$c-calendar-day-margin-left: 0;


// --- paddings
$c-calendar-day-padding-top: 0.5rem;
$c-calendar-day-padding-right: 0.25rem;
$c-calendar-day-padding-bottom: 0.5rem;
$c-calendar-day-padding-left: 0.25rem;


// --- text
$c-calendar-day-font-family: $font-brand-regular;
$c-calendar-day-font-color: $color-text-01;
$c-calendar-day-font-size: $font-size-m;
$c-calendar-day-font-style: normal;
$c-calendar-day-font-variant: normal;
$c-calendar-day-font-weight: $font-weight-regular;
$c-calendar-day-line-height: 1;
$c-calendar-day-letter-spacing: 0;
$c-calendar-day-text-align: center;
$c-calendar-day-text-decoration: none;
$c-calendar-day-text-indent: initial;
$c-calendar-day-text-overflow: initial;
$c-calendar-day-text-transform: none;
$c-calendar-day-text-shadow: none;
$c-calendar-day-vertical-align: initial;
$c-calendar-day-white-space: nowrap;
$c-calendar-day-word-spacing: normal;


// --- Today
$c-calendar-today-font-color: $color-text-01;
$c-calendar-today-font-weight: $font-weight-bold;
$c-calendar-today-background-color:  $color-ui-02;


// --- Selected day
$c-calendar-selected-day-font-color: $color-brand-01;
$c-calendar-selected-day-font-weight: $font-weight-bold;
$c-calendar-selected-day-background-color: transparent;
$c-calendar-selected-day-outline-color: $color-brand-01;

// --- state: hover
$c-calendar-day-hover-font-color: $color-ui-01;
$c-calendar-day-hover-font-weight: $font-weight-bold;
$c-calendar-day-hover-background-color:  $color-brand-01;


// --- visible days of other months
$c-calendar-disabled-day-font-color: rgba($color-text-01, 0);
$c-calendar-disabled-day-font-weight: $font-weight-regular;
$c-calendar-disabled-day-background-color: transparent;
