// datepicker.year


// --- background
$c-calendar-year-background-color: transparent;
$c-calendar-year-background-image: none;
$c-calendar-year-background-position: initial;
$c-calendar-year-background-size: initial;
$c-calendar-year-background-repeat: initial;
$c-calendar-year-background-origin: initial;
$c-calendar-year-background-clip: initial;
$c-calendar-year-background-attachment: initial;


// --- borders
// top
$c-calendar-year-border-top-width: 1px;
$c-calendar-year-border-top-style: solid;
$c-calendar-year-border-top-color: rgba($color-brand-01, 0);
// right
$c-calendar-year-border-right-width: 0px;
$c-calendar-year-border-right-style: solid;
$c-calendar-year-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-calendar-year-border-bottom-width: 1px;
$c-calendar-year-border-bottom-style: solid;
$c-calendar-year-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-calendar-year-border-left-width: 1px;
$c-calendar-year-border-left-style: solid;
$c-calendar-year-border-left-color: rgba($color-brand-01, 0);
// radius
$c-calendar-year-border-top-left-radius: 0;
$c-calendar-year-border-top-right-radius: 0;
$c-calendar-year-border-bottom-left-radius: 0;
$c-calendar-year-border-bottom-right-radius: 0;



// --- margins
$c-calendar-year-margin-top: 0;
$c-calendar-year-margin-right: 0;
$c-calendar-year-margin-bottom: 0;
$c-calendar-year-margin-left: 0;


// --- paddings
$c-calendar-year-padding-top: 1rem;
$c-calendar-year-padding-right: 0.25rem;
$c-calendar-year-padding-bottom: 1rem;
$c-calendar-year-padding-left: 0.25rem;


// --- text
$c-calendar-year-font-family: $font-brand-regular;
$c-calendar-year-font-color: $color-brand-01;
$c-calendar-year-font-size: $font-size-m;
$c-calendar-year-font-style: normal;
$c-calendar-year-font-variant: normal;
$c-calendar-year-font-weight: $font-weight-bold;
$c-calendar-year-line-height: 1;
$c-calendar-year-letter-spacing: 0;
$c-calendar-year-text-align: center;
$c-calendar-year-text-decoration: none;
$c-calendar-year-text-indent: initial;
$c-calendar-year-text-overflow: initial;
$c-calendar-year-text-transform: none;
$c-calendar-year-text-shadow: none;
$c-calendar-year-vertical-align: initial;
$c-calendar-year-white-space: nowrap;
$c-calendar-year-word-spacing: normal;
