// datepicker.month


// --- background
$c-calendar-month-background-color: transparent;
$c-calendar-month-background-image: none;
$c-calendar-month-background-position: initial;
$c-calendar-month-background-size: initial;
$c-calendar-month-background-repeat: initial;
$c-calendar-month-background-origin: initial;
$c-calendar-month-background-clip: initial;
$c-calendar-month-background-attachment: initial;


// --- borders
// top
$c-calendar-month-border-top-width: 1px;
$c-calendar-month-border-top-style: solid;
$c-calendar-month-border-top-color: rgba($color-brand-01, 0);
// right
$c-calendar-month-border-right-width: 0px;
$c-calendar-month-border-right-style: solid;
$c-calendar-month-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-calendar-month-border-bottom-width: 1px;
$c-calendar-month-border-bottom-style: solid;
$c-calendar-month-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-calendar-month-border-left-width: 1px;
$c-calendar-month-border-left-style: solid;
$c-calendar-month-border-left-color: rgba($color-brand-01, 0);
// radius
$c-calendar-month-border-top-left-radius: 0;
$c-calendar-month-border-top-right-radius: 0;
$c-calendar-month-border-bottom-left-radius: 0;
$c-calendar-month-border-bottom-right-radius: 0;



// --- margins
$c-calendar-month-margin-top: 0;
$c-calendar-month-margin-right: 0;
$c-calendar-month-margin-bottom: 0;
$c-calendar-month-margin-left: 0;


// --- paddings
$c-calendar-month-padding-top: 1.25rem;
$c-calendar-month-padding-right: 0.25rem;
$c-calendar-month-padding-bottom: 0.5rem;
$c-calendar-month-padding-left: 0.25rem;


// --- text
$c-calendar-month-font-family: $font-brand-regular;
$c-calendar-month-font-color: $color-brand-01;
$c-calendar-month-font-size: $font-size-m;
$c-calendar-month-font-style: normal;
$c-calendar-month-font-variant: normal;
$c-calendar-month-font-weight: $font-weight-bold;
$c-calendar-month-line-height: 1;
$c-calendar-month-letter-spacing: 0;
$c-calendar-month-text-align: center;
$c-calendar-month-text-decoration: none;
$c-calendar-month-text-indent: initial;
$c-calendar-month-text-overflow: initial;
$c-calendar-month-text-transform: none;
$c-calendar-month-text-shadow: none;
$c-calendar-month-vertical-align: initial;
$c-calendar-month-white-space: nowrap;
$c-calendar-month-word-spacing: normal;
