@import './logo.focus';
@import './logo.hover';


// logo

// -- box-shadow
$c-logo-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-logo-background-color: transparent;
$c-logo-background-image: none;
$c-logo-background-position: initial;
$c-logo-background-size: initial;
$c-logo-background-repeat: initial;
$c-logo-background-origin: initial;
$c-logo-background-clip: initial;
$c-logo-background-attachment: initial;


// --- borders
// top
$c-logo-border-top-width: 0px;
$c-logo-border-top-style: solid;
$c-logo-border-top-color: transparent;
// right
$c-logo-border-right-width: 0px;
$c-logo-border-right-style: solid;
$c-logo-border-right-color: transparent;
// bottom
$c-logo-border-bottom-width: 0px;
$c-logo-border-bottom-style: solid;
$c-logo-border-bottom-color: transparent;
// left
$c-logo-border-left-width: 0px;
$c-logo-border-left-style: solid;
$c-logo-border-left-color: transparent;
// radius
$c-logo-border-top-left-radius: 0.25rem;
$c-logo-border-top-right-radius: 0.25rem;
$c-logo-border-bottom-left-radius: 0.25rem;
$c-logo-border-bottom-right-radius: 0.25rem;


// -- display
$c-logo-display: inline-block;


// --- margins
$c-logo-margin-top: 0;
$c-logo-margin-right: 0;
$c-logo-margin-bottom: 0;
$c-logo-margin-left: 0;


// --- outline
$c-logo-outline1-color: transparent;
$c-logo-outline2-color: transparent;
$c-logo-outline1-width: 2px;
$c-logo-outline2-width: 3px;
$c-logo-outline:   0px 0px 0px $c-logo-outline2-width $c-logo-outline1-color, 0px 0px 0px ($c-logo-outline1-width + $c-logo-outline2-width) $c-logo-outline2-color;


// --- paddings
$c-logo-padding-top: 0;
$c-logo-padding-right: 0;
$c-logo-padding-bottom: 0;
$c-logo-padding-left: 0;


// --- position
$c-logo-position: relative;
$c-logo-position-top: auto;
$c-logo-position-right: auto;
$c-logo-position-bottom: auto;
$c-logo-position-left: auto;
$c-logo-position-zindex: auto;


// -- overflow
$c-logo-overflow-x: visible;
$c-logo-overflow-y: visible;


// --- sizing
$c-logo-width: auto;
$c-logo-min-width: initial;
$c-logo-max-width: none;
$c-logo-height: auto;
$c-logo-min-height: initial;
$c-logo-max-height: none;



// --- transition
$c-logo-transition-property: all;
