// --- logo


// -- box-shadow
$c-logo-hover-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-logo-hover-background-color: transparent;
$c-logo-hover-background-image: none;
$c-logo-hover-background-position: initial;
$c-logo-hover-background-size: initial;
$c-logo-hover-background-repeat: initial;
$c-logo-hover-background-origin: initial;
$c-logo-hover-background-clip: initial;
$c-logo-hover-background-attachment: initial;


// --- borders
// top
$c-logo-hover-border-top-width: 0px;
$c-logo-hover-border-top-style: solid;
$c-logo-hover-border-top-color: transparent;
// right
$c-logo-hover-border-right-width: 0px;
$c-logo-hover-border-right-style: solid;
$c-logo-hover-border-right-color: transparent;
// bottom
$c-logo-hover-border-bottom-width: 0px;
$c-logo-hover-border-bottom-style: solid;
$c-logo-hover-border-bottom-color: transparent;
// left
$c-logo-hover-border-left-width: 0px;
$c-logo-hover-border-left-style: solid;
$c-logo-hover-border-left-color: transparent;
// radius
$c-logo-hover-border-top-left-radius: 0.25rem;
$c-logo-hover-border-top-right-radius: 0.25rem;
$c-logo-hover-border-bottom-left-radius: 0.25rem;
$c-logo-hover-border-bottom-right-radius: 0.25rem;


// -- display
$c-logo-hover-display: inline-block;


// --- margins
$c-logo-hover-margin-top: 0;
$c-logo-hover-margin-right: 0;
$c-logo-hover-margin-bottom: 0;
$c-logo-hover-margin-left: 0;


// --- outline
$c-logo-hover-outline1-color: $color-brand-01;
$c-logo-hover-outline2-color: $color-ui-02;
$c-logo-hover-outline1-width: 2px;
$c-logo-hover-outline2-width: 3px;
$c-logo-hover-outline:   0px 0px 0px $c-logo-hover-outline2-width $c-logo-hover-outline1-color, 0px 0px 0px ($c-logo-hover-outline1-width + $c-logo-hover-outline2-width) $c-logo-hover-outline2-color;


// --- paddings
$c-logo-hover-padding-top: 0;
$c-logo-hover-padding-right: 0;
$c-logo-hover-padding-bottom: 0;
$c-logo-hover-padding-left: 0;


// --- position
$c-logo-hover-position: relative;
$c-logo-hover-position-top: auto;
$c-logo-hover-position-right: auto;
$c-logo-hover-position-bottom: auto;
$c-logo-hover-position-left: auto;
$c-logo-hover-position-zindex: auto;


// --- sizing
$c-logo-hover-width: auto;
$c-logo-hover-min-width: initial;
$c-logo-hover-max-width: none;
$c-logo-hover-height: auto;
$c-logo-hover-min-height: initial;
$c-logo-hover-max-height: none;


// -- overflow
$c-logo-hover-overflow-x: visible;
$c-logo-hover-overflow-y: visible;
