// text-area


// --- box-shadow
$c-tile-label-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-tile-label-background-color: transparent;
$c-tile-label-background-image: none;
$c-tile-label-background-position: initial;
$c-tile-label-background-size: initial;
$c-tile-label-background-repeat: initial;
$c-tile-label-background-origin: initial;
$c-tile-label-background-clip: initial;
$c-tile-label-background-attachment: initial;


// --- borders
// top
$c-tile-label-border-top-width: 0px;
$c-tile-label-border-top-style: solid;
$c-tile-label-border-top-color: transparent;
// right
$c-tile-label-border-right-width: 0px;
$c-tile-label-border-right-style: solid;
$c-tile-label-border-right-color: transparent;
// bottom
$c-tile-label-border-bottom-width: 0px;
$c-tile-label-border-bottom-style: solid;
$c-tile-label-border-bottom-color: transparent;
// left
$c-tile-label-border-left-width: 0px;
$c-tile-label-border-left-style: solid;
$c-tile-label-border-left-color: transparent;
// radius
$c-tile-label-border-top-left-radius: 0;
$c-tile-label-border-top-right-radius: 0;
$c-tile-label-border-bottom-left-radius: 0;
$c-tile-label-border-bottom-right-radius: 0;


// --- display
$c-tile-label-display: inline-block;


// --- margins
$c-tile-label-margin-top: 1rem;
$c-tile-label-margin-right: 0;
$c-tile-label-margin-bottom: 0;
$c-tile-label-margin-left: 0;


// --- paddings
$c-tile-label-padding-top: 0;
$c-tile-label-padding-right: 0;
$c-tile-label-padding-bottom: 0;
$c-tile-label-padding-left: 0;


// --- position
$c-tile-label-position: absolute;
$c-tile-label-position-top: auto;
$c-tile-label-position-right: 1rem;
$c-tile-label-position-bottom: 2.5rem;
$c-tile-label-position-left: 1rem;
$c-tile-label-position-zindex: auto;


// --- sizing
$c-tile-label-width: calc(100% - 2rem);
$c-tile-label-min-width: initial;
$c-tile-label-max-width: none;
$c-tile-label-height: auto;
$c-tile-label-min-height: initial;
$c-tile-label-max-height: none;


// --- text
$c-tile-label-font-family: $font-brand-demi;
$c-tile-label-font-color: $color-text-01;
$c-tile-label-font-size: $font-size-m;
$c-tile-label-font-style: normal;
$c-tile-label-font-variant: normal;
$c-tile-label-font-weight: $font-weight-bold;
$c-tile-label-line-height: 1.1;
$c-tile-label-letter-spacing: 0;
$c-tile-label-text-align: left;
$c-tile-label-text-decoration: none;
$c-tile-label-text-indent: 0;
$c-tile-label-text-overflow: initial;
$c-tile-label-text-transform: none;
$c-tile-label-text-shadow: none;
$c-tile-label-vertical-align: initial;
$c-tile-label-white-space: normal;
$c-tile-label-word-spacing: normal;


// -- overflow
$c-tile-label-overflow-x: hidden;
$c-tile-label-overflow-y: hidden;


// --- transforms
$c-tile-label-transform: none;
$c-tile-label-transform-origin: top left;
$c-tile-label-transform-style: preserve-3d;


// transition
$c-tile-label-transition-property: color;
