<!-- Grid -->
<section class="styleguide">

    <article>
        <h3 class="styleguide-title fx-appear">Grid</h3>
        <section class="styleguide-example background-color-light fx-appear-from-bottom align-center">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>

            <block-grid>

                <!-- grid-action bar -->
                <block-layout css="grid-action-bar">
                    <block-grid-action-bar label-selected-single="item selected" label-selected-multiple="items selected">
                        <c-context-menu id="context-id-01">
                            <c-button is="button-primary" task="context-menu-toggle">Action<c-icon is="icon-arrow"></c-icon></c-button>
                            <c-list is="context">
                                <c-list-item>
                                    <c-button is="button-primary" css="list-item"  task="demo-purpose"><c-icon is="icon-arrow-small-down"></c-icon>Download</c-button>
                                </c-list-item>
                                <c-list-item>
                                    <c-button is="button-primary" css="list-item"  task="demo-purpose"><c-icon is="icon-clear"></c-icon>Other action</c-button>
                                </c-list-item>
                            </c-list>
                        </c-context-menu>
                        <c-button task="clear-grid-selection"  is="button-secondary" id="button-id-01">Cancel</c-button>
                        <p></p>
                    </block-grid-action-bar>
                </block-layout>


                <!-- filters -->
                <block-layout css="grid-filters">
                    <c-fieldset legend="Filters">
                        <c-quickfilter id="quickfilter-id-01" task="quickfilter" value="Tooltime">Tooltime</c-quickfilter>
                        <c-quickfilter id="quickfilter-id-02" task="quickfilter" value="Company name">Company name</c-quickfilter>
                        <c-quickfilter id="quickfilter-id-03" task="quickfilter" vale="Calvi" disabled>Calvi</c-quickfilter>
                    </c-fieldset>
                </block-layout>

                <!-- search -->
                <block-layout css="grid-search">
                    <c-search>
                        <c-input is="text" value="" placeholder="e.g. 200003" id="search-id-01" name="inputfield">Search</c-input>
                        <c-button is="button-secondary" task="search" id="button-id-01">Search</c-button>
                    </c-search>
                </block-layout>

                <!-- table -->
                <block-layout css="grid-table">
                    <c-table>
                        <c-table-head>
                            <c-table-row>
                                <c-table-header css="content-is-checkbox">
                                    <c-checkbox is="checkbox" id="c-table-checkbox-select-all" task="table-select-all"><span class="hidden-label">Select all</span></c-checkbox>
                                </c-table-header>
                                <c-table-header>
                                    <c-button is="button-ghost" css="table-sort-button" data-sort-sortable="true" data-sort-field="Date" task="table-sort"><c-icon is="icon-sort"></c-icon>Date</c-button>
                                </c-table-header>
                                <c-table-header>
                                    <c-button is="button-ghost" css="table-sort-button" data-sort-sortable="true" data-sort-field="Invoice number" task="table-sort"><c-icon is="icon-sort"></c-icon>Invoice number</c-button>
                                </c-table-header>
                                <c-table-header>
                                    <c-button is="button-ghost" css="table-sort-button" data-sort-sortable="true" data-sort-field="Customer account<" task="table-sort"><c-icon is="icon-sort"></c-icon>Customer account</c-button>
                                </c-table-header>
                                <c-table-header>
                                    <c-button is="button-ghost" css="table-sort-button" data-sort-sortable="true" data-sort-field="Amount" task="table-sort"><c-icon is="icon-sort"></c-icon>Amount</c-button>
                                </c-table-header>
                                <c-table-header css="content-is-context-menu"></c-table-header>
                                <c-table-header css="content-is-icon-button">
                                    <c-context-menu id="c-table-row-context-01">
                                        <c-button is="button-ghost-icon" task="context-menu-toggle"><c-icon is="icon-enable-columns"></c-icon><span class="hidden-label">Toggle table columns</span></c-button>
                                        <c-list is="context" css="align-right">
                                            <c-list-item>
                                                <c-checkbox is="switch" css="list-item" task="table-column-toggle:2" id="table-context-menu-checkbox-11" checked>Date</c-checkbox>
                                            </c-list-item>
                                            <c-list-item>
                                                <c-checkbox is="switch" css="list-item" task="table-column-toggle:4" id="table-context-menu-checkbox-12" checked>Customer account</c-checkbox>
                                            </c-list-item>
                                            <c-list-item>
                                                <c-checkbox is="switch" css="list-item" task="table-column-toggle:5" id="table-context-menu-checkbox-13" checked>Amount</c-checkbox>
                                            </c-list-item>
                                        </c-list>
                                    </c-context-menu>
                                </c-table-header>
                                <c-table-header css="content-is-icon-button">
                                    <c-button is="button-ghost-icon" task="advanced-search" id="c-table-button-filter-table"><c-icon is="icon-search"></c-icon><span class="hidden-label">Filter</span></c-button>
                                </c-table-header>
                            </c-table-row>
                            <c-table-row css="advanced-search">
                                <c-table-header></c-table-header>
                                <c-table-header>
                                    <c-input is="text" value="" placeholder="Start typing..." tabindex="-1" id="search-table-id-01"></c-input>
                                </c-table-header>
                                <c-table-header>
                                    <c-input is="text" value="" placeholder="Start typing..." tabindex="-1" id="search-table-id-02"></c-input>
                                </c-table-header>
                                <c-table-header>
                                    <c-input is="text" value="" placeholder="Start typing..." tabindex="-1" id="search-table-id-03"></c-input>
                                </c-table-header>
                                <c-table-header>
                                    <c-input is="text" value="" placeholder="Start typing..." tabindex="-1" id="search-table-id-04"></c-input>
                                </c-table-header>
                                <c-table-header></c-table-header>
                                <c-table-header></c-table-header>
                                <c-table-header></c-table-header>
                            </c-table-row>
                        </c-table-head>
                        <c-table-body>
                            <c-table-row>
                                <c-table-cell css="content-is-checkbox"><c-checkbox is="checkbox" id="c-table-row-checkbox-11" task="table-select-row"><span class="hidden-label">Select this row</span></c-checkbox></c-table-cell>
                                <c-table-cell>01-12-2018</c-table-cell>
                                <c-table-cell>
                                    <c-link link="/a-path">191104</c-link>
                                </c-table-cell>
                                <c-table-cell>Tooltime Netherlands B.V.</c-table-cell>
                                <c-table-cell>&euro; 6.435,96</c-table-cell>
                                <c-table-cell css="content-is-context-menu">
                                    <c-context-menu id="c-table-row-context-11">
                                        <c-button is="button-secondary" task="context-menu-toggle">Action<c-icon is="icon-arrow"></c-icon></c-button>
                                        <c-list is="context">
                                            <c-list-item>
                                                <c-button is="button-ghost" css="list-item" task="demo-purpose"><c-icon is="icon-add"></c-icon>Do something</c-button>
                                            </c-list-item>
                                            <c-list-item>
                                                <c-button is="button-ghost" css="list-item" task="demo-purpose"><c-icon is="icon-add"></c-icon>Do something else</c-button>
                                            </c-list-item>
                                            <c-divider></c-divider>
                                            <c-list-item>
                                                <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon>Go to link</c-link>
                                            </c-list-item>
                                        </c-list>
                                    </c-context-menu>
                                </c-table-cell>
                                <c-table-cell css="content-is-icon-button">
                                    <c-button task="quickview" is="button-secondary-icon" id="c-table-row-quickview-11" ><c-icon is="icon-quickview"></c-icon><span class="hidden-label">Quickview</span></c-button>
                                </c-table-cell>
                                <c-table-cell css="content-is-icon-button">
                                    <c-button task="drillrow" is="button-primary-icon" id="c-table-row-drilrow-11" ><c-icon is="icon-arrow-right"></c-icon><span class="hidden-label">Drillrow</span></c-button>
                                </c-table-cell>
                            </c-table-row>
                            <c-table-row>
                                <c-table-cell css="content-is-checkbox"><c-checkbox is="checkbox" id="c-table-row-checkbox-12" task="table-select-row"><span class="hidden-label">Select this row</span></c-checkbox></c-table-cell>
                                <c-table-cell>06-08-2018</c-table-cell>
                                <c-table-cell>
                                    <c-link link="/a-path">191112</c-link>
                                </c-table-cell>
                                <c-table-cell>Tooltime Netherlands B.V.</c-table-cell>
                                <c-table-cell>&euro; 2.336,36</c-table-cell>
                                <c-table-cell css="content-is-context-menu">
                                    <c-context-menu id="c-table-row-context-12">
                                        <c-button is="button-secondary" task="context-menu-toggle">Action<c-icon is="icon-arrow"></c-icon></c-button>
                                        <c-list is="context">
                                            <c-list-item>
                                                <c-button is="button-ghost" css="list-item" task="demo-purpose"><c-icon is="icon-add"></c-icon>Do something</c-button>
                                            </c-list-item>
                                            <c-list-item>
                                                <c-button is="button-ghost" css="list-item" task="demo-purpose"><c-icon is="icon-add"></c-icon>Do something else</c-button>
                                            </c-list-item>
                                            <c-divider></c-divider>
                                            <c-list-item>
                                                <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon>Go to link</c-link>
                                            </c-list-item>
                                        </c-list>
                                    </c-context-menu>
                                </c-table-cell>
                                <c-table-cell css="content-is-icon-button">
                                    <c-button task="quickview" is="button-secondary-icon" id="c-table-row-quickview-12" ><c-icon is="icon-quickview"></c-icon><span class="hidden-label">Quickview</span></c-button>
                                </c-table-cell>
                                <c-table-cell css="content-is-icon-button">
                                    <c-button task="drillrow" is="button-primary-icon" id="c-table-row-drilrow-12" ><c-icon is="icon-arrow-right"></c-icon><span class="hidden-label">Drillrow</span></c-button>
                                </c-table-cell>
                            </c-table-row>
                            <c-table-row>
                                <c-table-cell css="content-is-checkbox"><c-checkbox is="checkbox" id="c-table-row-checkbox-13" task="table-select-row"><span class="hidden-label">Select this row</span></c-checkbox></c-table-cell>
                                <c-table-cell>14-12-2018</c-table-cell>
                                <c-table-cell>
                                    <c-link link="/a-path">191207</c-link>
                                </c-table-cell>
                                <c-table-cell>Tooltime Netherlands B.V.</c-table-cell>
                                <c-table-cell>&euro; 7.248,21</c-table-cell>
                                <c-table-cell css="content-is-context-menu">
                                    <c-context-menu id="c-table-row-context-13">
                                        <c-button is="button-secondary" task="context-menu-toggle">Action<c-icon is="icon-arrow"></c-icon></c-button>
                                        <c-list is="context">
                                            <c-list-item>
                                                <c-button is="button-ghost" css="list-item" task="demo-purpose"><c-icon is="icon-add"></c-icon>Do something</c-button>
                                            </c-list-item>
                                            <c-list-item>
                                                <c-button is="button-ghost" css="list-item" task="demo-purpose"><c-icon is="icon-add"></c-icon>Do something else</c-button>
                                            </c-list-item>
                                            <c-divider></c-divider>
                                            <c-list-item>
                                                <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon>Go to link</c-link>
                                            </c-list-item>
                                        </c-list>
                                    </c-context-menu>
                                </c-table-cell>
                                <c-table-cell css="content-is-icon-button">
                                    <c-button task="quickview" is="button-secondary-icon" id="c-table-row-quickview-13" ><c-icon is="icon-quickview"></c-icon><span class="hidden-label">Quickview</span></c-button>
                                </c-table-cell>
                                <c-table-cell css="content-is-icon-button">
                                    <c-button task="drillrow" is="button-primary-icon" id="c-table-row-drilrow-13" ><c-icon is="icon-arrow-right"></c-icon><span class="hidden-label">Drillrow</span></c-button>
                                </c-table-cell>
                            </c-table-row>
                            <c-table-row>
                                <c-table-cell css="content-is-checkbox"><c-checkbox is="checkbox" id="c-table-row-checkbox-14" task="table-select-row"><span class="hidden-label">Select this row</span></c-checkbox></c-table-cell>
                                <c-table-cell>09-05-2018</c-table-cell>
                                <c-table-cell>
                                    <c-link link="/a-path">191405</c-link>
                                </c-table-cell>
                                <c-table-cell>Tooltime Netherlands B.V.</c-table-cell>
                                <c-table-cell>&euro; 2.451,86</c-table-cell>
                                <c-table-cell css="content-is-context-menu">
                                    <c-context-menu id="c-table-row-context-14">
                                        <c-button is="button-secondary" task="context-menu-toggle">Action<c-icon is="icon-arrow"></c-icon></c-button>
                                        <c-list is="context">
                                            <c-list-item>
                                                <c-button is="button-ghost" css="list-item" task="demo-purpose"><c-icon is="icon-add"></c-icon>Do something</c-button>
                                            </c-list-item>
                                            <c-list-item>
                                                <c-button is="button-ghost" css="list-item" task="demo-purpose"><c-icon is="icon-add"></c-icon>Do something else</c-button>
                                            </c-list-item>
                                            <c-divider></c-divider>
                                            <c-list-item>
                                                <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon>Go to link</c-link>
                                            </c-list-item>
                                        </c-list>
                                    </c-context-menu>
                                </c-table-cell>
                                <c-table-cell css="content-is-icon-button">
                                    <c-button task="quickview" is="button-secondary-icon" id="c-table-row-quickview-14" ><c-icon is="icon-quickview"></c-icon><span class="hidden-label">Quickview</span></c-button>
                                </c-table-cell>
                                <c-table-cell css="content-is-icon-button">
                                    <c-button task="drillrow" is="button-primary-icon" id="c-table-row-drilrow-14" ><c-icon is="icon-arrow-right"></c-icon><span class="hidden-label">Drillrow</span></c-button>
                                </c-table-cell>
                            </c-table-row>
                        </c-table-body>
                    </c-table>
                </block-layout>

                <!-- pagination -->
                <block-layout css="grid-pagination">
                    <c-pagination page="1" results="10" items="10">
                        <c-button is="button-ghost-icon" task="previous"><span class="hidden-label">Previous page</span><c-icon is="icon-arrow-left"></c-icon></c-button>
                        <c-dropdown>
                            <c-input is="text" value="" placeholder=" " id="pagination-id-01" name="inputfield"></c-input>
                            <c-button is="button-ghost-icon" task="toggle"><span class="hidden-label">Toggle</span><c-icon is="icon-arrow-down"></c-icon></c-button>
                            <c-options id="id-options-01" label="options-label" label-no-results="No results">
                                <c-option id="pagination-option-01">1</c-option>
                            </c-options>
                        </c-dropdown>
                        <c-button is="button-ghost-icon" task="next"><span class="hidden-label">Previous page</span><c-icon is="icon-arrow-right"></c-icon></c-button>
                    </c-pagination>
                </block-layout>

            </block-grid>

        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-02">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">Functions</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/grid/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/grid/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/grid/FUNCTIONS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/grid/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>

    <c-divider css="styleguide-divider"></c-divider>
</section>
