// c-notification


@keyframes displayNotification {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes hideNotification {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

.c-notification {
    position: relative;

    // --- background
    background-color: $c-notification-background-color;


    // --- border-radius
    border-top-left-radius: $c-notification-border-top-left-radius;
    border-top-right-radius: $c-notification-border-top-right-radius;
    border-bottom-left-radius: $c-notification-border-bottom-left-radius;
    border-bottom-right-radius: $c-notification-border-bottom-right-radius;


    // --- display
    display: $c-notification-display;


    // --- margins
    margin-top: $c-notification-margin-top;
    margin-right: $c-notification-margin-right;
    margin-bottom: $c-notification-margin-bottom;
    margin-left: $c-notification-margin-left;


    // --- padding
    padding-top: $c-notification-padding-top;
    padding-right: $c-notification-padding-right;
    padding-bottom: $c-notification-padding-bottom;
    padding-left: $c-notification-padding-left;



    // --- transition
    transition: $c-notification-transition-property $c-tile-transition-duration $c-tile-transition-delay $c-tile-transition-timing-function;


    z-index: 100;


    // --- variant: info
    &.is-notification-info {
        border-top-width: $c-notification-info-border-top-width;
        border-top-style: $c-notification-info-border-top-style;
        border-right-width: $c-notification-info-border-right-width;
        border-right-style: $c-notification-info-border-right-style;
        border-bottom-width: $c-notification-info-border-bottom-width;
        border-bottom-style: $c-notification-info-border-bottom-style;
        border-left-width: $c-notification-info-border-left-width;
        border-left-style: $c-notification-info-border-left-style;
        border-top-color: $c-notification-info-border-top-color;
        border-right-color: $c-notification-info-border-right-color;
        border-bottom-color: $c-notification-info-border-bottom-color;
        border-left-color: $c-notification-info-border-left-color;
    }

    // --- variant: error
    &.is-notification-error {
        border-top-width: $c-notification-error-border-top-width;
        border-top-style: $c-notification-error-border-top-style;
        border-right-width: $c-notification-error-border-right-width;
        border-right-style: $c-notification-error-border-right-style;
        border-bottom-width: $c-notification-error-border-bottom-width;
        border-bottom-style: $c-notification-error-border-bottom-style;
        border-left-width: $c-notification-error-border-left-width;
        border-left-style: $c-notification-error-border-left-style;
        border-top-color: $c-notification-error-border-top-color;
        border-right-color: $c-notification-error-border-right-color;
        border-bottom-color: $c-notification-error-border-bottom-color;
        border-left-color: $c-notification-error-border-left-color;
    }

    // --- variant: success
    &.is-notification-success {
        border-top-width: $c-notification-success-border-top-width;
        border-top-style: $c-notification-success-border-top-style;
        border-right-width: $c-notification-success-border-right-width;
        border-right-style: $c-notification-success-border-right-style;
        border-bottom-width: $c-notification-success-border-bottom-width;
        border-bottom-style: $c-notification-success-border-bottom-style;
        border-left-width: $c-notification-success-border-left-width;
        border-left-style: $c-notification-success-border-left-style;
        border-top-color: $c-notification-success-border-top-color;
        border-right-color: $c-notification-success-border-right-color;
        border-bottom-color: $c-notification-success-border-bottom-color;
        border-left-color: $c-notification-success-border-left-color;
    }

    // --- variant:  warning
    &.is-notification-warning {
        border-top-width: $c-notification-warning-border-top-width;
        border-top-style: $c-notification-warning-border-top-style;
        border-right-width: $c-notification-warning-border-right-width;
        border-right-style: $c-notification-warning-border-right-style;
        border-bottom-width: $c-notification-warning-border-bottom-width;
        border-bottom-style: $c-notification-warning-border-bottom-style;
        border-left-width: $c-notification-warning-border-left-width;
        border-left-style: $c-notification-warning-border-left-style;
        border-top-color: $c-notification-warning-border-top-color;
        border-right-color: $c-notification-warning-border-right-color;
        border-bottom-color: $c-notification-warning-border-bottom-color;
        border-left-color: $c-notification-warning-border-left-color;
    }

    // --- variant: error
    &.is-flash-error {
        display: inline-block;
        position: absolute;
        top: $c-flash-position-top;
        right: $c-flash-position-right;
        bottom: $c-flash-position-bottom;
        left: $c-flash-position-left;

        max-width: $c-flash-max-width;
        box-shadow: $c-flash-box-shadow;

        border-top-width: $c-flash-error-border-top-width;
        border-top-style: $c-flash-error-border-top-style;
        border-right-width: $c-flash-error-border-right-width;
        border-right-style: $c-flash-error-border-right-style;
        border-bottom-width: $c-flash-error-border-bottom-width;
        border-bottom-style: $c-flash-error-border-bottom-style;
        border-left-width: $c-flash-error-border-left-width;
        border-left-style: $c-flash-error-border-left-style;
        border-top-color: $c-flash-error-border-top-color;
        border-right-color: $c-flash-error-border-right-color;
        border-bottom-color: $c-flash-error-border-bottom-color;
        border-left-color: $c-flash-error-border-left-color;
    }

    // --- variant: success
    &.is-flash-success {
        display: inline-block;
        position: absolute;
        top: $c-flash-position-top;
        right: $c-flash-position-right;
        bottom: $c-flash-position-bottom;
        left: $c-flash-position-left;

        max-width: $c-flash-max-width;
        box-shadow: $c-flash-box-shadow;

        border-top-width: $c-flash-success-border-top-width;
        border-top-style: $c-flash-success-border-top-style;
        border-right-width: $c-flash-success-border-right-width;
        border-right-style: $c-flash-success-border-right-style;
        border-bottom-width: $c-flash-success-border-bottom-width;
        border-bottom-style: $c-flash-success-border-bottom-style;
        border-left-width: $c-flash-success-border-left-width;
        border-left-style: $c-flash-success-border-left-style;
        border-top-color: $c-flash-border-top-color;
        border-right-color: $c-flash-border-right-color;
        border-bottom-color: $c-flash-border-bottom-color;
        border-left-color: $c-flash-border-left-color;
    }

    // --- variant:  warning
    &.is-flash-warning {
        display: inline-block;
        position: absolute;
        top: $c-flash-position-top;
        right: $c-flash-position-right;
        bottom: $c-flash-position-bottom;
        left: $c-flash-position-left;
        
        max-width: $c-flash-max-width;
        box-shadow: $c-flash-box-shadow;

        border-top-width: $c-flash-warning-border-top-width;
        border-top-style: $c-flash-warning-border-top-style;
        border-right-width: $c-flash-warning-border-right-width;
        border-right-style: $c-flash-warning-border-right-style;
        border-bottom-width: $c-flash-warning-border-bottom-width;
        border-bottom-style: $c-flash-warning-border-bottom-style;
        border-left-width: $c-flash-warning-border-left-width;
        border-left-style: $c-flash-warning-border-left-style;
        border-top-color: $c-flash-warning-border-top-color;
        border-right-color: $c-flash-warning-border-right-color;
        border-bottom-color: $c-flash-warning-border-bottom-color;
        border-left-color: $c-flash-warning-border-left-color;
    }


    // --- exceptions
    h3 {
        line-height: 1;
    }

    p {
        margin: 0;

        // --- text
        color: $c-notification-font-color;
        font-family: $c-notification-font-family;
        font-size: $c-notification-font-size;
        font-style: $c-notification-font-style;
        font-variant: $c-notification-font-variant;
        font-weight: $c-notification-font-weight;
        letter-spacing: $c-notification-letter-spacing;
        line-height: $c-notification-line-height;
        text-align: $c-notification-text-align;
        text-decoration: $c-notification-text-decoration;
        text-indent: $c-notification-text-indent;
        text-overflow: $c-notification-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-notification-text-transform;
        text-shadow: $c-notification-text-shadow;
        vertical-align: $c-notification-vertical-align;
        white-space: $c-notification-white-space;
        word-spacing: $c-notification-word-spacing;
        user-select: none;

        padding-right: 2rem;
    }

    .block-button-group.is-button-group-align-left {
        margin-top: 1.5rem;
    }

    .c-button.is-button-ghost-icon {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;

        .c-icon {
            svg {
                path {
                    fill: $c-notification-button-color;
                }
            }
        }
    }

    &[hidden] {
        animation: hideNotification .15s linear forwards;
    }
    animation: displayNotification .15s linear forwards;
}
