// text-area


// --- box-shadow
$c-input-label-invalid-hover-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-input-label-invalid-hover-background-color: transparent;
$c-input-label-invalid-hover-background-image: none;
$c-input-label-invalid-hover-background-position: initial;
$c-input-label-invalid-hover-background-size: initial;
$c-input-label-invalid-hover-background-repeat: initial;
$c-input-label-invalid-hover-background-origin: initial;
$c-input-label-invalid-hover-background-clip: initial;
$c-input-label-invalid-hover-background-attachment: initial;


// --- borders
// top
$c-input-label-invalid-hover-border-top-width: 0px;
$c-input-label-invalid-hover-border-top-style: solid;
$c-input-label-invalid-hover-border-top-color: transparent;
// right
$c-input-label-invalid-hover-border-right-width: 0px;
$c-input-label-invalid-hover-border-right-style: solid;
$c-input-label-invalid-hover-border-right-color: transparent;
// bottom
$c-input-label-invalid-hover-border-bottom-width: 0px;
$c-input-label-invalid-hover-border-bottom-style: solid;
$c-input-label-invalid-hover-border-bottom-color: transparent;
// left
$c-input-label-invalid-hover-border-left-width: 0px;
$c-input-label-invalid-hover-border-left-style: solid;
$c-input-label-invalid-hover-border-left-color: transparent;
// radius
$c-input-label-invalid-hover-border-top-left-radius: 0;
$c-input-label-invalid-hover-border-top-right-radius: 0;
$c-input-label-invalid-hover-border-bottom-left-radius: 0;
$c-input-label-invalid-hover-border-bottom-right-radius: 0;


// --- display
$c-input-label-invalid-hover-display: inline-block;


// --- margins
$c-input-label-invalid-hover-margin-top: 0;
$c-input-label-invalid-hover-margin-right: 0;
$c-input-label-invalid-hover-margin-bottom: 1rem;
$c-input-label-invalid-hover-margin-left: 0;


// --- paddings
$c-input-label-invalid-hover-padding-top: 0;
$c-input-label-invalid-hover-padding-right: 0;
$c-input-label-invalid-hover-padding-bottom: 0;
$c-input-label-invalid-hover-padding-left: 0;


// --- position
$c-input-label-invalid-hover-position: relative;
$c-input-label-invalid-hover-position-top: auto;
$c-input-label-invalid-hover-position-right: auto;
$c-input-label-invalid-hover-position-bottom: auto;
$c-input-label-invalid-hover-position-left: auto;
$c-input-label-invalid-hover-position-zindex: auto;


// --- sizing
$c-input-label-invalid-hover-width: 100%;
$c-input-label-invalid-hover-min-width: 100%;
$c-input-label-invalid-hover-max-width: none;
$c-input-label-invalid-hover-height: auto;
$c-input-label-invalid-hover-min-height: auto;
$c-input-label-invalid-hover-max-height: none;


// --- text
$c-input-label-invalid-hover-font-family: $font-brand-demi;
$c-input-label-invalid-hover-font-color: $color-brand-01;
$c-input-label-invalid-hover-font-size: $font-size-m;
$c-input-label-invalid-hover-font-style: normal;
$c-input-label-invalid-hover-font-variant: normal;
$c-input-label-invalid-hover-font-weight: $font-weight-bold;
$c-input-label-invalid-hover-line-height: 1;
$c-input-label-invalid-hover-letter-spacing: 0;
$c-input-label-invalid-hover-text-align: left;
$c-input-label-invalid-hover-text-decoration: none;
$c-input-label-invalid-hover-text-indent: 0;
$c-input-label-invalid-hover-text-overflow: initial;
$c-input-label-invalid-hover-text-transform: none;
$c-input-label-invalid-hover-text-shadow: none;
$c-input-label-invalid-hover-vertical-align: initial;
$c-input-label-invalid-hover-white-space: normal;
$c-input-label-invalid-hover-word-spacing: normal;
