// text-area


// --- box-shadow
$c-input-label-invalid-focus-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-input-label-invalid-focus-background-color: transparent;
$c-input-label-invalid-focus-background-image: none;
$c-input-label-invalid-focus-background-position: initial;
$c-input-label-invalid-focus-background-size: initial;
$c-input-label-invalid-focus-background-repeat: initial;
$c-input-label-invalid-focus-background-origin: initial;
$c-input-label-invalid-focus-background-clip: initial;
$c-input-label-invalid-focus-background-attachment: initial;


// --- borders
// top
$c-input-label-invalid-focus-border-top-width: 0px;
$c-input-label-invalid-focus-border-top-style: solid;
$c-input-label-invalid-focus-border-top-color: transparent;
// right
$c-input-label-invalid-focus-border-right-width: 0px;
$c-input-label-invalid-focus-border-right-style: solid;
$c-input-label-invalid-focus-border-right-color: transparent;
// bottom
$c-input-label-invalid-focus-border-bottom-width: 0px;
$c-input-label-invalid-focus-border-bottom-style: solid;
$c-input-label-invalid-focus-border-bottom-color: transparent;
// left
$c-input-label-invalid-focus-border-left-width: 0px;
$c-input-label-invalid-focus-border-left-style: solid;
$c-input-label-invalid-focus-border-left-color: transparent;
// radius
$c-input-label-invalid-focus-border-top-left-radius: 0;
$c-input-label-invalid-focus-border-top-right-radius: 0;
$c-input-label-invalid-focus-border-bottom-left-radius: 0;
$c-input-label-invalid-focus-border-bottom-right-radius: 0;


// --- display
$c-input-label-invalid-focus-display: inline-block;


// --- margins
$c-input-label-invalid-focus-margin-top: 0;
$c-input-label-invalid-focus-margin-right: 0;
$c-input-label-invalid-focus-margin-bottom: 1rem;
$c-input-label-invalid-focus-margin-left: 0;


// --- paddings
$c-input-label-invalid-focus-padding-top: 0;
$c-input-label-invalid-focus-padding-right: 0;
$c-input-label-invalid-focus-padding-bottom: 0;
$c-input-label-invalid-focus-padding-left: 0;


// --- position
$c-input-label-invalid-focus-position: relative;
$c-input-label-invalid-focus-position-top: auto;
$c-input-label-invalid-focus-position-right: auto;
$c-input-label-invalid-focus-position-bottom: auto;
$c-input-label-invalid-focus-position-left: auto;
$c-input-label-invalid-focus-position-zindex: auto;


// --- sizing
$c-input-label-invalid-focus-width: 100%;
$c-input-label-invalid-focus-min-width: 100%;
$c-input-label-invalid-focus-max-width: none;
$c-input-label-invalid-focus-height: auto;
$c-input-label-invalid-focus-min-height: auto;
$c-input-label-invalid-focus-max-height: none;


// --- text
$c-input-label-invalid-focus-font-family: $font-brand-demi;
$c-input-label-invalid-focus-font-color: $color-brand-01;
$c-input-label-invalid-focus-font-size: $font-size-m;
$c-input-label-invalid-focus-font-style: normal;
$c-input-label-invalid-focus-font-variant: normal;
$c-input-label-invalid-focus-font-weight: $font-weight-bold;
$c-input-label-invalid-focus-line-height: 1;
$c-input-label-invalid-focus-letter-spacing: 0;
$c-input-label-invalid-focus-text-align: left;
$c-input-label-invalid-focus-text-decoration: none;
$c-input-label-invalid-focus-text-indent: 0;
$c-input-label-invalid-focus-text-overflow: initial;
$c-input-label-invalid-focus-text-transform: none;
$c-input-label-invalid-focus-text-shadow: none;
$c-input-label-invalid-focus-vertical-align: initial;
$c-input-label-invalid-focus-white-space: normal;
$c-input-label-invalid-focus-word-spacing: normal;
