// c-button size-small


%button-size-small{

    // --- text
    font-size: $c-button-size-small-font-size;


    // --- padding
    padding-top: $c-button-size-small-padding-top;
    padding-right: $c-button-size-small-padding-right;
    padding-bottom: $c-button-size-small-padding-bottom;
    padding-left: $c-button-size-small-padding-left;


    // --- icon
    .c-icon {
        top: ($font-correction / 2);
        width: 1rem;
        margin-right: 0;
        margin-left: $c-button-size-small-icon-margin;
        // transform: scale(0.8);
        transform-origin: center center;
    }
}


%button-size-small-icon{

    // --- text
    font-size: $c-button-size-small-font-size;


    // --- padding
    padding-top: $c-button-icon-size-small-padding-top;
    padding-right: $c-button-icon-size-small-padding-right;
    padding-bottom: $c-button-icon-size-small-padding-bottom;
    padding-left: $c-button-icon-size-small-padding-left;

    .c-icon {
        width: 1rem;
    }
}
