// c-button

.c-button {

    // --- defaults
    cursor: pointer;


    // -- display
    display: $c-button-display;


    // --- margins
    margin-top: $c-button-margin-top;
    margin-right: $c-button-margin-right;
    margin-bottom: $c-button-margin-bottom;
    margin-left: $c-button-margin-left;


    // --- overflow
    overflow-x: hidden;
    overflow-y: hidden;


    // --- position
    position: $c-button-position;
    top: $c-button-position-top;
    right: $c-button-position-right;
    bottom: $c-button-position-bottom;
    left: $c-button-position-left;
    z-index: $c-button-position-zindex;


    // -- shadow
    box-shadow: $c-button-box-shadow;


    // --- sizing
    width: $c-button-width;
    min-width: $c-button-min-width;
    max-width: $c-button-max-width;
    height: $c-button-height;
    min-height: $c-button-min-height;
    max-height: $c-button-max-height;


    // --- :variant: ghost
    &.is-button-ghost {
        @extend %is-button-ghost;

        &.size-small {
            @extend %button-size-small;
        }

        &.list-item {
            @extend %button-list-item;
        }
    }


    // --- :variant: ghost-icon
    &.is-button-ghost-icon {
        @extend %is-button-ghost-icon;

        &.size-small {
            @extend %button-size-small-icon;
        }

        &.list-item {
            @extend %button-list-item;
        }
    }


    // --- :variant: primary
    &.is-button-primary {
        @extend %is-button-primary;

        &.size-small {
            @extend %button-size-small;
        }

        &.list-item {
            @extend %button-list-item;
        }
    }


    // --- :variant: primary-icon
    &.is-button-primary-icon {
        @extend %is-button-primary-icon;

        &.size-small {
            @extend %button-size-small-icon;
        }

        &.list-item {
            @extend %button-list-item;
        }
    }


    // --- :variant: secondary
    &.is-button-secondary {
        @extend %is-button-secondary;

        &.size-small {
            @extend %button-size-small;
        }

        &.list-item {
            @extend %button-list-item;
        }
    }


    // --- :variant: secondary-icon
    &.is-button-secondary-icon {
        @extend %is-button-secondary-icon;

        &.size-small {
            @extend %button-size-small-icon;
        }

        &.list-item {
            @extend %button-list-item;
        }
    }


    // --- hidden label
    .hidden-label {
        position: absolute;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
    }
}
