// c-button button-list-item

%button-list-item {

    // --- defaults
    width: 100%;

    // --- backgrounds
    background-color: $c-button-list-item-background-color;
    background-image: $c-button-list-item-background-image;
    background-position: $c-button-list-item-background-position;
    background-size: $c-button-list-item-background-size;
    background-repeat: $c-button-list-item-background-repeat;
    background-origin: $c-button-list-item-background-origin;
    background-clip: $c-button-list-item-background-clip;
    background-attachment: $c-button-list-item-background-attachment;


    // --- borders
    border-top-width: $c-button-list-item-border-top-width;
    border-right-width: $c-button-list-item-border-right-width;
    border-bottom-width: $c-button-list-item-border-bottom-width;
    border-left-width: $c-button-list-item-border-left-width;
    //
    border-top-style: $c-button-list-item-border-top-style;
    border-right-style: $c-button-list-item-border-right-style;
    border-bottom-style: $c-button-list-item-border-bottom-style;
    border-left-style: $c-button-list-item-border-left-style;
    //
    border-top-color: $c-button-list-item-border-top-color;
    border-right-color: $c-button-list-item-border-right-color;
    border-bottom-color: $c-button-list-item-border-bottom-color;
    border-left-color: $c-button-list-item-border-left-color;
    // border-radius
    border-top-left-radius: $c-button-list-item-border-top-left-radius;
    border-top-right-radius: $c-button-list-item-border-top-right-radius;
    border-bottom-left-radius: $c-button-list-item-border-bottom-left-radius;
    border-bottom-right-radius: $c-button-list-item-border-bottom-right-radius;


    // --- paddings
    padding-top: $c-button-list-item-padding-top;
    padding-right: $c-button-list-item-padding-right;
    padding-bottom: $c-button-list-item-padding-bottom;
    padding-left: $c-button-list-item-padding-left;



    // --- text
    color: $c-button-list-item-font-color;
    font-family: $c-button-list-item-font-family;
    font-size: $c-button-list-item-font-size;
    font-style: $c-button-list-item-font-style;
    font-variant: $c-button-list-item-font-variant;
    font-weight: $c-button-list-item-font-weight;
    letter-spacing: $c-button-list-item-letter-spacing;
    line-height: $c-button-list-item-line-height;
    text-align: $c-button-list-item-text-align;
    text-decoration: $c-button-list-item-text-decoration;
    text-indent: $c-button-list-item-text-indent;
    text-overflow: $c-button-list-item-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-button-list-item-text-transform;
    text-shadow: $c-button-list-item-text-shadow;
    vertical-align: $c-button-list-item-vertical-align;
    white-space: $c-button-list-item-white-space;
    word-spacing: $c-button-list-item-word-spacing;
    user-select: none;


    // --- transforms
    transform: $c-button-list-item-transform;
    transform-origin: $c-button-list-item-transform-origin;
    transform-style: $c-button-list-item-transform-style;


    // --- transition
    will-change: $c-button-list-item-transition-property;
    transition-delay: $c-button-list-item-transition-delay;
    transition-duration: $c-button-list-item-transition-duration;
    transition-property: $c-button-list-item-transition-property;
    transition-timing-function: $c-button-list-item-transition-timing-function;


    // --- :state: active
    &:active,
    &:focus,
    &.state-active {
        background-color: $c-button-list-item-state-active-background-color;
        //
        border-top-color: $c-button-list-item-state-active-border-top-color;
        border-right-color: $c-button-list-item-state-active-border-right-color;
        border-bottom-color: $c-button-list-item-state-active-border-bottom-color;
        border-left-color: $c-button-list-item-state-active-border-left-color;
        //
        color: $c-button-list-item-state-active-font-color;
        //
        transform: $c-button-list-item-state-active-transform;
        box-shadow: 0px 0px 0px 0px transparent;
        outline: 0;

        // --- icon
        .c-icon {
            svg {
                path {
                    fill:  $color-white;
                }
            }


            // --- variation: circle background
            &.circle {
                svg {
                    circle {
                        fill: $color-white;
                    }
                    path {
                        fill: $c-button-list-item-icon-color;
                    }
                }
            }


            // --- variation: circle outline
            &.circle-outline {
                svg {
                    circle {
                        stroke: $color-white;
                    }
                    path {
                        fill: $color-white;
                    }
                }
            }


            // --- variation: square background
            &.square {
                svg {
                    rect {
                        fill: $color-white;
                    }
                    path {
                        fill: $c-button-list-item-icon-color;
                    }
                }
            }


            // --- variation: square outline
            &.square-outline {
                svg {
                    rect {
                        stroke: $color-white;
                    }
                    path {
                        fill: $color-white;
                    }
                }
            }
        }
    }


    // --- :state: hover
    &:hover,
    &.state-hover {
        background-color: $c-button-list-item-state-hover-background-color;
        //
        border-top-color: $c-button-list-item-state-hover-border-top-color;
        border-right-color: $c-button-list-item-state-hover-border-right-color;
        border-bottom-color: $c-button-list-item-state-hover-border-bottom-color;
        border-left-color: $c-button-list-item-state-hover-border-left-color;
        //
        color: $c-button-list-item-state-hover-font-color;
        //
        transform: $c-button-list-item-state-hover-transform;

        // --- icon
        .c-icon {
            svg {
                path {
                    fill:  $color-white;
                }
            }


            // --- variation: circle background
            &.circle {
                svg {
                    circle {
                        fill: $color-white;
                    }
                    path {
                        fill: $c-button-list-item-icon-color;
                    }
                }
            }


            // --- variation: circle outline
            &.circle-outline {
                svg {
                    circle {
                        stroke: $color-white;
                    }
                    path {
                        fill: $color-white;
                    }
                }
            }


            // --- variation: square background
            &.square {
                svg {
                    rect {
                        fill: $color-white;
                    }
                    path {
                        fill: $c-button-list-item-icon-color;
                    }
                }
            }


            // --- variation: square outline
            &.square-outline {
                svg {
                    rect {
                        stroke: $color-white;
                    }
                    path {
                        fill: $color-white;
                    }
                }
            }
        }
    }


    // --- :state: disabled
    &[disabled] {
        cursor: not-allowed;

        background-color: $c-button-list-item-state-disabled-background-color;
        //
        border-top-color: $c-button-list-item-state-disabled-border-top-color;
        border-right-color: $c-button-list-item-state-disabled-border-right-color;
        border-bottom-color: $c-button-list-item-state-disabled-border-bottom-color;
        border-left-color: $c-button-list-item-state-disabled-border-left-color;
        //
        color: $c-button-list-item-state-disabled-font-color;

        &:active,
        &:focus,
        &:hover,
        &.state-hover {
            background-color: $c-button-list-item-state-disabled-background-color;
            //
            border-top-color: $c-button-list-item-state-disabled-border-top-color;
            border-right-color: $c-button-list-item-state-disabled-border-right-color;
            border-bottom-color: $c-button-list-item-state-disabled-border-bottom-color;
            border-left-color: $c-button-list-item-state-disabled-border-left-color;
            //
            color: $c-button-list-item-state-disabled-font-color;
        }

        .c-icon {
            opacity: 0.5;
        }
    }


    // --- icon
    .c-icon {
        svg {
            rect {
                fill: transparent;
                stroke: transparent;
            }
            circle {
                fill: transparent;
                stroke: transparent;
            }
            path {
                fill: $c-button-list-item-icon-color;
                stroke: transparent;
            }
        }


        // --- variation: circle background
        &.circle {
            svg {
                rect {
                    fill: transparent;
                    stroke: transparent;
                }
                circle {
                    fill: $c-button-list-item-icon-color;
                    stroke: transparent;
                }
                path {
                    fill: $color-white;
                    stroke: transparent;
                }
            }
        }


        // --- variation: circle outline
        &.circle-outline {
            svg {
                rect {
                    fill: transparent;
                    stroke: transparent;
                }
                circle {
                    fill: transparent;
                    stroke: $c-button-list-item-icon-color;
                }
                path {
                    fill: $c-button-list-item-icon-color;
                    stroke: transparent;
                }
            }
        }


        // --- variation: square background
        &.square {
            svg {
                rect {
                    fill: $c-button-list-item-icon-color;
                    stroke: transparent;
                }
                circle {
                    fill: transparent;
                    stroke: transparent;
                }
                path {
                    fill: $color-white;
                    stroke: transparent;
                }
            }
        }


        // --- variation: square outline
        &.square-outline {
            svg {
                rect {
                    fill: transparent;
                    stroke: $c-button-list-item-icon-color;
                }
                circle {
                    fill: transparent;
                    stroke: transparent;
                }
                path {
                    fill: $c-button-list-item-icon-color;
                    stroke: transparent;
                }
            }
        }
    }
}
