<!-- chart: is-column -->

<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Charts: <span>is:column-chart</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>
            <div class="fieldsets">


                <!-- column-chart --->
                <c-chart is="column-chart">
                    <c-chart-item label="i am the label" value="14.345,55" percentage="80" color="color-accent-12"></c-chart-item>
                    <c-chart-item label="i am the label" value="5.345,55" percentage="75" color="color-accent-08"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="70" color="color-accent-04"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="65" color="color-accent-11"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="60" color="color-accent-07"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="55" color="color-accent-03"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="50" color="color-accent-10"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="45" color="color-accent-06"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="40" color="color-accent-02"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="35" color="color-accent-09"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="30" color="color-accent-05"></c-chart-item>
                    <c-chart-item label="i am the label" value="2.345,55" percentage="25" color="color-accent-01"></c-chart-item>
                </c-chart>


            </div>
        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/charts/column/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/charts/column/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/charts/column/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/charts/column/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Charts: <span>is:column-chart variants</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <div class="fieldsets">


                <!-- column-chart: no labels -->
                <c-fieldset legend="Column chart: no labels" css="styleguide-fieldset">
                    <c-chart is="column-chart">
                        <c-chart-item label="i am the label" value="14.345,55" percentage="20" color="color-accent-12"></c-chart-item>
                        <c-chart-item label="i am the label" value="5.345,55" percentage="25" color="color-accent-02"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="20" color="color-accent-06"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="10" color="color-accent-10"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="10" color="color-accent-04"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="15" color="color-accent-08"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- column-chart: display labels -->
                <c-fieldset legend="Column chart display labels" css="styleguide-fieldset">
                    <c-chart is="column-chart" display-labels>
                        <c-chart-item label="i am the label" value="14.345,55" percentage="20" color="color-accent-12"></c-chart-item>
                        <c-chart-item label="i am the label" value="5.345,55" percentage="25" color="color-accent-02"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="20" color="color-accent-06"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="10" color="color-accent-10"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="10" color="color-accent-04"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="15" color="color-accent-08"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- column-chart: size small, no labels -->
                <c-fieldset legend="Column chart: size-small, no labels" css="styleguide-fieldset">
                    <c-chart is="column-chart" css="size-small">
                        <c-chart-item label="i am the label" value="14.345,55" percentage="20" color="color-accent-12"></c-chart-item>
                        <c-chart-item label="i am the label" value="5.345,55" percentage="25" color="color-accent-02"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="20" color="color-accent-06"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="10" color="color-accent-10"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="10" color="color-accent-04"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="15" color="color-accent-08"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- column-chart: size-small, display labels -->
                <c-fieldset legend="Column chart size-small display labels" css="styleguide-fieldset">
                    <c-chart is="column-chart" css="size-small" display-labels>
                        <c-chart-item label="i am the label" value="14.345,55" percentage="20" color="color-accent-12"></c-chart-item>
                        <c-chart-item label="i am the label" value="5.345,55" percentage="25" color="color-accent-02"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="20" color="color-accent-06"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="10" color="color-accent-10"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="10" color="color-accent-04"></c-chart-item>
                        <c-chart-item label="i am the label" value="2.345,55" percentage="15" color="color-accent-08"></c-chart-item>
                    </c-chart>
                </c-fieldset>
            </div>


        </section>
    </article>
</section>
