// c-breadcrumb


.c-breadcrumb {

    // --- defaults
    display: inline-block;
    position: relative;
    text-decoration: none;
    overflow: visible;

    // --- background
    background-color: $c-breadcrumb-background-color;
    background-image: $c-breadcrumb-background-image;
    background-position: $c-breadcrumb-background-position;
    background-size: $c-breadcrumb-background-size;
    background-repeat: $c-breadcrumb-background-repeat;
    background-origin: $c-breadcrumb-background-origin;
    background-clip: $c-breadcrumb-background-clip;
    background-attachment: $c-breadcrumb-background-attachment;

    // --- borders
    border-top-width: $c-breadcrumb-border-top-width;
    border-right-width: $c-breadcrumb-border-right-width;
    border-bottom-width: $c-breadcrumb-border-bottom-width;
    border-left-width: $c-breadcrumb-border-left-width;
    border-top-style: $c-breadcrumb-border-top-style;
    border-right-style: $c-breadcrumb-border-right-style;
    border-bottom-style: $c-breadcrumb-border-bottom-style;
    border-left-style: $c-breadcrumb-border-left-style;
    border-top-color: $c-breadcrumb-border-top-color;
    border-right-color: $c-breadcrumb-border-right-color;
    border-bottom-color: $c-breadcrumb-border-bottom-color;
    border-left-color: $c-breadcrumb-border-left-color;
    border-top-left-radius: $c-breadcrumb-border-top-left-radius;
    border-top-right-radius: $c-breadcrumb-border-top-right-radius;
    border-bottom-left-radius: $c-breadcrumb-border-bottom-left-radius;
    border-bottom-right-radius: $c-breadcrumb-border-bottom-right-radius;

    // --- paddings
    padding-top: $c-breadcrumb-padding-top;
    padding-right: $c-breadcrumb-padding-right;
    padding-bottom: $c-breadcrumb-padding-bottom;
    padding-left: $c-breadcrumb-padding-left;

    // --- text
    color: $c-breadcrumb-font-color;
    font-family: $c-breadcrumb-font-family;
    font-size: $c-breadcrumb-font-size;
    font-style: $c-breadcrumb-font-style;
    font-variant: $c-breadcrumb-font-variant;
    font-weight: $c-breadcrumb-font-weight;
    letter-spacing: $c-breadcrumb-letter-spacing;
    line-height: $c-breadcrumb-line-height;
    text-align: $c-breadcrumb-text-align;
    text-decoration: $c-breadcrumb-text-decoration;
    text-indent: $c-breadcrumb-text-indent;
    text-overflow: $c-breadcrumb-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-breadcrumb-text-transform;
    text-shadow: $c-breadcrumb-text-shadow;
    vertical-align: $c-breadcrumb-vertical-align;
    white-space: $c-breadcrumb-white-space;
    word-spacing: $c-breadcrumb-word-spacing;
    user-select: none;

    // --- transforms
    transform: $c-breadcrumb-transform;
    transform-origin: $c-breadcrumb-transform-origin;
    transform-style: $c-breadcrumb-transform-style;

    // --- transition
    will-change: $c-breadcrumb-transition-property;
    transition-delay: $c-breadcrumb-transition-delay;
    transition-duration: $c-breadcrumb-transition-duration;
    transition-property: $c-breadcrumb-transition-property;
    transition-timing-function: $c-breadcrumb-transition-timing-function;


    // --- underline
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: calc(#{$c-breadcrumb-font-size} - (#{$c-breadcrumb-padding-bottom} / 2) - (#{$c-breadcrumb-underline-size} / 2));
        width: calc(100% - #{$c-breadcrumb-padding-left} - #{$c-breadcrumb-padding-right});
        height: $c-breadcrumb-underline-size;
        transform: $c-breadcrumb-underline-transform;
        transform-origin: $c-breadcrumb-underline-transform-origin;
        //
        background-color: $c-breadcrumb-underline-color;
        will-change: $c-breadcrumb-transition-property;

        // -- transition
        transition-delay: $c-breadcrumb-underline-transition-delay;
        transition-duration: $c-breadcrumb-underline-transition-duration;
        transition-property: $c-breadcrumb-underline-transition-property;
        transition-timing-function: $c-breadcrumb-underline-transition-timing-function;
    }


    // --- :state: active
    &:active,
    &:focus,
    &.state-active {
        background-color: $c-breadcrumb-state-active-background-color;
        text-decoration: $c-breadcrumb-text-decoration;
        //
        border-top-color: $c-breadcrumb-state-active-border-top-color;
        border-right-color: $c-breadcrumb-state-active-border-right-color;
        border-bottom-color: $c-breadcrumb-state-active-border-bottom-color;
        border-left-color: $c-breadcrumb-state-active-border-left-color;
        //
        color: $c-breadcrumb-state-active-font-color;
        //
        transform: $c-breadcrumb-state-active-transform;
        // outline
        box-shadow: $c-breadcrumb-outline;
        outline: 0;

        &:after {
            background-color: $c-breadcrumb-state-active-underline-color;
            transform: $c-breadcrumb-state-active-underline-transform;
            transform-origin: $c-breadcrumb-state-active-underline-transform-origin;
        }
    }


    // --- :state: hover
    &:hover,
    &.state-hover {
        background-color: $c-breadcrumb-state-hover-background-color;
        text-decoration: $c-breadcrumb-text-decoration;
        //
        border-top-color: $c-breadcrumb-state-hover-border-top-color;
        border-right-color: $c-breadcrumb-state-hover-border-right-color;
        border-bottom-color: $c-breadcrumb-state-hover-border-bottom-color;
        border-left-color: $c-breadcrumb-state-hover-border-left-color;
        //
        color: $c-breadcrumb-state-hover-font-color;
        //
        transform: $c-breadcrumb-state-hover-transform;

        &:after {
            background-color: $c-breadcrumb-state-hover-underline-color;
            transform: $c-breadcrumb-state-hover-underline-transform;
            transform-origin: $c-breadcrumb-state-hover-underline-transform-origin;
        }
    }


    &[aria-current] {
        color: $c-breadcrumb-current-font-color;
        font-family: $c-breadcrumb-current-font-family;
        font-size: $c-breadcrumb-current-font-size;
        font-style: $c-breadcrumb-current-font-style;
        font-variant: $c-breadcrumb-current-font-variant;
        font-weight: $c-breadcrumb-current-font-weight;
        letter-spacing: $c-breadcrumb-current-letter-spacing;
        line-height: $c-breadcrumb-current-line-height;
        text-align: $c-breadcrumb-current-text-align;
        text-decoration: $c-breadcrumb-current-text-decoration;
        text-indent: $c-breadcrumb-current-text-indent;
        text-overflow: $c-breadcrumb-current-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-breadcrumb-current-text-transform;
        text-shadow: $c-breadcrumb-current-text-shadow;
        vertical-align: $c-breadcrumb-current-vertical-align;
        white-space: $c-breadcrumb-current-white-space;
        word-spacing: $c-breadcrumb-current-word-spacing;

        &:hover {
            &:after {
                transform: translateX(-50%) scaleX(0);
                opacity: 0;
            }
        }
    }
}
