// c-breadcrumbs

.c-breadcrumbs {
    position: relative;

    ul {
        display: flex;
        align-items: baseline;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        position: relative;
    }

}
