// c-chart-item is-pie

@keyframes chartPie {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chartPieLabel {
    to {
        opacity: 1;
    }
}


.c-chart-item.is-pie {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    z-index: 1;

    figure {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;


        // ---


        figcaption {
            position: absolute;
            left: 0;
            top: 50%;
            display: block;
            width: 100%;
            height: 1px;
            z-index: 10;
            transform-origin: center center;

            // --- background
            background-color: $c-chart-label-background-color;
            background-image: $c-chart-label-background-image;
            background-position: $c-chart-label-background-position;
            background-size: $c-chart-label-background-size;
            background-repeat: $c-chart-label-background-repeat;
            background-origin: $c-chart-label-background-origin;
            background-clip: $c-chart-label-background-clip;
            background-attachment: $c-chart-label-background-attachment;

            // --- borders
            border-top-width: $c-chart-label-border-top-width;
            border-right-width: $c-chart-label-border-right-width;
            border-bottom-width: $c-chart-label-border-bottom-width;
            border-left-width: $c-chart-label-border-left-width;
            border-top-style: $c-chart-label-border-top-style;
            border-right-style: $c-chart-label-border-right-style;
            border-bottom-style: $c-chart-label-border-bottom-style;
            border-left-style: $c-chart-label-border-left-style;
            border-top-color: $c-chart-label-border-top-color;
            border-right-color: $c-chart-label-border-right-color;
            border-bottom-color: $c-chart-label-border-bottom-color;
            border-left-color: $c-chart-label-border-left-color;
            border-top-left-radius: $c-chart-label-border-top-left-radius;
            border-top-right-radius: $c-chart-label-border-top-right-radius;
            border-bottom-left-radius: $c-chart-label-border-bottom-left-radius;
            border-bottom-right-radius: $c-chart-label-border-bottom-right-radius;

            // --- margins
            margin-top: $c-chart-label-margin-top;
            margin-right: $c-chart-label-margin-right;
            margin-bottom: $c-chart-label-margin-bottom;
            margin-left: $c-chart-label-margin-left;

            // --- paddings
            padding-top: $c-chart-label-padding-top;
            padding-right: $c-chart-label-padding-right;
            padding-bottom: $c-chart-label-padding-bottom;
            padding-left: $c-chart-label-padding-left;

            // --- text
            color: $c-chart-label-font-color;
            font-family: $c-chart-label-font-family;
            font-size: $c-chart-label-font-size;
            font-style: $c-chart-label-font-style;
            font-variant: $c-chart-label-font-variant;
            font-weight: $c-chart-label-font-weight;
            letter-spacing: $c-chart-label-letter-spacing;
            line-height: $c-chart-label-line-height;
            text-align: center;
            text-decoration: $c-chart-label-text-decoration;
            text-indent: $c-chart-label-text-indent;
            text-overflow: $c-chart-label-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-chart-label-text-transform;
            text-shadow: $c-chart-label-text-shadow;
            vertical-align: $c-chart-label-vertical-align;
            white-space: $c-chart-label-white-space;
            word-spacing: $c-chart-label-word-spacing;
            user-select: none;

            opacity: 0;
            animation: chartPieLabel 1s $ease-out-quad forwards;

            &:after {
                display: none;
                content: '';
                position: absolute;
                left: 90%;
                top: 0;
                width: 20%;
                height: 1px;
                background-color: black;
            }

            span {
                position: absolute;
                display: block;
                left: calc(100% - 1rem);
                top: 0;
                transform-origin: center center;
                min-width: 8rem;

                &.color-accent-01 { color: $color-accent-01; }
                &.color-accent-02 { color: $color-accent-02; }
                &.color-accent-03 { color: $color-accent-03; }
                &.color-accent-04 { color: $color-accent-04; }
                &.color-accent-05 { color: $color-accent-05; }
                &.color-accent-06 { color: $color-accent-06; }
                &.color-accent-07 { color: $color-accent-07; }
                &.color-accent-08 { color: $color-accent-08; }
                &.color-accent-09 { color: $color-accent-09; }
                &.color-accent-10 { color: $color-accent-10; }
                &.color-accent-11 { color: $color-accent-11; }
                &.color-accent-12 { color: $color-accent-12; }
            }
        }


        svg {
            background: transparent;
            border-radius: 50%;

            circle {
                fill: transparent;
                stroke: $color-ui-02;
                stroke-width: 100;
                border-radius: 50%;
                animation: chartPie 1s linear forwards;

                &.color-accent-01 { stroke: $color-accent-01; }
                &.color-accent-02 { stroke: $color-accent-02; }
                &.color-accent-03 { stroke: $color-accent-03; }
                &.color-accent-04 { stroke: $color-accent-04; }
                &.color-accent-05 { stroke: $color-accent-05; }
                &.color-accent-06 { stroke: $color-accent-06; }
                &.color-accent-07 { stroke: $color-accent-07; }
                &.color-accent-08 { stroke: $color-accent-08; }
                &.color-accent-09 { stroke: $color-accent-09; }
                &.color-accent-10 { stroke: $color-accent-10; }
                &.color-accent-11 { stroke: $color-accent-11; }
                &.color-accent-12 { stroke: $color-accent-12; }

                &:hover {
                    stroke: blue;
                }
            }
        }
    }


    &:active,
    &:focus {
        z-index: 2;
        box-shadow: 0px 0px 0px 0.125rem $color-white, 0px 0px 0px 0.250rem $color-brand-01;

        .c-chart & {
            background-color: rgba(255, 255, 255, 0.7);
            .c-chart-item:not(:focus) {
                opacity: 0.2;
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}
