<!-- Forms: fieldset -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Fieldset</h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>



            <c-fieldset legend="I am legend">
                <c-radio is="radio" id="radio-id-01" name="c-radio-01" value="Radio value 1" task="demo-purpose">Radio label</c-radio><br />
                <c-checkbox is="checkbox" id="checkbox-id-01" task="demo-purpose">Checkbox label</c-checkbox><br />
            </c-fieldset>



        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/fieldset/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/fieldset/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/fieldset/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
