// c-pagination

c-pagination {
    display: flex;

    p {
        display: inline-flex;

        span {
            display: inline-block;
            min-width: 12rem;
            margin: auto 1rem auto 3rem;

            &:first-of-type{
                margin-left: 0;
            }
        }
    }

    c-button[task="previous"] {
        display: inline-flex;
        margin: 0 0.5rem 0 0;

        i {
            .sign {
                fill: $color-text-01;
            }
        }
        &[disabled] {
            i {
                .sign {
                    fill: $color-text-03;
                }
            }
        }
    }

    c-button[task="next"] {
        display: inline-flex;
        margin: 0 0 0 0.5rem;

        i {
            .sign {
                fill: $color-text-01;
            }
        }
        &[disabled] {
            i {
                .sign {
                    fill: $color-text-03;
                }
            }
        }
    }

    c-dropdown {
        display: inline-flex;
        max-width: 7rem;
        margin: 0 0 0 0;

        .c-input_error {
            display: none;
        }
    }
}
