<!-- Status -->
<section class="styleguide">

    <article>
        <h3 class="styleguide-title fx-appear">Status</h3>
        <section class="styleguide-example icons-overview fx-appear-from-bottom align-left">

        </section>

        <section id="version" class="styleguide-description fx-appear">
            <h2>Version: 1.0.2</h2>
            <p class="is-intro-text">
                Released per: 01/01/1900
            </p>
            <p>
                Change log
            </p>
        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Changelog</c-tab>
                <c-tab id="styleguide-tab-02">Status</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/status/1.0.2/changelog.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/status/1.0.2/status.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
        <c-divider css="styleguide-divider"></c-divider>

    </article>
</section>
