<!-- Headings -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Heading</h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <h1>This is heading H1</h1>
            <h2>This is heading H2</h2>
            <h3>This is heading H3</h3>
            <h4>This is heading H4</h4>
            <h5>This is heading H5</h5>
            <h6>This is heading H6</h6>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/text/headings/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/text/headings/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/text/headings/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Heading <span>is-center-aligned</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">


            <h1 class="is-center-aligned">This is heading H1</h1>
            <h2 class="is-center-aligned">This is heading H2</h2>
            <h3 class="is-center-aligned">This is heading H3</h3>
            <h4 class="is-center-aligned">This is heading H4</h4>
            <h5 class="is-center-aligned">This is heading H5</h5>
            <h6 class="is-center-aligned">This is heading H6</h6>


        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Heading <span>is-right-aligned</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">


            <h1 class="is-right-aligned">This is heading H1</h1>
            <h2 class="is-right-aligned">This is heading H2</h2>
            <h3 class="is-right-aligned">This is heading H3</h3>
            <h4 class="is-right-aligned">This is heading H4</h4>
            <h5 class="is-right-aligned">This is heading H5</h5>
            <h6 class="is-right-aligned">This is heading H6</h6>


        </section>
    </article>
</section>
