<!-- Tile -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Tile</h3>
        <section class="styleguide-example background-color-light fx-appear-from-bottom align-center">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>

            <c-tile
                draggable
                description="&euro; 14.374,96"
                href="/components/tile"
                id="tile-id-01"
                tooltip="Hey, I have some extra information for this tile">
                    <c-tile-icon is="adaptiveportalconfiguration" label="Tile label"></c-tile-icon>
                    <h3>Feature title</h3>
            </c-tile>

        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-02">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/tile/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/tile/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/tile/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
