// divider



// --- dimensions
$c-divider-height: 1px;


// --- background
$c-divider-backgorund-color: $color-ui-03;

// --- margins
$c-divider-margin-top: 0;
$c-divider-margin-right: auto;
$c-divider-margin-bottom: 0;
$c-divider-margin-left: auto;
