<!-- Opions -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Options</h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-options id="id-options-01" label="options-label">
                <c-option id="id-opion-01">Option 1</c-option>
                <c-option id="id-opion-02">Option 2</c-option>
                <c-option id="id-opion-03">Option 3</c-option>
            </c-options>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/options/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/options/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/options/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
