// c-upload

// file animation
@keyframes fxFileUpload {
    from   { opacity: 0; transform: translateY(2rem);}
    to     { opacity: 1; transform: translateY(0);}
}
@keyframes fxFileUploadRemove {
    from   { opacity: 1; max-height: 5rem;}
    to     { opacity: 0; max-height: 0;}
}
@keyframes fxFileUploadProcessing {
    0%   {
        width: 0%;
        top: auto;
        right: auto;
        bottom: 0.5rem;
        left: 1rem;
    }
    20%   {
        width: 0%;
        top: auto;
        right: auto;
        bottom: 0.5rem;
        left: 1rem;
    }
    49%   {
        width: calc(100% - 2rem);
        top: auto;
        right: auto;
        bottom: 0.5rem;
        left: 1rem;
    }
    50%   {
        width: calc(100% - 2rem);
        top: auto;
        right: 1rem;
        bottom: 0.5rem;
        left: auto;
    }
    80%   {
        width: 0%;
        top: auto;
        right: 1rem;
        bottom: 0.5rem;
        left: auto;
    }
    100%   {
        width: 0%;
        top: auto;
        right: 1rem;
        bottom: 0.5rem;
        left: auto;
    }
}

.c-upload {

    position: relative;
    transition: all .2s ease-in-out;

    input {
        position: absolute;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;

        &:focus {
            + label {
                // --- backgrounds
                background-color: $c-upload-label-focus-background-color;
                background-image: $c-upload-label-focus-background-image;
                background-position: $c-upload-label-focus-background-position;
                background-size: $c-upload-label-focus-background-size;
                background-repeat: $c-upload-label-focus-background-repeat;
                background-origin: $c-upload-label-focus-background-origin;
                background-clip: $c-upload-label-focus-background-clip;
                background-attachment: $c-upload-label-focus-background-attachment;

                // --- borders
                border-top-width: $c-upload-label-focus-border-top-width;
                border-right-width: $c-upload-label-focus-border-right-width;
                border-bottom-width: $c-upload-label-focus-border-bottom-width;
                border-left-width: $c-upload-label-focus-border-left-width;
                border-top-style: $c-upload-label-focus-border-top-style;
                border-right-style: $c-upload-label-focus-border-right-style;
                border-bottom-style: $c-upload-label-focus-border-bottom-style;
                border-left-style: $c-upload-label-focus-border-left-style;
                border-top-color: $c-upload-label-focus-border-top-color;
                border-right-color: $c-upload-label-focus-border-right-color;
                border-bottom-color: $c-upload-label-focus-border-bottom-color;
                border-left-color: $c-upload-label-focus-border-left-color;
                border-top-left-radius: $c-upload-label-focus-border-top-left-radius;
                border-top-right-radius: $c-upload-label-focus-border-top-right-radius;
                border-bottom-left-radius: $c-upload-label-focus-border-bottom-left-radius;
                border-bottom-right-radius: $c-upload-label-focus-border-bottom-right-radius;

                // -- display
                display: $c-upload-label-focus-display;

                // --- margins
                margin-top: $c-upload-label-focus-margin-top;
                margin-right: $c-upload-label-focus-margin-right;
                margin-bottom: $c-upload-label-focus-margin-bottom;
                margin-left: $c-upload-label-focus-margin-left;

                // --- overflow
                overflow-x: hidden;
                overflow-y: hidden;

                // --- paddings
                padding-top: $c-upload-label-focus-padding-top;
                padding-right: $c-upload-label-focus-padding-right;
                padding-bottom: $c-upload-label-focus-padding-bottom;
                padding-left: $c-upload-label-focus-padding-left;

                // --- position
                position: $c-upload-label-focus-position;
                top: $c-upload-label-focus-position-top;
                right: $c-upload-label-focus-position-right;
                bottom: $c-upload-label-focus-position-bottom;
                left: $c-upload-label-focus-position-left;
                z-index: $c-upload-label-focus-position-zindex;

                // -- shadow
                box-shadow: $c-upload-label-focus-box-shadow, $c-upload-label-focus-outline;

                // --- sizing
                width: $c-upload-label-focus-width;
                min-width: $c-upload-label-focus-min-width;
                max-width: $c-upload-label-focus-max-width;
                height: $c-upload-label-focus-height;
                min-height: $c-upload-label-focus-min-height;
                max-height: $c-upload-label-focus-max-height;

                // --- text
                color: $c-upload-label-focus-font-color;
                font-family: $c-upload-label-focus-font-family;
                font-size: $c-upload-label-focus-font-size;
                font-style: $c-upload-label-focus-font-style;
                font-variant: $c-upload-label-focus-font-variant;
                font-weight: $c-upload-label-focus-font-weight;
                letter-spacing: $c-upload-label-focus-letter-spacing;
                line-height: $c-upload-label-focus-line-height;
                text-align: $c-upload-label-focus-text-align;
                text-decoration: $c-upload-label-focus-text-decoration;
                text-indent: $c-upload-label-focus-text-indent;
                text-overflow: $c-upload-label-focus-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-upload-label-focus-text-transform;
                text-shadow: $c-upload-label-focus-text-shadow;
                vertical-align: $c-upload-label-focus-vertical-align;
                white-space: $c-upload-label-focus-white-space;
                word-spacing: $c-upload-label-focus-word-spacing;
                user-select: none;

                // --- transforms
                transform: $c-upload-label-focus-transform;
                transform-origin: $c-upload-label-focus-transform-origin;
                transform-style: $c-upload-label-focus-transform-style;

                // --- transition
                will-change: $c-upload-label-focus-transition-property;
                transition-delay: $c-upload-label-focus-transition-delay;
                transition-duration: $c-upload-label-focus-transition-duration;
                transition-property: $c-upload-label-focus-transition-property;
                transition-timing-function: $c-upload-label-focus-transition-timing-function;
            }
        }
    }



    // ---



    label {
        // --- backgrounds
        background-color: $c-upload-label-background-color;
        background-image: $c-upload-label-background-image;
        background-position: $c-upload-label-background-position;
        background-size: $c-upload-label-background-size;
        background-repeat: $c-upload-label-background-repeat;
        background-origin: $c-upload-label-background-origin;
        background-clip: $c-upload-label-background-clip;
        background-attachment: $c-upload-label-background-attachment;

        // --- borders
        border-top-width: $c-upload-label-border-top-width;
        border-right-width: $c-upload-label-border-right-width;
        border-bottom-width: $c-upload-label-border-bottom-width;
        border-left-width: $c-upload-label-border-left-width;
        border-top-style: $c-upload-label-border-top-style;
        border-right-style: $c-upload-label-border-right-style;
        border-bottom-style: $c-upload-label-border-bottom-style;
        border-left-style: $c-upload-label-border-left-style;
        border-top-color: $c-upload-label-border-top-color;
        border-right-color: $c-upload-label-border-right-color;
        border-bottom-color: $c-upload-label-border-bottom-color;
        border-left-color: $c-upload-label-border-left-color;
        border-top-left-radius: $c-upload-label-border-top-left-radius;
        border-top-right-radius: $c-upload-label-border-top-right-radius;
        border-bottom-left-radius: $c-upload-label-border-bottom-left-radius;
        border-bottom-right-radius: $c-upload-label-border-bottom-right-radius;

        // -- display
        display: $c-upload-label-display;

        // --- margins
        margin-top: $c-upload-label-margin-top;
        margin-right: $c-upload-label-margin-right;
        margin-bottom: $c-upload-label-margin-bottom;
        margin-left: $c-upload-label-margin-left;

        // --- overflow
        overflow-x: hidden;
        overflow-y: hidden;

        // --- paddings
        padding-top: $c-upload-label-padding-top;
        padding-right: $c-upload-label-padding-right;
        padding-bottom: $c-upload-label-padding-bottom;
        padding-left: $c-upload-label-padding-left;

        // --- position
        position: $c-upload-label-position;
        top: $c-upload-label-position-top;
        right: $c-upload-label-position-right;
        bottom: $c-upload-label-position-bottom;
        left: $c-upload-label-position-left;
        z-index: $c-upload-label-position-zindex;

        // -- shadow
        box-shadow: $c-upload-label-box-shadow;

        // --- sizing
        width: $c-upload-label-width;
        min-width: $c-upload-label-min-width;
        max-width: $c-upload-label-max-width;
        height: $c-upload-label-height;
        min-height: $c-upload-label-min-height;
        max-height: $c-upload-label-max-height;

        // --- text
        color: $c-upload-label-font-color;
        font-family: $c-upload-label-font-family;
        font-size: $c-upload-label-font-size;
        font-style: $c-upload-label-font-style;
        font-variant: $c-upload-label-font-variant;
        font-weight: $c-upload-label-font-weight;
        letter-spacing: $c-upload-label-letter-spacing;
        line-height: $c-upload-label-line-height;
        text-align: $c-upload-label-text-align;
        text-decoration: $c-upload-label-text-decoration;
        text-indent: $c-upload-label-text-indent;
        text-overflow: $c-upload-label-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-upload-label-text-transform;
        text-shadow: $c-upload-label-text-shadow;
        vertical-align: $c-upload-label-vertical-align;
        white-space: $c-upload-label-white-space;
        word-spacing: $c-upload-label-word-spacing;
        user-select: none;

        // --- transforms
        transform: $c-upload-label-transform;
        transform-origin: $c-upload-label-transform-origin;
        transform-style: $c-upload-label-transform-style;

        // --- transition
        will-change: $c-upload-label-transition-property;
        transition-delay: $c-upload-label-transition-delay;
        transition-duration: $c-upload-label-transition-duration;
        transition-property: $c-upload-label-transition-property;
        transition-timing-function: $c-upload-label-transition-timing-function;


        // --- state: hover
        &:hover {
            // --- defaults
            cursor: pointer;

            // --- backgrounds
            background-color: $c-upload-label-hover-background-color;
            background-image: $c-upload-label-hover-background-image;
            background-position: $c-upload-label-hover-background-position;
            background-size: $c-upload-label-hover-background-size;
            background-repeat: $c-upload-label-hover-background-repeat;
            background-origin: $c-upload-label-hover-background-origin;
            background-clip: $c-upload-label-hover-background-clip;
            background-attachment: $c-upload-label-hover-background-attachment;

            // --- borders
            border-top-width: $c-upload-label-hover-border-top-width;
            border-right-width: $c-upload-label-hover-border-right-width;
            border-bottom-width: $c-upload-label-hover-border-bottom-width;
            border-left-width: $c-upload-label-hover-border-left-width;
            border-top-style: $c-upload-label-hover-border-top-style;
            border-right-style: $c-upload-label-hover-border-right-style;
            border-bottom-style: $c-upload-label-hover-border-bottom-style;
            border-left-style: $c-upload-label-hover-border-left-style;
            border-top-color: $c-upload-label-hover-border-top-color;
            border-right-color: $c-upload-label-hover-border-right-color;
            border-bottom-color: $c-upload-label-hover-border-bottom-color;
            border-left-color: $c-upload-label-hover-border-left-color;
            border-top-left-radius: $c-upload-label-hover-border-top-left-radius;
            border-top-right-radius: $c-upload-label-hover-border-top-right-radius;
            border-bottom-left-radius: $c-upload-label-hover-border-bottom-left-radius;
            border-bottom-right-radius: $c-upload-label-hover-border-bottom-right-radius;

            // -- display
            display: $c-upload-label-hover-display;

            // --- margins
            margin-top: $c-upload-label-hover-margin-top;
            margin-right: $c-upload-label-hover-margin-right;
            margin-bottom: $c-upload-label-hover-margin-bottom;
            margin-left: $c-upload-label-hover-margin-left;

            // --- overflow
            overflow-x: hidden;
            overflow-y: hidden;

            // --- paddings
            padding-top: $c-upload-label-hover-padding-top;
            padding-right: $c-upload-label-hover-padding-right;
            padding-bottom: $c-upload-label-hover-padding-bottom;
            padding-left: $c-upload-label-hover-padding-left;

            // --- position
            position: $c-upload-label-hover-position;
            top: $c-upload-label-hover-position-top;
            right: $c-upload-label-hover-position-right;
            bottom: $c-upload-label-hover-position-bottom;
            left: $c-upload-label-hover-position-left;
            z-index: $c-upload-label-hover-position-zindex;

            // -- shadow
            box-shadow: $c-upload-label-hover-box-shadow;

            // --- sizing
            width: $c-upload-label-hover-width;
            min-width: $c-upload-label-hover-min-width;
            max-width: $c-upload-label-hover-max-width;
            height: $c-upload-label-hover-height;
            min-height: $c-upload-label-hover-min-height;
            max-height: $c-upload-label-hover-max-height;

            // --- text
            color: $c-upload-label-hover-font-color;
            font-family: $c-upload-label-hover-font-family;
            font-size: $c-upload-label-hover-font-size;
            font-style: $c-upload-label-hover-font-style;
            font-variant: $c-upload-label-hover-font-variant;
            font-weight: $c-upload-label-hover-font-weight;
            letter-spacing: $c-upload-label-hover-letter-spacing;
            line-height: $c-upload-label-hover-line-height;
            text-align: $c-upload-label-hover-text-align;
            text-decoration: $c-upload-label-hover-text-decoration;
            text-indent: $c-upload-label-hover-text-indent;
            text-overflow: $c-upload-label-hover-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-upload-label-hover-text-transform;
            text-shadow: $c-upload-label-hover-text-shadow;
            vertical-align: $c-upload-label-hover-vertical-align;
            white-space: $c-upload-label-hover-white-space;
            word-spacing: $c-upload-label-hover-word-spacing;
            user-select: none;

            // --- transforms
            transform: $c-upload-label-hover-transform;
            transform-origin: $c-upload-label-hover-transform-origin;
            transform-style: $c-upload-label-hover-transform-style;

            // --- transition
            will-change: $c-upload-label-hover-transition-property;
            transition-delay: $c-upload-label-hover-transition-delay;
            transition-duration: $c-upload-label-hover-transition-duration;
            transition-property: $c-upload-label-hover-transition-property;
            transition-timing-function: $c-upload-label-hover-transition-timing-function;
        }
    }



    // ---



    .c-upload_error {
        opacity: 0;

        // --- background
        background-color: $c-upload-error-background-color;
        background-image: $c-upload-error-background-image;
        background-position: $c-upload-error-background-position;
        background-size: $c-upload-error-background-size;
        background-repeat: $c-upload-error-background-repeat;
        background-origin: $c-upload-error-background-origin;
        background-clip: $c-upload-error-background-clip;
        background-attachment: $c-upload-error-background-attachment;

        // --- borders
        border-top-width: $c-upload-error-border-top-width;
        border-top-style: $c-upload-error-border-top-style;
        border-top-color: $c-upload-error-border-top-color;
        border-right-width: $c-upload-error-border-right-width;
        border-right-style: $c-upload-error-border-right-style;
        border-right-color: $c-upload-error-border-right-color;
        border-bottom-width: $c-upload-error-border-bottom-width;
        border-bottom-style: $c-upload-error-border-bottom-style;
        border-bottom-color: $c-upload-error-border-bottom-color;
        border-left-width: $c-upload-error-border-left-width;
        border-left-style: $c-upload-error-border-left-style;
        border-left-color: $c-upload-error-border-left-color;
        border-top-left-radius: $c-upload-error-border-top-left-radius;
        border-top-right-radius: $c-upload-error-border-top-right-radius;
        border-bottom-left-radius: $c-upload-error-border-bottom-left-radius;
        border-bottom-right-radius: $c-upload-error-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-upload-error-box-shadow, $c-upload-error-outline;

        // --- cursor
        cursor: pointer;

        // --- display
        display: $c-upload-error-display;

        // --- margins
        margin-top: $c-upload-error-margin-top;
        margin-right: $c-upload-error-margin-right;
        margin-bottom: $c-upload-error-margin-bottom;
        margin-left: $c-upload-error-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-upload-error-padding-top;
        padding-right: $c-upload-error-padding-right;
        padding-bottom: $c-upload-error-padding-bottom;
        padding-left: $c-upload-error-padding-left;

        // --- position
        position: $c-upload-error-position;
        top: $c-upload-error-position-top;
        right: $c-upload-error-position-right;
        bottom: $c-upload-error-position-bottom;
        left: $c-upload-error-position-left;
        z-index: $c-upload-error-position-zindex;

        // --- resize
        resize: vertical;

        // --- sizing
        width: $c-upload-error-width;
        min-width: $c-upload-error-min-width;
        max-width: $c-upload-error-max-width;
        height: $c-upload-error-height;
        min-height: $c-upload-error-min-height;
        max-height: $c-upload-error-max-height;

        // --- text
        color: $c-upload-error-font-color;
        font-family: $c-upload-error-font-family;
        font-size: $c-upload-error-font-size;
        font-style: $c-upload-error-font-style;
        font-variant: $c-upload-error-font-variant;
        font-weight: $c-upload-error-font-weight;
        letter-spacing: $c-upload-error-letter-spacing;
        line-height: $c-upload-error-line-height;
        text-align: $c-upload-error-text-align;
        text-decoration: $c-upload-error-text-decoration;
        text-indent: 0;
        text-overflow: $c-upload-error-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-upload-error-text-transform;
        text-shadow: $c-upload-error-text-shadow;
        vertical-align: $c-upload-error-vertical-align;
        white-space: $c-upload-error-white-space;
        word-spacing: $c-upload-error-word-spacing;

        // --- transition
        transition: $c-upload-error-transition-property $c-upload-transition-duration $c-upload-transition-delay $c-upload-transition-timing-function;
    }



    // ---



    .c-upload_file {

        .c-upload_file-name {
            // --- background
            background-color: $c-upload-file-background-color;
            background-image: $c-upload-file-background-image;
            background-position: $c-upload-file-background-position;
            background-size: $c-upload-file-background-size;
            background-repeat: $c-upload-file-background-repeat;
            background-origin: $c-upload-file-background-origin;
            background-clip: $c-upload-file-background-clip;
            background-attachment: $c-upload-file-background-attachment;

            // --- borders
            border-top-width: $c-upload-file-border-top-width;
            border-top-style: $c-upload-file-border-top-style;
            border-top-color: $c-upload-file-border-top-color;
            border-right-width: $c-upload-file-border-right-width;
            border-right-style: $c-upload-file-border-right-style;
            border-right-color: $c-upload-file-border-right-color;
            border-bottom-width: $c-upload-file-border-bottom-width;
            border-bottom-style: $c-upload-file-border-bottom-style;
            border-bottom-color: $c-upload-file-border-bottom-color;
            border-left-width: $c-upload-file-border-left-width;
            border-left-style: $c-upload-file-border-left-style;
            border-left-color: $c-upload-file-border-left-color;
            border-top-left-radius: $c-upload-file-border-top-left-radius;
            border-top-right-radius: $c-upload-file-border-top-right-radius;
            border-bottom-left-radius: $c-upload-file-border-bottom-left-radius;
            border-bottom-right-radius: $c-upload-file-border-bottom-right-radius;

            // --- box-shadow
            box-shadow: $c-upload-file-box-shadow, $c-upload-file-outline;

            // --- display
            display: $c-upload-file-display;

            // --- margins
            margin-top: $c-upload-file-margin-top;
            margin-right: $c-upload-file-margin-right;
            margin-bottom: $c-upload-file-margin-bottom;
            margin-left: $c-upload-file-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-upload-file-padding-top;
            padding-right: $c-upload-file-padding-right;
            padding-bottom: $c-upload-file-padding-bottom;
            padding-left: $c-upload-file-padding-left;

            // --- position
            position: $c-upload-file-position;
            top: $c-upload-file-position-top;
            right: $c-upload-file-position-right;
            bottom: $c-upload-file-position-bottom;
            left: $c-upload-file-position-left;
            z-index: $c-upload-file-position-zindex;

            // --- resize
            resize: none;

            // --- sizing
            width: $c-upload-file-width;
            min-width: $c-upload-file-min-width;
            max-width: $c-upload-file-max-width;
            height: $c-upload-file-height;
            min-height: $c-upload-file-min-height;
            max-height: $c-upload-file-max-height;

            // --- text
            color: $c-upload-file-font-color;
            font-family: $c-upload-file-font-family;
            font-size: $c-upload-file-font-size;
            font-style: $c-upload-file-font-style;
            font-variant: $c-upload-file-font-variant;
            font-weight: $c-upload-file-font-weight;
            letter-spacing: $c-upload-file-letter-spacing;
            line-height: $c-upload-file-line-height;
            text-align: $c-upload-file-text-align;
            text-decoration: $c-upload-file-text-decoration;
            text-indent: 0;
            text-overflow: $c-upload-file-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-upload-file-text-transform;
            text-shadow: $c-upload-file-text-shadow;
            vertical-align: $c-upload-file-vertical-align;
            white-space: $c-upload-file-white-space;
            word-spacing: $c-upload-file-word-spacing;

            overflow: hidden;
        }

        .c-upload_file-size {
            // --- background
            background-color: $c-upload-file-size-background-color;
            background-image: $c-upload-file-size-background-image;
            background-position: $c-upload-file-size-background-position;
            background-size: $c-upload-file-size-background-size;
            background-repeat: $c-upload-file-size-background-repeat;
            background-origin: $c-upload-file-size-background-origin;
            background-clip: $c-upload-file-size-background-clip;
            background-attachment: $c-upload-file-size-background-attachment;

            // --- borders
            border-top-width: $c-upload-file-size-border-top-width;
            border-top-style: $c-upload-file-size-border-top-style;
            border-top-color: $c-upload-file-size-border-top-color;
            border-right-width: $c-upload-file-size-border-right-width;
            border-right-style: $c-upload-file-size-border-right-style;
            border-right-color: $c-upload-file-size-border-right-color;
            border-bottom-width: $c-upload-file-size-border-bottom-width;
            border-bottom-style: $c-upload-file-size-border-bottom-style;
            border-bottom-color: $c-upload-file-size-border-bottom-color;
            border-left-width: $c-upload-file-size-border-left-width;
            border-left-style: $c-upload-file-size-border-left-style;
            border-left-color: $c-upload-file-size-border-left-color;
            border-top-left-radius: $c-upload-file-size-border-top-left-radius;
            border-top-right-radius: $c-upload-file-size-border-top-right-radius;
            border-bottom-left-radius: $c-upload-file-size-border-bottom-left-radius;
            border-bottom-right-radius: $c-upload-file-size-border-bottom-right-radius;

            // --- box-shadow
            box-shadow: $c-upload-file-size-box-shadow, $c-upload-file-size-outline;

            // --- display
            display: $c-upload-file-size-display;

            // --- margins
            margin-top: $c-upload-file-size-margin-top;
            margin-right: $c-upload-file-size-margin-right;
            margin-bottom: $c-upload-file-size-margin-bottom;
            margin-left: $c-upload-file-size-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-upload-file-size-padding-top;
            padding-right: $c-upload-file-size-padding-right;
            padding-bottom: $c-upload-file-size-padding-bottom;
            padding-left: $c-upload-file-size-padding-left;

            // --- position
            position: $c-upload-file-size-position;
            top: $c-upload-file-size-position-top;
            right: $c-upload-file-size-position-right;
            bottom: $c-upload-file-size-position-bottom;
            left: $c-upload-file-size-position-left;
            z-index: $c-upload-file-size-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-upload-file-size-width;
            min-width: $c-upload-file-size-min-width;
            max-width: $c-upload-file-size-max-width;
            height: $c-upload-file-size-height;
            min-height: $c-upload-file-size-min-height;
            max-height: $c-upload-file-size-max-height;

            // --- text
            color: $c-upload-file-size-font-color;
            font-family: $c-upload-file-size-font-family;
            font-size: $c-upload-file-size-font-size;
            font-style: $c-upload-file-size-font-style;
            font-variant: $c-upload-file-size-font-variant;
            font-weight: $c-upload-file-size-font-weight;
            letter-spacing: $c-upload-file-size-letter-spacing;
            line-height: $c-upload-file-size-line-height;
            text-align: $c-upload-file-size-text-align;
            text-decoration: $c-upload-file-size-text-decoration;
            text-indent: 0;
            text-overflow: $c-upload-file-size-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-upload-file-size-text-transform;
            text-shadow: $c-upload-file-size-text-shadow;
            vertical-align: $c-upload-file-size-vertical-align;
            white-space: $c-upload-file-size-white-space;
            word-spacing: $c-upload-file-size-word-spacing;
        }


        // --- animation
        opacity: 0;
        animation-name: fxFileUpload;
        animation-duration: .3s;
        animation-delay: 0;
        animation-fill-mode: forwards;
        animation-timing-function: $ease-out-cubic;

        @for $i from 0 through 8 {
            &:nth-of-type(#{$i}) {
                animation-delay: calc(#{$i} * 0.1s);
            }
        }

        &.remove-item-from-dom {
            overflow: hidden;

            animation-name: fxFileUploadRemove;
            animation-duration: .3s;
            animation-delay : 0;
            animation-fill-mode: forwards;
            animation-timing-function: $ease-out-cubic;
        }

        .c-button[data-task="cancel-upload"] {
            display: inline-block;
        }
        .c-button[data-task="remove-file"] {
            display: none;
        }
        .c-icon.icon-check {
            display: none;
            margin-left: 1rem;

            svg {
                circle {
                    fill: $color-success-01;
                }
                path: {
                    fill: white;
                }
            }
        }
        .c-icon.icon-clear {
            display: none;
            margin-left: 1rem;

            svg {
                circle {
                    fill: $color-error-01;
                }
                path: {
                    fill: white;
                }
            }
        }

        &.is-successfull {
            .c-button[data-task="cancel-upload"] {
                display: none;
            }
            .c-button[data-task="remove-file"] {
                display: inline-block;
            }
            .c-loader {
                display: none;
            }
            .c-icon.icon-check {
                display: inline-block;
            }
            .c-icon.icon-clear {
                display: none;
            }
        }
        &.has-failed {
            .c-button[data-task="cancel-upload"] {
                display: none;
            }
            .c-button[data-task="remove-file"] {
                display: inline-block;
            }
            .c-loader {
                display: none;
            }
            .c-icon.icon-check {
                display: none;
            }
            .c-icon.icon-clear {
                display: inline-block;
            }
        }
    }



    // ---



    .c-loader {
        top: 0.5rem;
    }



    // ---


    // state: invalid
    &.is-invalid {
        .c-upload_error {
            opacity: 1;
        }
    }
}
