// c-option


.c-options {
    .c-option {
        // backgrounds
        background-color: $c-options-option-background-color;
        background-image: $c-options-option-background-image;
        background-position: $c-options-option-background-position;
        background-size: $c-options-option-background-size;
        background-repeat: $c-options-option-background-repeat;
        background-origin: $c-options-option-background-origin;
        background-clip: $c-options-option-background-clip;
        background-attachment: $c-options-option-background-attachment;
        // borders
        border-top-width: $c-options-option-border-top-width;
        border-right-width: $c-options-option-border-right-width;
        border-bottom-width: $c-options-option-border-bottom-width;
        border-left-width: $c-options-option-border-left-width;
        border-top-style: $c-options-option-border-top-style;
        border-right-style: $c-options-option-border-right-style;
        border-bottom-style: $c-options-option-border-bottom-style;
        border-left-style: $c-options-option-border-left-style;
        border-top-color: $c-options-option-border-top-color;
        border-right-color: $c-options-option-border-right-color;
        border-bottom-color: $c-options-option-border-bottom-color;
        border-left-color: $c-options-option-border-left-color;
        border-top-left-radius: $c-options-option-border-top-left-radius;
        border-top-right-radius: $c-options-option-border-top-right-radius;
        border-bottom-left-radius: $c-options-option-border-bottom-left-radius;
        border-bottom-right-radius: $c-options-option-border-bottom-right-radius;
        // paddings
        padding-top: $c-options-option-padding-top;
        padding-right: $c-options-option-padding-right;
        padding-bottom: $c-options-option-padding-bottom;
        padding-left: $c-options-option-padding-left;
        // text
        color: $c-options-option-font-color;
        font-family: $c-options-option-font-family;
        font-size: $c-options-option-font-size;
        font-style: $c-options-option-font-style;
        font-variant: $c-options-option-font-variant;
        font-weight: $c-options-option-font-weight;
        letter-spacing: $c-options-option-letter-spacing;
        line-height: $c-options-option-line-height;
        text-align: $c-options-option-text-align;
        text-decoration: $c-options-option-text-decoration;
        text-indent: $c-options-option-text-indent;
        text-overflow: $c-options-option-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-options-option-text-transform;
        text-shadow: $c-options-option-text-shadow;
        vertical-align: $c-options-option-vertical-align;
        white-space: $c-options-option-white-space;

        &:hover {
            // defaults
            cursor: pointer;
            // backgrounds
            background-color: $c-options-option-selected-background-color;
            background-image: $c-options-option-selected-background-image;
            background-position: $c-options-option-selected-background-position;
            background-size: $c-options-option-selected-background-size;
            background-repeat: $c-options-option-selected-background-repeat;
            background-origin: $c-options-option-selected-background-origin;
            background-clip: $c-options-option-selected-background-clip;
            background-attachment: $c-options-option-selected-background-attachment;
            // borders
            border-top-width: $c-options-option-selected-border-top-width;
            border-right-width: $c-options-option-selected-border-right-width;
            border-bottom-width: $c-options-option-selected-border-bottom-width;
            border-left-width: $c-options-option-selected-border-left-width;
            border-top-style: $c-options-option-selected-border-top-style;
            border-right-style: $c-options-option-selected-border-right-style;
            border-bottom-style: $c-options-option-selected-border-bottom-style;
            border-left-style: $c-options-option-selected-border-left-style;
            border-top-color: $c-options-option-selected-border-top-color;
            border-right-color: $c-options-option-selected-border-right-color;
            border-bottom-color: $c-options-option-selected-border-bottom-color;
            border-left-color: $c-options-option-selected-border-left-color;
            // border-radius
            border-top-left-radius: $c-options-option-selected-border-top-left-radius;
            border-top-right-radius: $c-options-option-selected-border-top-right-radius;
            border-bottom-left-radius: $c-options-option-selected-border-bottom-left-radius;
            border-bottom-right-radius: $c-options-option-selected-border-bottom-right-radius;
            // paddings
            padding-top: $c-options-option-selected-padding-top;
            padding-right: $c-options-option-selected-padding-right;
            padding-bottom: $c-options-option-selected-padding-bottom;
            padding-left: $c-options-option-selected-padding-left;
            // text
            color: $c-options-option-selected-font-color;
            font-family: $c-options-option-selected-font-family;
            font-size: $c-options-option-selected-font-size;
            font-style: $c-options-option-selected-font-style;
            font-variant: $c-options-option-selected-font-variant;
            font-weight: $c-options-option-selected-font-weight;
            letter-spacing: $c-options-option-selected-letter-spacing;
            line-height: $c-options-option-selected-line-height;
            text-align: $c-options-option-selected-text-align;
            text-decoration: $c-options-option-selected-text-decoration;
            text-indent: $c-options-option-selected-text-indent;
            text-overflow: $c-options-option-selected-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-options-option-selected-text-transform;
            text-shadow: $c-options-option-selected-text-shadow;
            vertical-align: $c-options-option-selected-vertical-align;
            white-space: $c-options-option-selected-white-space;
        }

        &[aria-selected] {
            // backgrounds
            background-color: $c-options-option-selected-background-color;
            background-image: $c-options-option-selected-background-image;
            background-position: $c-options-option-selected-background-position;
            background-size: $c-options-option-selected-background-size;
            background-repeat: $c-options-option-selected-background-repeat;
            background-origin: $c-options-option-selected-background-origin;
            background-clip: $c-options-option-selected-background-clip;
            background-attachment: $c-options-option-selected-background-attachment;
            // borders
            border-top-width: $c-options-option-selected-border-top-width;
            border-right-width: $c-options-option-selected-border-right-width;
            border-bottom-width: $c-options-option-selected-border-bottom-width;
            border-left-width: $c-options-option-selected-border-left-width;
            border-top-style: $c-options-option-selected-border-top-style;
            border-right-style: $c-options-option-selected-border-right-style;
            border-bottom-style: $c-options-option-selected-border-bottom-style;
            border-left-style: $c-options-option-selected-border-left-style;
            border-top-color: $c-options-option-selected-border-top-color;
            border-right-color: $c-options-option-selected-border-right-color;
            border-bottom-color: $c-options-option-selected-border-bottom-color;
            border-left-color: $c-options-option-selected-border-left-color;
            // border-radius
            border-top-left-radius: $c-options-option-selected-border-top-left-radius;
            border-top-right-radius: $c-options-option-selected-border-top-right-radius;
            border-bottom-left-radius: $c-options-option-selected-border-bottom-left-radius;
            border-bottom-right-radius: $c-options-option-selected-border-bottom-right-radius;
            // paddings
            padding-top: $c-options-option-selected-padding-top;
            padding-right: $c-options-option-selected-padding-right;
            padding-bottom: $c-options-option-selected-padding-bottom;
            padding-left: $c-options-option-selected-padding-left;
            // text
            color: $c-options-option-selected-font-color;
            font-family: $c-options-option-selected-font-family;
            font-size: $c-options-option-selected-font-size;
            font-style: $c-options-option-selected-font-style;
            font-variant: $c-options-option-selected-font-variant;
            font-weight: $c-options-option-selected-font-weight;
            letter-spacing: $c-options-option-selected-letter-spacing;
            line-height: $c-options-option-selected-line-height;
            text-align: $c-options-option-selected-text-align;
            text-decoration: $c-options-option-selected-text-decoration;
            text-indent: $c-options-option-selected-text-indent;
            text-overflow: $c-options-option-selected-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-options-option-selected-text-transform;
            text-shadow: $c-options-option-selected-text-shadow;
            vertical-align: $c-options-option-selected-vertical-align;
            white-space: $c-options-option-selected-white-space;
        }
    }


    // No results
    .no-results {
        // paddings
        padding-top: $c-options-option-selected-padding-top;
        padding-right: $c-options-option-selected-padding-right;
        padding-bottom: $c-options-option-selected-padding-bottom;
        padding-left: $c-options-option-selected-padding-left;
        // text
        color: $c-options-option-font-color;
        font-family: $c-options-option-font-family;
        font-size: $c-options-option-font-size;
        font-style: $c-options-option-font-style;
        font-variant: $c-options-option-font-variant;
        font-weight: $c-options-option-font-weight;
        letter-spacing: $c-options-option-letter-spacing;
        line-height: $c-options-option-line-height;
        text-align: $c-options-option-text-align;
        text-decoration: $c-options-option-text-decoration;
        text-indent: $c-options-option-text-indent;
        text-overflow: $c-options-option-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-options-option-text-transform;
        text-shadow: $c-options-option-text-shadow;
        vertical-align: $c-options-option-vertical-align;
        white-space: $c-options-option-white-space;
    }
}
