// c-options


.c-options {

    // --- defaults
    list-style: none;
    padding: 0;
    outline: 0;


    // --- backgrounds
    background-color: $c-options-background-color;
    background-image: $c-options-background-image;
    background-position: $c-options-background-position;
    background-size: $c-options-background-size;
    background-repeat: $c-options-background-repeat;
    background-origin: $c-options-background-origin;
    background-clip: $c-options-background-clip;
    background-attachment: $c-options-background-attachment;


    // --- borders
    border-top-width: $c-options-border-top-width;
    border-right-width: $c-options-border-right-width;
    border-bottom-width: $c-options-border-bottom-width;
    border-left-width: $c-options-border-left-width;
    //
    border-top-style: $c-options-border-top-style;
    border-right-style: $c-options-border-right-style;
    border-bottom-style: $c-options-border-bottom-style;
    border-left-style: $c-options-border-left-style;
    //
    border-top-color: $c-options-border-top-color;
    border-right-color: $c-options-border-right-color;
    border-bottom-color: $c-options-border-bottom-color;
    border-left-color: $c-options-border-left-color;
    // border-radius
    border-top-left-radius: $c-options-border-top-left-radius;
    border-top-right-radius: $c-options-border-top-right-radius;
    border-bottom-left-radius: $c-options-border-bottom-left-radius;
    border-bottom-right-radius: $c-options-border-bottom-right-radius;


    // ---  box shadow
    box-shadow: $c-options-box-shadow;


    // dimensions
    min-width: $c-options-dimensions-min-width;
    max-width: $c-options-dimensions-max-width;
    min-height: $c-options-dimensions-min-height;
    max-height: $c-options-dimensions-max-height;


    // --- paddings
    padding-top: $c-options-padding-top;
    padding-right: $c-options-padding-right;
    padding-bottom: $c-options-padding-bottom;
    padding-left: $c-options-padding-left;


    // --- component: divider
    .c-divider {
        background-color: $c-options-divider-color;
        margin-top: $c-options-divider-margin-top;
        margin-bottom: $c-options-divider-margin-bottom;
    }
}
