<!-- Accordion -->
<section class="styleguide">
  <article>
    <h3 class="styleguide-title fx-appear">Accordion</h3>
    <section class="styleguide-example fx-appear-from-bottom align-left">
        <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


    <c-accordion-group>
        <block-button-group is="button-group-align-right">
            <c-button task="demo-purpose" is="button-ghost" task="accordion-expand-all" id="button-id-01">
                <c-icon is="icon-arrow-right" css="circle-outline"></c-icon>
                Expand all
            </c-button>
            <c-button task="demo-purpose" is="button-secondary" task="accordion-collapse-all" css="size-small" id="button-id-02">
                Collapse all
                <c-icon is="icon-arrow-up" css="circle-outline"></c-icon>
            </c-button>
        </block-button-group>


        <c-accordion id="accordion-id-01">
            <c-accordion-button>
                <c-icon is="icon-arrow-right" css="circle-outline"></c-icon>
                Accordion item 1
            </c-accordion-button>
            <c-accordion-region>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </c-accordion-region>
        </c-accordion>


        <c-accordion id="accordion-id-02">
            <c-accordion-button>
                <c-icon is="icon-arrow-right" css="circle-outline"></c-icon>
                Accordion item 2
                <span>Accordion item subtext</span>
            </c-accordion-button>
            <c-accordion-region>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </c-accordion-region>
        </c-accordion>


        <c-accordion id="accordion-id-03">
            <c-accordion-button>
                <c-icon is="icon-arrow-right" css="circle-outline"></c-icon>
                Accordion item 3
            </c-accordion-button>
            <c-accordion-region>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </c-accordion-region>
        </c-accordion>


        <c-accordion id="accordion-id-04">
            <c-accordion-button>
                <c-icon is="icon-arrow-right" css="circle-outline"></c-icon>
                Accordion item 4
            </c-accordion-button>
            <c-accordion-region>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </c-accordion-region>
        </c-accordion>


        <c-accordion id="accordion-id-05">
            <c-accordion-button>
                <c-icon is="icon-arrow-right" css="circle-outline"></c-icon>
                Accordion item 5
            </c-accordion-button>
            <c-accordion-region>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </c-accordion-region>
        </c-accordion>
    </c-accordion-group>




    </section>
    <section class="styleguide-description fx-appear">
      <c-tabs css="styleguide-tabs">
        <c-tab id="styleguide-tab-01">Code</c-tab>
        <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
        <c-tab id="styleguide-tab-03">NPM</c-tab>
        <c-tab-panel id="styleguide-tab-01-panel">
          <markdown [src]="'./assets/readme/accordion/CODE.md'"></markdown>
        </c-tab-panel>
        <!-- <c-tab-panel id="styleguide-tab-02-panel">
          <markdown [src]="'./assets/readme/accordion/README.md'"></markdown>
        </c-tab-panel> -->
        <c-tab-panel id="styleguide-tab-03-panel">
          <markdown [src]="'./assets/readme/accordion/NPM.md'"></markdown>
        </c-tab-panel>
      </c-tabs>
    </section>
  </article>
  <c-divider css="styleguide-divider"></c-divider>
</section>
