// paragraphs

p,
.text {

    // --- text
    color: $c-paragraph-font-color;
    font-family: $c-paragraph-font-family;
    font-size: $c-paragraph-font-size;
    font-style: $c-paragraph-font-style;
    font-variant: $c-paragraph-font-variant;
    font-weight: $c-paragraph-font-weight;
    letter-spacing: $c-paragraph-letter-spacing;
    line-height: $c-paragraph-line-height;
    text-align: $c-paragraph-text-align;
    text-decoration: $c-paragraph-text-decoration;
    text-indent: $c-paragraph-text-indent;
    text-overflow: $c-paragraph-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-paragraph-text-transform;
    text-shadow: $c-paragraph-text-shadow;
    vertical-align: $c-paragraph-vertical-align;
    white-space: $c-paragraph-white-space;

    strong {
        font-weight: $c-paragraph-font-weight-bold;
    }


    // -- margins
    margin-top: $c-paragraph-margin-top;
    margin-right: $c-paragraph-margin-right;
    margin-bottom: $c-paragraph-margin-bottom;
    margin-left: $c-paragraph-margin-left;


    // --- paddings
    padding-top: $c-paragraph-padding-top;
    padding-right: $c-paragraph-padding-right;
    padding-bottom: $c-paragraph-padding-bottom;
    padding-left: $c-paragraph-padding-left;


    &.is-intro-text {
        // --- text
        color: $c-paragraph-intro-font-color;
        font-family: $c-paragraph-intro-font-family;
        font-size: $c-paragraph-intro-font-size;
        font-style: $c-paragraph-intro-font-style;
        font-variant: $c-paragraph-intro-font-variant;
        font-weight: $c-paragraph-intro-font-weight;
        letter-spacing: $c-paragraph-intro-letter-spacing;
        line-height: $c-paragraph-intro-line-height;
        text-align: $c-paragraph-intro-text-align;
        text-decoration: $c-paragraph-intro-text-decoration;
        text-indent: $c-paragraph-intro-text-indent;
        text-overflow: $c-paragraph-intro-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-paragraph-intro-text-transform;
        text-shadow: $c-paragraph-intro-text-shadow;
        vertical-align: $c-paragraph-intro-vertical-align;
        white-space: $c-paragraph-intro-white-space;

        strong {
            font-weight: $c-paragraph-intro-font-weight-bold;
        }

        // -- margins
        margin-top: $c-paragraph-intro-margin-top;
        margin-right: $c-paragraph-intro-margin-right;
        margin-bottom: $c-paragraph-intro-margin-bottom;
        margin-left: $c-paragraph-intro-margin-left;


        // --- paddings
        padding-top: $c-paragraph-intro-padding-top;
        padding-right: $c-paragraph-intro-padding-right;
        padding-bottom: $c-paragraph-intro-padding-bottom;
        padding-left: $c-paragraph-intro-padding-left;
    }

    // links
    .c-link:focus {
        &:before {
            display: none;
        }
    }
}
