// c-loader

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.c-loader {

    // -- defaults
    display: inline-block;
    position: relative;
    width: $c-loader-size;
    height: $c-loader-size;
    animation: loader $c-loader-animation-duration linear infinite;



    // --- backgrounds
    background-color: $c-loader-background-color;
    background-image: $c-loader-background-image;
    background-position: $c-loader-background-position;
    background-size: $c-loader-background-size;
    background-repeat: $c-loader-background-repeat;
    background-origin: $c-loader-background-origin;
    background-clip: $c-loader-background-clip;
    background-attachment: $c-loader-background-attachment;


    // --- borders
    border-top-width: $c-loader-border-top-width;
    border-right-width: $c-loader-border-right-width;
    border-bottom-width: $c-loader-border-bottom-width;
    border-left-width: $c-loader-border-left-width;
    //
    border-top-style: $c-loader-border-top-style;
    border-right-style: $c-loader-border-right-style;
    border-bottom-style: $c-loader-border-bottom-style;
    border-left-style: $c-loader-border-left-style;
    //
    border-top-color: $c-loader-border-top-color;
    border-right-color: $c-loader-border-right-color;
    border-bottom-color: $c-loader-border-bottom-color;
    border-left-color: $c-loader-border-left-color;
    // border-radius
    border-top-left-radius: $c-loader-border-top-left-radius;
    border-top-right-radius: $c-loader-border-top-right-radius;
    border-bottom-left-radius: $c-loader-border-bottom-left-radius;
    border-bottom-right-radius: $c-loader-border-bottom-right-radius;



    // --- margins
    margin-top: $c-loader-margin-top;
    margin-right: $c-loader-margin-right;
    margin-bottom: $c-loader-margin-bottom;
    margin-left: $c-loader-margin-left;


    // size-small
    &.size-small {
        @extend %loader-size-small;
    }

    // size-extrasmall
    &.size-extrasmall {
        @extend %loader-size-extrasmall;
    }
}
