// c-loader


%loader-size-extrasmall {

    // -- defaults
    width: $c-loader-extrasmall-size;
    height: $c-loader-extrasmall-size;

    // --- backgrounds
    background-color: $c-loader-extrasmall-background-color;
    background-image: $c-loader-extrasmall-background-image;
    background-position: $c-loader-extrasmall-background-position;
    background-size: $c-loader-extrasmall-background-size;
    background-repeat: $c-loader-extrasmall-background-repeat;
    background-origin: $c-loader-extrasmall-background-origin;
    background-clip: $c-loader-extrasmall-background-clip;
    background-attachment: $c-loader-extrasmall-background-attachment;

    // --- borders
    border-top-width: $c-loader-extrasmall-border-top-width;
    border-right-width: $c-loader-extrasmall-border-right-width;
    border-bottom-width: $c-loader-extrasmall-border-bottom-width;
    border-left-width: $c-loader-extrasmall-border-left-width;
    border-top-style: $c-loader-extrasmall-border-top-style;
    border-right-style: $c-loader-extrasmall-border-right-style;
    border-bottom-style: $c-loader-extrasmall-border-bottom-style;
    border-left-style: $c-loader-extrasmall-border-left-style;
    border-top-color: $c-loader-extrasmall-border-top-color;
    border-right-color: $c-loader-extrasmall-border-right-color;
    border-bottom-color: $c-loader-extrasmall-border-bottom-color;
    border-left-color: $c-loader-extrasmall-border-left-color;
    border-top-left-radius: $c-loader-extrasmall-border-top-left-radius;
    border-top-right-radius: $c-loader-extrasmall-border-top-right-radius;
    border-bottom-left-radius: $c-loader-extrasmall-border-bottom-left-radius;
    border-bottom-right-radius: $c-loader-extrasmall-border-bottom-right-radius;

    // --- margins
    margin-top: $c-loader-extrasmall-margin-top;
    margin-right: $c-loader-extrasmall-margin-right;
    margin-bottom: $c-loader-extrasmall-margin-bottom;
    margin-left: $c-loader-extrasmall-margin-left;

}
