// fieldset



// --- background
$c-fieldset-background-color: transparent;
$c-fieldset-background-image: none;
$c-fieldset-background-position: initial;
$c-fieldset-background-size: initial;
$c-fieldset-background-repeat: initial;
$c-fieldset-background-origin: initial;
$c-fieldset-background-clip: initial;
$c-fieldset-background-attachment: initial;



// --- borders
// top
$c-fieldset-border-top-width: 1px;
$c-fieldset-border-top-style: solid;
$c-fieldset-border-top-color: rgba($color-brand-01, 0);
// right
$c-fieldset-border-right-width: 0px;
$c-fieldset-border-right-style: solid;
$c-fieldset-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-fieldset-border-bottom-width: 1px;
$c-fieldset-border-bottom-style: solid;
$c-fieldset-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-fieldset-border-left-width: 1px;
$c-fieldset-border-left-style: solid;
$c-fieldset-border-left-color: rgba($color-brand-01, 0);
// radius
$c-fieldset-border-top-left-radius: 0;
$c-fieldset-border-top-right-radius: 0;
$c-fieldset-border-bottom-left-radius: 0;
$c-fieldset-border-bottom-right-radius: 0;



// --- margins
$c-fieldset-margin-top: 0;
$c-fieldset-margin-right: 0;
$c-fieldset-margin-bottom: 0;
$c-fieldset-margin-left: 0;



// --- paddings
$c-fieldset-padding-top: 0;
$c-fieldset-padding-right: 0;
$c-fieldset-padding-bottom: 0;
$c-fieldset-padding-left: 0;
