// fieldset.legend



// --- background
$c-fieldset-legend-background-color: transparent;
$c-fieldset-legend-background-image: none;
$c-fieldset-legend-background-position: initial;
$c-fieldset-legend-background-size: initial;
$c-fieldset-legend-background-repeat: initial;
$c-fieldset-legend-background-origin: initial;
$c-fieldset-legend-background-clip: initial;
$c-fieldset-legend-background-attachment: initial;



// --- borders
// top
$c-fieldset-legend-border-top-width: 0px;
$c-fieldset-legend-border-top-style: solid;
$c-fieldset-legend-border-top-color: rgba($color-brand-01, 0);
// right
$c-fieldset-legend-border-right-width: 0px;
$c-fieldset-legend-border-right-style: solid;
$c-fieldset-legend-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-fieldset-legend-border-bottom-width: 0px;
$c-fieldset-legend-border-bottom-style: solid;
$c-fieldset-legend-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-fieldset-legend-border-left-width: 0px;
$c-fieldset-legend-border-left-style: solid;
$c-fieldset-legend-border-left-color: rgba($color-brand-01, 0);
// radius
$c-fieldset-legend-border-top-left-radius: 0;
$c-fieldset-legend-border-top-right-radius: 0;
$c-fieldset-legend-border-bottom-left-radius: 0;
$c-fieldset-legend-border-bottom-right-radius: 0;



// --- margins
$c-fieldset-legend-margin-top: 0;
$c-fieldset-legend-margin-right: 0;
$c-fieldset-legend-margin-bottom: 1.5rem;
$c-fieldset-legend-margin-left: 0;



// --- paddings
$c-fieldset-legend-padding-top: 0;
$c-fieldset-legend-padding-right: 0;
$c-fieldset-legend-padding-bottom: 0;
$c-fieldset-legend-padding-left: 0;



// --- position
$c-fieldset-legend-position-zindex: auto;



// --- text
$c-fieldset-legend-font-family: $font-brand-regular;
$c-fieldset-legend-font-color: $color-text-01;
$c-fieldset-legend-icon-color: $color-text-04;
$c-fieldset-legend-font-size: $font-size-m;
$c-fieldset-legend-font-style: normal;
$c-fieldset-legend-font-variant: normal;
$c-fieldset-legend-font-weight: $font-weight-bold;
$c-fieldset-legend-line-height: 1;
$c-fieldset-legend-letter-spacing: 0;
$c-fieldset-legend-text-align: left;
$c-fieldset-legend-text-decoration: none;
$c-fieldset-legend-text-indent: 0;
$c-fieldset-legend-text-overflow: initial;
$c-fieldset-legend-text-transform: none;
$c-fieldset-legend-text-shadow: none;
$c-fieldset-legend-vertical-align: initial;
$c-fieldset-legend-white-space: normal;
$c-fieldset-legend-word-spacing: normal;
