// Effects
@keyframes fxAppear {
    from   { opacity: 0; }
    to     { opacity: 1; }
}
.fx-appear {
    opacity             : 0;
    animation-name      : fxAppear;
    animation-duration  : .2s;
    animation-delay     : 0s;
    animation-fill-mode : forwards;
    animation-timing-function: $ease-in-cubic;
}
@keyframes fxAppearFromBottom {
    from   { opacity: 0; transform: translateY(2rem);}
    to     { opacity: 1; transform: translateY(0);}
}
.fx-appear-from-bottom {
    opacity             : 0;
    animation-name      : fxAppearFromBottom;
    animation-duration  : .3s;
    animation-delay     : .6s;
    animation-fill-mode : forwards;
    animation-timing-function: $ease-out-cubic;
}
@keyframes fxAppearFromTop {
    from   { opacity: 0; transform: translateY(-6rem);}
    to     { opacity: 1; transform: translateY(0);}
}
.fx-appear-from-top {
    opacity             : 0;
    animation-name      : fxAppearFromTop;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : forwards;
    animation-timing-function: $ease-out-cubic;
}


// ----


@keyframes fxDisappear {
    from   { opacity: 1; }
    to     { opacity: 0; }
}
.fx-disappear {
    opacity             : 1;
    animation-name      : fxDisappear;
    animation-duration  : .3s;
    animation-delay     : .1s;
    animation-fill-mode : forwards;
    animation-timing-function: ease-in;
}
@keyframes fxDisappearToBottom {
    from { opacity: 1; transform: translateY(0);}
    to   { opacity: 0; transform: translateY(2rem);}
}
.fx-disappear-to-bottom {
    opacity             : 1;
    animation-name      : fxDisappearToBottom;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : forwards;
    animation-timing-function: ease-in;
}
@keyframes fxDisappearToTop {
    from { opacity: 1; transform: translateY(0);}
    to   { opacity: 0; transform: translateY(-2rem);}
}
.fx-disappear-to-top {
    opacity             : 1;
    animation-name      : fxDisappearToTop;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : forwards;
    animation-timing-function: ease-in;
}



// ----


@keyframes fxRollDown {
    from   { max-height: 0;}
}
.fx-rolldown {
    max-height: 300px;
    animation-name      : fxRollDown;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : backwards;
    animation-timing-function: $ease-out-quad;
}
@keyframes fxRollUp {
    from   { height: 0; }
}
.fx-rollup {
    animation-name      : fxRollUp;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : backwards;
    animation-timing-function: $ease-out-quad;
}
@keyframes fxRollRight {
    from   { overflow: hidden; width: 0; }
}
.fx-rollright {
    animation-name      : fxRollRight;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : backwards;
    animation-timing-function: $ease-out-quad;
}
@keyframes fxRollLeft {
    from   { overflow: hidden; width: 0; }
}
.fx-rollleft {
    animation-name      : fxRollLeft;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : backwards;
    animation-timing-function: $ease-out-quad;
}


@keyframes fxGrow {
    from   { transform: scale(0.95) }
    to  { transform: scale(1) }
}
.fx-grow {
    animation-name      : fxGrow;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : backwards;
    animation-timing-function: $ease-out-quad;
}
@keyframes fxShrink {
    from   { transform: scale(1.05) }
    to  { transform: scale(1) }
}
.fx-shrink {
    animation-name      : fxShrink;
    animation-duration  : .6s;
    animation-delay     : .1s;
    animation-fill-mode : backwards;
    animation-timing-function: $ease-out-quad;
}


// ---


@keyframes fxAppearFromLeft {
    from   { opacity: 0; transform: translateX(-3rem);}
    to     { opacity: 1; transform: translateX(0);}
}
.fx-appear-from-left {
    opacity             : 0;
    animation-name      : fxAppearFromLeft;
    animation-duration  : .3s;
    animation-delay     : .6s;
    animation-fill-mode : forwards;
    animation-timing-function: $ease-out-cubic;
}
@keyframes fxAppearFromRight {
    from   { opacity: 0; transform: translateX(3rem);}
    to     { opacity: 1; transform: translateX(0);}
}
.fx-appear-from-right {
    opacity             : 0;
    animation-name      : fxAppearFromRight;
    animation-duration  : .3s;
    animation-delay     : .6s;
    animation-fill-mode : forwards;
    animation-timing-function: $ease-out-cubic;
}
