// --- fonts

// @font-face{
// 	font-family:"Avenir-Next-Thin";
// 	src: url("assets/fonts/bfae4a9a-774e-4035-8876-f59aa6b2d590.woff2") format("woff2"),
//          url("assets/fonts/b02684ae-72d2-42b2-b66b-60533411507e.woff") format("woff");
// }
// @font-face{
// 	font-family:"Avenir-Next-Regular";
// 	src: url("assets/fonts/bb590848-4012-46d6-a8d5-48c9893a176b.woff2") format("woff2"),
//          url("assets/fonts/3a42a252-67ff-4186-88cf-762f56719ca1.woff") format("woff");
// }
// @font-face{
//     font-family:"Avenir-Next-Medium";
//     src: url("assets/fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"),
//          url("assets/fonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff");
// }
// @font-face{
// 	font-family:"Avenir-Next-Demi";
// 	src: url("assets/fonts/b86524f7-009e-4c08-a266-c43f1fb68e5e.woff2") format("woff2"),
//          url("assets/fonts/e40e6ac5-f2bd-4d65-baf7-b1e397d7fdcc.woff") format("woff");
// }
// @font-face{
// 	font-family:"Avenir-Next-Bold";
// 	src: url("assets/fonts/b729a5ee-0221-40db-9a76-7b9e9b747f65.woff2") format("woff2"),
//          url("assets/fonts/51a56502-44d2-4d70-808f-fc822da45209.woff") format("woff"),;
// }
