// typography


// --- Default: font-family
$font                           :  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-sans                      : "Arial", Helvetica, Arial, sans-serif;
$font-serif                     : Georgia, "Times New Roman", Times, serif;
$font-monospace                 : Monaco, Menlo, Consolas, "Courier New", monospace;


// --- Custom: font-family
$font-brand-thin               : "Arial", sans-serif;
$font-brand-regular            : "Arial", sans-serif;
$font-brand-demi               : "Arial", sans-serif;


// --- Font weights
$font-weight-ultralight         : 100;
$font-weight-light              : 200;
$font-weight-book               : 300;
$font-weight-regular            : normal;
$font-weight-medium             : 500;
$font-weight-bold               : 600;
$font-weight-extrabold          : bold;
$font-weight-black              : 800;


// --- Font sizes
$font-size-xxs                  : 0.625rem;     // 10px
$font-size-xs                   : 0.75rem;      // 12px
$font-size-s                    : 0.875rem;     // 14px
$font-size-m                    : 1rem;         // 16px
$font-size-l                    : 1.25rem;      // 20px
$font-size-xl                   : 1.625rem;     // 26px
$font-size-xxl                  : 2rem;         // 32px


// --- Line heights
$line-height-xxs                 : 1.6;
$line-height-xs                  : 1.6;
$line-height-s                   : 1.8;
$line-height-m                   : 1.8;
$line-height-l                   : 1.4;
$line-height-xl                  : 1.3;
$line-height-xxl                 : 1.2;


// --- font correction
/*
    Current font adds 3px extra size on text-rendering
*/
$font-correction                : 3px;
