// text-area


// --- box-shadow
$c-input-error-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-input-error-background-color: transparent;
$c-input-error-background-image: none;
$c-input-error-background-position: initial;
$c-input-error-background-size: initial;
$c-input-error-background-repeat: initial;
$c-input-error-background-origin: initial;
$c-input-error-background-clip: initial;
$c-input-error-background-attachment: initial;


// --- borders
// top
$c-input-error-border-top-width: 0px;
$c-input-error-border-top-style: solid;
$c-input-error-border-top-color: transparent;
// right
$c-input-error-border-right-width: 0px;
$c-input-error-border-right-style: solid;
$c-input-error-border-right-color: transparent;
// bottom
$c-input-error-border-bottom-width: 0px;
$c-input-error-border-bottom-style: solid;
$c-input-error-border-bottom-color: transparent;
// left
$c-input-error-border-left-width: 0px;
$c-input-error-border-left-style: solid;
$c-input-error-border-left-color: transparent;
// radius
$c-input-error-border-top-left-radius: 0;
$c-input-error-border-top-right-radius: 0;
$c-input-error-border-bottom-left-radius: 0;
$c-input-error-border-bottom-right-radius: 0;


// --- display
$c-input-error-display: inline-block;


// --- margins
$c-input-error-margin-top: 0;
$c-input-error-margin-right: 0;
$c-input-error-margin-bottom: 1rem;
$c-input-error-margin-left: 0;


// --- outline
$c-input-error-outline1-color: transparent;
$c-input-error-outline2-color: transparent;
$c-input-error-outline1-width: 2px;
$c-input-error-outline2-width: 3px;
$c-input-error-outline: 0px 0px 0px $c-input-error-outline2-width $c-input-error-outline1-color, 0px 0px 0px ($c-input-error-outline1-width + $c-input-error-outline2-width) $c-input-error-outline2-color;


// --- paddings
$c-input-error-padding-top: 0;
$c-input-error-padding-right: 0;
$c-input-error-padding-bottom: 0;
$c-input-error-padding-left: 0;


// --- position
$c-input-error-position: relative;
$c-input-error-position-top: auto;
$c-input-error-position-right: auto;
$c-input-error-position-bottom: auto;
$c-input-error-position-left: auto;
$c-input-error-position-zindex: auto;


// --- sizing
$c-input-error-width: 100%;
$c-input-error-min-width: 100%;
$c-input-error-max-width: none;
$c-input-error-height: 1rem;
$c-input-error-min-height: auto;
$c-input-error-max-height: none;


// --- text
$c-input-error-font-family: $font-brand-regular;
$c-input-error-font-color: $color-error-01;
$c-input-error-font-size: $font-size-m;
$c-input-error-font-style: normal;
$c-input-error-font-variant: normal;
$c-input-error-font-weight: $font-weight-regular;
$c-input-error-line-height: 1;
$c-input-error-letter-spacing: 0;
$c-input-error-text-align: left;
$c-input-error-text-decoration: none;
$c-input-error-text-indent: 0;
$c-input-error-text-overflow: initial;
$c-input-error-text-transform: none;
$c-input-error-text-shadow: none;
$c-input-error-vertical-align: initial;
$c-input-error-white-space: normal;
$c-input-error-word-spacing: normal;

// transition
$c-input-error-transition-property: opacity;
