// c-search

.c-search {

    // --- background
    background-color: $c-search-container-background-color;
    background-image: $c-search-container-background-image;
    background-position: $c-search-container-background-position;
    background-size: $c-search-container-background-size;
    background-repeat: $c-search-container-background-repeat;
    background-origin: $c-search-container-background-origin;
    background-clip: $c-search-container-background-clip;
    background-attachment: $c-search-container-background-attachment;

    // --- borders
    border-top-width: $c-search-container-border-top-width;
    border-top-style: $c-search-container-border-top-style;
    border-top-color: $c-search-container-border-top-color;
    border-right-width: $c-search-container-border-right-width;
    border-right-style: $c-search-container-border-right-style;
    border-right-color: $c-search-container-border-right-color;
    border-bottom-width: $c-search-container-border-bottom-width;
    border-bottom-style: $c-search-container-border-bottom-style;
    border-bottom-color: $c-search-container-border-bottom-color;
    border-left-width: $c-search-container-border-left-width;
    border-left-style: $c-search-container-border-left-style;
    border-left-color: $c-search-container-border-left-color;
    border-top-left-radius: $c-search-container-border-top-left-radius;
    border-top-right-radius: $c-search-container-border-top-right-radius;
    border-bottom-left-radius: $c-search-container-border-bottom-left-radius;
    border-bottom-right-radius: $c-search-container-border-bottom-right-radius;

    // --- box-shadow
    box-shadow: $c-search-container-box-shadow, $c-search-container-outline;

    // --- display
    display: $c-search-container-display;

    // --- margins
    margin-top: $c-search-container-margin-top;
    margin-right: $c-search-container-margin-right;
    margin-bottom: $c-search-container-margin-bottom;
    margin-left: $c-search-container-margin-left;

    // --- outline
    outline: 0;

    // --- padding
    padding-top: $c-search-container-padding-top;
    padding-right: $c-search-container-padding-right;
    padding-bottom: $c-search-container-padding-bottom;
    padding-left: $c-search-container-padding-left;

    // --- position
    position: $c-search-container-position;
    top: $c-search-container-position-top;
    right: $c-search-container-position-right;
    bottom: $c-search-container-position-bottom;
    left: $c-search-container-position-left;
    z-index: $c-search-container-position-zindex;

    // --- sizing
    width: $c-search-container-width;
    min-width: $c-search-container-min-width;
    max-width: $c-search-container-max-width;
    height: $c-search-container-height;
    min-height: $c-search-container-min-height;
    max-height: $c-search-container-max-height;



    // ---



    .c-search_input {
        // --- background
        background-color: $c-search-input-background-color;
        background-image: $c-search-input-background-image;
        background-position: $c-search-input-background-position;
        background-size: $c-search-input-background-size;
        background-repeat: $c-search-input-background-repeat;
        background-origin: $c-search-input-background-origin;
        background-clip: $c-search-input-background-clip;
        background-attachment: $c-search-input-background-attachment;

        // --- borders
        border-top-width: $c-search-input-border-top-width;
        border-top-style: $c-search-input-border-top-style;
        border-top-color: $c-search-input-border-top-color;
        border-right-width: $c-search-input-border-right-width;
        border-right-style: $c-search-input-border-right-style;
        border-right-color: $c-search-input-border-right-color;
        border-bottom-width: $c-search-input-border-bottom-width;
        border-bottom-style: $c-search-input-border-bottom-style;
        border-bottom-color: $c-search-input-border-bottom-color;
        border-left-width: $c-search-input-border-left-width;
        border-left-style: $c-search-input-border-left-style;
        border-left-color: $c-search-input-border-left-color;
        border-top-left-radius: $c-search-input-border-top-left-radius;
        border-top-right-radius: $c-search-input-border-top-right-radius;
        border-bottom-left-radius: $c-search-input-border-bottom-left-radius;
        border-bottom-right-radius: $c-search-input-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-search-input-box-shadow, $c-search-input-outline;

        // --- display
        display: $c-search-input-display;

        // --- margins
        margin-top: $c-search-input-margin-top;
        margin-right: $c-search-input-margin-right;
        margin-bottom: $c-search-input-margin-bottom;
        margin-left: $c-search-input-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-search-input-padding-top;
        padding-right: $c-search-input-padding-right;
        padding-bottom: $c-search-input-padding-bottom;
        padding-left: $c-search-input-padding-left;

        // --- position
        position: $c-search-input-position;
        top: $c-search-input-position-top;
        right: $c-search-input-position-right;
        bottom: $c-search-input-position-bottom;
        left: $c-search-input-position-left;
        z-index: $c-search-input-position-zindex;

        // --- sizing
        width: $c-search-input-width;
        min-width: $c-search-input-min-width;
        max-width: $c-search-input-max-width;
        height: $c-search-input-height;
        min-height: $c-search-input-min-height;
        max-height: $c-search-input-max-height;


        // --- vertical align
        vertical-align: $c-search-input-vertical-align;
    }



    // ---



    .c-search_button {
        // --- background
        background-color: $c-search-button-background-color;
        background-image: $c-search-button-background-image;
        background-position: $c-search-button-background-position;
        background-size: $c-search-button-background-size;
        background-repeat: $c-search-button-background-repeat;
        background-origin: $c-search-button-background-origin;
        background-clip: $c-search-button-background-clip;
        background-attachment: $c-search-button-background-attachment;

        // --- borders
        border-top-width: $c-search-button-border-top-width;
        border-top-style: $c-search-button-border-top-style;
        border-top-color: $c-search-button-border-top-color;
        border-right-width: $c-search-button-border-right-width;
        border-right-style: $c-search-button-border-right-style;
        border-right-color: $c-search-button-border-right-color;
        border-bottom-width: $c-search-button-border-bottom-width;
        border-bottom-style: $c-search-button-border-bottom-style;
        border-bottom-color: $c-search-button-border-bottom-color;
        border-left-width: $c-search-button-border-left-width;
        border-left-style: $c-search-button-border-left-style;
        border-left-color: $c-search-button-border-left-color;
        border-top-left-radius: $c-search-button-border-top-left-radius;
        border-top-right-radius: $c-search-button-border-top-right-radius;
        border-bottom-left-radius: $c-search-button-border-bottom-left-radius;
        border-bottom-right-radius: $c-search-button-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-search-button-box-shadow, $c-search-button-outline;

        // --- display
        display: $c-search-button-display;

        // --- margins
        margin-top: $c-search-button-margin-top;
        margin-right: $c-search-button-margin-right;
        margin-bottom: $c-search-button-margin-bottom;
        margin-left: $c-search-button-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-search-button-padding-top;
        padding-right: $c-search-button-padding-right;
        padding-bottom: $c-search-button-padding-bottom;
        padding-left: $c-search-button-padding-left;

        // --- position
        position: $c-search-button-position;
        top: $c-search-button-position-top;
        right: $c-search-button-position-right;
        bottom: $c-search-button-position-bottom;
        left: $c-search-button-position-left;
        z-index: $c-search-button-position-zindex;

        // --- sizing
        width: $c-search-button-width;
        min-width: $c-search-button-min-width;
        max-width: $c-search-button-max-width;
        height: $c-search-button-height;
        min-height: $c-search-button-min-height;
        max-height: $c-search-button-max-height;

        // --- vertical align
        vertical-align: $c-search-button-vertical-align;
    }



}
