// text-area: state focus


// --- box-shadow
$c-input-focus-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-input-focus-background-color: $color-ui-02;
$c-input-focus-background-image: none;
$c-input-focus-background-position: initial;
$c-input-focus-background-size: initial;
$c-input-focus-background-repeat: initial;
$c-input-focus-background-origin: initial;
$c-input-focus-background-clip: initial;
$c-input-focus-background-attachment: initial;


// --- borders
// top
$c-input-focus-border-top-width: 1px;
$c-input-focus-border-top-style: solid;
$c-input-focus-border-top-color: transparent;
// right
$c-input-focus-border-right-width: 1px;
$c-input-focus-border-right-style: solid;
$c-input-focus-border-right-color: transparent;
// bottom
$c-input-focus-border-bottom-width: 1px;
$c-input-focus-border-bottom-style: solid;
$c-input-focus-border-bottom-color: transparent;
// left
$c-input-focus-border-left-width: 1px;
$c-input-focus-border-left-style: solid;
$c-input-focus-border-left-color: transparent;
// radius
$c-input-focus-border-top-left-radius: 0.25rem;
$c-input-focus-border-top-right-radius: 0.25rem;
$c-input-focus-border-bottom-left-radius: 0.25rem;
$c-input-focus-border-bottom-right-radius: 0.25rem;


// --- display
$c-input-focus-display: inline-block;


// --- margins
$c-input-focus-margin-top: 0;
$c-input-focus-margin-right: 0;
$c-input-focus-margin-bottom: 0.5rem;
$c-input-focus-margin-left: 0;


// --- outline
$c-input-focus-outline-color: $color-brand-01;
$c-input-focus-outline-width: 2px;
$c-input-focus-outline: inset 0px 0px 0px $c-input-focus-outline-width transparent, inset 0 (0px - (3 * $c-input-focus-outline-width)) 0px (0px - (2 * $c-input-focus-outline-width)) $c-input-focus-outline-color;


// --- paddings
$c-input-focus-padding-top: 1rem;
$c-input-focus-padding-right: 1rem;
$c-input-focus-padding-bottom: 1rem;
$c-input-focus-padding-left: 1rem;


// --- position
$c-input-focus-position: relative;
$c-input-focus-position-top: auto;
$c-input-focus-position-right: auto;
$c-input-focus-position-bottom: auto;
$c-input-focus-position-left: auto;
$c-input-focus-position-zindex: auto;


// --- sizing
$c-input-focus-width: 100%;
$c-input-focus-min-width: 100%;
$c-input-focus-max-width: none;
$c-input-focus-height: 3rem;
$c-input-focus-min-height: 1rem;
$c-input-focus-max-height: none;


// --- text
$c-input-focus-font-family: $font-brand-regular;
$c-input-focus-font-color: $color-text-01;
$c-input-focus-font-size: $font-size-m;
$c-input-focus-font-style: normal;
$c-input-focus-font-variant: normal;
$c-input-focus-font-weight: $font-weight-regular;
$c-input-focus-line-height: 1;
$c-input-focus-letter-spacing: 0;
$c-input-focus-text-align: left;
$c-input-focus-text-decoration: none;
$c-input-focus-text-indent: 0;
$c-input-focus-text-overflow: initial;
$c-input-focus-text-transform: none;
$c-input-focus-text-shadow: none;
$c-input-focus-vertical-align: initial;
$c-input-focus-white-space: normal;
$c-input-focus-word-spacing: normal;
