// text-area: state disabled & hover


// --- box-shadow
$c-input-disabled-hover-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-input-disabled-hover-background-color: $color-text-03;
$c-input-disabled-hover-background-image: none;
$c-input-disabled-hover-background-position: initial;
$c-input-disabled-hover-background-size: initial;
$c-input-disabled-hover-background-repeat: initial;
$c-input-disabled-hover-background-origin: initial;
$c-input-disabled-hover-background-clip: initial;
$c-input-disabled-hover-background-attachment: initial;


// --- borders
// top
$c-input-disabled-hover-border-top-width: 1px;
$c-input-disabled-hover-border-top-style: solid;
$c-input-disabled-hover-border-top-color: transparent;
// right
$c-input-disabled-hover-border-right-width: 1px;
$c-input-disabled-hover-border-right-style: solid;
$c-input-disabled-hover-border-right-color: transparent;
// bottom
$c-input-disabled-hover-border-bottom-width: 1px;
$c-input-disabled-hover-border-bottom-style: solid;
$c-input-disabled-hover-border-bottom-color: transparent;
// left
$c-input-disabled-hover-border-left-width: 1px;
$c-input-disabled-hover-border-left-style: solid;
$c-input-disabled-hover-border-left-color: transparent;
// radius
$c-input-disabled-hover-border-top-left-radius: 0.25rem;
$c-input-disabled-hover-border-top-right-radius: 0.25rem;
$c-input-disabled-hover-border-bottom-left-radius: 0.25rem;
$c-input-disabled-hover-border-bottom-right-radius: 0.25rem;


// --- display
$c-input-disabled-hover-display: inline-block;


// --- margins
$c-input-disabled-hover-margin-top: 0;
$c-input-disabled-hover-margin-right: 0;
$c-input-disabled-hover-margin-bottom: 0.5rem;
$c-input-disabled-hover-margin-left: 0;


// --- outline
$c-input-disabled-hover-outline1-color: transparent;
$c-input-disabled-hover-outline2-color: transparent;
$c-input-disabled-hover-outline1-width: 2px;
$c-input-disabled-hover-outline2-width: 3px;
$c-input-disabled-hover-outline:   0px 0px 0px $c-input-disabled-hover-outline2-width $c-input-disabled-hover-outline1-color, 0px 0px 0px ($c-input-disabled-hover-outline1-width + $c-input-disabled-hover-outline2-width) $c-input-disabled-hover-outline2-color;


// --- paddings
$c-input-disabled-hover-padding-top: 1rem;
$c-input-disabled-hover-padding-right: 1rem;
$c-input-disabled-hover-padding-bottom: 1rem;
$c-input-disabled-hover-padding-left: 1rem;


// --- position
$c-input-disabled-hover-position: relative;
$c-input-disabled-hover-position-top: auto;
$c-input-disabled-hover-position-right: auto;
$c-input-disabled-hover-position-bottom: auto;
$c-input-disabled-hover-position-left: auto;
$c-input-disabled-hover-position-zindex: auto;


// --- sizing
$c-input-disabled-hover-width: 100%;
$c-input-disabled-hover-min-width: 100%;
$c-input-disabled-hover-max-width: none;
$c-input-disabled-hover-height: 3rem;
$c-input-disabled-hover-min-height: 1rem;
$c-input-disabled-hover-max-height: none;


// --- text
$c-input-disabled-hover-font-family: $font-brand-regular;
$c-input-disabled-hover-font-color: $color-text-01;
$c-input-disabled-hover-font-size: $font-size-m;
$c-input-disabled-hover-font-style: normal;
$c-input-disabled-hover-font-variant: normal;
$c-input-disabled-hover-font-weight: $font-weight-regular;
$c-input-disabled-hover-line-height: 1;
$c-input-disabled-hover-letter-spacing: 0;
$c-input-disabled-hover-text-align: left;
$c-input-disabled-hover-text-decoration: none;
$c-input-disabled-hover-text-indent: 0;
$c-input-disabled-hover-text-overflow: initial;
$c-input-disabled-hover-text-transform: none;
$c-input-disabled-hover-text-shadow: none;
$c-input-disabled-hover-vertical-align: initial;
$c-input-disabled-hover-white-space: normal;
$c-input-disabled-hover-word-spacing: normal;
