// text-area: state default



// --- background
$c-input-background-color: $color-ui-02;
$c-input-background-image: none;
$c-input-background-position: initial;
$c-input-background-size: initial;
$c-input-background-repeat: initial;
$c-input-background-origin: initial;
$c-input-background-clip: initial;
$c-input-background-attachment: initial;


// --- borders
// top
$c-input-border-top-width: 1px;
$c-input-border-top-style: solid;
$c-input-border-top-color: transparent;
// right
$c-input-border-right-width: 1px;
$c-input-border-right-style: solid;
$c-input-border-right-color: transparent;
// bottom
$c-input-border-bottom-width: 1px;
$c-input-border-bottom-style: solid;
$c-input-border-bottom-color: transparent;
// left
$c-input-border-left-width: 1px;
$c-input-border-left-style: solid;
$c-input-border-left-color: transparent;
// radius
$c-input-border-top-left-radius: 0.25rem;
$c-input-border-top-right-radius: 0.25rem;
$c-input-border-bottom-left-radius: 0.25rem;
$c-input-border-bottom-right-radius: 0.25rem;


// --- box-shadow
$c-input-box-shadow: 0px 0px 0px 0px transparent;


// --- display
$c-input-display: inline-block;


// --- margins
$c-input-margin-top: 0;
$c-input-margin-right: 0;
$c-input-margin-bottom: 0.5rem;
$c-input-margin-left: 0;


// --- outline
$c-input-outline-color: transparent;
$c-input-outline-width: 2px;
$c-input-outline: inset 0px 0px 0px $c-input-outline-width transparent, inset 0 (0px - (3 * $c-input-outline-width)) 0px (0px - (2 * $c-input-outline-width)) $c-input-outline-color;


// --- paddings
$c-input-padding-top: 1rem;
$c-input-padding-right: 1rem;
$c-input-padding-bottom: 1rem;
$c-input-padding-left: 1rem;


// --- position
$c-input-position: relative;
$c-input-position-top: auto;
$c-input-position-right: auto;
$c-input-position-bottom: auto;
$c-input-position-left: auto;
$c-input-position-zindex: auto;


// --- sizing
$c-input-width: 100%;
$c-input-min-width: 100%;
$c-input-max-width: none;
$c-input-height: 3rem;
$c-input-min-height: 1rem;
$c-input-max-height: none;


// --- text
$c-input-font-family: $font-brand-regular;
$c-input-font-color: $color-text-01;
$c-input-font-size: $font-size-m;
$c-input-font-style: normal;
$c-input-font-variant: normal;
$c-input-font-weight: $font-weight-regular;
$c-input-line-height: 1;
$c-input-letter-spacing: 0;
$c-input-text-align: left;
$c-input-text-decoration: none;
$c-input-text-indent: 0;
$c-input-text-overflow: initial;
$c-input-text-transform: none;
$c-input-text-shadow: none;
$c-input-vertical-align: initial;
$c-input-white-space: normal;
$c-input-word-spacing: normal;


// --- transforms
$c-input-transform: none;
$c-input-transform-origin: top left;
$c-input-transform-style: preserve-3d;


// transition
$c-input-transition-property: all;
