// headings.scss

%h1, .h1, h1 {
    color: $c-heading1-font-color;
    font-family: $c-heading1-font-family;
    font-size: $c-heading1-font-size;
    font-style: $c-heading1-font-style;
    font-variant: $c-heading1-font-variant;
    font-weight: $c-heading1-font-weight;
    letter-spacing: $c-heading1-letter-spacing;
    line-height: $c-heading1-line-height;
    text-align: $c-heading1-text-align;
    text-decoration: $c-heading1-text-decoration;
    text-indent: $c-heading1-text-indent;
    text-overflow: $c-heading1-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-heading1-text-transform;
    text-shadow: $c-heading1-text-shadow;
    vertical-align: $c-heading1-vertical-align;
    white-space: $c-heading1-white-space;
    //
    margin-top: $c-heading1-margin-top;
    margin-right: $c-heading1-margin-right;
    margin-bottom: $c-heading1-margin-bottom;
    margin-left: $c-heading1-margin-left;

    &.is-center-aligned {
        text-align: center;
    }
    &.is-right-aligned {
        text-align: right;
    }
}

%h2, .h2, h2 {
    color: $c-heading2-font-color;
    font-family: $c-heading2-font-family;
    font-size: $c-heading2-font-size;
    font-style: $c-heading2-font-style;
    font-variant: $c-heading2-font-variant;
    font-weight: $c-heading2-font-weight;
    letter-spacing: $c-heading2-letter-spacing;
    line-height: $c-heading2-line-height;
    text-align: $c-heading2-text-align;
    text-decoration: $c-heading2-text-decoration;
    text-indent: $c-heading2-text-indent;
    text-overflow: $c-heading2-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-heading2-text-transform;
    text-shadow: $c-heading2-text-shadow;
    vertical-align: $c-heading2-vertical-align;
    white-space: $c-heading2-white-space;
    //
    margin-top: $c-heading2-margin-top;
    margin-right: $c-heading2-margin-right;
    margin-bottom: $c-heading2-margin-bottom;
    margin-left: $c-heading2-margin-left;

    &.is-center-aligned {
        text-align: center;
    }
    &.is-right-aligned {
        text-align: right;
    }
}

%h3, .h3, h3 {
    color: $c-heading3-font-color;
    font-family: $c-heading3-font-family;
    font-size: $c-heading3-font-size;
    font-style: $c-heading3-font-style;
    font-variant: $c-heading3-font-variant;
    font-weight: $c-heading3-font-weight;
    letter-spacing: $c-heading3-letter-spacing;
    line-height: $c-heading3-line-height;
    text-align: $c-heading3-text-align;
    text-decoration: $c-heading3-text-decoration;
    text-indent: $c-heading3-text-indent;
    text-overflow: $c-heading3-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-heading3-text-transform;
    text-shadow: $c-heading3-text-shadow;
    vertical-align: $c-heading3-vertical-align;
    white-space: $c-heading3-white-space;
    //
    margin-top: $c-heading3-margin-top;
    margin-right: $c-heading3-margin-right;
    margin-bottom: $c-heading3-margin-bottom;
    margin-left: $c-heading3-margin-left;

    &.is-center-aligned {
        text-align: center;
    }
    &.is-right-aligned {
        text-align: right;
    }
}

%h4, .h4, h4 {
    color: $c-heading4-font-color;
    font-family: $c-heading4-font-family;
    font-size: $c-heading4-font-size;
    font-style: $c-heading4-font-style;
    font-variant: $c-heading4-font-variant;
    font-weight: $c-heading4-font-weight;
    letter-spacing: $c-heading4-letter-spacing;
    line-height: $c-heading4-line-height;
    text-align: $c-heading4-text-align;
    text-decoration: $c-heading4-text-decoration;
    text-indent: $c-heading4-text-indent;
    text-overflow: $c-heading4-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-heading4-text-transform;
    text-shadow: $c-heading4-text-shadow;
    vertical-align: $c-heading4-vertical-align;
    white-space: $c-heading4-white-space;
    //
    margin-top: $c-heading4-margin-top;
    margin-right: $c-heading4-margin-right;
    margin-bottom: $c-heading4-margin-bottom;
    margin-left: $c-heading4-margin-left;

    &.is-center-aligned {
        text-align: center;
    }
    &.is-right-aligned {
        text-align: right;
    }
}

%h5, .h5, h5 {
    color: $c-heading5-font-color;
    font-family: $c-heading5-font-family;
    font-size: $c-heading5-font-size;
    font-style: $c-heading5-font-style;
    font-variant: $c-heading5-font-variant;
    font-weight: $c-heading5-font-weight;
    letter-spacing: $c-heading5-letter-spacing;
    line-height: $c-heading5-line-height;
    text-align: $c-heading5-text-align;
    text-decoration: $c-heading5-text-decoration;
    text-indent: $c-heading5-text-indent;
    text-overflow: $c-heading5-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-heading5-text-transform;
    text-shadow: $c-heading5-text-shadow;
    vertical-align: $c-heading5-vertical-align;
    white-space: $c-heading5-white-space;
    //
    margin-top: $c-heading5-margin-top;
    margin-right: $c-heading5-margin-right;
    margin-bottom: $c-heading5-margin-bottom;
    margin-left: $c-heading5-margin-left;

    &.is-center-aligned {
        text-align: center;
    }
    &.is-right-aligned {
        text-align: right;
    }
}

%h6, .h6, h6 {
    color: $c-heading6-font-color;
    font-family: $c-heading6-font-family;
    font-size: $c-heading6-font-size;
    font-style: $c-heading6-font-style;
    font-variant: $c-heading6-font-variant;
    font-weight: $c-heading6-font-weight;
    letter-spacing: $c-heading6-letter-spacing;
    line-height: $c-heading6-line-height;
    text-align: $c-heading6-text-align;
    text-decoration: $c-heading6-text-decoration;
    text-indent: $c-heading6-text-indent;
    text-overflow: $c-heading6-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-heading6-text-transform;
    text-shadow: $c-heading6-text-shadow;
    vertical-align: $c-heading6-vertical-align;
    white-space: $c-heading5-white-space;
    //
    margin-top: $c-heading6-margin-top;
    margin-right: $c-heading6-margin-right;
    margin-bottom: $c-heading6-margin-bottom;
    margin-left: $c-heading6-margin-left;

    &.is-center-aligned {
        text-align: center;
    }
    &.is-right-aligned {
        text-align: right;
    }
}
