<!-- input -->
<section class="styleguide">
  <article>
    <h3 class="styleguide-title fx-appear">Input</h3>
    <section class="styleguide-example background-color-light fx-appear-from-bottom align-left">
        <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


        <c-fieldset>
            <c-input
                is="text"
                value=""
                placeholder="Placeholder text"
                id="input-id-01"
                name="inputfield"
                pattern="^[a-zA-Z ]+$"
                required
                error-message-pattern="Error. The text can only contain letters"
                error-message-required="Error. This is a required field">
                Input label
            </c-input>

            <c-input
                is="text"
                value=""
                placeholder="Placeholder text"
                id="input-id-02"
                name="inputfield"
                pattern="^[a-zA-Z ]+$"
                required
                disabled
                error-message-pattern="Error. The text can only contain letters"
                error-message-required="Error. This is a required field">
                Input label disabled
            </c-input>
        </c-fieldset>


        <p class="styleguide-states"></p>
    </section>
    <section class="styleguide-description fx-appear">
        <c-tabs css="styleguide-tabs">
            <c-tab id="styleguide-tab-01">Code</c-tab>
            <c-tab id="styleguide-tab-02">Usage</c-tab>
            <c-tab id="styleguide-tab-03">AngularJS</c-tab>
            <c-tab id="styleguide-tab-04">NPM</c-tab>
            <c-tab-panel id="styleguide-tab-01-panel">
                <markdown [src]="'./assets/readme/forms/input-text/CODE.md'"></markdown>
            </c-tab-panel>
            <c-tab-panel id="styleguide-tab-02-panel">
                <markdown [src]="'./assets/readme/forms/input-text/README.md'"></markdown>
            </c-tab-panel>
            <c-tab-panel id="styleguide-tab-03-panel">
                <markdown [src]="'./assets/readme/forms/input-text/ANGULARJS.md'"></markdown>
            </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
            <markdown [src]="'./assets/readme/forms/input-text/NPM.md'"></markdown>
            </c-tab-panel>
        </c-tabs>
    </section>
  </article>
</section>
