// upload: fileame



// --- background
$c-upload-file-background-color: $color-ui-02;
$c-upload-file-background-image: none;
$c-upload-file-background-position: initial;
$c-upload-file-background-size: initial;
$c-upload-file-background-repeat: initial;
$c-upload-file-background-origin: initial;
$c-upload-file-background-clip: initial;
$c-upload-file-background-attachment: initial;


// --- borders
// top
$c-upload-file-border-top-width: 1px;
$c-upload-file-border-top-style: solid;
$c-upload-file-border-top-color: transparent;
// right
$c-upload-file-border-right-width: 1px;
$c-upload-file-border-right-style: solid;
$c-upload-file-border-right-color: transparent;
// bottom
$c-upload-file-border-bottom-width: 1px;
$c-upload-file-border-bottom-style: solid;
$c-upload-file-border-bottom-color: transparent;
// left
$c-upload-file-border-left-width: 1px;
$c-upload-file-border-left-style: solid;
$c-upload-file-border-left-color: transparent;
// radius
$c-upload-file-border-top-left-radius: 0.25rem;
$c-upload-file-border-top-right-radius: 0.25rem;
$c-upload-file-border-bottom-left-radius: 0.25rem;
$c-upload-file-border-bottom-right-radius: 0.25rem;


// --- box-shadow
$c-upload-file-box-shadow: 0px 0px 0px 0px transparent;


// --- display
$c-upload-file-display: inline-block;


// --- margins
$c-upload-file-margin-top: 0.5rem;
$c-upload-file-margin-right: 0;
$c-upload-file-margin-bottom: 0;
$c-upload-file-margin-left: 0;


// --- outline
$c-upload-file-outline-color: transparent;
$c-upload-file-outline-width: 2px;
$c-upload-file-outline: inset 0px 0px 0px $c-upload-file-outline-width transparent, inset 0 (0px - (3 * $c-upload-file-outline-width)) 0px (0px - (2 * $c-upload-file-outline-width)) $c-upload-file-outline-color;


// --- paddings
$c-upload-file-padding-top: 1rem;
$c-upload-file-padding-right: 4rem;
$c-upload-file-padding-bottom: 1rem;
$c-upload-file-padding-left: 1rem;


// --- position
$c-upload-file-position: relative;
$c-upload-file-position-top: auto;
$c-upload-file-position-right: auto;
$c-upload-file-position-bottom: auto;
$c-upload-file-position-left: auto;
$c-upload-file-position-zindex: auto;


// --- sizing
$c-upload-file-width: calc(80% - 4rem);
$c-upload-file-min-width: calc(80% - 4rem);
$c-upload-file-max-width: none;
$c-upload-file-height: auto;
$c-upload-file-min-height: 1rem;
$c-upload-file-max-height: none;


// --- text
$c-upload-file-font-family: $font-brand-regular;
$c-upload-file-font-color: $color-text-01;
$c-upload-file-font-size: $font-size-m;
$c-upload-file-font-style: normal;
$c-upload-file-font-variant: normal;
$c-upload-file-font-weight: $font-weight-regular;
$c-upload-file-line-height: 1;
$c-upload-file-letter-spacing: 0;
$c-upload-file-text-align: left;
$c-upload-file-text-decoration: none;
$c-upload-file-text-indent: 0;
$c-upload-file-text-overflow: initial;
$c-upload-file-text-transform: none;
$c-upload-file-text-shadow: none;
$c-upload-file-vertical-align: initial;
$c-upload-file-white-space: nowrap;
$c-upload-file-word-spacing: normal;


// --- transforms
$c-upload-file-transform: none;
$c-upload-file-transform-origin: top left;
$c-upload-file-transform-style: preserve-3d;


// transition
$c-upload-file-transition-property: all;
