// upload: fileame



// --- background
$c-upload-file-size-background-color: $color-ui-02;
$c-upload-file-size-background-image: none;
$c-upload-file-size-background-position: initial;
$c-upload-file-size-background-size: initial;
$c-upload-file-size-background-repeat: initial;
$c-upload-file-size-background-origin: initial;
$c-upload-file-size-background-clip: initial;
$c-upload-file-size-background-attachment: initial;


// --- borders
// top
$c-upload-file-size-border-top-width: 1px;
$c-upload-file-size-border-top-style: solid;
$c-upload-file-size-border-top-color: transparent;
// right
$c-upload-file-size-border-right-width: 1px;
$c-upload-file-size-border-right-style: solid;
$c-upload-file-size-border-right-color: transparent;
// bottom
$c-upload-file-size-border-bottom-width: 1px;
$c-upload-file-size-border-bottom-style: solid;
$c-upload-file-size-border-bottom-color: transparent;
// left
$c-upload-file-size-border-left-width: 1px;
$c-upload-file-size-border-left-style: solid;
$c-upload-file-size-border-left-color: transparent;
// radius
$c-upload-file-size-border-top-left-radius: 0;
$c-upload-file-size-border-top-right-radius: 0;
$c-upload-file-size-border-bottom-left-radius: 0;
$c-upload-file-size-border-bottom-right-radius: 0;


// --- box-shadow
$c-upload-file-size-box-shadow: 0px 0px 0px 0px transparent;


// --- display
$c-upload-file-size-display: inline-block;


// --- margins
$c-upload-file-size-margin-top: 0;
$c-upload-file-size-margin-right: 0;
$c-upload-file-size-margin-bottom: 0;
$c-upload-file-size-margin-left: 0;


// --- outline
$c-upload-file-size-outline-color: transparent;
$c-upload-file-size-outline-width: 2px;
$c-upload-file-size-outline: inset 0px 0px 0px $c-upload-file-size-outline-width transparent, inset 0 (0px - (3 * $c-upload-file-size-outline-width)) 0px (0px - (2 * $c-upload-file-size-outline-width)) $c-upload-file-size-outline-color;


// --- paddings
$c-upload-file-size-padding-top: 1rem;
$c-upload-file-size-padding-right: 1rem;
$c-upload-file-size-padding-bottom: 1rem;
$c-upload-file-size-padding-left: 1rem;


// --- position
$c-upload-file-size-position: absolute;
$c-upload-file-size-position-top: 0;
$c-upload-file-size-position-right: 0;
$c-upload-file-size-position-bottom: auto;
$c-upload-file-size-position-left: auto;
$c-upload-file-size-position-zindex: auto;


// --- sizing
$c-upload-file-size-width: auto;
$c-upload-file-size-min-width: initial;
$c-upload-file-size-max-width: none;
$c-upload-file-size-height: auto;
$c-upload-file-size-min-height: 1rem;
$c-upload-file-size-max-height: none;


// --- text
$c-upload-file-size-font-family: $font-brand-regular;
$c-upload-file-size-font-color: $color-text-01;
$c-upload-file-size-font-size: $font-size-xs;
$c-upload-file-size-font-style: normal;
$c-upload-file-size-font-variant: normal;
$c-upload-file-size-font-weight: $font-weight-regular;
$c-upload-file-size-line-height: 1;
$c-upload-file-size-letter-spacing: 0;
$c-upload-file-size-text-align: left;
$c-upload-file-size-text-decoration: none;
$c-upload-file-size-text-indent: 0;
$c-upload-file-size-text-overflow: initial;
$c-upload-file-size-text-transform: none;
$c-upload-file-size-text-shadow: none;
$c-upload-file-size-vertical-align: initial;
$c-upload-file-size-white-space: normal;
$c-upload-file-size-word-spacing: normal;


// --- transforms
$c-upload-file-size-transform: none;
$c-upload-file-size-transform-origin: top left;
$c-upload-file-size-transform-style: preserve-3d;


// transition
$c-upload-file-size-transition-property: all;
