// c-chart



.c-chart {
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;


    // ---


    &.is-bar-chart {
        width: $c-chart-is-bar-width;
        height: $c-chart-is-bar-height;

        .c-chart-item {
            width: $c-chart-is-bar-bar-width;
            height: $c-chart-is-bar-bar-height;
            margin-top: $c-chart-is-bar-margin-top;
            margin-right: $c-chart-is-bar-margin-right;
            margin-bottom: $c-chart-is-bar-margin-bottom;
            margin-left: $c-chart-is-bar-margin-left;
        }

        &.size-small {
            width: $c-chart-is-bar-size-small-width;
            height: $c-chart-is-bar-size-small-height;

            .c-chart-item {
                width: $c-chart-is-bar-size-small-bar-width;
                height: $c-chart-is-bar-size-small-bar-height;
                margin-top: $c-chart-is-bar-size-small-margin-top;
                margin-right: $c-chart-is-bar-size-small-margin-right;
                margin-bottom: $c-chart-is-bar-size-small-margin-bottom;
                margin-left: $c-chart-is-bar-size-small-margin-left;
            }
        }
    }


    // ---


    &.is-column-chart {
        width: $c-chart-is-column-width;
        height: $c-chart-is-column-height;

        .c-chart-item {
            width: $c-chart-is-column-column-width;
            height: $c-chart-is-column-column-height;
            margin-top: $c-chart-is-column-margin-top;
            margin-right: $c-chart-is-column-margin-right;
            margin-bottom: $c-chart-is-column-margin-bottom;
            margin-left: $c-chart-is-column-margin-left;
        }

        &.size-small {
            width: $c-chart-is-column-size-small-width;
            height: $c-chart-is-column-size-small-height;

            .c-chart-item {
                width: $c-chart-is-column-size-small-column-width;
                height: $c-chart-is-column-size-small-column-height;
                margin-top: $c-chart-is-column-size-small-margin-top;
                margin-right: $c-chart-is-column-size-small-margin-right;
                margin-bottom: $c-chart-is-column-size-small-margin-bottom;
                margin-left: $c-chart-is-column-size-small-margin-left;
            }
        }
    }


    // ---


    &.is-donut-chart {
        width: $c-chart-is-donut-width;
        height: $c-chart-is-donut-height;
        margin: 0;

        &.size-small {
            width: $c-chart-is-donut-size-small-width;
            height: $c-chart-is-donut-size-small-height;
        }
    }


    // ---


    &.is-pie-chart {
        width: $c-chart-is-pie-width;
        height: $c-chart-is-pie-height;
        margin: 0;

        &.size-small {
            width: $c-chart-is-pie-size-small-width;
            height: $c-chart-is-pie-size-small-height;
        }
    }


    // ---


    &.is-spline-chart {
        display: table;
        table-layout: fixed;
        border: none;
        width: $c-chart-is-spline-width;
        height: auto;

        .c-chart-item {
            height: $c-chart-is-spline-height;
        }
    }


    // ---


    &.is-stacked-bar-chart {
        width: $c-chart-is-stacked-bar-width;
        height: $c-chart-is-stacked-bar-height;

        .c-chart-item {
            svg {
                width: $c-chart-is-stacked-bar-bar-width;
                height: $c-chart-is-stacked-bar-bar-height;
                margin-top: $c-chart-is-stacked-bar-margin-top;
                margin-right: $c-chart-is-stacked-bar-margin-right;
                margin-bottom: $c-chart-is-stacked-bar-margin-bottom;
                margin-left: $c-chart-is-stacked-bar-margin-left;
            }
        }

        &.size-small {
            width: $c-chart-is-stacked-bar-size-small-width;
            height: $c-chart-is-stacked-bar-size-small-height;

            .c-chart-item {
                svg {
                    width: $c-chart-is-stacked-bar-size-small-bar-width;
                    height: $c-chart-is-stacked-bar-size-small-bar-height;
                    margin-top: $c-chart-is-stacked-bar-size-small-margin-top;
                    margin-right: $c-chart-is-stacked-bar-size-small-margin-right;
                    margin-bottom: $c-chart-is-stacked-bar-size-small-margin-bottom;
                    margin-left: $c-chart-is-stacked-bar-size-small-margin-left;
                }
            }
        }
    }


    // ---


    &.is-stacked-column-chart {
        display: inline-block;
        width: $c-chart-is-stacked-column-width;
        height: $c-chart-is-stacked-column-height;

        .c-chart-item {
            svg {
                width: $c-chart-is-stacked-column-column-width;
                height: $c-chart-is-stacked-column-column-height;
                margin-top: $c-chart-is-stacked-column-margin-top;
                margin-right: $c-chart-is-stacked-column-margin-right;
                margin-bottom: $c-chart-is-stacked-column-margin-bottom;
                margin-left: $c-chart-is-stacked-column-margin-left;
            }
        }

        &.size-small {
            width: $c-chart-is-stacked-column-size-small-width;
            height: $c-chart-is-stacked-column-size-small-height;

            .c-chart-item {
                svg {
                    width: $c-chart-is-stacked-column-size-small-column-width;
                    height: $c-chart-is-stacked-column-size-small-column-height;
                    margin-top: $c-chart-is-stacked-column-size-small-margin-top;
                    margin-right: $c-chart-is-stacked-column-size-small-margin-right;
                    margin-bottom: $c-chart-is-stacked-column-size-small-margin-bottom;
                    margin-left: $c-chart-is-stacked-column-size-small-margin-left;
                }
            }
        }
    }
}
