// --- quickfilter container


// -- box-shadow
$c-quickfilter-container-disabled-checked-box-shadow: 0px 0px 0px rgba($color-white, 0);


// --- background
$c-quickfilter-container-disabled-checked-background-color: $color-ui-04;
$c-quickfilter-container-disabled-checked-background-image: none;
$c-quickfilter-container-disabled-checked-background-position: initial;
$c-quickfilter-container-disabled-checked-background-size: initial;
$c-quickfilter-container-disabled-checked-background-repeat: initial;
$c-quickfilter-container-disabled-checked-background-origin: initial;
$c-quickfilter-container-disabled-checked-background-clip: initial;
$c-quickfilter-container-disabled-checked-background-attachment: initial;


// --- borders
// top
$c-quickfilter-container-disabled-checked-border-top-width: 0.125rem;
$c-quickfilter-container-disabled-checked-border-top-style: solid;
$c-quickfilter-container-disabled-checked-border-top-color: $color-ui-04;
// right
$c-quickfilter-container-disabled-checked-border-right-width: 0.125rem;
$c-quickfilter-container-disabled-checked-border-right-style: solid;
$c-quickfilter-container-disabled-checked-border-right-color: $color-ui-04;
// bottom
$c-quickfilter-container-disabled-checked-border-bottom-width: 0.125rem;
$c-quickfilter-container-disabled-checked-border-bottom-style: solid;
$c-quickfilter-container-disabled-checked-border-bottom-color: $color-ui-04;
// left
$c-quickfilter-container-disabled-checked-border-left-width: 0.125rem;
$c-quickfilter-container-disabled-checked-border-left-style: solid;
$c-quickfilter-container-disabled-checked-border-left-color: $color-ui-04;
// radius
$c-quickfilter-container-disabled-checked-border-top-left-radius: 0.25rem;
$c-quickfilter-container-disabled-checked-border-top-right-radius: 0.25rem;
$c-quickfilter-container-disabled-checked-border-bottom-left-radius: 0.25rem;
$c-quickfilter-container-disabled-checked-border-bottom-right-radius: 0.25rem;


// -- display
$c-quickfilter-container-disabled-checked-display: inline-block;


// --- margins
$c-quickfilter-container-disabled-checked-margin-top: 0;
$c-quickfilter-container-disabled-checked-margin-right: 1rem;
$c-quickfilter-container-disabled-checked-margin-bottom: 0;
$c-quickfilter-container-disabled-checked-margin-left: 0;


// --- outline
$c-quickfilter-container-disabled-checked-outline1-color: transparent;
$c-quickfilter-container-disabled-checked-outline2-color: transparent;
$c-quickfilter-container-disabled-checked-outline1-width: 0.125rem;
$c-quickfilter-container-disabled-checked-outline2-width: 0.125rem;
$c-quickfilter-container-disabled-checked-outline:  0px 0px 0px $c-quickfilter-container-disabled-checked-outline1-width $c-quickfilter-container-disabled-checked-outline1-color,
                                                    0px 0px 0px ($c-quickfilter-container-disabled-checked-outline1-width + $c-quickfilter-container-disabled-checked-outline2-width) $c-quickfilter-container-disabled-checked-outline2-color;


// --- paddings
$c-quickfilter-container-disabled-checked-padding-top: 0.5rem;
$c-quickfilter-container-disabled-checked-padding-right: 2rem;
$c-quickfilter-container-disabled-checked-padding-bottom: 0.5rem;
$c-quickfilter-container-disabled-checked-padding-left: 1rem;


// --- position
$c-quickfilter-container-disabled-checked-position: relative;
$c-quickfilter-container-disabled-checked-position-top: auto;
$c-quickfilter-container-disabled-checked-position-right: auto;
$c-quickfilter-container-disabled-checked-position-bottom: auto;
$c-quickfilter-container-disabled-checked-position-left: auto;
$c-quickfilter-container-disabled-checked-position-zindex: auto;


// --- sizing
$c-quickfilter-container-disabled-checked-width: auto;
$c-quickfilter-container-disabled-checked-min-width: 2rem;
$c-quickfilter-container-disabled-checked-max-width: none;
$c-quickfilter-container-disabled-checked-height: auto;
$c-quickfilter-container-disabled-checked-min-height: initial;
$c-quickfilter-container-disabled-checked-max-height: none;
