// --- quickfilter container


// -- box-shadow
$c-quickfilter-container-hover-box-shadow: 0px 0px 0px rgba($color-white, 0);


// --- background
$c-quickfilter-container-hover-background-color: transparent;
$c-quickfilter-container-hover-background-image: none;
$c-quickfilter-container-hover-background-position: initial;
$c-quickfilter-container-hover-background-size: initial;
$c-quickfilter-container-hover-background-repeat: initial;
$c-quickfilter-container-hover-background-origin: initial;
$c-quickfilter-container-hover-background-clip: initial;
$c-quickfilter-container-hover-background-attachment: initial;


// --- borders
// top
$c-quickfilter-container-hover-border-top-width: 0.125rem;
$c-quickfilter-container-hover-border-top-style: solid;
$c-quickfilter-container-hover-border-top-color: $color-brand-02;
// right
$c-quickfilter-container-hover-border-right-width: 0.125rem;
$c-quickfilter-container-hover-border-right-style: solid;
$c-quickfilter-container-hover-border-right-color: $color-brand-02;
// bottom
$c-quickfilter-container-hover-border-bottom-width: 0.125rem;
$c-quickfilter-container-hover-border-bottom-style: solid;
$c-quickfilter-container-hover-border-bottom-color: $color-brand-02;
// left
$c-quickfilter-container-hover-border-left-width: 0.125rem;
$c-quickfilter-container-hover-border-left-style: solid;
$c-quickfilter-container-hover-border-left-color: $color-brand-01;
// radius
$c-quickfilter-container-hover-border-top-left-radius: 0.25rem;
$c-quickfilter-container-hover-border-top-right-radius: 0.25rem;
$c-quickfilter-container-hover-border-bottom-left-radius: 0.25rem;
$c-quickfilter-container-hover-border-bottom-right-radius: 0.25rem;


// -- display
$c-quickfilter-container-hover-display: inline-block;


// --- margins
$c-quickfilter-container-hover-margin-top: 0;
$c-quickfilter-container-hover-margin-right: 1rem;
$c-quickfilter-container-hover-margin-bottom: 0;
$c-quickfilter-container-hover-margin-left: 0;


// --- outline
$c-quickfilter-container-hover-outline1-color: transparent;
$c-quickfilter-container-hover-outline2-color: transparent;
$c-quickfilter-container-hover-outline1-width: 0.125rem;
$c-quickfilter-container-hover-outline2-width: 0.125rem;
$c-quickfilter-container-hover-outline:   0px 0px 0px $c-quickfilter-container-hover-outline1-width $c-quickfilter-container-hover-outline1-color,
                                          0px 0px 0px ($c-quickfilter-container-hover-outline1-width + $c-quickfilter-container-hover-outline2-width) $c-quickfilter-container-hover-outline2-color;


// --- paddings
$c-quickfilter-container-hover-padding-top: 0.5rem;
$c-quickfilter-container-hover-padding-right: 2rem;
$c-quickfilter-container-hover-padding-bottom: 0.5rem;
$c-quickfilter-container-hover-padding-left: 1rem;


// --- position
$c-quickfilter-container-hover-position: relative;
$c-quickfilter-container-hover-position-top: auto;
$c-quickfilter-container-hover-position-right: auto;
$c-quickfilter-container-hover-position-bottom: auto;
$c-quickfilter-container-hover-position-left: auto;
$c-quickfilter-container-hover-position-zindex: auto;


// --- sizing
$c-quickfilter-container-hover-width: auto;
$c-quickfilter-container-hover-min-width: 2rem;
$c-quickfilter-container-hover-max-width: none;
$c-quickfilter-container-hover-height: auto;
$c-quickfilter-container-hover-min-height: initial;
$c-quickfilter-container-hover-max-height: none;
