// --- quickfilter container


// -- box-shadow
$c-quickfilter-container-box-shadow: 0px 0px 0px 0px rgba($color-white, 0);


// --- background
$c-quickfilter-container-background-color: $color-ui-01;
$c-quickfilter-container-background-image: none;
$c-quickfilter-container-background-position: initial;
$c-quickfilter-container-background-size: initial;
$c-quickfilter-container-background-repeat: initial;
$c-quickfilter-container-background-origin: initial;
$c-quickfilter-container-background-clip: initial;
$c-quickfilter-container-background-attachment: initial;


// --- borders
// top
$c-quickfilter-container-border-top-width: 0.125rem;
$c-quickfilter-container-border-top-style: solid;
$c-quickfilter-container-border-top-color: $color-brand-01;
// right
$c-quickfilter-container-border-right-width: 0.125rem;
$c-quickfilter-container-border-right-style: solid;
$c-quickfilter-container-border-right-color: $color-brand-01;
// bottom
$c-quickfilter-container-border-bottom-width: 0.125rem;
$c-quickfilter-container-border-bottom-style: solid;
$c-quickfilter-container-border-bottom-color: $color-brand-01;
// left
$c-quickfilter-container-border-left-width: 0.125rem;
$c-quickfilter-container-border-left-style: solid;
$c-quickfilter-container-border-left-color: $color-brand-01;
// radius
$c-quickfilter-container-border-top-left-radius: 0.25rem;
$c-quickfilter-container-border-top-right-radius: 0.25rem;
$c-quickfilter-container-border-bottom-left-radius: 0.25rem;
$c-quickfilter-container-border-bottom-right-radius: 0.25rem;


// -- display
$c-quickfilter-container-display: inline-block;


// --- margins
$c-quickfilter-container-margin-top: 0;
$c-quickfilter-container-margin-right: 1rem;
$c-quickfilter-container-margin-bottom: 0;
$c-quickfilter-container-margin-left: 0;


// --- outline
$c-quickfilter-container-outline1-color: transparent;
$c-quickfilter-container-outline2-color: transparent;
$c-quickfilter-container-outline1-width: 0.125rem;
$c-quickfilter-container-outline2-width: 0.125rem;
$c-quickfilter-container-outline:   0px 0px 0px $c-quickfilter-container-outline2-width $c-quickfilter-container-outline1-color,
                                    0px 0px 0px ($c-quickfilter-container-outline1-width + $c-quickfilter-container-outline2-width) $c-quickfilter-container-outline2-color;


// --- paddings
$c-quickfilter-container-padding-top: 0.5rem;
$c-quickfilter-container-padding-right: 1rem;
$c-quickfilter-container-padding-bottom: 0.5rem;
$c-quickfilter-container-padding-left: 1rem;


// --- position
$c-quickfilter-container-position: relative;
$c-quickfilter-container-position-top: auto;
$c-quickfilter-container-position-right: auto;
$c-quickfilter-container-position-bottom: auto;
$c-quickfilter-container-position-left: auto;
$c-quickfilter-container-position-zindex: auto;


// --- sizing
$c-quickfilter-container-width: auto;
$c-quickfilter-container-min-width: 2rem;
$c-quickfilter-container-max-width: none;
$c-quickfilter-container-height: auto;
$c-quickfilter-container-min-height: initial;
$c-quickfilter-container-max-height: none;


// transition
$c-quickfilter-container-transition-property: border-color, padding;
