// --- tile tooltip
$c-tile-tooltip-icon-path-color: $color-ui-03;
$c-tile-tooltip-icon-circle-fill-color: rgba($color-brand-01, 0);
$c-tile-tooltip-icon-circle-stroke-color: $color-ui-03;
$c-tile-tooltip-icon-rectangle-fill-color: rgba($color-brand-01, 0);
$c-tile-tooltip-icon-rectangle-stroke-color: rgba($color-brand-01, 0);
