// --- tile draghandle
$c-tile-draghandle-icon-path-color: $color-ui-03;
$c-tile-draghandle-icon-circle-fill-color: rgba(0, 0, 0, 0);
$c-tile-draghandle-icon-circle-stroke-color: rgba(0, 0, 0, 0);
$c-tile-draghandle-icon-rectangle-fill-color: rgba(0, 0, 0, 0);
$c-tile-draghandle-icon-rectangle-stroke-color: rgba(0, 0, 0, 0);
