// --- tile draghandle
$c-tile-draghandle-focus-icon-path-color: $color-brand-01;
$c-tile-draghandle-focus-icon-circle-fill-color: rgba(0, 0, 0, 0);
$c-tile-draghandle-focus-icon-circle-stroke-color: rgba(0, 0, 0, 0);
$c-tile-draghandle-focus-icon-rectangle-fill-color: rgba(0, 0, 0, 0);
$c-tile-draghandle-focus-icon-rectangle-stroke-color: rgba(0, 0, 0, 0);
