// --- tile menu


// -- box-shadow
$c-tile-menu-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-tile-menu-background-color: transparent;
$c-tile-menu-background-image: none;
$c-tile-menu-background-position: initial;
$c-tile-menu-background-size: initial;
$c-tile-menu-background-repeat: initial;
$c-tile-menu-background-origin: initial;
$c-tile-menu-background-clip: initial;
$c-tile-menu-background-attachment: initial;


// --- borders
// top
$c-tile-menu-border-top-width: 0px;
$c-tile-menu-border-top-style: solid;
$c-tile-menu-border-top-color: transparent;
// right
$c-tile-menu-border-right-width: 0px;
$c-tile-menu-border-right-style: solid;
$c-tile-menu-border-right-color: transparent;
// bottom
$c-tile-menu-border-bottom-width: 0px;
$c-tile-menu-border-bottom-style: solid;
$c-tile-menu-border-bottom-color: transparent;
// left
$c-tile-menu-border-left-width: 0px;
$c-tile-menu-border-left-style: solid;
$c-tile-menu-border-left-color: transparent;
// radius
$c-tile-menu-border-top-left-radius: 0;
$c-tile-menu-border-top-right-radius: 0;
$c-tile-menu-border-bottom-left-radius: 0;
$c-tile-menu-border-bottom-right-radius: 0;


// --- display
$c-tile-menu-display: inline-block;


// --- icon-color
$c-tile-menu-icon-color: $color-text-01;


// --- margins
$c-tile-menu-margin-top: 0;
$c-tile-menu-margin-right: 0;
$c-tile-menu-margin-bottom: 0;
$c-tile-menu-margin-left: 0;



// --- paddings
$c-tile-menu-padding-top: 0rem;
$c-tile-menu-padding-right: 0rem;
$c-tile-menu-padding-bottom: 0rem;
$c-tile-menu-padding-left: 0rem;


// --- position
$c-tile-menu-position: absolute;
$c-tile-menu-position-top: 1rem;
$c-tile-menu-position-right: 0;
$c-tile-menu-position-bottom: auto;
$c-tile-menu-position-left: auto;
$c-tile-menu-position-zindex: auto;


// --- sizing
$c-tile-menu-width: auto;
$c-tile-menu-min-width: initial;
$c-tile-menu-max-width: none;
$c-tile-menu-height: auto;
$c-tile-menu-min-height: initial;
$c-tile-menu-max-height: none;


// -- overflow
$c-tile-menu-overflow-x: visible;
$c-tile-menu-overflow-y: visible;
