// --- tile tooltip
$c-tile-tooltip-hover-icon-path-color: white;
$c-tile-tooltip-hover-icon-circle-fill-color: $color-brand-01;
$c-tile-tooltip-hover-icon-circle-stroke-color: $color-brand-01;
$c-tile-tooltip-hover-icon-rectangle-fill-color: rgba($color-brand-01, 0);
$c-tile-tooltip-hover-icon-rectangle-stroke-color: rgba($color-brand-01, 0);
