// c-button is-button-primary-icon

%is-button-primary-icon {

    // --- backgounds
    background-color: $c-button-primary-background-color;
    background-image: $c-button-primary-background-image;
    background-position: $c-button-primary-background-position;
    background-size: $c-button-primary-background-size;
    background-repeat: $c-button-primary-background-repeat;
    background-origin: $c-button-primary-background-origin;
    background-clip: $c-button-primary-background-clip;
    background-attachment: $c-button-primary-background-attachment;


    // --- borders
    border-top-width: $c-button-primary-border-top-width;
    border-right-width: $c-button-primary-border-right-width;
    border-bottom-width: $c-button-primary-border-bottom-width;
    border-left-width: $c-button-primary-border-left-width;
    //
    border-top-style: $c-button-primary-border-top-style;
    border-right-style: $c-button-primary-border-right-style;
    border-bottom-style: $c-button-primary-border-bottom-style;
    border-left-style: $c-button-primary-border-left-style;
    //
    border-top-color: $c-button-primary-border-top-color;
    border-right-color: $c-button-primary-border-right-color;
    border-bottom-color: $c-button-primary-border-bottom-color;
    border-left-color: $c-button-primary-border-left-color;
    // border-radius
    border-top-left-radius: $c-button-primary-border-top-left-radius;
    border-top-right-radius: $c-button-primary-border-top-right-radius;
    border-bottom-left-radius: $c-button-primary-border-bottom-left-radius;
    border-bottom-right-radius: $c-button-primary-border-bottom-right-radius;


    // --- paddings
    padding-top: ($c-button-icon-padding-top - $c-button-primary-border-top-width);
    padding-right: ($c-button-icon-padding-right - $c-button-primary-border-right-width);
    padding-bottom: calc(#{$c-button-icon-padding-bottom} - #{$c-button-primary-border-bottom-width} + 1px);
    padding-left: ($c-button-icon-padding-left - $c-button-primary-border-left-width);


    // --- transforms
    transform: $c-button-primary-transform;
    transform-origin: $c-button-primary-transform-origin;
    transform-style: $c-button-primary-transform-style;


    // --- transition
    will-change: $c-button-primary-transition-property;
    transition-delay: $c-button-primary-transition-delay;
    transition-duration: $c-button-primary-transition-duration;
    transition-property: $c-button-primary-transition-property;
    transition-timing-function: $c-button-primary-transition-timing-function;


    // --- :state: active
    &:active,
    &:focus,
    &.state-active {
        background-color: $c-button-primary-state-active-background-color;
        //
        border-top-color: $c-button-primary-state-active-border-top-color;
        border-right-color: $c-button-primary-state-active-border-right-color;
        border-bottom-color: $c-button-primary-state-active-border-bottom-color;
        border-left-color: $c-button-primary-state-active-border-left-color;
        //
        color: $c-button-primary-state-active-font-color;
        //
        transform: $c-button-primary-state-active-transform;
        // outline
        box-shadow: $c-button-outline;
        outline: 0;
    }


    // --- :state: hover
    &:hover,
    &.state-hover {
        background-color: $c-button-primary-state-hover-background-color;
        //
        border-top-color: $c-button-primary-state-hover-border-top-color;
        border-right-color: $c-button-primary-state-hover-border-right-color;
        border-bottom-color: $c-button-primary-state-hover-border-bottom-color;
        border-left-color: $c-button-primary-state-hover-border-left-color;
        //
        color: $c-button-primary-state-hover-font-color;
        //
        transform: $c-button-primary-state-hover-transform;
    }


    // --- :state: disabled
    &[disabled] {
        cursor: not-allowed;

        background-color: $c-button-primary-state-disabled-background-color;
        //
        border-top-color: $c-button-primary-state-disabled-border-top-color;
        border-right-color: $c-button-primary-state-disabled-border-right-color;
        border-bottom-color: $c-button-primary-state-disabled-border-bottom-color;
        border-left-color: $c-button-primary-state-disabled-border-left-color;
        //
        color: $c-button-primary-state-disabled-font-color;

        &:active,
        &:focus,
        &:hover,
        &.state-hover {
            background-color: $c-button-primary-state-disabled-background-color;
            //
            border-top-color: $c-button-primary-state-disabled-border-top-color;
            border-right-color: $c-button-primary-state-disabled-border-right-color;
            border-bottom-color: $c-button-primary-state-disabled-border-bottom-color;
            border-left-color: $c-button-primary-state-disabled-border-left-color;
            //
            color: $c-button-primary-state-disabled-font-color;
        }

        .c-icon {
            opacity: 0.4;
        }
    }

    // --- icon
    .c-icon {
        margin-left: 0;
        margin-right: 0;


        svg {
            rect {
                fill: transparent;
                stroke: transparent;
            }
            circle {
                fill: transparent;
                stroke: transparent;
            }
            path {
                fill: $c-button-primary-icon-color;
                stroke: transparent;
            }
        }


        // --- variation: circle background
        &.circle {
            svg {
                rect {
                    fill: transparent;
                    stroke: transparent;
                }
                circle {
                    fill: $c-button-primary-icon-color;
                    stroke: transparent;
                }
                path {
                    fill: $color-white;
                    stroke: transparent;
                }
            }
        }


        // --- variation: circle outline
        &.circle-outline {
            svg {
                rect {
                    fill: transparent;
                    stroke: transparent;
                }
                circle {
                    fill: transparent;
                    stroke: $c-button-primary-icon-color;
                }
                path {
                    fill: $color-white;
                    stroke: transparent;
                }
            }
        }


        // --- variation: square background
        &.square {
            svg {
                rect {
                    fill: transparent;
                    stroke: $c-button-primary-icon-color;
                }
                circle {
                    fill: transparent;
                    stroke: transparent;
                }
                path {
                    fill: $color-white;
                    stroke: transparent;
                }
            }
        }


        // --- variation: square outline
        &.square-outline {
            svg {
                rect {
                    fill: $c-button-primary-icon-color;
                    stroke: transparent;
                }
                circle {
                    fill: transparent;
                    stroke: transparent;
                }
                path {
                    fill: $color-white;
                    stroke: transparent;
                }
            }
        }
    }
}
