<!-- Forms: dropdowns -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Form: <span>Dropdown</span></h3>
        <section class="styleguide-example background-color-light fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-dropdown>
                <c-input
                    is="text"
                    value=""
                    placeholder="Start typing."
                    id="input-id-01"
                    name="inputfield">
                </c-input>

                <c-button is="button-ghost-icon" task="clear" id="button-id-01">
                    <span class="hidden-label">Clear</span>
                    <c-icon is="icon-clear"></c-icon>
                </c-button>

                <c-button is="button-ghost-icon" task="toggle"  id="button-id-02">
                    <span class="hidden-label">Toggle</span>
                    <c-icon is="icon-arrow-down"></c-icon>
                </c-button>

                <c-options id="id-options-01" label="options-label" no-results="There are no results">
                    <c-option id="id-opion-01">Option 1</c-option>
                    <c-option id="id-opion-02">Option 2</c-option>
                    <c-option id="id-opion-03">Option 3</c-option>
                    <c-option id="id-opion-04">Option 4</c-option>
                    <c-option id="id-opion-05">Option 5</c-option>
                    <c-option id="id-opion-06">Option 6</c-option>
                    <c-option id="id-opion-07">Option 7</c-option>
                    <c-option id="id-opion-08">Option 8</c-option>
                    <c-option id="id-opion-09">Option 9</c-option>
                    <c-option id="id-opion-10">Option 10</c-option>
                    <c-option id="id-opion-11">Option 11</c-option>
                    <c-option id="id-opion-12">Option 12</c-option>
                </c-options>
            </c-dropdown>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/dropdown/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/dropdown/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/dropdown/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
