// text-area


// --- box-shadow
$c-tile-description-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-tile-description-background-color: transparent;
$c-tile-description-background-image: none;
$c-tile-description-background-position: initial;
$c-tile-description-background-size: initial;
$c-tile-description-background-repeat: initial;
$c-tile-description-background-origin: initial;
$c-tile-description-background-clip: initial;
$c-tile-description-background-attachment: initial;


// --- borders
// top
$c-tile-description-border-top-width: 0px;
$c-tile-description-border-top-style: solid;
$c-tile-description-border-top-color: transparent;
// right
$c-tile-description-border-right-width: 0px;
$c-tile-description-border-right-style: solid;
$c-tile-description-border-right-color: transparent;
// bottom
$c-tile-description-border-bottom-width: 0px;
$c-tile-description-border-bottom-style: solid;
$c-tile-description-border-bottom-color: transparent;
// left
$c-tile-description-border-left-width: 0px;
$c-tile-description-border-left-style: solid;
$c-tile-description-border-left-color: transparent;
// radius
$c-tile-description-border-top-left-radius: 0;
$c-tile-description-border-top-right-radius: 0;
$c-tile-description-border-bottom-left-radius: 0;
$c-tile-description-border-bottom-right-radius: 0;


// --- display
$c-tile-description-display: block;


// --- margins
$c-tile-description-margin-top: 0;
$c-tile-description-margin-right: 0;
$c-tile-description-margin-bottom: 0;
$c-tile-description-margin-left: 0;


// --- paddings
$c-tile-description-padding-top: 0;
$c-tile-description-padding-right: 0;
$c-tile-description-padding-bottom: 0;
$c-tile-description-padding-left: 0;


// --- position
$c-tile-description-position: absolute;
$c-tile-description-position-top: auto;
$c-tile-description-position-right: 1rem;
$c-tile-description-position-bottom: 1rem;
$c-tile-description-position-left: 1rem;
$c-tile-description-position-zindex: auto;


// --- sizing
$c-tile-description-width: calc(100% - 2rem);
$c-tile-description-min-width: initial;
$c-tile-description-max-width: none;
$c-tile-description-height: auto;
$c-tile-description-min-height: initial;
$c-tile-description-max-height: none;


// --- text
$c-tile-description-font-family: $font-brand-regular;
$c-tile-description-font-color: $color-text-01;
$c-tile-description-font-size: $font-size-m;
$c-tile-description-font-style: normal;
$c-tile-description-font-variant: normal;
$c-tile-description-font-weight: $font-weight-regular;
$c-tile-description-line-height: 1;
$c-tile-description-letter-spacing: 0;
$c-tile-description-text-align: left;
$c-tile-description-text-decoration: none;
$c-tile-description-text-indent: 0;
$c-tile-description-text-overflow: initial;
$c-tile-description-text-transform: none;
$c-tile-description-text-shadow: none;
$c-tile-description-vertical-align: initial;
$c-tile-description-white-space: normal;
$c-tile-description-word-spacing: normal;


// -- overflow
$c-tile-description-overflow-x: hidden;
$c-tile-description-overflow-y: hidden;


// --- transforms
$c-tile-description-transform: none;
$c-tile-description-transform-origin: top left;
$c-tile-description-transform-style: preserve-3d;


// transition
$c-tile-description-transition-property: color;
