
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Tile-group</h3>
        <section class="styleguide-example background-color-light full-width  align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>
            <block-tile-group>
                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-01"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="packages" label="Tile label"></c-tile-icon>
                        <h3>Feature title with 2 lines of text blabla</h3>
                </c-tile>

                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-02"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="TE" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>

                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-03"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="servicegrid" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>


                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-04"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="user" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>


                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-05"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="promotiondownloadcenter" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>


                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-06"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="usageInternational" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>


                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-07"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="packages" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>

                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-08"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="TE" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>

                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-09"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="servicegrid" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>


                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-10"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="user" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>


                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-11"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="promotiondownloadcenter" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>


                <c-tile
                    draggable
                    css="fx-appear-from-bottom"
                    description="&euro; 14.374,96"
                    href="/components/tile"
                    id="tile-id-12"
                    tooltip="Hey, I have some extra information for this tile">
                        <c-tile-icon is="usageInternational" label="Tile label"></c-tile-icon>
                        <h3>Feature title</h3>
                </c-tile>
            </block-tile-group>




        </section>
    </article>
</section>
