// dropdown options-expanded aria-expanded="true"


// --- overflow
$c-dropdown-options-expanded-overflow-x: hidden;
$c-dropdown-options-expanded-overflow-y: auto;


// --- position
$c-dropdown-options-expanded-position: absolute;
$c-dropdown-options-expanded-position-top: 2rem;
$c-dropdown-options-expanded-position-right: auto;
$c-dropdown-options-expanded-position-bottom: auto;
$c-dropdown-options-expanded-position-left: 0;
$c-dropdown-options-expanded-position-zindex: 10;


// --- sizing
$c-dropdown-options-expanded-width: auto;
$c-dropdown-options-expanded-min-width: 100%;
$c-dropdown-options-expanded-max-width: none;
$c-dropdown-options-expanded-height: auto;
$c-dropdown-options-expanded-min-height: initial;
$c-dropdown-options-expanded-max-height: 15rem;


// --- transforms
$c-dropdown-options-expanded-transform: scaleY(1);
$c-dropdown-options-expanded-transform-origin: top left;
$c-dropdown-options-expanded-transform-style: preserve-3d;
