// dropdown options aria-expanded="false"



// --- overflow
$c-dropdown-options-overflow-x: hidden;
$c-dropdown-options-overflow-y: auto;


// --- position
$c-dropdown-options-position: absolute;
$c-dropdown-options-position-top: 2rem;
$c-dropdown-options-position-right: auto;
$c-dropdown-options-position-bottom: auto;
$c-dropdown-options-position-left: 0;
$c-dropdown-options-position-zindex: 10;


// --- sizing
$c-dropdown-options-width: auto;
$c-dropdown-options-min-width: 100%;
$c-dropdown-options-max-width: none;
$c-dropdown-options-height: auto;
$c-dropdown-options-min-height: initial;
$c-dropdown-options-max-height: 15rem;


// --- transforms
$c-dropdown-options-transform: scaleY(0);
$c-dropdown-options-transform-origin: top left;
$c-dropdown-options-transform-style: preserve-3d;


// transition
$c-dropdown-options-transition-property: transform;
