<!-- About -->
<section class="styleguide">

    <article>
        <h3 class="styleguide-title fx-appear">About CALVI DESIGN SYSTEM</h3>
        <section class="styleguide-example icons-overview fx-appear-from-bottom align-left">
            <c-list is="ordered">
                <c-list-item>
                    <c-link link="/cds/about/#introduction">Introduction</c-link>
                </c-list-item>
                <c-list-item>
                    <c-link link="/cds/about/#principles">Principles</c-link>
                </c-list-item>
                <c-list-item>
                    <c-link link="/cds/about/#for-who">Who is CDS for?</c-link>
                </c-list-item>
            </c-list>


        </section>

        <c-divider css="styleguide-divider"></c-divider>

        <section id="introduction" class="styleguide-description fx-appear">
            <h2>Introduction</h2>
            <p class="is-intro-text">
                CDS is design system for digital products and experiences. With the CALVI Design Language as its foundation, the system consists of working code, design tools and resources.
            </p>
            <p>
                The goals of the system include improving UI consistency and quality, making the design and development process more efficient and focused, establishing a shared vocabulary between designer and developer, and providing clear, discoverable guidance around design and development best practices.
            </p>
        </section>

        <c-divider css="styleguide-divider"></c-divider>

        <section id="principles" class="styleguide-description fx-appear">
            <h2>Principles</h2>
            <p>
                <strong>CDS is inclusive</strong> <br />
                It's designed and built to be accessible to all, regardless of ability or situation.                
            </p>

            <p>
                <strong>CDS is modular and flexible</strong> <br />
                CDS’s modularity ensures maximum flexibility in execution. Its components are designed to work seamlessly with each other, in whichever combination suits the needs of the user.              
            </p>

            <p>
                <strong>CDS builds consistency</strong> <br />
                Based on the comprehensive CALVI Design Language, every element and component of CDS was designed from the ground up to work elegantly together to ensure consistent, cohesive user experiences.             
            </p>

        </section>

        <c-divider css="styleguide-divider"></c-divider>
 
        <section id="for-who" class="styleguide-description fx-appear">
            <h2>For who?</h2>

            <p>
                <strong>Designers</strong> <br />
                CALVI Design System (CDS) is the official implementation of the CALVI Design Language for product and web designers, and represents an ever-growing ecosystem of design assets and guidance. With a comprehensive set of human interface guidelines, design kits, and documentation, CDS helps designers work faster and smarter.
            </p>

            <p>
                <strong>Developers</strong> <br />
                CDS is built by developers, for developers. The CDS will be built on the Angular library, but the generated output will be based on ES6+, SCSS and HTML. This means it will be quite simple to re-use the CDS if we ever decide to switch to another frontend framework for CALVI Insight. The CALVI UX/UI team maintains the repository for the CALVI Design System. However, non-CALVI UX/UI Developers are welcome to contribute if discussed with the core CDS-team.
            </p>

        </section>

    </article>

    <c-divider css="styleguide-divider"></c-divider>
</section>
