
<!-- Navigation -->
<nav class="styleguide-menu">



    <!-- toggle -->
    <c-button is="button-ghost-icon" id="styleguide-menu-toggle" css="styleguide-menu_toggle" task="menu-toggle">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="hidden-label">Close menu</span>
    </c-button>



    <!--- Logo --->
    <a routerLink="/" title="home" class="styleguide-logo"><img src="/assets/logo-calvi.svg" alt="This is the Calvi logo" /></a>



    <!--- Menu --->
    <div class="styleguide-menu_items">
        <c-accordion-group close-others>
            <!-- CDS -->
            <c-accordion id="styleguide-menu-cds" routerLinkActive="active">
                <c-accordion-button>
                    CALVI DESIGN SYSTEM
                    <c-icon is="icon-arrow-small-down" label="Toggle menu"></c-icon>
                </c-accordion-button>
                <c-accordion-region>
                        <!-- <a routerLinkActive="active" routerLink="/cds"  class="styleguide-menu_item">CALVI Design System</a> -->
                        <a routerLinkActive="active" routerLink="/cds/about" class="styleguide-menu_item">About CDS</a>
                        <!-- <a routerLinkActive="active" routerLink="cds/designers" class="styleguide-menu_item">Designers</a> -->
                        <a routerLinkActive="active" routerLink="cds/developers"  class="styleguide-menu_item">Developers</a>
                        <a routerLinkActive="active" routerLink="cds/status" class="styleguide-menu_item">Status</a>
                </c-accordion-region>
            </c-accordion>

            <!-- Styles -->
            <c-accordion id="styleguide-menu-styles" routerLinkActive="active">
                <c-accordion-button>
                    Styles
                    <c-icon is="icon-arrow-small-down" label="Toggle menu"></c-icon>
                </c-accordion-button>
                <c-accordion-region>
                    <a routerLinkActive="active" routerLink="styles/" class="styleguide-menu_item">All Styles</a>
                    <a routerLinkActive="active" routerLink="styles/colors" class="styleguide-menu_item">Colors</a>
                    <a routerLinkActive="active" routerLink="styles/font" class="styleguide-menu_item">Font</a>
                    <a routerLinkActive="active" routerLink="styles/logo" class="styleguide-menu_item">Logo</a>
                    <a routerLinkActive="active" routerLink="styles/tile-icons" class="styleguide-menu_item">Tile-icons</a>
                    <a routerLinkActive="active" routerLink="styles/ui-icons" class="styleguide-menu_item">UI-icons</a>
                </c-accordion-region>
            </c-accordion>

            <!-- Components -->
            <c-accordion id="styleguide-menu-components" routerLinkActive="active">
                <c-accordion-button>
                    Components
                    <c-icon is="icon-arrow-small-down" label="Toggle menu"></c-icon>
                </c-accordion-button>
                <c-accordion-region>
                    <a routerLinkActive="active" routerLink="components/" class="styleguide-menu_item">All Components</a>
                    <a routerLinkActive="active" routerLink="components/accordion" class="styleguide-menu_item">Accordion</a>
                    <a routerLinkActive="active" routerLink="components/breadcrumbs" class="styleguide-menu_item">Breadcrumbs</a>

                    <a routerLinkActive="active" routerLink="components/buttons/button-primary" class="styleguide-menu_item"><span>Buttons:</span> primary</a>
                    <a routerLinkActive="active" routerLink="components/buttons/button-secondary" class="styleguide-menu_item"><span>Buttons:</span> secondary</a>
                    <a routerLinkActive="active" routerLink="components/buttons/button-ghost" class="styleguide-menu_item"><span>Buttons:</span> ghost</a>

                    <a routerLinkActive="active" routerLink="components/charts/bar-chart" class="styleguide-menu_item"><span>Charts:</span> bar</a>
                    <a routerLinkActive="active" routerLink="components/charts/column-chart" class="styleguide-menu_item"><span>Charts:</span> column</a>
                    <a routerLinkActive="active" routerLink="components/charts/donut-chart" class="styleguide-menu_item"><span>Charts:</span> donut</a>
                    <a routerLinkActive="active" routerLink="components/charts/pie-chart" class="styleguide-menu_item"><span>Charts:</span> pie</a>
                    <a routerLinkActive="active" routerLink="components/charts/spline-chart" class="styleguide-menu_item"><span>Charts:</span> spline</a>
                    <a routerLinkActive="active" routerLink="components/charts/stacked-bar-chart" class="styleguide-menu_item"><span>Charts:</span> stacked-bar</a>
                    <a routerLinkActive="active" routerLink="components/charts/stacked-column-chart" class="styleguide-menu_item"><span>Charts:</span> stacked-column</a>

                    <a routerLinkActive="active" routerLink="components/context-menu" class="styleguide-menu_item">Context-menu</a>
                    <a routerLinkActive="active" routerLink="components/divider" class="styleguide-menu_item">Divider</a>
                    <a routerLinkActive="active" routerLink="components/filters/quickfilter" class="styleguide-menu_item">Filters: quickfilter</a>
                    <a routerLinkActive="active" routerLink="components/flash-message" class="styleguide-menu_item">Flash messages</a>

                    <a routerLinkActive="active" routerLink="components/forms/input-checkbox" class="styleguide-menu_item"><span>Forms:</span> checkbox</a>
                    <a routerLinkActive="active" routerLink="components/forms/datepicker" class="styleguide-menu_item"><span>Forms:</span> datepicker</a>
                    <a routerLinkActive="active" routerLink="components/forms/dropdown" class="styleguide-menu_item"><span>Forms:</span> dropdown</a>
                    <a routerLinkActive="active" routerLink="components/forms/fieldset" class="styleguide-menu_item"><span>Forms:</span> fieldset</a>
                    <a routerLinkActive="active" routerLink="components/forms/input-text" class="styleguide-menu_item"><span>Forms:</span> input</a>
                    <a routerLinkActive="active" routerLink="components/forms/options" class="styleguide-menu_item"><span>Forms:</span> options</a>
                    <a routerLinkActive="active" routerLink="components/forms/input-radio" class="styleguide-menu_item"><span>Forms:</span> radio</a>
                    <a routerLinkActive="active" routerLink="components/forms/search" class="styleguide-menu_item"><span>Forms:</span> search</a>
                    <a routerLinkActive="active" routerLink="components/forms/input-switch" class="styleguide-menu_item"><span>Forms:</span> switch</a>
                    <a routerLinkActive="active" routerLink="components/forms/input-textarea" class="styleguide-menu_item"><span>Forms:</span> textarea</a>
                    <a routerLinkActive="active" routerLink="components/forms/upload" class="styleguide-menu_item"><span>Forms:</span> upload</a>


                    <a routerLinkActive="active" routerLink="components/lists/context" class="styleguide-menu_item"><span>Lists:</span> context</a>
                    <a routerLinkActive="active" routerLink="components/lists/ordered" class="styleguide-menu_item"><span>Lists:</span> ordered</a>
                    <a routerLinkActive="active" routerLink="components/lists/quicklink" class="styleguide-menu_item"><span>Lists:</span> quicklink</a>
                    <a routerLinkActive="active" routerLink="components/lists/unordered" class="styleguide-menu_item"><span>Lists:</span> unordered</a>

                    <a routerLinkActive="active" routerLink="components/loader" class="styleguide-menu_item">Loader</a>
                    <a routerLinkActive="active" routerLink="components/modal" class="styleguide-menu_item">Modal</a>
                    <a routerLinkActive="active" routerLink="components/notification" class="styleguide-menu_item">Notifications</a>

                    <a routerLinkActive="active" routerLink="components/pagination" class="styleguide-menu_item">Pagination</a>
                    <a routerLinkActive="active" routerLink="components/progress-bar" class="styleguide-menu_item">Progress-bar</a>
                    <a routerLinkActive="active" routerLink="components/skiptolinks" class="styleguide-menu_item">Skip to links</a>
                    <a routerLinkActive="active" routerLink="components/table" class="styleguide-menu_item">Table</a>
                    <a routerLinkActive="active" routerLink="components/tabs" class="styleguide-menu_item">Tabs</a>

                    <a routerLinkActive="active" routerLink="components/text/headings" class="styleguide-menu_item"><span>Text:</span> headings</a>
                    <a routerLinkActive="active" routerLink="components/text/link" class="styleguide-menu_item"><span>Text:</span> links</a>
                    <a routerLinkActive="active" routerLink="components/text/paragraph" class="styleguide-menu_item"><span>Text:</span> paragraph</a>

                    <a routerLinkActive="active" routerLink="components/tile" class="styleguide-menu_item">Tile</a>
                    <a routerLinkActive="active" routerLink="components/tooltip" class="styleguide-menu_item">Tooltip</a>
                </c-accordion-region>
            </c-accordion>


            <!-- Blocks -->
            <c-accordion id="styleguide-menu-blocks" routerLinkActive="active">
                <c-accordion-button>
                    Blocks
                    <c-icon is="icon-arrow-small-down" label="Toggle menu"></c-icon>
                </c-accordion-button>
                <c-accordion-region>
                    <a routerLinkActive="active" routerLink="blocks/button-group" class="styleguide-menu_item">Button group</a>
                    <a routerLinkActive="active" routerLink="blocks/grid" class="styleguide-menu_item">Grid</a>
                    <a routerLinkActive="active" routerLink="blocks/grid-action-bar" class="styleguide-menu_item">Grid Action bar</a>
                    <a routerLinkActive="active" routerLink="blocks/header" class="styleguide-menu_item">Header</a>
                    <a routerLinkActive="active" routerLink="blocks/tile-group" class="styleguide-menu_item">Tile-group</a>
                </c-accordion-region>
            </c-accordion>
        </c-accordion-group>

    </div>
</nav>




<!-- Router -->
<router-outlet></router-outlet>
