<!-- Forms: dropdowns -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Pagination</h3>
        <p class="styleguide-todo">To Do: Add ResourceKeys as labels.</p>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-pagination page="7" results="200" items="10">

                <c-button is="button-ghost-icon" task="previous">
                    <span class="hidden-label">Previous page</span>
                    <c-icon is="icon-arrow-left"></c-icon>
                </c-button>

                <c-dropdown>
                    <c-input is="text" value="" placeholder=" " id="pagination-id-01" name="inputfield"></c-input>

                    <c-button is="button-ghost-icon" task="toggle">
                        <span class="hidden-label">Toggle</span>
                        <c-icon is="icon-arrow-down"></c-icon>
                    </c-button>

                    <c-options id="id-options-01" label="options-label" label-no-results="No results">
                        <c-option id="pagination-option-01">1</c-option>
                    </c-options>
                </c-dropdown>

                <c-button is="button-ghost-icon" task="next">
                    <span class="hidden-label">Previous page</span>
                    <c-icon is="icon-arrow-right"></c-icon>
                </c-button>

            </c-pagination>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/pagination/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/pagination/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/pagination/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>

    <c-divider css="styleguide-divider"></c-divider>
</section>
