// list-unordered

$c-list-unordered-style-type                : circle;


// --- text
$c-list-unordered-font-family                : $font-brand-regular;
$c-list-unordered-font-color                 : $color-text-01;
$c-list-unordered-font-size                  : $font-size-m;
$c-list-unordered-font-style                 : normal;
$c-list-unordered-font-variant               : normal;
$c-list-unordered-font-weight                : $font-weight-medium;
$c-list-unordered-line-height                : $line-height-m;
$c-list-unordered-letter-spacing             : 0;
$c-list-unordered-text-align                 : left;
$c-list-unordered-text-decoration            : none;
$c-list-unordered-text-indent                : initial;
$c-list-unordered-text-overflow              : none;
$c-list-unordered-text-transform             : none;
$c-list-unordered-text-shadow                : none;
$c-list-unordered-vertical-align             : initial;
$c-list-unordered-white-space                : normal;
$c-list-unordered-word-spacing               : normal;
//
$c-list-unordered-font-weight-bold           : $font-weight-bold;


// -- margins
$c-list-unordered-margin-top                 : 1rem;
$c-list-unordered-margin-right               : 0;
$c-list-unordered-margin-bottom              : 1rem;
$c-list-unordered-margin-left                : 0;



// --- text
$c-list-unordered-intro-font-family          : $font-brand-regular;
$c-list-unordered-intro-font-color           : darken($color-text-01, 5%);
$c-list-unordered-intro-font-size            : $font-size-l;
$c-list-unordered-intro-font-style           : normal;
$c-list-unordered-intro-font-variant         : normal;
$c-list-unordered-intro-font-weight          : $font-weight-medium;
$c-list-unordered-intro-line-height          : $line-height-l;
$c-list-unordered-intro-letter-spacing       : 0;
$c-list-unordered-intro-text-align           : left;
$c-list-unordered-intro-text-decoration      : none;
$c-list-unordered-intro-text-indent          : initial;
$c-list-unordered-intro-text-overflow        : none;
$c-list-unordered-intro-text-transform       : none;
$c-list-unordered-intro-text-shadow          : none;
$c-list-unordered-intro-vertical-align       : initial;
$c-list-unordered-intro-white-space          : normal;
$c-list-unordered-intro-word-spacing         : normal;
