// list-ordered


// --- text
$c-list-ordered-font-family                : $font-brand-regular;
$c-list-ordered-font-color                 : $color-text-01;
$c-list-ordered-font-size                  : $font-size-m;
$c-list-ordered-font-style                 : normal;
$c-list-ordered-font-variant               : normal;
$c-list-ordered-font-weight                : $font-weight-medium;
$c-list-ordered-line-height                : $line-height-m;
$c-list-ordered-letter-spacing             : 0;
$c-list-ordered-text-align                 : left;
$c-list-ordered-text-decoration            : none;
$c-list-ordered-text-indent                : initial;
$c-list-ordered-text-overflow              : none;
$c-list-ordered-text-transform             : none;
$c-list-ordered-text-shadow                : none;
$c-list-ordered-vertical-align             : initial;
$c-list-ordered-white-space                : normal;
$c-list-ordered-word-spacing               : normal;
//
$c-list-ordered-font-weight-bold           : $font-weight-bold;


// -- margins
$c-list-ordered-margin-top                 : 1rem;
$c-list-ordered-margin-right               : 0;
$c-list-ordered-margin-bottom              : 1rem;
$c-list-ordered-margin-left                : 0;



// --- text
$c-list-ordered-intro-font-family          : $font-brand-regular;
$c-list-ordered-intro-font-color           : darken($color-text-01, 5%);
$c-list-ordered-intro-font-size            : $font-size-l;
$c-list-ordered-intro-font-style           : normal;
$c-list-ordered-intro-font-variant         : normal;
$c-list-ordered-intro-font-weight          : $font-weight-medium;
$c-list-ordered-intro-line-height          : $line-height-l;
$c-list-ordered-intro-letter-spacing       : 0;
$c-list-ordered-intro-text-align           : left;
$c-list-ordered-intro-text-decoration      : none;
$c-list-ordered-intro-text-indent          : initial;
$c-list-ordered-intro-text-overflow        : none;
$c-list-ordered-intro-text-transform       : none;
$c-list-ordered-intro-text-shadow          : none;
$c-list-ordered-intro-vertical-align       : initial;
$c-list-ordered-intro-white-space          : normal;
$c-list-ordered-intro-word-spacing         : normal;
