// list


// --- background
$c-list-background-color: transparent;
$c-list-background-image: none;
$c-list-background-position: initial;
$c-list-background-size: initial;
$c-list-background-repeat: initial;
$c-list-background-origin: initial;
$c-list-background-clip: initial;
$c-list-background-attachment: initial;



// --- borders
// top
$c-list-border-top-width: 0px;
$c-list-border-top-style: solid;
$c-list-border-top-color: transparent;
// right
$c-list-border-right-width: 0px;
$c-list-border-right-style: solid;
$c-list-border-right-color: transparent;
// bottom
$c-list-border-bottom-width: 0px;
$c-list-border-bottom-style: solid;
$c-list-border-bottom-color: transparent;
// left
$c-list-border-left-width: 0px;
$c-list-border-left-style: solid;
$c-list-border-left-color: transparent;
// radius
$c-list-border-top-left-radius: 0.25rem;
$c-list-border-top-right-radius: 0.25rem;
$c-list-border-bottom-left-radius: 0.25rem;
$c-list-border-bottom-right-radius: 0.25rem;



// --- box-shadow
$c-list-box-shadow: 0px 0px 0px 0px transparent;



// --- outline
$c-list-outline-color: transparent;
$c-list-outline-width: 0;
$c-list-outline: 0px 0px 0px $c-breadcrumb-outline-width $c-breadcrumb-outline-color;



// --- dimensions
$c-list-dimensions-min-width: initial;
$c-list-dimensions-max-width: none;
$c-list-dimensions-min-height: initial;
$c-list-dimensions-max-height: none;



// --- dividers
$c-list-divider-color: $color-ui-04;
