// list-quicklink


// --- background
$c-list-quicklink-background-color: $color-ui-02;
$c-list-quicklink-background-image: none;
$c-list-quicklink-background-position: initial;
$c-list-quicklink-background-size: initial;
$c-list-quicklink-background-repeat: initial;
$c-list-quicklink-background-origin: initial;
$c-list-quicklink-background-clip: initial;
$c-list-quicklink-background-attachment: initial;



// --- borders
// top
$c-list-quicklink-border-top-width: 0px;
$c-list-quicklink-border-top-style: solid;
$c-list-quicklink-border-top-color: transparent;
// right
$c-list-quicklink-border-right-width: 0px;
$c-list-quicklink-border-right-style: solid;
$c-list-quicklink-border-right-color: transparent;
// bottom
$c-list-quicklink-border-bottom-width: 0px;
$c-list-quicklink-border-bottom-style: solid;
$c-list-quicklink-border-bottom-color: transparent;
// left
$c-list-quicklink-border-left-width: 0px;
$c-list-quicklink-border-left-style: solid;
$c-list-quicklink-border-left-color: transparent;
// radius
$c-list-quicklink-border-top-left-radius: 0.25rem;
$c-list-quicklink-border-top-right-radius: 0.25rem;
$c-list-quicklink-border-bottom-left-radius: 0.25rem;
$c-list-quicklink-border-bottom-right-radius: 0.25rem;




// --- box-shadow
$c-list-quicklink-box-shadow: 0px 0px 0px 0px transparent;



// --- outline
$c-list-quicklink-outline-color: transparent;
$c-list-quicklink-outline-width: 0;
$c-list-quicklink-outline: 0px 0px 0px $c-breadcrumb-outline-width $c-breadcrumb-outline-color;



// --- dimensions
$c-list-quicklink-dimensions-min-width: initial;
$c-list-quicklink-dimensions-max-width: 18.5rem;
$c-list-quicklink-dimensions-min-height: initial;
$c-list-quicklink-dimensions-max-height: none;



// --- dividers
$c-list-quicklink-divider-color: $color-ui-04;
$c-list-quicklink-divider-margin-top: 0.5rem;
$c-list-quicklink-divider-margin-bottom: 0.5rem;



// --- paddings
$c-list-quicklink-padding-top: 0.5rem;
$c-list-quicklink-padding-right: 0;
$c-list-quicklink-padding-bottom: 0.5rem;
$c-list-quicklink-padding-left: 0;
