<!-- Colors -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Colors</h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <h3>Brand colors</h3>
            <span class="styleguide-color color-brand-01" data-color-name="$color-brand-01"></span>
            <span class="styleguide-color color-brand-02" data-color-name="$color-brand-02"></span>
            <span class="styleguide-color color-brand-03" data-color-name="$color-brand-03"></span>
            <h3>UI colors</h3>
            <span class="styleguide-color color-ui-01" data-color-name="$color-ui-01"></span>
            <span class="styleguide-color color-ui-02" data-color-name="$color-ui-02"></span>
            <span class="styleguide-color color-ui-03" data-color-name="$color-ui-03"></span>
            <span class="styleguide-color color-ui-04" data-color-name="$color-ui-04"></span>
            <span class="styleguide-color color-ui-05" data-color-name="$color-ui-05"></span>
            <h3>Text colors</h3>
            <span class="styleguide-color color-text-01" data-color-name="$color-text-01"></span>
            <span class="styleguide-color color-text-02" data-color-name="$color-text-02"></span>
            <span class="styleguide-color color-text-03" data-color-name="$color-text-03"></span>
            <span class="styleguide-color color-text-04" data-color-name="$color-text-04"></span>
            <h3>Accent colors</h3>
            <span class="styleguide-color color-accent-01" data-color-name="$color-accent-01"></span>
            <span class="styleguide-color color-accent-02" data-color-name="$color-accent-02"></span>
            <span class="styleguide-color color-accent-03" data-color-name="$color-accent-03"></span>
            <span class="styleguide-color color-accent-04" data-color-name="$color-accent-04"></span>
            <span class="styleguide-color color-accent-05" data-color-name="$color-accent-05"></span>
            <span class="styleguide-color color-accent-06" data-color-name="$color-accent-06"></span>
            <span class="styleguide-color color-accent-07" data-color-name="$color-accent-07"></span>
            <span class="styleguide-color color-accent-08" data-color-name="$color-accent-08"></span>
            <span class="styleguide-color color-accent-09" data-color-name="$color-accent-09"></span>
            <span class="styleguide-color color-accent-10" data-color-name="$color-accent-10"></span>
            <span class="styleguide-color color-accent-11" data-color-name="$color-accent-11"></span>
            <span class="styleguide-color color-accent-12" data-color-name="$color-accent-12"></span>
            <h3>Blacks</h3>
            <span class="styleguide-color color-black" data-color-name="$color-black"></span>
            <span class="styleguide-color color-black-90" data-color-name="$color-black-90"></span>
            <span class="styleguide-color color-black-80" data-color-name="$color-black-80"></span>
            <span class="styleguide-color color-black-70" data-color-name="$color-black-70"></span>
            <span class="styleguide-color color-black-60" data-color-name="$color-black-60"></span>
            <span class="styleguide-color color-black-50" data-color-name="$color-black-50"></span>
            <span class="styleguide-color color-black-40" data-color-name="$color-black-40"></span>
            <span class="styleguide-color color-black-30" data-color-name="$color-black-30"></span>
            <span class="styleguide-color color-black-20" data-color-name="$color-black-20"></span>
            <span class="styleguide-color color-black-10" data-color-name="$color-black-10"></span>
            <h3>Whites</h3>
            <span class="styleguide-color color-white" data-color-name="$color-white"></span>
            <span class="styleguide-color color-white-90" data-color-name="$color-white-90"></span>
            <span class="styleguide-color color-white-80" data-color-name="$color-white-80"></span>
            <span class="styleguide-color color-white-70" data-color-name="$color-white-70"></span>
            <span class="styleguide-color color-white-60" data-color-name="$color-white-60"></span>
            <span class="styleguide-color color-white-50" data-color-name="$color-white-50"></span>
            <span class="styleguide-color color-white-40" data-color-name="$color-white-40"></span>
            <span class="styleguide-color color-white-30" data-color-name="$color-white-30"></span>
            <span class="styleguide-color color-white-20" data-color-name="$color-white-20"></span>
            <span class="styleguide-color color-white-10" data-color-name="$color-white-10"></span>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
</section>
