<!-- Breadcrumbs -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Calvi</h3>
        <section class="styleguide-overview fx-appear-from-bottom">

            <a href="components/styles" class="styleguide-overview_item">
                <h4>Styles</h4>
                <p class="styleguide-characters">
                    <span class="styleguide-character">A</span>
                    <span class="styleguide-character">B</span>
                    <span class="styleguide-character">C</span>
                    <span class="styleguide-character">Č</span>
                    <span class="styleguide-character">Ć</span>
                    <span class="styleguide-character">D</span>
                    <span class="styleguide-character">Đ</span>
                    <span class="styleguide-character">E</span>
                    <span class="styleguide-character">F</span>
                    <span class="styleguide-character">G</span>
                </p>
            </a>

            <a href="components" class="styleguide-overview_item">
                <h4>Components</h4>
                <c-checkbox is="switch" id="checkbox-id-01" task="demo-purpose" label="Switch"></c-checkbox>
                <c-checkbox is="checkbox" id="checkbox-id-02"  task="demo-purpose" label="Checkbox"></c-checkbox>
            </a>

            <a href="blocks" class="styleguide-overview_item">
                <h4>Blocks</h4>
                <p>No content yet...</p>
            </a>
            <a href="views" class="styleguide-overview_item">
                <h4>Views</h4>
                <p>No content yet...</p>
            </a>


        </section>
    </article>
</section>
