<!-- modal -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">modals</h3>
        <section class="styleguide-example background-color-light fx-appear-from-bottom">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <block-button-group is="button-group-align-center">
                <c-button task="open-modal-01"  is="button-primary" id="button-id-01">open modal</c-button>
            </block-button-group>




        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/modal/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/modal/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/modal/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/modal/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>

<c-modal id="modal-id-01" title="Modal title" label-button-close="Close" visible="false">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed nisi quam, eleifend pharetra viverra ac, vehicula et nisi. In magna odio, vestibulum sed gravida in, fermentum ac dolor.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed nisi quam, eleifend pharetra viverra ac, vehicula et nisi. In magna odio, vestibulum sed gravida in, fermentum ac dolor.
    </p>
    <c-fieldset legend="I am legend">
        <c-radio is="radio" id="radio-id-01" name="c-radio-01" value="Radio value 1" checked>Radio label</c-radio><br />
        <c-radio is="radio" id="radio-id-02" name="c-radio-01" value="Radio value 2">Radio label</c-radio><br />
        <c-radio is="radio" id="radio-id-03" name="c-radio-01" value="Radio value 3">Radio label</c-radio>
    </c-fieldset>
    <c-fieldset>
        <c-input
            is="text"
            value=""
            placeholder="Placeholder text"
            id="input-id-01"
            name="inputfield"
            pattern="^[a-zA-Z ]+$"
            required
            error-message-pattern="Error. The text can only contain letters"
            error-message-required="Error. This is a required field">
            Input label
        </c-input>
    </c-fieldset>
    <block-button-group is="button-group-align-left">
        <c-button task="demo-purpose" is="button-secondary" id="button-id-11">Cancel</c-button>
        <c-button task="demo-purpose" is="button-primary" id="button-id-12">Save</c-button>
    </block-button-group>
</c-modal>
