<!-- About -->
<section class="styleguide">

    <article>
        <h3 class="styleguide-title fx-appear">Developers</h3>
        <section class="styleguide-example icons-overview fx-appear-from-bottom align-left">
            <c-list is="ordered">
                <c-list-item>
                    <c-link link="/cds/developers/#introduction">Introduction</c-link>
                </c-list-item>
                <c-list-item>
                    <c-link link="/cds/developers/#install">Install</c-link>
                </c-list-item>
                <c-list-item>
                    <c-link link="/cds/developers/#example-angularjs">Example: AngularJS</c-link>
                </c-list-item>
            </c-list>


        </section>

        <section id="introduction" class="styleguide-description fx-appear">
            <h2>Introduction</h2>
            <p>
                The library provides front-end developers & engineers a collection of reusable HTML and SCSS partials to build websites and user interfaces. Adopting the library enables developers to use consistent markup, styles, and behavior in prototype and production work.
            </p>
        </section>

        <c-divider css="styleguide-divider"></c-divider>

        <section id="install" class="styleguide-description fx-appear">
            <h2>Install</h2>
            <p>
                <strong>Using NPM</strong> <br />
                npm install --save @calvi/calvi-design-system              
            </p>
        </section>

        <c-divider css="styleguide-divider"></c-divider>
 
        <section id="example-angularjs" class="styleguide-description fx-appear">
            <h2>AngularJS</h2>

            <p>
                To help developers get started with using CALVI Design System within AngularJS, we've set up a sample application. It's available in the browser via: <c-link link="https://secure.calvi.nl/design/cds-angularjs/">CDS in AngularJS</c-link>. The non-compiled code that is being used can be found underneath.
            </p>

        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">HTML</c-tab>
                <c-tab id="styleguide-tab-02">JS</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/developers/angularjs/html.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/developers/angularjs/js.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>

    </article>

    <c-divider css="styleguide-divider"></c-divider>
</section>
