// block-header

// --- background
$block-header-desktop-background: linear-gradient(to right, rgba($color-brand-03, 1) 0%, rgba($color-brand-01, 1) 100%);
$block-header-desktop-background-color: $color-brand-01;
$block-header-desktop-background-image: none;
$block-header-desktop-background-position: initial;
$block-header-desktop-background-size: initial;
$block-header-desktop-background-repeat: initial;
$block-header-desktop-background-origin: initial;
$block-header-desktop-background-clip: initial;
$block-header-desktop-background-attachment: initial;

// --- borders
$block-header-desktop-border-top-width: 0;
$block-header-desktop-border-right-width: 0;
$block-header-desktop-border-bottom-width: 0;
$block-header-desktop-border-left-width: 0;
//
$block-header-desktop-border-top-style: solid;
$block-header-desktop-border-right-style: solid;
$block-header-desktop-border-bottom-style: solid;
$block-header-desktop-border-left-style: solid;
//
$block-header-desktop-border-top-color: transparent;
$block-header-desktop-border-right-color: transparent;
$block-header-desktop-border-bottom-color: transparent;
$block-header-desktop-border-left-color: transparent;
// border-radius
$block-header-desktop-border-top-left-radius: 0;
$block-header-desktop-border-top-right-radius: 0;
$block-header-desktop-border-bottom-left-radius: 0;
$block-header-desktop-border-bottom-right-radius: 0;

// --- margins
$block-header-desktop-margin-top: 0;
$block-header-desktop-margin-right: 0;
$block-header-desktop-margin-bottom: 0;
$block-header-desktop-margin-left: 0;


// --- paddings
$block-header-desktop-padding-top: 1.5rem;
$block-header-desktop-padding-right: 4rem;
$block-header-desktop-padding-bottom: 1.5rem;
$block-header-desktop-padding-left: 4rem;


// --- position
$block-header-desktop-position: relative;
$block-header-desktop-position-top: auto;
$block-header-desktop-position-right: auto;
$block-header-desktop-position-bottom: auto;
$block-header-desktop-position-left: auto;
$block-header-desktop-position-zindex: 1;


// --- sizing
$block-header-desktop-width: 100%;
$block-header-desktop-min-width: initial;
$block-header-desktop-max-width: none;
$block-header-desktop-height: auto;
$block-header-desktop-min-height: initial;
$block-header-desktop-max-height: none;


// -- shadow
$block-header-desktop-box-shadow: 0px 0px 0px 0px transparent;
