// block-header

// --- background
$block-header-phone-background: linear-gradient(to right, rgba($color-brand-03, 1) 0%, rgba($color-brand-01, 1) 100%);
$block-header-phone-background-color: $color-brand-01;
$block-header-phone-background-image: none;
$block-header-phone-background-position: initial;
$block-header-phone-background-size: initial;
$block-header-phone-background-repeat: initial;
$block-header-phone-background-origin: initial;
$block-header-phone-background-clip: initial;
$block-header-phone-background-attachment: initial;

// --- borders
$block-header-phone-border-top-width: 0;
$block-header-phone-border-right-width: 0;
$block-header-phone-border-bottom-width: 0;
$block-header-phone-border-left-width: 0;
//
$block-header-phone-border-top-style: solid;
$block-header-phone-border-right-style: solid;
$block-header-phone-border-bottom-style: solid;
$block-header-phone-border-left-style: solid;
//
$block-header-phone-border-top-color: transparent;
$block-header-phone-border-right-color: transparent;
$block-header-phone-border-bottom-color: transparent;
$block-header-phone-border-left-color: transparent;
// border-radius
$block-header-phone-border-top-left-radius: 0;
$block-header-phone-border-top-right-radius: 0;
$block-header-phone-border-bottom-left-radius: 0;
$block-header-phone-border-bottom-right-radius: 0;

// --- margins
$block-header-phone-margin-top: 0;
$block-header-phone-margin-right: 0;
$block-header-phone-margin-bottom: 0;
$block-header-phone-margin-left: 0;


// --- paddings
$block-header-phone-padding-top: 1rem;
$block-header-phone-padding-right: 0;
$block-header-phone-padding-bottom: 0;
$block-header-phone-padding-left: 0;


// --- position
$block-header-phone-position: relative;
$block-header-phone-position-top: auto;
$block-header-phone-position-right: auto;
$block-header-phone-position-bottom: auto;
$block-header-phone-position-left: auto;
$block-header-phone-position-zindex: 1;


// --- sizing
$block-header-phone-width: 100%;
$block-header-phone-min-width: initial;
$block-header-phone-max-width: none;
$block-header-phone-height: auto;
$block-header-phone-min-height: initial;
$block-header-phone-max-height: none;


// -- shadow
$block-header-phone-box-shadow: 0px 0px 0px 0px transparent;
