// block-header context-menu


// --- icon-arrow
$block-header-context-menu-icon-arrow-color: $color-ui-01;



// --- icon-user
$block-header-context-menu-icon-user-color-foreground: $color-brand-01;
$block-header-context-menu-icon-user-color-background: $color-ui-01;



// --- text
$block-header-context-menu-text-color: $color-ui-01;
