// block-header logo


// --- logo
$block-header-logo-color: $color-ui-01;
$block-header-logo-phone-width: 6rem;
$block-header-logo-phone-height: auto;
$block-header-logo-tablet-width: 11rem;
$block-header-logo-tablet-height: auto;
$block-header-logo-desktop-width: 11rem;
$block-header-logo-desktop-height: auto;
