// block-header help


// --- icon-user
$block-header-help-icon-color-foreground: $color-brand-01;
$block-header-help-icon-color-background: $color-ui-01;
$block-header-help-icon-margin-top: 0;
$block-header-help-icon-margin-right: 0.5rem;
$block-header-help-icon-margin-bottom: 0;
$block-header-help-icon-margin-left: 0;


// --- text
$block-header-help-text-color: $color-ui-01;
