// block-grid-action-bar

block-grid-action-bar {
    display: block;
    max-height: 0;
    overflow-x: visible;
    overflow-y: hidden;
    transition: max-height .2s;

    .block-grid-action-bar {
        
        // --- defaults
        box-sizing: border-box;

        // --- backgounds
        background-color: $c-grid-action-bar-background-color;
        background-image: $c-grid-action-bar-background-image;
        background-position: $c-grid-action-bar-background-position;
        background-size: $c-grid-action-bar-background-size;
        background-repeat: $c-grid-action-bar-background-repeat;
        background-origin: $c-grid-action-bar-background-origin;
        background-clip: $c-grid-action-bar-background-clip;
        background-attachment: $c-grid-action-bar-background-attachment;


        // --- borders
        border-top-width: $block-grid-action-bar-border-top-width;
        border-right-width: $block-grid-action-bar-border-right-width;
        border-bottom-width: $block-grid-action-bar-border-bottom-width;
        border-left-width: $block-grid-action-bar-border-left-width;
        //
        border-top-style: $block-grid-action-bar-border-top-style;
        border-right-style: $block-grid-action-bar-border-right-style;
        border-bottom-style: $block-grid-action-bar-border-bottom-style;
        border-left-style: $block-grid-action-bar-border-left-style;
        //
        border-top-color: $block-grid-action-bar-border-top-color;
        border-right-color: $block-grid-action-bar-border-right-color;
        border-bottom-color: $block-grid-action-bar-border-bottom-color;
        border-left-color: $block-grid-action-bar-border-left-color;
        // border-radius
        border-top-left-radius: $block-grid-action-bar-border-top-left-radius;
        border-top-right-radius: $block-grid-action-bar-border-top-right-radius;
        border-bottom-left-radius: $block-grid-action-bar-border-bottom-left-radius;
        border-bottom-right-radius: $block-grid-action-bar-border-bottom-right-radius;


        // --- dimensions
        width: 100%;
        height: auto;


        // -- display
        display: block;


        // --- margins
        margin-top: $block-grid-action-bar-margin-top;
        margin-right: $block-grid-action-bar-margin-right;
        margin-bottom: $block-grid-action-bar-margin-bottom;
        margin-left: $block-grid-action-bar-margin-left;


        // --- paddings
        padding-top: $block-grid-action-bar-padding-top;
        padding-right: ($block-grid-action-bar-padding-right - (0.5 * $block-grid-action-bar-margin-between-buttons));
        padding-bottom: $block-grid-action-bar-padding-bottom;
        padding-left: ($block-grid-action-bar-padding-left - (0.5 * $block-grid-action-bar-margin-between-buttons));


        // --- position
        position: $block-grid-action-bar-position;
        top: $block-grid-action-bar-position-top;
        right: $block-grid-action-bar-position-right;
        bottom: $block-grid-action-bar-position-bottom;
        left: $block-grid-action-bar-position-left;
        z-index: $block-grid-action-bar-position-zindex;


        // --- text
        text-align: left;

        // -- shadow
        box-shadow: $block-grid-action-bar-box-shadow;


        // --- buttons
        c-button{
            .c-button {
                margin-right: (0.5 * $block-grid-action-bar-margin-between-buttons);
                margin-left: (0.5 * $block-grid-action-bar-margin-between-buttons);
            }
        }

        c-context-menu {
            .c-context-menu {
                margin-right: (0.5 * $block-grid-action-bar-margin-between-buttons);
                margin-left: (0.5 * $block-grid-action-bar-margin-between-buttons);
            }
        }

        p {
            display: inline-block;
            margin-top: 0;
            margin-right: $block-grid-action-bar-margin-between-buttons;
            margin-bottom: 0;
            margin-left: $block-grid-action-bar-margin-between-buttons;
        }


        // --- visibility
        opacity: 0;

        // --- animation
        transition: opacity .2s 0s $ease-out-quad;

    }

    &[visible] {
        max-height: 10rem;
        overflow-y: visible;

        .block-grid-action-bar {
            opacity: 1;
            transition: opacity .2s .1s $ease-out-quad;
        }
    }
}