<!-- ghost button -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Button: <span>is:button-ghost</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <block-button-group is="button-group-align-center">
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-01">button</c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-02" css="state-hover">button</c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-03" css="state-active">button</c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-04">button<c-icon is="icon-add"></c-icon></c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-05" disabled>button</c-button>
            </block-button-group>
            <p class="styleguide-states">default | hover | active | icon | disabled</p>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Button: <span>is:button-ghost | size-small</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">


            <block-button-group is="button-group-align-center">
                <c-button task="demo-purpose" is="button-ghost" css="size-small" id="button-id-11">button</c-button>
                <c-button task="demo-purpose" is="button-ghost" css="size-small state-hover" id="button-id-12">button</c-button>
                <c-button task="demo-purpose" is="button-ghost" css="size-small state-active" id="button-id-13">button</c-button>
                <c-button task="demo-purpose" is="button-ghost" css="size-small" id="button-id-14">button<c-icon is="icon-add"></c-icon></c-button>
                <c-button task="demo-purpose" is="button-ghost" css="size-small" disabled id="button-id-15">button</c-button>
            </block-button-group>
            <p class="styleguide-states">default | hover | active | icon | disabled</p>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-11">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-12">Usage</c-tab> -->
                <c-tab id="styleguide-tab-13">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-11-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/CODE.SMALL.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-12-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-13-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Button: <span>is:button-ghost-icon</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">


            <block-button-group is="button-group-align-center">
                <c-button task="demo-purpose"  is="button-ghost-icon" id="button-id-21">
                    <span class="hidden-label">button</span>
                    <c-icon is="icon-add"></c-icon>
                </c-button>
                <c-button task="demo-purpose"  is="button-ghost-icon" css="state-hover" id="button-id-22">
                    <span class="hidden-label">button</span>
                    <c-icon is="icon-add"></c-icon>
                </c-button>
                <c-button task="demo-purpose"  is="button-ghost-icon" css="state-active" id="button-id-23">
                    <span class="hidden-label">button</span>
                    <c-icon is="icon-add"></c-icon>
                </c-button>
                <c-button task="demo-purpose"  is="button-ghost-icon" disabled id="button-id-24">
                    <span class="hidden-label">button</span>
                    <c-icon is="icon-add"></c-icon>
                </c-button>
            </block-button-group>
            <p class="styleguide-states">default | hover | active | disabled</p>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-21">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-22">Usage</c-tab> -->
                <c-tab id="styleguide-tab-23">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-21-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/CODE.ICON.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-22-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-23-panel">
                    <markdown [src]="'./assets/readme/buttons/button-ghost/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>


    <article>
        <h3 class="styleguide-title fx-appear">Button: <span>is:button-ghost Icon variations</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">

            <block-button-group is="button-group-align-center">
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-31">button<c-icon is="icon-add"></c-icon></c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-32">button<c-icon is="icon-add" css="circle"></c-icon></c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-33">button<c-icon is="icon-add" css="circle-outline"></c-icon></c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-34">button<c-icon is="icon-add" css="square"></c-icon></c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-35">button<c-icon is="icon-add" css="square-outline"></c-icon></c-button>
            </block-button-group>
            <br />
            <block-button-group is="button-group-align-center">
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-41"><c-icon is="icon-add"></c-icon>button</c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-42"><c-icon is="icon-add" css="circle"></c-icon>button</c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-43"><c-icon is="icon-add" css="circle-outline"></c-icon>button</c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-44"><c-icon is="icon-add" css="square"></c-icon>button</c-button>
                <c-button task="demo-purpose"  is="button-ghost" id="button-id-45"><c-icon is="icon-add" css="square-outline"></c-icon>button</c-button>
            </block-button-group>

        </section>
    </article>
</section>
