<!-- Context List -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">List: <span>is:context</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-list is="context">
                <c-list-item>
                    <c-link link="/path" css="list-item"><c-icon is="icon-add"></c-icon> Add person</c-link>
                </c-list-item>
                <c-list-item>
                    <c-link link="/path" css="list-item"><c-icon is="icon-refresh"></c-icon>Refresh assets</c-link>
                </c-list-item>
                <c-list-item>
                    <c-link link="/path" css="list-item"><c-icon is="icon-arrow-small-right"></c-icon>Go to something else</c-link>
                </c-list-item>
                <c-list-item>
                    <c-button is="button-ghost" css="list-item"  task="demo-purpose"  id="button-id-01"><c-icon is="icon-arrow-small-down"></c-icon>Button item</c-button>
                </c-list-item>
                <c-divider></c-divider>
                <c-list-item>
                    <c-link link="/path" css="list-item">Create dispute</c-link>
                </c-list-item>
            </c-list>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/lists/context/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/lists/context/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/lists/context/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
