// block-grid

.block-grid {
    display: block;
    width: 100%;
    text-align: right;
    vertical-align: top;

    .grid-filters {
        display: inline-block;
        text-align: left;
        width: 50%;
        vertical-align: top;
        padding-right: 2rem;
        margin-bottom: 2rem;
    }

    .grid-search {
        display: inline-block;
        text-align: left;
        width: 50%;
        vertical-align: top;
        padding-left: 2rem;
        margin-bottom: 2rem;
    }

    .grid-table {
        display: block;
        width: 100%;
        vertical-align: top
    }

    .grid-pagination {
        display: inline-block;
        margin: 2rem 0 0 auto;
        vertical-align: top
    }

}
