// paragraph


// --- H1
$c-heading1-font-family         : $font-brand-demi;
$c-heading1-font-color          : $color-text-01;
$c-heading1-font-size           : $font-size-xxl;
$c-heading1-font-style          : normal;
$c-heading1-font-variant        : normal;
$c-heading1-font-weight         : $font-weight-medium;
$c-heading1-line-height         : $line-height-xxl;
$c-heading1-letter-spacing      : 0;
$c-heading1-text-align          : left;
$c-heading1-text-decoration     : none;
$c-heading1-text-indent         : initial;
$c-heading1-text-overflow       : ellipsis;
$c-heading1-text-transform      : none;
$c-heading1-text-shadow         : none;
$c-heading1-vertical-align      : initial;
$c-heading1-white-space         : nowrap;
$c-heading1-word-spacing        : normal;
//
$c-heading1-margin-top          : 0;
$c-heading1-margin-right        : 0;
$c-heading1-margin-bottom       : 1rem;
$c-heading1-margin-left         : 0;



// --- H2
$c-heading2-font-family         : $font-brand-demi;
$c-heading2-font-color          : $color-text-01;
$c-heading2-font-size           : $font-size-xl;
$c-heading2-font-style          : normal;
$c-heading2-font-variant        : normal;
$c-heading2-font-weight         : $font-weight-medium;
$c-heading2-line-height         : $line-height-xl;
$c-heading2-letter-spacing      : 0;
$c-heading2-text-align          : left;
$c-heading2-text-decoration     : none;
$c-heading2-text-indent         : initial;
$c-heading2-text-overflow       : ellipsis;
$c-heading2-text-transform      : none;
$c-heading2-text-shadow         : none;
$c-heading2-vertical-align      : initial;
$c-heading2-white-space         : nowrap;
$c-heading2-word-spacing        : normal;
//
$c-heading2-margin-top          : 0;
$c-heading2-margin-right        : 0;
$c-heading2-margin-bottom       : 1rem;
$c-heading2-margin-left         : 0;



// --- H3
$c-heading3-font-family         : $font-brand-demi;
$c-heading3-font-color          : $color-text-01;
$c-heading3-font-size           : $font-size-l;
$c-heading3-font-style          : normal;
$c-heading3-font-variant        : normal;
$c-heading3-font-weight         : $font-weight-medium;
$c-heading3-line-height         : $line-height-l;
$c-heading3-letter-spacing      : 0;
$c-heading3-text-align          : left;
$c-heading3-text-decoration     : none;
$c-heading3-text-indent         : initial;
$c-heading3-text-overflow       : ellipsis;
$c-heading3-text-transform      : none;
$c-heading3-text-shadow         : none;
$c-heading3-vertical-align      : initial;
$c-heading3-white-space         : nowrap;
$c-heading3-word-spacing        : normal;
//
$c-heading3-margin-top          : 0;
$c-heading3-margin-right        : 0;
$c-heading3-margin-bottom       : 1rem;
$c-heading3-margin-left         : 0;



// --- H4
$c-heading4-font-family         : $font-brand-demi;
$c-heading4-font-color          : $color-text-01;
$c-heading4-font-size           : $font-size-m;
$c-heading4-font-style          : normal;
$c-heading4-font-variant        : normal;
$c-heading4-font-weight         : $font-weight-medium;
$c-heading4-line-height         : $line-height-m;
$c-heading4-letter-spacing      : 0;
$c-heading4-text-align          : left;
$c-heading4-text-decoration     : none;
$c-heading4-text-indent         : initial;
$c-heading4-text-overflow       : ellipsis;
$c-heading4-text-transform      : none;
$c-heading4-text-shadow         : none;
$c-heading4-vertical-align      : initial;
$c-heading4-white-space         : nowrap;
$c-heading4-word-spacing        : normal;
//
$c-heading4-margin-top          : 0;
$c-heading4-margin-right        : 0;
$c-heading4-margin-bottom       : 1rem;
$c-heading4-margin-left         : 0;



// --- H5
$c-heading5-font-family         : $font-brand-demi;
$c-heading5-font-color          : $color-text-01;
$c-heading5-font-size           : $font-size-s;
$c-heading5-font-style          : normal;
$c-heading5-font-variant        : normal;
$c-heading5-font-weight         : $font-weight-medium;
$c-heading5-line-height         : $line-height-s;
$c-heading5-letter-spacing      : 0;
$c-heading5-text-align          : left;
$c-heading5-text-decoration     : none;
$c-heading5-text-indent         : initial;
$c-heading5-text-overflow       : ellipsis;
$c-heading5-text-transform      : none;
$c-heading5-text-shadow         : none;
$c-heading5-vertical-align      : initial;
$c-heading5-white-space         : nowrap;
$c-heading5-word-spacing        : normal;
//
$c-heading5-margin-top          : 0;
$c-heading5-margin-right        : 0;
$c-heading5-margin-bottom       : 1rem;
$c-heading5-margin-left         : 0;



// --- H6
$c-heading6-font-family         : $font-brand-demi;
$c-heading6-font-color          : $color-text-01;
$c-heading6-font-size           : $font-size-xs;
$c-heading6-font-style          : normal;
$c-heading6-font-variant        : normal;
$c-heading6-font-weight         : $font-weight-medium;
$c-heading6-line-height         : $line-height-xs;
$c-heading6-letter-spacing      : 0;
$c-heading6-text-align          : left;
$c-heading6-text-decoration     : none;
$c-heading6-text-indent         : initial;
$c-heading6-text-overflow       : ellipsis;
$c-heading6-text-transform      : none;
$c-heading6-text-shadow         : none;
$c-heading6-vertical-align      : initial;
$c-heading6-white-space         : nowrap;
$c-heading6-word-spacing        : normal;
//
$c-heading6-margin-top          : 0;
$c-heading6-margin-right        : 0;
$c-heading6-margin-bottom       : 1rem;
$c-heading6-margin-left         : 0;
