// link


// --- background
$c-link-background-color: transparent;
$c-link-background-image: none;
$c-link-background-position: initial;
$c-link-background-size: initial;
$c-link-background-repeat: initial;
$c-link-background-origin: initial;
$c-link-background-clip: initial;
$c-link-background-attachment: initial;



// --- borders
// top
$c-link-border-top-width: 0px;
$c-link-border-top-style: solid;
$c-link-border-top-color: transparent;
// right
$c-link-border-right-width: 0px;
$c-link-border-right-style: solid;
$c-link-border-right-color: transparent;
// bottom
$c-link-border-bottom-width: 0px;
$c-link-border-bottom-style: solid;
$c-link-border-bottom-color: transparent;
// left
$c-link-border-left-width: 0px;
$c-link-border-left-style: solid;
$c-link-border-left-color: transparent;
// radius
$c-link-border-top-left-radius: 0.25rem;
$c-link-border-top-right-radius: 0.25rem;
$c-link-border-bottom-left-radius: 0.25rem;
$c-link-border-bottom-right-radius: 0.25rem;



// --- outline
$c-link-outline-color: $color-brand-01;
$c-link-outline-width: 2px;
$c-link-outline: 0px 0px 0px $c-link-outline-width $c-link-outline-color;



// --- paddings
$c-link-padding-top: 0.5rem;
$c-link-padding-right: 0.5rem;
$c-link-padding-bottom: 0.5rem;
$c-link-padding-left: 0.5rem;



// --- text
$c-link-font-family: $font-brand-regular;
$c-link-font-color: $color-brand-01;
$c-link-font-size: $font-size-m;
$c-link-font-style: normal;
$c-link-font-variant: normal;
$c-link-font-weight: $font-weight-regular;
$c-link-line-height: 1;
$c-link-letter-spacing: 0;
$c-link-text-align: center;
$c-link-text-decoration: none;
$c-link-text-indent: initial;
$c-link-text-overflow: initial;
$c-link-text-transform: none;
$c-link-text-shadow: none;
$c-link-vertical-align: initial;
$c-link-white-space: nowrap;
$c-link-word-spacing: normal;



// --- transforms
$c-link-transform: none;
$c-link-transform-origin: center center;
$c-link-transform-style: preserve-3d;



// --- transition
$c-link-transition-delay: 0;
$c-link-transition-duration: .15s;
$c-link-transition-property: color, background-color;
$c-link-transition-timing-function: $ease-in-quad;



// --- underline
$c-link-underline-color: $color-brand-01;
$c-link-underline-size: 2px;
$c-link-underline-transform: translateX(-50%) scaleX(0);
$c-link-underline-transform-origin: bottom right;
$c-link-underline-transition-delay: 0;
$c-link-underline-transition-duration: .2s;
$c-link-underline-transition-property: transform;
$c-link-underline-transition-timing-function: $ease-in-quad;



// --- :state:active
$c-link-state-active-background-color: transparent;
//
$c-link-state-active-border-top-color: transparent;
$c-link-state-active-border-right-color: transparent;
$c-link-state-active-border-bottom-color: transparent;
$c-link-state-active-border-left-color: transparent;
//
$c-link-state-active-font-color: $color-brand-02;
//
$c-link-state-active-underline-color: $color-brand-02;
$c-link-state-active-underline-transform: translateX(-50%) scaleX(1);
$c-link-state-active-underline-transform-origin: bottom left;
//
$c-link-state-active-transform: none;

// --- :state:active in paragraphs
$c-link-state-active-paragraph-border-top: $c-link-outline-width solid $c-link-outline-color;
$c-link-state-active-paragraph-border-bottom: $c-link-outline-width solid $c-link-outline-color;


// --- :state:hover
$c-link-state-hover-background-color: transparent;
//
$c-link-state-hover-border-top-color: transparent;
$c-link-state-hover-border-right-color: transparent;
$c-link-state-hover-border-bottom-color: transparent;
$c-link-state-hover-border-left-color: transparent;
//
$c-link-state-hover-font-color: $color-brand-02;
//
$c-link-state-hover-underline-color: $color-brand-02;
$c-link-state-hover-underline-transform: translateX(-50%) scaleX(1);
$c-link-state-hover-underline-transform-origin: bottom left;
//
$c-link-state-hover-transform: none;
