// link


// --- background
$c-link-list-item-background-color: transparent;
$c-link-list-item-background-image: none;
$c-link-list-item-background-position: initial;
$c-link-list-item-background-size: initial;
$c-link-list-item-background-repeat: initial;
$c-link-list-item-background-origin: initial;
$c-link-list-item-background-clip: initial;
$c-link-list-item-background-attachment: initial;



// --- borders
// top
$c-link-list-item-border-top-width: 0px;
$c-link-list-item-border-top-style: solid;
$c-link-list-item-border-top-color: transparent;
// right
$c-link-list-item-border-right-width: 0px;
$c-link-list-item-border-right-style: solid;
$c-link-list-item-border-right-color: transparent;
// bottom
$c-link-list-item-border-bottom-width: 0px;
$c-link-list-item-border-bottom-style: solid;
$c-link-list-item-border-bottom-color: transparent;
// left
$c-link-list-item-border-left-width: 0px;
$c-link-list-item-border-left-style: solid;
$c-link-list-item-border-left-color: transparent;
// radius
$c-link-list-item-border-top-left-radius: 0;
$c-link-list-item-border-top-right-radius: 0;
$c-link-list-item-border-bottom-left-radius: 0;
$c-link-list-item-border-bottom-right-radius: 0;



// --- outline
$c-link-list-item-outline-color: transparent;
$c-link-list-item-outline-width: 0;
$c-link-list-item-outline: 0px 0px 0px $c-link-list-item-outline-width $c-link-list-item-outline-color;



// --- paddings
$c-link-list-item-padding-top: 0.5rem;
$c-link-list-item-padding-right: 1rem;
$c-link-list-item-padding-bottom: 0.5rem;
$c-link-list-item-padding-left: 1rem;



// --- text
$c-link-list-item-font-family: $font-brand-regular;
$c-link-list-item-font-color: $color-text-01;
$c-link-list-item-font-size: $font-size-m;
$c-link-list-item-font-style: normal;
$c-link-list-item-font-variant: normal;
$c-link-list-item-font-weight: $font-weight-regular;
$c-link-list-item-line-height: 1;
$c-link-list-item-letter-spacing: 0;
$c-link-list-item-text-align: left;
$c-link-list-item-text-decoration: none;
$c-link-list-item-text-indent: initial;
$c-link-list-item-text-overflow: initial;
$c-link-list-item-text-transform: none;
$c-link-list-item-text-shadow: none;
$c-link-list-item-vertical-align: initial;
$c-link-list-item-white-space: nowrap;
$c-link-list-item-word-spacing: normal;



// --- transforms
$c-link-list-item-transform: none;
$c-link-list-item-transform-origin: center center;
$c-link-list-item-transform-style: preserve-3d;



// --- transition
$c-link-list-item-transition-delay: 0;
$c-link-list-item-transition-duration: .15s;
$c-link-list-item-transition-property: color, background-color;
$c-link-list-item-transition-timing-function: $ease-in-quad;


// --- :state:active
$c-link-list-item-state-active-background-color: $color-brand-01;
//
$c-link-list-item-state-active-border-top-color: transparent;
$c-link-list-item-state-active-border-right-color: transparent;
$c-link-list-item-state-active-border-bottom-color: transparent;
$c-link-list-item-state-active-border-left-color: transparent;
//
$c-link-list-item-state-active-font-color: $color-text-04;
//
$c-link-list-item-state-active-transform: none;



// --- :state:hover
$c-link-list-item-state-hover-background-color: $color-brand-01;
//
$c-link-list-item-state-hover-border-top-color: transparent;
$c-link-list-item-state-hover-border-right-color: transparent;
$c-link-list-item-state-hover-border-bottom-color: transparent;
$c-link-list-item-state-hover-border-left-color: transparent;
//
$c-link-list-item-state-hover-font-color: $color-text-04;
//
$c-link-list-item-state-hover-transform: none;
