// paragraph


// --- text
$c-paragraph-font-family                : $font-brand-regular;
$c-paragraph-font-color                 : $color-text-01;
$c-paragraph-font-size                  : $font-size-m;
$c-paragraph-font-style                 : normal;
$c-paragraph-font-variant               : normal;
$c-paragraph-font-weight                : $font-weight-medium;
$c-paragraph-line-height                : $line-height-m;
$c-paragraph-letter-spacing             : 0;
$c-paragraph-text-align                 : left;
$c-paragraph-text-decoration            : none;
$c-paragraph-text-indent                : initial;
$c-paragraph-text-overflow              : none;
$c-paragraph-text-transform             : none;
$c-paragraph-text-shadow                : none;
$c-paragraph-vertical-align             : initial;
$c-paragraph-white-space                : normal;
$c-paragraph-word-spacing               : normal;
//
$c-paragraph-font-weight-bold           : $font-weight-bold;


// -- margins
$c-paragraph-margin-top                 : 0;
$c-paragraph-margin-right               : 0;
$c-paragraph-margin-bottom              : 2rem;
$c-paragraph-margin-left                : 0;


// --- paddings
$c-paragraph-padding-top                : 0;
$c-paragraph-padding-right              : 0;
$c-paragraph-padding-bottom             : 0;
$c-paragraph-padding-left               : 0;



// --- intro text
// --- text
$c-paragraph-intro-font-family          : $font-brand-regular;
$c-paragraph-intro-font-color           : darken($color-text-01, 5%);
$c-paragraph-intro-font-size            : $font-size-l;
$c-paragraph-intro-font-style           : normal;
$c-paragraph-intro-font-variant         : normal;
$c-paragraph-intro-font-weight          : $font-weight-medium;
$c-paragraph-intro-line-height          : $line-height-l;
$c-paragraph-intro-letter-spacing       : 0;
$c-paragraph-intro-text-align           : left;
$c-paragraph-intro-text-decoration      : none;
$c-paragraph-intro-text-indent          : initial;
$c-paragraph-intro-text-overflow        : none;
$c-paragraph-intro-text-transform       : none;
$c-paragraph-intro-text-shadow          : none;
$c-paragraph-intro-vertical-align       : initial;
$c-paragraph-intro-white-space          : normal;
$c-paragraph-intro-word-spacing         : normal;
//
$c-paragraph-intro-font-weight-bold     : $font-weight-bold;


// -- margins
$c-paragraph-intro-margin-top           : 2rem;
$c-paragraph-intro-margin-right         : 0;
$c-paragraph-intro-margin-bottom        : 2rem;
$c-paragraph-intro-margin-left          : 0;


// --- paddings
$c-paragraph-intro-padding-top          : 0;
$c-paragraph-intro-padding-right        : 0;
$c-paragraph-intro-padding-bottom       : 0;
$c-paragraph-intro-padding-left         : 0;
