// skiptolink


// --- background
$c-skiptolink-background-color: $color-black-50;
$c-skiptolink-background-image: none;
$c-skiptolink-background-position: initial;
$c-skiptolink-background-size: initial;
$c-skiptolink-background-repeat: initial;
$c-skiptolink-background-origin: initial;
$c-skiptolink-background-clip: initial;
$c-skiptolink-background-attachment: initial;


// --- size
$c-skiptolink-height: 1px;
$c-skiptolink-width: 1px;


// --- position
$c-skiptolink-position: absolute;
$c-skiptolink-position-top: -1000px;
$c-skiptolink-position-right: auto;
$c-skiptolink-position-bottom: auto;
$c-skiptolink-position-left: -1000px;



// --- borders
// top
$c-skiptolink-border-top-width: 0px;
$c-skiptolink-border-top-style: solid;
$c-skiptolink-border-top-color: transparent;
// right
$c-skiptolink-border-right-width: 0px;
$c-skiptolink-border-right-style: solid;
$c-skiptolink-border-right-color: transparent;
// bottom
$c-skiptolink-border-bottom-width: 0px;
$c-skiptolink-border-bottom-style: solid;
$c-skiptolink-border-bottom-color: transparent;
// left
$c-skiptolink-border-left-width: 0px;
$c-skiptolink-border-left-style: solid;
$c-skiptolink-border-left-color: transparent;
// radius
$c-skiptolink-border-top-left-radius: 0.25rem;
$c-skiptolink-border-top-right-radius: 0.25rem;
$c-skiptolink-border-bottom-left-radius: 0.25rem;
$c-skiptolink-border-bottom-right-radius: 0.25rem;



// --- outline
$c-skiptolink-outline-color: $color-brand-01;
$c-skiptolink-outline-width: 2px;
$c-skiptolink-outline: 0px 0px 0px $c-skiptolink-outline-width $c-skiptolink-outline-color;



// --- paddings
$c-skiptolink-padding-top: 1rem;
$c-skiptolink-padding-right: 1rem;
$c-skiptolink-padding-bottom: 1rem;
$c-skiptolink-padding-left: 1rem;


// --- overflow
$c-skiptolink-overflow: hidden;


// --- text
$c-skiptolink-font-family: $font-brand-regular;
$c-skiptolink-font-color: $color-ui-01;
$c-skiptolink-font-size: $font-size-m;
$c-skiptolink-font-style: normal;
$c-skiptolink-font-variant: normal;
$c-skiptolink-font-weight: $font-weight-regular;
$c-skiptolink-line-height: 1;
$c-skiptolink-letter-spacing: 0;
$c-skiptolink-text-align: center;
$c-skiptolink-text-decoration: none;
$c-skiptolink-text-indent: initial;
$c-skiptolink-text-overflow: initial;
$c-skiptolink-text-transform: none;
$c-skiptolink-text-shadow: none;
$c-skiptolink-vertical-align: initial;
$c-skiptolink-white-space: nowrap;
$c-skiptolink-word-spacing: normal;



// --- transforms
$c-skiptolink-transform: none;
$c-skiptolink-transform-origin: center center;
$c-skiptolink-transform-style: preserve-3d;



// --- transition
$c-skiptolink-transition-delay: 0;
$c-skiptolink-transition-duration: .15s;
$c-skiptolink-transition-property: color, background-color;
$c-skiptolink-transition-timing-function: $ease-in-quad;



// --- underline
$c-skiptolink-underline-color: $color-black-60;
$c-skiptolink-underline-size: 2px;
$c-skiptolink-underline-transform: translateX(-50%) scaleX(0);
$c-skiptolink-underline-transform-origin: bottom right;
$c-skiptolink-underline-transition-delay: 0;
$c-skiptolink-underline-transition-duration: .2s;
$c-skiptolink-underline-transition-property: transform;
$c-skiptolink-underline-transition-timing-function: $ease-in-quad;



// --- :state:active
$c-skiptolink-state-active-background-color: $color-black-60;
//
$c-skiptolink-state-active-border-top-color: transparent;
$c-skiptolink-state-active-border-right-color: transparent;
$c-skiptolink-state-active-border-bottom-color: transparent;
$c-skiptolink-state-active-border-left-color: transparent;
//
$c-skiptolink-state-active-font-color: $color-ui-01;
//
$c-skiptolink-state-active-underline-color: $color-black-60;
$c-skiptolink-state-active-underline-transform: translateX(-50%) scaleX(1);
$c-skiptolink-state-active-underline-transform-origin: bottom left;
//
$c-skiptolink-state-active-transform: none;

// --- :state:active in paragraphs
$c-skiptolink-state-active-paragraph-border-top: $c-skiptolink-outline-width solid $c-skiptolink-outline-color;
$c-skiptolink-state-active-paragraph-border-bottom: $c-skiptolink-outline-width solid $c-skiptolink-outline-color;
//
$c-skiptolink-state-active-height: auto;
$c-skiptolink-state-active-width: auto;
//
$c-skiptolink-state-active-position-top: 0;
$c-skiptolink-state-active-position-left: 0;
//
$c-skiptolink-state-active-overflow: visible;



// --- :state:hover
$c-skiptolink-state-hover-background-color: $color-black-60;
//
$c-skiptolink-state-hover-border-top-color: transparent;
$c-skiptolink-state-hover-border-right-color: transparent;
$c-skiptolink-state-hover-border-bottom-color: transparent;
$c-skiptolink-state-hover-border-left-color: transparent;
//
$c-skiptolink-state-hover-font-color: $color-ui-01;
//
$c-skiptolink-state-hover-underline-color: $color-black-60;
$c-skiptolink-state-hover-underline-transform: translateX(-50%) scaleX(1);
$c-skiptolink-state-hover-underline-transform-origin: bottom left;
//
$c-skiptolink-state-hover-transform: none;
