<!-- Forms: upload -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Form: <span>Upload</span></h3>
        <section class="styleguide-example background-color-light  fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-fieldset legend="Upload">
                <p>You can upload a file(s) up to 100Mb.</p>
                <c-upload
                    id="upload-id-01"
                    accept="image/png, image/jpeg"
                    max-filesize="100000000"
                    error-message-filesize="Error. Exceeded the (total) file size of 100Mb."
                    error-message-filetype="Error. This filetype is not allowed"
                    error-message-failed="An error occured while uploading the file"
                    error-message-succes="The file was succesfully uploaded"
                    >
                    Select a file
                </c-upload>
            </c-fieldset>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/upload/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/upload/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/upload/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                    <c-tab-panel id="styleguide-tab-04-panel">
                <markdown [src]="'./assets/readme/forms/upload/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
