

<section class="styleguide">
   <article>
       <h3 class="styleguide-title fx-appear">Header</h3>
       <section class="styleguide-example background-color-light fx-appear-from-bottom align-left">
           <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>

           <block-header>

               <!-- logo -->
                <block-layout css="logo">
                   <c-logo link="/path" label="i am the label"></c-logo>
                </block-layout>


               <!-- user -->
               <block-layout css="user">
                   <c-context-menu id="context-id-01">
                       <c-button is="button-ghost" task="context-menu-toggle"><c-icon is="icon-user" css="circle"></c-icon>My. Username<c-icon is="icon-arrow"></c-icon></c-button>
                       <c-list is="context">
                           <c-list-item>
                               <c-button is="button-ghost" css="list-item"  task="demo-purpose">Settings</c-button>
                           </c-list-item>
                           <c-list-item>
                               <c-button is="button-ghost" css="list-item"  task="demo-purpose">Other action</c-button>
                           </c-list-item>
                           <c-divider></c-divider>
                           <c-list-item>
                               <c-button is="button-ghost" css="list-item"  task="demo-purpose"><c-icon is="icon-arrow-small-right"></c-icon>Log out</c-button>
                           </c-list-item>
                       </c-list>
                   </c-context-menu>
               </block-layout>


               <!-- help -->
               <block-layout css="help">
                   <c-button is="button-ghost" task="demo-purpose" css="help"><c-icon is="icon-help" css="circle"></c-icon>Help</c-button>
               </block-layout>
           </block-header>



       </section>
   </article>
</section>
