// c-progress-bar


c-progress-bar {
    .c-progress {

        // --- backgrounds
        background-color: $c-progress-background-color;
        background-image: $c-progress-background-image;
        background-position: $c-progress-background-position;
        background-size: $c-progress-background-size;
        background-repeat: $c-progress-background-repeat;
        background-origin: $c-progress-background-origin;
        background-clip: $c-progress-background-clip;
        background-attachment: $c-progress-background-attachment;


        // --- borders
        border-top-width: $c-progress-border-top-width;
        border-right-width: $c-progress-border-right-width;
        border-bottom-width: $c-progress-border-bottom-width;
        border-left-width: $c-progress-border-left-width;
        //
        border-top-style: $c-progress-border-top-style;
        border-right-style: $c-progress-border-right-style;
        border-bottom-style: $c-progress-border-bottom-style;
        border-left-style: $c-progress-border-left-style;
        //
        border-top-color: $c-progress-border-top-color;
        border-right-color: $c-progress-border-right-color;
        border-bottom-color: $c-progress-border-bottom-color;
        border-left-color: $c-progress-border-left-color;
        // border-radius
        border-top-left-radius: $c-progress-border-top-left-radius;
        border-top-right-radius: $c-progress-border-top-right-radius;
        border-bottom-left-radius: $c-progress-border-bottom-left-radius;
        border-bottom-right-radius: $c-progress-border-bottom-right-radius;


        // --- display
        display: $c-progress-display;


        // --- margins
        margin-top: $c-progress-margin-top;
        margin-right: $c-progress-margin-right;
        margin-bottom: $c-progress-margin-bottom;
        margin-left: $c-progress-margin-left;


        // --- overflow
        overflow: hidden;


        // --- position
        position: $c-progress-position;
        top: $c-progress-position-top;
        right: $c-progress-position-right;
        bottom: $c-progress-position-bottom;
        left: $c-progress-position-left;
        z-index: $c-progress-position-zindex;


        // --- shadow
        box-shadow: $c-progress-box-shadow;


        // --- sizing
        width: $c-progress-width;
        min-width: $c-progress-min-width;
        max-width: $c-progress-max-width;
        height: $c-progress-height;
        min-height: $c-progress-min-height;
        max-height: $c-progress-max-height;


        // ---


        .c-progress-bar {

            // --- backgrounds
            background-color: $c-progress-bar-background-color;
            background-image: $c-progress-bar-background-image;
            background-position: $c-progress-bar-background-position;
            background-size: $c-progress-bar-background-size;
            background-repeat: $c-progress-bar-background-repeat;
            background-origin: $c-progress-bar-background-origin;
            background-clip: $c-progress-bar-background-clip;
            background-attachment: $c-progress-bar-background-attachment;


            // --- borders
            border-top-width: $c-progress-bar-border-top-width;
            border-right-width: $c-progress-bar-border-right-width;
            border-bottom-width: $c-progress-bar-border-bottom-width;
            border-left-width: $c-progress-bar-border-left-width;
            //
            border-top-style: $c-progress-bar-border-top-style;
            border-right-style: $c-progress-bar-border-right-style;
            border-bottom-style: $c-progress-bar-border-bottom-style;
            border-left-style: $c-progress-bar-border-left-style;
            //
            border-top-color: $c-progress-bar-border-top-color;
            border-right-color: $c-progress-bar-border-right-color;
            border-bottom-color: $c-progress-bar-border-bottom-color;
            border-left-color: $c-progress-bar-border-left-color;
            // border-radius
            border-top-left-radius: $c-progress-bar-border-top-left-radius;
            border-top-right-radius: $c-progress-bar-border-top-right-radius;
            border-bottom-left-radius: $c-progress-bar-border-bottom-left-radius;
            border-bottom-right-radius: $c-progress-bar-border-bottom-right-radius;


            // --- display
            display: $c-progress-bar-display;


            // --- position
            position: $c-progress-bar-position;
            top: $c-progress-bar-position-top;
            right: $c-progress-bar-position-right;
            bottom: $c-progress-bar-position-bottom;
            left: $c-progress-bar-position-left;
            z-index: $c-progress-bar-position-zindex;

            // --- sizing
            width: 0;
            height: $c-progress-bar-height;


            // --- text
            color: $c-progress-bar-font-color;
            font-family: $c-progress-bar-font-family;
            font-size: $c-progress-bar-font-size;
            font-style: $c-progress-bar-font-style;
            font-variant: $c-progress-bar-font-variant;
            font-weight: $c-progress-bar-font-weight;
            letter-spacing: $c-progress-bar-letter-spacing;
            line-height: $c-progress-bar-line-height;
            text-align: $c-progress-bar-text-align;
            text-decoration: $c-progress-bar-text-decoration;
            text-indent: $c-progress-bar-text-indent;
            text-overflow: $c-progress-bar-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-progress-bar-text-transform;
            text-shadow: $c-progress-bar-text-shadow;
            vertical-align: $c-progress-bar-vertical-align;
            white-space: $c-progress-bar-white-space;
            word-spacing: $c-progress-bar-word-spacing;
            user-select: none;


            // transition
            transition-delay: $c-progress-bar-transition-delay;
            transition-duration: $c-progress-bar-transition-duration;
            transition-property: $c-progress-bar-transition-property;
            transition-timing-function: $c-progress-bar-transition-timing-function;
        }
    }


    .c-progress-label {
        // --- backgrounds
        background-color: $c-progress-label-background-color;
        background-image: $c-progress-label-background-image;
        background-position: $c-progress-label-background-position;
        background-size: $c-progress-label-background-size;
        background-repeat: $c-progress-label-background-repeat;
        background-origin: $c-progress-label-background-origin;
        background-clip: $c-progress-label-background-clip;
        background-attachment: $c-progress-label-background-attachment;


        // --- borders
        border-top-width: $c-progress-label-border-top-width;
        border-right-width: $c-progress-label-border-right-width;
        border-bottom-width: $c-progress-label-border-bottom-width;
        border-left-width: $c-progress-label-border-left-width;
        //
        border-top-style: $c-progress-label-border-top-style;
        border-right-style: $c-progress-label-border-right-style;
        border-bottom-style: $c-progress-label-border-bottom-style;
        border-left-style: $c-progress-label-border-left-style;
        //
        border-top-color: $c-progress-label-border-top-color;
        border-right-color: $c-progress-label-border-right-color;
        border-bottom-color: $c-progress-label-border-bottom-color;
        border-left-color: $c-progress-label-border-left-color;
        // border-radius
        border-top-left-radius: $c-progress-label-border-top-left-radius;
        border-top-right-radius: $c-progress-label-border-top-right-radius;
        border-bottom-left-radius: $c-progress-label-border-bottom-left-radius;
        border-bottom-right-radius: $c-progress-label-border-bottom-right-radius;


        // --- display
        display: $c-progress-label-display;


        // --- position
        position: $c-progress-label-position;
        top: $c-progress-label-position-top;
        right: $c-progress-label-position-right;
        bottom: $c-progress-label-position-bottom;
        left: $c-progress-label-position-left;
        z-index: $c-progress-label-position-zindex;

        // --- sizing
        width: 0;
        height: $c-progress-label-height;


        // --- sizing
        width: $c-progress-label-width;
        min-width: $c-progress-label-min-width;
        max-width: $c-progress-label-max-width;
        height: $c-progress-label-height;
        min-height: $c-progress-label-min-height;
        max-height: $c-progress-label-max-height;


        // --- text
        color: $c-progress-label-font-color;
        font-family: $c-progress-label-font-family;
        font-size: $c-progress-label-font-size;
        font-style: $c-progress-label-font-style;
        font-variant: $c-progress-label-font-variant;
        font-weight: $c-progress-label-font-weight;
        letter-spacing: $c-progress-label-letter-spacing;
        line-height: $c-progress-label-line-height;
        text-align: $c-progress-label-text-align;
        text-decoration: $c-progress-label-text-decoration;
        text-indent: $c-progress-label-text-indent;
        text-overflow: $c-progress-label-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-progress-label-text-transform;
        text-shadow: $c-progress-label-text-shadow;
        vertical-align: $c-progress-label-vertical-align;
        white-space: $c-progress-label-white-space;
        word-spacing: $c-progress-label-word-spacing;
        user-select: none;


        // transition
        transition-delay: $c-progress-label-transition-delay;
        transition-duration: $c-progress-label-transition-duration;
        transition-property: $c-progress-label-transition-property;
        transition-timing-function: $c-progress-label-transition-timing-function;


        opacity: 0;
    }

    &[progress="100"] {
        .c-progress-label {
            opacity: 1;
        }
    }
}
