<!-- textarea -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Textarea</h3>
        <section class="styleguide-example background-color-light fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-textarea
                value=""
                placeholder="Placeholder text"
                id="textarea-id-01"
                name="textarea"
                pattern="^[a-zA-Z ]+$"
                required
                error-message-pattern="Error. The text can only contain letters"
                error-message-required="Error. This is a required field">
                    Textarea label
            </c-textarea>
            <p class="styleguide-states"></p>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/input-textarea/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/input-textarea/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/input-textarea/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
