// tile



// --- tile globals
$c-tile-transition-delay: 0s;
$c-tile-transition-duration: .15s;
$c-tile-transition-timing-function: $ease-in-out-quad;


// --- tile container
@import './container/tile.container';
@import './container/tile.container.focus';
@import './container/tile.container.hover';


// --- tile description
@import './description/tile.description';


// --- tile image
@import './image/tile.image';


// --- tile label
@import './label/tile.label';


// --- tile menu
@import './menu/tile.menu';


// --- tile menu draghandle
@import './menu/tile.draghandle';
@import './menu/tile.draghandle.hover';
@import './menu/tile.draghandle.focus';


// --- tile menu tooltip
@import './menu/tile.tooltip';
@import './menu/tile.tooltip.hover';
@import './menu/tile.tooltip.focus';
