// c-context-menu

.c-context-menu {

    // --- defaults
    position: relative;

    // -- display
    display: $c-context-menu-display;

    // --- margins
    margin-top: $c-context-menu-margin-top;
    margin-right: $c-context-menu-margin-right;
    margin-bottom: $c-context-menu-margin-bottom;
    margin-left: $c-context-menu-margin-left;

    // --- paddings
    padding-top: $c-context-menu-padding-top;
    padding-right: $c-context-menu-padding-right;
    padding-bottom: $c-context-menu-padding-bottom;
    padding-left: $c-context-menu-padding-left;


    .c-button {

        // --- icon
        .c-icon {
            top: 0;
            will-change: $c-context-menu-c-icon-transition-property;
            transition-property: $c-context-menu-c-icon-transition-property;
            transition-delay: $c-quickfilter-transition-delay;
            transition-duration: $c-quickfilter-transition-duration;
            transition-timing-function: $c-quickfilter-transition-timing-function;
            transform: $c-context-menu-c-icon-state-selected-false;
        }

        // --- list
        + .c-list {
            display: none;
            position: $c-context-menu-c-list-position;
            top: $c-context-menu-c-list-position-top;
            right: $c-context-menu-c-list-position-right;
            bottom: $c-context-menu-c-list-position-bottom;
            left: $c-context-menu-c-list-position-left;
            z-index: $c-context-menu-c-list-position-zindex;
            overflow-x: $c-context-menu-c-list-overflow-x;
            overflow-y: $c-context-menu-c-list-overflow-y;
            width: $c-context-menu-c-list-width;
            min-width: $c-context-menu-c-list-min-width;
            max-width: $c-context-menu-c-list-max-width;
            height: $c-context-menu-c-list-height;
            min-height: $c-context-menu-c-list-min-height;
            max-height: $c-context-menu-c-list-max-height;

            // --- margins
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;


            &.align-right {
                position: $c-context-menu-c-list-align-right-position;
                top: $c-context-menu-c-list-align-right-position-top;
                right: $c-context-menu-c-list-align-right-position-right;
                bottom: $c-context-menu-c-list-align-right-position-bottom;
                left: $c-context-menu-c-list-align-right-position-left;
            }
        }


        // --- state: expanded
        &[aria-expanded="true"] {
            .c-icon.icon-arrow {
                transform: $c-context-menu-c-icon-state-selected-true;
            }
            + .c-list {
                display: block;
            }
        }
    }
}
