// c-switch switch

%is-switch {

    + label {

        // --- defaults
        position: relative;
        display: inline-block;

        // --- margins
        margin-top: $c-checkbox-margin-top;
        margin-right: $c-checkbox-margin-right;
        margin-bottom: $c-checkbox-margin-bottom;
        margin-left: $c-checkbox-margin-left;

        // --- padding
        padding-top: (($c-switch-box-height - $c-switch-font-size) / 2);
        padding-right: $c-switch-text-indent;
        padding-bottom: (($c-switch-box-height - $c-switch-font-size) / 2);
        padding-left: ($c-switch-box-width + $c-switch-text-indent);

        // --- text
        color: $c-switch-font-color;
        font-family: $c-switch-font-family;
        font-size: $c-switch-font-size;
        font-style: $c-switch-font-style;
        font-variant: $c-switch-font-variant;
        font-weight: $c-switch-font-weight;
        letter-spacing: $c-switch-letter-spacing;
        line-height: $c-switch-line-height;
        text-align: $c-switch-text-align;
        text-decoration: $c-switch-text-decoration;
        text-indent: 0;
        text-overflow: $c-switch-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-switch-text-transform;
        text-shadow: $c-switch-text-shadow;
        vertical-align: $c-switch-vertical-align;
        white-space: $c-switch-white-space;
        word-spacing: $c-switch-word-spacing;
        user-select: none;

        // --- transition
        will-change: $c-switch-label-transition-property;
        transition-delay: $c-switch-label-transition-delay;
        transition-duration: $c-switch-label-transition-duration;
        transition-property: $c-switch-label-transition-property;
        transition-timing-function: $c-switch-label-transition-timing-function;


        // --- element: background box
        &:before {
            content: '';

            // --- dimensions
            width: $c-switch-box-width;
            height: $c-switch-box-height;

            // --- position
            position: absolute;
            display: inline-block;
            left: 0;
            top: ($c-switch-box-height / 2);
            transform: translate(0, -50%);

            // --- background
            background-color: $c-switch-box-background-color;
            background-image: $c-switch-box-background-image;
            background-position: $c-switch-box-background-position;
            background-size: $c-switch-box-background-size;
            background-repeat: $c-switch-box-background-repeat;
            background-origin: $c-switch-box-background-origin;
            background-clip: $c-switch-box-background-clip;
            background-attachment: $c-switch-box-background-attachment;

            // --- borders
            border-top-width: $c-switch-box-border-top-width;
            border-top-style: $c-switch-box-border-top-style;
            border-top-color: $c-switch-box-border-top-color;
            border-right-width: $c-switch-box-border-right-width;
            border-right-style: $c-switch-box-border-right-style;
            border-right-color: $c-switch-box-border-right-color;
            border-bottom-width: $c-switch-box-border-bottom-width;
            border-bottom-style: $c-switch-box-border-bottom-style;
            border-bottom-color: $c-switch-box-border-bottom-color;
            border-left-width: $c-switch-box-border-left-width;
            border-left-style: $c-switch-box-border-left-style;
            border-left-color: $c-switch-box-border-left-color;
            border-top-left-radius: $c-switch-box-border-top-left-radius;
            border-top-right-radius: $c-switch-box-border-top-right-radius;
            border-bottom-left-radius: $c-switch-box-border-bottom-left-radius;
            border-bottom-right-radius: $c-switch-box-border-bottom-right-radius;

            // --- transition
            will-change: $c-switch-box-transition-property;
            transition-delay: $c-switch-box-transition-delay;
            transition-duration: $c-switch-box-transition-duration;
            transition-property: $c-switch-box-transition-property;
            transition-timing-function: $c-switch-box-transition-timing-function;
        }


        // --- check icon
        &:after {
            content: '';

            // --- dimensions
            display: inline-block;
            width: $c-switch-icon-width;
            height: $c-switch-icon-width;

            // --- position
            position: absolute;
            left: ($c-switch-box-width / 2);
            top: ($c-switch-box-height / 2);
            transform-origin: center center;
            transform: translate(calc(0% - (#{$c-switch-box-width} / 2) + (2 * #{$c-switch-box-border-left-width})), -50%);

            // --- background
            background-color: $c-switch-icon-background-color;
            opacity: 1;
            box-shadow: 0px 0px 0px 0px transparent;

            // --- borders
            border: $c-switch-icon-border-width $c-switch-icon-border-style $c-switch-icon-border-color;
            border-radius: 50%;

            // --- transition
            will-change: $c-switch-icon-transition-property;
            transition-delay: $c-switch-icon-transition-delay;
            transition-duration: $c-switch-icon-transition-duration;
            transition-property: $c-switch-icon-transition-property;
            transition-timing-function: $c-switch-icon-transition-timing-function;
        }



        // --- state: hover
        &:hover {
            cursor: pointer;
            color: $c-switch-state-hover-font-color;

            &:before {
                background-color: $c-switch-box-state-hover-background-color;
                border-color: $c-switch-box-state-hover-border-color;
            }
            &:after {
                background-color: $c-switch-icon-state-hover-background-color;
                border-color: $c-switch-icon-state-hover-border-color;
            }
        }
    }


    // --- state: focus
    &:focus + label,
    &.state-focus + label {
        &:before {
            box-shadow: $c-checkbox-outline;
            outline: 0;
        }
    }


    // --- state: checked
    &:checked {
        + label {
            color: $c-switch-state-checked-font-color;

            &:before {
                background-color: $c-switch-box-state-checked-background-color;
                border-color: $c-switch-box-state-checked-border-color;
            }
            &:after {
                opacity: 1;
                box-shadow: 0px 0px 0px 0px transparent;
                transform: translate(calc(-100% + (#{$c-switch-box-width} / 2) - (2 * #{$c-switch-box-border-left-width})), -50%);
                background-color: $c-switch-icon-state-checked-background-color;
                border-color: $c-switch-icon-state-checked-border-color;
            }

         }
         &:hover {
            + label {
                color: $c-switch-state-checked-hover-font-color;

                &:before {
                    background-color: $c-switch-box-state-checked-hover-background-color;
                    border-color: $c-switch-box-state-checked-hover-border-color;
                }
                &:after {
                    background-color: $c-switch-icon-state-checked-hover-background-color;
                    border-color: $c-switch-icon-state-checked-hover-border-color;
                }

            }
         }
    }


    // --- state: disabled
    &:disabled + label {
        color: $c-switch-state-disabled-font-color;

        &:before {
            background-color: $c-switch-box-state-disabled-background-color;
            border-color: $c-switch-box-state-disabled-border-color;
        }
        &:after {
            background-color: $c-switch-icon-state-disabled-background-color;
            border-color: $c-switch-icon-state-disabled-border-color;
        }


        // --- state: disabled:hover
        &:hover {
            cursor: not-allowed;
            color: $c-switch-state-disabled-font-color;

            &:before {
                background-color: $c-switch-box-state-disabled-background-color;
                border-color: $c-switch-box-state-disabled-border-color;
            }
            &:after {
                background-color: $c-switch-icon-state-disabled-hover-background-color;
                border-color: $c-switch-icon-state-disabled-hover-border-color;
            }
        }
    }


    // --- state: disabled & checked
    &:disabled:checked + label {
        color: $c-switch-state-disabled-checked-font-color;

        &:before {
            background-color: $c-switch-box-state-disabled-checked-background-color;
            border-color: $c-switch-box-state-disabled-checked-border-color;
        }
        &:after {
            background-color: $c-switch-icon-state-disabled-checked-hover-background-color;
            border-color: $c-switch-icon-state-disabled-checked-hover-border-color;
        }


        // --- state: disabled:hover
        &:hover {
            cursor: not-allowed;
            color: $c-switch-state-disabled-checked-hover-font-color;

            &:before {
                background-color: $c-switch-box-state-disabled-checked-hover-background-color;
                border-color: $c-switch-box-state-disabled-checked-hover-border-color;
            }
            &:after {
                background-color: $c-switch-icon-state-disabled-checked-hover-background-color;
                border-color: $c-switch-icon-state-disabled-checked-hover-border-color;
            }
        }
    }
}
