// breadcrumb


// --- background
$c-breadcrumb-background-color: transparent;
$c-breadcrumb-background-image: none;
$c-breadcrumb-background-position: initial;
$c-breadcrumb-background-size: initial;
$c-breadcrumb-background-repeat: initial;
$c-breadcrumb-background-origin: initial;
$c-breadcrumb-background-clip: initial;
$c-breadcrumb-background-attachment: initial;



// --- borders
// top
$c-breadcrumb-border-top-width: 0px;
$c-breadcrumb-border-top-style: solid;
$c-breadcrumb-border-top-color: transparent;
// right
$c-breadcrumb-border-right-width: 0px;
$c-breadcrumb-border-right-style: solid;
$c-breadcrumb-border-right-color: transparent;
// bottom
$c-breadcrumb-border-bottom-width: 0px;
$c-breadcrumb-border-bottom-style: solid;
$c-breadcrumb-border-bottom-color: transparent;
// left
$c-breadcrumb-border-left-width: 0px;
$c-breadcrumb-border-left-style: solid;
$c-breadcrumb-border-left-color: transparent;
// radius
$c-breadcrumb-border-top-left-radius: 0.25rem;
$c-breadcrumb-border-top-right-radius: 0.25rem;
$c-breadcrumb-border-bottom-left-radius: 0.25rem;
$c-breadcrumb-border-bottom-right-radius: 0.25rem;



// --- separator
$c-breadcrumb-separator-color: $color-brand-01;
$c-breadcrumb-separator-margin-left: 1rem;
$c-breadcrumb-separator-margin-right: 0.5rem;



// --- outline
$c-breadcrumb-outline-color: $color-brand-01;
$c-breadcrumb-outline-width: 2px;
$c-breadcrumb-outline: 0px 0px 0px $c-breadcrumb-outline-width $c-breadcrumb-outline-color;



// --- paddings
$c-breadcrumb-padding-top: 1rem;
$c-breadcrumb-padding-right: 0.5rem;
$c-breadcrumb-padding-bottom: 1rem;
$c-breadcrumb-padding-left: 0.5rem;



// --- text
$c-breadcrumb-font-family: $font-brand-regular;
$c-breadcrumb-font-color: $color-brand-01;
$c-breadcrumb-font-size: $font-size-m;
$c-breadcrumb-font-style: normal;
$c-breadcrumb-font-variant: normal;
$c-breadcrumb-font-weight: $font-weight-regular;
$c-breadcrumb-line-height: 1;
$c-breadcrumb-letter-spacing: 0;
$c-breadcrumb-text-align: center;
$c-breadcrumb-text-decoration: none;
$c-breadcrumb-text-indent: initial;
$c-breadcrumb-text-overflow: initial;
$c-breadcrumb-text-transform: none;
$c-breadcrumb-text-shadow: none;
$c-breadcrumb-vertical-align: initial;
$c-breadcrumb-white-space: nowrap;
$c-breadcrumb-word-spacing: normal;



// --- text -> current page
$c-breadcrumb-current-font-family: $font-brand-regular;
$c-breadcrumb-current-font-color: $color-text-01;
$c-breadcrumb-current-font-size: $font-size-m;
$c-breadcrumb-current-font-style: normal;
$c-breadcrumb-current-font-variant: normal;
$c-breadcrumb-current-font-weight: $font-weight-regular;
$c-breadcrumb-current-line-height: 1;
$c-breadcrumb-current-letter-spacing: 0;
$c-breadcrumb-current-text-align: center;
$c-breadcrumb-current-text-decoration: none;
$c-breadcrumb-current-text-indent: initial;
$c-breadcrumb-current-text-overflow: initial;
$c-breadcrumb-current-text-transform: none;
$c-breadcrumb-current-text-shadow: none;
$c-breadcrumb-current-vertical-align: initial;
$c-breadcrumb-current-white-space: nowrap;
$c-breadcrumb-current-word-spacing: normal;



// --- transforms
$c-breadcrumb-transform: none;
$c-breadcrumb-transform-origin: center center;
$c-breadcrumb-transform-style: preserve-3d;



// --- transition
$c-breadcrumb-transition-delay: 0;
$c-breadcrumb-transition-duration: .15s;
$c-breadcrumb-transition-property: color, background-color;
$c-breadcrumb-transition-timing-function: $ease-in-quad;



// --- underline
$c-breadcrumb-underline-color: $color-brand-01;
$c-breadcrumb-underline-size: 2px;
$c-breadcrumb-underline-transform: translateX(-50%) scaleX(0);
$c-breadcrumb-underline-transform-origin: bottom right;
$c-breadcrumb-underline-transition-delay: 0;
$c-breadcrumb-underline-transition-duration: .2s;
$c-breadcrumb-underline-transition-property: transform;
$c-breadcrumb-underline-transition-timing-function: $ease-in-quad;



// --- :state:active
$c-breadcrumb-state-active-background-color: transparent;
//
$c-breadcrumb-state-active-border-top-color: transparent;
$c-breadcrumb-state-active-border-right-color: transparent;
$c-breadcrumb-state-active-border-bottom-color: transparent;
$c-breadcrumb-state-active-border-left-color: transparent;
//
$c-breadcrumb-state-active-font-color: $color-brand-02;
//
$c-breadcrumb-state-active-underline-color: $color-brand-02;
$c-breadcrumb-state-active-underline-transform: translateX(-50%) scaleX(1);
$c-breadcrumb-state-active-underline-transform-origin: bottom left;
//
$c-breadcrumb-state-active-transform: none;



// --- :state:hover
$c-breadcrumb-state-hover-background-color: transparent;
//
$c-breadcrumb-state-hover-border-top-color: transparent;
$c-breadcrumb-state-hover-border-right-color: transparent;
$c-breadcrumb-state-hover-border-bottom-color: transparent;
$c-breadcrumb-state-hover-border-left-color: transparent;
//
$c-breadcrumb-state-hover-font-color: $color-brand-02;
//
$c-breadcrumb-state-hover-underline-color: $color-brand-02;
$c-breadcrumb-state-hover-underline-transform: translateX(-50%) scaleX(1);
$c-breadcrumb-state-hover-underline-transform-origin: bottom left;
//
$c-breadcrumb-state-hover-transform: none;
