// block-button-group

.block-button-group {

    // --- defaults

    box-sizing: border-box;


    // --- borders

    border-top-width: $block-button-group-border-top-width;
    border-right-width: $block-button-group-border-right-width;
    border-bottom-width: $block-button-group-border-bottom-width;
    border-left-width: $block-button-group-border-left-width;
    //
    border-top-style: $block-button-group-border-top-style;
    border-right-style: $block-button-group-border-right-style;
    border-bottom-style: $block-button-group-border-bottom-style;
    border-left-style: $block-button-group-border-left-style;
    //
    border-top-color: $block-button-group-border-top-color;
    border-right-color: $block-button-group-border-right-color;
    border-bottom-color: $block-button-group-border-bottom-color;
    border-left-color: $block-button-group-border-left-color;
    // border-radius
    border-top-left-radius: $block-button-group-border-top-left-radius;
    border-top-right-radius: $block-button-group-border-top-right-radius;
    border-bottom-left-radius: $block-button-group-border-bottom-left-radius;
    border-bottom-right-radius: $block-button-group-border-bottom-right-radius;


    // --- dimensions

    width: 100%;
    height: auto;


    // -- display

    display: block;


    // --- margins

    margin-top: $block-button-group-margin-top;
    margin-right: $block-button-group-margin-right;
    margin-bottom: $block-button-group-margin-bottom;
    margin-left: $block-button-group-margin-left;


    // --- paddings

    padding-top: $block-button-group-padding-top;
    padding-right: $block-button-group-padding-right;
    padding-bottom: $block-button-group-padding-bottom;
    padding-left: $block-button-group-padding-left;


    // --- position

    position: $block-button-group-position;
    top: $block-button-group-position-top;
    right: $block-button-group-position-right;
    bottom: $block-button-group-position-bottom;
    left: $block-button-group-position-left;
    z-index: $block-button-group-position-zindex;


    // -- shadow

    box-shadow: $block-button-group-box-shadow;


    // --- buttons
    c-button{
        .c-button {
            margin-right: (0.5 * $block-button-group-margin-between-buttons);
            margin-left: (0.5 * $block-button-group-margin-between-buttons);
        }

        &:first-of-type {
            .c-button {
                margin-left: 0;
            }
        }
        &:last-of-type {
            .c-button {
                margin-right: 0;
            }
        }
    }


    // --- :variant: align-left

    &.is-button-group-align-left {
        text-align: left;
        margin-top: $block-button-group-margin-top;
        margin-right: $block-button-group-margin-right;
        margin-bottom: $block-button-group-margin-bottom;
        margin-left: 0;
    }

    // --- :variant: align-right

    &.is-button-group-align-right {
        text-align: right;
        margin-top: $block-button-group-margin-top;
        margin-right: 0;
        margin-bottom: $block-button-group-margin-bottom;
        margin-left: $block-button-group-margin-left;
    }

    // --- :variant: align-center

    &.is-button-group-align-center {
        text-align: center;
        margin-top: $block-button-group-margin-top;
        margin-right: $block-button-group-margin-right;
        margin-bottom: $block-button-group-margin-bottom;
        margin-left: $block-button-group-margin-left;
    }

    // --- :variant: inline

    &.is-button-group-inline {
        display: inline-block;
        width: auto;
        margin-top: $block-button-group-margin-top;
        margin-right: auto;
        margin-bottom: $block-button-group-margin-bottom;
        margin-left: auto;

        .c-button {
            margin-right: 0;
            margin-left: 0;
        }
    }
}
