// c-accordion
.c-accordion-group {
    .block-button-group.is-button-group-align-right {
        margin-bottom: 1rem;
    }

    c-accordion:last-child {
        .c-accordion {
            border-bottom: $c-accordion-container-border-top-width $c-accordion-container-border-top-style $c-accordion-container-border-top-color;

            &.has-focus {
                border-bottom: $c-accordion-container-border-top-width $c-accordion-container-border-top-style transparent;
            }
        }
    }
}

.c-accordion {
    user-select: none;
    box-shadow: $c-accordion-container-box-shadow, $c-accordion-container-outline;
    background-color: $c-accordion-container-background-color;
    background-image: $c-accordion-container-background-image;
    background-position: $c-accordion-container-background-position;
    background-size: $c-accordion-container-background-size;
    background-repeat: $c-accordion-container-background-repeat;
    background-origin: $c-accordion-container-background-origin;
    background-clip: $c-accordion-container-background-clip;
    background-attachment: $c-accordion-container-background-attachment;
    border-top-width: $c-accordion-container-border-top-width;
    border-top-style: $c-accordion-container-border-top-style;
    border-top-color: $c-accordion-container-border-top-color;
    border-right-width: $c-accordion-container-border-right-width;
    border-right-style: $c-accordion-container-border-right-style;
    border-right-color: $c-accordion-container-border-right-color;
    border-bottom-width: $c-accordion-container-border-bottom-width;
    border-bottom-style: $c-accordion-container-border-bottom-style;
    border-bottom-color: $c-accordion-container-border-bottom-color;
    border-left-width: $c-accordion-container-border-left-width;
    border-left-style: $c-accordion-container-border-left-style;
    border-left-color: $c-accordion-container-border-left-color;
    border-top-left-radius: $c-accordion-container-border-top-left-radius;
    border-top-right-radius: $c-accordion-container-border-top-right-radius;
    border-bottom-left-radius: $c-accordion-container-border-bottom-left-radius;
    border-bottom-right-radius: $c-accordion-container-border-bottom-right-radius;
    display: $c-accordion-container-display;
    margin-top: $c-accordion-container-margin-top;
    margin-right: $c-accordion-container-margin-right;
    margin-bottom: $c-accordion-container-margin-bottom;
    margin-left: $c-accordion-container-margin-left;
    outline: 0;
    overflow: hidden;
    padding-top: $c-accordion-container-padding-top;
    padding-right: $c-accordion-container-padding-right;
    padding-bottom: $c-accordion-container-padding-bottom;
    padding-left: $c-accordion-container-padding-left;
    position: $c-accordion-container-position;
    top: $c-accordion-container-position-top;
    right: $c-accordion-container-position-right;
    bottom: $c-accordion-container-position-bottom;
    left: $c-accordion-container-position-left;
    z-index: $c-accordion-container-position-zindex;
    width: $c-accordion-container-width;
    min-width: $c-accordion-container-min-width;
    max-width: $c-accordion-container-max-width;
    height: $c-accordion-container-height;
    min-height: $c-accordion-container-min-height;
    max-height: $c-accordion-container-max-height;


    &.has-focus {
        user-select: none;
        box-shadow: $c-accordion-container-focus-box-shadow, $c-accordion-container-focus-outline;
        background-color: $c-accordion-container-focus-background-color;
        background-image: $c-accordion-container-focus-background-image;
        background-position: $c-accordion-container-focus-background-position;
        background-size: $c-accordion-container-focus-background-size;
        background-repeat: $c-accordion-container-focus-background-repeat;
        background-origin: $c-accordion-container-focus-background-origin;
        background-clip: $c-accordion-container-focus-background-clip;
        background-attachment: $c-accordion-container-focus-background-attachment;
        border-top-width: $c-accordion-container-focus-border-top-width;
        border-top-style: $c-accordion-container-focus-border-top-style;
        border-top-color: $c-accordion-container-focus-border-top-color;
        border-right-width: $c-accordion-container-focus-border-right-width;
        border-right-style: $c-accordion-container-focus-border-right-style;
        border-right-color: $c-accordion-container-focus-border-right-color;
        border-bottom-width: $c-accordion-container-focus-border-bottom-width;
        border-bottom-style: $c-accordion-container-focus-border-bottom-style;
        border-bottom-color: $c-accordion-container-focus-border-bottom-color;
        border-left-width: $c-accordion-container-focus-border-left-width;
        border-left-style: $c-accordion-container-focus-border-left-style;
        border-left-color: $c-accordion-container-focus-border-left-color;
        border-top-left-radius: $c-accordion-container-focus-border-top-left-radius;
        border-top-right-radius: $c-accordion-container-focus-border-top-right-radius;
        border-bottom-left-radius: $c-accordion-container-focus-border-bottom-left-radius;
        border-bottom-right-radius: $c-accordion-container-focus-border-bottom-right-radius;
        display: $c-accordion-container-focus-display;
        margin-top: $c-accordion-container-focus-margin-top;
        margin-right: $c-accordion-container-focus-margin-right;
        margin-bottom: $c-accordion-container-focus-margin-bottom;
        margin-left: $c-accordion-container-focus-margin-left;
        outline: 0;
        overflow: hidden;
        padding-top: $c-accordion-container-focus-padding-top;
        padding-right: $c-accordion-container-focus-padding-right;
        padding-bottom: $c-accordion-container-focus-padding-bottom;
        padding-left: $c-accordion-container-focus-padding-left;
        position: $c-accordion-container-focus-position;
        top: $c-accordion-container-focus-position-top;
        right: $c-accordion-container-focus-position-right;
        bottom: $c-accordion-container-focus-position-bottom;
        left: $c-accordion-container-focus-position-left;
        z-index: $c-accordion-container-focus-position-zindex;
        width: $c-accordion-container-focus-width;
        min-width: $c-accordion-container-focus-min-width;
        max-width: $c-accordion-container-focus-max-width;
        height: $c-accordion-container-focus-height;
        min-height: $c-accordion-container-focus-min-height;
        max-height: $c-accordion-container-focus-max-height;
    }


    .c-accordion-button {
        color: $c-accordion-button-font-color;
        font-family: $c-accordion-button-font-family;
        font-size: $c-accordion-button-font-size;
        font-style: $c-accordion-button-font-style;
        font-variant: $c-accordion-button-font-variant;
        font-weight: $c-accordion-button-font-weight;
        letter-spacing: $c-accordion-button-letter-spacing;
        line-height: $c-accordion-button-line-height;
        text-align: $c-accordion-button-text-align;
        text-decoration: $c-accordion-button-text-decoration;
        text-indent: $c-accordion-button-text-indent;
        text-overflow: $c-accordion-button-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-accordion-button-text-transform;
        text-shadow: $c-accordion-button-text-shadow;
        vertical-align: $c-accordion-button-vertical-align;
        white-space: $c-accordion-button-white-space;
        word-spacing: $c-accordion-button-word-spacing;
        user-select: none;
        box-shadow: $c-accordion-button-box-shadow, $c-accordion-button-outline;
        background-color: $c-accordion-button-background-color;
        background-image: $c-accordion-button-background-image;
        background-position: $c-accordion-button-background-position;
        background-size: $c-accordion-button-background-size;
        background-repeat: $c-accordion-button-background-repeat;
        background-origin: $c-accordion-button-background-origin;
        background-clip: $c-accordion-button-background-clip;
        background-attachment: $c-accordion-button-background-attachment;
        border-top-width: $c-accordion-button-border-top-width;
        border-top-style: $c-accordion-button-border-top-style;
        border-top-color: $c-accordion-button-border-top-color;
        border-right-width: $c-accordion-button-border-right-width;
        border-right-style: $c-accordion-button-border-right-style;
        border-right-color: $c-accordion-button-border-right-color;
        border-bottom-width: $c-accordion-button-border-bottom-width;
        border-bottom-style: $c-accordion-button-border-bottom-style;
        border-bottom-color: $c-accordion-button-border-bottom-color;
        border-left-width: $c-accordion-button-border-left-width;
        border-left-style: $c-accordion-button-border-left-style;
        border-left-color: $c-accordion-button-border-left-color;
        border-top-left-radius: $c-accordion-button-border-top-left-radius;
        border-top-right-radius: $c-accordion-button-border-top-right-radius;
        border-bottom-left-radius: $c-accordion-button-border-bottom-left-radius;
        border-bottom-right-radius: $c-accordion-button-border-bottom-right-radius;
        display: $c-accordion-button-display;
        margin-top: $c-accordion-button-margin-top;
        margin-right: $c-accordion-button-margin-right;
        margin-bottom: $c-accordion-button-margin-bottom;
        margin-left: $c-accordion-button-margin-left;
        outline: 0;
        overflow: hidden;
        padding-top: $c-accordion-button-padding-top;
        padding-right: $c-accordion-button-padding-right;
        padding-bottom: $c-accordion-button-padding-bottom;
        padding-left: $c-accordion-button-padding-left;
        position: $c-accordion-button-position;
        top: $c-accordion-button-position-top;
        right: $c-accordion-button-position-right;
        bottom: $c-accordion-button-position-bottom;
        left: $c-accordion-button-position-left;
        z-index: $c-accordion-button-position-zindex;
        width: $c-accordion-button-width;
        min-width: $c-accordion-button-min-width;
        max-width: $c-accordion-button-max-width;
        height: $c-accordion-button-height;
        min-height: $c-accordion-button-min-height;
        max-height: $c-accordion-button-max-height;
        will-change: $c-accordion-button-transition-property;
        transition-property: $c-accordion-button-transition-property;
        transition-delay: $c-accordion-transition-delay;
        transition-duration: $c-accordion-transition-duration;
        transition-timing-function: $c-accordion-transition-timing-function;

        span {
            display: block;
            font-size: $font-size-m;
            padding-left: 3.5rem;
            margin-top: 0.5rem;
        }

        .c-icon {
            top: 0;
            
            svg {
                path {
                    fill: $c-accordion-icon-color;
                    transition-delay: $c-accordion-transition-delay;
                    transition-duration: $c-accordion-transition-duration;
                    transition-timing-function: $c-accordion-transition-timing-function;
                }
                circle {
                    stroke: $c-accordion-icon-color;
                    transition-delay: $c-accordion-transition-delay;
                    transition-duration: $c-accordion-transition-duration;
                    transition-timing-function: $c-accordion-transition-timing-function;
                }
            }
            margin-top: $c-accordion-icon-margin-top;
            margin-right: $c-accordion-icon-margin-right;
            margin-bottom: $c-accordion-icon-margin-bottom;
            margin-left: $c-accordion-icon-margin-left;
            transform: $c-accordion-icon-transform;
            transform-origin: center center;
            transition-property: $c-accordion-icon-transition-property;
            transition-delay: $c-accordion-transition-delay;
            transition-duration: $c-accordion-transition-duration;
            transition-timing-function: $c-accordion-transition-timing-function;
        }


        // --- state: hover
        &:hover {
            cursor: pointer;
            color: $c-accordion-button-hover-font-color;
            font-family: $c-accordion-button-hover-font-family;
            font-size: $c-accordion-button-hover-font-size;
            font-style: $c-accordion-button-hover-font-style;
            font-variant: $c-accordion-button-hover-font-variant;
            font-weight: $c-accordion-button-hover-font-weight;
            letter-spacing: $c-accordion-button-hover-letter-spacing;
            line-height: $c-accordion-button-hover-line-height;
            text-align: $c-accordion-button-hover-text-align;
            text-decoration: $c-accordion-button-hover-text-decoration;
            text-indent: $c-accordion-button-hover-text-indent;
            text-overflow: $c-accordion-button-hover-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-accordion-button-hover-text-transform;
            text-shadow: $c-accordion-button-hover-text-shadow;
            vertical-align: $c-accordion-button-hover-vertical-align;
            white-space: $c-accordion-button-hover-white-space;
            word-spacing: $c-accordion-button-hover-word-spacing;
            user-select: none;
            box-shadow: $c-accordion-button-hover-box-shadow, $c-accordion-button-hover-outline;
            background-color: $c-accordion-button-hover-background-color;
            background-image: $c-accordion-button-hover-background-image;
            background-position: $c-accordion-button-hover-background-position;
            background-size: $c-accordion-button-hover-background-size;
            background-repeat: $c-accordion-button-hover-background-repeat;
            background-origin: $c-accordion-button-hover-background-origin;
            background-clip: $c-accordion-button-hover-background-clip;
            background-attachment: $c-accordion-button-hover-background-attachment;
            border-top-width: $c-accordion-button-hover-border-top-width;
            border-top-style: $c-accordion-button-hover-border-top-style;
            border-top-color: $c-accordion-button-hover-border-top-color;
            border-right-width: $c-accordion-button-hover-border-right-width;
            border-right-style: $c-accordion-button-hover-border-right-style;
            border-right-color: $c-accordion-button-hover-border-right-color;
            border-bottom-width: $c-accordion-button-hover-border-bottom-width;
            border-bottom-style: $c-accordion-button-hover-border-bottom-style;
            border-bottom-color: $c-accordion-button-hover-border-bottom-color;
            border-left-width: $c-accordion-button-hover-border-left-width;
            border-left-style: $c-accordion-button-hover-border-left-style;
            border-left-color: $c-accordion-button-hover-border-left-color;
            border-top-left-radius: $c-accordion-button-hover-border-top-left-radius;
            border-top-right-radius: $c-accordion-button-hover-border-top-right-radius;
            border-bottom-left-radius: $c-accordion-button-hover-border-bottom-left-radius;
            border-bottom-right-radius: $c-accordion-button-hover-border-bottom-right-radius;
            display: $c-accordion-button-hover-display;
            margin-top: $c-accordion-button-hover-margin-top;
            margin-right: $c-accordion-button-hover-margin-right;
            margin-bottom: $c-accordion-button-hover-margin-bottom;
            margin-left: $c-accordion-button-hover-margin-left;
            outline: 0;
            overflow: hidden;
            padding-top: $c-accordion-button-hover-padding-top;
            padding-right: $c-accordion-button-hover-padding-right;
            padding-bottom: $c-accordion-button-hover-padding-bottom;
            padding-left: $c-accordion-button-hover-padding-left;
            position: $c-accordion-button-hover-position;
            top: $c-accordion-button-hover-position-top;
            right: $c-accordion-button-hover-position-right;
            bottom: $c-accordion-button-hover-position-bottom;
            left: $c-accordion-button-hover-position-left;
            z-index: $c-accordion-button-hover-position-zindex;
            width: $c-accordion-button-hover-width;
            min-width: $c-accordion-button-hover-min-width;
            max-width: $c-accordion-button-hover-max-width;
            height: $c-accordion-button-hover-height;
            min-height: $c-accordion-button-hover-min-height;
            max-height: $c-accordion-button-hover-max-height;

            .c-icon {
                svg {
                    path {
                        fill: $c-accordion-icon-hover-color;
                    }
                    circle {
                        stroke: $c-accordion-icon-hover-color;
                    }
                }
                margin-top: $c-accordion-icon-hover-margin-top;
                margin-right: $c-accordion-icon-hover-margin-right;
                margin-bottom: $c-accordion-icon-hover-margin-bottom;
                margin-left: $c-accordion-icon-hover-margin-left;
                transform: $c-accordion-icon-hover-transform;
            }
        }



        // --- state: focus
        &:focus {
            color: $c-accordion-button-focus-font-color;
            font-family: $c-accordion-button-focus-font-family;
            font-size: $c-accordion-button-focus-font-size;
            font-style: $c-accordion-button-focus-font-style;
            font-variant: $c-accordion-button-focus-font-variant;
            font-weight: $c-accordion-button-focus-font-weight;
            letter-spacing: $c-accordion-button-focus-letter-spacing;
            line-height: $c-accordion-button-focus-line-height;
            text-align: $c-accordion-button-focus-text-align;
            text-decoration: $c-accordion-button-focus-text-decoration;
            text-indent: $c-accordion-button-focus-text-indent;
            text-overflow: $c-accordion-button-focus-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-accordion-button-focus-text-transform;
            text-shadow: $c-accordion-button-focus-text-shadow;
            vertical-align: $c-accordion-button-focus-vertical-align;
            white-space: $c-accordion-button-focus-white-space;
            word-spacing: $c-accordion-button-focus-word-spacing;
            user-select: none;
            box-shadow: $c-accordion-button-focus-outline;
            background-color: $c-accordion-button-focus-background-color;
            background-image: $c-accordion-button-focus-background-image;
            background-position: $c-accordion-button-focus-background-position;
            background-size: $c-accordion-button-focus-background-size;
            background-repeat: $c-accordion-button-focus-background-repeat;
            background-origin: $c-accordion-button-focus-background-origin;
            background-clip: $c-accordion-button-focus-background-clip;
            background-attachment: $c-accordion-button-focus-background-attachment;
            border-top-width: $c-accordion-button-focus-border-top-width;
            border-top-style: $c-accordion-button-focus-border-top-style;
            border-top-color: $c-accordion-button-focus-border-top-color;
            border-right-width: $c-accordion-button-focus-border-right-width;
            border-right-style: $c-accordion-button-focus-border-right-style;
            border-right-color: $c-accordion-button-focus-border-right-color;
            border-bottom-width: $c-accordion-button-focus-border-bottom-width;
            border-bottom-style: $c-accordion-button-focus-border-bottom-style;
            border-bottom-color: $c-accordion-button-focus-border-bottom-color;
            border-left-width: $c-accordion-button-focus-border-left-width;
            border-left-style: $c-accordion-button-focus-border-left-style;
            border-left-color: $c-accordion-button-focus-border-left-color;
            border-top-left-radius: $c-accordion-button-focus-border-top-left-radius;
            border-top-right-radius: $c-accordion-button-focus-border-top-right-radius;
            border-bottom-left-radius: $c-accordion-button-focus-border-bottom-left-radius;
            border-bottom-right-radius: $c-accordion-button-focus-border-bottom-right-radius;
            display: $c-accordion-button-focus-display;
            margin-top: $c-accordion-button-focus-margin-top;
            margin-right: $c-accordion-button-focus-margin-right;
            margin-bottom: $c-accordion-button-focus-margin-bottom;
            margin-left: $c-accordion-button-focus-margin-left;
            outline: 0;
            overflow: hidden;
            padding-top: $c-accordion-button-focus-padding-top;
            padding-right: $c-accordion-button-focus-padding-right;
            padding-bottom: $c-accordion-button-focus-padding-bottom;
            padding-left: $c-accordion-button-focus-padding-left;
            position: $c-accordion-button-focus-position;
            top: $c-accordion-button-focus-position-top;
            right: $c-accordion-button-focus-position-right;
            bottom: $c-accordion-button-focus-position-bottom;
            left: $c-accordion-button-focus-position-left;
            z-index: $c-accordion-button-focus-position-zindex;
            width: $c-accordion-button-focus-width;
            min-width: $c-accordion-button-focus-min-width;
            max-width: $c-accordion-button-focus-max-width;
            height: $c-accordion-button-focus-height;
            min-height: $c-accordion-button-focus-min-height;
            max-height: $c-accordion-button-focus-max-height;

            .c-icon {
                svg {
                    path {
                        fill: $c-accordion-icon-hover-color;
                    }
                    circle {
                        stroke: $c-accordion-icon-hover-color;
                    }
                }
                margin-top: $c-accordion-icon-hover-margin-top;
                margin-right: $c-accordion-icon-hover-margin-right;
                margin-bottom: $c-accordion-icon-hover-margin-bottom;
                margin-left: $c-accordion-icon-hover-margin-left;
                transform: $c-accordion-icon-hover-transform;
            }
        }


        // --- state: expanded
        &[aria-expanded="true"] {
            color: $c-accordion-button-expanded-font-color;
            font-family: $c-accordion-button-expanded-font-family;
            font-size: $c-accordion-button-expanded-font-size;
            font-style: $c-accordion-button-expanded-font-style;
            font-variant: $c-accordion-button-expanded-font-variant;
            font-weight: $c-accordion-button-expanded-font-weight;
            letter-spacing: $c-accordion-button-expanded-letter-spacing;
            line-height: $c-accordion-button-expanded-line-height;
            text-align: $c-accordion-button-expanded-text-align;
            text-decoration: $c-accordion-button-expanded-text-decoration;
            text-indent: $c-accordion-button-expanded-text-indent;
            text-overflow: $c-accordion-button-expanded-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-accordion-button-expanded-text-transform;
            text-shadow: $c-accordion-button-expanded-text-shadow;
            vertical-align: $c-accordion-button-expanded-vertical-align;
            white-space: $c-accordion-button-expanded-white-space;
            word-spacing: $c-accordion-button-expanded-word-spacing;
            user-select: none;
            box-shadow: $c-accordion-button-expanded-box-shadow, $c-accordion-button-expanded-outline;
            background-color: $c-accordion-button-expanded-background-color;
            background-image: $c-accordion-button-expanded-background-image;
            background-position: $c-accordion-button-expanded-background-position;
            background-size: $c-accordion-button-expanded-background-size;
            background-repeat: $c-accordion-button-expanded-background-repeat;
            background-origin: $c-accordion-button-expanded-background-origin;
            background-clip: $c-accordion-button-expanded-background-clip;
            background-attachment: $c-accordion-button-expanded-background-attachment;
            border-top-width: $c-accordion-button-expanded-border-top-width;
            border-top-style: $c-accordion-button-expanded-border-top-style;
            border-top-color: $c-accordion-button-expanded-border-top-color;
            border-right-width: $c-accordion-button-expanded-border-right-width;
            border-right-style: $c-accordion-button-expanded-border-right-style;
            border-right-color: $c-accordion-button-expanded-border-right-color;
            border-bottom-width: $c-accordion-button-expanded-border-bottom-width;
            border-bottom-style: $c-accordion-button-expanded-border-bottom-style;
            border-bottom-color: $c-accordion-button-expanded-border-bottom-color;
            border-left-width: $c-accordion-button-expanded-border-left-width;
            border-left-style: $c-accordion-button-expanded-border-left-style;
            border-left-color: $c-accordion-button-expanded-border-left-color;
            border-top-left-radius: $c-accordion-button-expanded-border-top-left-radius;
            border-top-right-radius: $c-accordion-button-expanded-border-top-right-radius;
            border-bottom-left-radius: $c-accordion-button-expanded-border-bottom-left-radius;
            border-bottom-right-radius: $c-accordion-button-expanded-border-bottom-right-radius;
            display: $c-accordion-button-expanded-display;
            margin-top: $c-accordion-button-expanded-margin-top;
            margin-right: $c-accordion-button-expanded-margin-right;
            margin-bottom: $c-accordion-button-expanded-margin-bottom;
            margin-left: $c-accordion-button-expanded-margin-left;
            outline: 0;
            overflow: hidden;
            padding-top: $c-accordion-button-expanded-padding-top;
            padding-right: $c-accordion-button-expanded-padding-right;
            padding-bottom: $c-accordion-button-expanded-padding-bottom;
            padding-left: $c-accordion-button-expanded-padding-left;
            position: $c-accordion-button-expanded-position;
            top: $c-accordion-button-expanded-position-top;
            right: $c-accordion-button-expanded-position-right;
            bottom: $c-accordion-button-expanded-position-bottom;
            left: $c-accordion-button-expanded-position-left;
            z-index: $c-accordion-button-expanded-position-zindex;
            width: $c-accordion-button-expanded-width;
            min-width: $c-accordion-button-expanded-min-width;
            max-width: $c-accordion-button-expanded-max-width;
            height: $c-accordion-button-expanded-height;
            min-height: $c-accordion-button-expanded-min-height;
            max-height: $c-accordion-button-expanded-max-height;


            .c-icon {
                svg {
                    path {
                        fill: $c-accordion-icon-expanded-color;
                    }
                    circle {
                        stroke: $c-accordion-icon-expanded-color;
                    }
                }
                margin-top: $c-accordion-icon-expanded-margin-top;
                margin-right: $c-accordion-icon-expanded-margin-right;
                margin-bottom: $c-accordion-icon-expanded-margin-bottom;
                margin-left: $c-accordion-icon-expanded-margin-left;
                transform: $c-accordion-icon-expanded-transform;
            }


            // --- state: hover
            &:hover {
                cursor: pointer;
                color: $c-accordion-button-expanded-hover-font-color;
                font-family: $c-accordion-button-expanded-hover-font-family;
                font-size: $c-accordion-button-expanded-hover-font-size;
                font-style: $c-accordion-button-expanded-hover-font-style;
                font-variant: $c-accordion-button-expanded-hover-font-variant;
                font-weight: $c-accordion-button-expanded-hover-font-weight;
                letter-spacing: $c-accordion-button-expanded-hover-letter-spacing;
                line-height: $c-accordion-button-expanded-hover-line-height;
                text-align: $c-accordion-button-expanded-hover-text-align;
                text-decoration: $c-accordion-button-expanded-hover-text-decoration;
                text-indent: $c-accordion-button-expanded-hover-text-indent;
                text-overflow: $c-accordion-button-expanded-hover-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-accordion-button-expanded-hover-text-transform;
                text-shadow: $c-accordion-button-expanded-hover-text-shadow;
                vertical-align: $c-accordion-button-expanded-hover-vertical-align;
                white-space: $c-accordion-button-expanded-hover-white-space;
                word-spacing: $c-accordion-button-expanded-hover-word-spacing;
                user-select: none;
                box-shadow: $c-accordion-button-expanded-hover-box-shadow, $c-accordion-button-expanded-hover-outline;
                background-color: $c-accordion-button-expanded-hover-background-color;
                background-image: $c-accordion-button-expanded-hover-background-image;
                background-position: $c-accordion-button-expanded-hover-background-position;
                background-size: $c-accordion-button-expanded-hover-background-size;
                background-repeat: $c-accordion-button-expanded-hover-background-repeat;
                background-origin: $c-accordion-button-expanded-hover-background-origin;
                background-clip: $c-accordion-button-expanded-hover-background-clip;
                background-attachment: $c-accordion-button-expanded-hover-background-attachment;
                border-top-width: $c-accordion-button-expanded-hover-border-top-width;
                border-top-style: $c-accordion-button-expanded-hover-border-top-style;
                border-top-color: $c-accordion-button-expanded-hover-border-top-color;
                border-right-width: $c-accordion-button-expanded-hover-border-right-width;
                border-right-style: $c-accordion-button-expanded-hover-border-right-style;
                border-right-color: $c-accordion-button-expanded-hover-border-right-color;
                border-bottom-width: $c-accordion-button-expanded-hover-border-bottom-width;
                border-bottom-style: $c-accordion-button-expanded-hover-border-bottom-style;
                border-bottom-color: $c-accordion-button-expanded-hover-border-bottom-color;
                border-left-width: $c-accordion-button-expanded-hover-border-left-width;
                border-left-style: $c-accordion-button-expanded-hover-border-left-style;
                border-left-color: $c-accordion-button-expanded-hover-border-left-color;
                border-top-left-radius: $c-accordion-button-expanded-hover-border-top-left-radius;
                border-top-right-radius: $c-accordion-button-expanded-hover-border-top-right-radius;
                border-bottom-left-radius: $c-accordion-button-expanded-hover-border-bottom-left-radius;
                border-bottom-right-radius: $c-accordion-button-expanded-hover-border-bottom-right-radius;
                display: $c-accordion-button-expanded-hover-display;
                margin-top: $c-accordion-button-expanded-hover-margin-top;
                margin-right: $c-accordion-button-expanded-hover-margin-right;
                margin-bottom: $c-accordion-button-expanded-hover-margin-bottom;
                margin-left: $c-accordion-button-expanded-hover-margin-left;
                outline: 0;
                overflow: hidden;
                padding-top: $c-accordion-button-expanded-hover-padding-top;
                padding-right: $c-accordion-button-expanded-hover-padding-right;
                padding-bottom: $c-accordion-button-expanded-hover-padding-bottom;
                padding-left: $c-accordion-button-expanded-hover-padding-left;
                position: $c-accordion-button-expanded-hover-position;
                top: $c-accordion-button-expanded-hover-position-top;
                right: $c-accordion-button-expanded-hover-position-right;
                bottom: $c-accordion-button-expanded-hover-position-bottom;
                left: $c-accordion-button-expanded-hover-position-left;
                z-index: $c-accordion-button-expanded-hover-position-zindex;
                width: $c-accordion-button-expanded-hover-width;
                min-width: $c-accordion-button-expanded-hover-min-width;
                max-width: $c-accordion-button-expanded-hover-max-width;
                height: $c-accordion-button-expanded-hover-height;
                min-height: $c-accordion-button-expanded-hover-min-height;
                max-height: $c-accordion-button-expanded-hover-max-height;

                .c-icon {
                    svg {
                        path {
                            fill: $c-accordion-icon-expanded-hover-color;
                        }
                        circle {
                            stroke: $c-accordion-icon-expanded-hover-color;
                        }
                    }
                    margin-top: $c-accordion-icon-expanded-hover-margin-top;
                    margin-right: $c-accordion-icon-expanded-hover-margin-right;
                    margin-bottom: $c-accordion-icon-expanded-hover-margin-bottom;
                    margin-left: $c-accordion-icon-expanded-hover-margin-left;
                    transform: $c-accordion-icon-expanded-hover-transform;
                }
            }


            // --- state: focus
            &:focus {
                color: $c-accordion-button-expanded-focus-font-color;
                font-family: $c-accordion-button-expanded-focus-font-family;
                font-size: $c-accordion-button-expanded-focus-font-size;
                font-style: $c-accordion-button-expanded-focus-font-style;
                font-variant: $c-accordion-button-expanded-focus-font-variant;
                font-weight: $c-accordion-button-expanded-focus-font-weight;
                letter-spacing: $c-accordion-button-expanded-focus-letter-spacing;
                line-height: $c-accordion-button-expanded-focus-line-height;
                text-align: $c-accordion-button-expanded-focus-text-align;
                text-decoration: $c-accordion-button-expanded-focus-text-decoration;
                text-indent: $c-accordion-button-expanded-focus-text-indent;
                text-overflow: $c-accordion-button-expanded-focus-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-accordion-button-expanded-focus-text-transform;
                text-shadow: $c-accordion-button-expanded-focus-text-shadow;
                vertical-align: $c-accordion-button-expanded-focus-vertical-align;
                white-space: $c-accordion-button-expanded-focus-white-space;
                word-spacing: $c-accordion-button-expanded-focus-word-spacing;
                user-select: none;
                box-shadow: $c-accordion-button-expanded-focus-outline;
                background-color: $c-accordion-button-expanded-focus-background-color;
                background-image: $c-accordion-button-expanded-focus-background-image;
                background-position: $c-accordion-button-expanded-focus-background-position;
                background-size: $c-accordion-button-expanded-focus-background-size;
                background-repeat: $c-accordion-button-expanded-focus-background-repeat;
                background-origin: $c-accordion-button-expanded-focus-background-origin;
                background-clip: $c-accordion-button-expanded-focus-background-clip;
                background-attachment: $c-accordion-button-expanded-focus-background-attachment;
                border-top-width: $c-accordion-button-expanded-focus-border-top-width;
                border-top-style: $c-accordion-button-expanded-focus-border-top-style;
                border-top-color: $c-accordion-button-expanded-focus-border-top-color;
                border-right-width: $c-accordion-button-expanded-focus-border-right-width;
                border-right-style: $c-accordion-button-expanded-focus-border-right-style;
                border-right-color: $c-accordion-button-expanded-focus-border-right-color;
                border-bottom-width: $c-accordion-button-expanded-focus-border-bottom-width;
                border-bottom-style: $c-accordion-button-expanded-focus-border-bottom-style;
                border-bottom-color: $c-accordion-button-expanded-focus-border-bottom-color;
                border-left-width: $c-accordion-button-expanded-focus-border-left-width;
                border-left-style: $c-accordion-button-expanded-focus-border-left-style;
                border-left-color: $c-accordion-button-expanded-focus-border-left-color;
                border-top-left-radius: $c-accordion-button-expanded-focus-border-top-left-radius;
                border-top-right-radius: $c-accordion-button-expanded-focus-border-top-right-radius;
                border-bottom-left-radius: $c-accordion-button-expanded-focus-border-bottom-left-radius;
                border-bottom-right-radius: $c-accordion-button-expanded-focus-border-bottom-right-radius;
                display: $c-accordion-button-expanded-focus-display;
                margin-top: $c-accordion-button-expanded-focus-margin-top;
                margin-right: $c-accordion-button-expanded-focus-margin-right;
                margin-bottom: $c-accordion-button-expanded-focus-margin-bottom;
                margin-left: $c-accordion-button-expanded-focus-margin-left;
                outline: 0;
                overflow: hidden;
                padding-top: $c-accordion-button-expanded-focus-padding-top;
                padding-right: $c-accordion-button-expanded-focus-padding-right;
                padding-bottom: $c-accordion-button-expanded-focus-padding-bottom;
                padding-left: $c-accordion-button-expanded-focus-padding-left;
                position: $c-accordion-button-expanded-focus-position;
                top: $c-accordion-button-expanded-focus-position-top;
                right: $c-accordion-button-expanded-focus-position-right;
                bottom: $c-accordion-button-expanded-focus-position-bottom;
                left: $c-accordion-button-expanded-focus-position-left;
                z-index: $c-accordion-button-expanded-focus-position-zindex;
                width: $c-accordion-button-expanded-focus-width;
                min-width: $c-accordion-button-expanded-focus-min-width;
                max-width: $c-accordion-button-expanded-focus-max-width;
                height: $c-accordion-button-expanded-focus-height;
                min-height: $c-accordion-button-expanded-focus-min-height;
                max-height: $c-accordion-button-expanded-focus-max-height;

                .c-icon {
                    svg {
                        path {
                            fill: $c-accordion-icon-expanded-hover-color;
                        }
                        circle {
                            stroke: $c-accordion-icon-expanded-hover-color;
                        }
                    }
                    margin-top: $c-accordion-icon-expanded-hover-margin-top;
                    margin-right: $c-accordion-icon-expanded-hover-margin-right;
                    margin-bottom: $c-accordion-icon-expanded-hover-margin-bottom;
                    margin-left: $c-accordion-icon-expanded-hover-margin-left;
                    transform: $c-accordion-icon-expanded-hover-transform;
                }
            }
        }
    }


    .c-accordion-region {
        box-shadow: $c-accordion-region-box-shadow, $c-accordion-region-outline;
        background-color: $c-accordion-region-background-color;
        background-image: $c-accordion-region-background-image;
        background-position: $c-accordion-region-background-position;
        background-size: $c-accordion-region-background-size;
        background-repeat: $c-accordion-region-background-repeat;
        background-origin: $c-accordion-region-background-origin;
        background-clip: $c-accordion-region-background-clip;
        background-attachment: $c-accordion-region-background-attachment;
        border-top-width: $c-accordion-region-border-top-width;
        border-top-style: $c-accordion-region-border-top-style;
        border-top-color: $c-accordion-region-border-top-color;
        border-right-width: $c-accordion-region-border-right-width;
        border-right-style: $c-accordion-region-border-right-style;
        border-right-color: $c-accordion-region-border-right-color;
        border-bottom-width: $c-accordion-region-border-bottom-width;
        border-bottom-style: $c-accordion-region-border-bottom-style;
        border-bottom-color: $c-accordion-region-border-bottom-color;
        border-left-width: $c-accordion-region-border-left-width;
        border-left-style: $c-accordion-region-border-left-style;
        border-left-color: $c-accordion-region-border-left-color;
        border-top-left-radius: $c-accordion-region-border-top-left-radius;
        border-top-right-radius: $c-accordion-region-border-top-right-radius;
        border-bottom-left-radius: $c-accordion-region-border-bottom-left-radius;
        border-bottom-right-radius: $c-accordion-region-border-bottom-right-radius;
        display: $c-accordion-region-display;
        margin-top: $c-accordion-region-margin-top;
        margin-right: $c-accordion-region-margin-right;
        margin-bottom: $c-accordion-region-margin-bottom;
        margin-left: $c-accordion-region-margin-left;
        outline: 0;
        overflow: hidden;
        padding-top: $c-accordion-region-padding-top;
        padding-right: $c-accordion-region-padding-right;
        padding-bottom: $c-accordion-region-padding-bottom;
        padding-left: $c-accordion-region-padding-left;
        position: $c-accordion-region-position;
        top: $c-accordion-region-position-top;
        right: $c-accordion-region-position-right;
        bottom: $c-accordion-region-position-bottom;
        left: $c-accordion-region-position-left;
        z-index: $c-accordion-region-position-zindex;
        width: $c-accordion-region-width;
        min-width: $c-accordion-region-min-width;
        max-width: $c-accordion-region-max-width;
        height: $c-accordion-region-height;
        min-height: $c-accordion-region-min-height;
        max-height: $c-accordion-region-max-height;
        will-change: $c-accordion-region-transition-property;
        transition-property: $c-accordion-region-transition-property;
        transition-delay: $c-accordion-transition-delay;
        transition-duration: $c-accordion-transition-duration;
        transition-timing-function: $c-accordion-transition-timing-function;


        p:last-of-type {
            margin-bottom: 0;
        }

        &[hidden] {
            max-height: 0;
            padding-top: 0;
            padding-bottom: 0;
            visibility: hidden;
        }
    }
}
