// c-divider

.c-divider {

    // --- background
    background-color: $c-divider-backgorund-color;

    // --- border
    border: none;

    // -- display
    display: block;

    // --- dimensions
    height: $c-divider-height;

    // --- margins
    margin-top: $c-divider-margin-top;
    margin-right: $c-divider-margin-right;
    margin-bottom: $c-divider-margin-bottom;
    margin-left: $c-divider-margin-left;
}
