// tile-group


// --- borders
$block-tile-group-border-top-width: 0;
$block-tile-group-border-right-width: 0;
$block-tile-group-border-bottom-width: 0;
$block-tile-group-border-left-width: 0;
//
$block-tile-group-border-top-style: solid;
$block-tile-group-border-right-style: solid;
$block-tile-group-border-bottom-style: solid;
$block-tile-group-border-left-style: solid;
//
$block-tile-group-border-top-color: transparent;
$block-tile-group-border-right-color: transparent;
$block-tile-group-border-bottom-color: transparent;
$block-tile-group-border-left-color: transparent;
// border-radius
$block-tile-group-border-top-left-radius: 0;
$block-tile-group-border-top-right-radius: 0;
$block-tile-group-border-bottom-left-radius: 0;
$block-tile-group-border-bottom-right-radius: 0;


// --- margins
$block-tile-group-margin-top: 0;
$block-tile-group-margin-right: 0;
$block-tile-group-margin-bottom: 0;
$block-tile-group-margin-left: 0;


// --- paddings
$block-tile-group-padding-top: 0;
$block-tile-group-padding-right: 0;
$block-tile-group-padding-bottom: 0;
$block-tile-group-padding-left: 0;


// --- position
$block-tile-group-position: relative;
$block-tile-group-position-top: auto;
$block-tile-group-position-right: auto;
$block-tile-group-position-bottom: auto;
$block-tile-group-position-left: auto;
$block-tile-group-position-zindex: 1;


// -- shadow
$block-tile-group-box-shadow: 0px 0px 0px 0px transparent;
