<!-- Loader -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Loader</h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-loader></c-loader>
            <c-loader css="size-small"></c-loader>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/loaders/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/loaders/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/loaders/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
