// tab-panel


// --- background
$c-tab-panel-background-color: transparent;
$c-tab-panel-background-image: none;
$c-tab-panel-background-position: initial;
$c-tab-panel-background-size: initial;
$c-tab-panel-background-repeat: initial;
$c-tab-panel-background-origin: initial;
$c-tab-panel-background-clip: initial;
$c-tab-panel-background-attachment: initial;


// --- borders
// top
$c-tab-panel-border-top-width: 0px;
$c-tab-panel-border-top-style: solid;
$c-tab-panel-border-top-color: rgba($color-brand-01, 0);
// right
$c-tab-panel-border-right-width: 0px;
$c-tab-panel-border-right-style: solid;
$c-tab-panel-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-tab-panel-border-bottom-width: 0;
$c-tab-panel-border-bottom-style: solid;
$c-tab-panel-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-tab-panel-border-left-width: 0px;
$c-tab-panel-border-left-style: solid;
$c-tab-panel-border-left-color: rgba($color-brand-01, 0);
// radius
$c-tab-panel-border-top-left-radius: 0;
$c-tab-panel-border-top-right-radius: 0;
$c-tab-panel-border-bottom-left-radius: 0;
$c-tab-panel-border-bottom-right-radius: 0;


// --- margins
$c-tab-panel-margin-top: 0;
$c-tab-panel-margin-right: 0;
$c-tab-panel-margin-bottom: 0;
$c-tab-panel-margin-left: 0;


// --- outline
$c-tab-panel-outline-color: $color-brand-01;
$c-tab-panel-outline-width: 2px;
$c-tab-panel-outline: 0px 0px 0px 1px $color-white,
                     0px 0px 0px ($c-tab-panel-outline-width + 1px) $c-tab-panel-outline-color;


// --- paddings
$c-tab-panel-padding-top: 2rem;
$c-tab-panel-padding-right: 0;
$c-tab-panel-padding-bottom: 2rem;
$c-tab-panel-padding-left: 0;


// --- position
$c-tab-panel-position: relative;
$c-tab-panel-position-top: auto;
$c-tab-panel-position-right: auto;
$c-tab-panel-position-bottom: auto;
$c-tab-panel-position-left: auto;
$c-tab-panel-position-zindex: 1;


// -- shadow
$c-tab-panel-box-shadow: 0px 0px 0px 0px transparent;


// --- text
$c-tab-panel-font-family: $font-brand-regular;
$c-tab-panel-font-color: $color-ui-03;
$c-tab-panel-icon-color: $color-ui-03;
$c-tab-panel-font-size: $font-size-m;
$c-tab-panel-font-style: normal;
$c-tab-panel-font-variant: normal;
$c-tab-panel-font-weight: $font-weight-regular;
$c-tab-panel-line-height: $line-height-m;
$c-tab-panel-letter-spacing: 0;
$c-tab-panel-text-align: center;
$c-tab-panel-text-decoration: none;
$c-tab-panel-text-indent: initial;
$c-tab-panel-text-overflow: initial;
$c-tab-panel-text-transform: none;
$c-tab-panel-text-shadow: none;
$c-tab-panel-vertical-align: initial;
$c-tab-panel-white-space: nowrap;
$c-tab-panel-word-spacing: normal;


// --- sizing
$c-tab-panel-width: auto;
$c-tab-panel-min-width: initial;
$c-tab-panel-max-width: none;
$c-tab-panel-height: auto;
$c-tab-panel-min-height: 18rem;
$c-tab-panel-max-height: none;


// --- transforms
$c-tab-panel-transform: none;
$c-tab-panel-transform-origin: center center;
$c-tab-panel-transform-style: preserve-3d;


// --- transition
$c-tab-panel-transition-delay: 0;
$c-tab-panel-transition-duration: .2s;
$c-tab-panel-transition-property: transform;
$c-tab-panel-transition-timing-function: $ease-in-quad;


// --- :state:active
$c-tab-panel-state-active-background-color: $color-ui-01;
//
$c-tab-panel-state-active-border-top-color: rgba($color-brand-01, 0);
$c-tab-panel-state-active-border-right-color: rgba($color-brand-01, 0);
$c-tab-panel-state-active-border-bottom-color: rgba($color-brand-01, 0);
$c-tab-panel-state-active-border-left-color: rgba($color-brand-01, 0);
//
$c-tab-panel-state-active-font-color: $color-brand-01;
//
$c-tab-panel-state-active-transform: none;
