// tab


// -- display
$c-tab-display: inline-block;


// --- background
$c-tab-background-color: transparent;
$c-tab-background-image: none;
$c-tab-background-position: initial;
$c-tab-background-size: initial;
$c-tab-background-repeat: initial;
$c-tab-background-origin: initial;
$c-tab-background-clip: initial;
$c-tab-background-attachment: initial;


// --- borders
// top
$c-tab-border-top-width: 0px;
$c-tab-border-top-style: solid;
$c-tab-border-top-color: rgba($color-brand-01, 0);
// right
$c-tab-border-right-width: 0px;
$c-tab-border-right-style: solid;
$c-tab-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-tab-border-bottom-width: 5px;
$c-tab-border-bottom-style: solid;
$c-tab-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-tab-border-left-width: 0px;
$c-tab-border-left-style: solid;
$c-tab-border-left-color: rgba($color-brand-01, 0);
// radius
$c-tab-border-top-left-radius: 0;
$c-tab-border-top-right-radius: 0;
$c-tab-border-bottom-left-radius: 0;
$c-tab-border-bottom-right-radius: 0;


// --- icon
$c-tab-icon-margin: 0.5rem;


// --- margins
$c-tab-margin-top: 0;
$c-tab-margin-right: 0;
$c-tab-margin-bottom: 0;
$c-tab-margin-left: 0;


// --- outline
$c-tab-outline-color: $color-brand-01;
$c-tab-outline-width: 2px;
$c-tab-outline: 0px 0px 0px 3px $color-white,
                     0px 0px 0px ($c-tab-outline-width + 3px) $c-tab-outline-color;


// --- paddings
$c-tab-padding-top: 1rem;
$c-tab-padding-right: 1rem;
$c-tab-padding-bottom: 1rem;
$c-tab-padding-left: 1rem;


// --- position
$c-tab-position: relative;
$c-tab-position-top: auto;
$c-tab-position-right: auto;
$c-tab-position-bottom: auto;
$c-tab-position-left: auto;
$c-tab-position-zindex: 1;


// -- shadow
$c-tab-box-shadow: 0px 0px 0px 0px transparent;


// --- text
$c-tab-font-family: $font-brand-regular;
$c-tab-font-color: $color-ui-03;
$c-tab-icon-color: $color-ui-03;
$c-tab-font-size: $font-size-m;
$c-tab-font-style: normal;
$c-tab-font-variant: normal;
$c-tab-font-weight: $font-weight-regular;
$c-tab-line-height: 1;
$c-tab-letter-spacing: 0;
$c-tab-text-align: center;
$c-tab-text-decoration: none;
$c-tab-text-indent: initial;
$c-tab-text-overflow: initial;
$c-tab-text-transform: none;
$c-tab-text-shadow: none;
$c-tab-vertical-align: initial;
$c-tab-white-space: nowrap;
$c-tab-word-spacing: normal;


// --- sizing
$c-tab-width: auto;
$c-tab-min-width: 2rem;
$c-tab-max-width: none;
$c-tab-height: auto;
$c-tab-min-height: initial;
$c-tab-max-height: none;


// --- transforms
$c-tab-transform: none;
$c-tab-transform-origin: center center;
$c-tab-transform-style: preserve-3d;


// --- transition
$c-tab-transition-delay: 0;
$c-tab-transition-duration: .15s;
$c-tab-transition-property: color, background-color, border-color;
$c-tab-transition-timing-function: $ease-in-quad;


// --- :state:selected
$c-tab-state-selected-background-color: transparent;
//
$c-tab-state-selected-border-top-color: rgba($color-brand-01, 0);
$c-tab-state-selected-border-right-color: rgba($color-brand-01, 0);
$c-tab-state-selected-border-bottom-color: rgba($color-brand-01, 1);
$c-tab-state-selected-border-left-color: rgba($color-brand-01, 0);
//
$c-tab-state-selected-font-color: $color-ui-03;
//
$c-tab-state-selected-transform: none;


// --- :state:selected:active
$c-tab-state-selected-active-background-color: transparent;
//
$c-tab-state-selected-active-border-top-color: rgba($color-brand-01, 0);
$c-tab-state-selected-active-border-right-color: rgba($color-brand-01, 0);
$c-tab-state-selected-active-border-bottom-color: rgba($color-brand-01, 1);
$c-tab-state-selected-active-border-left-color: rgba($color-brand-01, 0);
//
$c-tab-state-selected-active-font-color: $color-ui-03;
//
$c-tab-state-selected-active-transform: none;


// --- :state:active
$c-tab-state-active-background-color: transparent;
//
$c-tab-state-active-border-top-color: rgba($color-brand-01, 0);
$c-tab-state-active-border-right-color: rgba($color-brand-01, 0);
$c-tab-state-active-border-bottom-color: rgba($color-brand-01, 0);
$c-tab-state-active-border-left-color: rgba($color-brand-01, 0);
//
$c-tab-state-active-font-color: $color-brand-01;
//
$c-tab-state-active-transform: none;


// --- :state:hover
$c-tab-state-hover-background-color: transparent;
//
$c-tab-state-hover-border-top-color: rgba($color-brand-01, 0);
$c-tab-state-hover-border-right-color: rgba($color-brand-01, 0);
$c-tab-state-hover-border-bottom-color: rgba($color-brand-01, 0);
$c-tab-state-hover-border-left-color: rgba($color-brand-01, 0);
//
$c-tab-state-hover-font-color: $color-brand-01;
//
$c-tab-state-hover-transform: none;


// --- :state:selected:hover
$c-tab-state-selected-hover-background-color: transparent;
//
$c-tab-state-selected-hover-border-top-color: rgba($color-brand-01, 0);
$c-tab-state-selected-hover-border-right-color: rgba($color-brand-01, 0);
$c-tab-state-selected-hover-border-bottom-color: rgba($color-brand-01, 1);
$c-tab-state-selected-hover-border-left-color: rgba($color-brand-01, 0);
//
$c-tab-state-selected-hover-font-color: $color-brand-01;
//
$c-tab-state-selected-hover-transform: none;


// --- :state:disabled
$c-tab-state-disabled-background-color: transparent;
//
$c-tab-state-disabled-border-top-color: rgba($color-brand-01, 0);
$c-tab-state-disabled-border-right-color: rgba($color-brand-01, 0);
$c-tab-state-disabled-border-bottom-color: rgba($color-brand-01, 0);
$c-tab-state-disabled-border-left-color: rgba($color-brand-01, 0);
//
$c-tab-state-disabled-font-color: $color-text-04;
