// tabs


// -- display
$c-tabs-display: inline-block;

// --- background
$c-tabs-background-color: transparent;//$color-ui-01;
$c-tabs-background-image: none;
$c-tabs-background-position: initial;
$c-tabs-background-size: initial;
$c-tabs-background-repeat: initial;
$c-tabs-background-origin: initial;
$c-tabs-background-clip: initial;
$c-tabs-background-attachment: initial;


// --- borders
// top
$c-tabs-border-top-width: 0px;
$c-tabs-border-top-style: solid;
$c-tabs-border-top-color: rgba($color-brand-01, 0);
// right
$c-tabs-border-right-width: 0px;
$c-tabs-border-right-style: solid;
$c-tabs-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-tabs-border-bottom-width: 0px;
$c-tabs-border-bottom-style: solid;
$c-tabs-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-tabs-border-left-width: 0px;
$c-tabs-border-left-style: solid;
$c-tabs-border-left-color: rgba($color-brand-01, 0);
// radius
$c-tabs-border-top-left-radius: 0;
$c-tabs-border-top-right-radius: 0;
$c-tabs-border-bottom-left-radius: 0;
$c-tabs-border-bottom-right-radius: 0;


// --- margins
$c-tabs-margin-top: 0;
$c-tabs-margin-right: 0;
$c-tabs-margin-bottom: 0;
$c-tabs-margin-left: 0;


// --- outline
$c-tab-outline-color: $color-brand-01;
$c-tab-outline-width: 2px;
$c-tab-outline: 0px 0px 0px 3px $color-white,
                     0px 0px 0px ($c-tab-outline-width + 3px) $c-tab-outline-color;


// --- paddings
$c-tabs-padding-top: 0;
$c-tabs-padding-right: 0;
$c-tabs-padding-bottom: 0;
$c-tabs-padding-left: 0;


// --- position
$c-tabs-position: relative;
$c-tabs-position-top: auto;
$c-tabs-position-right: auto;
$c-tabs-position-bottom: auto;
$c-tabs-position-left: auto;
$c-tabs-position-zindex: auto;


// --- text
$c-tabs-text-align: left;


// -- shadow
$c-tabs-box-shadow: 0px 0px 0px 0px transparent;


// --- sizing
$c-tabs-width: auto;
$c-tabs-min-width: none;
$c-tabs-max-width: none;
$c-tabs-height: auto;
$c-tabs-min-height: initial;
$c-tabs-max-height: none;
