// c-link


.c-link {
    display: inline-block;
    position: relative;
    overflow: visible;


    // --- backgrounds
    background-color: $c-link-background-color;
    background-image: $c-link-background-image;
    background-position: $c-link-background-position;
    background-size: $c-link-background-size;
    background-repeat: $c-link-background-repeat;
    background-origin: $c-link-background-origin;
    background-clip: $c-link-background-clip;
    background-attachment: $c-link-background-attachment;


    // --- borders
    border-top-width: $c-link-border-top-width;
    border-right-width: $c-link-border-right-width;
    border-bottom-width: $c-link-border-bottom-width;
    border-left-width: $c-link-border-left-width;
    //
    border-top-style: $c-link-border-top-style;
    border-right-style: $c-link-border-right-style;
    border-bottom-style: $c-link-border-bottom-style;
    border-left-style: $c-link-border-left-style;
    //
    border-top-color: $c-link-border-top-color;
    border-right-color: $c-link-border-right-color;
    border-bottom-color: $c-link-border-bottom-color;
    border-left-color: $c-link-border-left-color;
    // border-radius
    border-top-left-radius: $c-link-border-top-left-radius;
    border-top-right-radius: $c-link-border-top-right-radius;
    border-bottom-left-radius: $c-link-border-bottom-left-radius;
    border-bottom-right-radius: $c-link-border-bottom-right-radius;



    // --- text
    color: $c-link-font-color;
    font-family: $c-link-font-family;
    font-size: $c-link-font-size;
    font-style: $c-link-font-style;
    font-variant: $c-link-font-variant;
    font-weight: $c-link-font-weight;
    letter-spacing: $c-link-letter-spacing;
    line-height: $c-link-line-height;
    text-align: $c-link-text-align;
    text-decoration: $c-link-text-decoration;
    text-indent: $c-link-text-indent;
    text-overflow: $c-link-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-link-text-transform;
    text-shadow: $c-link-text-shadow;
    vertical-align: $c-link-vertical-align;
    white-space: $c-link-white-space;
    word-spacing: $c-link-word-spacing;
    user-select: none;


    // --- transforms
    transform: $c-link-transform;
    transform-origin: $c-link-transform-origin;
    transform-style: $c-link-transform-style;


    // --- transition
    will-change: $c-link-transition-property;
    transition-delay: $c-link-transition-delay;
    transition-duration: $c-link-transition-duration;
    transition-property: $c-link-transition-property;
    transition-timing-function: $c-link-transition-timing-function;


    // --- underline
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: calc(1px - (#{$c-link-padding-bottom} / 2) - (#{$c-link-underline-size} / 2));
        width: 100%;
        height: $c-link-underline-size;
        transform: $c-link-underline-transform;
        background-color: $c-link-underline-color;
        will-change: $c-link-transition-property, opacity;

        // -- transition
        transition-delay: $c-link-underline-transition-delay;
        transition-duration: $c-link-underline-transition-duration;
        transition-property: $c-link-underline-transition-property;
        transition-timing-function: $c-link-underline-transition-timing-function;
        transform-origin: $c-link-underline-transform-origin;
    }

    // --- Outline
    &:before {
        content: "";
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(100% + #{$c-link-padding-left} + #{$c-link-padding-right});
        height: calc(100% + #{$c-link-padding-top} + #{$c-link-padding-top});
        transform: translate(-50%, -50%);
        box-shadow: $c-link-outline;
        // border-radius
        border-top-left-radius: $c-link-border-top-left-radius;
        border-top-right-radius: $c-link-border-top-right-radius;
        border-bottom-left-radius: $c-link-border-bottom-left-radius;
        border-bottom-right-radius: $c-link-border-bottom-right-radius;
    }


    // --- :state: active
    &:active,
    &:focus,
    &.state-active {
        background-color: $c-link-state-active-background-color;
        //
        border-top-color: $c-link-state-active-border-top-color;
        border-right-color: $c-link-state-active-border-right-color;
        border-bottom-color: $c-link-state-active-border-bottom-color;
        border-left-color: $c-link-state-active-border-left-color;
        //
        color: $c-link-state-active-font-color;
        //
        transform: $c-link-state-active-transform;
        outline: 0;

        &:before {
            display: block;
        }

        &:after {
            background-color: $c-link-state-active-underline-color;
            transform: $c-link-state-active-underline-transform;
            transform-origin: $c-link-state-active-underline-transform-origin;
        }
    }


    // --- :state: hover
    &:hover,
    &.state-hover {
        background-color: $c-link-state-hover-background-color;
        //
        border-top-color: $c-link-state-hover-border-top-color;
        border-right-color: $c-link-state-hover-border-right-color;
        border-bottom-color: $c-link-state-hover-border-bottom-color;
        border-left-color: $c-link-state-hover-border-left-color;
        //
        color: $c-link-state-hover-font-color;
        //
        transform: $c-link-state-hover-transform;

        &:after {
            background-color: $c-link-state-hover-underline-color;
            transform: $c-link-state-hover-underline-transform;
            transform-origin: $c-link-state-hover-underline-transform-origin;
        }
    }


    // --- variant: list-item
    &.list-item {
        @extend %link-list-item;
    }
}
