// c-link link-list-item


%link-list-item {
    display: block;
    position: relative;
    overflow: visible;


    // --- backgrounds
    background-color: $c-link-list-item-background-color;
    background-image: $c-link-list-item-background-image;
    background-position: $c-link-list-item-background-position;
    background-size: $c-link-list-item-background-size;
    background-repeat: $c-link-list-item-background-repeat;
    background-origin: $c-link-list-item-background-origin;
    background-clip: $c-link-list-item-background-clip;
    background-attachment: $c-link-list-item-background-attachment;


    // --- borders
    border-top-width: $c-link-list-item-border-top-width;
    border-right-width: $c-link-list-item-border-right-width;
    border-bottom-width: $c-link-list-item-border-bottom-width;
    border-left-width: $c-link-list-item-border-left-width;
    //
    border-top-style: $c-link-list-item-border-top-style;
    border-right-style: $c-link-list-item-border-right-style;
    border-bottom-style: $c-link-list-item-border-bottom-style;
    border-left-style: $c-link-list-item-border-left-style;
    //
    border-top-color: $c-link-list-item-border-top-color;
    border-right-color: $c-link-list-item-border-right-color;
    border-bottom-color: $c-link-list-item-border-bottom-color;
    border-left-color: $c-link-list-item-border-left-color;
    // border-radius
    border-top-left-radius: $c-link-list-item-border-top-left-radius;
    border-top-right-radius: $c-link-list-item-border-top-right-radius;
    border-bottom-left-radius: $c-link-list-item-border-bottom-left-radius;
    border-bottom-right-radius: $c-link-list-item-border-bottom-right-radius;


    // --- paddings
    padding-top: $c-link-list-item-padding-top;
    padding-right: $c-link-list-item-padding-right;
    padding-bottom: $c-link-list-item-padding-bottom;
    padding-left: $c-link-list-item-padding-left;



    // --- text
    color: $c-link-list-item-font-color;
    font-family: $c-link-list-item-font-family;
    font-size: $c-link-list-item-font-size;
    font-style: $c-link-list-item-font-style;
    font-variant: $c-link-list-item-font-variant;
    font-weight: $c-link-list-item-font-weight;
    letter-spacing: $c-link-list-item-letter-spacing;
    line-height: $c-link-list-item-line-height;
    text-align: $c-link-list-item-text-align;
    text-decoration: $c-link-list-item-text-decoration;
    text-indent: $c-link-list-item-text-indent;
    text-overflow: $c-link-list-item-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-link-list-item-text-transform;
    text-shadow: $c-link-list-item-text-shadow;
    vertical-align: $c-link-list-item-vertical-align;
    white-space: $c-link-list-item-white-space;
    word-spacing: $c-link-list-item-word-spacing;
    user-select: none;


    // --- transforms
    transform: $c-link-list-item-transform;
    transform-origin: $c-link-list-item-transform-origin;
    transform-style: $c-link-list-item-transform-style;


    // --- transition
    will-change: $c-link-list-item-transition-property;
    transition-delay: $c-link-list-item-transition-delay;
    transition-duration: $c-link-list-item-transition-duration;
    transition-property: $c-link-list-item-transition-property;
    transition-timing-function: $c-link-list-item-transition-timing-function;


    // --- underline
    &:after {
        display: none;
    }

    // --- Outline
    &:before {
        display: none;
    }


    // --- :state: active
    &:active,
    &:focus,
    &.state-active {
        background-color: $c-link-list-item-state-active-background-color;
        //
        border-top-color: $c-link-list-item-state-active-border-top-color;
        border-right-color: $c-link-list-item-state-active-border-right-color;
        border-bottom-color: $c-link-list-item-state-active-border-bottom-color;
        border-left-color: $c-link-list-item-state-active-border-left-color;
        //
        color: $c-link-list-item-state-active-font-color;
        //
        transform: $c-link-list-item-state-active-transform;
        outline: 0;

        .c-icon {
            svg {
                path {
                    fill: $c-link-list-item-state-hover-font-color;
                }
            }
        }
    }


    // --- :state: hover
    &:hover,
    &.state-hover {
        background-color: $c-link-list-item-state-hover-background-color;
        //
        border-top-color: $c-link-list-item-state-hover-border-top-color;
        border-right-color: $c-link-list-item-state-hover-border-right-color;
        border-bottom-color: $c-link-list-item-state-hover-border-bottom-color;
        border-left-color: $c-link-list-item-state-hover-border-left-color;
        //
        color: $c-link-list-item-state-hover-font-color;
        //
        transform: $c-link-list-item-state-hover-transform;

        .c-icon {
            svg {
                path {
                    fill: $c-link-list-item-state-hover-font-color;
                }
            }
        }
    }


    // --- icon
    .c-icon {
        width: 1rem;
        margin-left: 0;
        margin-right: 1rem;
    }
}
