<!-- Forms: radios -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Radios</h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-fieldset legend="I am legend">
                <c-radio is="radio" id="radio-id-01" name="c-radio-01" value="Radio value 1" checked>Radio label</c-radio><br />
                <c-radio is="radio" id="radio-id-02" name="c-radio-01" value="Radio value 2">Radio label</c-radio><br />
                <c-radio is="radio" id="radio-id-03" name="c-radio-01" value="Radio value 3">Radio label</c-radio>
            </c-fieldset>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/input-radio/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/input-radio/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/input-radio/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/forms/input-radio/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Radios: <span>Disabled</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">


            <c-fieldset legend="I am legend">
                <c-radio is="radio" id="radio04" name="c-radio-02" value="Radio value 4" checked disabled>Radio label</c-radio><br />
                <c-radio is="radio" id="radio05" name="c-radio-02" value="Radio value 5" disabled>Radio label</c-radio>
            </c-fieldset>


        </section>
    </article>
</section>
