<!-- chart: spline -->

<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Charts: <span>is:spline-chart</span></h3>
        <p class="styleguide-todo">To Do: Add -1 for months withouth percentage values.</p>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <!-- spline chart -->
            <c-chart is="spline-chart">
                <c-chart-item label="i am a label" value="14.345,55" percentage="32" month="september" year="2017"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="67" month="october" year="2017"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="80" month="november" year="2017"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="47" month="december" year="2017"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="32" month="januari" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="25" month="februari" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="76" month="march" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="37" month="april" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="25" month="may" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="42" month="june" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="21" month="july" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="73" month="august" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="62" month="september" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="67" month="october" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="54" month="november" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="47" month="december" year="2018"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="53" month="januari" year="2019"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="43" month="februari" year="2019"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="37" month="march" year="2019"></c-chart-item>
                <c-chart-item label="i am a label" value="14.345,55" percentage="46" month="april" year="2019" selected></c-chart-item>
            </c-chart>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/charts/spline/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/charts/spline/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/charts/spline/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/charts/spline/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Charts: <span>is:spline-chart variants</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <div class="fieldsets">


                <!-- spline chart: 4 months -->
                <c-fieldset legend="Spline chart 4 months" css="styleguide-fieldset">
                    <c-chart is="spline-chart">
                        <c-chart-item label="i am a label" value="14.345,55" percentage="53" month="januari" year="2019"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="43" month="februari" year="2019"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="37" month="march" year="2019" selected></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="46" month="april" year="2019"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- spline chart: 6 months -->
                <c-fieldset legend="Spline chart 6 months" css="styleguide-fieldset">
                    <c-chart is="spline-chart">
                        <c-chart-item label="i am a label" value="14.345,55" percentage="54" month="november" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="47" month="december" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="53" month="januari" year="2019"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="43" month="februari" year="2019"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="37" month="march" year="2019" selected></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="46" month="april" year="2019"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- spline chart: 12 months -->
                <c-fieldset legend="Spline chart 12 months" css="styleguide-fieldset">
                    <c-chart is="spline-chart">
                        <c-chart-item label="i am a label" value="14.345,55" percentage="25" month="may" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="42" month="june" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="21" month="july" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="73" month="august" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="62" month="september" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="67" month="october" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="54" month="november" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="47" month="december" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="53" month="januari" year="2019"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="43" month="februari" year="2019"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="37" month="march" year="2019" selected></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="46" month="april" year="2019"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- spline chart: 16 months -->
                <c-fieldset legend="Spline chart 16 months" css="styleguide-fieldset">
                    <c-chart is="spline-chart">
                        <c-chart-item label="i am a label" value="14.345,55" percentage="32" month="januari" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="25" month="februari" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="76" month="march" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="37" month="april" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="25" month="may" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="42" month="june" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="21" month="july" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="73" month="august" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="62" month="september" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="67" month="october" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="54" month="november" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="47" month="december" year="2018"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="53" month="januari" year="2019"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="43" month="februari" year="2019"></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="37" month="march" year="2019" selected></c-chart-item>
                        <c-chart-item label="i am a label" value="14.345,55" percentage="46" month="april" year="2019"></c-chart-item>
                    </c-chart>
                </c-fieldset>
            </div>
        </section>
    </article>
</section>
