// c-list-ordered


%is-ordered {

    // --- defaults
    list-style-position: inside;
    padding-left: 0;


    // --- text
    color: $c-list-ordered-font-color;
    font-family: $c-list-ordered-font-family;
    font-size: $c-list-ordered-font-size;
    font-style: $c-list-ordered-font-style;
    font-variant: $c-list-ordered-font-variant;
    font-weight: $c-list-ordered-font-weight;
    letter-spacing: $c-list-ordered-letter-spacing;
    line-height: $c-list-ordered-line-height;
    text-align: $c-list-ordered-text-align;
    text-decoration: $c-list-ordered-text-decoration;
    text-indent: $c-list-ordered-text-indent;
    text-overflow: $c-list-ordered-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-list-ordered-text-transform;
    text-shadow: $c-list-ordered-text-shadow;
    vertical-align: $c-list-ordered-vertical-align;
    white-space: $c-list-ordered-white-space;


    strong {
        font-weight: $c-list-ordered-font-weight-bold;
    }


    // --- margins
    margin-top: $c-list-ordered-margin-top;
    margin-right: $c-list-ordered-margin-right;
    margin-bottom: $c-list-ordered-margin-bottom;
    margin-left: $c-list-ordered-margin-left;



    // --- resets
    li {
        padding-left: 1rem;
        margin: 0;
    }
    ul, ol {
        margin: 0;
    }
}
