<!-- chart: is-donut -->

<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Charts: <span>is:donut-chart</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <!-- donut-chart -->
            <c-chart is="donut-chart">
                <c-chart-item label="i am the label" value="20.000,00" percentage="20" color="color-accent-12"></c-chart-item>
                <c-chart-item label="Others" value="80.000,00" percentage="80" color="color-ui-04"></c-chart-item>
            </c-chart>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/charts/donut/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/charts/donut/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/charts/donut/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/charts/donut/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Charts: <span>is:donut-chart variants</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <div class="fieldsets">


                <!-- donut-chart: display labels -->
                <c-fieldset legend="Donut chart: display labels" css="styleguide-fieldset">
                    <c-chart is="donut-chart" display-labels>
                        <c-chart-item label="i am the label" value="20.000,00" percentage="20" color="color-accent-12"></c-chart-item>
                        <c-chart-item label=" " value="80.000,00" percentage="80" color="color-ui-04"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- donut-chart: no labels -->
                <c-fieldset legend="Donut chart: no labels" css="styleguide-fieldset">
                    <c-chart is="donut-chart">
                        <c-chart-item label="i am the label" value="25.000,00" percentage="25" color="color-accent-02"></c-chart-item>
                        <c-chart-item label=" " value="75.000,00" percentage="75" color="color-ui-04"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- donut-chart: sizes-small, display labels -->
                <c-fieldset legend="Donut chart: size-small, diplay labels" css="styleguide-fieldset">
                    <c-chart is="donut-chart" css="size-small" display-labels>
                        <c-chart-item label="i am the label" value="25.000" percentage="25" color="color-accent-04"></c-chart-item>
                        <c-chart-item label=" " value="75.000,00" percentage="75" color="color-ui-04"></c-chart-item>
                    </c-chart>
                </c-fieldset>


                <!-- donut-chart: sizes-small, display labels -->
                <c-fieldset legend="Donut chart: size-small, no labels" css="styleguide-fieldset">
                    <c-chart is="donut-chart" css="size-small">
                        <c-chart-item label="i am the label" value="30.000" percentage="30" color="color-accent-10"></c-chart-item>
                        <c-chart-item label=" " value="70.000,00" percentage="70" color="color-ui-04"></c-chart-item>
                    </c-chart>
                </c-fieldset>

            </div>


        </section>
    </article>
</section>
