// c-list-unordered


%is-unordered {

    // --- defaults
    list-style-position: inside;
    list-style-type: $c-list-unordered-style-type;
    padding-left: 0;



    // --- text
    color: $c-list-unordered-font-color;
    font-family: $c-list-unordered-font-family;
    font-size: $c-list-unordered-font-size;
    font-style: $c-list-unordered-font-style;
    font-variant: $c-list-unordered-font-variant;
    font-weight: $c-list-unordered-font-weight;
    letter-spacing: $c-list-unordered-letter-spacing;
    line-height: $c-list-unordered-line-height;
    text-align: $c-list-unordered-text-align;
    text-decoration: $c-list-unordered-text-decoration;
    text-indent: $c-list-unordered-text-indent;
    text-overflow: $c-list-unordered-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-list-unordered-text-transform;
    text-shadow: $c-list-unordered-text-shadow;
    vertical-align: $c-list-unordered-vertical-align;
    white-space: $c-list-unordered-white-space;


    strong {
        font-weight: $c-list-unordered-font-weight-bold;
    }


    // -- margins
    margin-top: $c-list-unordered-margin-top;
    margin-right: $c-list-unordered-margin-right;
    margin-bottom: $c-list-unordered-margin-bottom;
    margin-left: $c-list-unordered-margin-left;



    // --- resets
    li {
        padding-left: 1rem;
    }
    ul, ol {
        margin: 0;
    }
}
