<!-- Quick-links -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">List: <span>is:quicklink</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-list is="quicklink">
                <c-list-item>
                    <c-link link="/path" css="list-item">Add user</c-link>
                </c-list-item>
                <c-list-item>
                    <c-link link="/path" css="list-item">Edit user</c-link>
                </c-list-item>
                <c-list-item>
                    <c-link link="/path" css="list-item">Delete user</c-link>
                </c-list-item>
                <c-list-item>
                    <c-button is="button-primary" css="list-item" task="demo-purpose" id="button-id-01">Button item</c-button>
                </c-list-item>
                <c-divider></c-divider>
                <c-list-item>
                    <c-link link="/path" css="list-item">Export to Excel</c-link>
                </c-list-item>
            </c-list>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-02">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/lists/quicklink/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/lists/quicklink/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/lists/quicklink/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
