// icons


// --- icon globals
$c-icon-transition-delay: 0s;
$c-icon-transition-duration: .25s;
$c-icon-transition-timing-function: $ease-in-out-quad;


// --- colors
$c-icon-path-fill-color: $color-ui-03;
$c-icon-circle-fill-color: rgba(0, 0, 0, 0);
$c-icon-circle-stroke-color: rgba(0, 0, 0, 0);
$c-icon-rectangle-fill-color: rgba(0, 0, 0, 0);
$c-icon-rectangle-stroke-color: rgba(0, 0, 0, 0);


// --- colors: variation: circle
$c-icon-is-circle-path-fill-color: $color-white;
$c-icon-is-circle-circle-fill-color: $color-ui-03;
$c-icon-is-circle-circle-stroke-color: rgba(0, 0, 0, 0);
$c-icon-is-circle-rectangle-fill-color: rgba(0, 0, 0, 0);
$c-icon-is-circle-rectangle-stroke-color: rgba(0, 0, 0, 0);


// --- colors: variation: circle-outline
$c-icon-is-circle-outline-path-fill-color: $color-ui-03;
$c-icon-is-circle-outline-circle-fill-color: rgba(0, 0, 0, 0);
$c-icon-is-circle-outline-circle-stroke-color: $color-ui-03;
$c-icon-is-circle-outline-rectangle-fill-color: rgba(0, 0, 0, 0);
$c-icon-is-circle-outline-rectangle-stroke-color: rgba(0, 0, 0, 0);


// --- colors: variation: square
$c-icon-is-square-path-fill-color: $color-white;
$c-icon-is-square-circle-fill-color: rgba(0, 0, 0, 0);
$c-icon-is-square-circle-stroke-color: rgba(0, 0, 0, 0);
$c-icon-is-square-rectangle-fill-color: $color-ui-03;
$c-icon-is-square-rectangle-stroke-color: rgba(0, 0, 0, 0);


// --- colors: variation: square-outline
$c-icon-is-square-outline-path-fill-color: $color-ui-03;
$c-icon-is-square-outline-circle-fill-color: rgba(0, 0, 0, 0);
$c-icon-is-square-outline-circle-stroke-color: rgba(0, 0, 0, 0);
$c-icon-is-square-outline-rectangle-fill-color: rgba(0, 0, 0, 0);
$c-icon-is-square-outline-rectangle-stroke-color: $color-ui-03;


// --- dimensions
$c-icon-width: 2rem;
$c-icon-height: 2rem;
