// button-group


// --- borders

$block-button-group-border-top-width: 0;
$block-button-group-border-right-width: 0;
$block-button-group-border-bottom-width: 0;
$block-button-group-border-left-width: 0;
//
$block-button-group-border-top-style: solid;
$block-button-group-border-right-style: solid;
$block-button-group-border-bottom-style: solid;
$block-button-group-border-left-style: solid;
//
$block-button-group-border-top-color: transparent;
$block-button-group-border-right-color: transparent;
$block-button-group-border-bottom-color: transparent;
$block-button-group-border-left-color: transparent;
// border-radius
$block-button-group-border-top-left-radius: 0;
$block-button-group-border-top-right-radius: 0;
$block-button-group-border-bottom-left-radius: 0;
$block-button-group-border-bottom-right-radius: 0;

// --- margins

$block-button-group-margin-top: 0;
$block-button-group-margin-right: 0;
$block-button-group-margin-bottom: 0;
$block-button-group-margin-left: 0;


// --- margins between buttons

$block-button-group-margin-between-buttons: 0.5rem;


// --- paddings

$block-button-group-padding-top: 0;
$block-button-group-padding-right: 0;
$block-button-group-padding-bottom: 0;
$block-button-group-padding-left: 0;


// --- position

$block-button-group-position: relative;
$block-button-group-position-top: auto;
$block-button-group-position-right: auto;
$block-button-group-position-bottom: auto;
$block-button-group-position-left: auto;
$block-button-group-position-zindex: 1;


// -- shadow

$block-button-group-box-shadow: 0px 0px 0px 0px transparent;
