// grid-action-bar


// --- background
$c-grid-action-bar-background-color: $color-ui-02;
$c-grid-action-bar-background-image: none;
$c-grid-action-bar-background-position: initial;
$c-grid-action-bar-background-size: initial;
$c-grid-action-bar-background-repeat: initial;
$c-grid-action-bar-background-origin: initial;
$c-grid-action-bar-background-clip: initial;
$c-grid-action-bar-background-attachment: initial;


// --- borders
$block-grid-action-bar-border-top-width: 0;
$block-grid-action-bar-border-right-width: 0;
$block-grid-action-bar-border-bottom-width: 0;
$block-grid-action-bar-border-left-width: 0;
//
$block-grid-action-bar-border-top-style: solid;
$block-grid-action-bar-border-right-style: solid;
$block-grid-action-bar-border-bottom-style: solid;
$block-grid-action-bar-border-left-style: solid;
//
$block-grid-action-bar-border-top-color: transparent;
$block-grid-action-bar-border-right-color: transparent;
$block-grid-action-bar-border-bottom-color: transparent;
$block-grid-action-bar-border-left-color: transparent;
// border-radius
$block-grid-action-bar-border-top-left-radius: 0.25rem;
$block-grid-action-bar-border-top-right-radius: 0.25rem;
$block-grid-action-bar-border-bottom-left-radius: 0.25rem;
$block-grid-action-bar-border-bottom-right-radius: 0.25rem;


// --- margins
$block-grid-action-bar-margin-top: 0;
$block-grid-action-bar-margin-right: 0;
$block-grid-action-bar-margin-bottom: 3rem;
$block-grid-action-bar-margin-left: 0;


// --- margins between buttons
$block-grid-action-bar-margin-between-buttons: 0.5rem;


// --- paddings
$block-grid-action-bar-padding-top: 1rem;
$block-grid-action-bar-padding-right: 1rem;
$block-grid-action-bar-padding-bottom: 1rem;
$block-grid-action-bar-padding-left: 1rem;


// --- position
$block-grid-action-bar-position: relative;
$block-grid-action-bar-position-top: auto;
$block-grid-action-bar-position-right: auto;
$block-grid-action-bar-position-bottom: auto;
$block-grid-action-bar-position-left: auto;
$block-grid-action-bar-position-zindex: 1;


// -- shadow
$block-grid-action-bar-box-shadow: $shadow-depth-2;
