// upload-label: hover


// --- background
$c-upload-label-hover-background-color: $color-brand-02;
$c-upload-label-hover-background-image: none;
$c-upload-label-hover-background-position: initial;
$c-upload-label-hover-background-size: initial;
$c-upload-label-hover-background-repeat: initial;
$c-upload-label-hover-background-origin: initial;
$c-upload-label-hover-background-clip: initial;
$c-upload-label-hover-background-attachment: initial;


// --- borders
$c-upload-label-hover-border-top-width: 1px;
$c-upload-label-hover-border-top-style: solid;
$c-upload-label-hover-border-top-color: rgba($color-brand-01, 0);
$c-upload-label-hover-border-right-width: 1px;
$c-upload-label-hover-border-right-style: solid;
$c-upload-label-hover-border-right-color: rgba($color-brand-01, 0);
$c-upload-label-hover-border-bottom-width: 1px;
$c-upload-label-hover-border-bottom-style: solid;
$c-upload-label-hover-border-bottom-color: rgba($color-brand-01, 0);
$c-upload-label-hover-border-left-width: 1px;
$c-upload-label-hover-border-left-style: solid;
$c-upload-label-hover-border-left-color: rgba($color-brand-01, 0);
$c-upload-label-hover-border-top-left-radius: 0.25rem;
$c-upload-label-hover-border-top-right-radius: 0.25rem;
$c-upload-label-hover-border-bottom-left-radius: 0.25rem;
$c-upload-label-hover-border-bottom-right-radius: 0.25rem;


// -- display
$c-upload-label-hover-display: inline-block;


// --- margins
$c-upload-label-hover-margin-top: 0;
$c-upload-label-hover-margin-right: 0;
$c-upload-label-hover-margin-bottom: 0;
$c-upload-label-hover-margin-left: 0;


// --- outline
$c-upload-label-hover-outline-color: transparent;
$c-upload-label-hover-outline-width: 2px;
$c-upload-label-hover-outline: 0px 0px 0px 3px $color-white, 0px 0px 0px ($c-upload-label-hover-outline-width + 3px) $c-upload-label-hover-outline-color;


// --- paddings
$c-upload-label-hover-padding-top: 1rem;
$c-upload-label-hover-padding-right: 1rem;
$c-upload-label-hover-padding-bottom: 1rem;
$c-upload-label-hover-padding-left: 1rem;


// --- position
$c-upload-label-hover-position: relative;
$c-upload-label-hover-position-top: auto;
$c-upload-label-hover-position-right: auto;
$c-upload-label-hover-position-bottom: auto;
$c-upload-label-hover-position-left: auto;
$c-upload-label-hover-position-zindex: auto;


// -- shadow
$c-upload-label-hover-box-shadow: 0px 0px 0px 0px transparent;


// --- sizing
$c-upload-label-hover-width: auto;
$c-upload-label-hover-min-width: 2rem;
$c-upload-label-hover-max-width: none;
$c-upload-label-hover-height: auto;
$c-upload-label-hover-min-height: initial;
$c-upload-label-hover-max-height: none;


// --- text
$c-upload-label-hover-font-family: $font-brand-regular;
$c-upload-label-hover-font-color: $color-text-04;
$c-upload-label-hover-icon-color: $color-text-04;
$c-upload-label-hover-font-size: $font-size-m;
$c-upload-label-hover-font-style: normal;
$c-upload-label-hover-font-variant: normal;
$c-upload-label-hover-font-weight: $font-weight-regular;
$c-upload-label-hover-line-height: 1;
$c-upload-label-hover-letter-spacing: 0;
$c-upload-label-hover-text-align: center;
$c-upload-label-hover-text-decoration: none;
$c-upload-label-hover-text-indent: initial;
$c-upload-label-hover-text-overflow: initial;
$c-upload-label-hover-text-transform: none;
$c-upload-label-hover-text-shadow: none;
$c-upload-label-hover-vertical-align: initial;
$c-upload-label-hover-white-space: nowrap;
$c-upload-label-hover-word-spacing: normal;


// --- transforms
$c-upload-label-hover-transform: none;
$c-upload-label-hover-transform-origin: center center;
$c-upload-label-hover-transform-style: preserve-3d;


// --- transition
$c-upload-label-hover-transition-delay: 0;
$c-upload-label-hover-transition-duration: .1s;
$c-upload-label-hover-transition-property: color, background-color;
$c-upload-label-hover-transition-timing-function: $ease-in-quad;
