// upload-label: focus


// --- background
$c-upload-label-focus-background-color: $color-brand-02;
$c-upload-label-focus-background-image: none;
$c-upload-label-focus-background-position: initial;
$c-upload-label-focus-background-size: initial;
$c-upload-label-focus-background-repeat: initial;
$c-upload-label-focus-background-origin: initial;
$c-upload-label-focus-background-clip: initial;
$c-upload-label-focus-background-attachment: initial;


// --- borders
$c-upload-label-focus-border-top-width: 1px;
$c-upload-label-focus-border-top-style: solid;
$c-upload-label-focus-border-top-color: rgba($color-brand-01, 0);
$c-upload-label-focus-border-right-width: 1px;
$c-upload-label-focus-border-right-style: solid;
$c-upload-label-focus-border-right-color: rgba($color-brand-01, 0);
$c-upload-label-focus-border-bottom-width: 1px;
$c-upload-label-focus-border-bottom-style: solid;
$c-upload-label-focus-border-bottom-color: rgba($color-brand-01, 0);
$c-upload-label-focus-border-left-width: 1px;
$c-upload-label-focus-border-left-style: solid;
$c-upload-label-focus-border-left-color: rgba($color-brand-01, 0);
$c-upload-label-focus-border-top-left-radius: 0.25rem;
$c-upload-label-focus-border-top-right-radius: 0.25rem;
$c-upload-label-focus-border-bottom-left-radius: 0.25rem;
$c-upload-label-focus-border-bottom-right-radius: 0.25rem;


// -- display
$c-upload-label-focus-display: inline-block;


// --- margins
$c-upload-label-focus-margin-top: 0;
$c-upload-label-focus-margin-right: 0;
$c-upload-label-focus-margin-bottom: 0;
$c-upload-label-focus-margin-left: 0;


// --- outline
$c-upload-label-focus-outline-color: $color-brand-02;
$c-upload-label-focus-outline-width: 2px;
$c-upload-label-focus-outline: 0px 0px 0px 3px $color-white, 0px 0px 0px ($c-upload-label-focus-outline-width + 3px) $c-upload-label-focus-outline-color;


// --- paddings
$c-upload-label-focus-padding-top: 1rem;
$c-upload-label-focus-padding-right: 1rem;
$c-upload-label-focus-padding-bottom: 1rem;
$c-upload-label-focus-padding-left: 1rem;


// --- position
$c-upload-label-focus-position: relative;
$c-upload-label-focus-position-top: auto;
$c-upload-label-focus-position-right: auto;
$c-upload-label-focus-position-bottom: auto;
$c-upload-label-focus-position-left: auto;
$c-upload-label-focus-position-zindex: auto;


// -- shadow
$c-upload-label-focus-box-shadow: 0px 0px 0px 0px transparent;


// --- sizing
$c-upload-label-focus-width: auto;
$c-upload-label-focus-min-width: 2rem;
$c-upload-label-focus-max-width: none;
$c-upload-label-focus-height: auto;
$c-upload-label-focus-min-height: initial;
$c-upload-label-focus-max-height: none;


// --- text
$c-upload-label-focus-font-family: $font-brand-regular;
$c-upload-label-focus-font-color: $color-text-04;
$c-upload-label-focus-icon-color: $color-text-04;
$c-upload-label-focus-font-size: $font-size-m;
$c-upload-label-focus-font-style: normal;
$c-upload-label-focus-font-variant: normal;
$c-upload-label-focus-font-weight: $font-weight-regular;
$c-upload-label-focus-line-height: 1;
$c-upload-label-focus-letter-spacing: 0;
$c-upload-label-focus-text-align: center;
$c-upload-label-focus-text-decoration: none;
$c-upload-label-focus-text-indent: initial;
$c-upload-label-focus-text-overflow: initial;
$c-upload-label-focus-text-transform: none;
$c-upload-label-focus-text-shadow: none;
$c-upload-label-focus-vertical-align: initial;
$c-upload-label-focus-white-space: nowrap;
$c-upload-label-focus-word-spacing: normal;


// --- transforms
$c-upload-label-focus-transform: none;
$c-upload-label-focus-transform-origin: center center;
$c-upload-label-focus-transform-style: preserve-3d;


// --- transition
$c-upload-label-focus-transition-delay: 0;
$c-upload-label-focus-transition-duration: .1s;
$c-upload-label-focus-transition-property: color, background-color;
$c-upload-label-focus-transition-timing-function: $ease-in-quad;
