// upload-label


// --- background
$c-upload-label-background-color: $color-brand-01;
$c-upload-label-background-image: none;
$c-upload-label-background-position: initial;
$c-upload-label-background-size: initial;
$c-upload-label-background-repeat: initial;
$c-upload-label-background-origin: initial;
$c-upload-label-background-clip: initial;
$c-upload-label-background-attachment: initial;


// --- borders
$c-upload-label-border-top-width: 1px;
$c-upload-label-border-top-style: solid;
$c-upload-label-border-top-color: rgba($color-brand-01, 0);
$c-upload-label-border-right-width: 1px;
$c-upload-label-border-right-style: solid;
$c-upload-label-border-right-color: rgba($color-brand-01, 0);
$c-upload-label-border-bottom-width: 1px;
$c-upload-label-border-bottom-style: solid;
$c-upload-label-border-bottom-color: rgba($color-brand-01, 0);
$c-upload-label-border-left-width: 1px;
$c-upload-label-border-left-style: solid;
$c-upload-label-border-left-color: rgba($color-brand-01, 0);
$c-upload-label-border-top-left-radius: 0.25rem;
$c-upload-label-border-top-right-radius: 0.25rem;
$c-upload-label-border-bottom-left-radius: 0.25rem;
$c-upload-label-border-bottom-right-radius: 0.25rem;


// -- display
$c-upload-label-display: inline-block;


// --- margins
$c-upload-label-margin-top: 0;
$c-upload-label-margin-right: 0;
$c-upload-label-margin-bottom: 0;
$c-upload-label-margin-left: 0;


// --- outline
$c-upload-label-outline-color: transparent;
$c-upload-label-outline-width: 2px;
$c-upload-label-outline: 0px 0px 0px 3px $color-white, 0px 0px 0px ($c-upload-label-outline-width + 3px) $c-upload-label-outline-color;


// --- paddings
$c-upload-label-padding-top: 1rem;
$c-upload-label-padding-right: 1rem;
$c-upload-label-padding-bottom: 1rem;
$c-upload-label-padding-left: 1rem;


// --- position
$c-upload-label-position: relative;
$c-upload-label-position-top: auto;
$c-upload-label-position-right: auto;
$c-upload-label-position-bottom: auto;
$c-upload-label-position-left: auto;
$c-upload-label-position-zindex: auto;


// -- shadow
$c-upload-label-box-shadow: 0px 0px 0px 0px transparent;


// --- sizing
$c-upload-label-width: auto;
$c-upload-label-min-width: 2rem;
$c-upload-label-max-width: none;
$c-upload-label-height: auto;
$c-upload-label-min-height: initial;
$c-upload-label-max-height: none;


// --- text
$c-upload-label-font-family: $font-brand-regular;
$c-upload-label-font-color: $color-text-04;
$c-upload-label-icon-color: $color-text-04;
$c-upload-label-font-size: $font-size-m;
$c-upload-label-font-style: normal;
$c-upload-label-font-variant: normal;
$c-upload-label-font-weight: $font-weight-regular;
$c-upload-label-line-height: 1;
$c-upload-label-letter-spacing: 0;
$c-upload-label-text-align: center;
$c-upload-label-text-decoration: none;
$c-upload-label-text-indent: initial;
$c-upload-label-text-overflow: initial;
$c-upload-label-text-transform: none;
$c-upload-label-text-shadow: none;
$c-upload-label-vertical-align: initial;
$c-upload-label-white-space: nowrap;
$c-upload-label-word-spacing: normal;


// --- transforms
$c-upload-label-transform: none;
$c-upload-label-transform-origin: center center;
$c-upload-label-transform-style: preserve-3d;


// --- transition
$c-upload-label-transition-delay: 0;
$c-upload-label-transition-duration: .1s;
$c-upload-label-transition-property: color, background-color;
$c-upload-label-transition-timing-function: $ease-in-quad;
