// text-area


// --- box-shadow
$c-textarea-label-invalid-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-textarea-label-invalid-background-color: transparent;
$c-textarea-label-invalid-background-image: none;
$c-textarea-label-invalid-background-position: initial;
$c-textarea-label-invalid-background-size: initial;
$c-textarea-label-invalid-background-repeat: initial;
$c-textarea-label-invalid-background-origin: initial;
$c-textarea-label-invalid-background-clip: initial;
$c-textarea-label-invalid-background-attachment: initial;


// --- borders
// top
$c-textarea-label-invalid-border-top-width: 0px;
$c-textarea-label-invalid-border-top-style: solid;
$c-textarea-label-invalid-border-top-color: transparent;
// right
$c-textarea-label-invalid-border-right-width: 0px;
$c-textarea-label-invalid-border-right-style: solid;
$c-textarea-label-invalid-border-right-color: transparent;
// bottom
$c-textarea-label-invalid-border-bottom-width: 0px;
$c-textarea-label-invalid-border-bottom-style: solid;
$c-textarea-label-invalid-border-bottom-color: transparent;
// left
$c-textarea-label-invalid-border-left-width: 0px;
$c-textarea-label-invalid-border-left-style: solid;
$c-textarea-label-invalid-border-left-color: transparent;
// radius
$c-textarea-label-invalid-border-top-left-radius: 0;
$c-textarea-label-invalid-border-top-right-radius: 0;
$c-textarea-label-invalid-border-bottom-left-radius: 0;
$c-textarea-label-invalid-border-bottom-right-radius: 0;


// --- display
$c-textarea-label-invalid-display: inline-block;


// --- margins
$c-textarea-label-invalid-margin-top: 0;
$c-textarea-label-invalid-margin-right: 0;
$c-textarea-label-invalid-margin-bottom: 1rem;
$c-textarea-label-invalid-margin-left: 0;


// --- paddings
$c-textarea-label-invalid-padding-top: 0;
$c-textarea-label-invalid-padding-right: 0;
$c-textarea-label-invalid-padding-bottom: 0;
$c-textarea-label-invalid-padding-left: 0;


// --- position
$c-textarea-label-invalid-position: relative;
$c-textarea-label-invalid-position-top: auto;
$c-textarea-label-invalid-position-right: auto;
$c-textarea-label-invalid-position-bottom: auto;
$c-textarea-label-invalid-position-left: auto;
$c-textarea-label-invalid-position-zindex: auto;


// --- sizing
$c-textarea-label-invalid-width: 100%;
$c-textarea-label-invalid-min-width: 100%;
$c-textarea-label-invalid-max-width: none;
$c-textarea-label-invalid-height: auto;
$c-textarea-label-invalid-min-height: auto;
$c-textarea-label-invalid-max-height: none;


// --- text
$c-textarea-label-invalid-font-family: $font-brand-demi;
$c-textarea-label-invalid-font-color: $color-brand-01;
$c-textarea-label-invalid-font-size: $font-size-m;
$c-textarea-label-invalid-font-style: normal;
$c-textarea-label-invalid-font-variant: normal;
$c-textarea-label-invalid-font-weight: $font-weight-bold;
$c-textarea-label-invalid-line-height: 1;
$c-textarea-label-invalid-letter-spacing: 0;
$c-textarea-label-invalid-text-align: left;
$c-textarea-label-invalid-text-decoration: none;
$c-textarea-label-invalid-text-indent: 0;
$c-textarea-label-invalid-text-overflow: initial;
$c-textarea-label-invalid-text-transform: none;
$c-textarea-label-invalid-text-shadow: none;
$c-textarea-label-invalid-vertical-align: initial;
$c-textarea-label-invalid-white-space: normal;
$c-textarea-label-invalid-word-spacing: normal;
