// text-area


// --- box-shadow
$c-textarea-label-disabled-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-textarea-label-disabled-background-color: transparent;
$c-textarea-label-disabled-background-image: none;
$c-textarea-label-disabled-background-position: initial;
$c-textarea-label-disabled-background-size: initial;
$c-textarea-label-disabled-background-repeat: initial;
$c-textarea-label-disabled-background-origin: initial;
$c-textarea-label-disabled-background-clip: initial;
$c-textarea-label-disabled-background-attachment: initial;


// --- borders
// top
$c-textarea-label-disabled-border-top-width: 0px;
$c-textarea-label-disabled-border-top-style: solid;
$c-textarea-label-disabled-border-top-color: transparent;
// right
$c-textarea-label-disabled-border-right-width: 0px;
$c-textarea-label-disabled-border-right-style: solid;
$c-textarea-label-disabled-border-right-color: transparent;
// bottom
$c-textarea-label-disabled-border-bottom-width: 0px;
$c-textarea-label-disabled-border-bottom-style: solid;
$c-textarea-label-disabled-border-bottom-color: transparent;
// left
$c-textarea-label-disabled-border-left-width: 0px;
$c-textarea-label-disabled-border-left-style: solid;
$c-textarea-label-disabled-border-left-color: transparent;
// radius
$c-textarea-label-disabled-border-top-left-radius: 0;
$c-textarea-label-disabled-border-top-right-radius: 0;
$c-textarea-label-disabled-border-bottom-left-radius: 0;
$c-textarea-label-disabled-border-bottom-right-radius: 0;


// --- display
$c-textarea-label-disabled-display: inline-block;


// --- margins
$c-textarea-label-disabled-margin-top: 0;
$c-textarea-label-disabled-margin-right: 0;
$c-textarea-label-disabled-margin-bottom: 1rem;
$c-textarea-label-disabled-margin-left: 0;


// --- paddings
$c-textarea-label-disabled-padding-top: 0;
$c-textarea-label-disabled-padding-right: 0;
$c-textarea-label-disabled-padding-bottom: 0;
$c-textarea-label-disabled-padding-left: 0;


// --- position
$c-textarea-label-disabled-position: relative;
$c-textarea-label-disabled-position-top: auto;
$c-textarea-label-disabled-position-right: auto;
$c-textarea-label-disabled-position-bottom: auto;
$c-textarea-label-disabled-position-left: auto;
$c-textarea-label-disabled-position-zindex: auto;


// --- sizing
$c-textarea-label-disabled-width: 100%;
$c-textarea-label-disabled-min-width: 100%;
$c-textarea-label-disabled-max-width: none;
$c-textarea-label-disabled-height: auto;
$c-textarea-label-disabled-min-height: auto;
$c-textarea-label-disabled-max-height: none;


// --- text
$c-textarea-label-disabled-font-family: $font-brand-demi;
$c-textarea-label-disabled-font-color: $color-text-03;
$c-textarea-label-disabled-font-size: $font-size-m;
$c-textarea-label-disabled-font-style: normal;
$c-textarea-label-disabled-font-variant: normal;
$c-textarea-label-disabled-font-weight: $font-weight-bold;
$c-textarea-label-disabled-line-height: 1;
$c-textarea-label-disabled-letter-spacing: 0;
$c-textarea-label-disabled-text-align: left;
$c-textarea-label-disabled-text-decoration: none;
$c-textarea-label-disabled-text-indent: 0;
$c-textarea-label-disabled-text-overflow: initial;
$c-textarea-label-disabled-text-transform: none;
$c-textarea-label-disabled-text-shadow: none;
$c-textarea-label-disabled-vertical-align: initial;
$c-textarea-label-disabled-white-space: normal;
$c-textarea-label-disabled-word-spacing: normal;
