// --- accordion-region


// -- box-shadow
$c-accordion-container-focus-box-shadow: 0 0 0 transparent;


// --- background
$c-accordion-container-focus-background-color: transparent;
$c-accordion-container-focus-background-image: none;
$c-accordion-container-focus-background-position: initial;
$c-accordion-container-focus-background-size: initial;
$c-accordion-container-focus-background-repeat: initial;
$c-accordion-container-focus-background-origin: initial;
$c-accordion-container-focus-background-clip: initial;
$c-accordion-container-focus-background-attachment: initial;


// --- borders
// top
$c-accordion-container-focus-border-top-width: 1px;
$c-accordion-container-focus-border-top-style: solid;
$c-accordion-container-focus-border-top-color: transparent;
// right
$c-accordion-container-focus-border-right-width: 0;
$c-accordion-container-focus-border-right-style: solid;
$c-accordion-container-focus-border-right-color: transparent;
// bottom
$c-accordion-container-focus-border-bottom-width: 0;
$c-accordion-container-focus-border-bottom-style: solid;
$c-accordion-container-focus-border-bottom-color: transparent;
// left
$c-accordion-container-focus-border-left-width: 0;
$c-accordion-container-focus-border-left-style: solid;
$c-accordion-container-focus-border-left-color: transparent;
// radius
$c-accordion-container-focus-border-top-left-radius: 0;
$c-accordion-container-focus-border-top-right-radius: 0;
$c-accordion-container-focus-border-bottom-left-radius: 0;
$c-accordion-container-focus-border-bottom-right-radius: 0;


// -- display
$c-accordion-container-focus-display: block;


// --- margins
$c-accordion-container-focus-margin-top: -1px;
$c-accordion-container-focus-margin-right: 0;
$c-accordion-container-focus-margin-bottom: 0;
$c-accordion-container-focus-margin-left: 0;


// --- outline
$c-accordion-container-focus-outline1-color: $color-brand-02;
$c-accordion-container-focus-outline2-color: $color-ui-01;
$c-accordion-container-focus-outline1-width: 0.125rem;
$c-accordion-container-focus-outline2-width: 0.125rem;
$c-accordion-container-focus-outline: inset 0 0 0 $c-accordion-container-focus-outline2-width $c-accordion-container-focus-outline1-color,
                             inset 0 0 0 ($c-accordion-container-focus-outline1-width + $c-accordion-container-focus-outline2-width) $c-accordion-container-focus-outline2-color;


// --- paddings
$c-accordion-container-focus-padding-top: 0;
$c-accordion-container-focus-padding-right: 0;
$c-accordion-container-focus-padding-bottom: 0;
$c-accordion-container-focus-padding-left: 0;


// --- position
$c-accordion-container-focus-position: relative;
$c-accordion-container-focus-position-top: auto;
$c-accordion-container-focus-position-right: auto;
$c-accordion-container-focus-position-bottom: auto;
$c-accordion-container-focus-position-left: auto;
$c-accordion-container-focus-position-zindex: 2;


// --- sizing
$c-accordion-container-focus-width: 100%;
$c-accordion-container-focus-min-width: initial;
$c-accordion-container-focus-max-width: none;
$c-accordion-container-focus-height: auto;
$c-accordion-container-focus-min-height: initial;
$c-accordion-container-focus-max-height: none;


// transition
$c-accordion-container-focus-transition-property: padding-top, padding-bottom, max-height;
