// --- accordion-region


// -- box-shadow
$c-accordion-container-box-shadow: 0 0 0 transparent;


// --- background
$c-accordion-container-background-color: transparent;
$c-accordion-container-background-image: none;
$c-accordion-container-background-position: initial;
$c-accordion-container-background-size: initial;
$c-accordion-container-background-repeat: initial;
$c-accordion-container-background-origin: initial;
$c-accordion-container-background-clip: initial;
$c-accordion-container-background-attachment: initial;


// --- borders
// top
$c-accordion-container-border-top-width: 1px;
$c-accordion-container-border-top-style: solid;
$c-accordion-container-border-top-color: $color-brand-01;
// right
$c-accordion-container-border-right-width: 0;
$c-accordion-container-border-right-style: solid;
$c-accordion-container-border-right-color: transparent;
// bottom
$c-accordion-container-border-bottom-width: 0;
$c-accordion-container-border-bottom-style: solid;
$c-accordion-container-border-bottom-color: transparent;
// left
$c-accordion-container-border-left-width: 0;
$c-accordion-container-border-left-style: solid;
$c-accordion-container-border-left-color: transparent;
// radius
$c-accordion-container-border-top-left-radius: 0;
$c-accordion-container-border-top-right-radius: 0;
$c-accordion-container-border-bottom-left-radius: 0;
$c-accordion-container-border-bottom-right-radius: 0;


// -- display
$c-accordion-container-display: block;


// --- margins
$c-accordion-container-margin-top: -1px;
$c-accordion-container-margin-right: 0;
$c-accordion-container-margin-bottom: 0;
$c-accordion-container-margin-left: 0;


// --- outline
$c-accordion-container-outline1-color: transparent;
$c-accordion-container-outline2-color: transparent;
$c-accordion-container-outline1-width: 0.125rem;
$c-accordion-container-outline2-width: 0.125rem;
$c-accordion-container-outline: inset 0 0 0 $c-accordion-container-outline2-width $c-accordion-container-outline1-color,
                             inset 0 0 0 ($c-accordion-container-outline1-width + $c-accordion-container-outline2-width) $c-accordion-container-outline2-color;


// --- paddings
$c-accordion-container-padding-top: 0;
$c-accordion-container-padding-right: 0;
$c-accordion-container-padding-bottom: 0;
$c-accordion-container-padding-left: 0;


// --- position
$c-accordion-container-position: relative;
$c-accordion-container-position-top: auto;
$c-accordion-container-position-right: auto;
$c-accordion-container-position-bottom: auto;
$c-accordion-container-position-left: auto;
$c-accordion-container-position-zindex: 1;


// --- sizing
$c-accordion-container-width: 100%;
$c-accordion-container-min-width: initial;
$c-accordion-container-max-width: none;
$c-accordion-container-height: auto;
$c-accordion-container-min-height: initial;
$c-accordion-container-max-height: none;


// transition
$c-accordion-container-transition-property: padding-top, padding-bottom, max-height;
