

// --- background
$c-table-cell-background-color: transparent;
$c-table-cell-background-image: none;
$c-table-cell-background-position: initial;
$c-table-cell-background-size: initial;
$c-table-cell-background-repeat: initial;
$c-table-cell-background-origin: initial;
$c-table-cell-background-clip: initial;
$c-table-cell-background-attachment: initial;


// --- borders
// top
$c-table-cell-border-top-width: 0px;
$c-table-cell-border-top-style: solid;
$c-table-cell-border-top-color: transparent;
// right
$c-table-cell-border-right-width: 0px;
$c-table-cell-border-right-style: solid;
$c-table-cell-border-right-color: transparent;
// bottom
$c-table-cell-border-bottom-width: 0px;
$c-table-cell-border-bottom-style: solid;
$c-table-cell-border-bottom-color: transparent;
// left
$c-table-cell-border-left-width: 0px;
$c-table-cell-border-left-style: solid;
$c-table-cell-border-left-color: transparent;
// radius
$c-table-cell-border-top-left-radius: 0;
$c-table-cell-border-top-right-radius: 0;
$c-table-cell-border-bottom-left-radius: 0;
$c-table-cell-border-bottom-right-radius: 0;


// --- paddings
$c-table-cell-padding-top: 0;
$c-table-cell-padding-right: 1.5rem;
$c-table-cell-padding-bottom: 1rem;
$c-table-cell-padding-left: 1.5rem;


// --- text
$c-table-cell-font-family: $font-brand-regular;
$c-table-cell-font-color: $color-ui-03;
$c-table-cell-font-size: $font-size-l;
$c-table-cell-font-style: normal;
$c-table-cell-font-variant: normal;
$c-table-cell-font-weight: $font-weight-regular;
$c-table-cell-line-height: 1.25;
$c-table-cell-letter-spacing: 0;
$c-table-cell-text-align: left;
$c-table-cell-text-decoration: none;
$c-table-cell-text-indent: initial;
$c-table-cell-text-overflow: none;
$c-table-cell-text-transform: none;
$c-table-cell-text-shadow : none;
$c-table-cell-vertical-align: middle;
$c-table-cell-white-space: normal;
$c-table-cell-word-spacing: normal;
