

// --- background
$c-table-cell-desktop-background-color: transparent;
$c-table-cell-desktop-background-image: none;
$c-table-cell-desktop-background-position: initial;
$c-table-cell-desktop-background-size: initial;
$c-table-cell-desktop-background-repeat: initial;
$c-table-cell-desktop-background-origin: initial;
$c-table-cell-desktop-background-clip: initial;
$c-table-cell-desktop-background-attachment: initial;


// --- borders
// top
$c-table-cell-desktop-border-top-width: 0px;
$c-table-cell-desktop-border-top-style: solid;
$c-table-cell-desktop-border-top-color: transparent;
// right
$c-table-cell-desktop-border-right-width: 0px;
$c-table-cell-desktop-border-right-style: solid;
$c-table-cell-desktop-border-right-color: transparent;
// bottom
$c-table-cell-desktop-border-bottom-width: 1px;
$c-table-cell-desktop-border-bottom-style: solid;
$c-table-cell-desktop-border-bottom-color: $color-brand-01;
// left
$c-table-cell-desktop-border-left-width: 0px;
$c-table-cell-desktop-border-left-style: solid;
$c-table-cell-desktop-border-left-color: transparent;
// radius
$c-table-cell-desktop-border-top-left-radius: 0;
$c-table-cell-desktop-border-top-right-radius: 0;
$c-table-cell-desktop-border-bottom-left-radius: 0;
$c-table-cell-desktop-border-bottom-right-radius: 0;


// --- paddings
$c-table-cell-desktop-padding-top: 1.5rem;
$c-table-cell-desktop-padding-right: 0.5rem;
$c-table-cell-desktop-padding-bottom: 1.25rem; //--> line-height = 1.25
$c-table-cell-desktop-padding-left: 0;


// --- text
$c-table-cell-desktop-font-family: $font-brand-regular;
$c-table-cell-desktop-font-color: $color-ui-03;
$c-table-cell-desktop-font-size: $font-size-m;
$c-table-cell-desktop-font-style: normal;
$c-table-cell-desktop-font-variant: normal;
$c-table-cell-desktop-font-weight: $font-weight-regular;
$c-table-cell-desktop-line-height: 1.25;
$c-table-cell-desktop-letter-spacing: 0;
$c-table-cell-desktop-text-align: left;
$c-table-cell-desktop-text-decoration: none;
$c-table-cell-desktop-text-indent: initial;
$c-table-cell-desktop-text-overflow: none;
$c-table-cell-desktop-text-transform: none;
$c-table-cell-desktop-text-shadow : none;
$c-table-cell-desktop-vertical-align: middle;
$c-table-cell-desktop-white-space: normal;
$c-table-cell-desktop-word-spacing: normal;
