

// --- background
$c-table-header-background-color: transparent;
$c-table-header-background-image: none;
$c-table-header-background-position: initial;
$c-table-header-background-size: initial;
$c-table-header-background-repeat: initial;
$c-table-header-background-origin: initial;
$c-table-header-background-clip: initial;
$c-table-header-background-attachment: initial;


// --- borders
// top
$c-table-header-border-top-width: 0px;
$c-table-header-border-top-style: solid;
$c-table-header-border-top-color: transparent;
// right
$c-table-header-border-right-width: 0px;
$c-table-header-border-right-style: solid;
$c-table-header-border-right-color: transparent;
// bottom
$c-table-header-border-bottom-width: 0px;
$c-table-header-border-bottom-style: solid;
$c-table-header-border-bottom-color: transparent;
// left
$c-table-header-border-left-width: 0px;
$c-table-header-border-left-style: solid;
$c-table-header-border-left-color: transparent;
// radius
$c-table-header-border-top-left-radius: 0;
$c-table-header-border-top-right-radius: 0;
$c-table-header-border-bottom-left-radius: 0;
$c-table-header-border-bottom-right-radius: 0;


// --- paddings
$c-table-header-padding-top: 0;
$c-table-header-padding-right: 0.5rem;
$c-table-header-padding-bottom: 0;
$c-table-header-padding-left: 0;


// --- text
$c-table-header-font-family: $font-brand-regular;
$c-table-header-font-color: $color-text-01;
$c-table-header-font-size: $font-size-m;
$c-table-header-font-style: normal;
$c-table-header-font-variant: normal;
$c-table-header-font-weight: $font-weight-bold;
$c-table-header-line-height: 1.25;
$c-table-header-letter-spacing: 0;
$c-table-header-text-align: left;
$c-table-header-text-decoration: none;
$c-table-header-text-indent: initial;
$c-table-header-text-overflow: none;
$c-table-header-text-transform: none;
$c-table-header-text-shadow : none;
$c-table-header-vertical-align: middle;
$c-table-header-white-space: normal;
$c-table-header-word-spacing: normal;
