// c-input

.c-input {

    input {

        // --- background
        background-color: $c-input-background-color;
        background-image: $c-input-background-image;
        background-position: $c-input-background-position;
        background-size: $c-input-background-size;
        background-repeat: $c-input-background-repeat;
        background-origin: $c-input-background-origin;
        background-clip: $c-input-background-clip;
        background-attachment: $c-input-background-attachment;

        // --- borders
        border-top-width: $c-input-border-top-width;
        border-top-style: $c-input-border-top-style;
        border-top-color: $c-input-border-top-color;
        border-right-width: $c-input-border-right-width;
        border-right-style: $c-input-border-right-style;
        border-right-color: $c-input-border-right-color;
        border-bottom-width: $c-input-border-bottom-width;
        border-bottom-style: $c-input-border-bottom-style;
        border-bottom-color: $c-input-border-bottom-color;
        border-left-width: $c-input-border-left-width;
        border-left-style: $c-input-border-left-style;
        border-left-color: $c-input-border-left-color;
        border-top-left-radius: $c-input-border-top-left-radius;
        border-top-right-radius: $c-input-border-top-right-radius;
        border-bottom-left-radius: $c-input-border-bottom-left-radius;
        border-bottom-right-radius: $c-input-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-input-box-shadow, $c-input-outline;

        // --- display
        display: $c-input-display;

        // --- margins
        margin-top: $c-input-margin-top;
        margin-right: $c-input-margin-right;
        margin-bottom: $c-input-margin-bottom;
        margin-left: $c-input-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-input-padding-top;
        padding-right: $c-input-padding-right;
        padding-bottom: $c-input-padding-bottom;
        padding-left: $c-input-padding-left;

        // --- position
        position: $c-input-position;
        top: $c-input-position-top;
        right: $c-input-position-right;
        bottom: $c-input-position-bottom;
        left: $c-input-position-left;
        z-index: $c-input-position-zindex;

        // --- sizing
        width: $c-input-width;
        min-width: $c-input-min-width;
        max-width: $c-input-max-width;
        height: $c-input-height;
        min-height: $c-input-min-height;
        max-height: $c-input-max-height;

        // --- text
        color: $c-input-font-color;
        font-family: $c-input-font-family;
        font-size: $c-input-font-size;
        font-style: $c-input-font-style;
        font-variant: $c-input-font-variant;
        font-weight: $c-input-font-weight;
        letter-spacing: $c-input-letter-spacing;
        line-height: $c-input-line-height;
        text-align: $c-input-text-align;
        text-decoration: $c-input-text-decoration;
        text-indent: 0;
        text-overflow: $c-input-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-input-text-transform;
        text-shadow: $c-input-text-shadow;
        vertical-align: $c-input-vertical-align;
        white-space: $c-input-white-space;
        word-spacing: $c-input-word-spacing;

        // --- transition
        transition: $c-input-transition-property $c-input-transition-duration $c-input-transition-delay $c-input-transition-timing-function;
    }


    // ---


    ::placeholder {
        color: $c-input-placeholder-font-color;
        font-family: $c-input-placeholder-font-family;
        font-size: $c-input-placeholder-font-size;
        font-style: $c-input-placeholder-font-style;
        font-variant: $c-input-placeholder-font-variant;
        font-weight: $c-input-placeholder-font-weight;
        letter-spacing: $c-input-placeholder-letter-spacing;
        line-height: $c-input-placeholder-line-height;
        text-align: $c-input-placeholder-text-align;
        text-decoration: $c-input-placeholder-text-decoration;
        text-indent: 0;
        text-overflow: $c-input-placeholder-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-input-placeholder-text-transform;
        text-shadow: $c-input-placeholder-text-shadow;
        vertical-align: $c-input-placeholder-vertical-align;
        white-space: $c-input-placeholder-white-space;
        word-spacing: $c-input-placeholder-word-spacing;
    }


    // ---


    label {
        // --- background
        background-color: $c-input-label-background-color;
        background-image: $c-input-label-background-image;
        background-position: $c-input-label-background-position;
        background-size: $c-input-label-background-size;
        background-repeat: $c-input-label-background-repeat;
        background-origin: $c-input-label-background-origin;
        background-clip: $c-input-label-background-clip;
        background-attachment: $c-input-label-background-attachment;

        // --- borders
        border-top-width: $c-input-label-border-top-width;
        border-top-style: $c-input-label-border-top-style;
        border-top-color: $c-input-label-border-top-color;
        border-right-width: $c-input-label-border-right-width;
        border-right-style: $c-input-label-border-right-style;
        border-right-color: $c-input-label-border-right-color;
        border-bottom-width: $c-input-label-border-bottom-width;
        border-bottom-style: $c-input-label-border-bottom-style;
        border-bottom-color: $c-input-label-border-bottom-color;
        border-left-width: $c-input-label-border-left-width;
        border-left-style: $c-input-label-border-left-style;
        border-left-color: $c-input-label-border-left-color;
        border-top-left-radius: $c-input-label-border-top-left-radius;
        border-top-right-radius: $c-input-label-border-top-right-radius;
        border-bottom-left-radius: $c-input-label-border-bottom-left-radius;
        border-bottom-right-radius: $c-input-label-border-bottom-right-radius;

        // --- cursor
        cursor: pointer;

        // --- display
        display: $c-input-label-display;

        // --- margins
        margin-top: $c-input-label-margin-top;
        margin-right: $c-input-label-margin-right;
        margin-bottom: $c-input-label-margin-bottom;
        margin-left: $c-input-label-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-input-label-padding-top;
        padding-right: $c-input-label-padding-right;
        padding-bottom: $c-input-label-padding-bottom;
        padding-left: $c-input-label-padding-left;

        // --- position
        position: $c-input-label-position;
        top: $c-input-label-position-top;
        right: $c-input-label-position-right;
        bottom: $c-input-label-position-bottom;
        left: $c-input-label-position-left;
        z-index: $c-input-label-position-zindex;

        // --- resize
        resize: vertical;

        // --- sizing
        width: $c-input-label-width;
        min-width: $c-input-label-min-width;
        max-width: $c-input-label-max-width;
        height: $c-input-label-height;
        min-height: $c-input-label-min-height;
        max-height: $c-input-label-max-height;

        // --- text
        color: $c-input-label-font-color;
        font-family: $c-input-label-font-family;
        font-size: $c-input-label-font-size;
        font-style: $c-input-label-font-style;
        font-variant: $c-input-label-font-variant;
        font-weight: $c-input-label-font-weight;
        letter-spacing: $c-input-label-letter-spacing;
        line-height: $c-input-label-line-height;
        text-align: $c-input-label-text-align;
        text-decoration: $c-input-label-text-decoration;
        text-indent: 0;
        text-overflow: $c-input-label-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-input-label-text-transform;
        text-shadow: $c-input-label-text-shadow;
        vertical-align: $c-input-label-vertical-align;
        white-space: $c-input-label-white-space;
        word-spacing: $c-input-label-word-spacing;

        // --- transition
        transition: $c-input-label-transition-property $c-input-transition-duration $c-input-transition-delay $c-input-transition-timing-function;
    }


    // ---


    .c-input_error {
        opacity: 0;

        // --- background
        background-color: $c-input-error-background-color;
        background-image: $c-input-error-background-image;
        background-position: $c-input-error-background-position;
        background-size: $c-input-error-background-size;
        background-repeat: $c-input-error-background-repeat;
        background-origin: $c-input-error-background-origin;
        background-clip: $c-input-error-background-clip;
        background-attachment: $c-input-error-background-attachment;

        // --- borders
        border-top-width: $c-input-error-border-top-width;
        border-top-style: $c-input-error-border-top-style;
        border-top-color: $c-input-error-border-top-color;
        border-right-width: $c-input-error-border-right-width;
        border-right-style: $c-input-error-border-right-style;
        border-right-color: $c-input-error-border-right-color;
        border-bottom-width: $c-input-error-border-bottom-width;
        border-bottom-style: $c-input-error-border-bottom-style;
        border-bottom-color: $c-input-error-border-bottom-color;
        border-left-width: $c-input-error-border-left-width;
        border-left-style: $c-input-error-border-left-style;
        border-left-color: $c-input-error-border-left-color;
        border-top-left-radius: $c-input-error-border-top-left-radius;
        border-top-right-radius: $c-input-error-border-top-right-radius;
        border-bottom-left-radius: $c-input-error-border-bottom-left-radius;
        border-bottom-right-radius: $c-input-error-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-input-error-box-shadow, $c-input-error-outline;

        // --- cursor
        cursor: pointer;

        // --- display
        display: $c-input-error-display;

        // --- margins
        margin-top: $c-input-error-margin-top;
        margin-right: $c-input-error-margin-right;
        margin-bottom: $c-input-error-margin-bottom;
        margin-left: $c-input-error-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-input-error-padding-top;
        padding-right: $c-input-error-padding-right;
        padding-bottom: $c-input-error-padding-bottom;
        padding-left: $c-input-error-padding-left;

        // --- position
        position: $c-input-error-position;
        top: $c-input-error-position-top;
        right: $c-input-error-position-right;
        bottom: $c-input-error-position-bottom;
        left: $c-input-error-position-left;
        z-index: $c-input-error-position-zindex;

        // --- resize
        resize: vertical;

        // --- sizing
        width: $c-input-error-width;
        min-width: $c-input-error-min-width;
        max-width: $c-input-error-max-width;
        height: $c-input-error-height;
        min-height: $c-input-error-min-height;
        max-height: $c-input-error-max-height;

        // --- text
        color: $c-input-error-font-color;
        font-family: $c-input-error-font-family;
        font-size: $c-input-error-font-size;
        font-style: $c-input-error-font-style;
        font-variant: $c-input-error-font-variant;
        font-weight: $c-input-error-font-weight;
        letter-spacing: $c-input-error-letter-spacing;
        line-height: $c-input-error-line-height;
        text-align: $c-input-error-text-align;
        text-decoration: $c-input-error-text-decoration;
        text-indent: 0;
        text-overflow: $c-input-error-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-input-error-text-transform;
        text-shadow: $c-input-error-text-shadow;
        vertical-align: $c-input-error-vertical-align;
        white-space: $c-input-error-white-space;
        word-spacing: $c-input-error-word-spacing;

        // --- transition
        transition: $c-input-error-transition-property $c-input-transition-duration $c-input-transition-delay $c-input-transition-timing-function;
    }


    // ---


    // --- State: hover
    &:hover {

        input {
            // --- background
            background-color: $c-input-hover-background-color;
            background-image: $c-input-hover-background-image;
            background-position: $c-input-hover-background-position;
            background-size: $c-input-hover-background-size;
            background-repeat: $c-input-hover-background-repeat;
            background-origin: $c-input-hover-background-origin;
            background-clip: $c-input-hover-background-clip;
            background-attachment: $c-input-hover-background-attachment;

            // --- borders
            border-top-width: $c-input-hover-border-top-width;
            border-top-style: $c-input-hover-border-top-style;
            border-top-color: $c-input-hover-border-top-color;
            border-right-width: $c-input-hover-border-right-width;
            border-right-style: $c-input-hover-border-right-style;
            border-right-color: $c-input-hover-border-right-color;
            border-bottom-width: $c-input-hover-border-bottom-width;
            border-bottom-style: $c-input-hover-border-bottom-style;
            border-bottom-color: $c-input-hover-border-bottom-color;
            border-left-width: $c-input-hover-border-left-width;
            border-left-style: $c-input-hover-border-left-style;
            border-left-color: $c-input-hover-border-left-color;
            border-top-left-radius: $c-input-hover-border-top-left-radius;
            border-top-right-radius: $c-input-hover-border-top-right-radius;
            border-bottom-left-radius: $c-input-hover-border-bottom-left-radius;
            border-bottom-right-radius: $c-input-hover-border-bottom-right-radius;

            // --- box-shadow
            box-shadow: $c-input-hover-box-shadow, $c-input-hover-outline;

            // --- display
            display: $c-input-hover-display;

            // --- margins
            margin-top: $c-input-hover-margin-top;
            margin-right: $c-input-hover-margin-right;
            margin-bottom: $c-input-hover-margin-bottom;
            margin-left: $c-input-hover-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-input-hover-padding-top;
            padding-right: $c-input-hover-padding-right;
            padding-bottom: $c-input-hover-padding-bottom;
            padding-left: $c-input-hover-padding-left;

            // --- position
            position: $c-input-hover-position;
            top: $c-input-hover-position-top;
            right: $c-input-hover-position-right;
            bottom: $c-input-hover-position-bottom;
            left: $c-input-hover-position-left;
            z-index: $c-input-hover-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-input-hover-width;
            min-width: $c-input-hover-min-width;
            max-width: $c-input-hover-max-width;
            height: $c-input-hover-height;
            min-height: $c-input-hover-min-height;
            max-height: $c-input-hover-max-height;

            // --- text
            color: $c-input-hover-font-color;
            font-family: $c-input-hover-font-family;
            font-size: $c-input-hover-font-size;
            font-style: $c-input-hover-font-style;
            font-variant: $c-input-hover-font-variant;
            font-weight: $c-input-hover-font-weight;
            letter-spacing: $c-input-hover-letter-spacing;
            line-height: $c-input-hover-line-height;
            text-align: $c-input-hover-text-align;
            text-decoration: $c-input-hover-text-decoration;
            text-indent: 0;
            text-overflow: $c-input-hover-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-input-hover-text-transform;
            text-shadow: $c-input-hover-text-shadow;
            vertical-align: $c-input-hover-vertical-align;
            white-space: $c-input-hover-white-space;
            word-spacing: $c-input-hover-word-spacing;
        }


        // ---


        label {
            // --- background
            background-color: $c-input-label-hover-background-color;
            background-image: $c-input-label-hover-background-image;
            background-position: $c-input-label-hover-background-position;
            background-size: $c-input-label-hover-background-size;
            background-repeat: $c-input-label-hover-background-repeat;
            background-origin: $c-input-label-hover-background-origin;
            background-clip: $c-input-label-hover-background-clip;
            background-attachment: $c-input-label-hover-background-attachment;

            // --- borders
            border-top-width: $c-input-label-hover-border-top-width;
            border-top-style: $c-input-label-hover-border-top-style;
            border-top-color: $c-input-label-hover-border-top-color;
            border-right-width: $c-input-label-hover-border-right-width;
            border-right-style: $c-input-label-hover-border-right-style;
            border-right-color: $c-input-label-hover-border-right-color;
            border-bottom-width: $c-input-label-hover-border-bottom-width;
            border-bottom-style: $c-input-label-hover-border-bottom-style;
            border-bottom-color: $c-input-label-hover-border-bottom-color;
            border-left-width: $c-input-label-hover-border-left-width;
            border-left-style: $c-input-label-hover-border-left-style;
            border-left-color: $c-input-label-hover-border-left-color;
            border-top-left-radius: $c-input-label-hover-border-top-left-radius;
            border-top-right-radius: $c-input-label-hover-border-top-right-radius;
            border-bottom-left-radius: $c-input-label-hover-border-bottom-left-radius;
            border-bottom-right-radius: $c-input-label-hover-border-bottom-right-radius;

            // --- cursor
            cursor: pointer;

            // --- display
            display: $c-input-label-hover-display;

            // --- margins
            margin-top: $c-input-label-hover-margin-top;
            margin-right: $c-input-label-hover-margin-right;
            margin-bottom: $c-input-label-hover-margin-bottom;
            margin-left: $c-input-label-hover-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-input-label-hover-padding-top;
            padding-right: $c-input-label-hover-padding-right;
            padding-bottom: $c-input-label-hover-padding-bottom;
            padding-left: $c-input-label-hover-padding-left;

            // --- position
            position: $c-input-label-hover-position;
            top: $c-input-label-hover-position-top;
            right: $c-input-label-hover-position-right;
            bottom: $c-input-label-hover-position-bottom;
            left: $c-input-label-hover-position-left;
            z-index: $c-input-label-hover-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-input-label-hover-width;
            min-width: $c-input-label-hover-min-width;
            max-width: $c-input-label-hover-max-width;
            height: $c-input-label-hover-height;
            min-height: $c-input-label-hover-min-height;
            max-height: $c-input-label-hover-max-height;

            // --- text
            color: $c-input-label-hover-font-color;
            font-family: $c-input-label-hover-font-family;
            font-size: $c-input-label-hover-font-size;
            font-style: $c-input-label-hover-font-style;
            font-variant: $c-input-label-hover-font-variant;
            font-weight: $c-input-label-hover-font-weight;
            letter-spacing: $c-input-label-hover-letter-spacing;
            line-height: $c-input-label-hover-line-height;
            text-align: $c-input-label-hover-text-align;
            text-decoration: $c-input-label-hover-text-decoration;
            text-indent: 0;
            text-overflow: $c-input-label-hover-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-input-label-hover-text-transform;
            text-shadow: $c-input-label-hover-text-shadow;
            vertical-align: $c-input-label-hover-vertical-align;
            white-space: $c-input-label-hover-white-space;
            word-spacing: $c-input-label-hover-word-spacing;
        }
    }


    // ---


    // --- State focus
    &.has-focus {
        input {
            // --- background
            background-color: $c-input-focus-background-color;
            background-image: $c-input-focus-background-image;
            background-position: $c-input-focus-background-position;
            background-size: $c-input-focus-background-size;
            background-repeat: $c-input-focus-background-repeat;
            background-origin: $c-input-focus-background-origin;
            background-clip: $c-input-focus-background-clip;
            background-attachment: $c-input-focus-background-attachment;

            // --- borders
            border-top-width: $c-input-focus-border-top-width;
            border-top-style: $c-input-focus-border-top-style;
            border-top-color: $c-input-focus-border-top-color;
            border-right-width: $c-input-focus-border-right-width;
            border-right-style: $c-input-focus-border-right-style;
            border-right-color: $c-input-focus-border-right-color;
            border-bottom-width: $c-input-focus-border-bottom-width;
            border-bottom-style: $c-input-focus-border-bottom-style;
            border-bottom-color: $c-input-focus-border-bottom-color;
            border-left-width: $c-input-focus-border-left-width;
            border-left-style: $c-input-focus-border-left-style;
            border-left-color: $c-input-focus-border-left-color;
            border-top-left-radius: $c-input-focus-border-top-left-radius;
            border-top-right-radius: $c-input-focus-border-top-right-radius;
            border-bottom-left-radius: $c-input-focus-border-bottom-left-radius;
            border-bottom-right-radius: $c-input-focus-border-bottom-right-radius;

            // --- box-shadow
            box-shadow: $c-input-focus-box-shadow, $c-input-focus-outline;

            // --- display
            display: $c-input-focus-display;

            // --- margins
            margin-top: $c-input-focus-margin-top;
            margin-right: $c-input-focus-margin-right;
            margin-bottom: $c-input-focus-margin-bottom;
            margin-left: $c-input-focus-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-input-focus-padding-top;
            padding-right: $c-input-focus-padding-right;
            padding-bottom: $c-input-focus-padding-bottom;
            padding-left: $c-input-focus-padding-left;

            // --- position
            position: $c-input-focus-position;
            top: $c-input-focus-position-top;
            right: $c-input-focus-position-right;
            bottom: $c-input-focus-position-bottom;
            left: $c-input-focus-position-left;
            z-index: $c-input-focus-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-input-focus-width;
            min-width: $c-input-focus-min-width;
            max-width: $c-input-focus-max-width;
            height: $c-input-focus-height;
            min-height: $c-input-focus-min-height;
            max-height: $c-input-focus-max-height;

            // --- text
            color: $c-input-focus-font-color;
            font-family: $c-input-focus-font-family;
            font-size: $c-input-focus-font-size;
            font-style: $c-input-focus-font-style;
            font-variant: $c-input-focus-font-variant;
            font-weight: $c-input-focus-font-weight;
            letter-spacing: $c-input-focus-letter-spacing;
            line-height: $c-input-focus-line-height;
            text-align: $c-input-focus-text-align;
            text-decoration: $c-input-focus-text-decoration;
            text-indent: 0;
            text-overflow: $c-input-focus-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-input-focus-text-transform;
            text-shadow: $c-input-focus-text-shadow;
            vertical-align: $c-input-focus-vertical-align;
            white-space: $c-input-focus-white-space;
            word-spacing: $c-input-focus-word-spacing;
        }


        // ---


        label {
            // --- background
            background-color: $c-input-label-focus-background-color;
            background-image: $c-input-label-focus-background-image;
            background-position: $c-input-label-focus-background-position;
            background-size: $c-input-label-focus-background-size;
            background-repeat: $c-input-label-focus-background-repeat;
            background-origin: $c-input-label-focus-background-origin;
            background-clip: $c-input-label-focus-background-clip;
            background-attachment: $c-input-label-focus-background-attachment;

            // --- borders
            border-top-width: $c-input-label-focus-border-top-width;
            border-top-style: $c-input-label-focus-border-top-style;
            border-top-color: $c-input-label-focus-border-top-color;
            border-right-width: $c-input-label-focus-border-right-width;
            border-right-style: $c-input-label-focus-border-right-style;
            border-right-color: $c-input-label-focus-border-right-color;
            border-bottom-width: $c-input-label-focus-border-bottom-width;
            border-bottom-style: $c-input-label-focus-border-bottom-style;
            border-bottom-color: $c-input-label-focus-border-bottom-color;
            border-left-width: $c-input-label-focus-border-left-width;
            border-left-style: $c-input-label-focus-border-left-style;
            border-left-color: $c-input-label-focus-border-left-color;
            border-top-left-radius: $c-input-label-focus-border-top-left-radius;
            border-top-right-radius: $c-input-label-focus-border-top-right-radius;
            border-bottom-left-radius: $c-input-label-focus-border-bottom-left-radius;
            border-bottom-right-radius: $c-input-label-focus-border-bottom-right-radius;

            // --- cursor
            cursor: pointer;

            // --- display
            display: $c-input-label-focus-display;

            // --- margins
            margin-top: $c-input-label-focus-margin-top;
            margin-right: $c-input-label-focus-margin-right;
            margin-bottom: $c-input-label-focus-margin-bottom;
            margin-left: $c-input-label-focus-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-input-label-focus-padding-top;
            padding-right: $c-input-label-focus-padding-right;
            padding-bottom: $c-input-label-focus-padding-bottom;
            padding-left: $c-input-label-focus-padding-left;

            // --- position
            position: $c-input-label-focus-position;
            top: $c-input-label-focus-position-top;
            right: $c-input-label-focus-position-right;
            bottom: $c-input-label-focus-position-bottom;
            left: $c-input-label-focus-position-left;
            z-index: $c-input-label-focus-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-input-label-focus-width;
            min-width: $c-input-label-focus-min-width;
            max-width: $c-input-label-focus-max-width;
            height: $c-input-label-focus-height;
            min-height: $c-input-label-focus-min-height;
            max-height: $c-input-label-focus-max-height;

            // --- text
            color: $c-input-label-focus-font-color;
            font-family: $c-input-label-focus-font-family;
            font-size: $c-input-label-focus-font-size;
            font-style: $c-input-label-focus-font-style;
            font-variant: $c-input-label-focus-font-variant;
            font-weight: $c-input-label-focus-font-weight;
            letter-spacing: $c-input-label-focus-letter-spacing;
            line-height: $c-input-label-focus-line-height;
            text-align: $c-input-label-focus-text-align;
            text-decoration: $c-input-label-focus-text-decoration;
            text-indent: 0;
            text-overflow: $c-input-label-focus-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-input-label-focus-text-transform;
            text-shadow: $c-input-label-focus-text-shadow;
            vertical-align: $c-input-label-focus-vertical-align;
            white-space: $c-input-label-focus-white-space;
            word-spacing: $c-input-label-focus-word-spacing;
        }
    }


    // ---



    // --- State: invalid || required
    &.is-invalid,
    &.is-required {
        input {
            // --- background
            background-color: $c-input-invalid-background-color;
            background-image: $c-input-invalid-background-image;
            background-position: $c-input-invalid-background-position;
            background-size: $c-input-invalid-background-size;
            background-repeat: $c-input-invalid-background-repeat;
            background-origin: $c-input-invalid-background-origin;
            background-clip: $c-input-invalid-background-clip;
            background-attachment: $c-input-invalid-background-attachment;

            // --- borders
            border-top-width: $c-input-invalid-border-top-width;
            border-top-style: $c-input-invalid-border-top-style;
            border-top-color: $c-input-invalid-border-top-color;
            border-right-width: $c-input-invalid-border-right-width;
            border-right-style: $c-input-invalid-border-right-style;
            border-right-color: $c-input-invalid-border-right-color;
            border-bottom-width: $c-input-invalid-border-bottom-width;
            border-bottom-style: $c-input-invalid-border-bottom-style;
            border-bottom-color: $c-input-invalid-border-bottom-color;
            border-left-width: $c-input-invalid-border-left-width;
            border-left-style: $c-input-invalid-border-left-style;
            border-left-color: $c-input-invalid-border-left-color;
            border-top-left-radius: $c-input-invalid-border-top-left-radius;
            border-top-right-radius: $c-input-invalid-border-top-right-radius;
            border-bottom-left-radius: $c-input-invalid-border-bottom-left-radius;
            border-bottom-right-radius: $c-input-invalid-border-bottom-right-radius;

            // --- box-shadow
            box-shadow: $c-input-invalid-box-shadow, $c-input-invalid-outline;

            // --- display
            display: $c-input-invalid-display;

            // --- margins
            margin-top: $c-input-invalid-margin-top;
            margin-right: $c-input-invalid-margin-right;
            margin-bottom: $c-input-invalid-margin-bottom;
            margin-left: $c-input-invalid-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-input-invalid-padding-top;
            padding-right: $c-input-invalid-padding-right;
            padding-bottom: $c-input-invalid-padding-bottom;
            padding-left: $c-input-invalid-padding-left;

            // --- position
            position: $c-input-invalid-position;
            top: $c-input-invalid-position-top;
            right: $c-input-invalid-position-right;
            bottom: $c-input-invalid-position-bottom;
            left: $c-input-invalid-position-left;
            z-index: $c-input-invalid-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-input-invalid-width;
            min-width: $c-input-invalid-min-width;
            max-width: $c-input-invalid-max-width;
            height: $c-input-invalid-height;
            min-height: $c-input-invalid-min-height;
            max-height: $c-input-invalid-max-height;

            // --- text
            color: $c-input-invalid-font-color;
            font-family: $c-input-invalid-font-family;
            font-size: $c-input-invalid-font-size;
            font-style: $c-input-invalid-font-style;
            font-variant: $c-input-invalid-font-variant;
            font-weight: $c-input-invalid-font-weight;
            letter-spacing: $c-input-invalid-letter-spacing;
            line-height: $c-input-invalid-line-height;
            text-align: $c-input-invalid-text-align;
            text-decoration: $c-input-invalid-text-decoration;
            text-indent: 0;
            text-overflow: $c-input-invalid-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-input-invalid-text-transform;
            text-shadow: $c-input-invalid-text-shadow;
            vertical-align: $c-input-invalid-vertical-align;
            white-space: $c-input-invalid-white-space;
            word-spacing: $c-input-invalid-word-spacing;
        }


        // ---


        label {
            // --- background
            background-color: $c-input-label-invalid-background-color;
            background-image: $c-input-label-invalid-background-image;
            background-position: $c-input-label-invalid-background-position;
            background-size: $c-input-label-invalid-background-size;
            background-repeat: $c-input-label-invalid-background-repeat;
            background-origin: $c-input-label-invalid-background-origin;
            background-clip: $c-input-label-invalid-background-clip;
            background-attachment: $c-input-label-invalid-background-attachment;

            // --- borders
            border-top-width: $c-input-label-invalid-border-top-width;
            border-top-style: $c-input-label-invalid-border-top-style;
            border-top-color: $c-input-label-invalid-border-top-color;
            border-right-width: $c-input-label-invalid-border-right-width;
            border-right-style: $c-input-label-invalid-border-right-style;
            border-right-color: $c-input-label-invalid-border-right-color;
            border-bottom-width: $c-input-label-invalid-border-bottom-width;
            border-bottom-style: $c-input-label-invalid-border-bottom-style;
            border-bottom-color: $c-input-label-invalid-border-bottom-color;
            border-left-width: $c-input-label-invalid-border-left-width;
            border-left-style: $c-input-label-invalid-border-left-style;
            border-left-color: $c-input-label-invalid-border-left-color;
            border-top-left-radius: $c-input-label-invalid-border-top-left-radius;
            border-top-right-radius: $c-input-label-invalid-border-top-right-radius;
            border-bottom-left-radius: $c-input-label-invalid-border-bottom-left-radius;
            border-bottom-right-radius: $c-input-label-invalid-border-bottom-right-radius;

            // --- cursor
            cursor: pointer;

            // --- display
            display: $c-input-label-invalid-display;

            // --- margins
            margin-top: $c-input-label-invalid-margin-top;
            margin-right: $c-input-label-invalid-margin-right;
            margin-bottom: $c-input-label-invalid-margin-bottom;
            margin-left: $c-input-label-invalid-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-input-label-invalid-padding-top;
            padding-right: $c-input-label-invalid-padding-right;
            padding-bottom: $c-input-label-invalid-padding-bottom;
            padding-left: $c-input-label-invalid-padding-left;

            // --- position
            position: $c-input-label-invalid-position;
            top: $c-input-label-invalid-position-top;
            right: $c-input-label-invalid-position-right;
            bottom: $c-input-label-invalid-position-bottom;
            left: $c-input-label-invalid-position-left;
            z-index: $c-input-label-invalid-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-input-label-invalid-width;
            min-width: $c-input-label-invalid-min-width;
            max-width: $c-input-label-invalid-max-width;
            height: $c-input-label-invalid-height;
            min-height: $c-input-label-invalid-min-height;
            max-height: $c-input-label-invalid-max-height;

            // --- text
            color: $c-input-label-invalid-font-color;
            font-family: $c-input-label-invalid-font-family;
            font-size: $c-input-label-invalid-font-size;
            font-style: $c-input-label-invalid-font-style;
            font-variant: $c-input-label-invalid-font-variant;
            font-weight: $c-input-label-invalid-font-weight;
            letter-spacing: $c-input-label-invalid-letter-spacing;
            line-height: $c-input-label-invalid-line-height;
            text-align: $c-input-label-invalid-text-align;
            text-decoration: $c-input-label-invalid-text-decoration;
            text-indent: 0;
            text-overflow: $c-input-label-invalid-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-input-label-invalid-text-transform;
            text-shadow: $c-input-label-invalid-text-shadow;
            vertical-align: $c-input-label-invalid-vertical-align;
            white-space: $c-input-label-invalid-white-space;
            word-spacing: $c-input-label-invalid-word-spacing;
        }


        // ---


        .c-input_error {
            opacity: 1;
        }


        // ---


        // --- state: invalid & hover
        &:hover {
            input {
                // --- background
                background-color: $c-input-invalid-hover-background-color;
                background-image: $c-input-invalid-hover-background-image;
                background-position: $c-input-invalid-hover-background-position;
                background-size: $c-input-invalid-hover-background-size;
                background-repeat: $c-input-invalid-hover-background-repeat;
                background-origin: $c-input-invalid-hover-background-origin;
                background-clip: $c-input-invalid-hover-background-clip;
                background-attachment: $c-input-invalid-hover-background-attachment;

                // --- borders
                border-top-width: $c-input-invalid-hover-border-top-width;
                border-top-style: $c-input-invalid-hover-border-top-style;
                border-top-color: $c-input-invalid-hover-border-top-color;
                border-right-width: $c-input-invalid-hover-border-right-width;
                border-right-style: $c-input-invalid-hover-border-right-style;
                border-right-color: $c-input-invalid-hover-border-right-color;
                border-bottom-width: $c-input-invalid-hover-border-bottom-width;
                border-bottom-style: $c-input-invalid-hover-border-bottom-style;
                border-bottom-color: $c-input-invalid-hover-border-bottom-color;
                border-left-width: $c-input-invalid-hover-border-left-width;
                border-left-style: $c-input-invalid-hover-border-left-style;
                border-left-color: $c-input-invalid-hover-border-left-color;
                border-top-left-radius: $c-input-invalid-hover-border-top-left-radius;
                border-top-right-radius: $c-input-invalid-hover-border-top-right-radius;
                border-bottom-left-radius: $c-input-invalid-hover-border-bottom-left-radius;
                border-bottom-right-radius: $c-input-invalid-hover-border-bottom-right-radius;

                // --- box-shadow
                box-shadow: $c-input-invalid-hover-box-shadow, $c-input-invalid-hover-outline;

                // --- display
                display: $c-input-invalid-hover-display;

                // --- margins
                margin-top: $c-input-invalid-hover-margin-top;
                margin-right: $c-input-invalid-hover-margin-right;
                margin-bottom: $c-input-invalid-hover-margin-bottom;
                margin-left: $c-input-invalid-hover-margin-left;

                // --- outline
                outline: 0;

                // --- padding
                padding-top: $c-input-invalid-hover-padding-top;
                padding-right: $c-input-invalid-hover-padding-right;
                padding-bottom: $c-input-invalid-hover-padding-bottom;
                padding-left: $c-input-invalid-hover-padding-left;

                // --- position
                position: $c-input-invalid-hover-position;
                top: $c-input-invalid-hover-position-top;
                right: $c-input-invalid-hover-position-right;
                bottom: $c-input-invalid-hover-position-bottom;
                left: $c-input-invalid-hover-position-left;
                z-index: $c-input-invalid-hover-position-zindex;

                // --- resize
                resize: vertical;

                // --- sizing
                width: $c-input-invalid-hover-width;
                min-width: $c-input-invalid-hover-min-width;
                max-width: $c-input-invalid-hover-max-width;
                height: $c-input-invalid-hover-height;
                min-height: $c-input-invalid-hover-min-height;
                max-height: $c-input-invalid-hover-max-height;

                // --- text
                color: $c-input-invalid-hover-font-color;
                font-family: $c-input-invalid-hover-font-family;
                font-size: $c-input-invalid-hover-font-size;
                font-style: $c-input-invalid-hover-font-style;
                font-variant: $c-input-invalid-hover-font-variant;
                font-weight: $c-input-invalid-hover-font-weight;
                letter-spacing: $c-input-invalid-hover-letter-spacing;
                line-height: $c-input-invalid-hover-line-height;
                text-align: $c-input-invalid-hover-text-align;
                text-decoration: $c-input-invalid-hover-text-decoration;
                text-indent: 0;
                text-overflow: $c-input-invalid-hover-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-input-invalid-hover-text-transform;
                text-shadow: $c-input-invalid-hover-text-shadow;
                vertical-align: $c-input-invalid-hover-vertical-align;
                white-space: $c-input-invalid-hover-white-space;
                word-spacing: $c-input-invalid-hover-word-spacing;
            }


            // ---


            label {
                // --- background
                background-color: $c-input-label-invalid-hover-background-color;
                background-image: $c-input-label-invalid-hover-background-image;
                background-position: $c-input-label-invalid-hover-background-position;
                background-size: $c-input-label-invalid-hover-background-size;
                background-repeat: $c-input-label-invalid-hover-background-repeat;
                background-origin: $c-input-label-invalid-hover-background-origin;
                background-clip: $c-input-label-invalid-hover-background-clip;
                background-attachment: $c-input-label-invalid-hover-background-attachment;

                // --- borders
                border-top-width: $c-input-label-invalid-hover-border-top-width;
                border-top-style: $c-input-label-invalid-hover-border-top-style;
                border-top-color: $c-input-label-invalid-hover-border-top-color;
                border-right-width: $c-input-label-invalid-hover-border-right-width;
                border-right-style: $c-input-label-invalid-hover-border-right-style;
                border-right-color: $c-input-label-invalid-hover-border-right-color;
                border-bottom-width: $c-input-label-invalid-hover-border-bottom-width;
                border-bottom-style: $c-input-label-invalid-hover-border-bottom-style;
                border-bottom-color: $c-input-label-invalid-hover-border-bottom-color;
                border-left-width: $c-input-label-invalid-hover-border-left-width;
                border-left-style: $c-input-label-invalid-hover-border-left-style;
                border-left-color: $c-input-label-invalid-hover-border-left-color;
                border-top-left-radius: $c-input-label-invalid-hover-border-top-left-radius;
                border-top-right-radius: $c-input-label-invalid-hover-border-top-right-radius;
                border-bottom-left-radius: $c-input-label-invalid-hover-border-bottom-left-radius;
                border-bottom-right-radius: $c-input-label-invalid-hover-border-bottom-right-radius;

                // --- cursor
                cursor: pointer;

                // --- display
                display: $c-input-label-invalid-hover-display;

                // --- margins
                margin-top: $c-input-label-invalid-hover-margin-top;
                margin-right: $c-input-label-invalid-hover-margin-right;
                margin-bottom: $c-input-label-invalid-hover-margin-bottom;
                margin-left: $c-input-label-invalid-hover-margin-left;

                // --- outline
                outline: 0;

                // --- padding
                padding-top: $c-input-label-invalid-hover-padding-top;
                padding-right: $c-input-label-invalid-hover-padding-right;
                padding-bottom: $c-input-label-invalid-hover-padding-bottom;
                padding-left: $c-input-label-invalid-hover-padding-left;

                // --- position
                position: $c-input-label-invalid-hover-position;
                top: $c-input-label-invalid-hover-position-top;
                right: $c-input-label-invalid-hover-position-right;
                bottom: $c-input-label-invalid-hover-position-bottom;
                left: $c-input-label-invalid-hover-position-left;
                z-index: $c-input-label-invalid-hover-position-zindex;

                // --- resize
                resize: vertical;

                // --- sizing
                width: $c-input-label-invalid-hover-width;
                min-width: $c-input-label-invalid-hover-min-width;
                max-width: $c-input-label-invalid-hover-max-width;
                height: $c-input-label-invalid-hover-height;
                min-height: $c-input-label-invalid-hover-min-height;
                max-height: $c-input-label-invalid-hover-max-height;

                // --- text
                color: $c-input-label-invalid-hover-font-color;
                font-family: $c-input-label-invalid-hover-font-family;
                font-size: $c-input-label-invalid-hover-font-size;
                font-style: $c-input-label-invalid-hover-font-style;
                font-variant: $c-input-label-invalid-hover-font-variant;
                font-weight: $c-input-label-invalid-hover-font-weight;
                letter-spacing: $c-input-label-invalid-hover-letter-spacing;
                line-height: $c-input-label-invalid-hover-line-height;
                text-align: $c-input-label-invalid-hover-text-align;
                text-decoration: $c-input-label-invalid-hover-text-decoration;
                text-indent: 0;
                text-overflow: $c-input-label-invalid-hover-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-input-label-invalid-hover-text-transform;
                text-shadow: $c-input-label-invalid-hover-text-shadow;
                vertical-align: $c-input-label-invalid-hover-vertical-align;
                white-space: $c-input-label-invalid-hover-white-space;
                word-spacing: $c-input-label-invalid-hover-word-spacing;
            }
        }


        // ---


        // --- state: is-invalid & has-focus
        &.has-focus {
            input {
                // --- background
                background-color: $c-input-invalid-focus-background-color;
                background-image: $c-input-invalid-focus-background-image;
                background-position: $c-input-invalid-focus-background-position;
                background-size: $c-input-invalid-focus-background-size;
                background-repeat: $c-input-invalid-focus-background-repeat;
                background-origin: $c-input-invalid-focus-background-origin;
                background-clip: $c-input-invalid-focus-background-clip;
                background-attachment: $c-input-invalid-focus-background-attachment;

                // --- borders
                border-top-width: $c-input-invalid-focus-border-top-width;
                border-top-style: $c-input-invalid-focus-border-top-style;
                border-top-color: $c-input-invalid-focus-border-top-color;
                border-right-width: $c-input-invalid-focus-border-right-width;
                border-right-style: $c-input-invalid-focus-border-right-style;
                border-right-color: $c-input-invalid-focus-border-right-color;
                border-bottom-width: $c-input-invalid-focus-border-bottom-width;
                border-bottom-style: $c-input-invalid-focus-border-bottom-style;
                border-bottom-color: $c-input-invalid-focus-border-bottom-color;
                border-left-width: $c-input-invalid-focus-border-left-width;
                border-left-style: $c-input-invalid-focus-border-left-style;
                border-left-color: $c-input-invalid-focus-border-left-color;
                border-top-left-radius: $c-input-invalid-focus-border-top-left-radius;
                border-top-right-radius: $c-input-invalid-focus-border-top-right-radius;
                border-bottom-left-radius: $c-input-invalid-focus-border-bottom-left-radius;
                border-bottom-right-radius: $c-input-invalid-focus-border-bottom-right-radius;

                // --- box-shadow
                box-shadow: $c-input-invalid-focus-box-shadow, $c-input-invalid-focus-outline;

                // --- display
                display: $c-input-invalid-focus-display;

                // --- margins
                margin-top: $c-input-invalid-focus-margin-top;
                margin-right: $c-input-invalid-focus-margin-right;
                margin-bottom: $c-input-invalid-focus-margin-bottom;
                margin-left: $c-input-invalid-focus-margin-left;

                // --- outline
                outline: 0;

                // --- padding
                padding-top: $c-input-invalid-focus-padding-top;
                padding-right: $c-input-invalid-focus-padding-right;
                padding-bottom: $c-input-invalid-focus-padding-bottom;
                padding-left: $c-input-invalid-focus-padding-left;

                // --- position
                position: $c-input-invalid-focus-position;
                top: $c-input-invalid-focus-position-top;
                right: $c-input-invalid-focus-position-right;
                bottom: $c-input-invalid-focus-position-bottom;
                left: $c-input-invalid-focus-position-left;
                z-index: $c-input-invalid-focus-position-zindex;

                // --- resize
                resize: vertical;

                // --- sizing
                width: $c-input-invalid-focus-width;
                min-width: $c-input-invalid-focus-min-width;
                max-width: $c-input-invalid-focus-max-width;
                height: $c-input-invalid-focus-height;
                min-height: $c-input-invalid-focus-min-height;
                max-height: $c-input-invalid-focus-max-height;

                // --- text
                color: $c-input-invalid-focus-font-color;
                font-family: $c-input-invalid-focus-font-family;
                font-size: $c-input-invalid-focus-font-size;
                font-style: $c-input-invalid-focus-font-style;
                font-variant: $c-input-invalid-focus-font-variant;
                font-weight: $c-input-invalid-focus-font-weight;
                letter-spacing: $c-input-invalid-focus-letter-spacing;
                line-height: $c-input-invalid-focus-line-height;
                text-align: $c-input-invalid-focus-text-align;
                text-decoration: $c-input-invalid-focus-text-decoration;
                text-indent: 0;
                text-overflow: $c-input-invalid-focus-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-input-invalid-focus-text-transform;
                text-shadow: $c-input-invalid-focus-text-shadow;
                vertical-align: $c-input-invalid-focus-vertical-align;
                white-space: $c-input-invalid-focus-white-space;
                word-spacing: $c-input-invalid-focus-word-spacing;
            }


            // ---


            label {
                // --- background
                background-color: $c-input-label-invalid-focus-background-color;
                background-image: $c-input-label-invalid-focus-background-image;
                background-position: $c-input-label-invalid-focus-background-position;
                background-size: $c-input-label-invalid-focus-background-size;
                background-repeat: $c-input-label-invalid-focus-background-repeat;
                background-origin: $c-input-label-invalid-focus-background-origin;
                background-clip: $c-input-label-invalid-focus-background-clip;
                background-attachment: $c-input-label-invalid-focus-background-attachment;

                // --- borders
                border-top-width: $c-input-label-invalid-focus-border-top-width;
                border-top-style: $c-input-label-invalid-focus-border-top-style;
                border-top-color: $c-input-label-invalid-focus-border-top-color;
                border-right-width: $c-input-label-invalid-focus-border-right-width;
                border-right-style: $c-input-label-invalid-focus-border-right-style;
                border-right-color: $c-input-label-invalid-focus-border-right-color;
                border-bottom-width: $c-input-label-invalid-focus-border-bottom-width;
                border-bottom-style: $c-input-label-invalid-focus-border-bottom-style;
                border-bottom-color: $c-input-label-invalid-focus-border-bottom-color;
                border-left-width: $c-input-label-invalid-focus-border-left-width;
                border-left-style: $c-input-label-invalid-focus-border-left-style;
                border-left-color: $c-input-label-invalid-focus-border-left-color;
                border-top-left-radius: $c-input-label-invalid-focus-border-top-left-radius;
                border-top-right-radius: $c-input-label-invalid-focus-border-top-right-radius;
                border-bottom-left-radius: $c-input-label-invalid-focus-border-bottom-left-radius;
                border-bottom-right-radius: $c-input-label-invalid-focus-border-bottom-right-radius;

                // --- cursor
                cursor: pointer;

                // --- display
                display: $c-input-label-invalid-focus-display;

                // --- margins
                margin-top: $c-input-label-invalid-focus-margin-top;
                margin-right: $c-input-label-invalid-focus-margin-right;
                margin-bottom: $c-input-label-invalid-focus-margin-bottom;
                margin-left: $c-input-label-invalid-focus-margin-left;

                // --- outline
                outline: 0;

                // --- padding
                padding-top: $c-input-label-invalid-focus-padding-top;
                padding-right: $c-input-label-invalid-focus-padding-right;
                padding-bottom: $c-input-label-invalid-focus-padding-bottom;
                padding-left: $c-input-label-invalid-focus-padding-left;

                // --- position
                position: $c-input-label-invalid-focus-position;
                top: $c-input-label-invalid-focus-position-top;
                right: $c-input-label-invalid-focus-position-right;
                bottom: $c-input-label-invalid-focus-position-bottom;
                left: $c-input-label-invalid-focus-position-left;
                z-index: $c-input-label-invalid-focus-position-zindex;

                // --- resize
                resize: vertical;

                // --- sizing
                width: $c-input-label-invalid-focus-width;
                min-width: $c-input-label-invalid-focus-min-width;
                max-width: $c-input-label-invalid-focus-max-width;
                height: $c-input-label-invalid-focus-height;
                min-height: $c-input-label-invalid-focus-min-height;
                max-height: $c-input-label-invalid-focus-max-height;

                // --- text
                color: $c-input-label-invalid-focus-font-color;
                font-family: $c-input-label-invalid-focus-font-family;
                font-size: $c-input-label-invalid-focus-font-size;
                font-style: $c-input-label-invalid-focus-font-style;
                font-variant: $c-input-label-invalid-focus-font-variant;
                font-weight: $c-input-label-invalid-focus-font-weight;
                letter-spacing: $c-input-label-invalid-focus-letter-spacing;
                line-height: $c-input-label-invalid-focus-line-height;
                text-align: $c-input-label-invalid-focus-text-align;
                text-decoration: $c-input-label-invalid-focus-text-decoration;
                text-indent: 0;
                text-overflow: $c-input-label-invalid-focus-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-input-label-invalid-focus-text-transform;
                text-shadow: $c-input-label-invalid-focus-text-shadow;
                vertical-align: $c-input-label-invalid-focus-vertical-align;
                white-space: $c-input-label-invalid-focus-white-space;
                word-spacing: $c-input-label-invalid-focus-word-spacing;
            }
        }
    }


    // ---


    // --- State: disabled
    &.is-disabled {
        input {
            cursor: not-allowed;

            // --- background
            background-color: $c-input-disabled-background-color;
            background-image: $c-input-disabled-background-image;
            background-position: $c-input-disabled-background-position;
            background-size: $c-input-disabled-background-size;
            background-repeat: $c-input-disabled-background-repeat;
            background-origin: $c-input-disabled-background-origin;
            background-clip: $c-input-disabled-background-clip;
            background-attachment: $c-input-disabled-background-attachment;

            // --- borders
            border-top-width: $c-input-disabled-border-top-width;
            border-top-style: $c-input-disabled-border-top-style;
            border-top-color: $c-input-disabled-border-top-color;
            border-right-width: $c-input-disabled-border-right-width;
            border-right-style: $c-input-disabled-border-right-style;
            border-right-color: $c-input-disabled-border-right-color;
            border-bottom-width: $c-input-disabled-border-bottom-width;
            border-bottom-style: $c-input-disabled-border-bottom-style;
            border-bottom-color: $c-input-disabled-border-bottom-color;
            border-left-width: $c-input-disabled-border-left-width;
            border-left-style: $c-input-disabled-border-left-style;
            border-left-color: $c-input-disabled-border-left-color;
            border-top-left-radius: $c-input-disabled-border-top-left-radius;
            border-top-right-radius: $c-input-disabled-border-top-right-radius;
            border-bottom-left-radius: $c-input-disabled-border-bottom-left-radius;
            border-bottom-right-radius: $c-input-disabled-border-bottom-right-radius;

            // --- box-shadow
            box-shadow: $c-input-disabled-box-shadow, $c-input-disabled-outline;

            // --- display
            display: $c-input-disabled-display;

            // --- margins
            margin-top: $c-input-disabled-margin-top;
            margin-right: $c-input-disabled-margin-right;
            margin-bottom: $c-input-disabled-margin-bottom;
            margin-left: $c-input-disabled-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-input-disabled-padding-top;
            padding-right: $c-input-disabled-padding-right;
            padding-bottom: $c-input-disabled-padding-bottom;
            padding-left: $c-input-disabled-padding-left;

            // --- position
            position: $c-input-disabled-position;
            top: $c-input-disabled-position-top;
            right: $c-input-disabled-position-right;
            bottom: $c-input-disabled-position-bottom;
            left: $c-input-disabled-position-left;
            z-index: $c-input-disabled-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-input-disabled-width;
            min-width: $c-input-disabled-min-width;
            max-width: $c-input-disabled-max-width;
            height: $c-input-disabled-height;
            min-height: $c-input-disabled-min-height;
            max-height: $c-input-disabled-max-height;

            // --- text
            color: $c-input-disabled-font-color;
            font-family: $c-input-disabled-font-family;
            font-size: $c-input-disabled-font-size;
            font-style: $c-input-disabled-font-style;
            font-variant: $c-input-disabled-font-variant;
            font-weight: $c-input-disabled-font-weight;
            letter-spacing: $c-input-disabled-letter-spacing;
            line-height: $c-input-disabled-line-height;
            text-align: $c-input-disabled-text-align;
            text-decoration: $c-input-disabled-text-decoration;
            text-indent: 0;
            text-overflow: $c-input-disabled-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-input-disabled-text-transform;
            text-shadow: $c-input-disabled-text-shadow;
            vertical-align: $c-input-disabled-vertical-align;
            white-space: $c-input-disabled-white-space;
            word-spacing: $c-input-disabled-word-spacing;
        }


        // ---


        label {
            // --- background
            background-color: $c-input-label-disabled-background-color;
            background-image: $c-input-label-disabled-background-image;
            background-position: $c-input-label-disabled-background-position;
            background-size: $c-input-label-disabled-background-size;
            background-repeat: $c-input-label-disabled-background-repeat;
            background-origin: $c-input-label-disabled-background-origin;
            background-clip: $c-input-label-disabled-background-clip;
            background-attachment: $c-input-label-disabled-background-attachment;

            // --- borders
            border-top-width: $c-input-label-disabled-border-top-width;
            border-top-style: $c-input-label-disabled-border-top-style;
            border-top-color: $c-input-label-disabled-border-top-color;
            border-right-width: $c-input-label-disabled-border-right-width;
            border-right-style: $c-input-label-disabled-border-right-style;
            border-right-color: $c-input-label-disabled-border-right-color;
            border-bottom-width: $c-input-label-disabled-border-bottom-width;
            border-bottom-style: $c-input-label-disabled-border-bottom-style;
            border-bottom-color: $c-input-label-disabled-border-bottom-color;
            border-left-width: $c-input-label-disabled-border-left-width;
            border-left-style: $c-input-label-disabled-border-left-style;
            border-left-color: $c-input-label-disabled-border-left-color;
            border-top-left-radius: $c-input-label-disabled-border-top-left-radius;
            border-top-right-radius: $c-input-label-disabled-border-top-right-radius;
            border-bottom-left-radius: $c-input-label-disabled-border-bottom-left-radius;
            border-bottom-right-radius: $c-input-label-disabled-border-bottom-right-radius;

            // --- cursor
            cursor: pointer;

            // --- display
            display: $c-input-label-disabled-display;

            // --- margins
            margin-top: $c-input-label-disabled-margin-top;
            margin-right: $c-input-label-disabled-margin-right;
            margin-bottom: $c-input-label-disabled-margin-bottom;
            margin-left: $c-input-label-disabled-margin-left;

            // --- outline
            outline: 0;

            // --- padding
            padding-top: $c-input-label-disabled-padding-top;
            padding-right: $c-input-label-disabled-padding-right;
            padding-bottom: $c-input-label-disabled-padding-bottom;
            padding-left: $c-input-label-disabled-padding-left;

            // --- position
            position: $c-input-label-disabled-position;
            top: $c-input-label-disabled-position-top;
            right: $c-input-label-disabled-position-right;
            bottom: $c-input-label-disabled-position-bottom;
            left: $c-input-label-disabled-position-left;
            z-index: $c-input-label-disabled-position-zindex;

            // --- resize
            resize: vertical;

            // --- sizing
            width: $c-input-label-disabled-width;
            min-width: $c-input-label-disabled-min-width;
            max-width: $c-input-label-disabled-max-width;
            height: $c-input-label-disabled-height;
            min-height: $c-input-label-disabled-min-height;
            max-height: $c-input-label-disabled-max-height;

            // --- text
            color: $c-input-label-disabled-font-color;
            font-family: $c-input-label-disabled-font-family;
            font-size: $c-input-label-disabled-font-size;
            font-style: $c-input-label-disabled-font-style;
            font-variant: $c-input-label-disabled-font-variant;
            font-weight: $c-input-label-disabled-font-weight;
            letter-spacing: $c-input-label-disabled-letter-spacing;
            line-height: $c-input-label-disabled-line-height;
            text-align: $c-input-label-disabled-text-align;
            text-decoration: $c-input-label-disabled-text-decoration;
            text-indent: 0;
            text-overflow: $c-input-label-disabled-text-overflow;
            text-rendering: geometricPrecision;
            text-transform: $c-input-label-disabled-text-transform;
            text-shadow: $c-input-label-disabled-text-shadow;
            vertical-align: $c-input-label-disabled-vertical-align;
            white-space: $c-input-label-disabled-white-space;
            word-spacing: $c-input-label-disabled-word-spacing;
        }


        // ---


        // --- State: diabled & hover
        &:hover {
            input {
                cursor: not-allowed;

                // --- background
                background-color: $c-input-disabled-hover-background-color;
                background-image: $c-input-disabled-hover-background-image;
                background-position: $c-input-disabled-hover-background-position;
                background-size: $c-input-disabled-hover-background-size;
                background-repeat: $c-input-disabled-hover-background-repeat;
                background-origin: $c-input-disabled-hover-background-origin;
                background-clip: $c-input-disabled-hover-background-clip;
                background-attachment: $c-input-disabled-hover-background-attachment;

                // --- borders
                border-top-width: $c-input-disabled-hover-border-top-width;
                border-top-style: $c-input-disabled-hover-border-top-style;
                border-top-color: $c-input-disabled-hover-border-top-color;
                border-right-width: $c-input-disabled-hover-border-right-width;
                border-right-style: $c-input-disabled-hover-border-right-style;
                border-right-color: $c-input-disabled-hover-border-right-color;
                border-bottom-width: $c-input-disabled-hover-border-bottom-width;
                border-bottom-style: $c-input-disabled-hover-border-bottom-style;
                border-bottom-color: $c-input-disabled-hover-border-bottom-color;
                border-left-width: $c-input-disabled-hover-border-left-width;
                border-left-style: $c-input-disabled-hover-border-left-style;
                border-left-color: $c-input-disabled-hover-border-left-color;
                border-top-left-radius: $c-input-disabled-hover-border-top-left-radius;
                border-top-right-radius: $c-input-disabled-hover-border-top-right-radius;
                border-bottom-left-radius: $c-input-disabled-hover-border-bottom-left-radius;
                border-bottom-right-radius: $c-input-disabled-hover-border-bottom-right-radius;

                // --- box-shadow
                box-shadow: $c-input-disabled-hover-box-shadow, $c-input-disabled-hover-outline;

                // --- display
                display: $c-input-disabled-hover-display;

                // --- margins
                margin-top: $c-input-disabled-hover-margin-top;
                margin-right: $c-input-disabled-hover-margin-right;
                margin-bottom: $c-input-disabled-hover-margin-bottom;
                margin-left: $c-input-disabled-hover-margin-left;

                // --- outline
                outline: 0;

                // --- padding
                padding-top: $c-input-disabled-hover-padding-top;
                padding-right: $c-input-disabled-hover-padding-right;
                padding-bottom: $c-input-disabled-hover-padding-bottom;
                padding-left: $c-input-disabled-hover-padding-left;

                // --- position
                position: $c-input-disabled-hover-position;
                top: $c-input-disabled-hover-position-top;
                right: $c-input-disabled-hover-position-right;
                bottom: $c-input-disabled-hover-position-bottom;
                left: $c-input-disabled-hover-position-left;
                z-index: $c-input-disabled-hover-position-zindex;

                // --- resize
                resize: vertical;

                // --- sizing
                width: $c-input-disabled-hover-width;
                min-width: $c-input-disabled-hover-min-width;
                max-width: $c-input-disabled-hover-max-width;
                height: $c-input-disabled-hover-height;
                min-height: $c-input-disabled-hover-min-height;
                max-height: $c-input-disabled-hover-max-height;

                // --- text
                color: $c-input-disabled-hover-font-color;
                font-family: $c-input-disabled-hover-font-family;
                font-size: $c-input-disabled-hover-font-size;
                font-style: $c-input-disabled-hover-font-style;
                font-variant: $c-input-disabled-hover-font-variant;
                font-weight: $c-input-disabled-hover-font-weight;
                letter-spacing: $c-input-disabled-hover-letter-spacing;
                line-height: $c-input-disabled-hover-line-height;
                text-align: $c-input-disabled-hover-text-align;
                text-decoration: $c-input-disabled-hover-text-decoration;
                text-indent: 0;
                text-overflow: $c-input-disabled-hover-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-input-disabled-hover-text-transform;
                text-shadow: $c-input-disabled-hover-text-shadow;
                vertical-align: $c-input-disabled-hover-vertical-align;
                white-space: $c-input-disabled-hover-white-space;
                word-spacing: $c-input-disabled-hover-word-spacing;
            }


            // ---


            label {
                // --- background
                background-color: $c-input-label-disabled-hover-background-color;
                background-image: $c-input-label-disabled-hover-background-image;
                background-position: $c-input-label-disabled-hover-background-position;
                background-size: $c-input-label-disabled-hover-background-size;
                background-repeat: $c-input-label-disabled-hover-background-repeat;
                background-origin: $c-input-label-disabled-hover-background-origin;
                background-clip: $c-input-label-disabled-hover-background-clip;
                background-attachment: $c-input-label-disabled-hover-background-attachment;

                // --- borders
                border-top-width: $c-input-label-disabled-hover-border-top-width;
                border-top-style: $c-input-label-disabled-hover-border-top-style;
                border-top-color: $c-input-label-disabled-hover-border-top-color;
                border-right-width: $c-input-label-disabled-hover-border-right-width;
                border-right-style: $c-input-label-disabled-hover-border-right-style;
                border-right-color: $c-input-label-disabled-hover-border-right-color;
                border-bottom-width: $c-input-label-disabled-hover-border-bottom-width;
                border-bottom-style: $c-input-label-disabled-hover-border-bottom-style;
                border-bottom-color: $c-input-label-disabled-hover-border-bottom-color;
                border-left-width: $c-input-label-disabled-hover-border-left-width;
                border-left-style: $c-input-label-disabled-hover-border-left-style;
                border-left-color: $c-input-label-disabled-hover-border-left-color;
                border-top-left-radius: $c-input-label-disabled-hover-border-top-left-radius;
                border-top-right-radius: $c-input-label-disabled-hover-border-top-right-radius;
                border-bottom-left-radius: $c-input-label-disabled-hover-border-bottom-left-radius;
                border-bottom-right-radius: $c-input-label-disabled-hover-border-bottom-right-radius;

                // --- cursor
                cursor: pointer;

                // --- display
                display: $c-input-label-disabled-hover-display;

                // --- margins
                margin-top: $c-input-label-disabled-hover-margin-top;
                margin-right: $c-input-label-disabled-hover-margin-right;
                margin-bottom: $c-input-label-disabled-hover-margin-bottom;
                margin-left: $c-input-label-disabled-hover-margin-left;

                // --- outline
                outline: 0;

                // --- padding
                padding-top: $c-input-label-disabled-hover-padding-top;
                padding-right: $c-input-label-disabled-hover-padding-right;
                padding-bottom: $c-input-label-disabled-hover-padding-bottom;
                padding-left: $c-input-label-disabled-hover-padding-left;

                // --- position
                position: $c-input-label-disabled-hover-position;
                top: $c-input-label-disabled-hover-position-top;
                right: $c-input-label-disabled-hover-position-right;
                bottom: $c-input-label-disabled-hover-position-bottom;
                left: $c-input-label-disabled-hover-position-left;
                z-index: $c-input-label-disabled-hover-position-zindex;

                // --- resize
                resize: vertical;

                // --- sizing
                width: $c-input-label-disabled-hover-width;
                min-width: $c-input-label-disabled-hover-min-width;
                max-width: $c-input-label-disabled-hover-max-width;
                height: $c-input-label-disabled-hover-height;
                min-height: $c-input-label-disabled-hover-min-height;
                max-height: $c-input-label-disabled-hover-max-height;

                // --- text
                color: $c-input-label-disabled-hover-font-color;
                font-family: $c-input-label-disabled-hover-font-family;
                font-size: $c-input-label-disabled-hover-font-size;
                font-style: $c-input-label-disabled-hover-font-style;
                font-variant: $c-input-label-disabled-hover-font-variant;
                font-weight: $c-input-label-disabled-hover-font-weight;
                letter-spacing: $c-input-label-disabled-hover-letter-spacing;
                line-height: $c-input-label-disabled-hover-line-height;
                text-align: $c-input-label-disabled-hover-text-align;
                text-decoration: $c-input-label-disabled-hover-text-decoration;
                text-indent: 0;
                text-overflow: $c-input-label-disabled-hover-text-overflow;
                text-rendering: geometricPrecision;
                text-transform: $c-input-label-disabled-hover-text-transform;
                text-shadow: $c-input-label-disabled-hover-text-shadow;
                vertical-align: $c-input-label-disabled-hover-vertical-align;
                white-space: $c-input-label-disabled-hover-white-space;
                word-spacing: $c-input-label-disabled-hover-word-spacing;
            }
        }
    }
}
