<!-- Forms: checkbox -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Form: <span>Checkbox</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>



            <c-fieldset legend="I am legend">
                <c-checkbox is="checkbox" id="checkbox-id-01" task="demo-purpose" label="Checkbox label"></c-checkbox><br />
                <c-checkbox is="checkbox" id="checkbox-id-02" task="demo-purpose" label="Checkbox label" checked></c-checkbox>
            </c-fieldset>



        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/forms/input-checkbox/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/forms/input-checkbox/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/forms/input-checkbox/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/forms/input-checkbox/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
    <article>
        <h3 class="styleguide-title fx-appear">Form: <span>Checkbox disabled</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">



            <c-fieldset legend="I am legend">
                <c-checkbox is="checkbox" id="checkbox-id-11" task="demo-purpose" label="Checkbox label" checked disabled></c-checkbox><br />
                <c-checkbox is="checkbox" id="checkbox-id-12" task="demo-purpose" label="Checkbox label" disabled></c-checkbox>
            </c-fieldset>



        </section>
    </article>
    <c-divider css="styleguide-divider"></c-divider>
</section>
