// c-quickfilter


.c-quickfilter {

    // --- defaults: hidden checkbox remains accessible
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;


    + label {

        // --- text
        color: $c-quickfilter-label-font-color;
        font-family: $c-quickfilter-label-font-family;
        font-size: $c-quickfilter-label-font-size;
        font-style: $c-quickfilter-label-font-style;
        font-variant: $c-quickfilter-label-font-variant;
        font-weight: $c-quickfilter-label-font-weight;
        letter-spacing: $c-quickfilter-label-letter-spacing;
        line-height: $c-quickfilter-label-line-height;
        text-align: $c-quickfilter-label-text-align;
        text-decoration: $c-quickfilter-label-text-decoration;
        text-indent: $c-quickfilter-label-text-indent;
        text-overflow: $c-quickfilter-label-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-quickfilter-label-text-transform;
        text-shadow: $c-quickfilter-label-text-shadow;
        vertical-align: $c-quickfilter-label-vertical-align;
        white-space: $c-quickfilter-label-white-space;
        word-spacing: $c-quickfilter-label-word-spacing;
        user-select: none;

        // --- container
        box-shadow: $c-quickfilter-container-box-shadow, $c-quickfilter-container-outline;
        background-color: $c-quickfilter-container-background-color;
        background-image: $c-quickfilter-container-background-image;
        background-position: $c-quickfilter-container-background-position;
        background-size: $c-quickfilter-container-background-size;
        background-repeat: $c-quickfilter-container-background-repeat;
        background-origin: $c-quickfilter-container-background-origin;
        background-clip: $c-quickfilter-container-background-clip;
        background-attachment: $c-quickfilter-container-background-attachment;
        border-top-width: $c-quickfilter-container-border-top-width;
        border-top-style: $c-quickfilter-container-border-top-style;
        border-top-color: $c-quickfilter-container-border-top-color;
        border-right-width: $c-quickfilter-container-border-right-width;
        border-right-style: $c-quickfilter-container-border-right-style;
        border-right-color: $c-quickfilter-container-border-right-color;
        border-bottom-width: $c-quickfilter-container-border-bottom-width;
        border-bottom-style: $c-quickfilter-container-border-bottom-style;
        border-bottom-color: $c-quickfilter-container-border-bottom-color;
        border-left-width: $c-quickfilter-container-border-left-width;
        border-left-style: $c-quickfilter-container-border-left-style;
        border-left-color: $c-quickfilter-container-border-left-color;
        border-top-left-radius: $c-quickfilter-container-border-top-left-radius;
        border-top-right-radius: $c-quickfilter-container-border-top-right-radius;
        border-bottom-left-radius: $c-quickfilter-container-border-bottom-left-radius;
        border-bottom-right-radius: $c-quickfilter-container-border-bottom-right-radius;
        display: $c-quickfilter-container-display;
        margin-top: $c-quickfilter-container-margin-top;
        margin-right: $c-quickfilter-container-margin-right;
        margin-bottom: $c-quickfilter-container-margin-bottom;
        margin-left: $c-quickfilter-container-margin-left;
        outline: 0;
        padding-top: $c-quickfilter-container-padding-top;
        padding-right: $c-quickfilter-container-padding-right;
        padding-bottom: $c-quickfilter-container-padding-bottom;
        padding-left: $c-quickfilter-container-padding-left;
        position: $c-quickfilter-container-position;
        top: $c-quickfilter-container-position-top;
        right: $c-quickfilter-container-position-right;
        bottom: $c-quickfilter-container-position-bottom;
        left: $c-quickfilter-container-position-left;
        z-index: $c-quickfilter-container-position-zindex;
        width: $c-quickfilter-container-width;
        min-width: $c-quickfilter-container-min-width;
        max-width: $c-quickfilter-container-max-width;
        height: $c-quickfilter-container-height;
        min-height: $c-quickfilter-container-min-height;
        max-height: $c-quickfilter-container-max-height;


        // --- icon
        .quickfilter-icon {
            display: block;
            position: $c-quickfilter-icon-position;
            top: $c-quickfilter-icon-position-top;
            right: $c-quickfilter-icon-position-right;
            bottom: $c-quickfilter-icon-position-bottom;
            left: $c-quickfilter-icon-position-left;
            z-index: $c-quickfilter-icon-position-zindex;
            width: $c-quickfilter-icon-width;
            min-width: $c-quickfilter-icon-min-width;
            max-width: $c-quickfilter-icon-max-width;
            height: $c-quickfilter-icon-height;
            min-height: $c-quickfilter-icon-min-height;
            max-height: $c-quickfilter-icon-max-height;
            opacity: $c-quickfilter-icon-opacity;
            transform: $c-quickfilter-icon-transform;
            will-change: $c-quickfilter-icon-transition-property;
            transition-property: $c-quickfilter-icon-transition-property;
            transition-delay: $c-quickfilter-transition-delay;
            transition-duration: $c-quickfilter-transition-duration;
            transition-timing-function: $c-quickfilter-transition-timing-function;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: $c-quickfilter-icon-border-width;
                background-color: $c-quickfilter-icon-border-color;
                will-change: background-color;
                transition-property: background-color;
                transition-delay: $c-quickfilter-transition-delay;
                transition-duration: $c-quickfilter-transition-duration;
                transition-timing-function: $c-quickfilter-transition-timing-function;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: $c-quickfilter-icon-border-width;
                height: 100%;
                background-color: $c-quickfilter-icon-border-color;
                will-change: background-color;
                transition-property: background-color;
                transition-delay: $c-quickfilter-transition-delay;
                transition-duration: $c-quickfilter-transition-duration;
                transition-timing-function: $c-quickfilter-transition-timing-function;
            }
        }

        // --- transition
        will-change: $c-quickfilter-label-transition-property, $c-quickfilter-container-transition-property;
        transition-property: $c-quickfilter-label-transition-property, $c-quickfilter-container-transition-property;
        transition-delay: $c-quickfilter-transition-delay;
        transition-duration: $c-quickfilter-transition-duration;
        transition-timing-function: $c-quickfilter-transition-timing-function;
    }



    // --- state: hover
    &:hover{
        + label {
            cursor: pointer;

            // --- text
            color: $c-quickfilter-label-hover-font-color;
            font-family: $c-quickfilter-label-hover-font-family;
            font-size: $c-quickfilter-label-hover-font-size;
            font-style: $c-quickfilter-label-hover-font-style;
            font-variant: $c-quickfilter-label-hover-font-variant;
            font-weight: $c-quickfilter-label-hover-font-weight;
            letter-spacing: $c-quickfilter-label-hover-letter-spacing;
            line-height: $c-quickfilter-label-hover-line-height;
            text-align: $c-quickfilter-label-hover-text-align;
            text-decoration: $c-quickfilter-label-hover-text-decoration;
            text-indent: $c-quickfilter-label-hover-text-indent;
            text-overflow: $c-quickfilter-label-hover-text-overflow;
            text-transform: $c-quickfilter-label-hover-text-transform;
            text-shadow: $c-quickfilter-label-hover-text-shadow;
            vertical-align: $c-quickfilter-label-hover-vertical-align;
            white-space: $c-quickfilter-label-hover-white-space;
            word-spacing: $c-quickfilter-label-hover-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-hover-box-shadow, $c-quickfilter-container-hover-outline;
            background-color: $c-quickfilter-container-hover-background-color;
            background-image: $c-quickfilter-container-hover-background-image;
            background-position: $c-quickfilter-container-hover-background-position;
            background-size: $c-quickfilter-container-hover-background-size;
            background-repeat: $c-quickfilter-container-hover-background-repeat;
            background-origin: $c-quickfilter-container-hover-background-origin;
            background-clip: $c-quickfilter-container-hover-background-clip;
            background-attachment: $c-quickfilter-container-hover-background-attachment;
            border-top-width: $c-quickfilter-container-hover-border-top-width;
            border-top-style: $c-quickfilter-container-hover-border-top-style;
            border-top-color: $c-quickfilter-container-hover-border-top-color;
            border-right-width: $c-quickfilter-container-hover-border-right-width;
            border-right-style: $c-quickfilter-container-hover-border-right-style;
            border-right-color: $c-quickfilter-container-hover-border-right-color;
            border-bottom-width: $c-quickfilter-container-hover-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-hover-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-hover-border-bottom-color;
            border-left-width: $c-quickfilter-container-hover-border-left-width;
            border-left-style: $c-quickfilter-container-hover-border-left-style;
            border-left-color: $c-quickfilter-container-hover-border-left-color;
            border-top-left-radius: $c-quickfilter-container-hover-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-hover-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-hover-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-hover-border-bottom-right-radius;
            display: $c-quickfilter-container-hover-display;
            margin-top: $c-quickfilter-container-hover-margin-top;
            margin-right: $c-quickfilter-container-hover-margin-right;
            margin-bottom: $c-quickfilter-container-hover-margin-bottom;
            margin-left: $c-quickfilter-container-hover-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-hover-padding-top;
            padding-right: $c-quickfilter-container-hover-padding-right;
            padding-bottom: $c-quickfilter-container-hover-padding-bottom;
            padding-left: $c-quickfilter-container-hover-padding-left;
            position: $c-quickfilter-container-hover-position;
            top: $c-quickfilter-container-hover-position-top;
            right: $c-quickfilter-container-hover-position-right;
            bottom: $c-quickfilter-container-hover-position-bottom;
            left: $c-quickfilter-container-hover-position-left;
            z-index: $c-quickfilter-container-hover-position-zindex;
            width: $c-quickfilter-container-hover-width;
            min-width: $c-quickfilter-container-hover-min-width;
            max-width: $c-quickfilter-container-hover-max-width;
            height: $c-quickfilter-container-hover-height;
            min-height: $c-quickfilter-container-hover-min-height;
            max-height: $c-quickfilter-container-hover-max-height;

            // icon
            .quickfilter-icon {
                opacity: $c-quickfilter-icon-hover-opacity;
                transform: $c-quickfilter-icon-hover-transform;

                &:before {
                    background-color: $c-quickfilter-icon-hover-border-color;
                }
                &:after {
                    background-color: $c-quickfilter-icon-hover-border-color;
                }
            }
        }
    }



    // --- state: focus
    &:focus {
        + label {
            // --- text
            color: $c-quickfilter-label-focus-font-color;
            font-family: $c-quickfilter-label-focus-font-family;
            font-size: $c-quickfilter-label-focus-font-size;
            font-style: $c-quickfilter-label-focus-font-style;
            font-variant: $c-quickfilter-label-focus-font-variant;
            font-weight: $c-quickfilter-label-focus-font-weight;
            letter-spacing: $c-quickfilter-label-focus-letter-spacing;
            line-height: $c-quickfilter-label-focus-line-height;
            text-align: $c-quickfilter-label-focus-text-align;
            text-decoration: $c-quickfilter-label-focus-text-decoration;
            text-indent: $c-quickfilter-label-focus-text-indent;
            text-overflow: $c-quickfilter-label-focus-text-overflow;
            text-transform: $c-quickfilter-label-focus-text-transform;
            text-shadow: $c-quickfilter-label-focus-text-shadow;
            vertical-align: $c-quickfilter-label-focus-vertical-align;
            white-space: $c-quickfilter-label-focus-white-space;
            word-spacing: $c-quickfilter-label-focus-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-focus-box-shadow, $c-quickfilter-container-focus-outline;
            background-color: $c-quickfilter-container-focus-background-color;
            background-image: $c-quickfilter-container-focus-background-image;
            background-position: $c-quickfilter-container-focus-background-position;
            background-size: $c-quickfilter-container-focus-background-size;
            background-repeat: $c-quickfilter-container-focus-background-repeat;
            background-origin: $c-quickfilter-container-focus-background-origin;
            background-clip: $c-quickfilter-container-focus-background-clip;
            background-attachment: $c-quickfilter-container-focus-background-attachment;
            border-top-width: $c-quickfilter-container-focus-border-top-width;
            border-top-style: $c-quickfilter-container-focus-border-top-style;
            border-top-color: $c-quickfilter-container-focus-border-top-color;
            border-right-width: $c-quickfilter-container-focus-border-right-width;
            border-right-style: $c-quickfilter-container-focus-border-right-style;
            border-right-color: $c-quickfilter-container-focus-border-right-color;
            border-bottom-width: $c-quickfilter-container-focus-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-focus-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-focus-border-bottom-color;
            border-left-width: $c-quickfilter-container-focus-border-left-width;
            border-left-style: $c-quickfilter-container-focus-border-left-style;
            border-left-color: $c-quickfilter-container-focus-border-left-color;
            border-top-left-radius: $c-quickfilter-container-focus-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-focus-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-focus-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-focus-border-bottom-right-radius;
            display: $c-quickfilter-container-focus-display;
            margin-top: $c-quickfilter-container-focus-margin-top;
            margin-right: $c-quickfilter-container-focus-margin-right;
            margin-bottom: $c-quickfilter-container-focus-margin-bottom;
            margin-left: $c-quickfilter-container-focus-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-focus-padding-top;
            padding-right: $c-quickfilter-container-focus-padding-right;
            padding-bottom: $c-quickfilter-container-focus-padding-bottom;
            padding-left: $c-quickfilter-container-focus-padding-left;
            position: $c-quickfilter-container-focus-position;
            top: $c-quickfilter-container-focus-position-top;
            right: $c-quickfilter-container-focus-position-right;
            bottom: $c-quickfilter-container-focus-position-bottom;
            left: $c-quickfilter-container-focus-position-left;
            z-index: $c-quickfilter-container-focus-position-zindex;
            width: $c-quickfilter-container-focus-width;
            min-width: $c-quickfilter-container-focus-min-width;
            max-width: $c-quickfilter-container-focus-max-width;
            height: $c-quickfilter-container-focus-height;
            min-height: $c-quickfilter-container-focus-min-height;
            max-height: $c-quickfilter-container-focus-max-height;

            // --- icon
            .quickfilter-icon {
                opacity: $c-quickfilter-icon-focus-opacity;
                transform: $c-quickfilter-icon-focus-transform;

                &:before {
                    background-color: $c-quickfilter-icon-focus-border-color;
                }
                &:after {
                    background-color: $c-quickfilter-icon-focus-border-color;
                }
            }
        }
    }



    // --- state: checked
    &:checked {
        + label {
            // --- text
            color: $c-quickfilter-label-checked-font-color;
            font-family: $c-quickfilter-label-checked-font-family;
            font-size: $c-quickfilter-label-checked-font-size;
            font-style: $c-quickfilter-label-checked-font-style;
            font-variant: $c-quickfilter-label-checked-font-variant;
            font-weight: $c-quickfilter-label-checked-font-weight;
            letter-spacing: $c-quickfilter-label-checked-letter-spacing;
            line-height: $c-quickfilter-label-checked-line-height;
            text-align: $c-quickfilter-label-checked-text-align;
            text-decoration: $c-quickfilter-label-checked-text-decoration;
            text-indent: $c-quickfilter-label-checked-text-indent;
            text-overflow: $c-quickfilter-label-checked-text-overflow;
            text-transform: $c-quickfilter-label-checked-text-transform;
            text-shadow: $c-quickfilter-label-checked-text-shadow;
            vertical-align: $c-quickfilter-label-checked-vertical-align;
            white-space: $c-quickfilter-label-checked-white-space;
            word-spacing: $c-quickfilter-label-checked-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-checked-box-shadow, $c-quickfilter-container-checked-outline;
            background-color: $c-quickfilter-container-checked-background-color;
            background-image: $c-quickfilter-container-checked-background-image;
            background-position: $c-quickfilter-container-checked-background-position;
            background-size: $c-quickfilter-container-checked-background-size;
            background-repeat: $c-quickfilter-container-checked-background-repeat;
            background-origin: $c-quickfilter-container-checked-background-origin;
            background-clip: $c-quickfilter-container-checked-background-clip;
            background-attachment: $c-quickfilter-container-checked-background-attachment;
            border-top-width: $c-quickfilter-container-checked-border-top-width;
            border-top-style: $c-quickfilter-container-checked-border-top-style;
            border-top-color: $c-quickfilter-container-checked-border-top-color;
            border-right-width: $c-quickfilter-container-checked-border-right-width;
            border-right-style: $c-quickfilter-container-checked-border-right-style;
            border-right-color: $c-quickfilter-container-checked-border-right-color;
            border-bottom-width: $c-quickfilter-container-checked-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-checked-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-checked-border-bottom-color;
            border-left-width: $c-quickfilter-container-checked-border-left-width;
            border-left-style: $c-quickfilter-container-checked-border-left-style;
            border-left-color: $c-quickfilter-container-checked-border-left-color;
            border-top-left-radius: $c-quickfilter-container-checked-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-checked-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-checked-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-checked-border-bottom-right-radius;
            display: $c-quickfilter-container-checked-display;
            margin-top: $c-quickfilter-container-checked-margin-top;
            margin-right: $c-quickfilter-container-checked-margin-right;
            margin-bottom: $c-quickfilter-container-checked-margin-bottom;
            margin-left: $c-quickfilter-container-checked-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-checked-padding-top;
            padding-right: $c-quickfilter-container-checked-padding-right;
            padding-bottom: $c-quickfilter-container-checked-padding-bottom;
            padding-left: $c-quickfilter-container-checked-padding-left;
            position: $c-quickfilter-container-checked-position;
            top: $c-quickfilter-container-checked-position-top;
            right: $c-quickfilter-container-checked-position-right;
            bottom: $c-quickfilter-container-checked-position-bottom;
            left: $c-quickfilter-container-checked-position-left;
            z-index: $c-quickfilter-container-checked-position-zindex;
            width: $c-quickfilter-container-checked-width;
            min-width: $c-quickfilter-container-checked-min-width;
            max-width: $c-quickfilter-container-checked-max-width;
            height: $c-quickfilter-container-checked-height;
            min-height: $c-quickfilter-container-checked-min-height;
            max-height: $c-quickfilter-container-checked-max-height;

            // --- icon
            .quickfilter-icon {
                opacity: $c-quickfilter-icon-checked-opacity;
                transform: $c-quickfilter-icon-checked-transform;

                &:before {
                    background-color: $c-quickfilter-icon-checked-border-color;
                }
                &:after {
                    background-color: $c-quickfilter-icon-checked-border-color;
                }
            }
        }
    }



    // --- state: checked:hover
    &:checked:hover{
        + label {
            cursor: pointer;

            // --- text
            color: $c-quickfilter-label-checked-hover-font-color;
            font-family: $c-quickfilter-label-checked-hover-font-family;
            font-size: $c-quickfilter-label-checked-hover-font-size;
            font-style: $c-quickfilter-label-checked-hover-font-style;
            font-variant: $c-quickfilter-label-checked-hover-font-variant;
            font-weight: $c-quickfilter-label-checked-hover-font-weight;
            letter-spacing: $c-quickfilter-label-checked-hover-letter-spacing;
            line-height: $c-quickfilter-label-checked-hover-line-height;
            text-align: $c-quickfilter-label-checked-hover-text-align;
            text-decoration: $c-quickfilter-label-checked-hover-text-decoration;
            text-indent: $c-quickfilter-label-checked-hover-text-indent;
            text-overflow: $c-quickfilter-label-checked-hover-text-overflow;
            text-transform: $c-quickfilter-label-checked-hover-text-transform;
            text-shadow: $c-quickfilter-label-checked-hover-text-shadow;
            vertical-align: $c-quickfilter-label-checked-hover-vertical-align;
            white-space: $c-quickfilter-label-checked-hover-white-space;
            word-spacing: $c-quickfilter-label-checked-hover-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-checked-hover-box-shadow, $c-quickfilter-container-checked-hover-outline;
            background-color: $c-quickfilter-container-checked-hover-background-color;
            background-image: $c-quickfilter-container-checked-hover-background-image;
            background-position: $c-quickfilter-container-checked-hover-background-position;
            background-size: $c-quickfilter-container-checked-hover-background-size;
            background-repeat: $c-quickfilter-container-checked-hover-background-repeat;
            background-origin: $c-quickfilter-container-checked-hover-background-origin;
            background-clip: $c-quickfilter-container-checked-hover-background-clip;
            background-attachment: $c-quickfilter-container-checked-hover-background-attachment;
            border-top-width: $c-quickfilter-container-checked-hover-border-top-width;
            border-top-style: $c-quickfilter-container-checked-hover-border-top-style;
            border-top-color: $c-quickfilter-container-checked-hover-border-top-color;
            border-right-width: $c-quickfilter-container-checked-hover-border-right-width;
            border-right-style: $c-quickfilter-container-checked-hover-border-right-style;
            border-right-color: $c-quickfilter-container-checked-hover-border-right-color;
            border-bottom-width: $c-quickfilter-container-checked-hover-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-checked-hover-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-checked-hover-border-bottom-color;
            border-left-width: $c-quickfilter-container-checked-hover-border-left-width;
            border-left-style: $c-quickfilter-container-checked-hover-border-left-style;
            border-left-color: $c-quickfilter-container-checked-hover-border-left-color;
            border-top-left-radius: $c-quickfilter-container-checked-hover-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-checked-hover-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-checked-hover-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-checked-hover-border-bottom-right-radius;
            display: $c-quickfilter-container-checked-hover-display;
            margin-top: $c-quickfilter-container-checked-hover-margin-top;
            margin-right: $c-quickfilter-container-checked-hover-margin-right;
            margin-bottom: $c-quickfilter-container-checked-hover-margin-bottom;
            margin-left: $c-quickfilter-container-checked-hover-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-checked-hover-padding-top;
            padding-right: $c-quickfilter-container-checked-hover-padding-right;
            padding-bottom: $c-quickfilter-container-checked-hover-padding-bottom;
            padding-left: $c-quickfilter-container-checked-hover-padding-left;
            position: $c-quickfilter-container-checked-hover-position;
            top: $c-quickfilter-container-checked-hover-position-top;
            right: $c-quickfilter-container-checked-hover-position-right;
            bottom: $c-quickfilter-container-checked-hover-position-bottom;
            left: $c-quickfilter-container-checked-hover-position-left;
            z-index: $c-quickfilter-container-checked-hover-position-zindex;
            width: $c-quickfilter-container-checked-hover-width;
            min-width: $c-quickfilter-container-checked-hover-min-width;
            max-width: $c-quickfilter-container-checked-hover-max-width;
            height: $c-quickfilter-container-checked-hover-height;
            min-height: $c-quickfilter-container-checked-hover-min-height;
            max-height: $c-quickfilter-container-checked-hover-max-height;

            // --- icon
            .quickfilter-icon {
                opacity: $c-quickfilter-icon-checked-hover-opacity;
                transform: $c-quickfilter-icon-checked-hover-transform;

                &:before {
                    background-color: $c-quickfilter-icon-checked-hover-border-color;
                }
                &:after {
                    background-color: $c-quickfilter-icon-checked-hover-border-color;
                }
            }
        }
    }



    // --- state: checked:focus
    &:checked:focus{
        + label {
            cursor: pointer;

            // --- text
            color: $c-quickfilter-label-checked-focus-font-color;
            font-family: $c-quickfilter-label-checked-focus-font-family;
            font-size: $c-quickfilter-label-checked-focus-font-size;
            font-style: $c-quickfilter-label-checked-focus-font-style;
            font-variant: $c-quickfilter-label-checked-focus-font-variant;
            font-weight: $c-quickfilter-label-checked-focus-font-weight;
            letter-spacing: $c-quickfilter-label-checked-focus-letter-spacing;
            line-height: $c-quickfilter-label-checked-focus-line-height;
            text-align: $c-quickfilter-label-checked-focus-text-align;
            text-decoration: $c-quickfilter-label-checked-focus-text-decoration;
            text-indent: $c-quickfilter-label-checked-focus-text-indent;
            text-overflow: $c-quickfilter-label-checked-focus-text-overflow;
            text-transform: $c-quickfilter-label-checked-focus-text-transform;
            text-shadow: $c-quickfilter-label-checked-focus-text-shadow;
            vertical-align: $c-quickfilter-label-checked-focus-vertical-align;
            white-space: $c-quickfilter-label-checked-focus-white-space;
            word-spacing: $c-quickfilter-label-checked-focus-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-checked-focus-box-shadow, $c-quickfilter-container-checked-focus-outline;
            background-color: $c-quickfilter-container-checked-focus-background-color;
            background-image: $c-quickfilter-container-checked-focus-background-image;
            background-position: $c-quickfilter-container-checked-focus-background-position;
            background-size: $c-quickfilter-container-checked-focus-background-size;
            background-repeat: $c-quickfilter-container-checked-focus-background-repeat;
            background-origin: $c-quickfilter-container-checked-focus-background-origin;
            background-clip: $c-quickfilter-container-checked-focus-background-clip;
            background-attachment: $c-quickfilter-container-checked-focus-background-attachment;
            border-top-width: $c-quickfilter-container-checked-focus-border-top-width;
            border-top-style: $c-quickfilter-container-checked-focus-border-top-style;
            border-top-color: $c-quickfilter-container-checked-focus-border-top-color;
            border-right-width: $c-quickfilter-container-checked-focus-border-right-width;
            border-right-style: $c-quickfilter-container-checked-focus-border-right-style;
            border-right-color: $c-quickfilter-container-checked-focus-border-right-color;
            border-bottom-width: $c-quickfilter-container-checked-focus-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-checked-focus-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-checked-focus-border-bottom-color;
            border-left-width: $c-quickfilter-container-checked-focus-border-left-width;
            border-left-style: $c-quickfilter-container-checked-focus-border-left-style;
            border-left-color: $c-quickfilter-container-checked-focus-border-left-color;
            border-top-left-radius: $c-quickfilter-container-checked-focus-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-checked-focus-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-checked-focus-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-checked-focus-border-bottom-right-radius;
            display: $c-quickfilter-container-checked-focus-display;
            margin-top: $c-quickfilter-container-checked-focus-margin-top;
            margin-right: $c-quickfilter-container-checked-focus-margin-right;
            margin-bottom: $c-quickfilter-container-checked-focus-margin-bottom;
            margin-left: $c-quickfilter-container-checked-focus-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-checked-focus-padding-top;
            padding-right: $c-quickfilter-container-checked-focus-padding-right;
            padding-bottom: $c-quickfilter-container-checked-focus-padding-bottom;
            padding-left: $c-quickfilter-container-checked-focus-padding-left;
            position: $c-quickfilter-container-checked-focus-position;
            top: $c-quickfilter-container-checked-focus-position-top;
            right: $c-quickfilter-container-checked-focus-position-right;
            bottom: $c-quickfilter-container-checked-focus-position-bottom;
            left: $c-quickfilter-container-checked-focus-position-left;
            z-index: $c-quickfilter-container-checked-focus-position-zindex;
            width: $c-quickfilter-container-checked-focus-width;
            min-width: $c-quickfilter-container-checked-focus-min-width;
            max-width: $c-quickfilter-container-checked-focus-max-width;
            height: $c-quickfilter-container-checked-focus-height;
            min-height: $c-quickfilter-container-checked-focus-min-height;
            max-height: $c-quickfilter-container-checked-focus-max-height;

            // --- icon
            .quickfilter-icon {
                opacity: $c-quickfilter-icon-checked-focus-opacity;
                transform: $c-quickfilter-icon-checked-focus-transform;

                &:before {
                    background-color: $c-quickfilter-icon-checked-focus-border-color;
                }
                &:after {
                    background-color: $c-quickfilter-icon-checked-focus-border-color;
                }
            }
        }
    }



    // --- state: disabled
    &:disabled {
        + label {
            // --- text
            color: $c-quickfilter-label-disabled-font-color;
            font-family: $c-quickfilter-label-disabled-font-family;
            font-size: $c-quickfilter-label-disabled-font-size;
            font-style: $c-quickfilter-label-disabled-font-style;
            font-variant: $c-quickfilter-label-disabled-font-variant;
            font-weight: $c-quickfilter-label-disabled-font-weight;
            letter-spacing: $c-quickfilter-label-disabled-letter-spacing;
            line-height: $c-quickfilter-label-disabled-line-height;
            text-align: $c-quickfilter-label-disabled-text-align;
            text-decoration: $c-quickfilter-label-disabled-text-decoration;
            text-indent: $c-quickfilter-label-disabled-text-indent;
            text-overflow: $c-quickfilter-label-disabled-text-overflow;
            text-transform: $c-quickfilter-label-disabled-text-transform;
            text-shadow: $c-quickfilter-label-disabled-text-shadow;
            vertical-align: $c-quickfilter-label-disabled-vertical-align;
            white-space: $c-quickfilter-label-disabled-white-space;
            word-spacing: $c-quickfilter-label-disabled-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-disabled-box-shadow, $c-quickfilter-container-disabled-outline;
            background-color: $c-quickfilter-container-disabled-background-color;
            background-image: $c-quickfilter-container-disabled-background-image;
            background-position: $c-quickfilter-container-disabled-background-position;
            background-size: $c-quickfilter-container-disabled-background-size;
            background-repeat: $c-quickfilter-container-disabled-background-repeat;
            background-origin: $c-quickfilter-container-disabled-background-origin;
            background-clip: $c-quickfilter-container-disabled-background-clip;
            background-attachment: $c-quickfilter-container-disabled-background-attachment;
            border-top-width: $c-quickfilter-container-disabled-border-top-width;
            border-top-style: $c-quickfilter-container-disabled-border-top-style;
            border-top-color: $c-quickfilter-container-disabled-border-top-color;
            border-right-width: $c-quickfilter-container-disabled-border-right-width;
            border-right-style: $c-quickfilter-container-disabled-border-right-style;
            border-right-color: $c-quickfilter-container-disabled-border-right-color;
            border-bottom-width: $c-quickfilter-container-disabled-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-disabled-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-disabled-border-bottom-color;
            border-left-width: $c-quickfilter-container-disabled-border-left-width;
            border-left-style: $c-quickfilter-container-disabled-border-left-style;
            border-left-color: $c-quickfilter-container-disabled-border-left-color;
            border-top-left-radius: $c-quickfilter-container-disabled-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-disabled-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-disabled-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-disabled-border-bottom-right-radius;
            display: $c-quickfilter-container-disabled-display;
            margin-top: $c-quickfilter-container-disabled-margin-top;
            margin-right: $c-quickfilter-container-disabled-margin-right;
            margin-bottom: $c-quickfilter-container-disabled-margin-bottom;
            margin-left: $c-quickfilter-container-disabled-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-disabled-padding-top;
            padding-right: $c-quickfilter-container-disabled-padding-right;
            padding-bottom: $c-quickfilter-container-disabled-padding-bottom;
            padding-left: $c-quickfilter-container-disabled-padding-left;
            position: $c-quickfilter-container-disabled-position;
            top: $c-quickfilter-container-disabled-position-top;
            right: $c-quickfilter-container-disabled-position-right;
            bottom: $c-quickfilter-container-disabled-position-bottom;
            left: $c-quickfilter-container-disabled-position-left;
            z-index: $c-quickfilter-container-disabled-position-zindex;
            width: $c-quickfilter-container-disabled-width;
            min-width: $c-quickfilter-container-disabled-min-width;
            max-width: $c-quickfilter-container-disabled-max-width;
            height: $c-quickfilter-container-disabled-height;
            min-height: $c-quickfilter-container-disabled-min-height;
            max-height: $c-quickfilter-container-disabled-max-height;

            // --- icon
            .quickfilter-icon {
                opacity: $c-quickfilter-icon-disabled-opacity;
                transform: $c-quickfilter-icon-disabled-transform;

                &:before {
                    background-color: $c-quickfilter-icon-disabled-border-color;
                }
                &:after {
                    background-color: $c-quickfilter-icon-disabled-border-color;
                }
            }
        }
    }



    // --- state: disabled:checked
    &:disabled:checked {
        + label {
            // --- text
            color: $c-quickfilter-label-disabled-checked-font-color;
            font-family: $c-quickfilter-label-disabled-checked-font-family;
            font-size: $c-quickfilter-label-disabled-checked-font-size;
            font-style: $c-quickfilter-label-disabled-checked-font-style;
            font-variant: $c-quickfilter-label-disabled-checked-font-variant;
            font-weight: $c-quickfilter-label-disabled-checked-font-weight;
            letter-spacing: $c-quickfilter-label-disabled-checked-letter-spacing;
            line-height: $c-quickfilter-label-disabled-checked-line-height;
            text-align: $c-quickfilter-label-disabled-checked-text-align;
            text-decoration: $c-quickfilter-label-disabled-checked-text-decoration;
            text-indent: $c-quickfilter-label-disabled-checked-text-indent;
            text-overflow: $c-quickfilter-label-disabled-checked-text-overflow;
            text-transform: $c-quickfilter-label-disabled-checked-text-transform;
            text-shadow: $c-quickfilter-label-disabled-checked-text-shadow;
            vertical-align: $c-quickfilter-label-disabled-checked-vertical-align;
            white-space: $c-quickfilter-label-disabled-checked-white-space;
            word-spacing: $c-quickfilter-label-disabled-checked-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-disabled-checked-box-shadow, $c-quickfilter-container-disabled-checked-outline;
            background-color: $c-quickfilter-container-disabled-checked-background-color;
            background-image: $c-quickfilter-container-disabled-checked-background-image;
            background-position: $c-quickfilter-container-disabled-checked-background-position;
            background-size: $c-quickfilter-container-disabled-checked-background-size;
            background-repeat: $c-quickfilter-container-disabled-checked-background-repeat;
            background-origin: $c-quickfilter-container-disabled-checked-background-origin;
            background-clip: $c-quickfilter-container-disabled-checked-background-clip;
            background-attachment: $c-quickfilter-container-disabled-checked-background-attachment;
            border-top-width: $c-quickfilter-container-disabled-checked-border-top-width;
            border-top-style: $c-quickfilter-container-disabled-checked-border-top-style;
            border-top-color: $c-quickfilter-container-disabled-checked-border-top-color;
            border-right-width: $c-quickfilter-container-disabled-checked-border-right-width;
            border-right-style: $c-quickfilter-container-disabled-checked-border-right-style;
            border-right-color: $c-quickfilter-container-disabled-checked-border-right-color;
            border-bottom-width: $c-quickfilter-container-disabled-checked-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-disabled-checked-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-disabled-checked-border-bottom-color;
            border-left-width: $c-quickfilter-container-disabled-checked-border-left-width;
            border-left-style: $c-quickfilter-container-disabled-checked-border-left-style;
            border-left-color: $c-quickfilter-container-disabled-checked-border-left-color;
            border-top-left-radius: $c-quickfilter-container-disabled-checked-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-disabled-checked-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-disabled-checked-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-disabled-checked-border-bottom-right-radius;
            display: $c-quickfilter-container-disabled-checked-display;
            margin-top: $c-quickfilter-container-disabled-checked-margin-top;
            margin-right: $c-quickfilter-container-disabled-checked-margin-right;
            margin-bottom: $c-quickfilter-container-disabled-checked-margin-bottom;
            margin-left: $c-quickfilter-container-disabled-checked-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-disabled-checked-padding-top;
            padding-right: $c-quickfilter-container-disabled-checked-padding-right;
            padding-bottom: $c-quickfilter-container-disabled-checked-padding-bottom;
            padding-left: $c-quickfilter-container-disabled-checked-padding-left;
            position: $c-quickfilter-container-disabled-checked-position;
            top: $c-quickfilter-container-disabled-checked-position-top;
            right: $c-quickfilter-container-disabled-checked-position-right;
            bottom: $c-quickfilter-container-disabled-checked-position-bottom;
            left: $c-quickfilter-container-disabled-checked-position-left;
            z-index: $c-quickfilter-container-disabled-checked-position-zindex;
            width: $c-quickfilter-container-disabled-checked-width;
            min-width: $c-quickfilter-container-disabled-checked-min-width;
            max-width: $c-quickfilter-container-disabled-checked-max-width;
            height: $c-quickfilter-container-disabled-checked-height;
            min-height: $c-quickfilter-container-disabled-checked-min-height;
            max-height: $c-quickfilter-container-disabled-checked-max-height;

            // --- icon
            .quickfilter-icon {
                opacity: $c-quickfilter-icon-disabled-checked-opacity;
                transform: $c-quickfilter-icon-disabled-checked-transform;

                &:before {
                    background-color: $c-quickfilter-icon-disabled-checked-border-color;
                }
                &:after {
                    background-color: $c-quickfilter-icon-disabled-checked-border-color;
                }
            }
        }
    }



    // --- state: disabled:checked:hover
    &:disabled:checked:hover {
        + label {
            cursor: not-allowed;

            // --- text
            color: $c-quickfilter-label-disabled-checked-hover-font-color;
            font-family: $c-quickfilter-label-disabled-checked-hover-font-family;
            font-size: $c-quickfilter-label-disabled-checked-hover-font-size;
            font-style: $c-quickfilter-label-disabled-checked-hover-font-style;
            font-variant: $c-quickfilter-label-disabled-checked-hover-font-variant;
            font-weight: $c-quickfilter-label-disabled-checked-hover-font-weight;
            letter-spacing: $c-quickfilter-label-disabled-checked-hover-letter-spacing;
            line-height: $c-quickfilter-label-disabled-checked-hover-line-height;
            text-align: $c-quickfilter-label-disabled-checked-hover-text-align;
            text-decoration: $c-quickfilter-label-disabled-checked-hover-text-decoration;
            text-indent: $c-quickfilter-label-disabled-checked-hover-text-indent;
            text-overflow: $c-quickfilter-label-disabled-checked-hover-text-overflow;
            text-transform: $c-quickfilter-label-disabled-checked-hover-text-transform;
            text-shadow: $c-quickfilter-label-disabled-checked-hover-text-shadow;
            vertical-align: $c-quickfilter-label-disabled-checked-hover-vertical-align;
            white-space: $c-quickfilter-label-disabled-checked-hover-white-space;
            word-spacing: $c-quickfilter-label-disabled-checked-hover-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-disabled-checked-hover-box-shadow, $c-quickfilter-container-disabled-checked-hover-outline;
            background-color: $c-quickfilter-container-disabled-checked-hover-background-color;
            background-image: $c-quickfilter-container-disabled-checked-hover-background-image;
            background-position: $c-quickfilter-container-disabled-checked-hover-background-position;
            background-size: $c-quickfilter-container-disabled-checked-hover-background-size;
            background-repeat: $c-quickfilter-container-disabled-checked-hover-background-repeat;
            background-origin: $c-quickfilter-container-disabled-checked-hover-background-origin;
            background-clip: $c-quickfilter-container-disabled-checked-hover-background-clip;
            background-attachment: $c-quickfilter-container-disabled-checked-hover-background-attachment;
            border-top-width: $c-quickfilter-container-disabled-checked-hover-border-top-width;
            border-top-style: $c-quickfilter-container-disabled-checked-hover-border-top-style;
            border-top-color: $c-quickfilter-container-disabled-checked-hover-border-top-color;
            border-right-width: $c-quickfilter-container-disabled-checked-hover-border-right-width;
            border-right-style: $c-quickfilter-container-disabled-checked-hover-border-right-style;
            border-right-color: $c-quickfilter-container-disabled-checked-hover-border-right-color;
            border-bottom-width: $c-quickfilter-container-disabled-checked-hover-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-disabled-checked-hover-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-disabled-checked-hover-border-bottom-color;
            border-left-width: $c-quickfilter-container-disabled-checked-hover-border-left-width;
            border-left-style: $c-quickfilter-container-disabled-checked-hover-border-left-style;
            border-left-color: $c-quickfilter-container-disabled-checked-hover-border-left-color;
            border-top-left-radius: $c-quickfilter-container-disabled-checked-hover-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-disabled-checked-hover-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-disabled-checked-hover-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-disabled-checked-hover-border-bottom-right-radius;
            display: $c-quickfilter-container-disabled-checked-hover-display;
            margin-top: $c-quickfilter-container-disabled-checked-hover-margin-top;
            margin-right: $c-quickfilter-container-disabled-checked-hover-margin-right;
            margin-bottom: $c-quickfilter-container-disabled-checked-hover-margin-bottom;
            margin-left: $c-quickfilter-container-disabled-checked-hover-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-disabled-checked-hover-padding-top;
            padding-right: $c-quickfilter-container-disabled-checked-hover-padding-right;
            padding-bottom: $c-quickfilter-container-disabled-checked-hover-padding-bottom;
            padding-left: $c-quickfilter-container-disabled-checked-hover-padding-left;
            position: $c-quickfilter-container-disabled-checked-hover-position;
            top: $c-quickfilter-container-disabled-checked-hover-position-top;
            right: $c-quickfilter-container-disabled-checked-hover-position-right;
            bottom: $c-quickfilter-container-disabled-checked-hover-position-bottom;
            left: $c-quickfilter-container-disabled-checked-hover-position-left;
            z-index: $c-quickfilter-container-disabled-checked-hover-position-zindex;
            width: $c-quickfilter-container-disabled-checked-hover-width;
            min-width: $c-quickfilter-container-disabled-checked-hover-min-width;
            max-width: $c-quickfilter-container-disabled-checked-hover-max-width;
            height: $c-quickfilter-container-disabled-checked-hover-height;
            min-height: $c-quickfilter-container-disabled-checked-hover-min-height;
            max-height: $c-quickfilter-container-disabled-checked-hover-max-height;

            // --- icon
            .quickfilter-icon {
                opacity: $c-quickfilter-icon-disabled-checked-hover-opacity;
                transform: $c-quickfilter-icon-disabled-checked-hover-transform;

                &:before {
                    background-color: $c-quickfilter-icon-disabled-checked-hover-border-color;
                }
                &:after {
                    background-color: $c-quickfilter-icon-disabled-checked-hover-border-color;
                }
            }
        }
    }



    // --- state: disabled:hover
    &:disabled:hover{
        + label {
            cursor: not-allowed;

            // --- text
            color: $c-quickfilter-label-disabled-hover-font-color;
            font-family: $c-quickfilter-label-disabled-hover-font-family;
            font-size: $c-quickfilter-label-disabled-hover-font-size;
            font-style: $c-quickfilter-label-disabled-hover-font-style;
            font-variant: $c-quickfilter-label-disabled-hover-font-variant;
            font-weight: $c-quickfilter-label-disabled-hover-font-weight;
            letter-spacing: $c-quickfilter-label-disabled-hover-letter-spacing;
            line-height: $c-quickfilter-label-disabled-hover-line-height;
            text-align: $c-quickfilter-label-disabled-hover-text-align;
            text-decoration: $c-quickfilter-label-disabled-hover-text-decoration;
            text-indent: $c-quickfilter-label-disabled-hover-text-indent;
            text-overflow: $c-quickfilter-label-disabled-hover-text-overflow;
            text-transform: $c-quickfilter-label-disabled-hover-text-transform;
            text-shadow: $c-quickfilter-label-disabled-hover-text-shadow;
            vertical-align: $c-quickfilter-label-disabled-hover-vertical-align;
            white-space: $c-quickfilter-label-disabled-hover-white-space;
            word-spacing: $c-quickfilter-label-disabled-hover-word-spacing;

            // --- container
            box-shadow: $c-quickfilter-container-disabled-hover-box-shadow, $c-quickfilter-container-disabled-hover-outline;
            background-color: $c-quickfilter-container-disabled-hover-background-color;
            background-image: $c-quickfilter-container-disabled-hover-background-image;
            background-position: $c-quickfilter-container-disabled-hover-background-position;
            background-size: $c-quickfilter-container-disabled-hover-background-size;
            background-repeat: $c-quickfilter-container-disabled-hover-background-repeat;
            background-origin: $c-quickfilter-container-disabled-hover-background-origin;
            background-clip: $c-quickfilter-container-disabled-hover-background-clip;
            background-attachment: $c-quickfilter-container-disabled-hover-background-attachment;
            border-top-width: $c-quickfilter-container-disabled-hover-border-top-width;
            border-top-style: $c-quickfilter-container-disabled-hover-border-top-style;
            border-top-color: $c-quickfilter-container-disabled-hover-border-top-color;
            border-right-width: $c-quickfilter-container-disabled-hover-border-right-width;
            border-right-style: $c-quickfilter-container-disabled-hover-border-right-style;
            border-right-color: $c-quickfilter-container-disabled-hover-border-right-color;
            border-bottom-width: $c-quickfilter-container-disabled-hover-border-bottom-width;
            border-bottom-style: $c-quickfilter-container-disabled-hover-border-bottom-style;
            border-bottom-color: $c-quickfilter-container-disabled-hover-border-bottom-color;
            border-left-width: $c-quickfilter-container-disabled-hover-border-left-width;
            border-left-style: $c-quickfilter-container-disabled-hover-border-left-style;
            border-left-color: $c-quickfilter-container-disabled-hover-border-left-color;
            border-top-left-radius: $c-quickfilter-container-disabled-hover-border-top-left-radius;
            border-top-right-radius: $c-quickfilter-container-disabled-hover-border-top-right-radius;
            border-bottom-left-radius: $c-quickfilter-container-disabled-hover-border-bottom-left-radius;
            border-bottom-right-radius: $c-quickfilter-container-disabled-hover-border-bottom-right-radius;
            display: $c-quickfilter-container-disabled-hover-display;
            margin-top: $c-quickfilter-container-disabled-hover-margin-top;
            margin-right: $c-quickfilter-container-disabled-hover-margin-right;
            margin-bottom: $c-quickfilter-container-disabled-hover-margin-bottom;
            margin-left: $c-quickfilter-container-disabled-hover-margin-left;
            outline: 0;
            padding-top: $c-quickfilter-container-disabled-hover-padding-top;
            padding-right: $c-quickfilter-container-disabled-hover-padding-right;
            padding-bottom: $c-quickfilter-container-disabled-hover-padding-bottom;
            padding-left: $c-quickfilter-container-disabled-hover-padding-left;
            position: $c-quickfilter-container-disabled-hover-position;
            top: $c-quickfilter-container-disabled-hover-position-top;
            right: $c-quickfilter-container-disabled-hover-position-right;
            bottom: $c-quickfilter-container-disabled-hover-position-bottom;
            left: $c-quickfilter-container-disabled-hover-position-left;
            z-index: $c-quickfilter-container-disabled-hover-position-zindex;
            width: $c-quickfilter-container-disabled-hover-width;
            min-width: $c-quickfilter-container-disabled-hover-min-width;
            max-width: $c-quickfilter-container-disabled-hover-max-width;
            height: $c-quickfilter-container-disabled-hover-height;
            min-height: $c-quickfilter-container-disabled-hover-min-height;
            max-height: $c-quickfilter-container-disabled-hover-max-height;
        }
    }
}
