// chart.label



// --- background
$c-chart-label-background-color: transparent;
$c-chart-label-background-image: none;
$c-chart-label-background-position: initial;
$c-chart-label-background-size: initial;
$c-chart-label-background-repeat: initial;
$c-chart-label-background-origin: initial;
$c-chart-label-background-clip: initial;
$c-chart-label-background-attachment: initial;



// --- borders
// top
$c-chart-label-border-top-width: 0px;
$c-chart-label-border-top-style: solid;
$c-chart-label-border-top-color: rgba($color-brand-01, 0);
// right
$c-chart-label-border-right-width: 0px;
$c-chart-label-border-right-style: solid;
$c-chart-label-border-right-color: rgba($color-brand-01, 0);
// bottom
$c-chart-label-border-bottom-width: 0px;
$c-chart-label-border-bottom-style: solid;
$c-chart-label-border-bottom-color: rgba($color-brand-01, 0);
// left
$c-chart-label-border-left-width: 0px;
$c-chart-label-border-left-style: solid;
$c-chart-label-border-left-color: rgba($color-brand-01, 0);
// radius
$c-chart-label-border-top-left-radius: 0;
$c-chart-label-border-top-right-radius: 0;
$c-chart-label-border-bottom-left-radius: 0;
$c-chart-label-border-bottom-right-radius: 0;


// --- dimensions
$c-chart-label-width: 10rem;
$c-chart-label-height: 100%;



// --- margins
$c-chart-label-margin-top: 0;
$c-chart-label-margin-right: 0;
$c-chart-label-margin-bottom: 0;
$c-chart-label-margin-left: 0;



// --- paddings
$c-chart-label-padding-top: 0;
$c-chart-label-padding-right: 0;
$c-chart-label-padding-bottom: 0;
$c-chart-label-padding-left: 0;



// --- position
$c-chart-label-position-zindex: auto;



// --- text
$c-chart-label-font-family: $font-brand-regular;
$c-chart-label-font-color: $color-text-01;
$c-chart-label-icon-color: $color-text-04;
$c-chart-label-font-size: $font-size-s;
$c-chart-label-font-style: normal;
$c-chart-label-font-variant: normal;
$c-chart-label-font-weight: $font-weight-regular;
$c-chart-label-line-height: 1.1;
$c-chart-label-letter-spacing: 0;
$c-chart-label-text-align: left;
$c-chart-label-text-decoration: none;
$c-chart-label-text-indent: 0;
$c-chart-label-text-overflow: initial;
$c-chart-label-text-transform: none;
$c-chart-label-text-shadow: none;
$c-chart-label-vertical-align: middle;
$c-chart-label-white-space: normal;
$c-chart-label-word-spacing: normal;
