// chart



// bar chart
$c-chart-is-bar-width: 100%;
$c-chart-is-bar-height: auto;
$c-chart-is-bar-margin-top: 0.75rem;
$c-chart-is-bar-margin-right: 0;
$c-chart-is-bar-margin-bottom: 0.75rem;
$c-chart-is-bar-margin-left: 0;
$c-chart-is-bar-bar-width: 100%;
$c-chart-is-bar-bar-height: 2rem;
//
$c-chart-is-bar-size-small-width: 100%;
$c-chart-is-bar-size-small-height: auto;
$c-chart-is-bar-size-small-margin-top: 0.5rem;
$c-chart-is-bar-size-small-margin-right: 0;
$c-chart-is-bar-size-small-margin-bottom: 0.5rem;
$c-chart-is-bar-size-small-margin-left: 0;
$c-chart-is-bar-size-small-bar-width: 100%;
$c-chart-is-bar-size-small-bar-height: 1rem;


// column chart
$c-chart-is-column-width: auto;
$c-chart-is-column-height: 30rem;
$c-chart-is-column-margin-top: 0;
$c-chart-is-column-margin-right: 0.5rem;
$c-chart-is-column-margin-bottom: 0;
$c-chart-is-column-margin-left: 0.5rem;
$c-chart-is-column-column-width: 2rem;
$c-chart-is-column-column-height: 100%;
//
$c-chart-is-column-size-small-width: auto;
$c-chart-is-column-size-small-height: 20rem;
$c-chart-is-column-size-small-margin-top: 0;
$c-chart-is-column-size-small-margin-right: 0.25rem;
$c-chart-is-column-size-small-margin-bottom: 0;
$c-chart-is-column-size-small-margin-left: 0.25rem;
//
$c-chart-is-column-size-small-column-width: 1rem;
$c-chart-is-column-size-small-column-height: 100%;


// donut chart
$c-chart-is-donut-width: 20rem;
$c-chart-is-donut-height: 20rem;
//
$c-chart-is-donut-size-small-width: 10rem;
$c-chart-is-donut-size-small-height: 10rem;


// pie chart
$c-chart-is-pie-width: 20rem;
$c-chart-is-pie-height: 20rem;
//
$c-chart-is-pie-size-small-width: 10rem;
$c-chart-is-pie-size-small-height: 10rem;


// spline chart
$c-chart-is-spline-width: 100%;
$c-chart-is-spline-height: 10rem;


// stacked bar chart
$c-chart-is-stacked-bar-width: 100%;
$c-chart-is-stacked-bar-height: auto;
$c-chart-is-stacked-bar-margin-top: 0;
$c-chart-is-stacked-bar-margin-right: 0;
$c-chart-is-stacked-bar-margin-bottom: 1rem;
$c-chart-is-stacked-bar-margin-left: 0;
$c-chart-is-stacked-bar-bar-width: 100%;
$c-chart-is-stacked-bar-bar-height: 2rem;
//
$c-chart-is-stacked-bar-size-small-width: 100%;
$c-chart-is-stacked-bar-size-small-height: auto;
$c-chart-is-stacked-bar-size-small-margin-top: 0;
$c-chart-is-stacked-bar-size-small-margin-right: 0;
$c-chart-is-stacked-bar-size-small-margin-bottom: 0.5rem;
$c-chart-is-stacked-bar-size-small-margin-left: 0;
$c-chart-is-stacked-bar-size-small-bar-width: 100%;
$c-chart-is-stacked-bar-size-small-bar-height: 1rem;


// stacked-column chart
$c-chart-is-stacked-column-width: auto;
$c-chart-is-stacked-column-height: 30rem;
$c-chart-is-stacked-column-margin-top: 0;
$c-chart-is-stacked-column-margin-right: 0.75rem;
$c-chart-is-stacked-column-margin-bottom: 0;
$c-chart-is-stacked-column-margin-left: 0.75rem;
$c-chart-is-stacked-column-column-width: 2rem;
$c-chart-is-stacked-column-column-height: 100%;
//
$c-chart-is-stacked-column-size-small-width: auto;
$c-chart-is-stacked-column-size-small-height: 20rem;
$c-chart-is-stacked-column-size-small-margin-top: 0;
$c-chart-is-stacked-column-size-small-margin-right: 0.5rem;
$c-chart-is-stacked-column-size-small-margin-bottom: 0;
$c-chart-is-stacked-column-size-small-margin-left: 0.5rem;
//
$c-chart-is-stacked-column-size-small-column-width: 1rem;
$c-chart-is-stacked-column-size-small-column-height: 100%;
