<!-- Quick-filter -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Quickfilter</h3>
        <section class="styleguide-example fx-appear-from-bottom align-center">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-quickfilter id="quifilter-id-01" task="demo-purpose">Quickfilter one</c-quickfilter>
            <c-quickfilter id="quifilter-id-02" task="demo-purpose" disabled>Quickfilter two</c-quickfilter>
            <c-quickfilter id="quifilter-id-03" task="demo-purpose" checked>Quickfilter three</c-quickfilter>
            <c-quickfilter id="quifilter-id-04" task="demo-purpose" disabled checked>Quickfilter four</c-quickfilter>
            <p class="styleguide-states">default | disabled | checked | checked & disabled</p>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-02">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/filters/quickfilter/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/filters/quickfilter/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/filters/quickfilter/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
