<section class="styleguide">
   <article>
       <h3 class="styleguide-title fx-appear">Grid action bar</h3>
       <section class="styleguide-example background-color-light fx-appear-from-bottom align-left">
           <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


           <block-grid-action-bar label-selected-single="item selected" label-selected-multiple="items selected" visible>
               <c-context-menu id="context-id-01">
                   <c-button is="button-primary" task="context-menu-toggle">Action<c-icon is="icon-arrow"></c-icon></c-button>
                   <c-list is="context">
                       <c-list-item>
                           <c-button is="button-primary" css="list-item"  task="demo-purpose"><c-icon is="icon-arrow-small-down"></c-icon>Download</c-button>
                       </c-list-item>
                       <c-list-item>
                           <c-button is="button-primary" css="list-item"  task="demo-purpose"><c-icon is="icon-clear"></c-icon>Other action</c-button>
                       </c-list-item>
                   </c-list>
               </c-context-menu>
               <c-button task="clear-grid-selection"  is="button-secondary" id="button-id-01">Cancel</c-button>
               <p>4 items selected</p>
           </block-grid-action-bar>


       </section>
   </article>
</section>
