<!-- notification -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Notifications</h3>
        <section class="styleguide-example background-color-light fx-appear-from-bottom">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>



            <c-notification is="notification-success" visible="true">
                <c-button is="button-ghost-icon" task="toggle">
                    <span class="hidden-label">Close</span>
                    <c-icon is="icon-close"></c-icon>
                </c-button>
                <h3>Success message</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed nisi quam, eleifend pharetra viverra ac, vehicula et nisi. In magna odio, vestibulum sed gravida in, fermentum ac dolor.
                </p>
            </c-notification>


            <c-divider css="styleguide-divider small"></c-divider>


            <c-notification is="notification-error" visible="true">
                <c-button is="button-ghost-icon" task="toggle">
                    <span class="hidden-label">Close</span>
                    <c-icon is="icon-close"></c-icon>
                </c-button>
                <h3>Error message</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed nisi quam, eleifend pharetra viverra ac, vehicula et nisi. In magna odio, vestibulum sed gravida in, fermentum ac dolor.
                </p>
            </c-notification>


            <c-divider css="styleguide-divider small"></c-divider>


            <c-notification is="notification-warning" visible="true">
                <c-button is="button-ghost-icon" task="toggle">
                    <span class="hidden-label">Close</span>
                    <c-icon is="icon-close"></c-icon>
                </c-button>
                <h3>Warning message</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed nisi quam, eleifend pharetra viverra ac, vehicula et nisi. In magna odio, vestibulum sed gravida in, fermentum ac dolor.
                </p>
            </c-notification>


            <c-divider css="styleguide-divider small"></c-divider>


            <c-notification is="notification-info" visible="true">
                <c-button is="button-ghost-icon" task="toggle">
                    <span class="hidden-label">Close</span>
                    <c-icon is="icon-close"></c-icon>
                </c-button>
                <h3>Info message</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed nisi quam, eleifend pharetra viverra ac, vehicula et nisi. In magna odio, vestibulum sed gravida in, fermentum ac dolor.
                </p>
                <block-button-group is="button-group-align-left">
                    <c-button task="demo-purpose" is="button-primary" id="button02">button</c-button>
                </block-button-group>
            </c-notification>
        </section>



        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/notification/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/notification/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/notification/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/notification/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
