// --- upload


// --- upload globals
$c-upload-transition-delay: 0s;
$c-upload-transition-duration: .15s;
$c-upload-transition-timing-function: $ease-in-out-quad;






// --- file
@import './file/upload.file';
@import './file/upload.file.size';


// --- error
@import './error/upload.error';


// --- label
@import './label/upload.label';
@import './label/upload.label.focus';
@import './label/upload.label.hover';
