<!-- button-group align: left -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Button-group: <span>is:align-left</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <block-button-group is="button-group-align-left">
                <c-button task="demo-purpose"  is="button-secondary" id="button201">Cancel</c-button>
                <c-button task="demo-purpose"  is="button-primary" id="button202">Submit</c-button>
            </block-button-group>


            <p class="styleguide-states"></p>
        </section>
    </article>

    <c-divider css="styleguide-divider"></c-divider>




    <!-- button-group align: right -->
    <article>
        <h3 class="styleguide-title fx-appear">Button-group: <span>is:align-right</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">


            <block-button-group is="button-group-align-right">
                <c-button task="demo-purpose"  is="button-secondary" id="button201">Cancel</c-button>
                <c-button task="demo-purpose"  is="button-primary" id="button202">Submit</c-button>
            </block-button-group>


        </section>
    </article>

    <c-divider css="styleguide-divider"></c-divider>




    <!-- button-group align: center -->
    <article>
        <h3 class="styleguide-title fx-appear">Button-group: <span>is:align-center</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">


            <block-button-group is="button-group-align-center">
                <c-button task="demo-purpose"  is="button-secondary" id="button203">Cancel</c-button>
                <c-button task="demo-purpose"  is="button-primary" id="button204">Submit</c-button>
            </block-button-group>


        </section>
    </article>

    <c-divider css="styleguide-divider"></c-divider>




    <!-- button-group inline -->
    <article>
        <h3 class="styleguide-title fx-appear">Button-group: <span>is:inline</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">


            <block-button-group is="button-group-inline">
                <c-button task="demo-purpose"  is="button-primary" id="button205">Button</c-button>
                <c-button task="demo-purpose"  is="button-secondary-icon" id="button206">
                    <span class="hidden-label">button met verborgen text</span>
                    <c-icon is="icon-add"></c-icon>
                </c-button>
            </block-button-group>

            
        </section>
    </article>

    <c-divider css="styleguide-divider"></c-divider>
</section>
