<!-- Icons -->
 <section class="styleguide">

    <article>
        <h3 class="styleguide-title fx-appear">UI Icons</h3>
        <section class="styleguide-example icons-overview fx-appear-from-bottom align-left">
            <c-icon is="icon-add" label="I am the label"></c-icon>
            <c-icon is="icon-arrow-small-up" label="I am the label"></c-icon>
            <c-icon is="icon-arrow-small-right" label="I am the label"></c-icon>
            <c-icon is="icon-arrow-small-down" label="I am the label"></c-icon>
            <c-icon is="icon-arrow-small-left" label="I am the label"></c-icon>
            <c-icon is="icon-arrow-up" label="I am the label"></c-icon>
            <c-icon is="icon-arrow-right" label="I am the label"></c-icon>
            <c-icon is="icon-arrow-down" label="I am the label"></c-icon>
            <c-icon is="icon-arrow-left" label="I am the label"></c-icon>
            <c-icon is="icon-check" label="I am the label"></c-icon>
            <c-icon is="icon-clear" label="I am the label"></c-icon>
            <c-icon is="icon-close" label="I am the label"></c-icon>
            <c-icon is="icon-content-indent"  label="I am the label"></c-icon>
            <c-icon is="icon-content-outdent"  label="I am the label"></c-icon>
            <c-icon is="icon-delete" label="I am the label"></c-icon>
            <c-icon is="icon-drag-and-drop" label="I am the label"></c-icon>
            <c-icon is="icon-enable-columns" label="I am the label"></c-icon>
            <c-icon is="icon-fullscreen" label="I am the label"></c-icon>
            <c-icon is="icon-help" label="I am the label"></c-icon>
            <c-icon is="icon-home" label="I am the label"></c-icon>
            <c-icon is="icon-list-numbered" label="I am the label"></c-icon>
            <c-icon is="icon-list-unordered" label="I am the label"></c-icon>
            <c-icon is="icon-quickview" label="I am the label"></c-icon>
            <c-icon is="icon-refresh" label="I am the label"></c-icon>
            <c-icon is="icon-sort" label="I am the label"></c-icon>
            <c-icon is="icon-tooltip" label="I am the label"></c-icon>
            <c-icon is="icon-type-bold" label="I am the label"></c-icon>
            <c-icon is="icon-type-italic" label="I am the label"></c-icon>
            <c-icon is="icon-type-underline" label="I am the label"></c-icon>
            <c-icon is="icon-user-privileges" label="I am the label"></c-icon>
            <c-icon is="icon-user" label="I am the label"></c-icon>
            <c-icon is="icon-zoom-in" label="I am the label"></c-icon>
            <c-icon is="icon-zoom-out" label="I am the label"></c-icon>
            <c-icon is="icon-search" label="I am the label"></c-icon>
            <c-icon is="icon-datepicker" label="I am the label"></c-icon>
            <c-icon is="icon-breadcrumb" label="I am the label"></c-icon>
        </section>

        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/icons/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/icons/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/icons/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>

    </article>

    <c-divider css="styleguide-divider"></c-divider>




    <!-- Icons Circle -->
    <article>
        <h3 class="styleguide-title fx-appear">UI Icons <span>circle</span></h3>
        <section class="styleguide-example icons-overview fx-appear-from-bottom align-left">
            <c-icon is="icon-add" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-arrow-small-up" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-arrow-small-right" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-arrow-small-down" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-arrow-small-left" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-arrow-up" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-arrow-right" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-arrow-down" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-arrow-left" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-check" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-clear" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-close" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-content-indent" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-content-outdent" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-delete" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-drag-and-drop" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-enable-columns" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-fullscreen" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-help" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-home" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-list-numbered" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-list-unordered" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-quickview" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-refresh" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-sort" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-tooltip" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-type-bold" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-type-italic" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-type-underline" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-user-privileges" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-user" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-zoom-in" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-zoom-out" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-search" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-datepicker" label="I am the label" css="circle"></c-icon>
            <c-icon is="icon-breadcrumb" label="I am the label" css="circle"></c-icon>
        </section>

        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/icons/circle/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/icons/circle/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/icons/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>

    </article>

    <c-divider css="styleguide-divider"></c-divider>




    <!-- Icons Circle-outline -->
    <article>
        <h3 class="styleguide-title fx-appear">UI Icons <span>circle-outline</span></h3>
        <section class="styleguide-example icons-overview fx-appear-from-bottom align-left">
            <c-icon is="icon-add" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-arrow-small-up" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-arrow-small-right" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-arrow-small-down" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-arrow-small-left" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-arrow-up" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-arrow-right" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-arrow-down" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-arrow-left" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-check" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-clear" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-close" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-content-indent" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-content-outdent" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-delete" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-drag-and-drop" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-enable-columns" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-fullscreen" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-help" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-home" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-list-numbered" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-list-unordered" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-quickview" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-refresh" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-sort" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-tooltip" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-type-bold" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-type-italic" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-type-underline" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-user-privileges" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-user" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-zoom-in" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-zoom-out" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-search" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-datepicker" label="I am the label" css="circle-outline"></c-icon>
            <c-icon is="icon-breadcrumb" label="I am the label" css="circle-outline"></c-icon>
        </section>

        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/icons/circle-outline/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/icons/circle-outline/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/icons/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>

    </article>

    <c-divider css="styleguide-divider"></c-divider>




    <!-- Icons Square -->
   <article>
        <h3 class="styleguide-title fx-appear">UI Icons <span>square</span></h3>
        <section class="styleguide-example icons-overview fx-appear-from-bottom align-left">
            <c-icon is="icon-add" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-arrow-small-up" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-arrow-small-right" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-arrow-small-down" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-arrow-small-left" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-arrow-up" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-arrow-right" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-arrow-down" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-arrow-left" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-check" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-clear" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-close" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-content-indent" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-content-outdent" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-delete" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-drag-and-drop" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-enable-columns" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-fullscreen" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-help" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-home" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-list-numbered" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-list-unordered" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-quickview" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-refresh" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-sort" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-tooltip" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-type-bold" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-type-italic" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-type-underline" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-user-privileges" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-user" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-zoom-in" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-zoom-out" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-search" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-datepicker" label="I am the label" css="square"></c-icon>
            <c-icon is="icon-breadcrumb" label="I am the label" css="square"></c-icon>
        </section>

        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/icons/square/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/icons/square/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/icons/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>

    </article>

    <c-divider css="styleguide-divider"></c-divider>




    <!-- Icons Square-outline -->
    <article>
        <h3 class="styleguide-title fx-appear">UI Icons <span>square-outline</span></h3>
        <section class="styleguide-example icons-overview fx-appear-from-bottom align-left">
            <c-icon is="icon-add" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-arrow-small-up" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-arrow-small-right" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-arrow-small-down" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-arrow-small-left" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-arrow-up" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-arrow-right" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-arrow-down" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-arrow-left" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-check" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-clear" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-close" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-content-indent" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-content-outdent" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-delete" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-drag-and-drop" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-enable-columns" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-fullscreen" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-help" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-home" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-list-numbered" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-list-unordered" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-quickview" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-refresh" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-sort" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-tooltip" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-type-bold" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-type-italic" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-type-underline" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-user-privileges" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-user" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-zoom-in" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-zoom-out" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-search" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-datepicker" label="I am the label" css="square-outline"></c-icon>
            <c-icon is="icon-breadcrumb" label="I am the label" css="square-outline"></c-icon>
        </section>

        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/icons/square-outline/CODE.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/icons/square-outline/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/icons/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>

    </article>

    <c-divider css="styleguide-divider"></c-divider>
</section>
