// c-skip-to-link

.c-skip-to-link {
  overflow: $c-skiptolink-overflow;

  // --- size
  height: $c-skiptolink-height;
  width: $c-skiptolink-width;


  // --- position
  position: $c-skiptolink-position;
  top: $c-skiptolink-position-top;
  right: $c-skiptolink-position-right;
  bottom: $c-skiptolink-position-bottom;
  left: $c-skiptolink-position-left;


  // --- padding
  padding-top: $c-skiptolink-padding-top;
  padding-right: $c-skiptolink-padding-right;
  padding-bottom: $c-skiptolink-padding-bottom;
  padding-left: $c-skiptolink-padding-left;


  // --- backgrounds
  background-color: $c-skiptolink-background-color;
  background-image: $c-skiptolink-background-image;
  background-position: $c-skiptolink-background-position;
  background-size: $c-skiptolink-background-size;
  background-repeat: $c-skiptolink-background-repeat;
  background-origin: $c-skiptolink-background-origin;
  background-clip: $c-skiptolink-background-clip;
  background-attachment: $c-skiptolink-background-attachment;


  // --- borders
  border-top-width: $c-skiptolink-border-top-width;
  border-right-width: $c-skiptolink-border-right-width;
  border-bottom-width: $c-skiptolink-border-bottom-width;
  border-left-width: $c-skiptolink-border-left-width;
  //
  border-top-style: $c-skiptolink-border-top-style;
  border-right-style: $c-skiptolink-border-right-style;
  border-bottom-style: $c-skiptolink-border-bottom-style;
  border-left-style: $c-skiptolink-border-left-style;
  //
  border-top-color: $c-skiptolink-border-top-color;
  border-right-color: $c-skiptolink-border-right-color;
  border-bottom-color: $c-skiptolink-border-bottom-color;
  border-left-color: $c-skiptolink-border-left-color;
  // border-radius
  border-top-left-radius: $c-skiptolink-border-top-left-radius;
  border-top-right-radius: $c-skiptolink-border-top-right-radius;
  border-bottom-left-radius: $c-skiptolink-border-bottom-left-radius;
  border-bottom-right-radius: $c-skiptolink-border-bottom-right-radius;



  // --- text
  color: $c-skiptolink-font-color;
  font-family: $c-skiptolink-font-family;
  font-size: $c-skiptolink-font-size;
  font-style: $c-skiptolink-font-style;
  font-variant: $c-skiptolink-font-variant;
  font-weight: $c-skiptolink-font-weight;
  letter-spacing: $c-skiptolink-letter-spacing;
  line-height: $c-skiptolink-line-height;
  text-align: $c-skiptolink-text-align;
  text-decoration: $c-skiptolink-text-decoration;
  text-indent: $c-skiptolink-text-indent;
  text-overflow: $c-skiptolink-text-overflow;
  text-rendering: geometricPrecision;
  text-transform: $c-skiptolink-text-transform;
  text-shadow: $c-skiptolink-text-shadow;
  vertical-align: $c-skiptolink-vertical-align;
  white-space: $c-skiptolink-white-space;
  word-spacing: $c-skiptolink-word-spacing;
  user-select: none;


  // --- transforms
  transform: $c-skiptolink-transform;
  transform-origin: $c-skiptolink-transform-origin;
  transform-style: $c-skiptolink-transform-style;


  // --- transition
  will-change: $c-skiptolink-transition-property;
  transition-delay: $c-skiptolink-transition-delay;
  transition-duration: $c-skiptolink-transition-duration;
  transition-property: $c-skiptolink-transition-property;
  transition-timing-function: $c-skiptolink-transition-timing-function;



  // --- underline
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: calc(1px - (#{$c-skiptolink-padding-bottom} / 2) - (#{$c-skiptolink-underline-size} / 2));
    width: 100%;
    height: $c-skiptolink-underline-size;
    transform: $c-skiptolink-underline-transform;
    background-color: $c-skiptolink-underline-color;
    will-change: $c-skiptolink-transition-property, opacity;

    // -- transition
    transition-delay: $c-skiptolink-underline-transition-delay;
    transition-duration: $c-skiptolink-underline-transition-duration;
    transition-property: $c-skiptolink-underline-transition-property;
    transition-timing-function: $c-skiptolink-underline-transition-timing-function;
    transform-origin: $c-skiptolink-underline-transform-origin;
  }

  // --- Outline
  &:before {
    content: "";
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% + #{$c-skiptolink-padding-left} + #{$c-skiptolink-padding-right});
    height: calc(100% + #{$c-skiptolink-padding-top} + #{$c-skiptolink-padding-top});
    transform: translate(-50%, -50%);
    box-shadow: $c-skiptolink-outline;
    // border-radius
    border-top-left-radius: $c-skiptolink-border-top-left-radius;
    border-top-right-radius: $c-skiptolink-border-top-right-radius;
    border-bottom-left-radius: $c-skiptolink-border-bottom-left-radius;
    border-bottom-right-radius: $c-skiptolink-border-bottom-right-radius;
  }


  // --- :state: active
  &:active,
  &:focus,
  &.state-active {
    left: $c-skiptolink-state-active-position-left;
    top: $c-skiptolink-state-active-position-top;
    width: $c-skiptolink-state-active-width;
    height: $c-skiptolink-state-active-height;
    overflow: $c-skiptolink-state-active-overflow;


    background-color: $c-skiptolink-state-active-background-color;
    //
    border-top-color: $c-skiptolink-state-active-border-top-color;
    border-right-color: $c-skiptolink-state-active-border-right-color;
    border-bottom-color: $c-skiptolink-state-active-border-bottom-color;
    border-left-color: $c-skiptolink-state-active-border-left-color;
    //
    color: $c-skiptolink-state-active-font-color;
    //
    transform: $c-skiptolink-state-active-transform;
    outline: 0;

    &:before {
      display: block;
    }

    &:after {
      background-color: $c-skiptolink-state-active-underline-color;
      transform: $c-skiptolink-state-active-underline-transform;
      transform-origin: $c-skiptolink-state-active-underline-transform-origin;
    }
  }


  // --- :state: hover
  &:hover,
  &.state-hover {
    background-color: $c-skiptolink-state-hover-background-color;
    //
    border-top-color: $c-skiptolink-state-hover-border-top-color;
    border-right-color: $c-skiptolink-state-hover-border-right-color;
    border-bottom-color: $c-skiptolink-state-hover-border-bottom-color;
    border-left-color: $c-skiptolink-state-hover-border-left-color;
    //
    color: $c-skiptolink-state-hover-font-color;
    //
    transform: $c-skiptolink-state-hover-transform;

    &:after {
      background-color: $c-skiptolink-state-hover-underline-color;
      transform: $c-skiptolink-state-hover-underline-transform;
      transform-origin: $c-skiptolink-state-hover-underline-transform-origin;
    }
  }
}
