// loader


// --- background
$c-loader-background-color: transparent;
$c-loader-background-image: none;
$c-loader-background-position: initial;
$c-loader-background-size: initial;
$c-loader-background-repeat: initial;
$c-loader-background-origin: initial;
$c-loader-background-clip: initial;
$c-loader-background-attachment: initial;



// --- borders
// top
$c-loader-border-top-width: 1rem;
$c-loader-border-top-style: solid;
$c-loader-border-top-color: transparent;
// right
$c-loader-border-right-width: 1rem;
$c-loader-border-right-style: solid;
$c-loader-border-right-color: $color-brand-01;
// bottom
$c-loader-border-bottom-width: 1rem;
$c-loader-border-bottom-style: solid;
$c-loader-border-bottom-color: $color-brand-01;
// left
$c-loader-border-left-width: 1rem;
$c-loader-border-left-style: solid;
$c-loader-border-left-color: $color-brand-01;
// radius
$c-loader-border-top-left-radius: 50%;
$c-loader-border-top-right-radius: 50%;
$c-loader-border-bottom-left-radius: 50%;
$c-loader-border-bottom-right-radius: 50%;


// --- dimensions
$c-loader-size: 10rem;



// --- margins
$c-loader-margin-top: auto;
$c-loader-margin-right: 2rem;
$c-loader-margin-bottom: auto;
$c-loader-margin-left: 2rem;



// --- transition
$c-loader-animation-duration: 1.2s;
