// loader


// --- background
$c-loader-small-background-color: transparent;
$c-loader-small-background-image: none;
$c-loader-small-background-position: initial;
$c-loader-small-background-size: initial;
$c-loader-small-background-repeat: initial;
$c-loader-small-background-origin: initial;
$c-loader-small-background-clip: initial;
$c-loader-small-background-attachment: initial;



// --- borders
// top
$c-loader-small-border-top-width: 0.5rem;
$c-loader-small-border-top-style: solid;
$c-loader-small-border-top-color: transparent;
// right
$c-loader-small-border-right-width: 0.5rem;
$c-loader-small-border-right-style: solid;
$c-loader-small-border-right-color: $color-brand-01;
// bottom
$c-loader-small-border-bottom-width: 0.5rem;
$c-loader-small-border-bottom-style: solid;
$c-loader-small-border-bottom-color: $color-brand-01;
// left
$c-loader-small-border-left-width: 0.5rem;
$c-loader-small-border-left-style: solid;
$c-loader-small-border-left-color: $color-brand-01;
// radius
$c-loader-small-border-top-left-radius: 50%;
$c-loader-small-border-top-right-radius: 50%;
$c-loader-small-border-bottom-left-radius: 50%;
$c-loader-small-border-bottom-right-radius: 50%;


// --- dimensions
$c-loader-small-size: 4rem;



// --- margins
$c-loader-small-margin-top: auto;
$c-loader-small-margin-right: 2rem;
$c-loader-small-margin-bottom: auto;
$c-loader-small-margin-left: 2rem;
