// loader


// --- background
$c-loader-extrasmall-background-color: transparent;
$c-loader-extrasmall-background-image: none;
$c-loader-extrasmall-background-position: initial;
$c-loader-extrasmall-background-size: initial;
$c-loader-extrasmall-background-repeat: initial;
$c-loader-extrasmall-background-origin: initial;
$c-loader-extrasmall-background-clip: initial;
$c-loader-extrasmall-background-attachment: initial;



// --- borders
// top
$c-loader-extrasmall-border-top-width: 0.25rem;
$c-loader-extrasmall-border-top-style: solid;
$c-loader-extrasmall-border-top-color: transparent;
// right
$c-loader-extrasmall-border-right-width: 0.25rem;
$c-loader-extrasmall-border-right-style: solid;
$c-loader-extrasmall-border-right-color: $color-brand-01;
// bottom
$c-loader-extrasmall-border-bottom-width: 0.25rem;
$c-loader-extrasmall-border-bottom-style: solid;
$c-loader-extrasmall-border-bottom-color: $color-brand-01;
// left
$c-loader-extrasmall-border-left-width: 0.25rem;
$c-loader-extrasmall-border-left-style: solid;
$c-loader-extrasmall-border-left-color: $color-brand-01;
// radius
$c-loader-extrasmall-border-top-left-radius: 50%;
$c-loader-extrasmall-border-top-right-radius: 50%;
$c-loader-extrasmall-border-bottom-left-radius: 50%;
$c-loader-extrasmall-border-bottom-right-radius: 50%;


// --- dimensions
$c-loader-extrasmall-size: 2rem;



// --- margins
$c-loader-extrasmall-margin-top: auto;
$c-loader-extrasmall-margin-right: 1rem;
$c-loader-extrasmall-margin-bottom: auto;
$c-loader-extrasmall-margin-left: 1rem;
