// notification



// --- size
$c-notification-width: 100%;


// --- display
$c-notification-display: block;


// --- background
$c-notification-background-color: $color-ui-01;
$c-notification-background-image: none;
$c-notification-background-position: initial;
$c-notification-background-size: initial;
$c-notification-background-repeat: initial;
$c-notification-background-origin: initial;
$c-notification-background-clip: initial;
$c-notification-background-attachment: initial;



// error
$c-notification-error-border-top-width: 0.125rem;
$c-notification-error-border-top-style: solid;
$c-notification-error-border-right-width: 0.125rem;
$c-notification-error-border-right-style: solid;
$c-notification-error-border-bottom-width: 0.125rem;
$c-notification-error-border-bottom-style: solid;
$c-notification-error-border-left-width: 1rem;
$c-notification-error-border-left-style: solid;
$c-notification-error-border-top-color: $color-error-01;
$c-notification-error-border-right-color: $color-error-01;
$c-notification-error-border-bottom-color: $color-error-01;
$c-notification-error-border-left-color: $color-error-01;
// info
$c-notification-info-border-top-width: 0.125rem;
$c-notification-info-border-top-style: solid;
$c-notification-info-border-right-width: 0.125rem;
$c-notification-info-border-right-style: solid;
$c-notification-info-border-bottom-width: 0.125rem;
$c-notification-info-border-bottom-style: solid;
$c-notification-info-border-left-width: 1rem;
$c-notification-info-border-left-style: solid;
$c-notification-info-border-top-color: $color-ui-04;
$c-notification-info-border-right-color: $color-ui-04;
$c-notification-info-border-bottom-color: $color-ui-04;
$c-notification-info-border-left-color: $color-ui-04;
// success
$c-notification-success-border-top-width: 0.125rem;
$c-notification-success-border-top-style: solid;
$c-notification-success-border-right-width: 0.125rem;
$c-notification-success-border-right-style: solid;
$c-notification-success-border-bottom-width: 0.125rem;
$c-notification-success-border-bottom-style: solid;
$c-notification-success-border-left-width: 1rem;
$c-notification-success-border-left-style: solid;
$c-notification-success-border-top-color: $color-success-01;
$c-notification-success-border-right-color: $color-success-01;
$c-notification-success-border-bottom-color: $color-success-01;
$c-notification-success-border-left-color: $color-success-01;
// warning
$c-notification-warning-border-top-width: 0.125rem;
$c-notification-warning-border-top-style: solid;
$c-notification-warning-border-right-width: 0.125rem;
$c-notification-warning-border-right-style: solid;
$c-notification-warning-border-bottom-width: 0.125rem;
$c-notification-warning-border-bottom-style: solid;
$c-notification-warning-border-left-width: 1rem;
$c-notification-warning-border-left-style: solid;
$c-notification-warning-border-top-color: $color-warning-01;
$c-notification-warning-border-right-color: $color-warning-01;
$c-notification-warning-border-bottom-color: $color-warning-01;
$c-notification-warning-border-left-color: $color-warning-01;
// flash: error
$c-flash-error-border-top-width: 0;
$c-flash-error-border-top-style: solid;
$c-flash-error-border-right-width: 0;
$c-flash-error-border-right-style: solid;
$c-flash-error-border-bottom-width: 0;
$c-flash-error-border-bottom-style: solid;
$c-flash-error-border-left-width: 1rem;
$c-flash-error-border-left-style: solid;
$c-flash-error-border-top-color: transparent;
$c-flash-error-border-right-color: transparent;
$c-flash-error-border-bottom-color: transparent;
$c-flash-error-border-left-color: $color-error-01;
// flash: success
$c-flash-success-border-top-width: 0;
$c-flash-success-border-top-style: solid;
$c-flash-success-border-right-width: 0;
$c-flash-success-border-right-style: solid;
$c-flash-success-border-bottom-width: 0;
$c-flash-success-border-bottom-style: solid;
$c-flash-success-border-left-width: 1rem;
$c-flash-success-border-left-style: solid;
$c-flash-border-top-color: transparent;
$c-flash-border-right-color: transparent;
$c-flash-border-bottom-color: transparent;
$c-flash-border-left-color: $color-success-01;
// flash: warning
$c-flash-warning-border-top-width: 0;
$c-flash-warning-border-top-style: solid;
$c-flash-warning-border-right-width: 0;
$c-flash-warning-border-right-style: solid;
$c-flash-warning-border-bottom-width: 0;
$c-flash-warning-border-bottom-style: solid;
$c-flash-warning-border-left-width: 1rem;
$c-flash-warning-border-left-style: solid;
$c-flash-warning-border-top-color: transparent;
$c-flash-warning-border-right-color: transparent;
$c-flash-warning-border-bottom-color: transparent;
$c-flash-warning-border-left-color: $color-warning-01;

// radius
$c-notification-border-top-left-radius: 0.25rem;
$c-notification-border-top-right-radius: 0.25rem;
$c-notification-border-bottom-left-radius: 0.25rem;
$c-notification-border-bottom-right-radius: 0.25rem;


// --- margins
$c-notification-margin-top: 0;
$c-notification-margin-right: 0;
$c-notification-margin-bottom: 0;
$c-notification-margin-left: 0;


// --- paddings
$c-notification-padding-top: 1.5rem;
$c-notification-padding-right: 1.5rem;
$c-notification-padding-bottom: 1.5rem;
$c-notification-padding-left: 1.5rem;


// --- text
$c-notification-font-family: $font-brand-regular;
$c-notification-font-color: $color-text-01;
$c-notification-font-size: $font-size-m;
$c-notification-font-style: normal;
$c-notification-font-variant: normal;
$c-notification-font-weight: $font-weight-medium;
$c-notification-line-height: 1.25;
$c-notification-letter-spacing: 0;
$c-notification-text-align: left;
$c-notification-text-decoration: none;
$c-notification-text-indent: initial;
$c-notification-text-overflow: none;
$c-notification-text-transform: none;
$c-notification-text-shadow: none;
$c-notification-vertical-align: initial;
$c-notification-white-space : normal;
$c-notification-word-spacing: normal;


// --- transforms
$c-notification-transform: none;
$c-notification-transform-origin: center center;
$c-notification-transform-style: preserve-3d;


// --- transition
$c-notification-transition-delay: 0;
$c-notification-transition-duration: .15s;
$c-notification-transition-property: all;
$c-notification-transition-timing-function: $ease-in-quad;

// --- Flash variants
$c-flash-max-width: 20rem;
$c-flash-box-shadow: $shadow-depth-3;
$c-flash-position-top: 2rem;
$c-flash-position-right: 2rem;
$c-flash-position-bottom: auto;
$c-flash-position-left: auto;


// --- Button
$c-notification-button-color: $color-ui-03;
