// progress-bar


// --- background
$c-progress-background-color: $color-ui-02;
$c-progress-background-image: none;
$c-progress-background-position: initial;
$c-progress-background-size: initial;
$c-progress-background-repeat: initial;
$c-progress-background-origin: initial;
$c-progress-background-clip: initial;
$c-progress-background-attachment: initial;



// --- borders
// top
$c-progress-border-top-width: 0px;
$c-progress-border-top-style: solid;
$c-progress-border-top-color: transparent;
// right
$c-progress-border-right-width: 0px;
$c-progress-border-right-style: solid;
$c-progress-border-right-color: transparent;
// bottom
$c-progress-border-bottom-width: 0px;
$c-progress-border-bottom-style: solid;
$c-progress-border-bottom-color: transparent;
// left
$c-progress-border-left-width: 0px;
$c-progress-border-left-style: solid;
$c-progress-border-left-color: transparent;
// radius
$c-progress-border-top-left-radius: 0.25rem;
$c-progress-border-top-right-radius: 0.25rem;
$c-progress-border-bottom-left-radius: 0.25rem;
$c-progress-border-bottom-right-radius: 0.25rem;


// -- display
$c-progress-display: block;


// --- margins
$c-progress-margin-top: 1rem;
$c-progress-margin-right: auto;
$c-progress-margin-bottom: 1rem;
$c-progress-margin-left: auto;


// --- position
$c-progress-position: relative;
$c-progress-position-top: auto;
$c-progress-position-right: auto;
$c-progress-position-bottom: auto;
$c-progress-position-left: auto;
$c-progress-position-zindex: 1;


// --- shadow
$c-progress-box-shadow: 0px 0px 0px 0px transparent;


// --- sizing
$c-progress-width: 100%;
$c-progress-min-width: 100%;
$c-progress-max-width: none;
$c-progress-height: 2rem;
$c-progress-min-height: initial;
$c-progress-max-height: none;


/*
    Bar
*/


// --- background
$c-progress-bar-background-color: $color-brand-01;
$c-progress-bar-background-image: none;
$c-progress-bar-background-position: initial;
$c-progress-bar-background-size: initial;
$c-progress-bar-background-repeat: initial;
$c-progress-bar-background-origin: initial;
$c-progress-bar-background-clip: initial;
$c-progress-bar-background-attachment: initial;



// --- borders
// top
$c-progress-bar-border-top-width: 0px;
$c-progress-bar-border-top-style: solid;
$c-progress-bar-border-top-color: transparent;
// right
$c-progress-bar-border-right-width: 0px;
$c-progress-bar-border-right-style: solid;
$c-progress-bar-border-right-color: transparent;
// bottom
$c-progress-bar-border-bottom-width: 0px;
$c-progress-bar-border-bottom-style: solid;
$c-progress-bar-border-bottom-color: transparent;
// left
$c-progress-bar-border-left-width: 0px;
$c-progress-bar-border-left-style: solid;
$c-progress-bar-border-left-color: transparent;
// radius
$c-progress-bar-border-top-left-radius: 0px;
$c-progress-bar-border-top-right-radius: 0px;
$c-progress-bar-border-bottom-left-radius: 0px;
$c-progress-bar-border-bottom-right-radius: 0px;


// -- display
$c-progress-bar-display: block;


// --- position
$c-progress-bar-position: relative;
$c-progress-bar-position-top: auto;
$c-progress-bar-position-right: auto;
$c-progress-bar-position-bottom: auto;
$c-progress-bar-position-left: auto;
$c-progress-bar-position-zindex: 1;


// --- text
$c-progress-bar-font-family: $font-brand-regular;
$c-progress-bar-font-color: $color-ui-01;
$c-progress-bar-font-size: $font-size-m;
$c-progress-bar-font-style: normal;
$c-progress-bar-font-variant: normal;
$c-progress-bar-font-weight: $font-weight-regular;
$c-progress-bar-line-height: 2rem;
$c-progress-bar-letter-spacing: 0;
$c-progress-bar-text-align: center;
$c-progress-bar-text-decoration: none;
$c-progress-bar-text-indent: initial;
$c-progress-bar-text-overflow: initial;
$c-progress-bar-text-transform: none;
$c-progress-bar-text-shadow: none;
$c-progress-bar-vertical-align: initial;
$c-progress-bar-white-space: nowrap;
$c-progress-bar-word-spacing: normal;


// --- sizing
$c-progress-bar-height: 100%;


// --- transition
$c-progress-bar-transition-delay: 0;
$c-progress-bar-transition-duration: .3s;
$c-progress-bar-transition-property: width;
$c-progress-bar-transition-timing-function: $ease-in-quad;



/*
    Max-range label
*/

// --- background
$c-progress-label-background-color: transparent;
$c-progress-label-background-image: none;
$c-progress-label-background-position: initial;
$c-progress-label-background-size: initial;
$c-progress-label-background-repeat: initial;
$c-progress-label-background-origin: initial;
$c-progress-label-background-clip: initial;
$c-progress-label-background-attachment: initial;



// --- borders
// top
$c-progress-label-border-top-width: 0px;
$c-progress-label-border-top-style: solid;
$c-progress-label-border-top-color: transparent;
// right
$c-progress-label-border-right-width: 0px;
$c-progress-label-border-right-style: solid;
$c-progress-label-border-right-color: transparent;
// bottom
$c-progress-label-border-bottom-width: 0px;
$c-progress-label-border-bottom-style: solid;
$c-progress-label-border-bottom-color: transparent;
// left
$c-progress-label-border-left-width: 0px;
$c-progress-label-border-left-style: solid;
$c-progress-label-border-left-color: transparent;
// radius
$c-progress-label-border-top-left-radius: 0px;
$c-progress-label-border-top-right-radius: 0px;
$c-progress-label-border-bottom-left-radius: 0px;
$c-progress-label-border-bottom-right-radius: 0px;


// -- display
$c-progress-label-display: block;


// --- position
$c-progress-label-position: relative;
$c-progress-label-position-top: auto;
$c-progress-label-position-right: auto;
$c-progress-label-position-bottom: auto;
$c-progress-label-position-left: auto;
$c-progress-label-position-zindex: 1;


$c-progress-label-width: 100%;
$c-progress-label-min-width: initial;
$c-progress-label-max-width: none;
$c-progress-label-height: auto;
$c-progress-label-min-height: initial;
$c-progress-label-max-height: none;


// --- text
$c-progress-label-font-family: $font-brand-regular;
$c-progress-label-font-color: $color-text-01;
$c-progress-label-font-size: $font-size-m;
$c-progress-label-font-style: normal;
$c-progress-label-font-variant: normal;
$c-progress-label-font-weight: $font-weight-regular;
$c-progress-label-line-height: 2rem;
$c-progress-label-letter-spacing: 0;
$c-progress-label-text-align: center;
$c-progress-label-text-decoration: none;
$c-progress-label-text-indent: initial;
$c-progress-label-text-overflow: initial;
$c-progress-label-text-transform: none;
$c-progress-label-text-shadow: none;
$c-progress-label-vertical-align: initial;
$c-progress-label-white-space: nowrap;
$c-progress-label-word-spacing: normal;


// --- transition
$c-progress-label-transition-delay: 0;
$c-progress-label-transition-duration: .3s;
$c-progress-label-transition-property: width;
$c-progress-label-transition-timing-function: $ease-in-quad;
