// --- quickfilter label


// --- text
$c-quickfilter-label-font-family: $font-brand-regular;
$c-quickfilter-label-font-color: $color-brand-01;
$c-quickfilter-label-font-size: $font-size-m;
$c-quickfilter-label-font-style: normal;
$c-quickfilter-label-font-variant: normal;
$c-quickfilter-label-font-weight: $font-weight-regular;
$c-quickfilter-label-line-height: 1;
$c-quickfilter-label-letter-spacing: 0;
$c-quickfilter-label-text-align: left;
$c-quickfilter-label-text-decoration: none;
$c-quickfilter-label-text-indent: 0;
$c-quickfilter-label-text-overflow: initial;
$c-quickfilter-label-text-transform: none;
$c-quickfilter-label-text-shadow: none;
$c-quickfilter-label-vertical-align: initial;
$c-quickfilter-label-white-space: normal;
$c-quickfilter-label-word-spacing: normal;


// --- transition
$c-quickfilter-label-transition-property: color;
