// --- quickfilter label state:disabled:checked


$c-quickfilter-label-disabled-checked-font-family: $font-brand-regular;
$c-quickfilter-label-disabled-checked-font-color: rgba($color-brand-01, 0.50);
$c-quickfilter-label-disabled-checked-font-size: $font-size-m;
$c-quickfilter-label-disabled-checked-font-style: normal;
$c-quickfilter-label-disabled-checked-font-variant: normal;
$c-quickfilter-label-disabled-checked-font-weight: $font-weight-regular;
$c-quickfilter-label-disabled-checked-line-height: 1;
$c-quickfilter-label-disabled-checked-letter-spacing: 0;
$c-quickfilter-label-disabled-checked-text-align: left;
$c-quickfilter-label-disabled-checked-text-decoration: none;
$c-quickfilter-label-disabled-checked-text-indent: 0;
$c-quickfilter-label-disabled-checked-text-overflow: initial;
$c-quickfilter-label-disabled-checked-text-transform: none;
$c-quickfilter-label-disabled-checked-text-shadow: none;
$c-quickfilter-label-disabled-checked-vertical-align: initial;
$c-quickfilter-label-disabled-checked-white-space: normal;
$c-quickfilter-label-disabled-checked-word-spacing: normal;
