// --- quickfilter state:focus


$c-quickfilter-label-focus-font-family: $font-brand-regular;
$c-quickfilter-label-focus-font-color: $color-brand-02;
$c-quickfilter-label-focus-font-size: $font-size-m;
$c-quickfilter-label-focus-font-style: normal;
$c-quickfilter-label-focus-font-variant: normal;
$c-quickfilter-label-focus-font-weight: $font-weight-regular;
$c-quickfilter-label-focus-line-height: 1;
$c-quickfilter-label-focus-letter-spacing: 0;
$c-quickfilter-label-focus-text-align: left;
$c-quickfilter-label-focus-text-decoration: none;
$c-quickfilter-label-focus-text-indent: 0;
$c-quickfilter-label-focus-text-overflow: initial;
$c-quickfilter-label-focus-text-transform: none;
$c-quickfilter-label-focus-text-shadow: none;
$c-quickfilter-label-focus-vertical-align: initial;
$c-quickfilter-label-focus-white-space: normal;
$c-quickfilter-label-focus-word-spacing: normal;
