// --- quickfilter label state:disabled


$c-quickfilter-label-disabled-font-family: $font-brand-regular;
$c-quickfilter-label-disabled-font-color: rgba($color-brand-01, 0.50);
$c-quickfilter-label-disabled-font-size: $font-size-m;
$c-quickfilter-label-disabled-font-style: normal;
$c-quickfilter-label-disabled-font-variant: normal;
$c-quickfilter-label-disabled-font-weight: $font-weight-regular;
$c-quickfilter-label-disabled-line-height: 1;
$c-quickfilter-label-disabled-letter-spacing: 0;
$c-quickfilter-label-disabled-text-align: left;
$c-quickfilter-label-disabled-text-decoration: none;
$c-quickfilter-label-disabled-text-indent: 0;
$c-quickfilter-label-disabled-text-overflow: initial;
$c-quickfilter-label-disabled-text-transform: none;
$c-quickfilter-label-disabled-text-shadow: none;
$c-quickfilter-label-disabled-vertical-align: initial;
$c-quickfilter-label-disabled-white-space: normal;
$c-quickfilter-label-disabled-word-spacing: normal;
