// --- quickfilter label state:checkeded:hover


$c-quickfilter-label-checked-focus-font-family: $font-brand-regular;
$c-quickfilter-label-checked-focus-font-color: $color-text-04;
$c-quickfilter-label-checked-focus-font-size: $font-size-m;
$c-quickfilter-label-checked-focus-font-style: normal;
$c-quickfilter-label-checked-focus-font-variant: normal;
$c-quickfilter-label-checked-focus-font-weight: $font-weight-regular;
$c-quickfilter-label-checked-focus-line-height: 1;
$c-quickfilter-label-checked-focus-letter-spacing: 0;
$c-quickfilter-label-checked-focus-text-align: left;
$c-quickfilter-label-checked-focus-text-decoration: none;
$c-quickfilter-label-checked-focus-text-indent: 0;
$c-quickfilter-label-checked-focus-text-overflow: initial;
$c-quickfilter-label-checked-focus-text-transform: none;
$c-quickfilter-label-checked-focus-text-shadow: none;
$c-quickfilter-label-checked-focus-vertical-align: initial;
$c-quickfilter-label-checked-focus-white-space: normal;
$c-quickfilter-label-checked-focus-word-spacing: normal;
