// --- quickfilter label state: hover


$c-quickfilter-label-hover-font-family: $font-brand-regular;
$c-quickfilter-label-hover-font-color: $color-brand-02;
$c-quickfilter-label-hover-font-size: $font-size-m;
$c-quickfilter-label-hover-font-style: normal;
$c-quickfilter-label-hover-font-variant: normal;
$c-quickfilter-label-hover-font-weight: $font-weight-regular;
$c-quickfilter-label-hover-line-height: 1;
$c-quickfilter-label-hover-letter-spacing: 0;
$c-quickfilter-label-hover-text-align: left;
$c-quickfilter-label-hover-text-decoration: none;
$c-quickfilter-label-hover-text-indent: 0;
$c-quickfilter-label-hover-text-overflow: initial;
$c-quickfilter-label-hover-text-transform: none;
$c-quickfilter-label-hover-text-shadow: none;
$c-quickfilter-label-hover-vertical-align: initial;
$c-quickfilter-label-hover-white-space: normal;
$c-quickfilter-label-hover-word-spacing: normal;
