
#calvi-console-messages {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 300px;
    max-height: 300px;
    left:0;
    z-index: 998;
    background-color: #292C34;
    padding: 20px 20px 20px 20px;
    overflow-x: auto;
}


.calvi-console-message {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    line-height: 1.4;
    color: #ACB2BE;
    text-align: left;
    margin-bottom: 10px;
}

.calvi-console-message h4 {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    line-height: 1.4;
    font-size: 12px;
    color: #C6996D;
    margin: 0;
}
.calvi-console-message .highlight {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    line-height: 1.4;
    font-size: 12px;
    color: #9FC081;
    margin: 0;
}
