@keyframes criticalMessage {
    from { opacity: 1; max-height: 300px; padding: 20px 20px}
    to { opacity: 0; max-height: 1px; padding: 0px 20px; margin : 0}
}

#calvi-critical-messages {
    position: fixed;
    bottom: 10px;
    max-width: 600px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}


.calvi-critical-warning {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: black;
    text-align: left;
    //
    min-width: 300px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: #fec61f;
    border-radius: 2px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    //
    overflow: hidden;
    animation: criticalMessage .3s 5s forwards;
}

.calvi-critical-warning h4 {
    font-size: 14px;
    margin: 0 0 12px 0;
}

.calvi-critical-error {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: white;
    text-align: left;
    //
    min-width: 300px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: #e6493a;
    border-radius: 2px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    //
    overflow: hidden;
    animation: criticalMessage .3s 5s forwards;
}

.calvi-critical-error h4 {
    font-size: 14px;
    color: white;
    margin: 0 0 12px 0;
}
