// Styleguide



// --- Styleguide specific
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
$styleguide-color-text  : #000000;
$styleguide-color-background: #f5f6f9;
$styleguide-color-calvi: #E81E02;
$styleguide-font: 'Roboto Condensed', sans-serif;
$styleguide-page-margin: 1.5rem;
$styleguide-viewport-width: 1280px;



// --- Logo
.styleguide-logo {
    display: block;
    height: 1.5rem;
    margin-left: 1rem;
}



// --- grid toggle
.styleguide-toggle {
    position: absolute;
    top: 0;
    right: 0.5rem;
    z-index: 2;

    svg {
        .sign {
            fill: black !important;
        }
    }
}



// --- menu
.styleguide-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 340px;
    height: 100vh;
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    z-index: 10;
    //
    background-color: rgba(white, 0.97);
    box-shadow: $shadow-depth-4;

    a:hover,
    a:focus,
    a:active {
        color: $styleguide-color-calvi;
        outline: 0;
    }

    .styleguide-menu_items {
        position: relative;
        top: 3rem;
        height: calc(100vh - 9rem);
        padding-bottom: 3rem;
        overflow-y: auto;
    }

    .styleguide-menu_toggle {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: transparent;
        transform: translateX(0);
        will-change: transform;
        transition: transform .2s;

        .line {
            display: block;
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: rgba($styleguide-color-text, 0.75);
            position: absolute;
            left: 50%;
            top: 50%;
            transform-origin: top left;
            will-change: opacity, transform;

            &:nth-child(1) {
                transform: rotate(45deg) translate(-50%, -50%);
            }
            &:nth-child(2) {
                transform: rotate(-45deg) translate(-50%, -50%);
            }
            &:nth-child(3) {
                opacity: 0;
                transform: rotate(0) translate(-50%, -50%);
            }
        }

        &:active,
        &:focus{
            box-shadow: 0px 0px 0px 3px #FFFFFF, 0px 0px 0px 5px rgba($styleguide-color-text, 0.8);
        }
    }

    .styleguide-menu_item {
        display: block;
        margin: 0 auto 1.25rem auto;
        padding: 0 0 0 0.5rem;
        //
        font-family: $styleguide-font;
        color: rgba($styleguide-color-text, 0.85);
        font-size: $font-size-s;
        font-weight: 300;
        text-align: left;
        line-height: 1;
        text-decoration: none;
        transition: color .1s;

        span {
            font-weight: 400;
        }


        &:hover,
        &:focus,
        &:active {
            color: $styleguide-color-calvi;
            outline: 0;
        }
        &.active {
            font-weight: 400;
        }
    }

    will-change: transform;
    transition: transform .2s;


    &.is-hidden {
        transform: translateX(-100%);

        .styleguide-menu_toggle {
            transform: translateX(3.5rem);
            .line {
                &:nth-child(1) {
                    transform: rotate(0) translate(-50%, -600%);
                }
                &:nth-child(2) {
                    transform:rotate(0) translate(-50%, 0%);
                }
                &:nth-child(3) {
                    opacity: 1;
                    transform:rotate(0) translate(-50%, 600%);
                }
            }
        }
    }

     // --- hacks

     .c-accordion-group c-accordion:last-child .c-accordion {
        border-bottom: none;
     }

     .c-accordion {
         border-top-width: 0;

         .c-accordion-region {
            padding-left: 1rem;
         }

     }

     .c-accordion .c-accordion-button[aria-expanded="true"],
     .c-accordion .c-accordion-button {
        display: block;
        margin: 0;
        //
        font-family: $styleguide-font;
        font-size: $font-size-xxs;
        font-weight: 400;
        letter-spacing: 0.1rem;
        color: $styleguide-color-calvi;
        text-transform: uppercase;
        text-align: left;
        line-height: 1;
        text-decoration: none;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;

        &:hover,
        &:focus,
        &:active {
            color: $styleguide-color-calvi;
            outline: 0;
            padding-top: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
        }
    }


    .c-accordion .c-accordion-button[aria-expanded="true"] {
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        .c-icon {
            transform: rotate(180deg);
        }
    }


    .c-accordion .c-accordion-button {

        &:hover, &:focus {
            .c-icon svg circle {
                stroke: none;
            }

        }

        .c-icon {
            position: absolute;
            right: 0;
            top: 0.75rem;

            svg {
                color: $styleguide-color-calvi;
                &:hover circle, circle {
                    stroke: none;
                }
                path {
                    fill: $styleguide-color-calvi;
                }
            }
        }
    }
}


.styleguide {
    margin: 0 0 10rem 0;

    // --- article
    article {
        padding : 0 $styleguide-page-margin 0 $styleguide-page-margin;
        position: relative;

        @include screen-tablet {
            padding : 0 3rem 0 3rem;
        }

        @include screen-desktop {
            padding : 0 3rem 0 3rem;
        }

        &:first-of-type {
            margin-top: 15rem;
        }
    }

    // --- pre
    pre {
        margin: 0;
        padding: 0;
    }

    pre[class*="language-"] {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 25rem;
        padding: 2rem;
        margin: 0;
        border: 0;
        border-radius: 0;
        resize: none;
        overflow: auto;
        background: linear-gradient(-30deg,#273149,#1c273f);
        font-size: 1rem;
    }


    .c-tab-panel {
        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
            table-layout: fixed;
            margin-bottom: 2rem;
            background-color: $styleguide-color-background;
        }
        th {
            border-bottom: 1px solid rgba($styleguide-color-text, 0.5);
            padding: 0.5rem 1rem 0.5rem 1rem;
            //
            font-family: $styleguide-font;
            color: rgba($styleguide-color-text, 1);
            font-size: $font-size-s;
            font-weight: 400;
            text-align: left;
        }
        td {
            border-bottom: 1px solid rgba($styleguide-color-text, 0.05);
            padding: 0.5rem 1rem 0.5rem 1rem;
            //
            font-family: $styleguide-font;
            color: rgba($styleguide-color-text, 1);
            font-size: $font-size-s;
            font-weight: 300;
            line-height: 1.3;
            text-align: left;
            white-space: normal;
            vertical-align: top;

            strong {
                font-weight: 400;
                font-size: $font-size-s;
                color: $styleguide-color-calvi;
            }
            em {
                font-weight: 300;
                font-size: $font-size-s;
            }
        }

        tr {
            td:first-child {
                width: 15%;
            }
            td:nth-child(2) {
                width: 25%;
            }
            td:nth-child(4) {
                width: 15%;
                text-align: center;
            }
            th:first-child {
                width: 15%;
            }
            th:nth-child(2) {
                width: 25%;
            }
            th:nth-child(4) {
                width: 15%;
                text-align: center;
            }
        }


        h3 {
            margin: 4rem auto -3rem auto;
            //
            font-family: $styleguide-font;
            font-size: $font-size-m;
            font-weight: 400;
            letter-spacing: 0.1rem;
            color: $styleguide-color-text;
            text-transform: uppercase;
            text-align: left;
            line-height: 1;
            text-decoration: none;
        }
        h4 {
            margin: 4rem auto 0.5rem auto;
            //
            font-family: $styleguide-font;
            font-size: $font-size-xs;
            font-weight: 400;
            letter-spacing: 0.1rem;
            color: $styleguide-color-calvi;
            text-transform: uppercase;
            text-align: left;
            line-height: 1;
            text-decoration: none;
        }
    }

    markdown {
        p {
            padding: 0;
            margin: 0 0 0.5rem 0;
            //
            font-family: $styleguide-font;
            color: rgba($styleguide-color-text, 1);
            font-size: $font-size-m;
            font-weight: 300;

            strong {
                font-weight: 400;
            }
        }

        a {
            color: $styleguide-color-calvi;
        }
    }

}


// --- Title
.styleguide-title {
    position: relative;
    max-width: $styleguide-viewport-width;
    margin: 0 auto 4rem auto;
    //
    font-family: $styleguide-font;
    color: rgba($styleguide-color-text, 1);
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.015rem;
    text-align: left;
    line-height: 1;

    span {
        font-weight: 300;
        color: rgba($styleguide-color-text, 0.45);
    }

    &:after {
        content: 'Calvi Design System';
        position: absolute;
        left: 3px;
        top: 2.75rem;
        //
        font-family: $styleguide-font;
        font-size: $font-size-xxs;
        font-weight: 400;
        letter-spacing: 0.1rem;
        color: rgba($styleguide-color-text, 0.5);
        text-transform: uppercase;
    }
}


.styleguide-todo {
    position: relative;
    max-width: ($styleguide-viewport-width + 60px);
    margin: 0 auto 3rem auto;
    padding: 1rem 1rem 1rem 2rem;
    //
    font-family: $styleguide-font;
    color: rgba($styleguide-color-text, 0.85);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    text-align: left;
    line-height: 1;
    //
    background-color: #fec61f;
    border-radius: 0.25rem;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 1.5rem;
        top: -0.5rem;
        width: 1rem;
        height: 1rem;
        background-color: #fec61f;
        transform: rotate(45deg);
    }
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: inherit;
        top: 0.5rem;
        left: 0;
        filter: blur(0.5rem);
        opacity: 0.5;
        z-index: -1;
    }
}



// ---  Example
.styleguide-example {
    position: relative;
    display: block;
    max-width: $styleguide-viewport-width;
    margin: 0 auto 0 auto;
    padding: 4rem 0 4rem 0;
    //
    text-align: center;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 100vw;
        height: 100%;
        transform: translateX(-50%);
        z-index: -1;
        //
        background-color: $styleguide-color-background;
    }
    &:after {
        content: '';
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image:
            linear-gradient(rgba(199, 199, 199, 0.3), transparent 1px),
            linear-gradient(to right, rgba(199, 199, 199, 0.3), transparent 1px);
        background-size:
            100% 8px,
            8px 100%;
        pointer-events: none;
        z-index: 100;
    }

    &.align-left {
        text-align: left;
    }

    &.display-grid {
        &:after {
            visibility: visible;
        }
    }

    &.background-color-white {
        &:before {
            background-color: #FFFFFF;
        }
    }

    &.background-color-light {
        &:before {
            background-color: lighten($styleguide-color-background, 2%);
            border-top: 1px solid $styleguide-color-background;
            border-bottom: 1px solid $styleguide-color-background;
        }
    }

    &.full-width {
        //max-width: none;
    }

    &.icons-overview {
        .c-icon {
            margin-top: 1rem;
            margin-right: 0.5rem;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
        }
        .c-tile-icon {
            position: relative;
            display: inline-block;
            margin-top: 1rem;
            margin-right: 6rem;
            margin-bottom: 8rem;
            margin-left: 0;


            &:before {
                content: attr(class);
                width: 100%;
                height: auto;
                position: absolute;
                left: 0;
                bottom: -3rem;
                z-index: 1;
                word-wrap: normal;
                word-break: keep-all;
                //
                font-family: $styleguide-font;
                font-size: $font-size-s;
                font-weight: 400;
                text-align: center;
                color: $color-black-40;
            }
        }
    }

    // --- hack
    .c-notification.is-flash-success  {
        top: 4rem;
        right: 60rem;
    }
    .c-notification.is-flash-warning  {
        top: 4rem;
        right: 30rem;
    }
    .c-notification.is-flash-error  {
        top: 4rem;
        right: 0;
    }
}


.styleguide-overview {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    max-width: $styleguide-viewport-width;
    margin: 0 auto 0 auto;
    padding: 0 0 4rem 0;
    //
    text-align: center;
    z-index: 1;
}

.styleguide-overview_item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 1rem 1rem 0;
    width: calc(33.33% - 1rem);
    padding: 6rem 4rem 6rem 4rem;
    background-color: $styleguide-color-background;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: box-shadow $ease-out-quad .15s, transform $ease-out-quad .15s;
    box-shadow: $shadow-depth-0;
    transform: scale(1);
    //
    text-align: center;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        pointer-events: none;
    }

    &.display-as-row {
        flex-direction: row;
    }

    h4 {
        text-transform: uppercase;
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1rem 1.5rem 1rem 1.5rem;

        font-family: $styleguide-font;
        font-size: $font-size-xxs;
        font-weight: 400;
        letter-spacing: 0.1rem;
        color: rgba($styleguide-color-text, 0.5);
        text-transform: uppercase;
        text-align: left;
    }

    p {
        margin: 0;
    }

    [class*="c-"] {
        user-select: none;
        pointer-events: none;
        z-index: -1;
    }

    &:focus,
    &:active,
    &:hover {
        outline: 0;
        transform: scale(1.01);
        box-shadow: 0px 0px 0px 0.125rem $color-white, 0px 0px 0px (0.25rem) $styleguide-color-calvi, $shadow-depth-3;
        z-index: 2;
    }


    // --- hacks
    .c-chart.is-donut-chart.size-small,
    .c-chart.is-pie-chart.size-small {
        width: 6rem;
        height: 6rem;
    }
    .c-chart.is-spline-chart .c-chart-item {
        height: 6rem;
    }
    .c-chart.is-column-chart.size-small {
        height: 10rem;
    }
    .c-chart.is-stacked-column-chart.size-small {
        height: 10rem;
    }
    .c-notification.is-flash-success  {
        position: relative;
        top: 0;
        right: 0;
    }
    c-progress-bar .c-progress {
        width: 15rem;
    }
    c-pagination p span:first-of-type  {
        display: none;
    }
    .c-modal_wrapper {
        position: relative;
        height: 100%;
        width: 100%;
    }
}



// ---  Description
.styleguide-description {
    position: relative;
    display: block;
    max-width: $styleguide-viewport-width;
    margin: 1rem auto 0 auto;
    padding: 0 0 0 0;
    //
    text-align: left;
}



// -- Characters
.styleguide-characters {
    font-family: $font-sans;
    color: $color-text-01;
    word-break: break-all;

    .styleguide-character {
        margin: 0 1rem 0 0;
    }

    &.example {
        word-break: normal;
    }
    &.styles {
        display: inline-block;
        width: 49%;
        font-size: $font-size-xl;
        margin: 0 0 3rem 0;

        div {
         margin: 0 0 0.5rem 0;
        }
    }
}


// --- States
.styleguide-states {
    display: block;
    width: 100%;
    margin: 2rem auto 0 auto;
    //
    font-family: $styleguide-font;
    font-size: $font-size-s;
    font-weight: 400;
    text-align: center;
    word-spacing: 1rem;
    color: rgba($styleguide-color-text, 0.75);
}



// -- Tabs
.styleguide-tabs {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
    overflow: visible;

    .c-tab {
        padding: 1rem 1rem 1rem 1rem;
        //
        font-family: $styleguide-font;
        font-size: $font-size-xxs;
        font-weight: 400;
        letter-spacing: 0.1rem;
        color: rgba($styleguide-color-text, 0.75);
        text-transform: uppercase;


        &[aria-selected="true"] {
            border-bottom: 1px solid rgba($styleguide-color-text, 0.85);
        }
    }

    .c-tab-panel {
        min-height: 25rem;
        padding: 0;
        margin: 1rem 0 0 0;
    }
}




// --- colors
.styleguide-color {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 12rem;
    border: 3px solid $color-white-80;
    margin: 0 0.5rem 4rem 0;
    z-index: 1;

    &.small {
        width: 3rem;
        height: 6rem;

        &:before {
            display: none;
        }
    }

    // brand
    &.color-brand-01 {
        background: $color-brand-01;
    }
    &.color-brand-02 {
        background: $color-brand-02;
    }
    &.color-brand-03 {
        background: $color-brand-03;
    }
    // ui
    &.color-ui-01 {
        background: $color-ui-01;
    }
    &.color-ui-02 {
        background: $color-ui-02;
    }
    &.color-ui-03 {
        background: $color-ui-03;
    }
    &.color-ui-04 {
        background: $color-ui-04;
    }
    &.color-ui-05 {
        background: $color-ui-05;
    }
    // text
    &.color-text-01 {
        background: $color-text-01;
    }
    &.color-text-02 {
        background: $color-text-02;
    }
    &.color-text-03 {
        background: $color-text-03;
    }
    &.color-text-04 {
        background: $color-text-04;
    }
    // accent
    &.color-accent-01 {
        background: $color-accent-01;
    }
    &.color-accent-02 {
        background: $color-accent-02;
    }
    &.color-accent-03 {
        background: $color-accent-03;
    }
    &.color-accent-04 {
        background: $color-accent-04;
    }
    &.color-accent-05 {
        background: $color-accent-05;
    }
    &.color-accent-06 {
        background: $color-accent-06;
    }
    &.color-accent-07 {
        background: $color-accent-07;
    }
    &.color-accent-08 {
        background: $color-accent-08;
    }
    &.color-accent-09 {
        background: $color-accent-09;
    }
    &.color-accent-10 {
        background: $color-accent-10;
    }
    &.color-accent-11 {
        background: $color-accent-11;
    }
    &.color-accent-12 {
        background: $color-accent-12;
    }
    // blacks
    &.color-black {
        background: $color-black;
    }
    &.color-black-90 {
        background: $color-black-90;
    }
    &.color-black-80 {
        background: $color-black-80;
    }
    &.color-black-70 {
        background: $color-black-70;
    }
    &.color-black-60 {
        background: $color-black-60;
    }
    &.color-black-50 {
        background: $color-black-50;
    }
    &.color-black-40 {
        background: $color-black-40;
    }
    &.color-black-30 {
        background: $color-black-30;
    }
    &.color-black-20 {
        background: $color-black-20;
    }
    &.color-black-10 {
        background: $color-black-10;
    }
    // whites
    &.color-white {
        background: $color-white;
    }
    &.color-white-90 {
        background: $color-white-90;
    }
    &.color-white-80 {
        background: $color-white-80;
    }
    &.color-white-70 {
        background: $color-white-70;
    }
    &.color-white-60 {
        background: $color-white-60;
    }
    &.color-white-50 {
        background: $color-white-50;
    }
    &.color-white-40 {
        background: $color-white-40;
    }
    &.color-white-30 {
        background: $color-white-30;
    }
    &.color-white-20 {
        background: $color-white-20;
    }
    &.color-white-10 {
        background: $color-white-10;
    }


    &:before {
        content: attr(data-color-name);
        width: auto;
        height: auto;
        position: absolute;
        left: 0;
        bottom: -2rem;
        z-index: 1;
        word-wrap: normal;
        word-break: keep-all;
        //
        font-family: $styleguide-font;
        font-size: $font-size-s;
        font-weight: 400;
        color: $color-black-40;
    }
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        top: 0.5rem;
        left: 0;
        filter: blur(0.5rem);
        opacity: 0.8;
        z-index: -1;
    }
}



// --- Divider
.styleguide-divider {
    max-width: $styleguide-viewport-width;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: rgba($styleguide-color-text, 0.1);

    &.small {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}


// --- Styleguide fiedset
.fieldsets {
    display: flex;
    flex-wrap: wrap;
}
.styleguide-fieldset {
    width: 48%;
    display: inline-flex;
    margin-bottom: 5rem;
    margin-right: 2%;

    &.demo {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}


// grid icon
.icon-grid {
    svg {
        path {
            fill: $styleguide-color-text !important;
        }
    }
}
