// c-tab-panel

.c-tab-panel {
    // -- display
    display: block;

    // --- backgounds
    background-color: $c-tab-panel-background-color;
    background-image: $c-tab-panel-background-image;
    background-position: $c-tab-panel-background-position;
    background-size: $c-tab-panel-background-size;
    background-repeat: $c-tab-panel-background-repeat;
    background-origin: $c-tab-panel-background-origin;
    background-clip: $c-tab-panel-background-clip;
    background-attachment: $c-tab-panel-background-attachment;


    // --- borders
    border-top-width: $c-tab-panel-border-top-width;
    border-right-width: $c-tab-panel-border-right-width;
    border-bottom-width: $c-tab-panel-border-bottom-width;
    border-left-width: $c-tab-panel-border-left-width;
    //
    border-top-style: $c-tab-panel-border-top-style;
    border-right-style: $c-tab-panel-border-right-style;
    border-bottom-style: $c-tab-panel-border-bottom-style;
    border-left-style: $c-tab-panel-border-left-style;
    //
    border-top-color: $c-tab-panel-border-top-color;
    border-right-color: $c-tab-panel-border-right-color;
    border-bottom-color: $c-tab-panel-border-bottom-color;
    border-left-color: $c-tab-panel-border-left-color;
    // border-radius
    border-top-left-radius: $c-tab-panel-border-top-left-radius;
    border-top-right-radius: $c-tab-panel-border-top-right-radius;
    border-bottom-left-radius: $c-tab-panel-border-bottom-left-radius;
    border-bottom-right-radius: $c-tab-panel-border-bottom-right-radius;


    // --- margins
    margin-top: $c-tab-panel-margin-top;
    margin-right: $c-tab-panel-margin-right;
    margin-bottom: $c-tab-panel-margin-bottom;
    margin-left: $c-tab-panel-margin-left;


    // --- opacity
    opacity: 1;


    // --- overflow
    overflow-x: hidden;
    overflow-y: hidden;


    // --- paddings
    padding-top: $c-tab-panel-padding-top;
    padding-right: $c-tab-panel-padding-right;
    padding-bottom: $c-tab-panel-padding-bottom;
    padding-left: $c-tab-panel-padding-left;


    // --- position
    position: $c-tab-panel-position;
    top: $c-tab-panel-position-top;
    right: $c-tab-panel-position-right;
    bottom: $c-tab-panel-position-bottom;
    left: $c-tab-panel-position-left;
    z-index: $c-tab-panel-position-zindex;


    // -- shadow
    box-shadow: $c-tab-panel-box-shadow;


    // --- sizing
    width: $c-tab-panel-width;
    min-width: $c-tab-panel-min-width;
    max-width: $c-tab-panel-max-width;
    height: $c-tab-panel-height;
    min-height: $c-tab-panel-min-height;
    max-height: $c-tab-panel-max-height;


    // --- text
    color: $c-tab-panel-font-color;
    font-family: $c-tab-panel-font-family;
    font-size: $c-tab-panel-font-size;
    font-style: $c-tab-panel-font-style;
    font-variant: $c-tab-panel-font-variant;
    font-weight: $c-tab-panel-font-weight;
    letter-spacing: $c-tab-panel-letter-spacing;
    line-height: $c-tab-panel-line-height;
    text-align: $c-tab-panel-text-align;
    text-decoration: $c-tab-panel-text-decoration;
    text-indent: $c-tab-panel-text-indent;
    text-overflow: $c-tab-panel-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-tab-panel-text-transform;
    text-shadow: $c-tab-panel-text-shadow;
    vertical-align: $c-tab-panel-vertical-align;
    white-space: $c-tab-panel-white-space;
    word-spacing: $c-tab-panel-word-spacing;
    user-select: none;


    // --- transforms
    transform: $c-tab-panel-transform;
    transform-origin: $c-tab-panel-transform-origin;
    transform-style: $c-tab-panel-transform-style;


    // --- transition
    will-change: $c-tab-panel-transition-property;
    transition-delay: $c-tab-panel-transition-delay;
    transition-duration: $c-tab-panel-transition-duration;
    transition-property: $c-tab-panel-transition-property;
    transition-timing-function: $c-tab-panel-transition-timing-function;


    // --- :state: active
    &:active,
    &:focus,
    &.state-active {
        background-color: $c-tab-panel-state-active-background-color;
        //
        border-top-color: $c-tab-panel-state-active-border-top-color;
        border-right-color: $c-tab-panel-state-active-border-right-color;
        border-bottom-color: $c-tab-panel-state-active-border-bottom-color;
        border-left-color: $c-tab-panel-state-active-border-left-color;
        //
        color: $c-tab-panel-state-active-font-color;
        //
        transform: $c-tab-panel-state-active-transform;
        // outline
        box-shadow: $c-tab-panel-outline;
        outline: 0;
    }


    // --- :state: hidden
    &[hidden] {
        display: none;
        transform: scale(0);
        opacity: 0;
    }
}
