// c-tab

.c-tab {

    // --- defaults
    cursor: pointer;


    // -- display
    display: $c-tab-display;

    // --- backgounds
    background-color: $c-tab-background-color;
    background-image: $c-tab-background-image;
    background-position: $c-tab-background-position;
    background-size: $c-tab-background-size;
    background-repeat: $c-tab-background-repeat;
    background-origin: $c-tab-background-origin;
    background-clip: $c-tab-background-clip;
    background-attachment: $c-tab-background-attachment;


    // --- borders
    border-top-width: $c-tab-border-top-width;
    border-right-width: $c-tab-border-right-width;
    border-bottom-width: $c-tab-border-bottom-width;
    border-left-width: $c-tab-border-left-width;
    //
    border-top-style: $c-tab-border-top-style;
    border-right-style: $c-tab-border-right-style;
    border-bottom-style: $c-tab-border-bottom-style;
    border-left-style: $c-tab-border-left-style;
    //
    border-top-color: $c-tab-border-top-color;
    border-right-color: $c-tab-border-right-color;
    border-bottom-color: $c-tab-border-bottom-color;
    border-left-color: $c-tab-border-left-color;
    // border-radius
    border-top-left-radius: $c-tab-border-top-left-radius;
    border-top-right-radius: $c-tab-border-top-right-radius;
    border-bottom-left-radius: $c-tab-border-bottom-left-radius;
    border-bottom-right-radius: $c-tab-border-bottom-right-radius;


    // --- margins
    margin-top: $c-tab-margin-top;
    margin-right: $c-tab-margin-right;
    margin-bottom: $c-tab-margin-bottom;
    margin-left: $c-tab-margin-left;


    // --- overflow
    overflow-x: hidden;
    overflow-y: hidden;

    // --- outline
    outline: 0;


    // --- paddings
    padding-top: $c-tab-padding-top;
    padding-right: $c-tab-padding-right;
    padding-bottom: $c-tab-padding-bottom;
    padding-left: $c-tab-padding-left;


    // --- position
    position: $c-tab-position;
    top: $c-tab-position-top;
    right: $c-tab-position-right;
    bottom: $c-tab-position-bottom;
    left: $c-tab-position-left;
    z-index: $c-tab-position-zindex;


    // -- shadow
    box-shadow: $c-tab-box-shadow;


    // --- sizing
    width: $c-tab-width;
    min-width: $c-tab-min-width;
    max-width: $c-tab-max-width;
    height: $c-tab-height;
    min-height: $c-tab-min-height;
    max-height: $c-tab-max-height;


    // --- text
    color: $c-tab-font-color;
    font-family: $c-tab-font-family;
    font-size: $c-tab-font-size;
    font-style: $c-tab-font-style;
    font-variant: $c-tab-font-variant;
    font-weight: $c-tab-font-weight;
    letter-spacing: $c-tab-letter-spacing;
    line-height: $c-tab-line-height;
    text-align: $c-tab-text-align;
    text-decoration: $c-tab-text-decoration;
    text-indent: $c-tab-text-indent;
    text-overflow: $c-tab-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-tab-text-transform;
    text-shadow: $c-tab-text-shadow;
    vertical-align: $c-tab-vertical-align;
    white-space: $c-tab-white-space;
    word-spacing: $c-tab-word-spacing;
    user-select: none;


    // --- transforms
    transform: $c-tab-transform;
    transform-origin: $c-tab-transform-origin;
    transform-style: $c-tab-transform-style;


    // --- transition
    will-change: $c-tab-transition-property;
    transition-delay: $c-tab-transition-delay;
    transition-duration: $c-tab-transition-duration;
    transition-property: $c-tab-transition-property;
    transition-timing-function: $c-tab-transition-timing-function;


    // --- :state: selected
    &[aria-selected="true"] {
        background-color: $c-tab-state-selected-background-color;
        //
        border-top-color: $c-tab-state-selected-border-top-color;
        border-right-color: $c-tab-state-selected-border-right-color;
        border-bottom-color: $c-tab-state-selected-border-bottom-color;
        border-left-color: $c-tab-state-selected-border-left-color;
        //
        color: $c-tab-state-selected-font-color;
        //
        transform: $c-tab-state-selected-transform;
        z-index: ($c-tab-position-zindex + 1);

        &:hover {
            background-color: $c-tab-state-selected-hover-background-color;
            //
            border-top-color: $c-tab-state-selected-hover-border-top-color;
            border-right-color: $c-tab-state-selected-hover-border-right-color;
            border-bottom-color: $c-tab-state-selected-hover-border-bottom-color;
            border-left-color: $c-tab-state-selected-hover-border-left-color;
            //
            color: $c-tab-state-selected-hover-font-color;
            //
            transform: $c-tab-state-selected-hover-transform;
        }

        &:active,
        &:focus,
        &.state-active {
            background-color: $c-tab-state-selected-active-background-color;
            //
            border-top-color: $c-tab-state-selected-active-border-top-color;
            border-right-color: $c-tab-state-selected-active-border-right-color;
            border-bottom-color: $c-tab-state-selected-active-border-bottom-color;
            border-left-color: $c-tab-state-selected-active-border-left-color;
            //
            color: $c-tab-state-selected-active-font-color;
            //
            transform: $c-tab-state-selected-active-transform;
            // outline
            box-shadow: $c-tab-outline;
        }
    }


    // --- :state: active
    &:active,
    &:focus,
    &.state-active {
        background-color: $c-tab-state-active-background-color;
        //
        border-top-color: $c-tab-state-active-border-top-color;
        border-right-color: $c-tab-state-active-border-right-color;
        border-bottom-color: $c-tab-state-active-border-bottom-color;
        border-left-color: $c-tab-state-active-border-left-color;
        //
        color: $c-tab-state-active-font-color;
        //
        transform: $c-tab-state-active-transform;
        // outline
        box-shadow: $c-tab-outline;
        //outline: 0;
    }


    // --- :state: hover
    &:hover,
    &.state-hover {
        background-color: $c-tab-state-hover-background-color;
        //
        border-top-color: $c-tab-state-hover-border-top-color;
        border-right-color: $c-tab-state-hover-border-right-color;
        border-bottom-color: $c-tab-state-hover-border-bottom-color;
        border-left-color: $c-tab-state-hover-border-left-color;
        //
        color: $c-tab-state-hover-font-color;
        //
        transform: $c-tab-state-hover-transform;
    }


    // --- :state: disabled
    &[disabled] {
        cursor: not-allowed;

        background-color: $c-tab-state-disabled-background-color;
        //
        border-top-color: $c-tab-state-disabled-border-top-color;
        border-right-color: $c-tab-state-disabled-border-right-color;
        border-bottom-color: $c-tab-state-disabled-border-bottom-color;
        border-left-color: $c-tab-state-disabled-border-left-color;
        //
        color: $c-tab-state-disabled-font-color;

        &:active,
        &:focus,
        &:hover,
        &.state-hover {
            background-color: $c-tab-state-disabled-background-color;
            //
            border-top-color: $c-tab-state-disabled-border-top-color;
            border-right-color: $c-tab-state-disabled-border-right-color;
            border-bottom-color: $c-tab-state-disabled-border-bottom-color;
            border-left-color: $c-tab-state-disabled-border-left-color;
            //
            color: $c-tab-state-disabled-font-color;
        }
    }



    // --- icon
    .c-icon {
        margin-right: 0;
        margin-left: $c-tab-icon-margin;
    }


    // --- hidden label
    .hidden-label {
        position: absolute;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
    }
}
