// c-tab

.c-tabs {
    // -- display
    display: $c-tabs-display;


    // --- margins
    margin-top: $c-tabs-margin-top;
    margin-right: $c-tabs-margin-right;
    margin-bottom: $c-tabs-margin-bottom;
    margin-left: $c-tabs-margin-left;


    // --- overflow
    overflow-x: visible;
    overflow-y: visible;


    // --- paddings
    padding-top: $c-tabs-padding-top;
    padding-right: $c-tabs-padding-right;
    padding-bottom: $c-tabs-padding-bottom;
    padding-left: $c-tabs-padding-left;


    // --- position
    position: $c-tabs-position;
    top: $c-tabs-position-top;
    right: $c-tabs-position-right;
    bottom: $c-tabs-position-bottom;
    left: $c-tabs-position-left;
    z-index: $c-tabs-position-zindex;


    // -- shadow
    box-shadow: $c-tabs-box-shadow;


    // --- sizing
    width: $c-tabs-width;
    min-width: $c-tabs-min-width;
    max-width: $c-tabs-max-width;
    height: $c-tabs-height;
    min-height: $c-tabs-min-height;
    max-height: $c-tabs-max-height;


    // --- backgounds
    background-color: $c-tabs-background-color;
    background-image: $c-tabs-background-image;
    background-position: $c-tabs-background-position;
    background-size: $c-tabs-background-size;
    background-repeat: $c-tabs-background-repeat;
    background-origin: $c-tabs-background-origin;
    background-clip: $c-tabs-background-clip;
    background-attachment: $c-tabs-background-attachment;


    // --- borders
    border-top-width: $c-tabs-border-top-width;
    border-right-width: $c-tabs-border-right-width;
    border-bottom-width: $c-tabs-border-bottom-width;
    border-left-width: $c-tabs-border-left-width;
    //
    border-top-style: $c-tabs-border-top-style;
    border-right-style: $c-tabs-border-right-style;
    border-bottom-style: $c-tabs-border-bottom-style;
    border-left-style: $c-tabs-border-left-style;
    //
    border-top-color: $c-tabs-border-top-color;
    border-right-color: $c-tabs-border-right-color;
    border-bottom-color: $c-tabs-border-bottom-color;
    border-left-color: $c-tabs-border-left-color;
    // border-radius
    border-top-left-radius: $c-tabs-border-top-left-radius;
    border-top-right-radius: $c-tabs-border-top-right-radius;
    border-bottom-left-radius: $c-tabs-border-bottom-left-radius;
    border-bottom-right-radius: $c-tabs-border-bottom-right-radius;


    // --- text
    text-align: $c-tabs-text-align;
    user-select: none;
}
