// --- accordion-button


// -- box-shadow
$c-accordion-button-expanded-hover-box-shadow: 0 0 0 transparent;


// --- background
$c-accordion-button-expanded-hover-background-color: transparent;
$c-accordion-button-expanded-hover-background-image: none;
$c-accordion-button-expanded-hover-background-position: initial;
$c-accordion-button-expanded-hover-background-size: initial;
$c-accordion-button-expanded-hover-background-repeat: initial;
$c-accordion-button-expanded-hover-background-origin: initial;
$c-accordion-button-expanded-hover-background-clip: initial;
$c-accordion-button-expanded-hover-background-attachment: initial;


// --- borders
// top
$c-accordion-button-expanded-hover-border-top-width: 0;
$c-accordion-button-expanded-hover-border-top-style: solid;
$c-accordion-button-expanded-hover-border-top-color: transparent;
// right
$c-accordion-button-expanded-hover-border-right-width: 0;
$c-accordion-button-expanded-hover-border-right-style: solid;
$c-accordion-button-expanded-hover-border-right-color: transparent;
// bottom
$c-accordion-button-expanded-hover-border-bottom-width: 0;
$c-accordion-button-expanded-hover-border-bottom-style: solid;
$c-accordion-button-expanded-hover-border-bottom-color: transparent;
// left
$c-accordion-button-expanded-hover-border-left-width: 0;
$c-accordion-button-expanded-hover-border-left-style: solid;
$c-accordion-button-expanded-hover-border-left-color: transparent;
// radius
$c-accordion-button-expanded-hover-border-top-left-radius: 0;
$c-accordion-button-expanded-hover-border-top-right-radius: 0;
$c-accordion-button-expanded-hover-border-bottom-left-radius: 0;
$c-accordion-button-expanded-hover-border-bottom-right-radius: 0;


// -- display
$c-accordion-button-expanded-hover-display: block;


// --- margins
$c-accordion-button-expanded-hover-margin-top: 0;
$c-accordion-button-expanded-hover-margin-right: 0;
$c-accordion-button-expanded-hover-margin-bottom: 0;
$c-accordion-button-expanded-hover-margin-left: 0;


// --- outline
$c-accordion-button-expanded-hover-outline1-color: transparent;
$c-accordion-button-expanded-hover-outline2-color: transparent;
$c-accordion-button-expanded-hover-outline1-width: 0.125rem;
$c-accordion-button-expanded-hover-outline2-width: 0.125rem;
$c-accordion-button-expanded-hover-outline: inset 0px 0px 0px $c-accordion-button-expanded-hover-outline2-width $c-accordion-button-expanded-hover-outline1-color,
                                   inset 0px 0px 0px ($c-accordion-button-expanded-hover-outline1-width + $c-accordion-button-expanded-hover-outline2-width) $c-accordion-button-expanded-hover-outline2-color;


// --- paddings
$c-accordion-button-expanded-hover-padding-top: 1.5rem;
$c-accordion-button-expanded-hover-padding-right: 2rem;
$c-accordion-button-expanded-hover-padding-bottom: 1.5rem;
$c-accordion-button-expanded-hover-padding-left: 0.5rem;


// --- position
$c-accordion-button-expanded-hover-position: relative;
$c-accordion-button-expanded-hover-position-top: auto;
$c-accordion-button-expanded-hover-position-right: auto;
$c-accordion-button-expanded-hover-position-bottom: auto;
$c-accordion-button-expanded-hover-position-left: auto;
$c-accordion-button-expanded-hover-position-zindex: auto;


// --- sizing
$c-accordion-button-expanded-hover-width: 100%;
$c-accordion-button-expanded-hover-min-width: initial;
$c-accordion-button-expanded-hover-max-width: none;
$c-accordion-button-expanded-hover-height: auto;
$c-accordion-button-expanded-hover-min-height: initial;
$c-accordion-button-expanded-hover-max-height: none;


// --- text
$c-accordion-button-expanded-hover-font-family: $font-brand-regular;
$c-accordion-button-expanded-hover-font-color: $color-brand-01;
$c-accordion-button-expanded-hover-font-size: $font-size-l;
$c-accordion-button-expanded-hover-font-style: normal;
$c-accordion-button-expanded-hover-font-variant: normal;
$c-accordion-button-expanded-hover-font-weight: $font-weight-regular;
$c-accordion-button-expanded-hover-line-height: 1;
$c-accordion-button-expanded-hover-letter-spacing: 0;
$c-accordion-button-expanded-hover-text-align: left;
$c-accordion-button-expanded-hover-text-decoration: none;
$c-accordion-button-expanded-hover-text-indent: 0;
$c-accordion-button-expanded-hover-text-overflow: initial;
$c-accordion-button-expanded-hover-text-transform: none;
$c-accordion-button-expanded-hover-text-shadow: none;
$c-accordion-button-expanded-hover-vertical-align: initial;
$c-accordion-button-expanded-hover-white-space: normal;
$c-accordion-button-expanded-hover-word-spacing: normal;
