// --- accordion-button


// -- box-shadow
$c-accordion-button-box-shadow: 0 0 0 transparent;


// --- background
$c-accordion-button-background-color: transparent;
$c-accordion-button-background-image: none;
$c-accordion-button-background-position: initial;
$c-accordion-button-background-size: initial;
$c-accordion-button-background-repeat: initial;
$c-accordion-button-background-origin: initial;
$c-accordion-button-background-clip: initial;
$c-accordion-button-background-attachment: initial;


// --- borders
// top
$c-accordion-button-border-top-width: 0;
$c-accordion-button-border-top-style: solid;
$c-accordion-button-border-top-color: transparent;
// right
$c-accordion-button-border-right-width: 0;
$c-accordion-button-border-right-style: solid;
$c-accordion-button-border-right-color: transparent;
// bottom
$c-accordion-button-border-bottom-width: 0;
$c-accordion-button-border-bottom-style: solid;
$c-accordion-button-border-bottom-color: transparent;
// left
$c-accordion-button-border-left-width: 0;
$c-accordion-button-border-left-style: solid;
$c-accordion-button-border-left-color: transparent;
// radius
$c-accordion-button-border-top-left-radius: 0;
$c-accordion-button-border-top-right-radius: 0;
$c-accordion-button-border-bottom-left-radius: 0;
$c-accordion-button-border-bottom-right-radius: 0;


// -- display
$c-accordion-button-display: block;


// --- margins
$c-accordion-button-margin-top: 0;
$c-accordion-button-margin-right: 0;
$c-accordion-button-margin-bottom: 0;
$c-accordion-button-margin-left: 0;


// --- outline
$c-accordion-button-outline1-color: transparent;
$c-accordion-button-outline2-color: transparent;
$c-accordion-button-outline1-width: 0.125rem;
$c-accordion-button-outline2-width: 0.125rem;
$c-accordion-button-outline: inset 0px 0px 0px $c-accordion-button-outline2-width $c-accordion-button-outline1-color,
                                   inset 0px 0px 0px ($c-accordion-button-outline1-width + $c-accordion-button-outline2-width) $c-accordion-button-outline2-color;


// --- paddings
$c-accordion-button-padding-top: 1.5rem;
$c-accordion-button-padding-right: 2rem;
$c-accordion-button-padding-bottom: 1.5rem;
$c-accordion-button-padding-left: 0.5rem;


// --- position
$c-accordion-button-position: relative;
$c-accordion-button-position-top: auto;
$c-accordion-button-position-right: auto;
$c-accordion-button-position-bottom: auto;
$c-accordion-button-position-left: auto;
$c-accordion-button-position-zindex: auto;


// --- sizing
$c-accordion-button-width: 100%;
$c-accordion-button-min-width: initial;
$c-accordion-button-max-width: none;
$c-accordion-button-height: auto;
$c-accordion-button-min-height: initial;
$c-accordion-button-max-height: none;


// --- text
$c-accordion-button-font-family: $font-brand-regular;
$c-accordion-button-font-color: $color-text-01;
$c-accordion-button-font-size: $font-size-l;
$c-accordion-button-font-style: normal;
$c-accordion-button-font-variant: normal;
$c-accordion-button-font-weight: $font-weight-regular;
$c-accordion-button-line-height: 1;
$c-accordion-button-letter-spacing: 0;
$c-accordion-button-text-align: left;
$c-accordion-button-text-decoration: none;
$c-accordion-button-text-indent: 0;
$c-accordion-button-text-overflow: initial;
$c-accordion-button-text-transform: none;
$c-accordion-button-text-shadow: none;
$c-accordion-button-vertical-align: initial;
$c-accordion-button-white-space: normal;
$c-accordion-button-word-spacing: normal;


// transition
$c-accordion-button-transition-property: color, box-shadow;
