// --- accordion-button


// -- box-shadow
$c-accordion-button-expanded-box-shadow: 0 0 0 transparent;


// --- background
$c-accordion-button-expanded-background-color: transparent;
$c-accordion-button-expanded-background-image: none;
$c-accordion-button-expanded-background-position: initial;
$c-accordion-button-expanded-background-size: initial;
$c-accordion-button-expanded-background-repeat: initial;
$c-accordion-button-expanded-background-origin: initial;
$c-accordion-button-expanded-background-clip: initial;
$c-accordion-button-expanded-background-attachment: initial;


// --- borders
// top
$c-accordion-button-expanded-border-top-width: 0;
$c-accordion-button-expanded-border-top-style: solid;
$c-accordion-button-expanded-border-top-color: transparent;
// right
$c-accordion-button-expanded-border-right-width: 0;
$c-accordion-button-expanded-border-right-style: solid;
$c-accordion-button-expanded-border-right-color: transparent;
// bottom
$c-accordion-button-expanded-border-bottom-width: 0;
$c-accordion-button-expanded-border-bottom-style: solid;
$c-accordion-button-expanded-border-bottom-color: transparent;
// left
$c-accordion-button-expanded-border-left-width: 0;
$c-accordion-button-expanded-border-left-style: solid;
$c-accordion-button-expanded-border-left-color: transparent;
// radius
$c-accordion-button-expanded-border-top-left-radius: 0;
$c-accordion-button-expanded-border-top-right-radius: 0;
$c-accordion-button-expanded-border-bottom-left-radius: 0;
$c-accordion-button-expanded-border-bottom-right-radius: 0;


// -- display
$c-accordion-button-expanded-display: block;


// --- margins
$c-accordion-button-expanded-margin-top: 0;
$c-accordion-button-expanded-margin-right: 0;
$c-accordion-button-expanded-margin-bottom: 0;
$c-accordion-button-expanded-margin-left: 0;


// --- outline
$c-accordion-button-expanded-outline1-color: transparent;
$c-accordion-button-expanded-outline2-color: transparent;
$c-accordion-button-expanded-outline1-width: 0.125rem;
$c-accordion-button-expanded-outline2-width: 0.125rem;
$c-accordion-button-expanded-outline: inset 0px 0px 0px $c-accordion-button-expanded-outline2-width $c-accordion-button-expanded-outline1-color,
                                   inset 0px 0px 0px ($c-accordion-button-expanded-outline1-width + $c-accordion-button-expanded-outline2-width) $c-accordion-button-expanded-outline2-color;


// --- paddings
$c-accordion-button-expanded-padding-top: 1.5rem;
$c-accordion-button-expanded-padding-right: 2rem;
$c-accordion-button-expanded-padding-bottom: 1.5rem;
$c-accordion-button-expanded-padding-left: 0.5rem;


// --- position
$c-accordion-button-expanded-position: relative;
$c-accordion-button-expanded-position-top: auto;
$c-accordion-button-expanded-position-right: auto;
$c-accordion-button-expanded-position-bottom: auto;
$c-accordion-button-expanded-position-left: auto;
$c-accordion-button-expanded-position-zindex: auto;


// --- sizing
$c-accordion-button-expanded-width: 100%;
$c-accordion-button-expanded-min-width: initial;
$c-accordion-button-expanded-max-width: none;
$c-accordion-button-expanded-height: auto;
$c-accordion-button-expanded-min-height: initial;
$c-accordion-button-expanded-max-height: none;


// --- text
$c-accordion-button-expanded-font-family: $font-brand-regular;
$c-accordion-button-expanded-font-color: $color-text-01;
$c-accordion-button-expanded-font-size: $font-size-l;
$c-accordion-button-expanded-font-style: normal;
$c-accordion-button-expanded-font-variant: normal;
$c-accordion-button-expanded-font-weight: $font-weight-regular;
$c-accordion-button-expanded-line-height: 1;
$c-accordion-button-expanded-letter-spacing: 0;
$c-accordion-button-expanded-text-align: left;
$c-accordion-button-expanded-text-decoration: none;
$c-accordion-button-expanded-text-indent: 0;
$c-accordion-button-expanded-text-overflow: initial;
$c-accordion-button-expanded-text-transform: none;
$c-accordion-button-expanded-text-shadow: none;
$c-accordion-button-expanded-vertical-align: initial;
$c-accordion-button-expanded-white-space: normal;
$c-accordion-button-expanded-word-spacing: normal;
