<!-- flash-message -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">flash-messages</h3>
        <section class="styleguide-example background-color-light fx-appear-from-bottom">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>

            <c-divider css="styleguide-divider"></c-divider>

            <c-notification is="flash-success" visible="true">
                <c-button is="button-ghost-icon" task="toggle">
                    <span class="hidden-label">Close</span>
                    <c-icon is="icon-close"></c-icon>
                </c-button>
                <h3>Title</h3>
                <p>
                    flash-message message can be this wide, lorem ipsum and so on.
                </p>
            </c-notification>

            <c-notification is="flash-warning" visible="true">
                <c-button is="button-ghost-icon" task="toggle">
                    <span class="hidden-label">Close</span>
                    <c-icon is="icon-close"></c-icon>
                </c-button>
                <h3>Title</h3>
                <p>
                    flash-message message can be this wide, lorem ipsum and so on.
                </p>
            </c-notification>

            <c-notification is="flash-error" visible="true">
                <c-button is="button-ghost-icon" task="toggle">
                    <span class="hidden-label">Close</span>
                    <c-icon is="icon-close"></c-icon>
                </c-button>
                <h3>Title</h3>
                <p>
                    flash-message message can be this wide, lorem ipsum and so on.
                </p>
            </c-notification>



        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <c-tab id="styleguide-tab-02">Usage</c-tab>
                <c-tab id="styleguide-tab-03">AngularJS</c-tab>
                <c-tab id="styleguide-tab-04">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/notification/CODE.FLASH.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/notification/README.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/notification/ANGULARJS.md'"></markdown>
                </c-tab-panel>
                <c-tab-panel id="styleguide-tab-04-panel">
                    <markdown [src]="'./assets/readme/notification/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
