// c-tooltip


.c-tooltip {
    position: relative;
    display: inline;
    height: auto;
    margin-left: 1rem;
    margin-right: 1.5rem;


    .c-tooltip_button {
        // defaults
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2rem;
        height: 2rem;
        border-radius: $c-tooltip-button-border-radius;
        transform: translate(-50%, -50%);
        //
        background-color: transparent;
        border: none;

        text-decoration: none;
        overflow: visible;

        .c-icon {
            top: 1px;
            width: auto;
        }


        + [role="tooltip"] {
            display: none;
            position: absolute;
            //
            z-index: 1;
        }


        // --- state: tooltip-is-visible
        &.tooltip-is-visible {
            + [role="tooltip"] {
                display: inline-block;
            }
        }

        &:active,
        &:focus,
        &.state-active {
            // outline
            box-shadow: $c-tooltip-outline;
            outline: 0;
        }

        &:hover {
            cursor: pointer;
        }


        &.position-right {
            + [role="tooltip"] {
                top: 50%;
                right: auto;
                bottom: auto;
                left: 2rem;
                transform: translate(0, -50%);
                transform-origin: top left;
                text-align: left;

                &:before {
                    top: 50%;
                    right: auto;
                    bottom: auto;
                    left: 0;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
        &.position-left {
            + [role="tooltip"] {
                top: 50%;
                right: 2rem;
                bottom: auto;
                left: auto;
                transform: translate(0, -50%);
                transform-origin: top left;
                text-align: right;

                &:before {
                    top: 50%;
                    right: 0;
                    bottom: auto;
                    left: auto;
                    transform: translate(50%, -50%) rotate(45deg);
                }
            }
        }
        &.position-top {
            + [role="tooltip"] {
                top: auto;
                right: auto;
                bottom: 2.5rem;
                left: 50%;
                transform: translate(-50%, 0);
                transform-origin: top left;
                text-align: center;

                &:before {
                    top: auto;
                    right: auto;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 50%) rotate(45deg);
                }
            }
        }
        &.position-bottom {
            + [role="tooltip"] {
                top: 2.5rem;
                right: auto;
                bottom: auto;
                left: 50%;
                transform: translate(-50%, 0);
                transform-origin: top left;
                text-align: center;

                &:before {
                    top: 0;
                    right: auto;
                    bottom: auto;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
    }



    // --- hidden label
    .hidden-label {
        position: absolute;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
    }
}



// tip
.c-tooltip_tip {
    display: none;
    position: absolute;
    //
    z-index: 1;

    // --- backgrounds
    background-color: $c-tooltip-background-color;
    background-image: $c-tooltip-background-image;
    background-position: $c-tooltip-background-position;
    background-size: $c-tooltip-background-size;
    background-repeat: $c-tooltip-background-repeat;
    background-origin: $c-tooltip-background-origin;
    background-clip: $c-tooltip-background-clip;
    background-attachment: $c-tooltip-background-attachment;


    // --- borders
    border-top-width: $c-tooltip-border-top-width;
    border-right-width: $c-tooltip-border-right-width;
    border-bottom-width: $c-tooltip-border-bottom-width;
    border-left-width: $c-tooltip-border-left-width;
    //
    border-top-style: $c-tooltip-border-top-style;
    border-right-style: $c-tooltip-border-right-style;
    border-bottom-style: $c-tooltip-border-bottom-style;
    border-left-style: $c-tooltip-border-left-style;
    //
    border-top-color: $c-tooltip-border-top-color;
    border-right-color: $c-tooltip-border-right-color;
    border-bottom-color: $c-tooltip-border-bottom-color;
    border-left-color: $c-tooltip-border-left-color;
    // border-radius
    border-top-left-radius: $c-tooltip-border-top-left-radius;
    border-top-right-radius: $c-tooltip-border-top-right-radius;
    border-bottom-left-radius: $c-tooltip-border-bottom-left-radius;
    border-bottom-right-radius: $c-tooltip-border-bottom-right-radius;


    // ---  box shadow
    box-shadow: $c-tooltip-box-shadow;


    // dimensions
    min-width: $c-tooltip-dimensions-min-width;
    max-width: $c-tooltip-dimensions-max-width;
    min-height: $c-tooltip-dimensions-min-height;
    max-height: $c-tooltip-dimensions-max-height;


    // --- paddings
    padding-top: $c-tooltip-padding-top;
    padding-right: $c-tooltip-padding-right;
    padding-bottom: $c-tooltip-padding-bottom;
    padding-left: $c-tooltip-padding-left;


    // --- text
    color: $c-tooltip-font-color;
    font-family: $c-tooltip-font-family;
    font-size: $c-tooltip-font-size;
    font-style: $c-tooltip-font-style;
    font-variant: $c-tooltip-font-variant;
    font-weight: $c-tooltip-font-weight;
    letter-spacing: $c-tooltip-letter-spacing;
    line-height: $c-tooltip-line-height;
    text-align: $c-tooltip-text-align;
    text-decoration: $c-tooltip-text-decoration;
    text-indent: $c-tooltip-text-indent;
    text-overflow: $c-tooltip-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-tooltip-text-transform;
    text-shadow: $c-tooltip-text-shadow;
    vertical-align: $c-tooltip-vertical-align;
    white-space: $c-tooltip-white-space;
    word-spacing: $c-tooltip-word-spacing;
    user-select: none;


    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 0;
        transform: translate(-50%, -50%) rotate(45deg);
        //
        background-color: $c-tooltip-background-color;
        z-index: -1;
    }
}
