html {
    font-family: monospace, monospace;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    background-color: #FFFFFF;
    min-height: 100%;
}


html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    min-height: 100%;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


*, *:before, *:after {
  box-sizing: border-box;
}


// Render fixes
// @see: http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 200dpi),
only screen and (min-resolution: 1.25dppx) {

    html, body, button{
        -webkit-font-smoothing: subpixel-antialiased;
    }
}
