// c-icon

.c-icon {

    // -- defaults
    display: inline-block;
    position: relative;
    width: $c-icon-width;
    height: calc((#{$c-icon-height} / 2) - #{$font-correction});
    font-style: normal;
    font-family: $font-monospace;
    font-size: 0;
    line-height: 0;
    top: ($font-correction / 2);

    // --- svg
    svg {

        // --- defaults
        position: absolute;
        display: block;
        width: $c-icon-width;
        height: $c-icon-width;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
        background-repeat: no-repeat;

        g {
            fill: rgba(255,255,255,0);
            stroke: rgba(255,255,255,0);
        }
        rect {
            fill: $c-icon-rectangle-fill-color;
            stroke: $c-icon-rectangle-stroke-color;
            transition: fill $c-icon-transition-duration $c-icon-transition-delay $c-icon-transition-timing-function,
                        stroke $c-icon-transition-duration $c-icon-transition-delay $c-icon-transition-timing-function;
        }
        circle {
            fill: $c-icon-circle-fill-color;
            stroke: $c-icon-circle-stroke-color;
            transition: fill $c-icon-transition-duration $c-icon-transition-delay $c-icon-transition-timing-function,
                        stroke $c-icon-transition-duration $c-icon-transition-delay $c-icon-transition-timing-function;
        }
        path {
            fill: $c-icon-path-fill-color;
            stroke: rgba(255,255,255,0);
            transition: fill $c-icon-transition-duration $c-icon-transition-delay $c-icon-transition-timing-function,
                        stroke $c-icon-transition-duration $c-icon-transition-delay $c-icon-transition-timing-function;
        }
    }

    &.display-crying-emoji {
        font-size: 2rem;
        line-height: 1;

        &:before {
            content: '😥'
        }
    }



    // --- arrows
    &.icon-arrow-up,
    &.icon-arrow-small-up {
        svg {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
    &.icon-arrow-right,
    &.icon-arrow-small-right {
        svg {
            transform: translate(-50%, -50%) rotate(270deg);
        }
    }
    &.icon-arrow-down,
    &.icon-arrow-small-down {
        svg {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
    &.icon-arrow-left,
    &.icon-arrow-small-left {
        svg {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }


    // --- variation: circle background
    &.circle {
        svg {
            rect {
                fill: $c-icon-is-circle-rectangle-fill-color;
                stroke: $c-icon-is-circle-rectangle-stroke-color;
            }
            circle {
                fill: $c-icon-is-circle-circle-fill-color;
                stroke: $c-icon-is-circle-circle-stroke-color;
            }
            path {
                fill: $c-icon-is-circle-path-fill-color;
                stroke: rgba(255,255,255,0);
            }
        }
    }


    // --- variation: circle outline
    &.circle-outline {
        svg {
            rect {
                fill: $c-icon-is-circle-outline-rectangle-fill-color;
                stroke: $c-icon-is-circle-outline-rectangle-stroke-color;
            }
            circle {
                fill: $c-icon-is-circle-outline-circle-fill-color;
                stroke: $c-icon-is-circle-outline-circle-stroke-color;
                stroke-width: 1.5;
            }
            path {
                fill: $c-icon-is-circle-outline-path-fill-color;
                stroke: rgba(255,255,255,0);
            }
        }
    }


    // --- variation: square background
    &.square {
        svg {
            rect {
                fill: $c-icon-is-square-rectangle-fill-color;
                stroke: $c-icon-is-square-rectangle-stroke-color;
            }
            circle {
                fill: $c-icon-is-square-circle-fill-color;
                stroke: $c-icon-is-square-circle-stroke-color;
            }
            path {
                fill: $c-icon-is-square-path-fill-color;
                stroke: rgba(255,255,255,0);
            }
        }
    }


    // --- variation: square outline
    &.square-outline {
        svg {
            rect {
                fill: $c-icon-is-square-outline-rectangle-fill-color;
                stroke: $c-icon-is-square-outline-rectangle-stroke-color;
                stroke-width: 3;
            }
            circle {
                fill: $c-icon-is-square-outline-circle-fill-color;
                stroke: $c-icon-is-square-outline-circle-stroke-color;
            }
            path {
                fill: $c-icon-is-square-outline-path-fill-color;
                stroke: rgba(255,255,255,0);
            }
        }
    }
}
