// c-lists

.c-list {

    // --- backgrounds
    background-color: $c-list-background-color;
    background-image: $c-list-background-image;
    background-position: $c-list-background-position;
    background-size: $c-list-background-size;
    background-repeat: $c-list-background-repeat;
    background-origin: $c-list-background-origin;
    background-clip: $c-list-background-clip;
    background-attachment: $c-list-background-attachment;


    // --- borders
    border-top-width: $c-list-border-top-width;
    border-right-width: $c-list-border-right-width;
    border-bottom-width: $c-list-border-bottom-width;
    border-left-width: $c-list-border-left-width;
    //
    border-top-style: $c-list-border-top-style;
    border-right-style: $c-list-border-right-style;
    border-bottom-style: $c-list-border-bottom-style;
    border-left-style: $c-list-border-left-style;
    //
    border-top-color: $c-list-border-top-color;
    border-right-color: $c-list-border-right-color;
    border-bottom-color: $c-list-border-bottom-color;
    border-left-color: $c-list-border-left-color;
    // border-radius
    border-top-left-radius: $c-list-border-top-left-radius;
    border-top-right-radius: $c-list-border-top-right-radius;
    border-bottom-left-radius: $c-list-border-bottom-left-radius;
    border-bottom-right-radius: $c-list-border-bottom-right-radius;


    // ---  box shadow
    box-shadow: $c-list-box-shadow;


    // dimensions
    min-width: $c-list-dimensions-min-width;
    max-width: $c-list-dimensions-max-width;
    min-height: $c-list-dimensions-min-height;
    max-height: $c-list-dimensions-max-height;




    // --- component: divider
    .c-divider {
        background-color: $c-list-quicklink-divider-color;
    }

    // --- variant: context
    &.is-context {
        @extend %is-context;
    }

    // --- variant: ordered
    &.is-ordered {
        @extend %is-ordered;
    }

    // --- variant: unordered
    &.is-unordered {
        @extend %is-unordered;
    }

    // --- variant: quicklink
    &.is-quicklink {
        @extend %is-quicklink;
    }




}
