// c-logo

.c-logo {

    // --- background
    background-color: $c-logo-background-color;
    background-image: $c-logo-background-image;
    background-position: $c-logo-background-position;
    background-size: $c-logo-background-size;
    background-repeat: $c-logo-background-repeat;
    background-origin: $c-logo-background-origin;
    background-clip: $c-logo-background-clip;
    background-attachment: $c-logo-background-attachment;

    // --- borders
    border-top-width: $c-logo-border-top-width;
    border-top-style: $c-logo-border-top-style;
    border-top-color: $c-logo-border-top-color;
    border-right-width: $c-logo-border-right-width;
    border-right-style: $c-logo-border-right-style;
    border-right-color: $c-logo-border-right-color;
    border-bottom-width: $c-logo-border-bottom-width;
    border-bottom-style: $c-logo-border-bottom-style;
    border-bottom-color: $c-logo-border-bottom-color;
    border-left-width: $c-logo-border-left-width;
    border-left-style: $c-logo-border-left-style;
    border-left-color: $c-logo-border-left-color;
    border-top-left-radius: $c-logo-border-top-left-radius;
    border-top-right-radius: $c-logo-border-top-right-radius;
    border-bottom-left-radius: $c-logo-border-bottom-left-radius;
    border-bottom-right-radius: $c-logo-border-bottom-right-radius;

    // --- box-shadow
    box-shadow: $c-logo-box-shadow, $c-logo-outline;

    // --- display
    display: $c-logo-display;

    // --- margins
    margin-top: $c-logo-margin-top;
    margin-right: $c-logo-margin-right;
    margin-bottom: $c-logo-margin-bottom;
    margin-left: $c-logo-margin-left;

    // --- outline
    outline: 0;

    // --- padding
    padding-top: $c-logo-padding-top;
    padding-right: $c-logo-padding-right;
    padding-bottom: $c-logo-padding-bottom;
    padding-left: $c-logo-padding-left;

    // --- position
    position: $c-logo-position;
    top: $c-logo-position-top;
    right: $c-logo-position-right;
    bottom: $c-logo-position-bottom;
    left: $c-logo-position-left;
    z-index: $c-logo-position-zindex;

    // --- sizing
    width: $c-logo-width;
    min-width: $c-logo-min-width;
    max-width: $c-logo-max-width;
    height: $c-logo-height;
    min-height: $c-logo-min-height;
    max-height: $c-logo-max-height;

    // --- overflow
    overflow-x: $c-logo-overflow-x;
    overflow-y: $c-logo-overflow-y;

    // --- transition
    transition: $c-logo-transition-property $c-tile-transition-duration $c-tile-transition-delay $c-tile-transition-timing-function;


    // --- state: hover
    &:hover {
        // --- background
        background-color: $c-logo-hover-background-color;
        background-image: $c-logo-hover-background-image;
        background-position: $c-logo-hover-background-position;
        background-size: $c-logo-hover-background-size;
        background-repeat: $c-logo-hover-background-repeat;
        background-origin: $c-logo-hover-background-origin;
        background-clip: $c-logo-hover-background-clip;
        background-attachment: $c-logo-hover-background-attachment;

        // --- borders
        border-top-width: $c-logo-hover-border-top-width;
        border-top-style: $c-logo-hover-border-top-style;
        border-top-color: $c-logo-hover-border-top-color;
        border-right-width: $c-logo-hover-border-right-width;
        border-right-style: $c-logo-hover-border-right-style;
        border-right-color: $c-logo-hover-border-right-color;
        border-bottom-width: $c-logo-hover-border-bottom-width;
        border-bottom-style: $c-logo-hover-border-bottom-style;
        border-bottom-color: $c-logo-hover-border-bottom-color;
        border-left-width: $c-logo-hover-border-left-width;
        border-left-style: $c-logo-hover-border-left-style;
        border-left-color: $c-logo-hover-border-left-color;
        border-top-left-radius: $c-logo-hover-border-top-left-radius;
        border-top-right-radius: $c-logo-hover-border-top-right-radius;
        border-bottom-left-radius: $c-logo-hover-border-bottom-left-radius;
        border-bottom-right-radius: $c-logo-hover-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-logo-hover-box-shadow, $c-logo-hover-outline;

        // --- display
        display: $c-logo-hover-display;

        // --- margins
        margin-top: $c-logo-hover-margin-top;
        margin-right: $c-logo-hover-margin-right;
        margin-bottom: $c-logo-hover-margin-bottom;
        margin-left: $c-logo-hover-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-logo-hover-padding-top;
        padding-right: $c-logo-hover-padding-right;
        padding-bottom: $c-logo-hover-padding-bottom;
        padding-left: $c-logo-hover-padding-left;

        // --- position
        position: $c-logo-hover-position;
        top: $c-logo-hover-position-top;
        right: $c-logo-hover-position-right;
        bottom: $c-logo-hover-position-bottom;
        left: $c-logo-hover-position-left;
        z-index: $c-logo-hover-position-zindex;

        // --- sizing
        width: $c-logo-hover-width;
        min-width: $c-logo-hover-min-width;
        max-width: $c-logo-hover-max-width;
        height: $c-logo-hover-height;
        min-height: $c-logo-hover-min-height;
        max-height: $c-logo-hover-max-height;

        // --- overflow
        overflow-x: $c-logo-hover-overflow-x;
        overflow-y: $c-logo-hover-overflow-y;
    }



    // --- state: focus
    &:focus {
        // --- background
        background-color: $c-logo-focus-background-color;
        background-image: $c-logo-focus-background-image;
        background-position: $c-logo-focus-background-position;
        background-size: $c-logo-focus-background-size;
        background-repeat: $c-logo-focus-background-repeat;
        background-origin: $c-logo-focus-background-origin;
        background-clip: $c-logo-focus-background-clip;
        background-attachment: $c-logo-focus-background-attachment;

        // --- borders
        border-top-width: $c-logo-focus-border-top-width;
        border-top-style: $c-logo-focus-border-top-style;
        border-top-color: $c-logo-focus-border-top-color;
        border-right-width: $c-logo-focus-border-right-width;
        border-right-style: $c-logo-focus-border-right-style;
        border-right-color: $c-logo-focus-border-right-color;
        border-bottom-width: $c-logo-focus-border-bottom-width;
        border-bottom-style: $c-logo-focus-border-bottom-style;
        border-bottom-color: $c-logo-focus-border-bottom-color;
        border-left-width: $c-logo-focus-border-left-width;
        border-left-style: $c-logo-focus-border-left-style;
        border-left-color: $c-logo-focus-border-left-color;
        border-top-left-radius: $c-logo-focus-border-top-left-radius;
        border-top-right-radius: $c-logo-focus-border-top-right-radius;
        border-bottom-left-radius: $c-logo-focus-border-bottom-left-radius;
        border-bottom-right-radius: $c-logo-focus-border-bottom-right-radius;

        // --- box-shadow
        box-shadow: $c-logo-focus-box-shadow, $c-logo-focus-outline;

        // --- display
        display: $c-logo-focus-display;

        // --- margins
        margin-top: $c-logo-focus-margin-top;
        margin-right: $c-logo-focus-margin-right;
        margin-bottom: $c-logo-focus-margin-bottom;
        margin-left: $c-logo-focus-margin-left;

        // --- outline
        outline: 0;

        // --- padding
        padding-top: $c-logo-focus-padding-top;
        padding-right: $c-logo-focus-padding-right;
        padding-bottom: $c-logo-focus-padding-bottom;
        padding-left: $c-logo-focus-padding-left;

        // --- position
        position: $c-logo-focus-position;
        top: $c-logo-focus-position-top;
        right: $c-logo-focus-position-right;
        bottom: $c-logo-focus-position-bottom;
        left: $c-logo-focus-position-left;
        z-index: $c-logo-focus-position-zindex;

        // --- sizing
        width: $c-logo-focus-width;
        min-width: $c-logo-focus-min-width;
        max-width: $c-logo-focus-max-width;
        height: $c-logo-focus-height;
        min-height: $c-logo-focus-min-height;
        max-height: $c-logo-focus-max-height;

        // --- overflow
        overflow-x: $c-logo-focus-overflow-x;
        overflow-y: $c-logo-focus-overflow-y;
    }



    // --- hidden label
    .hidden-label {
        position: absolute;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
    }

    svg {
        height: 4rem;
    }

}
