// tooltip


// --- background
$c-tooltip-background-color: $color-ui-03;
$c-tooltip-background-image: none;
$c-tooltip-background-position: initial;
$c-tooltip-background-size: initial;
$c-tooltip-background-repeat: initial;
$c-tooltip-background-origin: initial;
$c-tooltip-background-clip: initial;
$c-tooltip-background-attachment: initial;



// --- borders
// top
$c-tooltip-border-top-width: 0px;
$c-tooltip-border-top-style: solid;
$c-tooltip-border-top-color: transparent;
// right
$c-tooltip-border-right-width: 0px;
$c-tooltip-border-right-style: solid;
$c-tooltip-border-right-color: transparent;
// bottom
$c-tooltip-border-bottom-width: 0px;
$c-tooltip-border-bottom-style: solid;
$c-tooltip-border-bottom-color: transparent;
// left
$c-tooltip-border-left-width: 0px;
$c-tooltip-border-left-style: solid;
$c-tooltip-border-left-color: transparent;
// radius
$c-tooltip-border-top-left-radius: 0.25rem;
$c-tooltip-border-top-right-radius: 0.25rem;
$c-tooltip-border-bottom-left-radius: 0.25rem;
$c-tooltip-border-bottom-right-radius: 0.25rem;
//
$c-tooltip-button-border-radius: 50%;



// --- box-shadow
$c-tooltip-box-shadow: 2px 2px 10px 0px rgba($color-black, 0.5);



// --- outline
$c-tooltip-outline-color: $color-brand-01;
$c-tooltip-outline-width: 2px;
$c-tooltip-outline: 0px 0px 0px $c-tooltip-outline-width $c-tooltip-outline-color;



// --- dimensions
$c-tooltip-dimensions-min-width: 10rem;
$c-tooltip-dimensions-max-width: 20rem;
$c-tooltip-dimensions-min-height: 2rem;
$c-tooltip-dimensions-max-height: initial;



// --- paddings
$c-tooltip-padding-top: 0.5rem;
$c-tooltip-padding-right: 1rem;
$c-tooltip-padding-bottom: 0.5rem;
$c-tooltip-padding-left: 1rem;



// --- text
$c-tooltip-font-family: $font-brand-regular;
$c-tooltip-font-color: $color-text-04;
$c-tooltip-font-size: $font-size-s;
$c-tooltip-font-style: normal;
$c-tooltip-font-variant: normal;
$c-tooltip-font-weight: $font-weight-regular;
$c-tooltip-line-height: 1.1;
$c-tooltip-letter-spacing: 0;
$c-tooltip-text-align: left;
$c-tooltip-text-decoration: none;
$c-tooltip-text-indent: initial;
$c-tooltip-text-overflow: initial;
$c-tooltip-text-transform: none;
$c-tooltip-text-shadow: none;
$c-tooltip-vertical-align: initial;
$c-tooltip-white-space: normal;
$c-tooltip-word-spacing: normal;
