// --- search container



// -- box-shadow
$c-search-input-box-shadow: 0px 0px 0px 0px transparent;


// --- background
$c-search-input-background-color: transparent;
$c-search-input-background-image: none;
$c-search-input-background-position: initial;
$c-search-input-background-size: initial;
$c-search-input-background-repeat: initial;
$c-search-input-background-origin: initial;
$c-search-input-background-clip: initial;
$c-search-input-background-attachment: initial;


// --- borders
// top
$c-search-input-border-top-width: 0px;
$c-search-input-border-top-style: solid;
$c-search-input-border-top-color: transparent;
// right
$c-search-input-border-right-width: 0px;
$c-search-input-border-right-style: solid;
$c-search-input-border-right-color: transparent;
// bottom
$c-search-input-border-bottom-width: 0px;
$c-search-input-border-bottom-style: solid;
$c-search-input-border-bottom-color: transparent;
// left
$c-search-input-border-left-width: 0px;
$c-search-input-border-left-style: solid;
$c-search-input-border-left-color: transparent;
// radius
$c-search-input-border-top-left-radius: 0;
$c-search-input-border-top-right-radius: 0;
$c-search-input-border-bottom-left-radius: 0;
$c-search-input-border-bottom-right-radius: 0;


// -- display
$c-search-input-display: table-cell;


// --- margins
$c-search-input-margin-top: 0;
$c-search-input-margin-right: 0;
$c-search-input-margin-bottom: 0;
$c-search-input-margin-left: 0;


// --- outline
$c-search-input-outline1-color: transparent;
$c-search-input-outline2-color: transparent;
$c-search-input-outline1-width: 2px;
$c-search-input-outline2-width: 3px;
$c-search-input-outline:   0px 0px 0px $c-search-input-outline2-width $c-search-input-outline1-color, 0px 0px 0px ($c-search-input-outline1-width + $c-search-input-outline2-width) $c-search-input-outline2-color;


// --- paddings
$c-search-input-padding-top: 0;
$c-search-input-padding-right: 0;
$c-search-input-padding-bottom: 0;
$c-search-input-padding-left: 0;


// --- position
$c-search-input-position: relative;
$c-search-input-position-top: auto;
$c-search-input-position-right: auto;
$c-search-input-position-bottom: auto;
$c-search-input-position-left: auto;
$c-search-input-position-zindex: auto;


// --- sizing
$c-search-input-width: 100%;
$c-search-input-min-width: initial;
$c-search-input-max-width: none;
$c-search-input-height: auto;
$c-search-input-min-height: initial;
$c-search-input-max-height: none;


// --- align
$c-search-input-vertical-align: top;
