<!-- Breadcrumbs -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Styles</h3>
        <section class="styleguide-overview fx-appear-from-bottom">

            <a href="styles/colors" class="styleguide-overview_item display-as-row">
                <h4>Colors</h4>
                <span class="styleguide-color small color-brand-01" data-color-name="$color-brand-01"></span>
                <span class="styleguide-color small color-brand-02" data-color-name="$color-brand-02"></span>
                <span class="styleguide-color small color-brand-03" data-color-name="$color-brand-03"></span>
                <span class="styleguide-color small color-brand-04" data-color-name="$color-brand-04"></span>
            </a>

            <a href="styles/font" class="styleguide-overview_item">
                <h4>Font</h4>
                <p class="styleguide-characters">
                    <span class="styleguide-character">A</span>
                    <span class="styleguide-character">B</span>
                    <span class="styleguide-character">C</span>
                    <span class="styleguide-character">Č</span>
                    <span class="styleguide-character">Ć</span>
                    <span class="styleguide-character">D</span>
                    <span class="styleguide-character">Đ</span>
                    <span class="styleguide-character">E</span>
                    <span class="styleguide-character">F</span>
                    <span class="styleguide-character">G</span>
                    <span class="styleguide-character">H</span>
                    <span class="styleguide-character">I</span>
                    <span class="styleguide-character">J</span>
                    <span class="styleguide-character">K</span>
                    <span class="styleguide-character">L</span>
                    <span class="styleguide-character">M</span>
                    <span class="styleguide-character">N</span>
                    <span class="styleguide-character">O</span>
                    <span class="styleguide-character">P</span>
                    <span class="styleguide-character">Q</span>
                    <span class="styleguide-character">R</span>
                    <span class="styleguide-character">S</span>
                    <span class="styleguide-character">Š</span>
                    <span class="styleguide-character">T</span>
                    <span class="styleguide-character">U</span>
                    <span class="styleguide-character">V</span>
                    <span class="styleguide-character">W</span>
                    <span class="styleguide-character">X</span>
                    <span class="styleguide-character">Y</span>
                    <span class="styleguide-character">Z</span>
                    <span class="styleguide-character">Ž</span>
                    <span class="styleguide-character">a</span>
                    <span class="styleguide-character">b</span>
                    <span class="styleguide-character">c</span>
                    <span class="styleguide-character">č</span>
                    <span class="styleguide-character">ć</span>
                    <span class="styleguide-character">d</span>
                    <span class="styleguide-character">đ</span>
                    <span class="styleguide-character">e</span>
                    <span class="styleguide-character">f</span>
                    <span class="styleguide-character">g</span>
                    <span class="styleguide-character">h</span>
                    <span class="styleguide-character">i</span>
                    <span class="styleguide-character">j</span>
                    <span class="styleguide-character">k</span>
                    <span class="styleguide-character">l</span>
                    <span class="styleguide-character">m</span>
                    <span class="styleguide-character">n</span>
                    <span class="styleguide-character">o</span>
                    <span class="styleguide-character">p</span>
                    <span class="styleguide-character">q</span>
                    <span class="styleguide-character">r</span>
                    <span class="styleguide-character">s</span>
                    <span class="styleguide-character">š</span>
                    <span class="styleguide-character">t</span>
                    <span class="styleguide-character">u</span>
                    <span class="styleguide-character">v</span>
                    <span class="styleguide-character">w</span>
                    <span class="styleguide-character">x</span>
                    <span class="styleguide-character">y</span>
                    <span class="styleguide-character">z</span>
                    <span class="styleguide-character">ž</span>
                    <span class="styleguide-character">А</span>
                </p>
            </a>

            <a href="styles/logo" class="styleguide-overview_item display-as-row">
                <h4>Logo</h4>
                <c-logo link="#" label="CALVI"></c-logo>
            </a>

            <a href="styles/tile-icons" class="styleguide-overview_item display-as-row">
                <h4>Tile-Icons</h4>
                <c-tile-icon is="packages" label="Call Now Transfer"></c-tile-icon>
            </a>

            <a href="styles/ui-icons" class="styleguide-overview_item display-as-row">
                <h4>UI-Icons</h4>
                <c-icon is="icon-arrow-left"></c-icon>
                <c-icon is="icon-clear"></c-icon>
                <c-icon is="icon-refresh"></c-icon>
                <c-icon is="icon-sort"></c-icon>
                <c-icon is="icon-tooltip"></c-icon>
            </a>

        </section>
    </article>
</section>
