// c-checkbox

.c-checkbox {

    // --- defaults: hidden checkbox remains accessible
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;

    // --- paddings
    padding-top: $c-checkbox-padding-top;
    padding-right: $c-checkbox-padding-right;
    padding-bottom: $c-checkbox-padding-bottom;
    padding-left: $c-checkbox-padding-left;

    // --- position
    z-index: $c-checkbox-position-zindex;


    // --- :variant: default checkbox
    &.is-checkbox {
        @extend %is-checkbox;

        &.list-item {
            @extend %checkbox-list-item;
        }
    }


    // --- :variant: switch
    &.is-switch {
        @extend %is-switch;

        &.list-item {
            @extend %switch-list-item;
        }
    }

}
