// c-checkbox checkbox-list-item

%checkbox-list-item {

    + label {

        // --- defaults
        position: relative;
        display: block;


        // --- margins
        margin-top: $c-checkbox-list-item-margin-top;
        margin-right: $c-checkbox-list-item-margin-right;
        margin-bottom: $c-checkbox-list-item-margin-bottom;
        margin-left: $c-checkbox-list-item-margin-left;


        // --- padding
        padding-top: ((($c-checkbox-list-item-box-height - $c-checkbox-list-item-font-size) / 2) + $c-checkbox-list-item-padding-top);
        padding-right: ($c-checkbox-list-item-text-indent + $c-checkbox-list-item-padding-right);
        padding-bottom: ((($c-checkbox-list-item-box-height - $c-checkbox-list-item-font-size) / 2) + $c-checkbox-list-item-padding-bottom);
        padding-left: ($c-checkbox-list-item-box-width + $c-checkbox-list-item-text-indent + $c-checkbox-list-item-padding-left);



        // --- text
        color: $c-checkbox-list-item-font-color;
        font-family: $c-checkbox-list-item-font-family;
        font-size: $c-checkbox-list-item-font-size;
        font-style: $c-checkbox-list-item-font-style;
        font-variant: $c-checkbox-list-item-font-variant;
        font-weight: $c-checkbox-list-item-font-weight;
        letter-spacing: $c-checkbox-list-item-letter-spacing;
        line-height: $c-checkbox-list-item-line-height;
        text-align: $c-checkbox-list-item-text-align;
        text-decoration: $c-checkbox-list-item-text-decoration;
        text-indent: 0;
        text-overflow: $c-checkbox-list-item-text-overflow;
        text-rendering: geometricPrecision;
        text-transform: $c-checkbox-list-item-text-transform;
        text-shadow: $c-checkbox-list-item-text-shadow;
        vertical-align: $c-checkbox-list-item-vertical-align;
        white-space: $c-checkbox-list-item-white-space;
        word-spacing: $c-checkbox-list-item-word-spacing;
        user-select: none;


        // --- transition
        will-change: $c-checkbox-list-item-label-transition-property;
        transition-delay: $c-checkbox-list-item-label-transition-delay;
        transition-duration: $c-checkbox-list-item-label-transition-duration;
        transition-property: $c-checkbox-list-item-label-transition-property;
        transition-timing-function: $c-checkbox-list-item-label-transition-timing-function;


        // --- element: background box
        &:before {
            content: '';

            // --- dimensions
            width: $c-checkbox-list-item-box-width;
            height: $c-checkbox-list-item-box-height;


            // --- position
            position: absolute;
            display: inline-block;
            left: (($c-checkbox-list-item-box-width / 2) + $c-checkbox-list-item-padding-left);
            top: (($c-checkbox-list-item-box-height / 2) + $c-checkbox-list-item-padding-top);
            transform: translate(-50%, -50%);


            // --- background
            background-color: $c-checkbox-list-item-box-background-color;
            background-image: $c-checkbox-list-item-box-background-image;
            background-position: $c-checkbox-list-item-box-background-position;
            background-size: $c-checkbox-list-item-box-background-size;
            background-repeat: $c-checkbox-list-item-box-background-repeat;
            background-origin: $c-checkbox-list-item-box-background-origin;
            background-clip: $c-checkbox-list-item-box-background-clip;
            background-attachment: $c-checkbox-list-item-box-background-attachment;


            // --- border top
            border-top-width: $c-checkbox-list-item-box-border-top-width;
            border-top-style: $c-checkbox-list-item-box-border-top-style;
            border-top-color: $c-checkbox-list-item-box-border-top-color;
            // --- border right
            border-right-width: $c-checkbox-list-item-box-border-right-width;
            border-right-style: $c-checkbox-list-item-box-border-right-style;
            border-right-color: $c-checkbox-list-item-box-border-right-color;
            // --- border bottom
            border-bottom-width: $c-checkbox-list-item-box-border-bottom-width;
            border-bottom-style: $c-checkbox-list-item-box-border-bottom-style;
            border-bottom-color: $c-checkbox-list-item-box-border-bottom-color;
            // --- border left
            border-left-width: $c-checkbox-list-item-box-border-left-width;
            border-left-style: $c-checkbox-list-item-box-border-left-style;
            border-left-color: $c-checkbox-list-item-box-border-left-color;
            // --- border radius
            border-top-left-radius: $c-checkbox-list-item-box-border-top-left-radius;
            border-top-right-radius: $c-checkbox-list-item-box-border-top-right-radius;
            border-bottom-left-radius: $c-checkbox-list-item-box-border-bottom-left-radius;
            border-bottom-right-radius: $c-checkbox-list-item-box-border-bottom-right-radius;


            // --- transition
            will-change: $c-checkbox-list-item-box-transition-property;
            transition-delay: $c-checkbox-list-item-box-transition-delay;
            transition-duration: $c-checkbox-list-item-box-transition-duration;
            transition-property: $c-checkbox-list-item-box-transition-property;
            transition-timing-function: $c-checkbox-list-item-box-transition-timing-function;
        }


        // --- check icon
        &:after {
            content: '';

            // --- position
            position: absolute;
            left: (($c-checkbox-list-item-box-width / 2) + $c-checkbox-list-item-padding-left);
            top: (($c-checkbox-list-item-box-height / 2) + $c-checkbox-list-item-padding-top);
            transform-origin: center center;
            transform: translate(-45%, -60%) rotate(45deg);


            // --- dimensions
            display: inline-block;
            width: 0.5rem;
            height: 0.8rem;


            // --- background
            background-color: $c-checkbox-list-item-icon-background-color;
            opacity: 0;


            // --- borders
            border-right: $c-checkbox-list-item-icon-border-width $c-checkbox-list-item-icon-border-style $c-checkbox-list-item-icon-border-color;
            border-bottom: $c-checkbox-list-item-icon-border-width $c-checkbox-list-item-icon-border-style $c-checkbox-list-item-icon-border-color;
            border-radius: 0;


            // --- transition
            will-change: $c-checkbox-list-item-icon-transition-property;
            transition-delay: $c-checkbox-list-item-icon-transition-delay;
            transition-duration: $c-checkbox-list-item-icon-transition-duration;
            transition-property: $c-checkbox-list-item-icon-transition-property;
            transition-timing-function: $c-checkbox-list-item-icon-transition-timing-function;
        }



        // --- state: hover
        &:hover {
            cursor: pointer;
            color: $c-checkbox-list-item-state-hover-font-color;
            background-color: $c-checkbox-list-item-state-hover-background-color;

            &:before {
                background-color: $c-checkbox-list-item-box-state-hover-background-color;
                border-color: $c-checkbox-list-item-box-state-hover-border-color;
            }
            &:after {
                background-color: $c-checkbox-list-item-icon-state-hover-background-color;
                border-color: $c-checkbox-list-item-icon-state-hover-border-color;
            }
        }
    }


    // --- state: focus
    &:focus + label,
    &.state-focus + label {
        color: $c-checkbox-list-item-state-hover-font-color;
        background-color: $c-checkbox-list-item-state-hover-background-color;
        outline: 0;

        &:before {
            background-color: $c-checkbox-list-item-box-state-hover-background-color;
            border-color: $c-checkbox-list-item-box-state-hover-border-color;
        }
        &:after {
            background-color: $c-checkbox-list-item-icon-state-hover-background-color;
            border-color: $c-checkbox-list-item-icon-state-hover-border-color;
        }
    }


    // --- state: checked
    &:checked {
        + label {
            color: $c-checkbox-list-item-state-checked-font-color;

            &:before {
                background-color: $c-checkbox-list-item-box-state-checked-background-color;
                border-color: $c-checkbox-list-item-box-state-checked-border-color;
            }
            &:after {
                opacity: 1;
                background-color: $c-checkbox-list-item-icon-state-checked-background-color;
                border-color: $c-checkbox-list-item-icon-state-checked-border-color;
            }

        }
        &:hover {
            + label {
                color: $c-checkbox-list-item-state-checked-hover-font-color;

                &:before {
                    background-color: $c-checkbox-list-item-box-state-checked-hover-background-color;
                    border-color: $c-checkbox-list-item-box-state-checked-hover-border-color;
                }
                &:after {
                    background-color: $c-checkbox-list-item-icon-state-checked-hover-background-color;
                    border-color: $c-checkbox-list-item-icon-state-checked-hover-border-color;
                }
            }
        }
        &:focus + label,
        &.state-focus + label {
            color: $c-checkbox-list-item-state-checked-hover-font-color;
        }
    }


    // --- state: disabled
    &:disabled + label {
        color: $c-checkbox-list-item-state-disabled-font-color;

        &:before {
            background-color: $c-checkbox-list-item-box-state-disabled-background-color;
            border-color: $c-checkbox-list-item-box-state-disabled-border-color;
        }
        &:after {
            background-color: $c-checkbox-list-item-icon-state-disabled-background-color;
            border-color: $c-checkbox-list-item-icon-state-disabled-border-color;
        }


        // --- state: disabled:hover
        &:hover {
            cursor: not-allowed;
            color: $c-checkbox-list-item-state-disabled-hover-font-color;

            &:before {
                background-color: $c-checkbox-list-item-box-state-disabled-background-color;
                border-color: $c-checkbox-list-item-box-state-disabled-border-color;
            }
            &:after {
                background-color: $c-checkbox-list-item-icon-state-disabled-background-color;
                border-color: $c-checkbox-list-item-icon-state-disabled-hover-border-color;
            }
        }
    }


    // --- state: disabled & checked
    &:disabled:checked + label {
        color: $c-checkbox-list-item-state-disabled-checked-font-color;

        &:before {
            background-color: $c-checkbox-list-item-box-state-disabled-checked-background-color;
            border-color: $c-checkbox-list-item-box-state-disabled-checked-border-color;
        }
        &:after {
            background-color: $c-checkbox-list-item-icon-state-disabled-checked-background-color;
            border-color: $c-checkbox-list-item-icon-state-disabled-checked-border-color;
        }


        // --- state: disabled:hover
        &:hover {
            cursor: not-allowed;
            color: $c-checkbox-list-item-state-disabled-checked-hover-font-color;

            &:before {
                background-color: $c-checkbox-list-item-box-state-disabled-checked-hover-background-color;
                border-color: $c-checkbox-list-item-box-state-disabled-checked-hover-border-color;
            }
            &:after {
                background-color: $c-checkbox-list-item-icon-state-disabled-checked-hover-background-color;
                border-color: $c-checkbox-list-item-icon-state-disabled-checked-hover-border-color;
            }
        }
    }
}
