<!-- Unordered List -->
<section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">List: <span>is:unordered</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <c-button is="button-ghost-icon" id="styleguide-grid-toggle" css="styleguide-toggle" task="grid-toggle"><span class="hidden-label">Toggle grid</span><c-icon is="icon-grid"></c-icon></c-button>


            <c-list is="unordered">
                <c-list-item>First item</c-list-item>
                <c-list-item>Second item</c-list-item>
                <c-list-item>
                    Third item
                    <c-list is="unordered">
                        <c-list-item>First subitem</c-list-item>
                        <c-list-item>Second subitem</c-list-item>
                    </c-list>
                </c-list-item>
                <c-list-item>Fourth item</c-list-item>
            </c-list>


        </section>
        <section class="styleguide-description fx-appear">
            <c-tabs css="styleguide-tabs">
                <c-tab id="styleguide-tab-01">Code</c-tab>
                <!-- <c-tab id="styleguide-tab-02">Usage</c-tab> -->
                <c-tab id="styleguide-tab-03">NPM</c-tab>
                <c-tab-panel id="styleguide-tab-01-panel">
                    <markdown [src]="'./assets/readme/lists/unordered/CODE.md'"></markdown>
                </c-tab-panel>
                <!-- <c-tab-panel id="styleguide-tab-02-panel">
                    <markdown [src]="'./assets/readme/lists/unordered/README.md'"></markdown>
                </c-tab-panel> -->
                <c-tab-panel id="styleguide-tab-03-panel">
                    <markdown [src]="'./assets/readme/lists/unordered/NPM.md'"></markdown>
                </c-tab-panel>
            </c-tabs>
        </section>
    </article>
</section>
