// c-icon

.c-tile-icon {

    width: 10rem;
    height: 10rem;

    svg {
        width: 10rem;
        height: 10rem;
    }
    // // -- defaults
    // display: inline-block;
    // position: relative;
    // width: $c-icon-width;
    // height: calc((#{$c-icon-height} / 2) - 1px); // correction
    // top: 1px; // correction
    // font-style: normal;
    // font-family: $font-monospace;
    // font-size: 0;
    // line-height: 0;


    // // --- margins
    // margin-top: $c-icon-margin-top;
    // margin-right: $c-icon-margin-right;
    // margin-bottom: $c-icon-margin-bottom;
    // margin-left: $c-icon-margin-left;

}
