// --- tile image


// --- borders
// top
$c-tile-image-border-top-width: 0px;
$c-tile-image-border-top-style: solid;
$c-tile-image-border-top-color: transparent;
// right
$c-tile-image-border-right-width: 0px;
$c-tile-image-border-right-style: solid;
$c-tile-image-border-right-color: transparent;
// bottom
$c-tile-image-border-bottom-width: 0px;
$c-tile-image-border-bottom-style: solid;
$c-tile-image-border-bottom-color: transparent;
// left
$c-tile-image-border-left-width: 0px;
$c-tile-image-border-left-style: solid;
$c-tile-image-border-left-color: transparent;
// radius
$c-tile-image-border-top-left-radius: 0;
$c-tile-image-border-top-right-radius: 0;
$c-tile-image-border-bottom-left-radius: 0;
$c-tile-image-border-bottom-right-radius: 0;


// -- display
$c-tile-image-display: inline-block;


// --- margins
$c-tile-image-margin-top: 0;
$c-tile-image-margin-right: 0;
$c-tile-image-margin-bottom: 0;
$c-tile-image-margin-left: 0;


// --- position
$c-tile-image-position: absolute;
$c-tile-image-position-top: 45%;
$c-tile-image-position-right: auto;
$c-tile-image-position-bottom: auto;
$c-tile-image-position-left: 50%;
$c-tile-image-position-zindex: auto;
$c-tile-image-transform: translate(-50%, -50%);


// --- sizing
$c-tile-image-width: auto;
$c-tile-image-min-width: initial;
$c-tile-image-max-width: 10rem;
$c-tile-image-height: auto;
$c-tile-image-min-height: initial;
$c-tile-image-max-height: 10rem;
