<!-- Font -->
 <section class="styleguide">
    <article>
        <h3 class="styleguide-title fx-appear">Font: <span>Styles</span></h3>
        <section class="styleguide-example fx-appear-from-bottom align-left">
            <p class="styleguide-characters">
                <span class="styleguide-character">A</span>
                <span class="styleguide-character">B</span>
                <span class="styleguide-character">C</span>
                <span class="styleguide-character">Č</span>
                <span class="styleguide-character">Ć</span>
                <span class="styleguide-character">D</span>
                <span class="styleguide-character">Đ</span>
                <span class="styleguide-character">E</span>
                <span class="styleguide-character">F</span>
                <span class="styleguide-character">G</span>
                <span class="styleguide-character">H</span>
                <span class="styleguide-character">I</span>
                <span class="styleguide-character">J</span>
                <span class="styleguide-character">K</span>
                <span class="styleguide-character">L</span>
                <span class="styleguide-character">M</span>
                <span class="styleguide-character">N</span>
                <span class="styleguide-character">O</span>
                <span class="styleguide-character">P</span>
                <span class="styleguide-character">Q</span>
                <span class="styleguide-character">R</span>
                <span class="styleguide-character">S</span>
                <span class="styleguide-character">Š</span>
                <span class="styleguide-character">T</span>
                <span class="styleguide-character">U</span>
                <span class="styleguide-character">V</span>
                <span class="styleguide-character">W</span>
                <span class="styleguide-character">X</span>
                <span class="styleguide-character">Y</span>
                <span class="styleguide-character">Z</span>
                <span class="styleguide-character">Ž</span>
                <span class="styleguide-character">a</span>
                <span class="styleguide-character">b</span>
                <span class="styleguide-character">c</span>
                <span class="styleguide-character">č</span>
                <span class="styleguide-character">ć</span>
                <span class="styleguide-character">d</span>
                <span class="styleguide-character">đ</span>
                <span class="styleguide-character">e</span>
                <span class="styleguide-character">f</span>
                <span class="styleguide-character">g</span>
                <span class="styleguide-character">h</span>
                <span class="styleguide-character">i</span>
                <span class="styleguide-character">j</span>
                <span class="styleguide-character">k</span>
                <span class="styleguide-character">l</span>
                <span class="styleguide-character">m</span>
                <span class="styleguide-character">n</span>
                <span class="styleguide-character">o</span>
                <span class="styleguide-character">p</span>
                <span class="styleguide-character">q</span>
                <span class="styleguide-character">r</span>
                <span class="styleguide-character">s</span>
                <span class="styleguide-character">š</span>
                <span class="styleguide-character">t</span>
                <span class="styleguide-character">u</span>
                <span class="styleguide-character">v</span>
                <span class="styleguide-character">w</span>
                <span class="styleguide-character">x</span>
                <span class="styleguide-character">y</span>
                <span class="styleguide-character">z</span>
                <span class="styleguide-character">ž</span>
                <span class="styleguide-character">А</span>
                <span class="styleguide-character">Б</span>
                <span class="styleguide-character">В</span>
                <span class="styleguide-character">Г</span>
                <span class="styleguide-character">Д</span>
                <span class="styleguide-character">Е</span>
                <span class="styleguide-character">Ё</span>
                <span class="styleguide-character">Ж</span>
                <span class="styleguide-character">З</span>
                <span class="styleguide-character">И</span>
                <span class="styleguide-character">Й</span>
                <span class="styleguide-character">К</span>
                <span class="styleguide-character">Л</span>
                <span class="styleguide-character">М</span>
                <span class="styleguide-character">Н</span>
                <span class="styleguide-character">О</span>
                <span class="styleguide-character">П</span>
                <span class="styleguide-character">Р</span>
                <span class="styleguide-character">С</span>
                <span class="styleguide-character">Т</span>
                <span class="styleguide-character">У</span>
                <span class="styleguide-character">Ф</span>
                <span class="styleguide-character">Х</span>
                <span class="styleguide-character">Ц</span>
                <span class="styleguide-character">Ч</span>
                <span class="styleguide-character">Ш</span>
                <span class="styleguide-character">Щ</span>
                <span class="styleguide-character">Ъ</span>
                <span class="styleguide-character">Ы</span>
                <span class="styleguide-character">Ь</span>
                <span class="styleguide-character">Э</span>
                <span class="styleguide-character">Ю</span>
                <span class="styleguide-character">Я</span>
                <span class="styleguide-character">а</span>
                <span class="styleguide-character">б</span>
                <span class="styleguide-character">в</span>
                <span class="styleguide-character">г</span>
                <span class="styleguide-character">д</span>
                <span class="styleguide-character">е</span>
                <span class="styleguide-character">ё</span>
                <span class="styleguide-character">ж</span>
                <span class="styleguide-character">з</span>
                <span class="styleguide-character">и</span>
                <span class="styleguide-character">й</span>
                <span class="styleguide-character">к</span>
                <span class="styleguide-character">л</span>
                <span class="styleguide-character">м</span>
                <span class="styleguide-character">н</span>
                <span class="styleguide-character">о</span>
                <span class="styleguide-character">п</span>
                <span class="styleguide-character">р</span>
                <span class="styleguide-character">с</span>
                <span class="styleguide-character">т</span>
                <span class="styleguide-character">у</span>
                <span class="styleguide-character">ф</span>
                <span class="styleguide-character">х</span>
                <span class="styleguide-character">ц</span>
                <span class="styleguide-character">ч</span>
                <span class="styleguide-character">ш</span>
                <span class="styleguide-character">щ</span>
                <span class="styleguide-character">ъ</span>
                <span class="styleguide-character">ы</span>
                <span class="styleguide-character">ь</span>
                <span class="styleguide-character">э</span>
                <span class="styleguide-character">ю</span>
                <span class="styleguide-character">я</span>
                <span class="styleguide-character">Ă</span>
                <span class="styleguide-character">Â</span>
                <span class="styleguide-character">Ê</span>
                <span class="styleguide-character">Ô</span>
                <span class="styleguide-character">Ơ</span>
                <span class="styleguide-character">Ư</span>
                <span class="styleguide-character">ă</span>
                <span class="styleguide-character">â</span>
                <span class="styleguide-character">ê</span>
                <span class="styleguide-character">ô</span>
                <span class="styleguide-character">ơ</span>
                <span class="styleguide-character">ư</span>
                <span class="styleguide-character">1</span>
                <span class="styleguide-character">2</span>
                <span class="styleguide-character">3</span>
                <span class="styleguide-character">4</span>
                <span class="styleguide-character">5</span>
                <span class="styleguide-character">6</span>
                <span class="styleguide-character">7</span>
                <span class="styleguide-character">8</span>
                <span class="styleguide-character">9</span>
                <span class="styleguide-character">0</span>
                <span class="styleguide-character">‘</span>
                <span class="styleguide-character">?</span>
                <span class="styleguide-character">’</span>
                <span class="styleguide-character">“</span>
                <span class="styleguide-character">!</span>
                <span class="styleguide-character">”</span>
                <span class="styleguide-character">(</span>
                <span class="styleguide-character">%</span>
                <span class="styleguide-character">)</span>
                <span class="styleguide-character">[</span>
                <span class="styleguide-character">#</span>
                <span class="styleguide-character">]</span>
                <span class="styleguide-character">&#123;</span>
                <span class="styleguide-character">@</span>
                <span class="styleguide-character">&#125;</span>
                <span class="styleguide-character">/</span>
                <span class="styleguide-character">&amp;</span>
                <span class="styleguide-character">\</span>
                <span class="styleguide-character">&lt;</span>
                <span class="styleguide-character">-</span>
                <span class="styleguide-character">+</span>
                <span class="styleguide-character">÷</span>
                <span class="styleguide-character">×</span>
                <span class="styleguide-character">=</span>
                <span class="styleguide-character">&gt;</span>
                <span class="styleguide-character">®</span>
                <span class="styleguide-character">©</span>
                <span class="styleguide-character">$</span>
                <span class="styleguide-character">€</span>
                <span class="styleguide-character">£</span>
                <span class="styleguide-character">¥</span>
                <span class="styleguide-character">¢</span>
                <span class="styleguide-character">:</span>
                <span class="styleguide-character">;</span>
                <span class="styleguide-character">,</span>
                <span class="styleguide-character">.</span>
                <span class="styleguide-character">*</span>
            </p>
        </section>
    </article>



    <!-- Example Paragraph -->
    <article>
        <section class="styleguide-example fx-appear-from-bottom align-left background-color-white">
            <h4 class="styleguide-subtitle">Font weights:</h4>
            <div>
                <div class="styleguide-characters styles">
                    <div style="font-weight: 100;">Thin</div>
                    <div style="font-weight: 100;font-style: italic;">Thin Italic</div>
                    <div style="font-weight: 200;">ExtraLight</div>
                    <div style="font-weight: 200;font-style: italic;">ExtraLight Italic</div>
                    <div style="font-weight: 300;">Light</div>
                    <div style="font-weight: 300;font-style: italic;">Light Italic</div>
                    <div style="font-weight: 400;">Regular</div>
                    <div style="font-weight: 400;font-style: italic;">Regular Italic</div>
                </div>
                <div class="styleguide-characters styles">
                    <div style="font-weight: 450;">Text</div>
                    <div style="font-weight: 450;font-style: italic;">Text Italic</div>
                    <div style="font-weight: 500;">Medium</div>
                    <div style="font-weight: 500;font-style: italic;">Medium Italic</div>
                    <div style="font-weight: 600;">SemiBold</div>
                    <div style="font-weight: 600;font-style: italic;">SemiBold Italic</div>
                    <div style="font-weight: 700;">Bold</div>
                    <div style="font-weight: 700;font-style: italic;">Bold Italic</div>
                </div>
            </div>


            <h4 class="styleguide-subtitle">Paragraph Example:</h4>
            <p class="styleguide-characters example is-intro-text">
                Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
            </p>
            <p class="styleguide-characters example">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <strong>standard dummy text ever since the 1500s</strong>, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p class="styleguide-characters example">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
        </section>
    </article>


    <c-divider css="styleguide-divider"></c-divider>
</section>
