// block-tile-group

.block-tile-group {

    // --- defaults
    box-sizing: border-box;


    // --- borders
    border-top-width: $block-tile-group-border-top-width;
    border-right-width: $block-tile-group-border-right-width;
    border-bottom-width: $block-tile-group-border-bottom-width;
    border-left-width: $block-tile-group-border-left-width;
    //
    border-top-style: $block-tile-group-border-top-style;
    border-right-style: $block-tile-group-border-right-style;
    border-bottom-style: $block-tile-group-border-bottom-style;
    border-left-style: $block-tile-group-border-left-style;
    //
    border-top-color: $block-tile-group-border-top-color;
    border-right-color: $block-tile-group-border-right-color;
    border-bottom-color: $block-tile-group-border-bottom-color;
    border-left-color: $block-tile-group-border-left-color;
    // border-radius
    border-top-left-radius: $block-tile-group-border-top-left-radius;
    border-top-right-radius: $block-tile-group-border-top-right-radius;
    border-bottom-left-radius: $block-tile-group-border-bottom-left-radius;
    border-bottom-right-radius: $block-tile-group-border-bottom-right-radius;


    // --- dimensions
    width: 100%;
    height: auto;


    // --- margins
    margin-top: $block-tile-group-margin-top;
    margin-right: $block-tile-group-margin-right;
    margin-bottom: $block-tile-group-margin-bottom;
    margin-left: $block-tile-group-margin-left;


    // --- paddings
    padding-top: $block-tile-group-padding-top;
    padding-right: $block-tile-group-padding-right;
    padding-bottom: $block-tile-group-padding-bottom;
    padding-left: $block-tile-group-padding-left;


    // --- position
    position: $block-tile-group-position;
    top: $block-tile-group-position-top;
    right: $block-tile-group-position-right;
    bottom: $block-tile-group-position-bottom;
    left: $block-tile-group-position-left;
    z-index: $block-tile-group-position-zindex;


    // -- shadow
    box-shadow: $block-tile-group-box-shadow;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 2rem;

    @include screen-tablet {
        grid-gap: 3rem;
    }

    @include screen-desktop {
        grid-gap: 3rem;
    }

    c-tile {
        position: relative;
        width: 100%;

        &:before {
            content: "";
            height: 0;
            display: inline-block;
            padding-top: 100%;
            width: 0;
            position: relative;
          }
    }

    .c-tile {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        min-height: initial;
        max-width: initial;
        margin: 0;

        &.is-dragging {
            animation-delay: 0;
        }
    }

    // FX classes
    @for $i from 1 through 30 {
        c-tile:nth-child(#{$i}) {
            .fx-appear,
            .fx-appear-from-bottom,
            .fx-appear-from-left,
            .fx-appear-from-right {
                animation-delay: calc(#{$i} * .05s);
            }
        }
    }
}
