// --- accordion-region


// -- box-shadow
$c-accordion-region-box-shadow: 0 0 0 transparent;


// --- background
$c-accordion-region-background-color: transparent;
$c-accordion-region-background-image: none;
$c-accordion-region-background-position: initial;
$c-accordion-region-background-size: initial;
$c-accordion-region-background-repeat: initial;
$c-accordion-region-background-origin: initial;
$c-accordion-region-background-clip: initial;
$c-accordion-region-background-attachment: initial;


// --- borders
// top
$c-accordion-region-border-top-width: 0;
$c-accordion-region-border-top-style: solid;
$c-accordion-region-border-top-color: transparent;
// right
$c-accordion-region-border-right-width: 0;
$c-accordion-region-border-right-style: solid;
$c-accordion-region-border-right-color: transparent;
// bottom
$c-accordion-region-border-bottom-width: 0;
$c-accordion-region-border-bottom-style: solid;
$c-accordion-region-border-bottom-color: transparent;
// left
$c-accordion-region-border-left-width: 0;
$c-accordion-region-border-left-style: solid;
$c-accordion-region-border-left-color: transparent;
// radius
$c-accordion-region-border-top-left-radius: 0;
$c-accordion-region-border-top-right-radius: 0;
$c-accordion-region-border-bottom-left-radius: 0;
$c-accordion-region-border-bottom-right-radius: 0;


// -- display
$c-accordion-region-display: block;


// --- margins
$c-accordion-region-margin-top: 0;
$c-accordion-region-margin-right: 0;
$c-accordion-region-margin-bottom: 0;
$c-accordion-region-margin-left: 0;


// --- outline
$c-accordion-region-outline1-color: transparent;
$c-accordion-region-outline2-color: transparent;
$c-accordion-region-outline1-width: 0;
$c-accordion-region-outline2-width: 0;
$c-accordion-region-outline: inset 0px 0px 0px $c-accordion-region-outline2-width $c-accordion-region-outline1-color,
                             inset 0px 0px 0px ($c-accordion-region-outline1-width + $c-accordion-region-outline2-width) $c-accordion-region-outline2-color;


// --- paddings
$c-accordion-region-padding-top: 0;
$c-accordion-region-padding-right: 2rem;
$c-accordion-region-padding-bottom: 1.5rem;
$c-accordion-region-padding-left: 4rem;


// --- position
$c-accordion-region-position: relative;
$c-accordion-region-position-top: auto;
$c-accordion-region-position-right: auto;
$c-accordion-region-position-bottom: auto;
$c-accordion-region-position-left: auto;
$c-accordion-region-position-zindex: auto;


// --- sizing
$c-accordion-region-width: 100%;
$c-accordion-region-min-width: initial;
$c-accordion-region-max-width: none;
$c-accordion-region-height: auto;
$c-accordion-region-min-height: initial;
$c-accordion-region-max-height: 1600px;


// transition
$c-accordion-region-transition-property: padding-top, padding-bottom, max-height;
