

// --- :variant:size-small
$c-button-size-small-font-size: 1rem;
//
$c-button-size-small-padding-top: 0.5rem;
$c-button-size-small-padding-right: 1rem;
$c-button-size-small-padding-bottom: 0.5rem;
$c-button-size-small-padding-left: 1rem;


// --- icon
$c-button-size-small-icon-margin: 0.5rem;

//
$c-button-icon-size-small-padding-top: calc(0.5rem - 1px);
$c-button-icon-size-small-padding-right: 0.5rem;
$c-button-icon-size-small-padding-bottom: calc(0.5rem - 1px);
$c-button-icon-size-small-padding-left: 0.5rem;
