// button-base


// -- display
$c-button-display: inline-block;


// --- margins
$c-button-margin-top: 0;
$c-button-margin-right: 0;
$c-button-margin-bottom: 0;
$c-button-margin-left: 0;


// --- outline
$c-button-outline-color: $color-brand-02;
$c-button-outline-width: 0.125rem;
$c-button-outline: 0px 0px 0px 0.125rem $color-white, 0px 0px 0px ($c-button-outline-width + 0.125rem) $c-button-outline-color;



// --- paddings
$c-button-padding-top: 1rem;
$c-button-padding-right: 1rem;
$c-button-padding-bottom: 1rem;
$c-button-padding-left: 1rem;


// --- position
$c-button-position: relative;
$c-button-position-top: auto;
$c-button-position-right: auto;
$c-button-position-bottom: auto;
$c-button-position-left: auto;
$c-button-position-zindex: auto;


// -- shadow
$c-button-box-shadow: 0px 0px 0px 0px transparent;


// --- sizing
$c-button-width: auto;
$c-button-min-width: 2rem;
$c-button-max-width: none;
$c-button-height: auto;
$c-button-min-height: initial;
$c-button-max-height: none;


// --- icon
$c-button-icon-margin: 0.5rem;
// icon button paddings
$c-button-icon-padding-top: 1rem;
$c-button-icon-padding-right: 0.5rem;
$c-button-icon-padding-bottom: 1rem;
$c-button-icon-padding-left: 0.5rem;
