// button-ghost


// --- background
$c-button-ghost-background-color: transparent;
$c-button-ghost-background-image: none;
$c-button-ghost-background-position: initial;
$c-button-ghost-background-size: initial;
$c-button-ghost-background-repeat: initial;
$c-button-ghost-background-origin: initial;
$c-button-ghost-background-clip: initial;
$c-button-ghost-background-attachment: initial;


// --- borders
// top
$c-button-ghost-border-top-width: 0.125rem;
$c-button-ghost-border-top-style: solid;
$c-button-ghost-border-top-color: transparent;
// right
$c-button-ghost-border-right-width: 0.125rem;
$c-button-ghost-border-right-style: solid;
$c-button-ghost-border-right-color: transparent;
// bottom
$c-button-ghost-border-bottom-width: 0.125rem;
$c-button-ghost-border-bottom-style: solid;
$c-button-ghost-border-bottom-color: transparent;
// left
$c-button-ghost-border-left-width: 0.125rem;
$c-button-ghost-border-left-style: solid;
$c-button-ghost-border-left-color: transparent;
// radius
$c-button-ghost-border-top-left-radius: 0.25rem; // use rem or 0;
$c-button-ghost-border-top-right-radius: 0.25rem; // use rem or 0;
$c-button-ghost-border-bottom-left-radius: 0.25rem; // use rem or 0;
$c-button-ghost-border-bottom-right-radius: 0.25rem; // use rem or 0;


// --- text
$c-button-ghost-font-family: $font-brand-regular;
$c-button-ghost-font-color: $color-brand-01;
$c-button-ghost-icon-color: $color-brand-01;
$c-button-ghost-font-size: $font-size-m; // use rem or 0;
$c-button-ghost-font-style: normal; // use normal|italic|oblique|initial|inherit;
$c-button-ghost-font-variant: normal; // use normal|small-caps|initial|inherit;
$c-button-ghost-font-weight: $font-weight-regular; // use normal|bold|bolder|lighter|number|initial|inherit;
$c-button-ghost-line-height: 1; // do not use px or whatever
$c-button-ghost-letter-spacing: 0; // use rem or 0
$c-button-ghost-text-align: initial; // use position or initial
$c-button-ghost-text-decoration: none;
$c-button-ghost-text-indent: initial; // use unit or initial
$c-button-ghost-text-overflow: initial; // use clip, ellipsis, initial
$c-button-ghost-text-transform: none;
$c-button-ghost-text-shadow: none;
$c-button-ghost-vertical-align: initial; // use baseline|length|sub|super|top|text-top|middle|bottom|text-bottom|initial|inherit;
$c-button-ghost-white-space: nowrap;  // use normal|nowrap|pre|pre-line|pre-wrap|initial|inherit;
$c-button-ghost-word-spacing: normal; // use normal or rem


// --- transforms
$c-button-ghost-transform: none;
$c-button-ghost-transform-origin: center center;
$c-button-ghost-transform-style: preserve-3d;


// --- transition
$c-button-ghost-transition-delay: 0;
$c-button-ghost-transition-duration: .1s;
$c-button-ghost-transition-property: color;
$c-button-ghost-transition-timing-function: $ease-in-quad;


// --- :state:active
$c-button-ghost-state-active-background-color: transparent;
//
$c-button-ghost-state-active-border-top-color: transparent;
$c-button-ghost-state-active-border-right-color: transparent;
$c-button-ghost-state-active-border-bottom-color: transparent;
$c-button-ghost-state-active-border-left-color: transparent;
//
$c-button-ghost-state-active-font-color: $color-brand-02;
//
$c-button-ghost-state-active-transform: none;


// --- :state:hover
$c-button-ghost-state-hover-background-color: transparent;
//
$c-button-ghost-state-hover-border-top-color: transparent;
$c-button-ghost-state-hover-border-right-color: transparent;
$c-button-ghost-state-hover-border-bottom-color: transparent;
$c-button-ghost-state-hover-border-left-color: transparent;
//
$c-button-ghost-state-hover-font-color: $color-brand-02;
//
$c-button-ghost-state-hover-transform: none;


// --- :state:disabled
$c-button-ghost-state-disabled-background-color: transparent;
//
$c-button-ghost-state-disabled-border-top-color: transparent;
$c-button-ghost-state-disabled-border-right-color: transparent;
$c-button-ghost-state-disabled-border-bottom-color: transparent;
$c-button-ghost-state-disabled-border-left-color: transparent;
//
$c-button-ghost-state-disabled-font-color: rgba($color-brand-01, 0.5);
