// button-primary


// --- background
$c-button-primary-background-color: $color-brand-01;
$c-button-primary-background-image: none;
$c-button-primary-background-position: initial;
$c-button-primary-background-size: initial;
$c-button-primary-background-repeat: initial;
$c-button-primary-background-origin: initial;
$c-button-primary-background-clip: initial;
$c-button-primary-background-attachment: initial;



// --- borders
// top
$c-button-primary-border-top-width: 0.125rem;
$c-button-primary-border-top-style: solid;
$c-button-primary-border-top-color: transparent;
// right
$c-button-primary-border-right-width: 0.125rem;
$c-button-primary-border-right-style: solid;
$c-button-primary-border-right-color: transparent;
// bottom
$c-button-primary-border-bottom-width: 0.125rem;
$c-button-primary-border-bottom-style: solid;
$c-button-primary-border-bottom-color: transparent;
// left
$c-button-primary-border-left-width: 0.125rem;
$c-button-primary-border-left-style: solid;
$c-button-primary-border-left-color: transparent;
// radius
$c-button-primary-border-top-left-radius: 0.25rem; // use rem or 0;
$c-button-primary-border-top-right-radius: 0.25rem; // use rem or 0;
$c-button-primary-border-bottom-left-radius: 0.25rem; // use rem or 0;
$c-button-primary-border-bottom-right-radius: 0.25rem; // use rem or 0;


// --- icon
$c-button-primary-icon-color: $color-text-04;



// --- text
$c-button-primary-font-family: $font-brand-regular;
$c-button-primary-font-color: $color-text-04;
$c-button-primary-font-size: $font-size-m; // use rem or 0;
$c-button-primary-font-style: normal; // use normal|italic|oblique|initial|inherit;
$c-button-primary-font-variant: normal; // use normal|small-caps|initial|inherit;
$c-button-primary-font-weight: $font-weight-regular; // use normal|bold|bolder|lighter|number|initial|inherit;
$c-button-primary-line-height: 1; // do not use px or whatever
$c-button-primary-letter-spacing: 0; // use rem or 0
$c-button-primary-text-align: center; // use position or initial
$c-button-primary-text-decoration: none;
$c-button-primary-text-indent: initial; // use unit or initial
$c-button-primary-text-overflow: initial; // use clip, ellipsis, initial
$c-button-primary-text-transform: none;
$c-button-primary-text-shadow: none;
$c-button-primary-vertical-align: initial; // use baseline|length|sub|super|top|text-top|middle|bottom|text-bottom|initial|inherit;
$c-button-primary-white-space: nowrap;  // use normal|nowrap|pre|pre-line|pre-wrap|initial|inherit;
$c-button-primary-word-spacing: normal; // use normal or rem



// --- transforms
$c-button-primary-transform: none;
$c-button-primary-transform-origin: center center;
$c-button-primary-transform-style: preserve-3d;



// --- transition
$c-button-primary-transition-delay: 0; // use 0 or seconds, eg. 0.5s
$c-button-primary-transition-duration: .1s; // use 0 or seconds, eg. 0.5s
$c-button-primary-transition-property: color, background-color;
$c-button-primary-transition-timing-function: $ease-in-quad;



// --- :state:active
$c-button-primary-state-active-background-color: $color-brand-02;
//
$c-button-primary-state-active-border-top-color: rgba($color-brand-01, 0);
$c-button-primary-state-active-border-right-color: rgba($color-brand-01, 0);
$c-button-primary-state-active-border-bottom-color: rgba($color-brand-01, 0);
$c-button-primary-state-active-border-left-color: rgba($color-brand-01, 0);
//
$c-button-primary-state-active-font-color: $color-text-04;
//
$c-button-primary-state-active-transform: none;



// --- :state:hover
$c-button-primary-state-hover-background-color: $color-brand-02;
//
$c-button-primary-state-hover-border-top-color: rgba($color-brand-01, 0);
$c-button-primary-state-hover-border-right-color: rgba($color-brand-01, 0);
$c-button-primary-state-hover-border-bottom-color: rgba($color-brand-01, 0);
$c-button-primary-state-hover-border-left-color: rgba($color-brand-01, 0);
//
$c-button-primary-state-hover-font-color: $color-text-04;
//
$c-button-primary-state-hover-transform: none;



// --- :state:disabled
$c-button-primary-state-disabled-background-color: rgba($color-brand-01, 0.5);
//
$c-button-primary-state-disabled-border-top-color: rgba($color-brand-01, 0);
$c-button-primary-state-disabled-border-right-color: rgba($color-brand-01, 0);
$c-button-primary-state-disabled-border-bottom-color: rgba($color-brand-01, 0);
$c-button-primary-state-disabled-border-left-color: rgba($color-brand-01, 0);
//
$c-button-primary-state-disabled-font-color: $color-text-04;
