// button-secondary


// --- background
$c-button-secondary-background-color: transparent;
$c-button-secondary-background-image: none;
$c-button-secondary-background-position: initial;
$c-button-secondary-background-size: initial;
$c-button-secondary-background-repeat: initial;
$c-button-secondary-background-origin: initial;
$c-button-secondary-background-clip: initial;
$c-button-secondary-background-attachment: initial;


// --- borders
// top
$c-button-secondary-border-top-width: 0.125rem;
$c-button-secondary-border-top-style: solid;
$c-button-secondary-border-top-color: $color-brand-01;
// right
$c-button-secondary-border-right-width: 0.125rem;
$c-button-secondary-border-right-style: solid;
$c-button-secondary-border-right-color: $color-brand-01;
// bottom
$c-button-secondary-border-bottom-width: 0.125rem;
$c-button-secondary-border-bottom-style: solid;
$c-button-secondary-border-bottom-color: $color-brand-01;
// left
$c-button-secondary-border-left-width: 0.125rem;
$c-button-secondary-border-left-style: solid;
$c-button-secondary-border-left-color: $color-brand-01;
// radius
$c-button-secondary-border-top-left-radius: 0.25rem; // use rem or 0;
$c-button-secondary-border-top-right-radius: 0.25rem; // use rem or 0;
$c-button-secondary-border-bottom-left-radius: 0.25rem; // use rem or 0;
$c-button-secondary-border-bottom-right-radius: 0.25rem; // use rem or 0;


// --- text
$c-button-secondary-font-family: $font-brand-regular;
$c-button-secondary-font-color: $color-brand-01;
$c-button-secondary-icon-color: $color-brand-01;
$c-button-secondary-font-size: $font-size-m; // use rem or 0;
$c-button-secondary-font-style: normal; // use normal|italic|oblique|initial|inherit;
$c-button-secondary-font-variant: normal; // use normal|small-caps|initial|inherit;
$c-button-secondary-font-weight: $font-weight-regular; // use normal|bold|bolder|lighter|number|initial|inherit;
$c-button-secondary-line-height: 1; // do not use px or whatever
$c-button-secondary-letter-spacing: 0; // use rem or 0
$c-button-secondary-text-align: initial; // use position or initial
$c-button-secondary-text-decoration: none;
$c-button-secondary-text-indent: initial; // use unit or initial
$c-button-secondary-text-overflow: initial; // use clip, ellipsis, initial
$c-button-secondary-text-transform: none;
$c-button-secondary-text-shadow: none;
$c-button-secondary-vertical-align: initial; // use baseline|length|sub|super|top|text-top|middle|bottom|text-bottom|initial|inherit;
$c-button-secondary-white-space: nowrap;  // use normal|nowrap|pre|pre-line|pre-wrap|initial|inherit;
$c-button-secondary-word-spacing: normal; // use normal or rem


// --- transforms
$c-button-secondary-transform: none;
$c-button-secondary-transform-origin: center center;
$c-button-secondary-transform-style: preserve-3d;


// --- transition
$c-button-secondary-transition-delay: 0;
$c-button-secondary-transition-duration: .1s;
$c-button-secondary-transition-property: color, background-color;
$c-button-secondary-transition-timing-function: $ease-in-quad;


// --- :state:active
$c-button-secondary-state-active-background-color: $color-brand-02;
//
$c-button-secondary-state-active-border-top-color: $color-brand-02;
$c-button-secondary-state-active-border-right-color: $color-brand-02;
$c-button-secondary-state-active-border-bottom-color: $color-brand-02;
$c-button-secondary-state-active-border-left-color: $color-brand-02;
//
$c-button-secondary-state-active-font-color: $color-text-04;
//
$c-button-secondary-state-active-transform: none;


// --- :state:hover
$c-button-secondary-state-hover-background-color: $color-brand-02;
//
$c-button-secondary-state-hover-border-top-color: $color-brand-02;
$c-button-secondary-state-hover-border-right-color: $color-brand-02;
$c-button-secondary-state-hover-border-bottom-color: $color-brand-02;
$c-button-secondary-state-hover-border-left-color: $color-brand-02;
//
$c-button-secondary-state-hover-font-color: $color-text-04;
//
$c-button-secondary-state-hover-transform: none;


// --- :state:disabled
$c-button-secondary-state-disabled-background-color: transparent;
//
$c-button-secondary-state-disabled-border-top-color: rgba($color-brand-01, 0.5);
$c-button-secondary-state-disabled-border-right-color: rgba($color-brand-01, 0.5);
$c-button-secondary-state-disabled-border-bottom-color: rgba($color-brand-01, 0.5);
$c-button-secondary-state-disabled-border-left-color: rgba($color-brand-01, 0.5);
//
$c-button-secondary-state-disabled-font-color: rgba($color-brand-01, 0.5);


// --- svg:state:active:hover
$c-button-secondary-state-active-svg-fill-color:  $color-ui-01;
