// radio default


// --- margins
$c-radio-margin-top: 0;
$c-radio-margin-right: 1rem;
$c-radio-margin-bottom: 1rem;
$c-radio-margin-left: 0;


// --- outline
$c-radio-outline-color: $color-brand-01;
$c-radio-outline-width: 2px;
$c-radio-outline: 0px 0px 0px 2px $color-white,
                     0px 0px 0px ($c-radio-outline-width + 2px) $c-radio-outline-color;


// --- paddings
$c-radio-padding-top: 0;
$c-radio-padding-right: 0;
$c-radio-padding-bottom: 0;
$c-radio-padding-left: 0;


// --- position
$c-radio-position-zindex: auto;



/* label */


// --- element: label | text
$c-radio-font-family: $font-brand-regular;
$c-radio-font-color: $color-text-01;
$c-radio-icon-color: $color-text-04;
$c-radio-font-size: $font-size-m;
$c-radio-font-style: normal;
$c-radio-font-variant: normal;
$c-radio-font-weight: $font-weight-regular;
$c-radio-line-height: 1;
$c-radio-letter-spacing: 0;
$c-radio-text-align: left;
$c-radio-text-decoration: none;
$c-radio-text-indent: 1rem;
$c-radio-text-overflow: initial;
$c-radio-text-transform: none;
$c-radio-text-shadow: none;
$c-radio-vertical-align: initial;
$c-radio-white-space: normal;
$c-radio-word-spacing: normal;


// --- element: label | transition
$c-radio-label-transition-delay: 0;
$c-radio-label-transition-duration: .15s;
$c-radio-label-transition-property: color;
$c-radio-label-transition-timing-function: $ease-in-quad;


// --- :state:hover - element: label
$c-radio-state-hover-font-color: darken($color-text-01, 10%);


// --- :state:checked - element: label
$c-radio-state-checked-font-color: darken($color-text-01, 10%);


// --- :state:checked:hover - element: label
$c-radio-state-checked-hover-font-color: darken($color-text-01, 10%);


// --- :state:disabled - element: label
$c-radio-state-disabled-font-color: rgba($color-text-01, 0.5);


// --- :state:disabled:checked - element: label
$c-radio-state-disabled-checked-font-color: rgba($color-text-01, 0.5);


// --- :state:disabled:checked:hover - element: label
$c-radio-state-disabled-checked-hover-font-color: rgba($color-text-01, 0.5);



/* background-box */


// --- element background-box | background
$c-radio-box-background-color: $color-ui-01;
$c-radio-box-background-image: none;
$c-radio-box-background-position: initial;
$c-radio-box-background-size: initial;
$c-radio-box-background-repeat: initial;
$c-radio-box-background-origin: initial;
$c-radio-box-background-clip: initial;
$c-radio-box-background-attachment: initial;


// --- element background-box | border top
$c-radio-box-border-top-width: 2px;
$c-radio-box-border-top-style: solid;
$c-radio-box-border-top-color: $color-ui-03;
// --- element background-box | border right
$c-radio-box-border-right-width: 2px;
$c-radio-box-border-right-style: solid;
$c-radio-box-border-right-color: $color-ui-03;
// --- element background-box | border bottom
$c-radio-box-border-bottom-width: 2px;
$c-radio-box-border-bottom-style: solid;
$c-radio-box-border-bottom-color: $color-ui-03;
// --- element background-box | border left
$c-radio-box-border-left-width: 2px;
$c-radio-box-border-left-style: solid;
$c-radio-box-border-left-color: $color-ui-03;
// --- element background-box | order radius
$c-radio-box-border-top-left-radius: 50%;
$c-radio-box-border-top-right-radius: 50%;
$c-radio-box-border-bottom-left-radius: 50%;
$c-radio-box-border-bottom-right-radius: 50%;


// --- element background-box | dimensions
$c-radio-box-width: 1.5rem;
$c-radio-box-height: 1.5rem;


// --- element background-box | transition
$c-radio-box-transition-delay: 0;
$c-radio-box-transition-duration: .15s;
$c-radio-box-transition-property: background-color, border-color;
$c-radio-box-transition-timing-function: $ease-in-quad;


// --- :state:hover - element background-box
$c-radio-box-state-hover-background-color: $color-ui-04;
$c-radio-box-state-hover-border-color: $color-ui-03;


// --- :state:checked - element background-box
$c-radio-box-state-checked-background-color: $color-ui-01;
$c-radio-box-state-checked-border-color: $color-ui-03;


// --- :state:checked:hover - element background-box
$c-radio-box-state-checked-hover-background-color: $color-ui-04;
$c-radio-box-state-checked-hover-border-color: $color-ui-03;


// --- : state:disabled - element background-box
$c-radio-box-state-disabled-background-color: rgba($color-ui-01, 0.5);
$c-radio-box-state-disabled-border-color: rgba($color-ui-03, 0.5);


// --- : state:disabled:checked - element background-box
$c-radio-box-state-disabled-checked-background-color: rgba($color-ui-01, 0.5);
$c-radio-box-state-disabled-checked-border-color: rgba($color-ui-03, 0.5);


// --- : state:disabled:checked:hover - element background-box
$c-radio-box-state-disabled-checked-hover-background-color: rgba($color-ui-01, 0.5);
$c-radio-box-state-disabled-checked-hover-border-color: rgba($color-ui-03, 0.5);



/* icon */


// --- element: icon | background
$c-radio-icon-background-color: $color-brand-01;


// --- element: icon | border
$c-radio-icon-border-width: 0;
$c-radio-icon-border-style: solid;
$c-radio-icon-border-color: transparent;


// --- element: icon | dimensions
$c-radio-icon-width: 1rem;
$c-radio-icon-height: 1rem;


// --- element: icon | transition
$c-radio-icon-transition-delay: 0;
$c-radio-icon-transition-duration: .15s;
$c-radio-icon-transition-property: opacity, transform;
$c-radio-icon-transition-timing-function: $ease-in-quad;


// --- :state:hover - element icon
$c-radio-icon-state-hover-background-color: transparent;
$c-radio-icon-state-hover-border-color: transparent;


// --- :state:checked - element icon
$c-radio-icon-state-checked-background-color: $color-brand-01;
$c-radio-icon-state-checked-border-color: transparent;


// --- :state:checked:hover - element icon
$c-radio-icon-state-checked-hover-background-color: $color-brand-02;
$c-radio-icon-state-checked-hover-border-color: transparent;


// --- : state:disabled - element icon
$c-radio-icon-state-disabled-background-color: transparent;
$c-radio-icon-state-disabled-border-color: transparent;

// --- : state:disabled:hover - element icon
$c-radio-icon-state-disabled-hover-background-color: transparent;
$c-radio-icon-state-disabled-hover-border-color: transparent;


// --- : state:disabled:checked - element icon
$c-radio-icon-state-disabled-checked-background-color: rgba($color-brand-01, 0.5);
$c-radio-icon-state-disabled-checked-border-color: transparent;


// --- : state:disabled:checked:hover - element icon
$c-radio-icon-state-disabled-checked-hover-background-color: rgba($color-brand-01, 0.5);
$c-radio-icon-state-disabled-checked-hover-border-color: transparent;
