// c-fieldset

.c-fieldset {

    // --- background
    background-color: $c-fieldset-background-color;
    background-image: $c-fieldset-background-image;
    background-position: $c-fieldset-background-position;
    background-size: $c-fieldset-background-size;
    background-repeat: $c-fieldset-background-repeat;
    background-origin: $c-fieldset-background-origin;
    background-clip: $c-fieldset-background-clip;
    background-attachment: $c-fieldset-background-attachment;

    // --- borders
    border-top-width: $c-fieldset-border-top-width;
    border-right-width: $c-fieldset-border-right-width;
    border-bottom-width: $c-fieldset-border-bottom-width;
    border-left-width: $c-fieldset-border-left-width;
    border-top-style: $c-fieldset-border-top-style;
    border-right-style: $c-fieldset-border-right-style;
    border-bottom-style: $c-fieldset-border-bottom-style;
    border-left-style: $c-fieldset-border-left-style;
    border-top-color: $c-fieldset-border-top-color;
    border-right-color: $c-fieldset-border-right-color;
    border-bottom-color: $c-fieldset-border-bottom-color;
    border-left-color: $c-fieldset-border-left-color;
    border-top-left-radius: $c-fieldset-border-top-left-radius;
    border-top-right-radius: $c-fieldset-border-top-right-radius;
    border-bottom-left-radius: $c-fieldset-border-bottom-left-radius;
    border-bottom-right-radius: $c-fieldset-border-bottom-right-radius;

    // --- margins
    margin-top: $c-fieldset-margin-top;
    margin-right: $c-fieldset-margin-right;
    margin-bottom: $c-fieldset-margin-bottom;
    margin-left: $c-fieldset-margin-left;

    // --- paddings
    padding-top: $c-fieldset-padding-top;
    padding-right: $c-fieldset-padding-right;
    padding-bottom: $c-fieldset-padding-bottom;
    padding-left: $c-fieldset-padding-left;
}
