// c-fieldset.legend

.c-fieldset-legend {

    // --- background
    background-color: $c-fieldset-legend-background-color;
    background-image: $c-fieldset-legend-background-image;
    background-position: $c-fieldset-legend-background-position;
    background-size: $c-fieldset-legend-background-size;
    background-repeat: $c-fieldset-legend-background-repeat;
    background-origin: $c-fieldset-legend-background-origin;
    background-clip: $c-fieldset-legend-background-clip;
    background-attachment: $c-fieldset-legend-background-attachment;

    // --- borders
    border-top-width: $c-fieldset-legend-border-top-width;
    border-right-width: $c-fieldset-legend-border-right-width;
    border-bottom-width: $c-fieldset-legend-border-bottom-width;
    border-left-width: $c-fieldset-legend-border-left-width;
    border-top-style: $c-fieldset-legend-border-top-style;
    border-right-style: $c-fieldset-legend-border-right-style;
    border-bottom-style: $c-fieldset-legend-border-bottom-style;
    border-left-style: $c-fieldset-legend-border-left-style;
    border-top-color: $c-fieldset-legend-border-top-color;
    border-right-color: $c-fieldset-legend-border-right-color;
    border-bottom-color: $c-fieldset-legend-border-bottom-color;
    border-left-color: $c-fieldset-legend-border-left-color;
    border-top-left-radius: $c-fieldset-legend-border-top-left-radius;
    border-top-right-radius: $c-fieldset-legend-border-top-right-radius;
    border-bottom-left-radius: $c-fieldset-legend-border-bottom-left-radius;
    border-bottom-right-radius: $c-fieldset-legend-border-bottom-right-radius;

    // --- margins
    margin-top: $c-fieldset-legend-margin-top;
    margin-right: $c-fieldset-legend-margin-right;
    margin-bottom: $c-fieldset-legend-margin-bottom;
    margin-left: $c-fieldset-legend-margin-left;

    // --- paddings
    padding-top: $c-fieldset-legend-padding-top;
    padding-right: $c-fieldset-legend-padding-right;
    padding-bottom: $c-fieldset-legend-padding-bottom;
    padding-left: $c-fieldset-legend-padding-left;

    // --- text
    color: $c-fieldset-legend-font-color;
    font-family: $c-fieldset-legend-font-family;
    font-size: $c-fieldset-legend-font-size;
    font-style: $c-fieldset-legend-font-style;
    font-variant: $c-fieldset-legend-font-variant;
    font-weight: $c-fieldset-legend-font-weight;
    letter-spacing: $c-fieldset-legend-letter-spacing;
    line-height: $c-fieldset-legend-line-height;
    text-align: $c-fieldset-legend-text-align;
    text-decoration: $c-fieldset-legend-text-decoration;
    text-indent: $c-fieldset-legend-text-indent;
    text-overflow: $c-fieldset-legend-text-overflow;
    text-rendering: geometricPrecision;
    text-transform: $c-fieldset-legend-text-transform;
    text-shadow: $c-fieldset-legend-text-shadow;
    vertical-align: $c-fieldset-legend-vertical-align;
    white-space: $c-fieldset-legend-white-space;
    word-spacing: $c-fieldset-legend-word-spacing;
    user-select: none;
}
